@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-timezone-option-theme($theme) {
    $timezone: map.get(map.get($theme, components), timezone);

    .kbq-timezone-option__offset,
    .kbq-timezone-option__city {
        color: map.get($timezone, text);
    }

    .kbq-timezone-option__cities {
        color: map.get($timezone, caption);
    }

    .kbq-timezone-select__panel.kbq-select__panel .kbq-optgroup-label {
        color: map.get($timezone, optgroup-label);
    }
}

@mixin kbq-timezone-option-typography($config) {
    .kbq-timezone-option__offset {
        @include kbq-typography-css-variables(timezone-option, offset-text);
    }

    .kbq-timezone-option__city {
        @include kbq-typography-css-variables(timezone-option, text);
    }

    .kbq-timezone-option__cities {
        @include kbq-typography-css-variables(timezone-option, caption);
    }

    .kbq-timezone-select__panel.kbq-select__panel .kbq-optgroup-label {
        @include kbq-typography-css-variables(timezone-option, optgroup-label);
    }
}
