@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';

$tokens: meta.module-variables(tokens) !default;

.kbq-timezone-select__panel.kbq-select__panel {
    .kbq-optgroup-label {
        display: block;
        padding: map.get($tokens, timezone-option-size-optgroup-label-padding);
    }
}
