@use '../list/list-tokens';

.kbq-timezone-select__panel {
    --kbq-select-size-single-padding-left: var(--kbq-size-m);
    --kbq-select-size-single-padding-right: var(--kbq-size-xxs);
    --kbq-select-size-single-padding-vertical: var(--kbq-size-xs);
    --kbq-select-size-single-content-gap: var(--kbq-size-xxs);
    --kbq-select-size-multiple-padding-left: var(--kbq-size-xxs);
    --kbq-select-size-multiple-padding-right: var(--kbq-size-xxs);
    --kbq-select-size-multiple-content-gap: var(--kbq-size-xxs);
    --kbq-timezone-option-size-padding: 6px 10px;
    --kbq-timezone-option-size-column-gap: 16px;
    --kbq-timezone-option-size-height: auto;
    --kbq-timezone-option-size-max-height: 5em;
    --kbq-timezone-option-size-optgroup-label-padding: 12px 12px 4px 12px;
    /* THEME TOKENS */
    --kbq-select-panel-dropdown-background: var(--kbq-background-card);
    --kbq-select-panel-dropdown-shadow: var(--kbq-shadow-popup);
    --kbq-timezone-option-text: var(--kbq-foreground-contrast);
    --kbq-timezone-option-caption: var(--kbq-foreground-contrast-secondary);
    --kbq-timezone-option-optgroup-label: var(--kbq-foreground-contrast-secondary);
    /* LIST THEME TOKENS */
    @include list-tokens.list-theme-tokens;
}
