@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;

@mixin kbq-dl-theme($theme) {
    $dl: map.get(map.get($theme, components), dl);

    .kbq-dt {
        color: kbq-css-variable(dl-dt, map.get($dl, dt));
    }

    .kbq-dd {
        color: kbq-css-variable(dl-dd, map.get($dl, dd));
    }
}

@mixin kbq-dl-typography($config) {
    .kbq-dl {
        & .kbq-dt {
            @include kbq-typography-css-variables(description-list, term);
        }

        & .kbq-dd {
            @include kbq-typography-css-variables(description-list, description);
        }
    }
}
