@use 'sass:map';

@use '../../styles/common/tokens' as *;

@mixin kbq-pseudo-checkbox-color($style-name) {
    $base: checkbox-#{$style-name};

    border-color: kbq-css-variable(#{$base}-default-border);
    background: kbq-css-variable(#{$base}-default-background);

    & .kbq-checkbox-checkmark,
    & .kbq-checkbox-mixedmark {
        color: kbq-css-variable(#{$base}-default-color);
    }

    &.kbq-checked,
    &.kbq-indeterminate {
        border-color: kbq-css-variable(#{$base}-states-checked-border);
        background: kbq-css-variable(#{$base}-states-checked-background);
    }

    &.kbq-disabled {
        & .kbq-checkbox-checkmark,
        & .kbq-checkbox-mixedmark {
            color: kbq-css-variable(#{$base}-states-disabled-color);
        }

        border-color: kbq-css-variable(#{$base}-states-disabled-border);
        background: kbq-css-variable(#{$base}-states-disabled-background);
    }
}

@mixin kbq-pseudo-checkbox-theme() {
    .kbq-pseudo-checkbox {
        @include kbq-pseudo-checkbox-color(theme);

        &.kbq-error {
            @include kbq-pseudo-checkbox-color(error);
        }
    }
}
