@use 'sass:meta';
@use 'sass:map';

@use '../../styles/tokens';
@use '../../styles/common/tokens' as *;


$tokens: meta.module-variables(tokens) !default;

.kbq-pseudo-checkbox {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;

    align-items: center;
    justify-content: center;

    width: kbq-css-variable(checkbox-size-normal-width);
    height: kbq-css-variable(checkbox-size-normal-width);

    border: {
        radius: kbq-css-variable(checkbox-size-normal-border-radius);
        width: kbq-css-variable(checkbox-size-normal-border-width);
        style: solid;
    }

    cursor: pointer;

    vertical-align: middle;
    flex-shrink: 0;

    & .kbq-checkbox-checkmark,
    & .kbq-checkbox-mixedmark {
        display: none;
    }

    &.kbq-pseudo-checkbox-checked,
    &.kbq-pseudo-checkbox-indeterminate {
        border-color: transparent;
    }

    &.kbq-checked {
        .kbq-checkbox-checkmark {
            display: inline-block;
        }
    }

    &.kbq-indeterminate {
        .kbq-checkbox-mixedmark {
            display: inline-block;
        }
    }

    &.kbq-disabled {
        cursor: default;
    }
}

.kbq-pseudo-checkbox.kbq-pseudo-checkbox_big {
    width: kbq-css-variable(checkbox-size-big-width);
    height: kbq-css-variable(checkbox-size-big-width);

    border: {
        radius: kbq-css-variable(checkbox-size-big-border-radius);
        width: kbq-css-variable(checkbox-size-big-border-width);
    }
}
