.kbq-pseudo-checkbox {
    --kbq-checkbox-size-normal-width: 16px;
    --kbq-checkbox-size-normal-border-width: 1px;
    --kbq-checkbox-size-normal-border-radius: 4px;
    --kbq-checkbox-size-normal-horizontal-content-padding: 8px;
    --kbq-checkbox-size-normal-vertical-content-padding: 2px;
    --kbq-checkbox-size-normal-top: 2px;
    --kbq-checkbox-size-big-width: 16px;
    --kbq-checkbox-size-big-border-width: 1px;
    --kbq-checkbox-size-big-border-radius: 4px;
    --kbq-checkbox-size-big-horizontal-content-padding: 8px;
    --kbq-checkbox-size-big-vertical-content-padding: 2px;
    --kbq-checkbox-size-big-top: 4px;
    --kbq-checkbox-font-normal-label-font-size: 14px;
    --kbq-checkbox-font-normal-label-line-height: 20px;
    --kbq-checkbox-font-normal-label-letter-spacing: -0.006em;
    --kbq-checkbox-font-normal-label-font-weight: normal;
    --kbq-checkbox-font-normal-label-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
    --kbq-checkbox-font-normal-label-text-transform: null;
    --kbq-checkbox-font-normal-label-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-checkbox-font-normal-caption-font-size: 12px;
    --kbq-checkbox-font-normal-caption-line-height: 16px;
    --kbq-checkbox-font-normal-caption-letter-spacing: normal;
    --kbq-checkbox-font-normal-caption-font-weight: normal;
    --kbq-checkbox-font-normal-caption-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue', Arial, sans-serif;
    --kbq-checkbox-font-normal-caption-text-transform: null;
    --kbq-checkbox-font-normal-caption-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-checkbox-font-big-label-font-size: 16px;
    --kbq-checkbox-font-big-label-line-height: 24px;
    --kbq-checkbox-font-big-label-letter-spacing: -0.011em;
    --kbq-checkbox-font-big-label-font-weight: normal;
    --kbq-checkbox-font-big-label-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
    --kbq-checkbox-font-big-label-text-transform: null;
    --kbq-checkbox-font-big-label-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-checkbox-font-big-caption-font-size: 14px;
    --kbq-checkbox-font-big-caption-line-height: 20px;
    --kbq-checkbox-font-big-caption-letter-spacing: -0.006em;
    --kbq-checkbox-font-big-caption-font-weight: normal;
    --kbq-checkbox-font-big-caption-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
    --kbq-checkbox-font-big-caption-text-transform: null;
    --kbq-checkbox-font-big-caption-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-checkbox-theme-default-border: hsla(229, 15%, 80%, 100%);
    --kbq-checkbox-theme-default-color: hsla(0, 0%, 100%, 100%);
    --kbq-checkbox-theme-default-text: hsla(229, 15%, 15%, 100%);
    --kbq-checkbox-theme-default-background: hsla(0, 0%, 100%, 100%);
    --kbq-checkbox-theme-default-caption: hsla(229, 15%, 50%, 100%);
    --kbq-checkbox-theme-states-hover-border: hsla(229, 15%, 80%, 100%);
    --kbq-checkbox-theme-states-hover-background: hsla(229, 15%, 50%, 8%);
    --kbq-checkbox-theme-states-checked-border: transparent;
    --kbq-checkbox-theme-states-checked-background: hsla(216, 100%, 50%, 100%);
    --kbq-checkbox-theme-states-checked-hover-border: transparent;
    --kbq-checkbox-theme-states-checked-hover-background: hsla(216, 100%, 45%, 100%);
    --kbq-checkbox-theme-states-focused-border: hsla(216, 100%, 60%, 100%);
    --kbq-checkbox-theme-states-focused-background: hsla(0, 0%, 100%, 100%);
    --kbq-checkbox-theme-states-focused-outline: 1px solid hsla(216, 100%, 60%, 100%);
    --kbq-checkbox-theme-states-checked-focused-border: hsla(216, 100%, 60%, 100%);
    --kbq-checkbox-theme-states-checked-focused-background: hsla(216, 100%, 50%, 100%);
    --kbq-checkbox-theme-states-checked-focused-outline: 1px solid hsla(216, 100%, 60%, 100%);
    --kbq-checkbox-theme-states-disabled-border: hsla(229, 15%, 80%, 100%);
    --kbq-checkbox-theme-states-disabled-color: hsla(229, 15%, 15%, 32%);
    --kbq-checkbox-theme-states-disabled-text: hsla(229, 15%, 15%, 32%);
    --kbq-checkbox-theme-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-checkbox-theme-states-disabled-caption: hsla(229, 15%, 15%, 32%);
    --kbq-checkbox-error-default-border: hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-default-color: hsla(0, 0%, 100%, 100%);
    --kbq-checkbox-error-default-text: hsla(229, 15%, 15%, 100%);
    --kbq-checkbox-error-default-background: hsla(7, 97%, 99%, 100%);
    --kbq-checkbox-error-default-caption: hsla(229, 15%, 50%, 100%);
    --kbq-checkbox-error-states-hover-border: hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-states-hover-background: hsla(7, 97%, 92%, 100%);
    --kbq-checkbox-error-states-checked-border: transparent;
    --kbq-checkbox-error-states-checked-background: hsla(7, 97%, 60%, 100%);
    --kbq-checkbox-error-states-checked-hover-border: transparent;
    --kbq-checkbox-error-states-checked-hover-background: hsla(7, 97%, 56%, 100%);
    --kbq-checkbox-error-states-focused-border: hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-states-focused-background: hsla(7, 97%, 99%, 100%);
    --kbq-checkbox-error-states-focused-outline: 1px solid hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-states-checked-focused-border: hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-states-checked-focused-background: hsla(7, 97%, 60%, 100%);
    --kbq-checkbox-error-states-checked-focused-outline: 1px solid hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-states-disabled-border: hsla(229, 15%, 80%, 100%);
    --kbq-checkbox-error-states-disabled-color: hsla(229, 15%, 15%, 32%);
    --kbq-checkbox-error-states-disabled-text: hsla(229, 15%, 15%, 32%);
    --kbq-checkbox-error-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-checkbox-error-states-disabled-caption: hsla(229, 15%, 15%, 32%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-checkbox-theme-default-border: hsla(229, 15%, 30%, 100%);
    --kbq-checkbox-theme-default-color: hsla(0, 0%, 100%, 100%);
    --kbq-checkbox-theme-default-text: hsla(229, 15%, 80%, 100%);
    --kbq-checkbox-theme-default-background: hsla(229, 15%, 12%, 100%);
    --kbq-checkbox-theme-default-caption: hsla(229, 15%, 60%, 100%);
    --kbq-checkbox-theme-states-hover-border: hsla(229, 15%, 30%, 100%);
    --kbq-checkbox-theme-states-hover-background: hsla(229, 15%, 50%, 16%);
    --kbq-checkbox-theme-states-checked-border: transparent;
    --kbq-checkbox-theme-states-checked-background: hsla(216, 100%, 50%, 100%);
    --kbq-checkbox-theme-states-checked-hover-border: transparent;
    --kbq-checkbox-theme-states-checked-hover-background: hsla(216, 100%, 45%, 100%);
    --kbq-checkbox-theme-states-focused-border: hsla(216, 100%, 60%, 100%);
    --kbq-checkbox-theme-states-focused-background: hsla(229, 15%, 12%, 100%);
    --kbq-checkbox-theme-states-focused-outline: 1px solid hsla(216, 100%, 60%, 100%);
    --kbq-checkbox-theme-states-checked-focused-border: hsla(216, 100%, 60%, 100%);
    --kbq-checkbox-theme-states-checked-focused-background: hsla(216, 100%, 50%, 100%);
    --kbq-checkbox-theme-states-checked-focused-outline: 1px solid hsla(216, 100%, 60%, 100%);
    --kbq-checkbox-theme-states-disabled-border: hsla(229, 15%, 30%, 100%);
    --kbq-checkbox-theme-states-disabled-color: hsla(229, 15%, 30%, 100%);
    --kbq-checkbox-theme-states-disabled-text: hsla(229, 15%, 40%, 100%);
    --kbq-checkbox-theme-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-checkbox-theme-states-disabled-caption: hsla(229, 15%, 30%, 100%);
    --kbq-checkbox-error-default-border: hsla(7, 97%, 35%, 100%);
    --kbq-checkbox-error-default-color: hsla(0, 0%, 100%, 100%);
    --kbq-checkbox-error-default-text: hsla(229, 15%, 80%, 100%);
    --kbq-checkbox-error-default-background: hsla(7, 97%, 6%, 100%);
    --kbq-checkbox-error-default-caption: hsla(229, 15%, 60%, 100%);
    --kbq-checkbox-error-states-hover-border: hsla(7, 97%, 35%, 100%);
    --kbq-checkbox-error-states-hover-background: hsla(7, 97%, 13%, 100%);
    --kbq-checkbox-error-states-checked-border: transparent;
    --kbq-checkbox-error-states-checked-background: hsla(7, 97%, 41%, 100%);
    --kbq-checkbox-error-states-checked-hover-border: transparent;
    --kbq-checkbox-error-states-checked-hover-background: hsla(7, 97%, 42%, 100%);
    --kbq-checkbox-error-states-focused-border: hsla(7, 97%, 35%, 100%);
    --kbq-checkbox-error-states-focused-background: hsla(7, 97%, 6%, 100%);
    --kbq-checkbox-error-states-focused-outline: 1px solid hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-states-checked-focused-border: hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-states-checked-focused-background: hsla(7, 97%, 41%, 100%);
    --kbq-checkbox-error-states-checked-focused-outline: 1px solid hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-states-disabled-border: hsla(229, 15%, 30%, 100%);
    --kbq-checkbox-error-states-disabled-color: hsla(229, 15%, 30%, 100%);
    --kbq-checkbox-error-states-disabled-text: hsla(229, 15%, 40%, 100%);
    --kbq-checkbox-error-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-checkbox-error-states-disabled-caption: hsla(229, 15%, 30%, 100%);
}
