@use '../../core/styles/common';
@use '../filter-bar-theme' as *;

.kbq-pipe {
    display: flex;
    flex-direction: row;

    max-height: 32px;

    & .kbq-select .kbq-select__trigger {
        height: unset;
    }

    .kbq-button-wrapper {
        max-width: var(--kbq-filter-bar-pipe-max-width, 320px);
    }

    .kbq-pipe__name {
        @include common.kbq-truncate-line();

        flex: 1 1 auto;
    }

    .kbq-pipe__value {
        @include common.kbq-truncate-line();

        flex: 1 1 auto;

        &:not(.kbq-pipe__value_empty) {
            margin-inline-start: 4px;
        }
    }

    .kbq-select:not(:hover, .kbq-active),
    .kbq-tree-select:not(:hover, .kbq-active),
    .kbq-button:not(:hover, .kbq-active, [disabled]) {
        & + .kbq-pipe-button:not(:hover, .kbq-active)::after {
            content: '';
            position: absolute;
            inset-inline-start: 0;
            top: var(--kbq-size-s);

            width: 1px;
            height: var(--kbq-size-l);
        }
    }

    .kbq-button.cdk-keyboard-focused {
        z-index: 1;
    }
}

.kbq-pipe.kbq-pipe_removable,
.kbq-pipe.kbq-pipe_cleanable:not(.kbq-pipe_empty) {
    .kbq-button {
        border-end-end-radius: unset;
        border-start-end-radius: unset;
        border-inline-end: none;

        &.cdk-keyboard-focused::after {
            content: '';
            position: absolute;
            inset-inline-end: 0;
            top: 0;
            bottom: 0;
            width: 1px;
        }
    }

    .kbq-button-icon {
        border-end-start-radius: unset;
        border-start-start-radius: unset;
        border-inline-start: none;

        &.cdk-keyboard-focused::after {
            content: '';
            position: absolute;
            inset-inline-start: 0;
            top: 0;
            bottom: 0;
            width: 1px;
        }
    }
}

@include kbq-filter-bar-pipe-theme();
