.kbq-pipe {
    display: flex;
    flex-direction: row;

    .kbq-pipe__name {
        color: var(--kbq-foreground-contrast-secondary);
    }

    .kbq-pipe__value {
        margin-left: 4px;
    }

    &.kbq-pipe_disabled {
        .kbq-pipe__name,
        .kbq-pipe__value {
            color: var(--kbq-states-foreground-disabled);
        }
    }
}

.kbq-pipe:not(.kbq-pipe_readonly, .kbq-pipe_empty) {
    .kbq-button {
        border-right-style: none;

        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
    }

    .kbq-button-icon {
        border-left-style: none;

        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
    }
}

.kbq-pipe_select {
}

.kbq-pipe_multi-select {
    .kbq-pipe__value {
        margin-left: 4px;
    }

    .kbq-badge {
        margin-left: 6px;
    }
}

.kbq-pipe-date__popover {
    & .kbq-popover__content {
        padding: 4px 0;
    }

    & .kbq-list-option {
        & .kbq-list-text {
            display: flex;
            flex-direction: row;
        }

        & .kbq-icon {
            margin-left: 8px;
            align-self: center;

            color: var(--kbq-icon-fade-contrast-color);
        }
    }
}
