.kbq-pipe {
    display: flex;
    flex-direction: row;

    .kbq-button {
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
    }

    .kbq-button-icon {
        margin-left: -1px;

        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
    }
}
