.kbq-pipe__multiselect {
    .kbq-pipe__value {
        margin-left: 4px;
    }

    .kbq-badge {
        margin-left: 6px;
    }
}

.kbq-pipe-multiselect__panel .kbq-select__content {
    max-height: 404px;
}
