@use '../filter-bar-theme' as *;

.kbq-pipe__multiselect {
    .kbq-pipe__value {
        margin-inline-start: var(--kbq-size-xxs);
    }

    .kbq-badge {
        align-self: center;

        margin-inline-start: var(--kbq-size-xs);
    }
}

.kbq-pipe-multiselect__panel .kbq-select__content {
    @include kbq-filter-bar-panel-content-max-height();
}
