.kbq-button-toggle-group_stretched {
    width: 100%;
}

.kbq-button-toggle-group_stretched .kbq-button-toggle {
    flex: 1;
}

.kbq-button-toggle-group_stretched > .kbq-button-toggle > ::ng-deep .kbq-button {
    flex: 1;
}

.kbq-button-toggle-group .kbq-button-toggle > ::ng-deep .kbq-button .kbq-button-toggle-wrapper,
.kbq-button-toggle-group .kbq-button-toggle > ::ng-deep .kbq-button-icon .kbq-button-toggle-wrapper {
    display: block !important;
}

.kbq-button-toggle-group .kbq-button-toggle > ::ng-deep .kbq-button .kbq-button-toggle-wrapper > :not(:last-child),
.kbq-button-toggle-group
    .kbq-button-toggle
    > ::ng-deep
    .kbq-button-icon
    .kbq-button-toggle-wrapper
    > :not(:last-child) {
    margin-right: 4px;
}
