button-toggle-tooltip-overview-example .kbq-button-toggle-group_stretched {
    width: 100%;
}

button-toggle-tooltip-overview-example .kbq-button-toggle-group_stretched .kbq-button-toggle {
    flex: 1;
}

button-toggle-tooltip-overview-example .kbq-button-toggle-group_stretched > .kbq-button-toggle > .kbq-button {
    flex: 1;
}

button-toggle-tooltip-overview-example .kbq-button-toggle-group .kbq-button-toggle > .kbq-button .kbq-button-wrapper,
button-toggle-tooltip-overview-example .kbq-button-toggle-group .kbq-button-toggle > .kbq-button-icon .kbq-button-wrapper {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: unset;
}

button-toggle-tooltip-overview-example .kbq-button-toggle-group .kbq-button-toggle > .kbq-button .kbq-button-toggle-wrapper > :not(:last-child),
button-toggle-tooltip-overview-example .kbq-button-toggle-group .kbq-button-toggle > .kbq-button-icon .kbq-button-toggle-wrapper > :not(:last-child) {
    margin-right: 4px;
}

