name: Setup Node
description: Setup Node.js environment and install dependencies
runs:
  using: composite
  steps:
    - name: Setup Node
      uses: actions/setup-node@v6
      with:
        node-version-file: .nvmrc
        cache: 'yarn'
        cache-dependency-path: yarn.lock

    - name: Install Dependencies
      shell: bash
      run: yarn install --immutable
