@use '../core/styles/common/tokens' as *;

@use './markdown-tokens';

@mixin kbq-markdown-theme() {
    .kbq-markdown {
        color: var(--kbq-foreground-contrast);
        background: var(--kbq-markdown-bg);

        &.kbq-markdown_transparent {
            --kbq-markdown-bg: transparent;
        }

        // h1, h2, h3, h4, h5, h6
        @for $i from 1 through 6 {
            .kbq-markdown__h#{$i} {
                color: var(--kbq-markdown-h#{$i}-color);
            }
        }

        .kbq-markdown__p {
            color: var(--kbq-markdown-p-color);
        }

        .kbq-markdown__ul,
        .kbq-markdown__ol {
            color: var(--kbq-markdown-list-color);
        }

        .kbq-markdown__blockquote {
            color: var(--kbq-markdown-blockquote-text);
            background: var(--kbq-markdown-blockquote-background);
            border-color: var(--kbq-markdown-blockquote-border);
            border-left-color: var(--kbq-markdown-blockquote-line);
        }

        .kbq-markdown__pre,
        .kbq-markdown__code:not(.kbq-markdown__a .kbq-markdown__code) {
            color: var(--kbq-markdown-code-text);
            background-color: var(--kbq-markdown-code-background);
        }

        .kbq-markdown__a .kbq-markdown__code {
            background-color: var(--kbq-markdown-code-background);
        }

        .kbq-markdown__a {
            color: var(--kbq-markdown-link-text, var(--kbq-foreground-theme));
            border-bottom-color: var(--kbq-markdown-link-border-bottom, var(--kbq-line-theme-less));

            &:has(.kbq-markdown__code) {
                display: inline;
                border-bottom: none;
            }

            &:visited {
                color: var(--kbq-markdown-link-state-visited-text, var(--kbq-foreground-visited));
                border-bottom-color: var(--kbq-markdown-link-state-visited-border-bottom, var(--kbq-line-visited));
            }

            &:hover {
                color: var(--kbq-markdown-link-state-hover-text, var(--kbq-states-foreground-theme-hover));
                transition: color 0ms;
                border-bottom-color: var(--kbq-markdown-link-state-hover-border-bottom, var(--kbq-line-theme-less));
            }

            &:active {
                color: var(--kbq-markdown-link-state-active, var(--kbq-states-foreground-theme-active));
            }

            &:focus {
                outline: var(--kbq-markdown-link-state-focused-outline, var(--kbq-link-state-focused-outline)) solid
                    var(--kbq-markdown-link-size-state-focused-outline-width, var(--kbq-size-3xs));

                outline-offset: var(--kbq-markdown-link-size-state-focused-outline-offset, 0);
            }
        }

        .kbq-markdown__img + em {
            color: var(--kbq-markdown-image-caption-text);
        }

        .kbq-markdown__hr {
            border-bottom-color: var(--kbq-markdown-hr-color);
        }

        .kbq-markdown__table > .kbq-markdown__thead {
            color: var(--kbq-markdown-table-header);
            border-bottom-color: var(--kbq-markdown-table-border);
        }

        .kbq-markdown__table > .kbq-markdown__tbody {
            color: var(--kbq-markdown-table-body);
        }
    }
}

@mixin kbq-markdown-typography() {
    .kbq-markdown {
        // h1, h2, h3, h4, h5, h6
        @for $i from 1 through 6 {
            .kbq-markdown__h#{$i} {
                @include kbq-typography-level-to-styles-css-variables(md-typography, md-h#{$i});
            }
        }

        .kbq-markdown__p {
            @include kbq-typography-level-to-styles-css-variables(md-typography, md-body);
        }

        .kbq-markdown__ul,
        .kbq-markdown__ol {
            @include kbq-typography-level-to-styles-css-variables(md-typography, md-body);
        }

        .kbq-markdown__blockquote > .kbq-markdown__p {
            @include kbq-typography-level-to-styles-css-variables(md-typography, md-body);
        }

        .kbq-markdown__code {
            @include kbq-typography-level-to-styles-css-variables(md-typography, md-inline-code);
        }

        .kbq-markdown__a {
            @include kbq-typography-level-to-styles-css-variables(md-typography, md-body);
        }

        .kbq-markdown__a > .kbq-markdown__code {
            @include kbq-typography-level-to-styles-css-variables(md-typography, md-inline-code-as-link);
        }

        .kbq-markdown__img + em {
            @include kbq-typography-level-to-styles-css-variables(md-typography, md-caption);
        }

        .kbq-markdown__table > .kbq-markdown__thead {
            @include kbq-typography-level-to-styles-css-variables(md-typography, md-table-header);
        }

        .kbq-markdown__table > .kbq-markdown__tbody {
            @include kbq-typography-level-to-styles-css-variables(md-typography, md-table-cell);
        }
    }
}
