@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/theming/theming' as *;
@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-markdown-theme($theme) {
    $markdown: map.get($theme, components, markdown);

    .kbq-markdown {
        color: kbq-css-variable(foreground-contrast, map.get($theme, foreground, contrast));
        background: kbq-css-variable(background-bg, map.get($theme, background, bg));

        // h1, h2, h3, h4, h5, h6
        @for $i from 1 through 6 {
            .kbq-markdown__h#{$i} {
                color: kbq-css-variable(markdown-h#{$i}-color, map.get($markdown, h#{$i}-color));
            }
        }

        .kbq-markdown__p {
            color: kbq-css-variable(markdown-p-color, map.get($markdown, p-color));
        }

        .kbq-markdown__ul,
        .kbq-markdown__ol {
            color: kbq-css-variable(markdown-list-color, map.get($markdown, list-color));
        }

        .kbq-markdown__blockquote {
            color: kbq-css-variable(markdown-blockquote-text, map.get($markdown, blockquote-text));
            background: kbq-css-variable(markdown-blockquote-background, map.get($markdown, blockquote-background));
            border-color: kbq-css-variable(markdown-blockquote-border, map.get($markdown, blockquote-border));
            border-left-color: kbq-css-variable(markdown-blockquote-line, map.get($markdown, blockquote-line));
        }

        .kbq-markdown__pre,
        .kbq-markdown__p > .kbq-markdown__code {
            color: kbq-css-variable(markdown-code-text, map.get($markdown, code-text));
            background-color: kbq-css-variable(markdown-code-background, map.get($markdown, code-background));
            border-color: kbq-css-variable(markdown-code-border, map.get($markdown, code-border));
        }

        .kbq-markdown__a {
            color: kbq-css-variable(markdown-link-text, map.get($markdown, link-text));
            border-bottom-color: kbq-css-variable(markdown-link-border-bottom, map.get($markdown, link-border-bottom));

            &:visited {
                color: kbq-css-variable(markdown-link-state-visited-text, map.get($markdown, link-state-visited-text));
                border-bottom-color: kbq-css-variable(
                    markdown-link-state-visited-border-bottom, map.get($markdown, link-state-visited-border-bottom));
            }

            &:hover {
                color: kbq-css-variable(markdown-link-state-hover-text, map.get($markdown, link-state-hover-text));
                transition: color 0ms;
                border-bottom-color: kbq-css-variable(
                    markdown-link-state-hover-border-bottom, map.get($markdown, link-state-hover-border-bottom));
            }

            &:active {
                color: kbq-css-variable(markdown-link-state-active-text, map.get($markdown, link-state-active-text));
            }

            &:focus {
                outline:
                    kbq-css-variable(
                        markdown-link-state-focused-outline, map.get($markdown, link-state-focused-outline))
                    solid
                    kbq-css-variable(markdown-link-size-state-focused-outline-width);

                outline-offset: kbq-css-variable(markdown-link-size-state-focused-outline-offset);
            }
        }

        .kbq-markdown__img + em {
            color: kbq-css-variable(markdown-image-caption-text, map.get($markdown, image-caption-text));
        }

        .kbq-markdown__hr {
            border-bottom-color: kbq-css-variable(markdown-hr-color, map.get($markdown, hr-color));
        }

        .kbq-markdown__table > .kbq-markdown__thead {
            color: kbq-css-variable(markdown-table-header, map.get($markdown, table-header));
            border-bottom-color: kbq-css-variable(markdown-table-border, map.get($markdown, table-border));
        }

        .kbq-markdown__table > .kbq-markdown__tbody {
            color: kbq-css-variable(markdown-table-body, map.get($markdown, table-body));
        }
    }
}

@mixin kbq-markdown-typography($config) {
    .kbq-markdown {
        // h1, h2, h3, h4, h5, h6
        @for $i from 1 through 6 {
            .kbq-markdown__h#{$i} {
                @include kbq-typography-css-variables(markdown-h#{$i}, default);
            }
        }

        .kbq-markdown__p {
            @include kbq-typography-css-variables(markdown-p, default);
        }

        .kbq-markdown__ul,
        .kbq-markdown__ol {
            @include kbq-typography-css-variables(markdown-list, default);
        }

        .kbq-markdown__blockquote > .kbq-markdown__p {
            @include kbq-typography-css-variables(markdown-blockquote, default);
        }

        .kbq-markdown__code {
            @include kbq-typography-css-variables(markdown-code, default);
        }

        .kbq-markdown__a {
            @include kbq-typography-css-variables(markdown-link, default);
        }

        .kbq-markdown__img + em {
            @include kbq-typography-css-variables(markdown-image, caption);
        }

        .kbq-markdown__table > .kbq-markdown__thead {
            @include kbq-typography-css-variables(markdown-table, header);
        }

        .kbq-markdown__table > .kbq-markdown__tbody {
            @include kbq-typography-css-variables(markdown-table, body);
        }
    }
}
