/* stylelint-disable no-unknown-custom-properties */

.kbq-markdown {
    --kbq-markdown-h1-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h1-size-margin-top: 0;
    --kbq-markdown-h1-size-margin-bottom: var(--kbq-size-l);
    --kbq-markdown-h1-font-default-font-size: var(--kbq-md-typography-md-h1-font-size);
    --kbq-markdown-h1-font-default-line-height: var(--kbq-md-typography-md-h1-line-height);
    --kbq-markdown-h1-font-default-letter-spacing: var(--kbq-md-typography-md-h1-letter-spacing);
    --kbq-markdown-h1-font-default-font-weight: var(--kbq-md-typography-md-h1-font-weight);
    --kbq-markdown-h1-font-default-font-family: var(--kbq-md-typography-md-h1-font-family);
    --kbq-markdown-h1-font-default-text-transform: var(--kbq-md-typography-md-h1-text-transform);
    --kbq-markdown-h1-font-default-font-feature-settings: var(--kbq-md-typography-md-h1-font-feature-settings);
    --kbq-markdown-h2-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h2-size-margin-top: var(--kbq-size-xxl);
    --kbq-markdown-h2-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-h2-font-default-font-size: var(--kbq-md-typography-md-h2-font-size);
    --kbq-markdown-h2-font-default-line-height: var(--kbq-md-typography-md-h2-line-height);
    --kbq-markdown-h2-font-default-letter-spacing: var(--kbq-md-typography-md-h2-letter-spacing);
    --kbq-markdown-h2-font-default-font-weight: var(--kbq-md-typography-md-h2-font-weight);
    --kbq-markdown-h2-font-default-font-family: var(--kbq-md-typography-md-h2-font-family);
    --kbq-markdown-h2-font-default-text-transform: var(--kbq-md-typography-md-h2-text-transform);
    --kbq-markdown-h2-font-default-font-feature-settings: var(--kbq-md-typography-md-h2-font-feature-settings);
    --kbq-markdown-h3-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h3-size-margin-top: var(--kbq-size-xxl);
    --kbq-markdown-h3-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-h3-font-default-font-size: var(--kbq-md-typography-md-h3-font-size);
    --kbq-markdown-h3-font-default-line-height: var(--kbq-md-typography-md-h3-line-height);
    --kbq-markdown-h3-font-default-letter-spacing: var(--kbq-md-typography-md-h3-letter-spacing);
    --kbq-markdown-h3-font-default-font-weight: var(--kbq-md-typography-md-h3-font-weight);
    --kbq-markdown-h3-font-default-font-family: var(--kbq-md-typography-md-h3-font-family);
    --kbq-markdown-h3-font-default-text-transform: var(--kbq-md-typography-md-h3-text-transform);
    --kbq-markdown-h3-font-default-font-feature-settings: var(--kbq-md-typography-md-h3-font-feature-settings);
    --kbq-markdown-h4-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h4-size-margin-top: var(--kbq-size-xxl);
    --kbq-markdown-h4-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-h4-font-default-font-size: var(--kbq-md-typography-md-h4-font-size);
    --kbq-markdown-h4-font-default-line-height: var(--kbq-md-typography-md-h4-line-height);
    --kbq-markdown-h4-font-default-letter-spacing: var(--kbq-md-typography-md-h4-letter-spacing);
    --kbq-markdown-h4-font-default-font-weight: var(--kbq-md-typography-md-h4-font-weight);
    --kbq-markdown-h4-font-default-font-family: var(--kbq-md-typography-md-h4-font-family);
    --kbq-markdown-h4-font-default-text-transform: var(--kbq-md-typography-md-h4-text-transform);
    --kbq-markdown-h4-font-default-font-feature-settings: var(--kbq-md-typography-md-h4-font-feature-settings);
    --kbq-markdown-h5-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h5-size-margin-top: var(--kbq-size-xxl);
    --kbq-markdown-h5-size-margin-bottom: var(--kbq-size-s);
    --kbq-markdown-h5-font-default-font-size: var(--kbq-md-typography-md-h5-font-size);
    --kbq-markdown-h5-font-default-line-height: var(--kbq-md-typography-md-h5-line-height);
    --kbq-markdown-h5-font-default-letter-spacing: var(--kbq-md-typography-md-h5-letter-spacing);
    --kbq-markdown-h5-font-default-font-weight: var(--kbq-md-typography-md-h5-font-weight);
    --kbq-markdown-h5-font-default-font-family: var(--kbq-md-typography-md-h5-font-family);
    --kbq-markdown-h5-font-default-text-transform: var(--kbq-md-typography-md-h5-text-transform);
    --kbq-markdown-h5-font-default-font-feature-settings: var(--kbq-md-typography-md-h5-font-feature-settings);
    --kbq-markdown-h6-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h6-size-margin-top: var(--kbq-size-xxl);
    --kbq-markdown-h6-size-margin-bottom: var(--kbq-size-s);
    --kbq-markdown-h6-font-default-font-size: var(--kbq-md-typography-md-h6-font-size);
    --kbq-markdown-h6-font-default-line-height: var(--kbq-md-typography-md-h6-line-height);
    --kbq-markdown-h6-font-default-letter-spacing: var(--kbq-md-typography-md-h6-letter-spacing);
    --kbq-markdown-h6-font-default-font-weight: var(--kbq-md-typography-md-h6-font-weight);
    --kbq-markdown-h6-font-default-font-family: var(--kbq-md-typography-md-h6-font-family);
    --kbq-markdown-h6-font-default-text-transform: var(--kbq-md-typography-md-h6-text-transform);
    --kbq-markdown-h6-font-default-font-feature-settings: var(--kbq-md-typography-md-h6-font-feature-settings);
    --kbq-markdown-p-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-p-size-margin-top: var(--kbq-size-m);
    --kbq-markdown-p-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-p-font-default-font-size: var(--kbq-md-typography-md-body-font-size);
    --kbq-markdown-p-font-default-line-height: var(--kbq-md-typography-md-body-line-height);
    --kbq-markdown-p-font-default-letter-spacing: var(--kbq-md-typography-md-body-letter-spacing);
    --kbq-markdown-p-font-default-font-weight: var(--kbq-md-typography-md-body-font-weight);
    --kbq-markdown-p-font-default-font-family: var(--kbq-md-typography-md-body-font-family);
    --kbq-markdown-p-font-default-text-transform: var(--kbq-md-typography-md-body-text-transform);
    --kbq-markdown-p-font-default-font-feature-settings: var(--kbq-md-typography-md-body-font-feature-settings);
    --kbq-markdown-list-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-list-size-margin-top: var(--kbq-size-m);
    --kbq-markdown-list-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-list-size-margin-top-after-paragraph: -var(--kbq-size-s);
    --kbq-markdown-list-size-ol-number-padding-right: var(--kbq-size-xxs);
    --kbq-markdown-list-size-ul-padding: 0 0 0 var(--kbq-size-xxl);
    --kbq-markdown-list-size-item-margin-bottom: var(--kbq-size-xxs);
    --kbq-markdown-list-font-default-font-size: var(--kbq-md-typography-md-body-font-size);
    --kbq-markdown-list-font-default-line-height: var(--kbq-md-typography-md-body-line-height);
    --kbq-markdown-list-font-default-letter-spacing: var(--kbq-md-typography-md-body-letter-spacing);
    --kbq-markdown-list-font-default-font-weight: var(--kbq-md-typography-md-body-font-weight);
    --kbq-markdown-list-font-default-font-family: var(--kbq-md-typography-md-body-font-family);
    --kbq-markdown-list-font-default-text-transform: var(--kbq-md-typography-md-body-text-transform);
    --kbq-markdown-list-font-default-font-feature-settings: var(--kbq-md-typography-md-body-font-feature-settings);
    --kbq-markdown-blockquote-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-blockquote-size-margin-top: var(--kbq-size-m);
    --kbq-markdown-blockquote-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-blockquote-size-padding: var(--kbq-size-3xs) var(--kbq-size-m);
    --kbq-markdown-blockquote-size-line-width: var(--kbq-size-xxs);
    --kbq-markdown-blockquote-size-border-radius: 0;
    --kbq-markdown-blockquote-size-border-width: 0;
    --kbq-markdown-blockquote-font-default-font-size: var(--kbq-md-typography-md-body-font-size);
    --kbq-markdown-blockquote-font-default-line-height: var(--kbq-md-typography-md-body-line-height);
    --kbq-markdown-blockquote-font-default-letter-spacing: var(--kbq-md-typography-md-body-letter-spacing);
    --kbq-markdown-blockquote-font-default-font-weight: var(--kbq-md-typography-md-body-font-weight);
    --kbq-markdown-blockquote-font-default-font-family: var(--kbq-md-typography-md-body-font-family);
    --kbq-markdown-blockquote-font-default-text-transform: var(--kbq-md-typography-md-body-text-transform);
    --kbq-markdown-blockquote-font-default-font-feature-settings: var(
        --kbq-md-typography-md-body-font-feature-settings
    );
    --kbq-markdown-code-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-code-size-multiline-margin-top: var(--kbq-size-m);
    --kbq-markdown-code-size-multiline-margin-bottom: var(--kbq-size-xxl);
    --kbq-markdown-code-size-inline-padding: 0 var(--kbq-size-xxs);
    --kbq-markdown-code-size-multiline-padding: var(--kbq-size-m) var(--kbq-size-l);
    --kbq-markdown-code-size-border-radius: var(--kbq-size-border-radius);
    --kbq-markdown-code-size-border-width: var(--kbq-size-border-width);
    --kbq-markdown-code-font-default-font-size: var(--kbq-md-typography-md-body-mono-font-size);
    --kbq-markdown-code-font-default-line-height: var(--kbq-md-typography-md-body-mono-line-height);
    --kbq-markdown-code-font-default-letter-spacing: var(--kbq-md-typography-md-body-mono-letter-spacing);
    --kbq-markdown-code-font-default-font-weight: var(--kbq-md-typography-md-body-mono-font-weight);
    --kbq-markdown-code-font-default-font-family: var(--kbq-md-typography-md-body-mono-font-family);
    --kbq-markdown-code-font-default-text-transform: var(--kbq-md-typography-md-body-mono-text-transform);
    --kbq-markdown-code-font-default-font-feature-settings: var(--kbq-md-typography-md-body-mono-font-feature-settings);
    --kbq-markdown-link-size-icon-margin: var(--kbq-link-size-normal-content-padding);
    --kbq-markdown-link-size-state-focused-outline-offset: var(--kbq-link-size-state-focused-outline-offset);
    --kbq-markdown-link-size-state-focused-outline-width: var(--kbq-link-size-state-focused-outline-width);
    --kbq-markdown-link-font-default-font-size: var(--kbq-md-typography-md-body-font-size);
    --kbq-markdown-link-font-default-line-height: var(--kbq-md-typography-md-body-line-height);
    --kbq-markdown-link-font-default-letter-spacing: var(--kbq-md-typography-md-body-letter-spacing);
    --kbq-markdown-link-font-default-font-weight: var(--kbq-md-typography-md-body-font-weight);
    --kbq-markdown-link-font-default-font-family: var(--kbq-md-typography-md-body-font-family);
    --kbq-markdown-link-font-default-text-transform: var(--kbq-md-typography-md-body-text-transform);
    --kbq-markdown-link-font-default-font-feature-settings: var(--kbq-md-typography-md-body-font-feature-settings);
    --kbq-markdown-image-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-image-size-margin-top: var(--kbq-size-m);
    --kbq-markdown-image-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-image-size-caption-margin-top: -var(--kbq-size-s);
    --kbq-markdown-image-size-caption-margin-bottom: var(--kbq-size-xxl);
    --kbq-markdown-image-font-caption-font-size: var(--kbq-md-typography-md-caption-font-size);
    --kbq-markdown-image-font-caption-line-height: var(--kbq-md-typography-md-caption-line-height);
    --kbq-markdown-image-font-caption-letter-spacing: var(--kbq-md-typography-md-caption-letter-spacing);
    --kbq-markdown-image-font-caption-font-weight: var(--kbq-md-typography-md-caption-font-weight);
    --kbq-markdown-image-font-caption-font-family: var(--kbq-md-typography-md-caption-font-family);
    --kbq-markdown-image-font-caption-text-transform: var(--kbq-md-typography-md-caption-text-transform);
    --kbq-markdown-image-font-caption-font-feature-settings: var(--kbq-md-typography-md-caption-font-feature-settings);
    --kbq-markdown-hr-size-width: 1px;
    --kbq-markdown-hr-size-margin-vertical: var(--kbq-size-xxl);
    --kbq-markdown-table-size-border-width: var(--kbq-size-border-width);
    --kbq-markdown-table-size-padding: var(--kbq-size-s);
    --kbq-markdown-table-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-table-font-header-font-size: var(--kbq-md-typography-md-table-header-font-size);
    --kbq-markdown-table-font-header-line-height: var(--kbq-md-typography-md-table-header-line-height);
    --kbq-markdown-table-font-header-letter-spacing: var(--kbq-md-typography-md-table-header-letter-spacing);
    --kbq-markdown-table-font-header-font-weight: var(--kbq-md-typography-md-table-header-font-weight);
    --kbq-markdown-table-font-header-font-family: var(--kbq-md-typography-md-table-header-font-family);
    --kbq-markdown-table-font-header-text-transform: var(--kbq-md-typography-md-table-header-text-transform);
    --kbq-markdown-table-font-header-font-feature-settings: var(
        --kbq-md-typography-md-table-header-font-feature-settings
    );
    --kbq-markdown-table-font-body-font-size: var(--kbq-md-typography-md-table-cell-font-size);
    --kbq-markdown-table-font-body-line-height: var(--kbq-md-typography-md-table-cell-line-height);
    --kbq-markdown-table-font-body-letter-spacing: var(--kbq-md-typography-md-table-cell-letter-spacing);
    --kbq-markdown-table-font-body-font-weight: var(--kbq-md-typography-md-table-cell-font-weight);
    --kbq-markdown-table-font-body-font-family: var(--kbq-md-typography-md-table-cell-font-family);
    --kbq-markdown-table-font-body-text-transform: var(--kbq-md-typography-md-table-cell-text-transform);
    --kbq-markdown-table-font-body-font-feature-settings: var(--kbq-md-typography-md-table-cell-font-feature-settings);
    --kbq-markdown-size-max-width: 650px;
    --kbq-markdown-font-default-font-size: var(--kbq-md-typography-md-body-font-size);
    --kbq-markdown-font-default-line-height: var(--kbq-md-typography-md-body-line-height);
    --kbq-markdown-font-default-letter-spacing: var(--kbq-md-typography-md-body-letter-spacing);
    --kbq-markdown-font-default-font-weight: var(--kbq-md-typography-md-body-font-weight);
    --kbq-markdown-font-default-font-family: var(--kbq-md-typography-md-body-font-family);
    --kbq-markdown-font-default-text-transform: var(--kbq-md-typography-md-body-text-transform);
    --kbq-markdown-font-default-font-feature-settings: var(--kbq-md-typography-md-body-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-markdown-h1-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h2-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h3-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h4-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h5-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h6-color: var(--kbq-foreground-contrast);
    --kbq-markdown-p-color: var(--kbq-foreground-contrast);
    --kbq-markdown-list-color: var(--kbq-foreground-contrast);
    --kbq-markdown-blockquote-text: var(--kbq-foreground-contrast);
    --kbq-markdown-blockquote-line: var(--kbq-foreground-border);
    --kbq-markdown-blockquote-background: transparent;
    --kbq-markdown-blockquote-border: transparent;
    --kbq-markdown-code-text: var(--kbq-foreground-contrast);
    --kbq-markdown-code-background: var(--kbq-background-background-less-contrast);
    --kbq-markdown-code-border: var(--kbq-line-contrast-less);
    --kbq-markdown-link-text: var(--kbq-link-text);
    --kbq-markdown-link-border-bottom: var(--kbq-link-border-bottom);
    --kbq-markdown-link-state-visited-text: var(--kbq-link-state-visited-text);
    --kbq-markdown-link-state-visited-border-bottom: var(--kbq-link-state-visited-border-bottom);
    --kbq-markdown-link-state-hover-text: var(--kbq-link-state-hover-text);
    --kbq-markdown-link-state-hover-border-bottom: var(--kbq-link-state-hover-border-bottom);
    --kbq-markdown-link-state-active: var(--kbq-link-state-active-text);
    --kbq-markdown-link-state-focused-outline: var(--kbq-link-state-focused-outline);
    --kbq-markdown-image-caption-text: var(--kbq-foreground-text-less-contrast);
    --kbq-markdown-hr-color: var(--kbq-line-contrast-less);
    --kbq-markdown-table-header: var(--kbq-foreground-text-less-contrast);
    --kbq-markdown-table-body: var(--kbq-foreground-contrast);
    --kbq-markdown-table-border: var(--kbq-line-contrast-less);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-markdown-h1-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h2-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h3-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h4-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h5-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h6-color: var(--kbq-foreground-contrast);
    --kbq-markdown-p-color: var(--kbq-foreground-contrast);
    --kbq-markdown-list-color: var(--kbq-foreground-contrast);
    --kbq-markdown-blockquote-text: var(--kbq-foreground-contrast);
    --kbq-markdown-blockquote-line: var(--kbq-foreground-border);
    --kbq-markdown-blockquote-background: transparent;
    --kbq-markdown-blockquote-border: transparent;
    --kbq-markdown-code-text: var(--kbq-foreground-contrast);
    --kbq-markdown-code-background: var(--kbq-background-background-less-contrast);
    --kbq-markdown-code-border: var(--kbq-line-contrast-less);
    --kbq-markdown-link-text: var(--kbq-link-text);
    --kbq-markdown-link-border-bottom: var(--kbq-link-border-bottom);
    --kbq-markdown-link-state-visited-text: var(--kbq-link-state-visited-text);
    --kbq-markdown-link-state-visited-border-bottom: var(--kbq-link-state-visited-border-bottom);
    --kbq-markdown-link-state-hover-text: var(--kbq-link-state-hover-text);
    --kbq-markdown-link-state-hover-border-bottom: var(--kbq-link-state-hover-border-bottom);
    --kbq-markdown-link-state-active: var(--kbq-link-state-active-text);
    --kbq-markdown-link-state-focused-outline: var(--kbq-link-state-focused-outline);
    --kbq-markdown-image-caption-text: var(--kbq-foreground-text-less-contrast);
    --kbq-markdown-hr-color: var(--kbq-line-contrast-less);
    --kbq-markdown-table-header: var(--kbq-foreground-text-less-contrast);
    --kbq-markdown-table-body: var(--kbq-foreground-contrast);
    --kbq-markdown-table-border: var(--kbq-line-contrast-less);
}
