.kbq-markdown {
    --kbq-markdown-h1-size-max-width: 650px;
    --kbq-markdown-h1-size-margin-top: 0;
    --kbq-markdown-h1-size-margin-bottom: 16px;
    --kbq-markdown-h1-font-default-font-size: 36px;
    --kbq-markdown-h1-font-default-line-height: 44px;
    --kbq-markdown-h1-font-default-letter-spacing: normal;
    --kbq-markdown-h1-font-default-font-weight: 400;
    --kbq-markdown-h1-font-default-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-h1-font-default-text-transform: null;
    --kbq-markdown-h1-font-default-font-feature-settings: "calt", "kern", "liga";
    --kbq-markdown-h2-size-max-width: 650px;
    --kbq-markdown-h2-size-margin-top: 24px;
    --kbq-markdown-h2-size-margin-bottom: 12px;
    --kbq-markdown-h2-font-default-font-size: 24px;
    --kbq-markdown-h2-font-default-line-height: 32px;
    --kbq-markdown-h2-font-default-letter-spacing: normal;
    --kbq-markdown-h2-font-default-font-weight: 700;
    --kbq-markdown-h2-font-default-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-h2-font-default-text-transform: null;
    --kbq-markdown-h2-font-default-font-feature-settings: "calt", "kern", "liga";
    --kbq-markdown-h3-size-max-width: 650px;
    --kbq-markdown-h3-size-margin-top: 24px;
    --kbq-markdown-h3-size-margin-bottom: 12px;
    --kbq-markdown-h3-font-default-font-size: 20px;
    --kbq-markdown-h3-font-default-line-height: 28px;
    --kbq-markdown-h3-font-default-letter-spacing: normal;
    --kbq-markdown-h3-font-default-font-weight: 700;
    --kbq-markdown-h3-font-default-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-h3-font-default-text-transform: null;
    --kbq-markdown-h3-font-default-font-feature-settings: "calt", "kern", "liga";
    --kbq-markdown-h4-size-max-width: 650px;
    --kbq-markdown-h4-size-margin-top: 24px;
    --kbq-markdown-h4-size-margin-bottom: 12px;
    --kbq-markdown-h4-font-default-font-size: 18px;
    --kbq-markdown-h4-font-default-line-height: 26px;
    --kbq-markdown-h4-font-default-letter-spacing: normal;
    --kbq-markdown-h4-font-default-font-weight: 700;
    --kbq-markdown-h4-font-default-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-h4-font-default-text-transform: null;
    --kbq-markdown-h4-font-default-font-feature-settings: "calt", "kern", "liga";
    --kbq-markdown-h5-size-max-width: 650px;
    --kbq-markdown-h5-size-margin-top: 24px;
    --kbq-markdown-h5-size-margin-bottom: 8px;
    --kbq-markdown-h5-font-default-font-size: 16px;
    --kbq-markdown-h5-font-default-line-height: 24px;
    --kbq-markdown-h5-font-default-letter-spacing: -0.011em;
    --kbq-markdown-h5-font-default-font-weight: 700;
    --kbq-markdown-h5-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-h5-font-default-text-transform: null;
    --kbq-markdown-h5-font-default-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-markdown-h6-size-max-width: 650px;
    --kbq-markdown-h6-size-margin-top: 24px;
    --kbq-markdown-h6-size-margin-bottom: 8px;
    --kbq-markdown-h6-font-default-font-size: 14px;
    --kbq-markdown-h6-font-default-line-height: 20px;
    --kbq-markdown-h6-font-default-letter-spacing: 0.08em;
    --kbq-markdown-h6-font-default-font-weight: 500;
    --kbq-markdown-h6-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-h6-font-default-text-transform: uppercase;
    --kbq-markdown-h6-font-default-font-feature-settings: "calt", "case", "kern", "liga", "ss01", "ss04";
    --kbq-markdown-p-size-max-width: 650px;
    --kbq-markdown-p-size-margin-top: 12px;
    --kbq-markdown-p-size-margin-bottom: 12px;
    --kbq-markdown-p-font-default-font-size: 16px;
    --kbq-markdown-p-font-default-line-height: 24px;
    --kbq-markdown-p-font-default-letter-spacing: -0.011em;
    --kbq-markdown-p-font-default-font-weight: normal;
    --kbq-markdown-p-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-p-font-default-text-transform: null;
    --kbq-markdown-p-font-default-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-markdown-list-size-max-width: 650px;
    --kbq-markdown-list-size-margin-top: 12px;
    --kbq-markdown-list-size-margin-bottom: 12px;
    --kbq-markdown-list-size-margin-top-after-paragraph: -8px;
    --kbq-markdown-list-size-ol-number-padding-right: 4px;
    --kbq-markdown-list-size-ul-padding: 0 0 0 24px;
    --kbq-markdown-list-size-item-margin-bottom: 4px;
    --kbq-markdown-list-font-default-font-size: 16px;
    --kbq-markdown-list-font-default-line-height: 24px;
    --kbq-markdown-list-font-default-letter-spacing: -0.011em;
    --kbq-markdown-list-font-default-font-weight: normal;
    --kbq-markdown-list-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-list-font-default-text-transform: null;
    --kbq-markdown-list-font-default-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-markdown-blockquote-size-max-width: 650px;
    --kbq-markdown-blockquote-size-margin-top: 12px;
    --kbq-markdown-blockquote-size-margin-bottom: 12px;
    --kbq-markdown-blockquote-size-padding: 2px 12px;
    --kbq-markdown-blockquote-size-line-width: 4px;
    --kbq-markdown-blockquote-size-border-radius: 0;
    --kbq-markdown-blockquote-size-border-width: 0;
    --kbq-markdown-blockquote-font-default-font-size: 16px;
    --kbq-markdown-blockquote-font-default-line-height: 24px;
    --kbq-markdown-blockquote-font-default-letter-spacing: -0.011em;
    --kbq-markdown-blockquote-font-default-font-weight: normal;
    --kbq-markdown-blockquote-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-blockquote-font-default-text-transform: null;
    --kbq-markdown-blockquote-font-default-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-markdown-code-size-max-width: 650px;
    --kbq-markdown-code-size-multiline-margin-top: 12px;
    --kbq-markdown-code-size-multiline-margin-bottom: 24px;
    --kbq-markdown-code-size-inline-padding: 0 4px;
    --kbq-markdown-code-size-multiline-padding: 12px 16px;
    --kbq-markdown-code-size-border-radius: 8px;
    --kbq-markdown-code-size-border-width: 1px;
    --kbq-markdown-code-font-default-font-size: 16px;
    --kbq-markdown-code-font-default-line-height: 24px;
    --kbq-markdown-code-font-default-letter-spacing: normal;
    --kbq-markdown-code-font-default-font-weight: normal;
    --kbq-markdown-code-font-default-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
    --kbq-markdown-code-font-default-text-transform: null;
    --kbq-markdown-code-font-default-font-feature-settings: initial;
    --kbq-markdown-link-size-icon-margin: 2px;
    --kbq-markdown-link-size-state-focused-outline-offset: 0px;
    --kbq-markdown-link-size-state-focused-outline-width: 2px;
    --kbq-markdown-link-font-default-font-size: 16px;
    --kbq-markdown-link-font-default-line-height: 24px;
    --kbq-markdown-link-font-default-letter-spacing: -0.011em;
    --kbq-markdown-link-font-default-font-weight: normal;
    --kbq-markdown-link-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-link-font-default-text-transform: null;
    --kbq-markdown-link-font-default-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-markdown-image-size-max-width: 650px;
    --kbq-markdown-image-size-margin-top: 12px;
    --kbq-markdown-image-size-margin-bottom: 12px;
    --kbq-markdown-image-size-caption-margin-top: -8px;
    --kbq-markdown-image-size-caption-margin-bottom: 24px;
    --kbq-markdown-image-font-caption-font-size: 14px;
    --kbq-markdown-image-font-caption-line-height: 20px;
    --kbq-markdown-image-font-caption-letter-spacing: -0.006em;
    --kbq-markdown-image-font-caption-font-weight: normal;
    --kbq-markdown-image-font-caption-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-image-font-caption-text-transform: null;
    --kbq-markdown-image-font-caption-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-markdown-hr-size-width: 1px;
    --kbq-markdown-hr-size-margin-vertical: 24px;
    --kbq-markdown-table-size-border-width: 1px;
    --kbq-markdown-table-size-padding: 8px;
    --kbq-markdown-table-size-margin-bottom: 12px;
    --kbq-markdown-table-font-header-font-size: 14px;
    --kbq-markdown-table-font-header-line-height: 20px;
    --kbq-markdown-table-font-header-letter-spacing: -0.006em;
    --kbq-markdown-table-font-header-font-weight: normal;
    --kbq-markdown-table-font-header-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-table-font-header-text-transform: null;
    --kbq-markdown-table-font-header-font-feature-settings: "calt", "ss01", "ss04", "tnum";
    --kbq-markdown-table-font-body-font-size: 16px;
    --kbq-markdown-table-font-body-line-height: 24px;
    --kbq-markdown-table-font-body-letter-spacing: normal;
    --kbq-markdown-table-font-body-font-weight: normal;
    --kbq-markdown-table-font-body-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-table-font-body-text-transform: null;
    --kbq-markdown-table-font-body-font-feature-settings: "calt", "ss01", "ss04", "tnum";
    --kbq-markdown-size-max-width: 650px;
    --kbq-markdown-font-default-font-size: 16px;
    --kbq-markdown-font-default-line-height: 24px;
    --kbq-markdown-font-default-letter-spacing: -0.011em;
    --kbq-markdown-font-default-font-weight: normal;
    --kbq-markdown-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-markdown-font-default-text-transform: null;
    --kbq-markdown-font-default-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-background-bg: hsla(0, 0%, 100%, 100%);
    --kbq-background-bg-secondary: hsla(229, 15%, 95%, 100%);
    --kbq-background-bg-tertiary: hsla(229, 15%, 97%, 100%);
    --kbq-foreground-contrast: hsla(229, 15%, 15%, 100%);
    --kbq-foreground-contrast-secondary: hsla(229, 15%, 50%, 100%);
    --kbq-foreground-contrast-tertiary: hsla(229, 15%, 60%, 100%);
    --kbq-markdown-h1-color: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-h2-color: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-h3-color: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-h4-color: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-h5-color: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-h6-color: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-p-color: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-list-color: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-blockquote-text: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-blockquote-line: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-blockquote-background: transparent;
    --kbq-markdown-blockquote-border: transparent;
    --kbq-markdown-code-text: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-code-background: hsla(229, 15%, 95%, 100%);
    --kbq-markdown-code-border: hsla(229, 15%, 6%, 12%);
    --kbq-markdown-link-text: hsla(216, 100%, 50%, 100%);
    --kbq-markdown-link-border-bottom: hsla(216, 100%, 85%, 100%);
    --kbq-markdown-link-state-visited-text: hsla(277, 72%, 45%, 100%);
    --kbq-markdown-link-state-visited-border-bottom: hsla(277, 72%, 80%, 100%);
    --kbq-markdown-link-state-hover-text: hsla(216, 100%, 45%, 100%);
    --kbq-markdown-link-state-hover-border-bottom: hsla(216, 100%, 85%, 100%);
    --kbq-markdown-link-state-active: hsla(216, 100%, 40%, 100%);
    --kbq-markdown-link-state-focused-outline: hsla(216, 100%, 60%, 100%);
    --kbq-markdown-image-caption-text: hsla(229, 15%, 50%, 100%);
    --kbq-markdown-hr-color: hsla(229, 15%, 6%, 12%);
    --kbq-markdown-table-header: hsla(229, 15%, 50%, 100%);
    --kbq-markdown-table-body: hsla(229, 15%, 15%, 100%);
    --kbq-markdown-table-border: hsla(229, 15%, 6%, 12%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-background-bg: hsla(229, 15%, 12%, 100%);
    --kbq-background-bg-secondary: hsla(229, 15%, 16%, 100%);
    --kbq-background-bg-tertiary: hsla(229, 15%, 14%, 100%);
    --kbq-foreground-contrast: hsla(229, 15%, 80%, 100%);
    --kbq-foreground-contrast-secondary: hsla(229, 15%, 60%, 100%);
    --kbq-foreground-contrast-tertiary: hsla(229, 15%, 45%, 100%);
    --kbq-markdown-h1-color: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-h2-color: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-h3-color: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-h4-color: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-h5-color: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-h6-color: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-p-color: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-list-color: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-blockquote-text: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-blockquote-line: hsla(229, 15%, 30%, 100%);
    --kbq-markdown-blockquote-background: transparent;
    --kbq-markdown-blockquote-border: transparent;
    --kbq-markdown-code-text: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-code-background: hsla(229, 15%, 95%, 100%);
    --kbq-markdown-code-border: hsla(229, 15%, 22%, 100%);
    --kbq-markdown-link-text: hsla(216, 100%, 65%, 100%);
    --kbq-markdown-link-border-bottom: hsla(216, 100%, 27%, 100%);
    --kbq-markdown-link-state-visited-text: hsla(277, 72%, 50%, 100%);
    --kbq-markdown-link-state-visited-border-bottom: hsla(277, 72%, 30%, 100%);
    --kbq-markdown-link-state-hover-text: hsla(216, 100%, 65%, 100%);
    --kbq-markdown-link-state-hover-border-bottom: hsla(216, 100%, 27%, 100%);
    --kbq-markdown-link-state-active: hsla(216, 100%, 70%, 100%);
    --kbq-markdown-link-state-focused-outline: hsla(216, 100%, 60%, 100%);
    --kbq-markdown-image-caption-text: hsla(229, 15%, 50%, 100%);
    --kbq-markdown-hr-color: hsla(229, 15%, 22%, 100%);
    --kbq-markdown-table-header: hsla(229, 15%, 50%, 100%);
    --kbq-markdown-table-body: hsla(229, 15%, 80%, 100%);
    --kbq-markdown-table-border: hsla(229, 15%, 22%, 100%);
}
