@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

.kbq-markdown {
    display: block;

    .markdown-input {
        display: none;
    }

    .markdown-output {
        flex: 1;
    }

    // h1, h2, h3, h4, h5, h6
    @for $i from 1 through 6 {
        .kbq-markdown__h#{$i} {
            margin-top: kbq-css-variable(markdown-h#{$i}-size-margin-top);
            margin-bottom: kbq-css-variable(markdown-h#{$i}-size-margin-bottom);
        }
    }

    .kbq-markdown__a {
        display: inline-block;

        text-decoration: none;
        cursor: pointer;

        border-bottom-style: solid;
        border-bottom-width: 1px;
        transition: color ease-out 300ms;
    }

    .kbq-markdown__p {
        margin-top: kbq-css-variable(markdown-p-size-margin-top);
        margin-bottom: kbq-css-variable(markdown-p-size-margin-bottom);
    }

    .kbq-markdown__ul,
    .kbq-markdown__ol {
        margin-top: kbq-css-variable(markdown-list-size-margin-top);
        margin-bottom: kbq-css-variable(markdown-list-size-margin-bottom);

        > li {
            margin-bottom: kbq-css-variable(markdown-list-size-item-margin-bottom);
        }
    }

    .kbq-markdown__ul {
        position: relative;
        list-style: none;
        padding: kbq-css-variable(markdown-list-size-ul-padding);
    }

    .kbq-markdown__ul > li:before {
        content: '—';
        display: block;
        position: absolute;
        width: 24px;
        text-align: left;
        left: 0;
    }

    .kbq-markdown__ol {
        list-style: none;
        padding: 0;
        counter-reset: li;

        > li {
            &:before {
                content: counter(li) '.';
                counter-increment: li;
                padding-right: kbq-css-variable(markdown-list-size-ol-number-padding-right);
            }

            > * {
                display: inline-block;
            }
        }
    }

    .kbq-markdown__p + .kbq-markdown__ul,
    .kbq-markdown__p + .kbq-markdown__ol {
        margin-top: kbq-css-variable(markdown-list-size-margin-top-after-paragraph);
    }

    .kbq-markdown__blockquote {
        margin-top: kbq-css-variable(markdown-blockquote-size-margin-top);
        margin-left: 0;
        margin-bottom: kbq-css-variable(markdown-blockquote-size-margin-bottom);
        margin-right: 0;

        border-left-width: kbq-css-variable(markdown-blockquote-size-line-width);

        border-left-style: solid;

        padding: kbq-css-variable(markdown-blockquote-size-padding);
    }

    .kbq-markdown__blockquote > .kbq-markdown__p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .kbq-markdown__pre {
        position: relative;
        overflow-x: auto;

        margin-top: kbq-css-variable(markdown-code-size-multiline-margin-top);
        margin-bottom: kbq-css-variable(markdown-code-size-multiline-margin-bottom);

        padding: kbq-css-variable(markdown-code-size-multiline-padding);
    }

    .kbq-markdown__pre,
    .kbq-markdown__p > .kbq-markdown__code {
        border-radius: kbq-css-variable(markdown-code-size-border-radius);
        border-width: kbq-css-variable(markdown-code-size-border-width);
        border-style: solid;
    }

    .kbq-markdown__p > .kbq-markdown__code {
        padding: kbq-css-variable(markdown-code-size-inline-padding);
    }

    .kbq-markdown__img {
        max-width: 100%;
        margin-top: kbq-css-variable(markdown-image-size-margin-top);
        margin-bottom: kbq-css-variable(markdown-image-size-margin-bottom);

        + em {
            display: block;
            margin-top: kbq-css-variable(markdown-image-size-caption-margin-top);
            margin-bottom: kbq-css-variable(markdown-image-size-caption-margin-bottom);
        }
    }

    .kbq-markdown__hr {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-style: solid;
        border-bottom-width: kbq-css-variable(markdown-hr-size-width);
        margin: kbq-css-variable(markdown-hr-size-margin-vertical) 0;
    }

    .kbq-markdown__table {
        max-width: 100%;
        overflow-x: auto;
        display: table;
        border-collapse: collapse;
        margin-bottom: kbq-css-variable(markdown-table-size-margin-bottom);

        td {
            vertical-align: top;
        }

        th,
        td {
            padding: kbq-css-variable(markdown-table-size-padding);
            font-weight: 400;
        }
    }

    .kbq-markdown__table > .kbq-markdown__thead {
        border-bottom-style: solid;
        border-bottom-width: kbq-css-variable(markdown-table-size-border-width);

        text-align: left;

        th:first-child {
            padding-left: 0;
        }

        th:last-child {
            padding-right: 0;
        }
    }

    .kbq-markdown__table > .kbq-markdown__tbody {
        td:first-child {
            padding-left: 0;
        }

        td:last-child {
            padding-right: 0;
        }
    }
}

.docs-live-example.kbq-markdown {
    margin-bottom: 128px;
}
