.kbq-markdown {
    --kbq-markdown-h1-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h1-size-margin-top: 0;
    --kbq-markdown-h1-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-h2-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h2-size-margin-top: var(--kbq-size-3xl);
    --kbq-markdown-h2-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-h3-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h3-size-margin-top: 28px;
    --kbq-markdown-h3-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-h4-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h4-size-margin-top: var(--kbq-size-xxl);
    --kbq-markdown-h4-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-h5-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h5-size-margin-top: var(--kbq-size-xxl);
    --kbq-markdown-h5-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-h6-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-h6-size-margin-top: var(--kbq-size-xxl);
    --kbq-markdown-h6-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-p-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-p-size-margin-top: var(--kbq-size-m);
    --kbq-markdown-p-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-list-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-list-size-margin-top: var(--kbq-size-m);
    --kbq-markdown-list-size-margin-bottom: var(--kbq-size-m);
    --kbq-markdown-list-size-margin-top-after-paragraph: calc(-1 * var(--kbq-size-s));
    --kbq-markdown-list-size-ol-number-padding-right: var(--kbq-size-xxs);
    --kbq-markdown-list-size-ul-padding: 0 0 0 var(--kbq-size-xxl);
    --kbq-markdown-list-size-item-margin-bottom: var(--kbq-size-s);
    --kbq-markdown-blockquote-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-blockquote-size-margin-top: var(--kbq-size-xl);
    --kbq-markdown-blockquote-size-margin-bottom: var(--kbq-size-xxl);
    --kbq-markdown-blockquote-size-padding: var(--kbq-size-m) var(--kbq-size-l);
    --kbq-markdown-blockquote-size-line-width: var(--kbq-size-xxs);
    --kbq-markdown-blockquote-size-border-radius: 0;
    --kbq-markdown-blockquote-size-border-width: 0;
    --kbq-markdown-code-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-code-size-multiline-margin-top: var(--kbq-size-s);
    --kbq-markdown-code-size-multiline-margin-bottom: var(--kbq-size-xxl);
    --kbq-markdown-code-size-inline-padding: 0 var(--kbq-size-xxs);
    --kbq-markdown-code-size-multiline-padding: 14px var(--kbq-size-xl);
    --kbq-markdown-code-size-border-radius: var(--kbq-size-border-radius);
    --kbq-markdown-code-size-border-width: var(--kbq-size-border-width);
    --kbq-markdown-link-size-icon-margin: var(--kbq-link-size-normal-content-padding, var(--kbq-size-xxs));
    --kbq-markdown-link-size-state-focused-outline-offset: var(--kbq-link-size-state-focused-outline-offset);
    --kbq-markdown-link-size-state-focused-outline-width: var(--kbq-link-size-state-focused-outline-width);
    --kbq-markdown-image-size-max-width: var(--kbq-markdown-size-max-width);
    --kbq-markdown-image-size-margin-top: var(--kbq-size-s);
    --kbq-markdown-image-size-margin-bottom: var(--kbq-size-s);
    --kbq-markdown-image-size-caption-margin-top: calc(-1 * var(--kbq-size-s));
    --kbq-markdown-image-size-caption-margin-bottom: var(--kbq-size-xxl);
    --kbq-markdown-hr-size-width: 1px;
    --kbq-markdown-hr-size-margin-vertical: var(--kbq-size-l);
    --kbq-markdown-table-size-border-width: var(--kbq-size-border-width);
    --kbq-markdown-table-size-padding: var(--kbq-size-s);
    --kbq-markdown-table-size-margin-bottom: var(--kbq-size-l);
    --kbq-markdown-size-max-width: 650px;
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-markdown-h1-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h2-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h3-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h4-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h5-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h6-color: var(--kbq-foreground-contrast);
    --kbq-markdown-p-color: var(--kbq-foreground-contrast);
    --kbq-markdown-list-color: var(--kbq-foreground-contrast);
    --kbq-markdown-blockquote-text: var(--kbq-foreground-contrast);
    --kbq-markdown-blockquote-line: var(--kbq-foreground-border);
    --kbq-markdown-blockquote-background: var(--kbq-background-contrast-fade);
    --kbq-markdown-blockquote-border: transparent;
    --kbq-markdown-code-text: var(--kbq-foreground-contrast);
    --kbq-markdown-code-background: var(--kbq-background-background-less-contrast);
    --kbq-markdown-code-border: var(--kbq-line-contrast-less);
    --kbq-markdown-link-text: var(--kbq-link-text);
    --kbq-markdown-link-border-bottom: var(--kbq-link-border-bottom);
    --kbq-markdown-link-state-visited-text: var(--kbq-link-state-visited-text);
    --kbq-markdown-link-state-visited-border-bottom: var(--kbq-link-state-visited-border-bottom);
    --kbq-markdown-link-state-hover-text: var(--kbq-link-state-hover-text);
    --kbq-markdown-link-state-hover-border-bottom: var(--kbq-link-state-hover-border-bottom);
    --kbq-markdown-link-state-active: var(--kbq-link-state-active-text);
    --kbq-markdown-link-state-focused-outline: var(--kbq-link-state-focused-outline);
    --kbq-markdown-image-caption-text: var(--kbq-foreground-text-less-contrast);
    --kbq-markdown-hr-color: var(--kbq-line-contrast-less);
    --kbq-markdown-table-header: var(--kbq-foreground-text-less-contrast);
    --kbq-markdown-table-body: var(--kbq-foreground-contrast);
    --kbq-markdown-table-border: var(--kbq-line-contrast-less);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-markdown-h1-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h2-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h3-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h4-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h5-color: var(--kbq-foreground-contrast);
    --kbq-markdown-h6-color: var(--kbq-foreground-contrast);
    --kbq-markdown-p-color: var(--kbq-foreground-contrast);
    --kbq-markdown-list-color: var(--kbq-foreground-contrast);
    --kbq-markdown-blockquote-text: var(--kbq-foreground-contrast);
    --kbq-markdown-blockquote-line: var(--kbq-foreground-border);
    --kbq-markdown-blockquote-background: var(--kbq-background-contrast-fade);
    --kbq-markdown-blockquote-border: transparent;
    --kbq-markdown-code-text: var(--kbq-foreground-contrast);
    --kbq-markdown-code-background: var(--kbq-background-background-less-contrast);
    --kbq-markdown-code-border: var(--kbq-line-contrast-less);
    --kbq-markdown-link-text: var(--kbq-link-text);
    --kbq-markdown-link-border-bottom: var(--kbq-link-border-bottom);
    --kbq-markdown-link-state-visited-text: var(--kbq-link-state-visited-text);
    --kbq-markdown-link-state-visited-border-bottom: var(--kbq-link-state-visited-border-bottom);
    --kbq-markdown-link-state-hover-text: var(--kbq-link-state-hover-text);
    --kbq-markdown-link-state-hover-border-bottom: var(--kbq-link-state-hover-border-bottom);
    --kbq-markdown-link-state-active: var(--kbq-link-state-active-text);
    --kbq-markdown-link-state-focused-outline: var(--kbq-link-state-focused-outline);
    --kbq-markdown-image-caption-text: var(--kbq-foreground-text-less-contrast);
    --kbq-markdown-hr-color: var(--kbq-line-contrast-less);
    --kbq-markdown-table-header: var(--kbq-foreground-text-less-contrast);
    --kbq-markdown-table-body: var(--kbq-foreground-contrast);
    --kbq-markdown-table-border: var(--kbq-line-contrast-less);
}
