@keyframes kbq-progress {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 29px 0;
    }
}

.kbq-progress {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        border-radius: inherit;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        $lighter: rgba(255, 255, 255, 0.04);
        $darker: rgba(0, 0, 0, 0.04);

        background: linear-gradient(135deg, $darker 10px, $lighter 10px, $lighter 20px, $darker 20px, $darker 30px, $lighter 31px) repeat;
        background-size: 32px 32px;
        animation: kbq-progress 1s linear infinite;
    }
}
