/**
* Add styling to external links to add consistent spacing around them.
* This mixin applies styles to links that:
* - Have the `target="_blank"` attribute (using the browser's default behavior for external links).
* - Have the `.external` class (used for custom handling of external link behavior).
*/
@mixin kbq-external-link-geometry() {
    .kbq-link.kbq-text-with-icon.kbq-external {
        .kbq-link__text:not(:last-child) {
            margin-right: 1px;
        }

        &.kbq-link_compact {
            .kbq-link__text:not(:last-child) {
                margin-right: 0;
            }

            .kbq-icon {
                margin-bottom: 1px;
            }
        }

        &.kbq-link_big {
            .kbq-link__text:not(:last-child) {
                margin-right: 2px;
            }
        }
    }
}
