@use 'sass:map';
@use './tokens' as *;


@mixin popup-params($theme) {
    $popup: map.get($theme, components, popup);

    box-shadow: kbq-css-variable(popup-shadow, map.get($popup, shadow));
    border-color: kbq-css-variable(popup-border, map.get($popup, border));

    background-color: kbq-css-variable(popup-background, map.get($popup, background));
}
