@use '../common/vendor-prefixes';
@use './tokens' as *;

%kbq-select-base {
    box-sizing: border-box;

    display: inline-block;

    width: 100%;

    outline: none;

    .kbq-select__matcher {
        display: flex;
        align-items: center;

        width: 100%;

        overflow: hidden;

        white-space: nowrap;

        // todo
        & > span {
            flex: 1;
            overflow: hidden;
        }
    }

    .kbq-select__trigger {
        display: flex;
        box-sizing: border-box;
        position: relative;

        cursor: pointer;

        height: calc(var(--kbq-form-field-size-height, var(--kbq-size-3xl)) - calc(var(--kbq-size-border-width) * 2));
    }

    .kbq-select__trigger.kbq-select__trigger_single,
    .kbq-select__trigger.kbq-select__trigger_multiple.kbq-select__trigger_empty {
        & .kbq-select__matcher {
            padding: calc(
                    var(--kbq-select-size-single-padding-vertical, var(--kbq-size-xs)) - var(--kbq-size-border-width)
                )
                calc(var(--kbq-select-size-single-padding-right, var(--kbq-size-xxs)) - var(--kbq-size-border-width))
                calc(var(--kbq-select-size-single-padding-vertical, var(--kbq-size-xs)) - var(--kbq-size-border-width))
                calc(var(--kbq-select-size-single-padding-left, var(--kbq-size-m)) - var(--kbq-size-border-width));
        }
    }

    .kbq-select__trigger.kbq-select__trigger_multiple:not(.kbq-select__trigger_empty) {
        & .kbq-select__matcher {
            padding: calc(
                    var(--kbq-select-size-multiple-padding-vertical, var(--kbq-size-xxs)) - var(--kbq-size-border-width)
                )
                calc(var(--kbq-select-size-multiple-padding-right, var(--kbq-size-xxs)) - var(--kbq-size-border-width))
                calc(
                    var(--kbq-select-size-multiple-padding-vertical, var(--kbq-size-xxs)) - var(--kbq-size-border-width)
                )
                calc(var(--kbq-select-size-multiple-padding-left, var(--kbq-size-xxs)) - var(--kbq-size-border-width));

            .kbq-select__match-container {
                display: flex;
            }

            .kbq-select__match-list {
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;

                height: calc(
                    var(--kbq-form-field-size-height, var(--kbq-size-3xl)) - calc(
                            var(--kbq-select-size-multiple-padding-vertical, var(--kbq-size-xxs)) * 2
                        )
                );

                max-height: calc(
                    var(--kbq-form-field-size-height, var(--kbq-size-3xl)) - calc(
                            var(--kbq-select-size-multiple-padding-vertical, var(--kbq-size-xxs)) * 2
                        )
                );

                gap: var(--kbq-select-size-multiple-content-gap, var(--kbq-size-xxs));

                margin-right: var(--kbq-select-size-multiple-content-gap, var(--kbq-size-xxs));
            }
        }
    }

    .kbq-select__match-container {
        width: 100%;

        text-overflow: ellipsis;
        overflow: hidden;

        & .kbq-select__match-hidden-text {
            flex: 0 0 70px;
            align-self: center;
            padding-left: 4px;
            padding-right: var(--kbq-select-size-multiple-content-gap, var(--kbq-size-xxs));

            text-align: right;
        }
    }

    .kbq-select__arrow-wrapper {
        display: flex;
        align-self: center;

        padding: 4px;

        // When used in a box or standard appearance form-field the arrow should be shifted up 50%.
        .kbq-form-field-appearance-fill &,
        .kbq-form-field-appearance-standard & {
            transform: translateY(-50%);
        }

        // When used in a outline form-field the arrow should be shifted up 25%.
        .kbq-form-field-appearance-outline & {
            transform: translateY(-25%);
        }
    }

    &.kbq-disabled {
        & .kbq-select__trigger {
            @include vendor-prefixes.user-select(none);

            cursor: default;
        }
    }
}

%kbq-select-panel {
    min-width: 100%; // prevents some animation twitching and test inconsistencies in IE11

    overflow: hidden;

    border-radius: var(--kbq-select-panel-size-border-radius, var(--kbq-size-border-radius));

    // Override optgroup and option to scale based on font-size of the trigger.
    .kbq-optgroup-label,
    .kbq-option {
        font-size: inherit;
    }

    .kbq-select__no-options-message {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;

        position: relative;

        max-width: 100%;
        height: var(--kbq-option-size-height, var(--kbq-size-3xl));

        cursor: default;
        outline: none;

        padding-left: var(--kbq-option-size-horizontal-padding, var(--kbq-size-m));
        padding-right: var(--kbq-option-size-horizontal-padding, var(--kbq-size-m));

        border: var(--kbq-option-size-border-width, var(--kbq-size-3xs)) solid transparent;
    }

    .kbq-select__search-container {
        border-bottom: {
            width: 1px;
            style: solid;
        }
    }
}

%kbq-select-content {
    max-height: var(--kbq-select-panel-size-max-height, 256px);
    padding: var(--kbq-size-xxs);
    overflow: hidden auto;
}

%kbq-select-footer {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    min-height: 40px;

    border-top-width: 1px;
    border-top-style: solid;

    padding: var(--kbq-size-xxs) var(--kbq-size-l);
}
