@use '../core/styles/common/tokens' as *;

.kbq-app-switcher-tree-option {
    position: relative;

    display: flex;
    flex-direction: row;

    height: 38px;

    border-radius: var(--kbq-size-s);

    padding: var(--kbq-size-xxs) var(--kbq-size-s) var(--kbq-size-xs) var(--kbq-size-m);

    gap: var(--kbq-size-m);

    & .kbq-tree-node-toggle {
        position: absolute;

        top: var(--kbq-size-m);
        left: var(--kbq-size-m);

        width: var(--kbq-size-xxl);
        height: var(--kbq-size-xxl);

        border-radius: var(--kbq-size-xxs);

        display: none;

        & .kbq-icon {
            transform: rotate(0deg);
        }

        &.kbq-expanded {
            & .kbq-icon {
                transform: rotate(180deg);
            }
        }
    }

    &.kbq-app-switcher-tree-option_nested {
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;

        &:after {
            content: '';

            position: absolute;
            left: -1px;
            top: 0;

            height: 100%;

            border-left-width: 1px;
            border-left-style: solid;
        }

        &:has(+ :not(.kbq-app-switcher-tree-option_nested)) {
            border-bottom-left-radius: var(--kbq-size-s);

            &:after {
                top: 0;

                width: var(--kbq-size-m);
                height: var(--kbq-size-xxl);

                border-bottom-left-radius: var(--kbq-size-s);
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }
        }
    }
}

.kbq-app-switch-option__container {
    display: flex;
    flex-direction: column;
}

.kbq-app-switcher-tree-option__icon {
    display: flex;
    align-items: center;

    height: 38px;
}


@mixin kbq-app-switcher-tree-option-theme() {
    .kbq-app-switcher-tree-option {
        &:hover,
        &.kbq-hover,
        &.kbq-focused {
            &:has(.kbq-tree-node-toggle) .kbq-app-switcher-tree-option__icon {
                visibility: hidden;
            }

            & .kbq-tree-node-toggle {
                display: flex;
            }
        }

        &:hover,
        &.kbq-hover {
            background: var(--kbq-states-background-transparent-hover);

            & .kbq-tree-node-toggle {
                background: var(--kbq-states-background-transparent-hover);
            }
        }

        &:active,
        &.kbq-active {
            background: var(--kbq-states-background-transparent-active);
        }

        &.kbq-selected {
            background: var(--kbq-background-theme-less);

            &:hover,
            &.kbq-hover {
                background: var(--kbq-states-background-theme-less-hover);
            }

            &:active,
            &.kbq-active {
                background: var(--kbq-states-background-theme-less-active);
            }
        }

        &.kbq-focused {
            outline: none;
        }
    }

    .kbq-app-switcher-tree-option_nested:after {
        border-left-color: var(--kbq-line-contrast-less);
        border-bottom-color: var(--kbq-line-contrast-less);
    }

    .kbq-app-switch-tree-option__text {
    }

    .kbq-app-switch-tree-option__alias {
        color: var(--kbq-foreground-contrast-secondary);
    }
}

@mixin kbq-app-switcher-tree-option-typography() {
    .kbq-app-switch-tree-option__text {
        @include kbq-typography-level-to-styles-css-variables(typography, text-normal-medium);
    }

    .kbq-app-switch-tree-option__alias {
        @include kbq-typography-level-to-styles-css-variables(typography, text-compact);
    }
}

@include kbq-app-switcher-tree-option-theme();
@include kbq-app-switcher-tree-option-typography();
