@use './app-switcher-theme' as *;

.kbq-app-switcher {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-top: var(--kbq-size-xxs);
    margin-bottom: var(--kbq-size-xxs);

    width: 320px;

    border-radius: var(--kbq-size-xs);

    box-shadow: var(--kbq-shadow-popup);

    box-sizing: border-box;

    z-index: 1;
}

.kbq-app-switcher__search-container {
    padding-top: var(--kbq-size-xxs);
}

.kbq-app-switcher__search-result {
    max-width: 320px;

    min-height: 0;

    padding: var(--kbq-size-s) var(--kbq-size-xxs);
}

.kbq-app-switcher__empty-search-result {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 96px;
}

.kbq-app-switcher__app-container {
    display: flex;
    flex-direction: column;
    min-height: 0;

    padding: var(--kbq-size-s) var(--kbq-size-xxs);
}

.kbq-app-switcher-group-header {
    padding: var(--kbq-size-s) var(--kbq-size-m);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kbq-app-switcher__sites-container {
    padding: var(--kbq-size-xxs);
}

@include kbq-app-switcher-theme();
@include kbq-app-switcher-typography();
