@use 'sass:map';

@use '../core/styles/theming/theming' as *;
@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-progress-bar-theme($theme) {
    $progress-bar: map.get(map.get($theme, components), progress-bar);

    .kbq-progress-bar.kbq-theme {
        .kbq-progress-bar__inner {
            background-color: kbq-css-variable(progress-bar-bar-background, map.get($progress-bar, bar, background));
        }

        .kbq-progress-bar__line {
            background-color: kbq-css-variable(progress-bar-bar-foreground, map.get($progress-bar, bar, foreground));
        }
    }

    .kbq-progress-bar-text {
        color: kbq-css-variable(progress-bar-text, map.get($progress-bar, text));
    }

    .kbq-progress-bar-caption {
        color: kbq-css-variable(progress-bar-caption, map.get($progress-bar, caption));
    }
}

@mixin kbq-progress-bar-typography($config) {
    .kbq-progress-bar-text {
        @include kbq-typography-css-variables(progress-bar, label);
    }

    .kbq-progress-bar-caption {
        @include kbq-typography-css-variables(progress-bar, caption);
    }
}
