.kbq-progress-bar {
    --kbq-progress-bar-size-container-content-gap: 8px;
    --kbq-progress-bar-size-container-border-radius: 2px;
    --kbq-progress-bar-size-bar-height: 4px;
    --kbq-progress-bar-size-bar-border-radius: 2px;
    --kbq-progress-bar-font-label-font-size: 14px;
    --kbq-progress-bar-font-label-line-height: 20px;
    --kbq-progress-bar-font-label-letter-spacing: -0.006em;
    --kbq-progress-bar-font-label-font-weight: normal;
    --kbq-progress-bar-font-label-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-progress-bar-font-label-text-transform: null;
    --kbq-progress-bar-font-label-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-progress-bar-font-caption-font-size: 12px;
    --kbq-progress-bar-font-caption-line-height: 16px;
    --kbq-progress-bar-font-caption-letter-spacing: normal;
    --kbq-progress-bar-font-caption-font-weight: normal;
    --kbq-progress-bar-font-caption-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-progress-bar-font-caption-text-transform: null;
    --kbq-progress-bar-font-caption-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-progress-bar-bar-background: hsla(229, 15%, 92%, 100%);
    --kbq-progress-bar-bar-foreground: hsla(216, 100%, 50%, 100%);
    --kbq-progress-bar-text-color: hsla(229, 15%, 15%, 100%);
    --kbq-progress-bar-caption-color: hsla(229, 15%, 50%, 100%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-progress-bar-bar-background: hsla(229, 15%, 25%, 100%);
    --kbq-progress-bar-bar-foreground: hsla(216, 100%, 65%, 100%);
    --kbq-progress-bar-text-color: hsla(229, 15%, 80%, 100%);
    --kbq-progress-bar-caption-color: hsla(229, 15%, 60%, 100%);
}
