.kbq-progress-bar {
    --kbq-progress-bar-size-container-content-gap: var(--kbq-size-s);
    --kbq-progress-bar-size-container-border-radius: var(--kbq-size-3xs);
    --kbq-progress-bar-size-bar-height: var(--kbq-size-xxs);
    --kbq-progress-bar-size-bar-border-radius: var(--kbq-size-3xs);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-progress-bar-bar-background: var(--kbq-background-contrast-fade);
    --kbq-progress-bar-bar-foreground: var(--kbq-icon-theme);
    --kbq-progress-bar-text-color: var(--kbq-foreground-contrast);
    --kbq-progress-bar-caption-color: var(--kbq-foreground-contrast-secondary);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-progress-bar-bar-background: var(--kbq-background-contrast-fade);
    --kbq-progress-bar-bar-foreground: var(--kbq-icon-theme);
    --kbq-progress-bar-text-color: var(--kbq-foreground-contrast);
    --kbq-progress-bar-caption-color: var(--kbq-foreground-contrast-secondary);
}
