@use '../core/styles/common/tokens' as *;

@mixin kbq-splitter-theme() {
    .kbq-gutter {
        cursor: col-resize;

        &:hover,
        &.kbq-gutter_dragged {
            background-color: rgba(106, 115, 150, 0.08);
        }

        &.kbq-gutter_vertical {
            cursor: row-resize;
        }

        &[disabled] {
            background-color: kbq-css-variable(background-background-disabled);

            cursor: default;
        }
    }

    .kbq-gutter-ghost {
        background: rgba(106, 115, 150, 0.16);
    }
}
