@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;

@mixin kbq-link-geometry($tokens) {
    display: inline;

    text-decoration: none;
    cursor: pointer;

    outline-offset: kbq-css-variable(link-size-state-focused-outline-offset);

    &:focus {
        outline: none;
    }

    &.kbq-text-only:not(.kbq-text-with-dot),
    &.kbq-text-with-icon .kbq-link__text,
    &.kbq-text-with-dot .kbq-link__text {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    &.kbq-text-with-icon .kbq-link__text {
        &:not(:first-child) {
            margin-left: kbq-css-variable(link-size-normal-content-padding);
        }

        &:not(:last-child) {
            margin-right: kbq-css-variable(link-size-normal-content-padding);
        }
    }

    &.kbq-link_compact {
        &.kbq-text-with-icon .kbq-link__text {
            &:not(:first-child) {
                margin-left: kbq-css-variable(link-size-compact-content-padding);
            }

            &:not(:last-child) {
                margin-right: kbq-css-variable(link-size-compact-content-padding);
            }
        }
    }

    &.kbq-link_big {
        &.kbq-text-with-icon .kbq-link__text {
            &:not(:first-child) {
                margin-left: kbq-css-variable(link-size-big-content-padding);
            }

            &:not(:last-child) {
                margin-right: kbq-css-variable(link-size-big-content-padding);
            }
        }
    }

    &.kbq-link_no-underline,
    &.kbq-link_pseudo {
        &.kbq-text-only,
        &.kbq-text-with-icon .kbq-link__text,
        &.kbq-text-with-dot .kbq-link__text {
            border-bottom-color: transparent;
        }
    }
}

@mixin kbq-link-state($component, $state-name: null) {
    $state: $component;
    $state-path: link;

    @if $state-name {
        $state: map.get($component, $state-name);
        $state-path: link-#{$state-name};
    }

    color: kbq-css-variable(#{$state-path}-text, map.get($state, text));

    &.kbq-text-only,
    &.kbq-text-with-icon .kbq-link__text,
    &.kbq-text-with-dot .kbq-link__text {
        border-bottom-color: kbq-css-variable(#{$state-path}-border-bottom, map.get($state, border-bottom));
    }

    & .kbq-icon {
        color: kbq-css-variable(#{$state-path}-text, map.get($state, text)) !important;
    }
}

@mixin kbq-link-theme($theme) {
    $link: map.get(map.get($theme, components), link);

    $tokens: map.get($theme, tokens);

    .kbq-link {
        @include kbq-link-geometry($tokens);

        @include kbq-link-state($link);

        transition: color ease-out 300ms;

        &:hover {
            transition: color 0ms;

            @include kbq-link-state($link, state-hover);
        }

        &:active,
        &.kbq-active {
            @include kbq-link-state($link, state-active);
        }

        &.kbq-link_use-visited:not(.kbq-disabled):visited {
            @include kbq-link-state($link, state-visited);

            &:hover {
                @include kbq-link-state($link, state-visited-hover);
            }

            &:active,
            &.kbq-active {
                @include kbq-link-state($link, state-visited-active);
            }
        }

        &.cdk-keyboard-focused {
            outline: kbq-css-variable(link-state-focused-outline, map.get($link, state-focused, outline)) solid;
        }

        &.kbq-disabled {
            cursor: default;
            pointer-events: none;

            @include kbq-link-state($link, state-disabled);
        }

        @media print {
            .kbq-link_print:not(.kbq-disabled) {
                &.kbq-text-only,
                &.kbq-text-with-icon .kbq-link__text,
                &.kbq-text-with-dot .kbq-link__text {
                    border-bottom: none;
                }

                &::after {
                    content: ':\a' attr(print);
                    white-space: pre;
                }
            }
        }
    }
}

@mixin kbq-link-typography($config) {
    .kbq-link {
        @include kbq-typography-css-variables(link, normal);

        & .kbq-icon {
            line-height: inherit;
            vertical-align: baseline;
        }
    }

    .kbq-link.kbq-link_compact {
        @include kbq-typography-css-variables(link, compact);
    }

    .kbq-link.kbq-link_big {
        @include kbq-typography-css-variables(link, big);
    }
}
