.kbq-link {
    --kbq-link-size-state-focused-outline-offset: 0px;
    --kbq-link-size-state-focused-outline-width: 2px;
    --kbq-link-size-compact-content-padding: var(--kbq-size-xxs);
    --kbq-link-size-normal-content-padding: var(--kbq-size-xxs);
    --kbq-link-size-big-content-padding: var(--kbq-size-xxs);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-link-text: var(--kbq-foreground-theme);
    --kbq-link-border-bottom: var(--kbq-line-theme-less);
    --kbq-link-state-visited-text: var(--kbq-foreground-visited);
    --kbq-link-state-visited-border-bottom: var(--kbq-line-visited);
    --kbq-link-state-visited-hover-text: var(--kbq-states-foreground-visited-hover);
    --kbq-link-state-visited-hover-border-bottom: var(--kbq-line-visited);
    --kbq-link-state-visited-active-text: var(--kbq-states-foreground-visited-active);
    --kbq-link-state-visited-active-border-bottom: var(--kbq-line-visited);
    --kbq-link-state-hover-text: var(--kbq-states-foreground-theme-hover);
    --kbq-link-state-hover-border-bottom: var(--kbq-line-theme-less);
    --kbq-link-state-active-text: var(--kbq-states-foreground-theme-active);
    --kbq-link-state-active-border-bottom: var(--kbq-line-theme-less);
    --kbq-link-state-focused-outline: var(--kbq-states-line-focus-theme);
    --kbq-link-state-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-link-state-disabled-border-bottom: var(--kbq-states-line-disabled);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-link-text: var(--kbq-foreground-theme);
    --kbq-link-border-bottom: var(--kbq-line-theme-less);
    --kbq-link-state-visited-text: var(--kbq-foreground-visited);
    --kbq-link-state-visited-border-bottom: var(--kbq-line-visited);
    --kbq-link-state-visited-hover-text: var(--kbq-states-foreground-visited-hover);
    --kbq-link-state-visited-hover-border-bottom: var(--kbq-line-visited);
    --kbq-link-state-visited-active-text: var(--kbq-states-foreground-visited-active);
    --kbq-link-state-visited-active-border-bottom: var(--kbq-line-visited);
    --kbq-link-state-hover-text: var(--kbq-states-foreground-theme-hover);
    --kbq-link-state-hover-border-bottom: var(--kbq-line-theme-less);
    --kbq-link-state-active-text: var(--kbq-states-foreground-theme-active);
    --kbq-link-state-active-border-bottom: var(--kbq-line-theme-less);
    --kbq-link-state-focused-outline: var(--kbq-states-line-focus-theme);
    --kbq-link-state-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-link-state-disabled-border-bottom: var(--kbq-states-line-disabled);
}
