dev-app {
    width: 608px;
    display: block;
    margin: var(--kbq-size-s);
}

.dev-custom-footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #b3b3b3;
}

.kbq-select__footer_icon {
    padding-left: 4px;
}
