.dev-container {
    max-width: 30%;

    border: 1px solid red;

    padding: 24px;
}

.dev-custom-footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #b3b3b3;
}

.kbq-select__footer_icon {
    padding-left: 4px;
}
