@use '../core/styles/common/tokens' as *;

@mixin kbq-list-item($state-name) {
    background: var(--kbq-list-#{$state-name}-container-background);

    .kbq-list-text {
        color: var(--kbq-list-#{$state-name}-text-color);
    }

    .kbq-icon {
        color: var(--kbq-list-#{$state-name}-icon-color);
    }

    .kbq-option-action .kbq-icon {
        color: var(--kbq-list-#{$state-name}-icon-button-color);
    }

    .kbq-list-option-caption {
        color: var(--kbq-list-#{$state-name}-caption-color);
    }
}

@mixin kbq-list-theme() {
    .kbq-list-option {
        @include kbq-list-item(default);

        &:hover:not(.kbq-disabled) {
            @include kbq-list-item(states-hover);
        }

        &.kbq-focused {
            border-color: var(--kbq-list-states-focused-focus-outline-color);
        }

        &.kbq-selected {
            @include kbq-list-item(states-selected);

            &:hover:not(.kbq-disabled) {
                @include kbq-list-item(states-selected-hover);
            }
        }

        &.kbq-disabled {
            @include kbq-list-item(states-disabled);
        }
    }
}

@mixin kbq-list-typography() {
    .kbq-list-item,
    .kbq-list-option {
        @include kbq-typography-level-to-styles-css-variables(typography, text-normal);

        .kbq-list-text {
            .kbq-list-option-caption {
                @include kbq-typography-level-to-styles-css-variables(typography, text-compact);
            }
        }
    }
}
