.kbq-list, .kbq-list-selection {
    --kbq-list-size-container-padding-left: 12px;
    --kbq-list-size-container-padding-right: 12px;
    --kbq-list-size-container-padding-vertical: 6px;
    --kbq-list-size-container-content-gap-horizontal: 8px;
    --kbq-list-size-container-content-gap-vertical: 2px;
    --kbq-list-size-container-focus-outline-width: 2px;
    --kbq-list-size-text-padding-vertical: 0;
    --kbq-list-size-header-padding-top: 8px;
    --kbq-list-size-header-padding-bottom: 4px;
    --kbq-list-size-header-padding-horizontal: 12px;
    --kbq-list-size-subheading-padding-top: 12px;
    --kbq-list-size-subheading-padding-bottom: 4px;
    --kbq-list-size-subheading-padding-horizontal: 12px;
    --kbq-list-font-text-font-size: 14px;
    --kbq-list-font-text-line-height: 20px;
    --kbq-list-font-text-letter-spacing: -0.006em;
    --kbq-list-font-text-font-weight: normal;
    --kbq-list-font-text-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-list-font-text-text-transform: null;
    --kbq-list-font-text-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-list-font-caption-font-size: 12px;
    --kbq-list-font-caption-line-height: 16px;
    --kbq-list-font-caption-letter-spacing: normal;
    --kbq-list-font-caption-font-weight: normal;
    --kbq-list-font-caption-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-list-font-caption-text-transform: null;
    --kbq-list-font-caption-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-list-font-header-font-size: 16px;
    --kbq-list-font-header-line-height: 24px;
    --kbq-list-font-header-letter-spacing: -0.011em;
    --kbq-list-font-header-font-weight: 600;
    --kbq-list-font-header-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-list-font-header-text-transform: null;
    --kbq-list-font-header-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-list-font-subheading-font-size: 12px;
    --kbq-list-font-subheading-line-height: 16px;
    --kbq-list-font-subheading-letter-spacing: 1px;
    --kbq-list-font-subheading-font-weight: 500;
    --kbq-list-font-subheading-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-list-font-subheading-text-transform: uppercase;
    --kbq-list-font-subheading-font-feature-settings: "calt", "case", "kern", "liga", "ss01", "ss04";
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-list-default-container-background: transparent;
    --kbq-list-default-text-color: hsla(229, 15%, 15%, 100%);
    --kbq-list-default-icon-color: hsla(229, 15%, 15%, 100%);
    --kbq-list-default-icon-button-color: hsla(229, 15%, 60%, 100%);
    --kbq-list-default-caption-color: hsla(229, 15%, 50%, 100%);
    --kbq-list-states-hover-container-background: hsla(229, 15%, 50%, 8%);
    --kbq-list-states-hover-text-color: hsla(229, 15%, 15%, 100%);
    --kbq-list-states-hover-icon-color: hsla(229, 15%, 15%, 100%);
    --kbq-list-states-hover-icon-button-color: hsla(229, 15%, 60%, 100%);
    --kbq-list-states-selected-container-background: hsla(216, 100%, 94%, 100%);
    --kbq-list-states-selected-text-color: hsla(229, 15%, 15%, 100%);
    --kbq-list-states-selected-icon-color: hsla(229, 15%, 15%, 100%);
    --kbq-list-states-selected-icon-button-color: hsla(229, 15%, 60%, 100%);
    --kbq-list-states-selected-hover-container-background: hsla(216, 100%, 90%, 100%);
    --kbq-list-states-selected-hover-text-color: hsla(229, 15%, 15%, 100%);
    --kbq-list-states-selected-hover-icon-color: hsla(229, 15%, 15%, 100%);
    --kbq-list-states-selected-hover-icon-button-color: hsla(229, 15%, 60%, 100%);
    --kbq-list-states-focused-focus-outline-color: hsla(216, 100%, 60%, 100%);
    --kbq-list-states-disabled-container-background: transparent;
    --kbq-list-states-disabled-text-color: hsla(229, 15%, 15%, 32%);
    --kbq-list-states-disabled-icon-color: hsla(229, 15%, 15%, 32%);
    --kbq-list-states-disabled-icon-button-color: hsla(229, 15%, 15%, 32%);
    --kbq-list-states-disabled-caption-color: hsla(229, 15%, 15%, 32%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-list-default-container-background: transparent;
    --kbq-list-default-text-color: hsla(229, 15%, 80%, 100%);
    --kbq-list-default-icon-color: hsla(229, 15%, 80%, 100%);
    --kbq-list-default-icon-button-color: hsla(229, 15%, 45%, 100%);
    --kbq-list-default-caption-color: hsla(229, 15%, 60%, 100%);
    --kbq-list-states-hover-container-background: hsla(229, 15%, 50%, 16%);
    --kbq-list-states-hover-text-color: hsla(229, 15%, 80%, 100%);
    --kbq-list-states-hover-icon-color: hsla(229, 15%, 80%, 100%);
    --kbq-list-states-hover-icon-button-color: hsla(229, 15%, 45%, 100%);
    --kbq-list-states-selected-container-background: hsla(216, 100%, 18%, 100%);
    --kbq-list-states-selected-text-color: hsla(229, 15%, 80%, 100%);
    --kbq-list-states-selected-icon-color: hsla(229, 15%, 80%, 100%);
    --kbq-list-states-selected-icon-button-color: hsla(229, 15%, 45%, 100%);
    --kbq-list-states-selected-hover-container-background: hsla(216, 100%, 15%, 100%);
    --kbq-list-states-selected-hover-text-color: hsla(229, 15%, 80%, 100%);
    --kbq-list-states-selected-hover-icon-color: hsla(229, 15%, 80%, 100%);
    --kbq-list-states-selected-hover-icon-button-color: hsla(229, 15%, 45%, 100%);
    --kbq-list-states-focused-focus-outline-color: hsla(216, 100%, 60%, 100%);
    --kbq-list-states-disabled-container-background: transparent;
    --kbq-list-states-disabled-text-color: hsla(229, 15%, 40%, 100%);
    --kbq-list-states-disabled-icon-color: hsla(229, 15%, 30%, 100%);
    --kbq-list-states-disabled-icon-button-color: hsla(229, 15%, 30%, 100%);
    --kbq-list-states-disabled-caption-color: hsla(229, 15%, 40%, 100%);
}
