:host {
    position: relative;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.kbq-overflow-items__item,
.kbq-overflow-items__result {
    display: flex;
    align-items: center;

    &.kbq-overflow-items__item_hidden,
    &.kbq-overflow-items__result_hidden {
        visibility: hidden;
        position: absolute;
    }
}
