@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;

@mixin kbq-tab-item-state($component, $type, $sub-type, $style-name) {
    $style: map.get($component, $type, $sub-type, $style-name);

    $base: tabs-tab-item-#{$type}-#{$sub-type}-#{$style-name};

    background: kbq-css-variable(#{$base}-background, map.get($style, background));
    color: kbq-css-variable(#{$base}-text, map.get($style, text));

    & .kbq-icon {
        color: kbq-css-variable(#{$base}-icon, map.get($style, icon));
    }
}

@mixin kbq-tab-item-style($component, $type, $sub-type) {
    @include kbq-tab-item-state($component, $type, $sub-type, default);

    &:hover:not(.kbq-disabled) {
        @include kbq-tab-item-state($component, $type, $sub-type, states-hover);
    }

    &.kbq-selected {
        @include kbq-tab-item-state($component, $type, $sub-type, states-selected);

        &:hover {
            @include kbq-tab-item-state($component, $type, $sub-type, states-selected-hover);
        }
    }

    &.cdk-keyboard-focused {
        border-color: kbq-css-variable(tabs-tab-item-#{$type}-#{$sub-type}-states-focused-border-color, map.get($component, $type, $sub-type, states-focused, border-color));
    }

    &.kbq-disabled {
        @include kbq-tab-item-state($component, $type, $sub-type, states-disabled);

        &.kbq-selected {
            @include kbq-tab-item-state($component, $type, $sub-type, states-selected-disabled);
        }
    }
}

//noinspection ALL
@mixin kbq-tabs-theme($theme) {
    $tab-item: map.get(map.get($theme, components), tab-item);
    $tab-stack: map.get(map.get($theme, components), tab-stack);

    .kbq-tab-group {
        &.kbq-tab-group_filled {
            &.kbq-tab-group_on-background {
                .kbq-tab-header {
                    background: kbq-css-variable(tabs-tab-stack-filled-on-background-background, map.get($tab-stack, filled, on-background, background));
                }

                & .kbq-tab-label {
                    @include kbq-tab-item-style($tab-item, filled, on-background);
                }
            }

            &.kbq-tab-group_on-surface {
                .kbq-tab-header {
                    background: kbq-css-variable(tabs-tab-stack-filled-on-surface-background, map.get($tab-stack, filled, on-surface, background));
                }

                & .kbq-tab-label {
                    @include kbq-tab-item-style($tab-item, filled, on-background);
                }
            }
        }

        &.kbq-tab-group_transparent {
            &.kbq-tab-group_on-background {
                .kbq-tab-header {
                    background: kbq-css-variable(tabs-tab-stack-transparent-on-background-background, map.get($tab-stack, transparent, on-background, background));
                }

                & .kbq-tab-label {
                    @include kbq-tab-item-style($tab-item, transparent, on-background);
                }
            }

            &.kbq-tab-group_on-surface {
                .kbq-tab-header {
                    background: kbq-css-variable(tabs-tab-stack-transparent-on-surface-background, map.get($tab-stack, transparent, on-surface, background));
                }

                & .kbq-tab-label {
                    @include kbq-tab-item-style($tab-item, transparent, on-background);
                }
            }
        }
    }

    .kbq-tab-nav-bar {
        &.kbq-tab-nav-bar_filled {
            &.kbq-tab-nav-bar_on-background {
                .kbq-tab-header {
                    background: kbq-css-variable(tabs-tab-stack-filled-on-background-background, map.get($tab-stack, filled, on-background, background));
                }

                & .kbq-tab-link {
                    @include kbq-tab-item-style($tab-item, filled, on-background);
                }
            }

            &.kbq-tab-nav-bar_on-surface {
                .kbq-tab-header {
                    background: kbq-css-variable(tabs-tab-stack-filled-on-surface-background, map.get($tab-stack, filled, on-surface, background));
                }

                & .kbq-tab-link {
                    @include kbq-tab-item-style($tab-item, filled, on-background);
                }
            }
        }

        &.kbq-tab-nav-bar_transparent {
            &.kbq-tab-nav-bar_on-background {
                .kbq-tab-header {
                    background: kbq-css-variable(tabs-tab-stack-transparent-on-background-background, map.get($tab-stack, transparent, on-background, background));
                }

                & .kbq-tab-link {
                    @include kbq-tab-item-style($tab-item, transparent, on-background);
                }
            }

            &.kbq-tab-nav-bar_on-surface {
                .kbq-tab-header {
                    background: kbq-css-variable(tabs-tab-stack-transparent-on-surface-background, map.get($tab-stack, transparent, on-surface, background));
                }

                & .kbq-tab-link {
                    @include kbq-tab-item-style($tab-item, transparent, on-background);
                }
            }
        }
    }
}

@mixin kbq-tabs-typography($config) {
    .kbq-tab-label,
    .kbq-tab-link {
        @include kbq-typography-css-variables(tabs, text);
    }
}
