@use '../core/styles/common/tokens' as *;

@mixin tab-label {
    position: relative;

    box-sizing: border-box;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    white-space: nowrap;

    cursor: pointer;

    padding: kbq-difference-series-css-variables(
            [tabs-size-tab-item-padding-vertical,
            tabs-size-tab-item-focus-outline-width]
        )
        kbq-difference-series-css-variables(
            [tabs-size-tab-item-padding-horizontal,
            tabs-size-tab-item-focus-outline-width]
        );

    border: {
        width: kbq-css-variable(tabs-size-tab-item-focus-outline-width);
        style: solid;
        color: transparent;
        radius: kbq-css-variable(tabs-size-tab-item-border-radius);
    }

    outline: none;

    &.kbq-selected {
        cursor: default;
    }

    &.cdk-keyboard-focused {
        z-index: 1;
    }

    &.kbq-disabled {
        pointer-events: none;
    }

    & .kbq-tab-label__content {
        display: flex;
        align-items: center;

        gap: kbq-css-variable(tabs-size-tab-item-content-gap-horizontal);
    }

    &.kbq-tab-label_vertical {
        justify-content: flex-start;

        & .kbq-tab-label__content {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
