@use '../core/styles/common/tokens' as *;

@mixin tab-label {
    position: relative;

    box-sizing: border-box;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    white-space: nowrap;

    cursor: pointer;

    padding: kbq-difference-series-css-variables(
            [tabs-size-tab-item-padding-vertical,
            tabs-size-tab-item-focus-outline-width]
        )
        kbq-difference-series-css-variables(
            [tabs-size-tab-item-padding-horizontal,
            tabs-size-tab-item-focus-outline-width]
        );

    border: {
        width: kbq-css-variable(tabs-size-tab-item-focus-outline-width);
        style: solid;
        color: transparent;
        radius: kbq-css-variable(tabs-size-tab-item-border-radius);
    }

    outline: none;

    &.kbq-tab-label_underlined:not(.kbq-tab-label_vertical) {
        padding-left: 14px;
        padding-right: 14px;
    }

    &.kbq-tab-label_underlined:not(.kbq-tab-label_vertical).kbq-tab-label_with-icon-left {
        padding-left: kbq-difference-series-css-variables(
            [tabs-size-tab-item-padding-horizontal,
            tabs-size-tab-item-focus-outline-width]
        );
    }

    &.kbq-tab-label_underlined:not(.kbq-tab-label_vertical).kbq-tab-label_with-icon-right {
        padding-right: kbq-difference-series-css-variables(
            [tabs-size-tab-item-padding-horizontal,
            tabs-size-tab-item-focus-outline-width]
        );
    }

    &.kbq-selected {
        cursor: default;
    }

    &.cdk-keyboard-focused {
        z-index: 1;
    }

    &.kbq-disabled {
        pointer-events: none;
    }

    & .kbq-tab-label__content {
        display: flex;
        align-items: center;

        gap: kbq-css-variable(tabs-size-tab-item-content-gap-horizontal);
    }

    &.kbq-tab-label_underlined:not(.kbq-tab-label_vertical):before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: -10px;
        bottom: -10px;
    }

    &.kbq-tab-label_underlined:not(.kbq-tab-label_vertical).kbq-selected:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px;
        height: 3px;
        border-radius: 2px 2px 0 0;
        background: rgba(33, 34, 44, 1);
    }

    &.kbq-tab-label_vertical {
        justify-content: flex-start;

        & .kbq-tab-label__content {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
