@use '../core/styles/common/vendor-prefixes';
@use 'tabs-common' as *;

.kbq-tab-header {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.kbq-tab-list__content {
    display: flex;

    .kbq-tab-group_align-labels-center & {
        justify-content: center;
    }

    .kbq-tab-group_align-labels-end & {
        justify-content: flex-end;
    }
}

.kbq-tab-header_vertical .kbq-tab-list__content {
    flex-direction: column;
}

.kbq-tab-header_with-border:not(.kbq-tab-header_vertical) .kbq-tab-list__content {
    padding: 8px 0;
    border-bottom: 1px solid rgba(13, 14, 18, 0.12);
}

.kbq-tab-header__pagination {
    @include vendor-prefixes.user-select(none);

    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;

    padding-left: 12px;
    padding-right: 12px;

    .kbq-tab-header__pagination-controls_enabled & {
        display: flex;
    }
}

.kbq-tab-header__content {
    display: flex;
    flex-grow: 1;

    z-index: 1;
    overflow: hidden;
}

.kbq-tab-list {
    position: relative;

    width: 100%;

    transition: transform 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.kbq-tab-label {
    @include tab-label;
    @include vendor-prefixes.user-select(none);

    .kbq-tab-group_stretch-labels & {
        flex-basis: 0;
        flex-grow: 1;
    }
}
