@use './tabs-common';

@include tabs-common.paginated-tab-header();

.kbq-tab-nav-bar {
    display: flex;
    position: relative;

    .kbq-tab-link__container {
        display: flex;
        flex-grow: 1;
        z-index: 1;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &.kbq-tab-header_underlined:not(.kbq-tab-header__pagination-controls_enabled) .kbq-tab-link__container {
        overflow: visible;
    }

    .kbq-tab-list {
        position: relative;
        width: 100%;
    }

    .kbq-tab-list__content {
        display: flex;
    }

    &.kbq-tab-group_vertical {
        .kbq-tab-link__container {
            overflow-x: hidden;
            overflow-y: scroll;
            scrollbar-width: auto;

            &::-webkit-scrollbar {
                display: block;
            }
        }

        .kbq-tab-list__content {
            flex-direction: column;
            gap: var(--kbq-tabs-size-tab-stack-vertical-content-gap-vertical);
        }
    }
}
