.kbq-tab-group,
.kbq-tab-nav-bar {
    --kbq-tabs-size-tab-item-padding-horizontal: 12px;
    --kbq-tabs-size-tab-item-padding-vertical: 6px;
    --kbq-tabs-size-tab-item-content-gap-horizontal: 4px;
    --kbq-tabs-size-tab-item-border-radius: 8px;
    --kbq-tabs-size-tab-item-focus-outline-width: 2px;
    --kbq-tabs-size-tab-stack-horizontal-border-radius: 8px;
    --kbq-tabs-size-tab-stack-vertical-content-gap-vertical: 8px;
    --kbq-tabs-font-text-font-size: 14px;
    --kbq-tabs-font-text-line-height: 20px;
    --kbq-tabs-font-text-letter-spacing: -0.006em;
    --kbq-tabs-font-text-font-weight: 500;
    --kbq-tabs-font-text-text-transform: null;
    --kbq-tabs-font-text-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-tabs-font-text-font-family: var(--kbq-typography-text-normal-medium-font-family);
}

:root {
    --kbq-typography-text-normal-medium-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue', Arial, sans-serif;
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-tabs-tab-item-filled-on-background-default-background: transparent;
    --kbq-tabs-tab-item-filled-on-background-default-text-color: hsla(229, 15%, 15%, 100%);
    --kbq-tabs-tab-item-filled-on-background-default-icon-color: hsla(229, 15%, 15%, 100%);
    --kbq-tabs-tab-item-filled-on-background-states-hover-background: hsla(229, 15%, 50%, 8%);
    --kbq-tabs-tab-item-filled-on-background-states-focused-focus-outline-color: hsla(216, 100%, 60%, 100%);
    --kbq-tabs-tab-item-filled-on-background-states-selected-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-filled-on-background-states-selected-hover-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-text-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-icon-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-filled-on-background-states-disabled-background: transparent;
    --kbq-tabs-tab-item-filled-on-background-states-disabled-text-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-filled-on-background-states-disabled-icon-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-filled-on-surface-default-background: transparent;
    --kbq-tabs-tab-item-filled-on-surface-default-text-color: hsla(229, 15%, 15%, 100%);
    --kbq-tabs-tab-item-filled-on-surface-default-icon-color: hsla(229, 15%, 15%, 100%);
    --kbq-tabs-tab-item-filled-on-surface-states-hover-background: hsla(229, 15%, 50%, 8%);
    --kbq-tabs-tab-item-filled-on-surface-states-focused-focus-outline-color: hsla(216, 100%, 60%, 100%);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-hover-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-text-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-icon-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-background: transparent;
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-text-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-icon-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-transparent-on-background-default-background: transparent;
    --kbq-tabs-tab-item-transparent-on-background-default-text-color: hsla(229, 15%, 15%, 100%);
    --kbq-tabs-tab-item-transparent-on-background-default-icon-color: hsla(229, 15%, 15%, 100%);
    --kbq-tabs-tab-item-transparent-on-background-states-hover-background: hsla(229, 15%, 50%, 8%);
    --kbq-tabs-tab-item-transparent-on-background-states-focused-focus-outline-color: hsla(216, 100%, 60%, 100%);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-hover-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-text-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-icon-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-background: transparent;
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-text-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-icon-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-transparent-on-surface-default-background: transparent;
    --kbq-tabs-tab-item-transparent-on-surface-default-text-color: hsla(229, 15%, 15%, 100%);
    --kbq-tabs-tab-item-transparent-on-surface-default-icon-color: hsla(229, 15%, 15%, 100%);
    --kbq-tabs-tab-item-transparent-on-surface-states-hover-background: hsla(229, 15%, 50%, 8%);
    --kbq-tabs-tab-item-transparent-on-surface-states-focused-focus-outline-color: hsla(216, 100%, 60%, 100%);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-hover-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-text-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-icon-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-background: transparent;
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-text-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-icon-color: hsla(229, 15%, 15%, 32%);
    --kbq-tabs-tab-stack-filled-on-background-background: hsla(0, 0%, 100%, 100%);
    --kbq-tabs-tab-stack-filled-on-surface-background: hsla(229, 15%, 92%, 100%);
    --kbq-tabs-tab-stack-transparent-on-background-background: transparent;
    --kbq-tabs-tab-stack-transparent-on-surface-background: transparent;
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-tabs-tab-item-filled-on-background-default-background: transparent;
    --kbq-tabs-tab-item-filled-on-background-default-text-color: hsla(229, 15%, 80%, 100%);
    --kbq-tabs-tab-item-filled-on-background-default-icon-color: hsla(229, 15%, 80%, 100%);
    --kbq-tabs-tab-item-filled-on-background-states-hover-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-filled-on-background-states-focused-focus-outline-color: hsla(216, 100%, 60%, 100%);
    --kbq-tabs-tab-item-filled-on-background-states-selected-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-filled-on-background-states-selected-hover-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-text-color: hsla(229, 15%, 40%, 100%);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-icon-color: hsla(229, 15%, 30%, 100%);
    --kbq-tabs-tab-item-filled-on-background-states-disabled-background: transparent;
    --kbq-tabs-tab-item-filled-on-background-states-disabled-text-color: hsla(229, 15%, 40%, 100%);
    --kbq-tabs-tab-item-filled-on-background-states-disabled-icon-color: hsla(229, 15%, 30%, 100%);
    --kbq-tabs-tab-item-filled-on-surface-default-background: transparent;
    --kbq-tabs-tab-item-filled-on-surface-default-text-color: hsla(229, 15%, 80%, 100%);
    --kbq-tabs-tab-item-filled-on-surface-default-icon-color: hsla(229, 15%, 80%, 100%);
    --kbq-tabs-tab-item-filled-on-surface-states-hover-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-filled-on-surface-states-focused-focus-outline-color: hsla(216, 100%, 60%, 100%);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-hover-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-text-color: hsla(229, 15%, 40%, 100%);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-icon-color: hsla(229, 15%, 30%, 100%);
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-background: transparent;
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-text-color: hsla(229, 15%, 40%, 100%);
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-icon-color: hsla(229, 15%, 30%, 100%);
    --kbq-tabs-tab-item-transparent-on-background-default-background: transparent;
    --kbq-tabs-tab-item-transparent-on-background-default-text-color: hsla(229, 15%, 80%, 100%);
    --kbq-tabs-tab-item-transparent-on-background-default-icon-color: hsla(229, 15%, 80%, 100%);
    --kbq-tabs-tab-item-transparent-on-background-states-hover-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-transparent-on-background-states-focused-focus-outline-color: hsla(216, 100%, 60%, 100%);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-hover-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-text-color: hsla(229, 15%, 40%, 100%);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-icon-color: hsla(229, 15%, 30%, 100%);
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-background: transparent;
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-text-color: hsla(229, 15%, 40%, 100%);
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-icon-color: hsla(229, 15%, 30%, 100%);
    --kbq-tabs-tab-item-transparent-on-surface-default-background: transparent;
    --kbq-tabs-tab-item-transparent-on-surface-default-text-color: hsla(229, 15%, 80%, 100%);
    --kbq-tabs-tab-item-transparent-on-surface-default-icon-color: hsla(229, 15%, 80%, 100%);
    --kbq-tabs-tab-item-transparent-on-surface-states-hover-background: hsla(229, 15%, 50%, 16%);
    --kbq-tabs-tab-item-transparent-on-surface-states-focused-focus-outline-color: hsla(216, 100%, 60%, 100%);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-hover-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-background: hsla(229, 100%, 85%, 15%);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-text-color: hsla(229, 15%, 40%, 100%);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-icon-color: hsla(229, 15%, 30%, 100%);
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-background: transparent;
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-text-color: hsla(229, 15%, 40%, 100%);
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-icon-color: hsla(229, 15%, 30%, 100%);
    --kbq-tabs-tab-stack-filled-on-background-background: hsla(229, 15%, 12%, 100%);
    --kbq-tabs-tab-stack-filled-on-surface-background: hsla(229, 15%, 25%, 100%);
    --kbq-tabs-tab-stack-transparent-on-background-background: transparent;
    --kbq-tabs-tab-stack-transparent-on-surface-background: transparent;
}
