/* stylelint-disable no-unknown-custom-properties */

.kbq-tab-group, .kbq-tab-nav-bar {
    --kbq-tabs-size-tab-item-padding-horizontal: var(--kbq-size-m);
    --kbq-tabs-size-tab-item-padding-vertical: var(--kbq-size-xs);
    --kbq-tabs-size-tab-item-content-gap-horizontal: var(--kbq-size-xxs);
    --kbq-tabs-size-tab-item-border-radius: var(--kbq-size-s);
    --kbq-tabs-size-tab-item-focus-outline-width: var(--kbq-size-3xs);
    --kbq-tabs-size-tab-stack-horizontal-border-radius: var(--kbq-size-s);
    --kbq-tabs-size-tab-stack-vertical-content-gap-vertical: var(--kbq-size-s);
    --kbq-tabs-font-text-font-size: var(--kbq-typography-text-normal-medium-font-size);
    --kbq-tabs-font-text-line-height: var(--kbq-typography-text-normal-medium-line-height);
    --kbq-tabs-font-text-letter-spacing: var(--kbq-typography-text-normal-medium-letter-spacing);
    --kbq-tabs-font-text-font-weight: var(--kbq-typography-text-normal-medium-font-weight);
    --kbq-tabs-font-text-font-family: var(--kbq-typography-text-normal-medium-font-family);
    --kbq-tabs-font-text-text-transform: var(--kbq-typography-text-normal-medium-text-transform);
    --kbq-tabs-font-text-font-feature-settings: var(--kbq-typography-text-normal-medium-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-tabs-tab-item-filled-on-background-default-background: transparent;
    --kbq-tabs-tab-item-filled-on-background-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tabs-tab-item-filled-on-background-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tabs-tab-item-filled-on-background-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-tabs-tab-item-filled-on-background-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tabs-tab-item-filled-on-background-states-selected-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-background-states-selected-hover-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-filled-on-background-states-disabled-background: transparent;
    --kbq-tabs-tab-item-filled-on-background-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-filled-on-background-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-filled-on-surface-default-background: transparent;
    --kbq-tabs-tab-item-filled-on-surface-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tabs-tab-item-filled-on-surface-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tabs-tab-item-filled-on-surface-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-tabs-tab-item-filled-on-surface-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-hover-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-background: transparent;
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-transparent-on-background-default-background: transparent;
    --kbq-tabs-tab-item-transparent-on-background-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tabs-tab-item-transparent-on-background-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tabs-tab-item-transparent-on-background-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-tabs-tab-item-transparent-on-background-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-hover-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-background: transparent;
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-transparent-on-surface-default-background: transparent;
    --kbq-tabs-tab-item-transparent-on-surface-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tabs-tab-item-transparent-on-surface-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tabs-tab-item-transparent-on-surface-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-tabs-tab-item-transparent-on-surface-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-hover-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-background: transparent;
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-stack-filled-on-background-background: var(--kbq-background-bg);
    --kbq-tabs-tab-stack-filled-on-surface-background: var(--kbq-background-contrast-fade);
    --kbq-tabs-tab-stack-transparent-on-background-background: transparent;
    --kbq-tabs-tab-stack-transparent-on-surface-background: transparent;
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-tabs-tab-item-filled-on-background-default-background: transparent;
    --kbq-tabs-tab-item-filled-on-background-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tabs-tab-item-filled-on-background-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tabs-tab-item-filled-on-background-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-tabs-tab-item-filled-on-background-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tabs-tab-item-filled-on-background-states-selected-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-background-states-selected-hover-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-filled-on-background-states-selected-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-filled-on-background-states-disabled-background: transparent;
    --kbq-tabs-tab-item-filled-on-background-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-filled-on-background-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-filled-on-surface-default-background: transparent;
    --kbq-tabs-tab-item-filled-on-surface-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tabs-tab-item-filled-on-surface-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tabs-tab-item-filled-on-surface-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-tabs-tab-item-filled-on-surface-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-hover-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-filled-on-surface-states-selected-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-background: transparent;
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-filled-on-surface-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-transparent-on-background-default-background: transparent;
    --kbq-tabs-tab-item-transparent-on-background-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tabs-tab-item-transparent-on-background-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tabs-tab-item-transparent-on-background-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-tabs-tab-item-transparent-on-background-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-hover-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-transparent-on-background-states-selected-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-background: transparent;
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-transparent-on-background-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-transparent-on-surface-default-background: transparent;
    --kbq-tabs-tab-item-transparent-on-surface-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tabs-tab-item-transparent-on-surface-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tabs-tab-item-transparent-on-surface-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-tabs-tab-item-transparent-on-surface-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-hover-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-background: var(--kbq-states-background-transparent-active);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-transparent-on-surface-states-selected-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-background: transparent;
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tabs-tab-item-transparent-on-surface-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tabs-tab-stack-filled-on-background-background: var(--kbq-background-bg);
    --kbq-tabs-tab-stack-filled-on-surface-background: var(--kbq-background-contrast-fade);
    --kbq-tabs-tab-stack-transparent-on-background-background: transparent;
    --kbq-tabs-tab-stack-transparent-on-surface-background: transparent;
}
