@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-table-theme($theme) {
    $foreground: map.get($theme, foreground);
    $states-background: map.get(map.get($theme, states), background);
    $line: map.get($theme, line);

    .kbq-table {
        & > thead {
            color: map.get($foreground, contrast-secondary);

            & > tr > th {
                border-bottom-color: map.get($line, contrast-fade);
            }
        }

        & > tbody {
            & > tr {
                &:hover td {
                    background-color: map.get($states-background, transparent-hover);
                }

                & > th,
                & > td {
                    color: map.get($foreground, contrast);
                }
            }
        }

        &.kbq-table_bordered {
            & > tbody > tr {
                & th,
                & td {
                    border-bottom-color: map.get($line, contrast-fade);
                }
            }
        }
    }
}

@mixin kbq-table-typography($config) {
    .kbq-table {
        & > thead {
            & > tr > th {
                font-weight: normal;
            }

            @include kbq-typography-level-to-styles($config, getToken(table-font-header));
        }

        & > tbody {
            & > tr > th {
                font-weight: normal;
            }

            @include kbq-typography-level-to-styles($config, getToken(table-font-body));
        }
    }
}

