@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-table-theme($theme) {
    $foreground: map.get($theme, foreground);
    $states-background: map.get($theme, states, background);
    $line: map.get($theme, line);

    .kbq-table {
        & > thead {
            color: kbq-css-variable(foreground-contrast-secondary, map.get($foreground, contrast-secondary));

            & > tr > th {
                border-bottom-color: kbq-css-variable(line-contrast-fade, map.get($line, contrast-fade));
            }
        }

        & > tbody {
            & > tr {
                & > th,
                & > td {
                    color: kbq-css-variable(foreground-contrast, map.get($foreground, contrast));
                }

                &:hover td {
                    background-color: kbq-css-variable(
                        states-background-transparent-hover, map.get($states-background, transparent-hover));
                }
            }
        }

        &.kbq-table_bordered {
            & > tbody > tr {
                & th,
                & td {
                    border-bottom-color: kbq-css-variable(line-contrast-fade, map.get($line, contrast-fade));
                }
            }
        }
    }
}

@mixin kbq-table-typography($config) {
    .kbq-table {
        & > thead {
            & > tr > th {
                font-weight: normal;
            }

            @include kbq-typography-css-variables(table, header);
        }

        & > tbody {
            & > tr > th {
                font-weight: normal;
            }

            @include kbq-typography-css-variables(table, body);
        }
    }
}

