/* stylelint-disable no-unknown-custom-properties */

.kbq-table {
    --kbq-table-size-border-width: var(--kbq-size-border-width);
    --kbq-table-size-row-padding-vertical: 10px;
    --kbq-table-size-row-padding-horizontal: var(--kbq-size-s);
}
