@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;


$tokens: meta.module-variables(tokens) !default;

.kbq-table {
    border-spacing: 0;

    & > thead,
    & > tbody,
    & > tfoot {
        & > tr {
            & > th,
            & > td {
                padding: {
                    top: cssVar(table-size-row-padding-vertical);
                    right: cssVar(table-size-row-padding-horizontal);
                    bottom: cssVar(table-size-row-padding-vertical);
                    left: cssVar(table-size-row-padding-horizontal);
                };

                vertical-align: baseline;
                text-align: left;
            }
        }
    }

    & > thead {
        & > tr > th {
            border-bottom-width: cssVar(table-size-border-width);
            border-bottom-style: solid;
        }
    }

    .kbq-table-cell_has-button {
        padding-top: cssVar(size-xxs);
        padding-bottom: cssVar(size-xxs);
    }
}
.kbq-table.kbq-table_bordered {
    & > tbody > tr {
        & th,
        & td {
            border-bottom-width: cssVar(table-size-border-width);
            border-bottom-style: solid;
        }
    }
}

.kbq-table:not(.kbq-table_bordered) {
    & > tbody > tr {
        & > td:first-child {
            border-top-left-radius: cssVar(size-m);
            border-bottom-left-radius: cssVar(size-m);
        }

        & > td:last-child {
            border-top-right-radius: cssVar(size-m);
            border-bottom-right-radius: cssVar(size-m);
        }

        &:first-child {
            & > td:first-child {
                border-top-left-radius: 0;
            }

            & > td:last-child {
                border-top-right-radius: 0;
            }
        }
    }
}
