.kbq-table {
    --kbq-table-size-border-width: var(--kbq-size-border-width);
    --kbq-table-size-row-padding-vertical: 10px;
    --kbq-table-size-row-padding-horizontal: var(--kbq-size-s);
    --kbq-table-font-header-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-table-font-header-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-table-font-header-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-table-font-header-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-table-font-header-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-table-font-header-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-table-font-header-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
    --kbq-table-font-body-font-size: var(--kbq-typography-tabular-normal-font-size);
    --kbq-table-font-body-line-height: var(--kbq-typography-tabular-normal-line-height);
    --kbq-table-font-body-letter-spacing: var(--kbq-typography-tabular-normal-letter-spacing);
    --kbq-table-font-body-font-weight: var(--kbq-typography-tabular-normal-font-weight);
    --kbq-table-font-body-font-family: var(--kbq-typography-tabular-normal-font-family);
    --kbq-table-font-body-text-transform: var(--kbq-typography-tabular-normal-text-transform);
    --kbq-table-font-body-font-feature-settings: var(--kbq-typography-tabular-normal-font-feature-settings);
}
