@use '../main';

.example-column-container {
    display: flex;
    flex-direction: column;

    margin-left: 15px;
    margin-right: 15px;

    gap: 16px;

    border-radius: var(--kbq-size-border-radius);
    border: 1px solid var(--kbq-line-contrast-less);
    padding: var(--kbq-size-l);
}
