button-toggle-alignment-overview-example .kbq-button-toggle-group_stretched {
    width: 100%;
}

button-toggle-alignment-overview-example .kbq-button-toggle-group_stretched .kbq-button-toggle {
    flex: 1;
}

button-toggle-alignment-overview-example .kbq-button-toggle-group_stretched > .kbq-button-toggle > .kbq-button {
    flex: 1;
}

button-toggle-alignment-overview-example .kbq-button-toggle-group .kbq-button-toggle > .kbq-button .kbq-button-wrapper,
button-toggle-alignment-overview-example .kbq-button-toggle-group .kbq-button-toggle > .kbq-button-icon .kbq-button-wrapper {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: unset;
}
