#font-classes-table tbody tr td {
    vertical-align: middle;
    text-align: left;
}

#font-classes-table tbody tr td:first-child > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#font-classes-table tbody tr td:last-child {
    vertical-align: baseline;
}

#font-classes-table tbody tr {
    border-bottom: 1px solid var(--kbq-line-contrast-less);
}

@media (max-width: 768px) {
    #font-classes-table > tbody > tr:hover td {
        background-color: unset;
    }

    #font-classes-table thead {
        display: none;
    }

    #font-classes-table tbody tr td {
        border-bottom: unset;
    }

    #font-classes-table tbody tr {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--kbq-line-contrast-less);
    }

    #font-classes-table tbody tr td:first-child {
        width: 90%;
    }

    #font-classes-table tbody tr td:last-child {
        padding-bottom: var(--kbq-size-l);
    }
}

@media (769px <= width <= 1279px) {
    #font-classes-table tbody tr td:first-child > div {
        max-width: 217px;
    }
}

@media (1280px <= width <= 1920px) {
    #font-classes-table tbody tr td:first-child > div {
        max-width: 380px;
    }
}
