@use '@koobiq/icons/fonts/kbq-icons';

@use '../components/core/styles/theming/prebuilt/theme';

@use '../components/core/styles/visual/layout';

@use '../components/core/styles/common/list';

@use '../../apps/docs/src/styles/koobiq';

@use '../../apps/docs/src/styles/fonts';

@use '../components/core/styles/common/tokens';

@include layout.layouts-for-breakpoint();

body {
    @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);

    background: var(--kbq-background-bg);
    color: var(--kbq-foreground-contrast);
    margin: 0;
}

hr {
    margin: var(--kbq-size-xxl) 0;
}

.e2e-nav {
    display: flex;
    flex-wrap: wrap;
    gap: var(--kbq-size-xs);
}
