@use 'button-base' as *;

@use '../core/styles/common/tokens' as *;

@use './button-theme' as *;

/* stylelint-disable no-unknown-custom-properties */

.kbq-button {
    @extend %kbq-button-base;

    // base padding + compensation (4px) - border-width (2px)
    padding-left: kbq-sum-series-css-variables([button-size-horizontal-padding, 4px]);
    padding-right: kbq-sum-series-css-variables([button-size-horizontal-padding, 4px]);

    &.kbq-button-icon_left {
        padding-left: var(--kbq-button-size-horizontal-padding);
    }

    &.kbq-button-icon_right {
        padding-right: var(--kbq-button-size-horizontal-padding);
    }
}

.kbq-light-button {
    @extend %kbq-button-base;
}

.kbq-button-icon {
    @extend %kbq-button-base;

    padding-left: var(--kbq-button-icon-size-horizontal-padding);

    padding-right: var(--kbq-button-icon-size-horizontal-padding);
}

.kbq-button-overlay {
    position: absolute;

    top: calc(-1 * #{var(--kbq-button-size-border-width)});
    left: calc(-1 * #{var(--kbq-button-size-border-width)});
    right: calc(-1 * #{var(--kbq-button-size-border-width)});
    bottom: calc(-1 * #{var(--kbq-button-size-border-width)});

    border-radius: inherit;
}

@include kbq-button-theme();
@include kbq-button-typography();
