@use '../dist/components/core/styles/theming';
@use '../dist/components/core/styles/common/tokens';

@mixin kbq-docs-icons-viewer-theme() {
    .docs-icons-viewer__header {
        background: var(--kbq-background-bg);
    }

    .docs-icons-viewer__header-text {
        color: var(--kbq-foreground-contrast);
    }

    .docs-icons-viewer__table-cell {
        background: var(--kbq-background-bg);
        border-color: var(--kbq-divider-color, var(--kbq-line-contrast-less));

        > .docs-icons-viewer__table-cell-name {
            color: var(--kbq-foreground-contrast-secondary);
        }

        &:focus {
            outline: 2px solid var(--kbq-theme-default);
        }

        &:hover {
            background: var(--kbq-states-background-transparent-hover);
        }

        &:active {
            background: var(--kbq-states-background-transparent-active);
        }
    }

    .docs-icon-preview-modal__preview-area {
        background: var(--kbq-background-bg-secondary);
    }
}

@mixin kbq-docs-icons-viewer-typography() {
    .docs-icon-preview-modal .kbq-modal-header.kbq-modal-title {
        @include tokens.kbq-typography-level-to-styles-css-variables(typography, title);
    }

    .docs-icons-viewer__header .kbq-input,
    .docs-icons-viewer__table-cell-name,
    .docs-icon-preview-modal__content .kbq-select,
    .docs-icon-preview-modal__buttons .kbq-button,
    .kbq-select-overlay .docs-icon-preview-modal__select-option,
    .docs-icon-preview-modal__description .kbq-dd,
    .docs-icon-preview-modal__description .kbq-badge {
        @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-big);
    }

    .docs-icons-viewer__table-empty-results {
        @include tokens.kbq-typography-level-to-styles-css-variables(typography, display-compact);
    }
}
