dist
node_modules

# eslint ignores root level "dot" files by default
!/.*.js

# ignore build tokens
/apps/docs/src/styles/koobiq/default-theme/

# ignore nunjuck templates
/tools/api-gen/rendering/templates

# ignore index.html
**/index.html

# ignore mocks
**/mock.ts
