# firebase artifacts
.firebase

# compiled output
dist
temp
tmp
out-tsc
.angular
.eslintcache
.stylelintcache

# dependencies
node_modules/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/

# system Files
.DS_Store

# git
.gitconfig

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
