.fixed-content__example-button-group {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.fixed-content__example-button {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fixed-content__example-button .kbq-button-wrapper {
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
