.dev-container {
    max-width: 400px;

    border: 1px solid red;

    padding: 24px;

    display: flex;
    flex-direction: column;

    margin-bottom: 24px;

    &:last-of-type {
        margin-bottom: 0;
    }
}
