.kbq-radio-button {
    --kbq-radio-size-normal-outer-size: 16px;
    --kbq-radio-size-normal-inner-size: 6px;
    --kbq-radio-size-normal-horizontal-content-padding: 8px;
    --kbq-radio-size-normal-vertical-content-padding: 2px;
    --kbq-radio-size-normal-vertical-gap: 12px;
    --kbq-radio-size-normal-top: 0;
    --kbq-radio-size-big-outer-size: 16px;
    --kbq-radio-size-big-inner-size: 6px;
    --kbq-radio-size-big-horizontal-content-padding: 8px;
    --kbq-radio-size-big-vertical-content-padding: 2px;
    --kbq-radio-size-big-vertical-gap: 12px;
    --kbq-radio-size-big-top: 2px;
    --kbq-radio-font-normal-label-font-size: 14px;
    --kbq-radio-font-normal-label-line-height: 20px;
    --kbq-radio-font-normal-label-letter-spacing: -0.006em;
    --kbq-radio-font-normal-label-font-weight: normal;
    --kbq-radio-font-normal-label-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-radio-font-normal-label-text-transform: null;
    --kbq-radio-font-normal-label-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-radio-font-normal-caption-font-size: 12px;
    --kbq-radio-font-normal-caption-line-height: 16px;
    --kbq-radio-font-normal-caption-letter-spacing: normal;
    --kbq-radio-font-normal-caption-font-weight: normal;
    --kbq-radio-font-normal-caption-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-radio-font-normal-caption-text-transform: null;
    --kbq-radio-font-normal-caption-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-radio-font-big-label-font-size: 16px;
    --kbq-radio-font-big-label-line-height: 24px;
    --kbq-radio-font-big-label-letter-spacing: -0.011em;
    --kbq-radio-font-big-label-font-weight: normal;
    --kbq-radio-font-big-label-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-radio-font-big-label-text-transform: null;
    --kbq-radio-font-big-label-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
    --kbq-radio-font-big-caption-font-size: 14px;
    --kbq-radio-font-big-caption-line-height: 20px;
    --kbq-radio-font-big-caption-letter-spacing: -0.006em;
    --kbq-radio-font-big-caption-font-weight: normal;
    --kbq-radio-font-big-caption-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-radio-font-big-caption-text-transform: null;
    --kbq-radio-font-big-caption-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-foreground-contrast: hsla(229, 15%, 15%, 100%);
    --kbq-foreground-contrast-secondary: hsla(229, 15%, 50%, 100%);
    --kbq-foreground-contrast-tertiary: hsla(229, 15%, 60%, 100%);
    --kbq-radio-theme-default-outer-circle-border: hsla(229, 15%, 80%, 100%);
    --kbq-radio-theme-default-outer-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-theme-default-inner-circle-background: transparent;
    --kbq-radio-theme-default-caption: hsla(229, 15%, 50%, 100%);
    --kbq-radio-theme-states-hover-outer-circle-border: hsla(229, 15%, 80%, 100%);
    --kbq-radio-theme-states-hover-outer-circle-background: hsla(229, 15%, 50%, 8%);
    --kbq-radio-theme-states-hover-inner-circle-background: transparent;
    --kbq-radio-theme-states-checked-outer-circle-border: transparent;
    --kbq-radio-theme-states-checked-outer-circle-background: hsla(216, 100%, 50%, 100%);
    --kbq-radio-theme-states-checked-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-theme-states-checked-hover-outer-circle-border: hsla(216, 100%, 45%, 100%);
    --kbq-radio-theme-states-checked-hover-outer-circle-background: hsla(216, 100%, 45%, 100%);
    --kbq-radio-theme-states-checked-hover-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-theme-states-checked-disabled-outer-circle-border: hsla(229, 15%, 50%, 32%);
    --kbq-radio-theme-states-checked-disabled-outer-circle-background: hsla(229, 15%, 50%, 16%);
    --kbq-radio-theme-states-checked-disabled-inner-circle-background: hsla(229, 15%, 15%, 32%);
    --kbq-radio-theme-states-focused-outer-circle-border: transparent;
    --kbq-radio-theme-states-focused-outer-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-theme-states-focused-inner-circle-background: transparent;
    --kbq-radio-theme-states-focused-outer-circle-shadow: 0 0 0.1px 2px hsla(216, 100%, 60%, 100%);
    --kbq-radio-theme-states-checked-focused-outer-circle-border: transparent;
    --kbq-radio-theme-states-checked-focused-outer-circle-background: hsla(216, 100%, 50%, 100%);
    --kbq-radio-theme-states-checked-focused-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-theme-states-checked-focused-outer-circle-shadow: 0 0 0.1px 2px hsla(216, 100%, 60%, 100%);
    --kbq-radio-theme-states-disabled-outer-circle-border: hsla(229, 15%, 50%, 32%);
    --kbq-radio-theme-states-disabled-outer-circle-background: hsla(229, 15%, 50%, 16%);
    --kbq-radio-theme-states-disabled-inner-circle-background: transparent;
    --kbq-radio-theme-states-disabled-caption: hsla(229, 15%, 15%, 32%);
    --kbq-radio-error-default-outer-circle-border: hsla(7, 97%, 45%, 100%);
    --kbq-radio-error-default-outer-circle-background: hsla(7, 97%, 99%, 100%);
    --kbq-radio-error-default-inner-circle-background: transparent;
    --kbq-radio-error-states-hover-outer-circle-border: hsla(7, 97%, 45%, 100%);
    --kbq-radio-error-states-hover-outer-circle-background: hsla(7, 97%, 92%, 100%);
    --kbq-radio-error-states-hover-inner-circle-background: transparent;
    --kbq-radio-error-states-checked-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-outer-circle-background: hsla(7, 97%, 60%, 100%);
    --kbq-radio-error-states-checked-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-error-states-checked-hover-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-hover-outer-circle-background: hsla(7, 97%, 56%, 100%);
    --kbq-radio-error-states-checked-hover-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-error-states-checked-disabled-outer-circle-border: hsla(229, 15%, 50%, 32%);
    --kbq-radio-error-states-checked-disabled-outer-circle-background: hsla(229, 15%, 50%, 16%);
    --kbq-radio-error-states-checked-disabled-inner-circle-background: hsla(229, 15%, 15%, 32%);
    --kbq-radio-error-states-focused-outer-circle-border: transparent;
    --kbq-radio-error-states-focused-outer-circle-background: hsla(7, 97%, 99%, 100%);
    --kbq-radio-error-states-focused-inner-circle-background: transparent;
    --kbq-radio-error-states-focused-outer-circle-shadow: 0 0 0.1px 2px hsla(7, 97%, 45%, 100%);
    --kbq-radio-error-states-checked-focused-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-focused-outer-circle-background: hsla(7, 97%, 60%, 100%);
    --kbq-radio-error-states-checked-focused-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-error-states-checked-focused-outer-circle-shadow: 0 0 0.1px 2px hsla(7, 97%, 45%, 100%);
    --kbq-radio-error-states-disabled-outer-circle-border: hsla(229, 15%, 50%, 32%);
    --kbq-radio-error-states-disabled-outer-circle-background: hsla(229, 15%, 50%, 16%);
    --kbq-radio-error-states-disabled-inner-circle-background: transparent;
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-foreground-contrast: hsla(229, 15%, 80%, 100%);
    --kbq-foreground-contrast-secondary: hsla(229, 15%, 60%, 100%);
    --kbq-foreground-contrast-tertiary: hsla(229, 15%, 45%, 100%);
    --kbq-radio-theme-default-outer-circle-border: hsla(229, 15%, 30%, 100%);
    --kbq-radio-theme-default-outer-circle-background: hsla(229, 15%, 12%, 100%);
    --kbq-radio-theme-default-inner-circle-background: transparent;
    --kbq-radio-theme-default-caption: hsla(229, 15%, 60%, 100%);
    --kbq-radio-theme-states-hover-outer-circle-border: hsla(229, 15%, 30%, 100%);
    --kbq-radio-theme-states-hover-outer-circle-background: hsla(229, 15%, 50%, 16%);
    --kbq-radio-theme-states-hover-inner-circle-background: transparent;
    --kbq-radio-theme-states-checked-outer-circle-border: transparent;
    --kbq-radio-theme-states-checked-outer-circle-background: hsla(216, 100%, 50%, 100%);
    --kbq-radio-theme-states-checked-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-theme-states-checked-hover-outer-circle-border: hsla(216, 100%, 45%, 100%);
    --kbq-radio-theme-states-checked-hover-outer-circle-background: hsla(216, 100%, 45%, 100%);
    --kbq-radio-theme-states-checked-hover-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-theme-states-checked-disabled-outer-circle-border: hsla(229, 15%, 50%, 32%);
    --kbq-radio-theme-states-checked-disabled-outer-circle-background: hsla(229, 15%, 50%, 16%);
    --kbq-radio-theme-states-checked-disabled-inner-circle-background: hsla(229, 15%, 30%, 100%);
    --kbq-radio-theme-states-focused-outer-circle-border: transparent;
    --kbq-radio-theme-states-focused-outer-circle-background: hsla(229, 15%, 12%, 100%);
    --kbq-radio-theme-states-focused-inner-circle-background: transparent;
    --kbq-radio-theme-states-focused-outer-circle-shadow: 0 0 0.1px 2px hsla(216, 100%, 60%, 100%);
    --kbq-radio-theme-states-checked-focused-outer-circle-border: transparent;
    --kbq-radio-theme-states-checked-focused-outer-circle-background: hsla(216, 100%, 50%, 100%);
    --kbq-radio-theme-states-checked-focused-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-theme-states-checked-focused-outer-circle-shadow: 0 0 0.1px 2px hsla(216, 100%, 60%, 100%);
    --kbq-radio-theme-states-disabled-outer-circle-border: hsla(229, 15%, 50%, 32%);
    --kbq-radio-theme-states-disabled-outer-circle-background: hsla(229, 15%, 50%, 16%);
    --kbq-radio-theme-states-disabled-inner-circle-background: transparent;
    --kbq-radio-theme-states-disabled-caption: hsla(229, 15%, 40%, 100%);
    --kbq-radio-error-default-outer-circle-border: hsla(7, 97%, 35%, 100%);
    --kbq-radio-error-default-outer-circle-background: hsla(7, 97%, 6%, 100%);
    --kbq-radio-error-default-inner-circle-background: transparent;
    --kbq-radio-error-states-hover-outer-circle-border: hsla(7, 97%, 35%, 100%);
    --kbq-radio-error-states-hover-outer-circle-background: hsla(7, 97%, 13%, 100%);
    --kbq-radio-error-states-hover-inner-circle-background: transparent;
    --kbq-radio-error-states-checked-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-outer-circle-background: hsla(7, 97%, 41%, 100%);
    --kbq-radio-error-states-checked-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-error-states-checked-hover-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-hover-outer-circle-background: hsla(7, 97%, 42%, 100%);
    --kbq-radio-error-states-checked-hover-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-error-states-checked-disabled-outer-circle-border: hsla(229, 15%, 50%, 32%);
    --kbq-radio-error-states-checked-disabled-outer-circle-background: hsla(229, 15%, 50%, 16%);
    --kbq-radio-error-states-checked-disabled-inner-circle-background: hsla(229, 15%, 30%, 100%);
    --kbq-radio-error-states-focused-outer-circle-border: transparent;
    --kbq-radio-error-states-focused-outer-circle-background: hsla(7, 97%, 6%, 100%);
    --kbq-radio-error-states-focused-inner-circle-background: transparent;
    --kbq-radio-error-states-focused-outer-circle-shadow: 0 0 0.1px 2px hsla(7, 97%, 45%, 100%);
    --kbq-radio-error-states-checked-focused-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-focused-outer-circle-background: hsla(7, 97%, 41%, 100%);
    --kbq-radio-error-states-checked-focused-inner-circle-background: hsla(0, 0%, 100%, 100%);
    --kbq-radio-error-states-checked-focused-outer-circle-shadow: 0 0 0.1px 2px hsla(7, 97%, 45%, 100%);
    --kbq-radio-error-states-disabled-outer-circle-border: hsla(229, 15%, 50%, 32%);
    --kbq-radio-error-states-disabled-outer-circle-background: hsla(229, 15%, 50%, 16%);
    --kbq-radio-error-states-disabled-inner-circle-background: transparent;
}
