.kbq-radio-button {
    --kbq-radio-size-normal-outer-size: var(--kbq-size-l);
    --kbq-radio-size-normal-inner-size: var(--kbq-size-xs);
    --kbq-radio-size-normal-horizontal-content-padding: var(--kbq-size-s);
    --kbq-radio-size-normal-vertical-content-padding: var(--kbq-size-3xs);
    --kbq-radio-size-normal-vertical-gap: var(--kbq-size-m);
    --kbq-radio-size-normal-top: 0;
    --kbq-radio-size-big-outer-size: var(--kbq-size-l);
    --kbq-radio-size-big-inner-size: var(--kbq-size-xs);
    --kbq-radio-size-big-horizontal-content-padding: var(--kbq-size-s);
    --kbq-radio-size-big-vertical-content-padding: var(--kbq-size-3xs);
    --kbq-radio-size-big-vertical-gap: var(--kbq-size-m);
    --kbq-radio-size-big-top: var(--kbq-size-3xs);
    --kbq-radio-font-normal-label-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-radio-font-normal-label-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-radio-font-normal-label-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-radio-font-normal-label-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-radio-font-normal-label-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-radio-font-normal-label-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-radio-font-normal-label-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
    --kbq-radio-font-normal-caption-font-size: var(--kbq-typography-text-compact-font-size);
    --kbq-radio-font-normal-caption-line-height: var(--kbq-typography-text-compact-line-height);
    --kbq-radio-font-normal-caption-letter-spacing: var(--kbq-typography-text-compact-letter-spacing);
    --kbq-radio-font-normal-caption-font-weight: var(--kbq-typography-text-compact-font-weight);
    --kbq-radio-font-normal-caption-font-family: var(--kbq-typography-text-compact-font-family);
    --kbq-radio-font-normal-caption-text-transform: var(--kbq-typography-text-compact-text-transform);
    --kbq-radio-font-normal-caption-font-feature-settings: var(--kbq-typography-text-compact-font-feature-settings);
    --kbq-radio-font-big-label-font-size: var(--kbq-typography-text-big-font-size);
    --kbq-radio-font-big-label-line-height: var(--kbq-typography-text-big-line-height);
    --kbq-radio-font-big-label-letter-spacing: var(--kbq-typography-text-big-letter-spacing);
    --kbq-radio-font-big-label-font-weight: var(--kbq-typography-text-big-font-weight);
    --kbq-radio-font-big-label-font-family: var(--kbq-typography-text-big-font-family);
    --kbq-radio-font-big-label-text-transform: var(--kbq-typography-text-big-text-transform);
    --kbq-radio-font-big-label-font-feature-settings: var(--kbq-typography-text-big-font-feature-settings);
    --kbq-radio-font-big-caption-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-radio-font-big-caption-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-radio-font-big-caption-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-radio-font-big-caption-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-radio-font-big-caption-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-radio-font-big-caption-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-radio-font-big-caption-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-radio-theme-default-outer-circle-border: var(--kbq-line-contrast-fade);
    --kbq-radio-theme-default-outer-circle-background: var(--kbq-background-bg);
    --kbq-radio-theme-default-inner-circle-background: transparent;
    --kbq-radio-theme-default-caption: var(--kbq-foreground-contrast-secondary);
    --kbq-radio-theme-states-hover-outer-circle-border: var(--kbq-line-contrast-fade);
    --kbq-radio-theme-states-hover-outer-circle-background: var(--kbq-states-background-transparent-hover);
    --kbq-radio-theme-states-hover-inner-circle-background: transparent;
    --kbq-radio-theme-states-checked-outer-circle-border: transparent;
    --kbq-radio-theme-states-checked-outer-circle-background: var(--kbq-background-theme);
    --kbq-radio-theme-states-checked-inner-circle-background: var(--kbq-foreground-white);
    --kbq-radio-theme-states-checked-hover-outer-circle-border: var(--kbq-states-background-theme-hover);
    --kbq-radio-theme-states-checked-hover-outer-circle-background: var(--kbq-states-background-theme-hover);
    --kbq-radio-theme-states-checked-hover-inner-circle-background: var(--kbq-foreground-white);
    --kbq-radio-theme-states-checked-disabled-outer-circle-border: var(--kbq-states-line-disabled);
    --kbq-radio-theme-states-checked-disabled-outer-circle-background: var(--kbq-states-background-disabled);
    --kbq-radio-theme-states-checked-disabled-inner-circle-background: var(--kbq-states-icon-disabled);
    --kbq-radio-theme-states-focused-outer-circle-border: transparent;
    --kbq-radio-theme-states-focused-outer-circle-background: var(--kbq-background-bg);
    --kbq-radio-theme-states-focused-inner-circle-background: transparent;
    --kbq-radio-theme-states-focused-outer-circle-shadow: 0 0 0.1px 2px var(--kbq-states-line-focus-theme);
    --kbq-radio-theme-states-checked-focused-outer-circle-border: transparent;
    --kbq-radio-theme-states-checked-focused-outer-circle-background: var(--kbq-background-theme);
    --kbq-radio-theme-states-checked-focused-inner-circle-background: var(--kbq-foreground-white);
    --kbq-radio-theme-states-checked-focused-outer-circle-shadow: 0 0 0.1px 2px var(--kbq-states-line-focus-theme);
    --kbq-radio-theme-states-disabled-outer-circle-border: var(--kbq-states-line-disabled);
    --kbq-radio-theme-states-disabled-outer-circle-background: var(--kbq-states-background-disabled);
    --kbq-radio-theme-states-disabled-inner-circle-background: transparent;
    --kbq-radio-theme-states-disabled-caption: var(--kbq-states-foreground-disabled);
    --kbq-radio-error-default-outer-circle-border: var(--kbq-line-error);
    --kbq-radio-error-default-outer-circle-background: var(--kbq-background-error-less);
    --kbq-radio-error-default-inner-circle-background: transparent;
    --kbq-radio-error-states-hover-outer-circle-border: var(--kbq-line-error);
    --kbq-radio-error-states-hover-outer-circle-background: var(--kbq-states-background-error-fade-hover);
    --kbq-radio-error-states-hover-inner-circle-background: transparent;
    --kbq-radio-error-states-checked-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-outer-circle-background: var(--kbq-background-error);
    --kbq-radio-error-states-checked-inner-circle-background: var(--kbq-icon-white);
    --kbq-radio-error-states-checked-hover-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-hover-outer-circle-background: var(--kbq-states-background-error-hover);
    --kbq-radio-error-states-checked-hover-inner-circle-background: var(--kbq-icon-white);
    --kbq-radio-error-states-checked-disabled-outer-circle-border: var(--kbq-states-line-disabled);
    --kbq-radio-error-states-checked-disabled-outer-circle-background: var(--kbq-states-background-disabled);
    --kbq-radio-error-states-checked-disabled-inner-circle-background: var(--kbq-states-icon-disabled);
    --kbq-radio-error-states-focused-outer-circle-border: transparent;
    --kbq-radio-error-states-focused-outer-circle-background: var(--kbq-states-background-error-less);
    --kbq-radio-error-states-focused-inner-circle-background: transparent;
    --kbq-radio-error-states-focused-outer-circle-shadow: 0 0 0.1px 2px var(--kbq-states-line-focus-error);
    --kbq-radio-error-states-checked-focused-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-focused-outer-circle-background: var(--kbq-background-error);
    --kbq-radio-error-states-checked-focused-inner-circle-background: var(--kbq-icon-white);
    --kbq-radio-error-states-checked-focused-outer-circle-shadow: 0 0 0.1px 2px var(--kbq-states-line-focus-error);
    --kbq-radio-error-states-disabled-outer-circle-border: var(--kbq-states-line-disabled);
    --kbq-radio-error-states-disabled-outer-circle-background: var(--kbq-states-background-disabled);
    --kbq-radio-error-states-disabled-inner-circle-background: transparent;
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-radio-theme-default-outer-circle-border: var(--kbq-line-contrast-fade);
    --kbq-radio-theme-default-outer-circle-background: var(--kbq-background-bg);
    --kbq-radio-theme-default-inner-circle-background: transparent;
    --kbq-radio-theme-default-caption: var(--kbq-foreground-contrast-secondary);
    --kbq-radio-theme-states-hover-outer-circle-border: var(--kbq-line-contrast-fade);
    --kbq-radio-theme-states-hover-outer-circle-background: var(--kbq-states-background-transparent-hover);
    --kbq-radio-theme-states-hover-inner-circle-background: transparent;
    --kbq-radio-theme-states-checked-outer-circle-border: transparent;
    --kbq-radio-theme-states-checked-outer-circle-background: var(--kbq-background-theme);
    --kbq-radio-theme-states-checked-inner-circle-background: var(--kbq-foreground-white);
    --kbq-radio-theme-states-checked-hover-outer-circle-border: var(--kbq-states-background-theme-hover);
    --kbq-radio-theme-states-checked-hover-outer-circle-background: var(--kbq-states-background-theme-hover);
    --kbq-radio-theme-states-checked-hover-inner-circle-background: var(--kbq-foreground-white);
    --kbq-radio-theme-states-checked-disabled-outer-circle-border: var(--kbq-states-line-disabled);
    --kbq-radio-theme-states-checked-disabled-outer-circle-background: var(--kbq-states-background-disabled);
    --kbq-radio-theme-states-checked-disabled-inner-circle-background: var(--kbq-states-icon-disabled);
    --kbq-radio-theme-states-focused-outer-circle-border: transparent;
    --kbq-radio-theme-states-focused-outer-circle-background: var(--kbq-background-bg);
    --kbq-radio-theme-states-focused-inner-circle-background: transparent;
    --kbq-radio-theme-states-focused-outer-circle-shadow: 0 0 0.1px 2px var(--kbq-states-line-focus-theme);
    --kbq-radio-theme-states-checked-focused-outer-circle-border: transparent;
    --kbq-radio-theme-states-checked-focused-outer-circle-background: var(--kbq-background-theme);
    --kbq-radio-theme-states-checked-focused-inner-circle-background: var(--kbq-foreground-white);
    --kbq-radio-theme-states-checked-focused-outer-circle-shadow: 0 0 0.1px 2px var(--kbq-states-line-focus-theme);
    --kbq-radio-theme-states-disabled-outer-circle-border: var(--kbq-states-line-disabled);
    --kbq-radio-theme-states-disabled-outer-circle-background: var(--kbq-states-background-disabled);
    --kbq-radio-theme-states-disabled-inner-circle-background: transparent;
    --kbq-radio-theme-states-disabled-caption: var(--kbq-states-foreground-disabled);
    --kbq-radio-error-default-outer-circle-border: var(--kbq-line-error);
    --kbq-radio-error-default-outer-circle-background: var(--kbq-background-error-less);
    --kbq-radio-error-default-inner-circle-background: transparent;
    --kbq-radio-error-states-hover-outer-circle-border: var(--kbq-line-error);
    --kbq-radio-error-states-hover-outer-circle-background: var(--kbq-states-background-error-fade-hover);
    --kbq-radio-error-states-hover-inner-circle-background: transparent;
    --kbq-radio-error-states-checked-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-outer-circle-background: var(--kbq-background-error);
    --kbq-radio-error-states-checked-inner-circle-background: var(--kbq-icon-white);
    --kbq-radio-error-states-checked-hover-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-hover-outer-circle-background: var(--kbq-states-background-error-hover);
    --kbq-radio-error-states-checked-hover-inner-circle-background: var(--kbq-icon-white);
    --kbq-radio-error-states-checked-disabled-outer-circle-border: var(--kbq-states-line-disabled);
    --kbq-radio-error-states-checked-disabled-outer-circle-background: var(--kbq-states-background-disabled);
    --kbq-radio-error-states-checked-disabled-inner-circle-background: var(--kbq-states-icon-disabled);
    --kbq-radio-error-states-focused-outer-circle-border: transparent;
    --kbq-radio-error-states-focused-outer-circle-background: var(--kbq-states-background-error-less);
    --kbq-radio-error-states-focused-inner-circle-background: transparent;
    --kbq-radio-error-states-focused-outer-circle-shadow: 0 0 0.1px 2px var(--kbq-states-line-focus-error);
    --kbq-radio-error-states-checked-focused-outer-circle-border: transparent;
    --kbq-radio-error-states-checked-focused-outer-circle-background: var(--kbq-background-error);
    --kbq-radio-error-states-checked-focused-inner-circle-background: var(--kbq-icon-white);
    --kbq-radio-error-states-checked-focused-outer-circle-shadow: 0 0 0.1px 2px var(--kbq-states-line-focus-error);
    --kbq-radio-error-states-disabled-outer-circle-border: var(--kbq-states-line-disabled);
    --kbq-radio-error-states-disabled-outer-circle-background: var(--kbq-states-background-disabled);
    --kbq-radio-error-states-disabled-inner-circle-background: transparent;
}
