.example-title-overview-container {
    max-width: 400px;

    display: flex;
    flex-direction: column;
}

.example-title-overview-container.example-title-overview-container-responsive {
    max-width: 50%;
}

.example-title-overview-child {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
