.code-block_no-border ::ng-deep .kbq-tab-group {
    height: 100%;
}

.code-block_no-border ::ng-deep .kbq-tab-body__wrapper {
    border: none;
}

.code-block_no-border ::ng-deep .kbq-code-block__code > code {
    padding: 0 0;
}
