@use '../core/styles/common/tokens';

.kbq-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;

    position: var(--kbq-top-bar-position);
    background-color: var(--kbq-top-bar-background);
    padding: var(--kbq-top-bar-padding-vertical) var(--kbq-top-bar-padding-horizontal);
    border: var(--kbq-top-bar-border-radius);

    .kbq-top-bar-spacer {
        height: 100%;
        flex: 1 0 var(--kbq-top-bar-spacer-min-width);
    }

    .kbq-top-bar-container__left {
        display: flex;
        gap: var(--kbq-top-bar-left-gap);
    }

    .kbq-top-bar-container__right {
        display: flex;
        gap: var(--kbq-top-bar-right-gap);
    }

    &.kbq-top-bar_with-shadow {
        box-shadow: var(--kbq-top-bar-shadow-bottom);
        transition: box-shadow var(--kbq-top-bar-shadow-transition);
    }

    @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);
}
