@use '../core/styles/common/tokens';

.kbq-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;

    position: var(--kbq-top-bar-position);
    background-color: var(--kbq-top-bar-background);
    padding: var(--kbq-top-bar-padding-vertical) var(--kbq-top-bar-padding-horizontal);
    border-radius: var(--kbq-top-bar-border-radius);

    .kbq-top-bar-spacer {
        height: 100%;
        flex: 0 0 var(--kbq-top-bar-spacer-min-width);
    }

    .kbq-top-bar-container__start {
        display: flex;
        gap: var(--kbq-top-bar-left-gap);
        flex: 1;
        justify-content: flex-start;
    }

    .kbq-top-bar-container__end {
        display: flex;
        gap: var(--kbq-top-bar-right-gap);
    }

    .kbq-top-bar-container__with-overflow-items {
        gap: unset;

        > .kbq-overflow-item:not(:last-of-type) {
            margin-right: var(--kbq-top-bar-right-gap);
        }
    }

    &.kbq-top-bar_with-shadow {
        box-shadow: var(--kbq-top-bar-shadow-bottom);
        transition: box-shadow var(--kbq-top-bar-shadow-transition);
    }

    @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);
}
