@use 'sass:meta';
@use 'sass:map';

@use '../styles/typography/typography-utils' as *;
@use '../styles/common/tokens' as *;


@mixin kbq-optgroup-theme($theme) {
    $foreground: map.get($theme, foreground);

    .kbq-optgroup-label {
        color: map.get($foreground, contrast);
    }

    .kbq-disabled .kbq-optgroup-label {
        color: map.get($foreground, text-disabled);
    }
}

@mixin kbq-optgroup-typography($config) {
    .kbq-optgroup-label {
        @include kbq-typography-css-variables(optgroup, default);
    }
}
