@use '../styles/common/tokens' as *;

@mixin kbq-option-action-theme() {
    .kbq-option-action {
        &.cdk-keyboard-focused {
            border-color: var(--kbq-states-line-focus-theme);
        }

        &:active,
        &.kbq-pressed {
            & .kbq-icon {
                color: var(--kbq-states-icon-contrast-fade-active);
            }

            background-color: var(--kbq-background-transparent);
        }

        &:hover .kbq-icon {
            color: var(--kbq-states-icon-contrast-fade-hover);
        }

        &.kbq-disabled {
            & .kbq-icon {
                color: var(--kbq-states-icon-disabled);
            }

            background-color: var(--kbq-background-transparent);
        }
    }
}
