@use '../styles/common/tokens' as *;

@mixin kbq-option-action-theme() {
    .kbq-option-action {
        &.cdk-keyboard-focused {
            border-color: kbq-css-variable(states-focused-color);
        }

        &:active,
        &.kbq-pressed {
            & .kbq-icon {
                color: kbq-css-variable(states-icon-contrast-fade-active);
            }

            background-color: kbq-css-variable(background-transparent);
        }

        &:hover .kbq-icon {
            color: kbq-css-variable(states-icon-contrast-fade-hover);
        }

        &.kbq-disabled {
            & .kbq-icon {
                color: kbq-css-variable(states-icon-disabled);
            }

            background-color: kbq-css-variable(background-transparent);
        }
    }
}
