@use '../styles/common/tokens' as *;

@use './option-action-theme' as *;

.kbq-option-action {
    box-sizing: border-box;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    margin-right: -2px;

    width: var(--kbq-list-font-text-line-height);
    height: var(--kbq-list-font-text-line-height);

    cursor: pointer;

    outline: none;

    border: 2px solid transparent;

    background: transparent;

    &.kbq-disabled {
        cursor: default;
    }
}

@include kbq-option-action-theme();
