@use '../styles/common/vendor-prefixes';
@use '../styles/common/tokens' as *;

@use './optgroup-theme' as *;

.kbq-optgroup-label {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: var(--kbq-size-s) var(--kbq-size-l) var(--kbq-size-s) var(--kbq-size-m);

    @include vendor-prefixes.user-select(none);
    cursor: default;
}

@include kbq-optgroup-theme();
@include kbq-optgroup-typography();
