@use 'sass:meta';
@use 'sass:map';

@use '../styles/common/vendor-prefixes';
@use '../styles/tokens';

$tokens: meta.module-variables(tokens) !default;

.kbq-optgroup-label {
    padding-left: var(--kbq-optgroup-size-padding-left, map.get($tokens, optgroup-size-padding-left));

    @include vendor-prefixes.user-select(none);

    cursor: default;
}
