.kbq-optgroup {
    --kbq-optgroup-size-padding-left: 17px;
    --kbq-optgroup-font-default-font-size: var(--kbq-typography-subheading-font-size);
    --kbq-optgroup-font-default-line-height: var(--kbq-typography-subheading-line-height);
    --kbq-optgroup-font-default-letter-spacing: var(--kbq-typography-subheading-letter-spacing);
    --kbq-optgroup-font-default-font-weight: var(--kbq-typography-subheading-font-weight);
    --kbq-optgroup-font-default-font-family: var(--kbq-typography-subheading-font-family);
    --kbq-optgroup-font-default-text-transform: var(--kbq-typography-subheading-text-transform);
    --kbq-optgroup-font-default-font-feature-settings: var(--kbq-typography-subheading-font-feature-settings);
}
