@use 'sass:meta';
@use 'sass:map';

@use '../styles/common/vendor-prefixes';
@use '../styles/tokens';
@use '../styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

.kbq-optgroup-label {
    padding-left: kbq-css-variable(size-m);

    @include vendor-prefixes.user-select(none);
    cursor: default;
}
