@use '../../list/list-tokens';

.kbq-option {
    --kbq-option-size-horizontal-padding: var(--kbq-size-m);
    --kbq-option-size-height: var(--kbq-size-3xl);
    --kbq-option-size-border-width: 2px;
    /* LIST THEME TOKENS */
    @include list-tokens.list-theme-tokens;
}
