/* stylelint-disable no-unknown-custom-properties */

.kbq-option {
    --kbq-list-size-container-padding-left: var(--kbq-size-m);
    --kbq-list-size-container-padding-right: var(--kbq-size-m);
    --kbq-list-size-container-padding-vertical: var(--kbq-size-xs);
    --kbq-list-size-container-content-gap-horizontal: var(--kbq-size-s);
    --kbq-list-size-container-content-gap-vertical: var(--kbq-size-3xs);
    --kbq-list-size-container-focus-outline-width: var(--kbq-size-3xs);
    --kbq-list-size-text-padding-vertical: 0;
    --kbq-list-size-header-padding-top: var(--kbq-size-s);
    --kbq-list-size-header-padding-bottom: var(--kbq-size-xxs);
    --kbq-list-size-header-padding-horizontal: var(--kbq-size-m);
    --kbq-list-size-subheading-padding-top: var(--kbq-size-m);
    --kbq-list-size-subheading-padding-bottom: var(--kbq-size-xxs);
    --kbq-list-size-subheading-padding-horizontal: var(--kbq-size-m);
    --kbq-list-font-text-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-list-font-text-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-list-font-text-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-list-font-text-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-list-font-text-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-list-font-text-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-list-font-text-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
    --kbq-list-font-caption-font-size: var(--kbq-typography-text-compact-font-size);
    --kbq-list-font-caption-line-height: var(--kbq-typography-text-compact-line-height);
    --kbq-list-font-caption-letter-spacing: var(--kbq-typography-text-compact-letter-spacing);
    --kbq-list-font-caption-font-weight: var(--kbq-typography-text-compact-font-weight);
    --kbq-list-font-caption-font-family: var(--kbq-typography-text-compact-font-family);
    --kbq-list-font-caption-text-transform: var(--kbq-typography-text-compact-text-transform);
    --kbq-list-font-caption-font-feature-settings: var(--kbq-typography-text-compact-font-feature-settings);
    --kbq-list-font-header-font-size: var(--kbq-typography-text-big-strong-font-size);
    --kbq-list-font-header-line-height: var(--kbq-typography-text-big-strong-line-height);
    --kbq-list-font-header-letter-spacing: var(--kbq-typography-text-big-strong-letter-spacing);
    --kbq-list-font-header-font-weight: var(--kbq-typography-text-big-strong-font-weight);
    --kbq-list-font-header-font-family: var(--kbq-typography-text-big-strong-font-family);
    --kbq-list-font-header-text-transform: var(--kbq-typography-text-big-strong-text-transform);
    --kbq-list-font-header-font-feature-settings: var(--kbq-typography-text-big-strong-font-feature-settings);
    --kbq-list-font-subheading-font-size: var(--kbq-typography-caps-compact-strong-font-size);
    --kbq-list-font-subheading-line-height: var(--kbq-typography-caps-compact-strong-line-height);
    --kbq-list-font-subheading-letter-spacing: var(--kbq-typography-caps-compact-strong-letter-spacing);
    --kbq-list-font-subheading-font-weight: var(--kbq-typography-caps-compact-strong-font-weight);
    --kbq-list-font-subheading-font-family: var(--kbq-typography-caps-compact-strong-font-family);
    --kbq-list-font-subheading-text-transform: var(--kbq-typography-caps-compact-strong-text-transform);
    --kbq-list-font-subheading-font-feature-settings: var(--kbq-typography-caps-compact-strong-font-feature-settings);
    --kbq-option-size-horizontal-padding: var(--kbq-size-m);
    --kbq-option-size-height: var(--kbq-size-3xl);
    --kbq-option-size-border-width: 2px;
    --kbq-option-font-default-font-size: var(--kbq-typography-text-big-font-size);
    --kbq-option-font-default-line-height: var(--kbq-typography-text-big-line-height);
    --kbq-option-font-default-letter-spacing: var(--kbq-typography-text-big-letter-spacing);
    --kbq-option-font-default-font-weight: var(--kbq-typography-text-big-font-weight);
    --kbq-option-font-default-font-family: var(--kbq-typography-text-big-font-family);
    --kbq-option-font-default-text-transform: var(--kbq-typography-text-big-text-transform);
    --kbq-option-font-default-font-feature-settings: var(--kbq-typography-text-big-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-list-default-container-background: transparent;
    --kbq-list-default-text-color: var(--kbq-foreground-contrast);
    --kbq-list-default-icon-color: var(--kbq-icon-contrast);
    --kbq-list-default-icon-button-color: var(--kbq-icon-contrast-fade);
    --kbq-list-default-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-list-states-hover-container-background: var(--kbq-states-background-transparent-hover);
    --kbq-list-states-hover-text-color: var(--kbq-foreground-contrast);
    --kbq-list-states-hover-icon-color: var(--kbq-icon-contrast);
    --kbq-list-states-hover-icon-button-color: var(--kbq-icon-contrast-fade);
    --kbq-list-states-selected-container-background: var(--kbq-background-theme-less);
    --kbq-list-states-selected-text-color: var(--kbq-foreground-contrast);
    --kbq-list-states-selected-icon-color: var(--kbq-icon-contrast);
    --kbq-list-states-selected-icon-button-color: var(--kbq-icon-contrast-fade);
    --kbq-list-states-selected-hover-container-background: var(--kbq-states-background-theme-less-hover);
    --kbq-list-states-selected-hover-text-color: var(--kbq-foreground-contrast);
    --kbq-list-states-selected-hover-icon-color: var(--kbq-icon-contrast);
    --kbq-list-states-selected-hover-icon-button-color: var(--kbq-icon-contrast-fade);
    --kbq-list-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-list-states-disabled-container-background: transparent;
    --kbq-list-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-list-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-list-states-disabled-icon-button-color: var(--kbq-states-icon-disabled);
    --kbq-list-states-disabled-caption-color: var(--kbq-states-foreground-disabled);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-list-default-container-background: transparent;
    --kbq-list-default-text-color: var(--kbq-foreground-contrast);
    --kbq-list-default-icon-color: var(--kbq-icon-contrast);
    --kbq-list-default-icon-button-color: var(--kbq-icon-contrast-fade);
    --kbq-list-default-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-list-states-hover-container-background: var(--kbq-states-background-transparent-hover);
    --kbq-list-states-hover-text-color: var(--kbq-foreground-contrast);
    --kbq-list-states-hover-icon-color: var(--kbq-icon-contrast);
    --kbq-list-states-hover-icon-button-color: var(--kbq-icon-contrast-fade);
    --kbq-list-states-selected-container-background: var(--kbq-background-theme-less);
    --kbq-list-states-selected-text-color: var(--kbq-foreground-contrast);
    --kbq-list-states-selected-icon-color: var(--kbq-icon-contrast);
    --kbq-list-states-selected-icon-button-color: var(--kbq-icon-contrast-fade);
    --kbq-list-states-selected-hover-container-background: var(--kbq-states-background-theme-less-hover);
    --kbq-list-states-selected-hover-text-color: var(--kbq-foreground-contrast);
    --kbq-list-states-selected-hover-icon-color: var(--kbq-icon-contrast);
    --kbq-list-states-selected-hover-icon-button-color: var(--kbq-icon-contrast-fade);
    --kbq-list-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-list-states-disabled-container-background: transparent;
    --kbq-list-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-list-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-list-states-disabled-icon-button-color: var(--kbq-states-icon-disabled);
    --kbq-list-states-disabled-caption-color: var(--kbq-states-foreground-disabled);
}
