@use 'sass:meta';
@use 'sass:map';
@use '../core/styles/tokens';


$tokens: meta.module-variables(tokens) !default;


.kbq-code-block-actionbar {
    display: flex;
    justify-content: right;
    align-items: center;

    position: absolute;

    top: -1px;
    right: 0;

    margin:
        var(
            --kbq-code-block-size-actionbar-padding-vertical,
            map.get($tokens, code-block-size-actionbar-padding-vertical)
        )
        var(
            --kbq-code-block-size-actionbar-padding-horizontal,
            map.get($tokens, code-block-size-actionbar-padding-horizontal)
        );

    gap: var(
        --kbq-code-block-size-actionbar-content-gap-horizontal,
        map.get($tokens, code-block-size-actionbar-content-gap-horizontal)
    );

    & .kbq-code-block__fade-gradient {
        display: none;

        width: var(
            --kbq-code-block-size-actionbar-fade-gradient-width,
            map.get($tokens, code-block-size-actionbar-fade-gradient-width)
        );
        height: 32px;

        margin-top: calc(
            var(
                --kbq-code-block-size-actionbar-padding-vertical,
                map.get($tokens, code-block-size-actionbar-padding-vertical)
            ) * -1
        );
    }

    &.kbq-actionbar-block_floating {
        top: map.get($tokens, code-block-size-actionbar-margin-top);
        right: map.get($tokens, code-block-size-actionbar-margin-right);
    }
}
