@use 'sass:meta';
@use 'sass:map';
@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;
$actionbar-indents: var(--kbq-code-block-size-actionbar-padding-vertical)
    var(--kbq-code-block-size-actionbar-padding-horizontal);

.kbq-code-block-actionbar {
    display: flex;
    justify-content: right;
    align-items: center;

    position: absolute;

    // position to top to the height of tab-header
    top: -48px;
    right: 0;

    margin: $actionbar-indents;

    .kbq-actionbar-block__button-stack {
        gap: var(--kbq-code-block-size-actionbar-content-gap-horizontal);
    }

    .kbq-code-block__fade-gradient {
        display: none;

        width: var(--kbq-code-block-size-actionbar-fade-gradient-width);
    }

    &.kbq-actionbar-block_floating {
        top: 0;
        margin: unset;
        background: transparent !important;

        .kbq-code-block__fade-gradient {
            display: block;
            align-self: stretch;
        }

        .kbq-actionbar-block__button-stack {
            padding: $actionbar-indents;
        }
    }
}
