@use 'sass:meta';
@use 'sass:map';
@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;


$tokens: meta.module-variables(tokens) !default;

$border-radius: kbq-css-variable(code-block-size-container-border-radius);
$border-width: kbq-css-variable(code-block-size-container-border-width);

/* stylelint-disable no-descending-specificity */
.kbq-code-block {
    display: block;
    position: relative;
    overflow: hidden;

    box-sizing: border-box;

    hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;

    border-radius: $border-radius;
    border-width: 0;

    .kbq-tab-header {
        // 4 buttons + margin
        $buttons-margin: calc(32 * 4) + 24px;

        padding:
            kbq-css-variable(code-block-size-header-padding-vertical)
            calc(var(
                --kbq-code-block-size-header-padding-right,
                map.get($tokens, code-block-size-header-padding-right)
            ) + $buttons-margin)
            kbq-css-variable(code-block-size-header-padding-vertical)
            kbq-css-variable(code-block-size-header-padding-left);

        border-width: $border-width $border-width 0 $border-width;
        border-style: solid;
        border-radius: $border-radius $border-radius 0 0;
    }

    &:has(.kbq-code-block__show-more) {
        .kbq-code-block__code {
            & > code {
                padding-bottom: kbq-css-variable(size-3xl) !important;
                overflow-x: scroll;
            }
        }
    }

    .kbq-code-block__code {
        > code {
            padding:
                kbq-css-variable(code-block-size-with-header-content-padding-top)
                kbq-css-variable(code-block-size-with-header-content-padding-horizontal)
                kbq-css-variable(code-block-size-with-header-content-padding-bottom)
                kbq-css-variable(code-block-size-with-header-content-padding-horizontal);

            border-radius: $border-radius;

            &:focus-visible {
                outline: none;
            }
        }

        .hljs-ln-numbers {
            padding-right: kbq-css-variable(code-block-size-with-header-content-content-gap-horizontal);
        }
    }

    &.kbq-code-block_hide-line-numbers .hljs-ln-line.hljs-ln-numbers {
        display: none;
    }

    &.kbq-code-block_single-file {
        .kbq-tab-label {
            &:before {
                content: none;
            }

            &:hover {
                background: transparent !important;
            }
        }
    }

    &:not(.kbq-code-block_no-header) {
        .kbq-tab-body__wrapper {
            border-top-width: 0;
        }
    }

    &.kbq-code-block_no-header {
        .kbq-tab-header {
            display: none;
        }

        .kbq-tab-body__wrapper {
            border-width: $border-width;
            border-radius: $border-radius;
        }

        .kbq-code-block__code {
            position: relative;

            & > code {
                padding:
                    kbq-css-variable(code-block-size-no-header-content-padding-vertical)
                    kbq-css-variable(code-block-size-no-header-content-padding-horizontal);
            }

            .hljs-ln-numbers {
                padding-right: kbq-css-variable(code-block-size-no-header-content-content-gap-horizontal);
            }
        }
    }

    &:not(:has(.kbq-code-block__show-more)) {
        .kbq-code-block__code {
            overflow-y: auto;
        }
    }

    pre {
        margin: 0;
    }

    .kbq-tab-body__wrapper {
        flex-direction: column;
        position: unset;

        border-width: $border-width;
        border-style: solid;
        border-radius: 0 0 $border-radius $border-radius;
    }

    .kbq-tab-body.kbq-tab-body__active {
        position: unset;
    }
}

.kbq-code-block__code {
    overflow-y: hidden;

    &.kbq-code-block__code_view-all {
        max-height: unset;
        overflow-y: auto;
    }

    &.kbq-code-block__code_soft-wrap {
        white-space: pre-wrap
    }

    .hljs-ln {
        border-collapse: unset;

        .hljs {
            padding: 0;
        }
    }

    .hljs-ln-numbers {
        vertical-align: baseline;
        text-align: right;
    }

    .hljs-ln-n:before {
        white-space: nowrap;
    }
}

.kbq-code-block__show-more {
    display: flex;
    justify-content: center;
    overflow: hidden;

    width: calc(100% - $border-width * 2);

    position: absolute;
    bottom: $border-width;
    border-radius: $border-radius;

    &.kbq-code-block__show-more_collapsed {
        padding-top: kbq-css-variable(code-block-size-collapse-collapsed-padding-top);

        padding-bottom: kbq-css-variable(code-block-size-collapse-collapsed-padding-bottom);
    }

    &.kbq-code-block__show-more_expanded {
        padding-top: kbq-css-variable(code-block-size-collapse-expanded-padding-top);

        margin-bottom: kbq-css-variable(code-block-size-collapse-expanded-padding-bottom);
    }

    .bg-wrapper {
        border-radius: kbq-css-variable(button-size-border-radius);
    }
}
/* stylelint-enable no-descending-specificity */
