/* stylelint-disable no-unknown-custom-properties */

.kbq-code-block {
    --kbq-code-block-size-container-border-width: 1px;
    --kbq-code-block-size-container-border-radius: var(--kbq-size-m);
    --kbq-code-block-size-with-header-content-padding-top: var(--kbq-size-xxs);
    --kbq-code-block-size-with-header-content-padding-bottom: var(--kbq-size-l);
    --kbq-code-block-size-with-header-content-padding-horizontal: var(--kbq-size-xl);
    --kbq-code-block-size-with-header-content-content-gap-horizontal: var(--kbq-size-m);
    --kbq-code-block-size-no-header-content-padding-vertical: 14px;
    --kbq-code-block-size-no-header-content-padding-horizontal: 20px;
    --kbq-code-block-size-no-header-content-content-gap-horizontal: var(--kbq-size-m);
    --kbq-code-block-size-header-padding-vertical: var(--kbq-size-s);
    --kbq-code-block-size-header-padding-left: var(--kbq-size-m);
    --kbq-code-block-size-header-padding-right: var(--kbq-size-s);
    --kbq-code-block-size-header-content-gap-horizontal: var(--kbq-size-l);
    --kbq-code-block-size-actionbar-content-gap-horizontal: var(--kbq-size-3xs);
    --kbq-code-block-size-actionbar-padding-vertical: var(--kbq-size-s);
    --kbq-code-block-size-actionbar-padding-horizontal: var(--kbq-size-m);
    --kbq-code-block-size-actionbar-fade-gradient-width: var(--kbq-size-3xl);
    --kbq-code-block-size-collapse-expanded-padding-top: 0;
    --kbq-code-block-size-collapse-expanded-padding-bottom: var(--kbq-size-l);
    --kbq-code-block-size-collapse-collapsed-padding-top: var(--kbq-size-3xl);
    --kbq-code-block-size-collapse-collapsed-padding-bottom: var(--kbq-size-l);
    --kbq-code-block-font-hljs-addition-font-style: null;
    --kbq-code-block-font-hljs-addition-font-weight: null;
    --kbq-code-block-font-hljs-attr-font-style: null;
    --kbq-code-block-font-hljs-attr-font-weight: null;
    --kbq-code-block-font-hljs-attribute-font-style: null;
    --kbq-code-block-font-hljs-attribute-font-weight: null;
    --kbq-code-block-font-hljs-built-in-font-style: null;
    --kbq-code-block-font-hljs-built-in-font-weight: null;
    --kbq-code-block-font-hljs-bullet-font-style: null;
    --kbq-code-block-font-hljs-bullet-font-weight: null;
    --kbq-code-block-font-hljs-char-escape-font-style: null;
    --kbq-code-block-font-hljs-char-escape-font-weight: null;
    --kbq-code-block-font-hljs-class-font-style: null;
    --kbq-code-block-font-hljs-class-font-weight: null;
    --kbq-code-block-font-hljs-code-font-style: null;
    --kbq-code-block-font-hljs-code-font-weight: null;
    --kbq-code-block-font-hljs-comment-font-style: null;
    --kbq-code-block-font-hljs-comment-font-weight: null;
    --kbq-code-block-font-hljs-deletion-font-style: null;
    --kbq-code-block-font-hljs-deletion-font-weight: null;
    --kbq-code-block-font-hljs-doctag-font-style: null;
    --kbq-code-block-font-hljs-doctag-font-weight: null;
    --kbq-code-block-font-hljs-emphasis-font-style: null;
    --kbq-code-block-font-hljs-emphasis-font-weight: null;
    --kbq-code-block-font-hljs-formula-font-style: null;
    --kbq-code-block-font-hljs-formula-font-weight: null;
    --kbq-code-block-font-hljs-function-font-style: null;
    --kbq-code-block-font-hljs-function-font-weight: null;
    --kbq-code-block-font-hljs-keyword-font-style: null;
    --kbq-code-block-font-hljs-keyword-font-weight: null;
    --kbq-code-block-font-hljs-link-font-style: null;
    --kbq-code-block-font-hljs-link-font-weight: null;
    --kbq-code-block-font-hljs-literal-font-style: null;
    --kbq-code-block-font-hljs-literal-font-weight: null;
    --kbq-code-block-font-hljs-meta-font-style: null;
    --kbq-code-block-font-hljs-meta-font-weight: null;
    --kbq-code-block-font-hljs-meta-keyword-font-style: null;
    --kbq-code-block-font-hljs-meta-keyword-font-weight: null;
    --kbq-code-block-font-hljs-meta-string-font-style: null;
    --kbq-code-block-font-hljs-meta-string-font-weight: null;
    --kbq-code-block-font-hljs-meta-prompt-font-style: null;
    --kbq-code-block-font-hljs-meta-prompt-font-weight: null;
    --kbq-code-block-font-hljs-name-font-style: null;
    --kbq-code-block-font-hljs-name-font-weight: null;
    --kbq-code-block-font-hljs-number-font-style: null;
    --kbq-code-block-font-hljs-number-font-weight: null;
    --kbq-code-block-font-hljs-operator-font-style: null;
    --kbq-code-block-font-hljs-operator-font-weight: null;
    --kbq-code-block-font-hljs-params-font-style: null;
    --kbq-code-block-font-hljs-params-font-weight: null;
    --kbq-code-block-font-hljs-property-font-style: null;
    --kbq-code-block-font-hljs-property-font-weight: null;
    --kbq-code-block-font-hljs-punctuation-font-style: null;
    --kbq-code-block-font-hljs-punctuation-font-weight: null;
    --kbq-code-block-font-hljs-quote-font-style: null;
    --kbq-code-block-font-hljs-quote-font-weight: null;
    --kbq-code-block-font-hljs-regexp-font-style: null;
    --kbq-code-block-font-hljs-regexp-font-weight: null;
    --kbq-code-block-font-hljs-section-font-style: null;
    --kbq-code-block-font-hljs-section-font-weight: null;
    --kbq-code-block-font-hljs-selector-attr-font-style: null;
    --kbq-code-block-font-hljs-selector-attr-font-weight: null;
    --kbq-code-block-font-hljs-selector-class-font-style: null;
    --kbq-code-block-font-hljs-selector-class-font-weight: null;
    --kbq-code-block-font-hljs-selector-id-font-style: null;
    --kbq-code-block-font-hljs-selector-id-font-weight: null;
    --kbq-code-block-font-hljs-selector-pseudo-font-style: null;
    --kbq-code-block-font-hljs-selector-pseudo-font-weight: null;
    --kbq-code-block-font-hljs-selector-tag-font-style: null;
    --kbq-code-block-font-hljs-selector-tag-font-weight: null;
    --kbq-code-block-font-hljs-string-font-style: null;
    --kbq-code-block-font-hljs-string-font-weight: null;
    --kbq-code-block-font-hljs-strong-font-style: null;
    --kbq-code-block-font-hljs-strong-font-weight: null;
    --kbq-code-block-font-hljs-subst-font-style: null;
    --kbq-code-block-font-hljs-subst-font-weight: null;
    --kbq-code-block-font-hljs-symbol-font-style: null;
    --kbq-code-block-font-hljs-symbol-font-weight: null;
    --kbq-code-block-font-hljs-tag-font-style: null;
    --kbq-code-block-font-hljs-tag-font-weight: null;
    --kbq-code-block-font-hljs-template-tag-font-style: null;
    --kbq-code-block-font-hljs-template-tag-font-weight: null;
    --kbq-code-block-font-hljs-template-variable-font-style: null;
    --kbq-code-block-font-hljs-template-variable-font-weight: null;
    --kbq-code-block-font-hljs-title-font-style: null;
    --kbq-code-block-font-hljs-title-font-weight: null;
    --kbq-code-block-font-hljs-title-class-font-style: normal;
    --kbq-code-block-font-hljs-title-class-font-weight: 500;
    --kbq-code-block-font-hljs-title-class-inherited-font-style: null;
    --kbq-code-block-font-hljs-title-class-inherited-font-weight: null;
    --kbq-code-block-font-hljs-title-function-font-style: null;
    --kbq-code-block-font-hljs-title-function-font-weight: null;
    --kbq-code-block-font-hljs-title-function-invoke-font-style: null;
    --kbq-code-block-font-hljs-title-function-invoke-font-weight: null;
    --kbq-code-block-font-hljs-type-font-style: null;
    --kbq-code-block-font-hljs-type-font-weight: null;
    --kbq-code-block-font-hljs-variable-font-style: null;
    --kbq-code-block-font-hljs-variable-font-weight: null;
    --kbq-code-block-font-hljs-variable-constant-font-style: null;
    --kbq-code-block-font-hljs-variable-constant-font-weight: null;
    --kbq-code-block-font-hljs-variable-language-font-style: null;
    --kbq-code-block-font-hljs-variable-language-font-weight: null;
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-code-block-filled-container-background: var(--kbq-background-bg-secondary);
    --kbq-code-block-filled-container-border-color: transparent;
    --kbq-code-block-filled-header-background: var(--kbq-background-bg-secondary);
    --kbq-code-block-filled-header-scroll-shadow: var(--kbq-shadow-overflow-normal-bottom);
    --kbq-code-block-filled-actionbar-fade-gradient: linear-gradient(
        90deg,
        transparent,
        var(--kbq-background-bg-secondary)
    );
    --kbq-code-block-filled-actionbar-background: var(--kbq-background-bg-secondary);
    --kbq-code-block-filled-collapse-expanded-background: transparent;
    --kbq-code-block-filled-collapse-collapsed-background: linear-gradient(
        180deg,
        hsla(225, 15%, 95%, 0%) 0%,
        hsla(225, 15%, 95%, 100%) 100%
    );
    --kbq-code-block-filled-collapse-button-expand-background: var(--kbq-background-bg-secondary);
    --kbq-code-block-outline-container-background: var(--kbq-background-card);
    --kbq-code-block-outline-container-border-color: var(--kbq-line-contrast-less);
    --kbq-code-block-outline-header-background: var(--kbq-background-card);
    --kbq-code-block-outline-header-scroll-shadow: var(--kbq-shadow-overflow-normal-bottom);
    --kbq-code-block-outline-actionbar-fade-gradient: linear-gradient(90deg, transparent, var(--kbq-background-card));
    --kbq-code-block-outline-actionbar-background: var(--kbq-background-card);
    --kbq-code-block-outline-collapse-expanded-background: transparent;
    --kbq-code-block-outline-collapse-collapsed-background: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0%) 0%,
        hsla(0, 0%, 100%, 100%) 100%
    );
    --kbq-code-block-outline-collapse-button-expand-background: var(--kbq-background-card);
    --kbq-code-block-hljs-addition-background: var(--kbq-palette-green-95);
    --kbq-code-block-hljs-addition-color: var(--kbq-palette-green-25);
    --kbq-code-block-hljs-attr-background: null;
    --kbq-code-block-hljs-attr-color: null;
    --kbq-code-block-hljs-attribute-background: null;
    --kbq-code-block-hljs-attribute-color: null;
    --kbq-code-block-hljs-built-in-background: null;
    --kbq-code-block-hljs-built-in-color: null;
    --kbq-code-block-hljs-bullet-background: null;
    --kbq-code-block-hljs-bullet-color: null;
    --kbq-code-block-hljs-char-escape-background: null;
    --kbq-code-block-hljs-char-escape-color: null;
    --kbq-code-block-hljs-class-background: null;
    --kbq-code-block-hljs-class-color: null;
    --kbq-code-block-hljs-code-background: null;
    --kbq-code-block-hljs-code-color: null;
    --kbq-code-block-hljs-comment-background: null;
    --kbq-code-block-hljs-comment-color: var(--kbq-palette-grey-60);
    --kbq-code-block-hljs-deletion-background: var(--kbq-palette-red-95);
    --kbq-code-block-hljs-deletion-color: var(--kbq-palette-red-35);
    --kbq-code-block-hljs-doctag-background: null;
    --kbq-code-block-hljs-doctag-color: null;
    --kbq-code-block-hljs-emphasis-background: null;
    --kbq-code-block-hljs-emphasis-color: null;
    --kbq-code-block-hljs-formula-background: null;
    --kbq-code-block-hljs-formula-color: null;
    --kbq-code-block-hljs-function-background: null;
    --kbq-code-block-hljs-function-color: null;
    --kbq-code-block-hljs-keyword-background: null;
    --kbq-code-block-hljs-keyword-color: null;
    --kbq-code-block-hljs-line-numbers-color: var(--kbq-foreground-contrast-secondary);
    --kbq-code-block-hljs-link-background: null;
    --kbq-code-block-hljs-link-color: null;
    --kbq-code-block-hljs-literal-background: null;
    --kbq-code-block-hljs-literal-color: var(--kbq-palette-purple-30);
    --kbq-code-block-hljs-meta-background: null;
    --kbq-code-block-hljs-meta-color: var(--kbq-palette-blue-35);
    --kbq-code-block-hljs-meta-keyword-background: null;
    --kbq-code-block-hljs-meta-keyword-color: null;
    --kbq-code-block-hljs-meta-string-background: null;
    --kbq-code-block-hljs-meta-string-color: var(--kbq-palette-blue-35);
    --kbq-code-block-hljs-meta-prompt-background: null;
    --kbq-code-block-hljs-meta-prompt-color: null;
    --kbq-code-block-hljs-name-background: null;
    --kbq-code-block-hljs-name-color: var(--kbq-palette-blue-35);
    --kbq-code-block-hljs-number-background: null;
    --kbq-code-block-hljs-number-color: var(--kbq-palette-purple-30);
    --kbq-code-block-hljs-operator-background: null;
    --kbq-code-block-hljs-operator-color: null;
    --kbq-code-block-hljs-params-background: null;
    --kbq-code-block-hljs-params-color: null;
    --kbq-code-block-hljs-property-background: null;
    --kbq-code-block-hljs-property-color: null;
    --kbq-code-block-hljs-punctuation-background: null;
    --kbq-code-block-hljs-punctuation-color: null;
    --kbq-code-block-hljs-quote-background: null;
    --kbq-code-block-hljs-quote-color: null;
    --kbq-code-block-hljs-regexp-background: null;
    --kbq-code-block-hljs-regexp-color: var(--kbq-palette-green-25);
    --kbq-code-block-hljs-section-background: null;
    --kbq-code-block-hljs-section-color: null;
    --kbq-code-block-hljs-selector-attr-background: null;
    --kbq-code-block-hljs-selector-attr-color: null;
    --kbq-code-block-hljs-selector-class-background: null;
    --kbq-code-block-hljs-selector-class-color: null;
    --kbq-code-block-hljs-selector-id-background: null;
    --kbq-code-block-hljs-selector-id-color: null;
    --kbq-code-block-hljs-selector-pseudo-background: null;
    --kbq-code-block-hljs-selector-pseudo-color: null;
    --kbq-code-block-hljs-selector-tag-background: null;
    --kbq-code-block-hljs-selector-tag-color: var(--kbq-palette-blue-35);
    --kbq-code-block-hljs-string-background: null;
    --kbq-code-block-hljs-string-color: var(--kbq-palette-green-25);
    --kbq-code-block-hljs-strong-background: null;
    --kbq-code-block-hljs-strong-color: null;
    --kbq-code-block-hljs-subst-background: null;
    --kbq-code-block-hljs-subst-color: null;
    --kbq-code-block-hljs-symbol-background: null;
    --kbq-code-block-hljs-symbol-color: var(--kbq-palette-blue-35);
    --kbq-code-block-hljs-tag-background: null;
    --kbq-code-block-hljs-tag-color: null;
    --kbq-code-block-hljs-template-tag-background: null;
    --kbq-code-block-hljs-template-tag-color: null;
    --kbq-code-block-hljs-template-variable-background: null;
    --kbq-code-block-hljs-template-variable-color: null;
    --kbq-code-block-hljs-title-background: null;
    --kbq-code-block-hljs-title-color: var(--kbq-palette-blue-35);
    --kbq-code-block-hljs-title-class-background: null;
    --kbq-code-block-hljs-title-class-color: null;
    --kbq-code-block-hljs-title-class-inherited-background: null;
    --kbq-code-block-hljs-title-class-inherited-color: null;
    --kbq-code-block-hljs-title-function-background: null;
    --kbq-code-block-hljs-title-function-color: null;
    --kbq-code-block-hljs-title-function-invoke-background: null;
    --kbq-code-block-hljs-title-function-invoke-color: null;
    --kbq-code-block-hljs-type-background: null;
    --kbq-code-block-hljs-type-color: null;
    --kbq-code-block-hljs-variable-background: null;
    --kbq-code-block-hljs-variable-color: null;
    --kbq-code-block-hljs-variable-constant-background: null;
    --kbq-code-block-hljs-variable-constant-color: null;
    --kbq-code-block-hljs-variable-language-background: null;
    --kbq-code-block-hljs-variable-language-color: null;
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-code-block-filled-container-background: var(--kbq-background-bg-secondary);
    --kbq-code-block-filled-container-border-color: var(--kbq-line-contrast-less);
    --kbq-code-block-filled-header-background: var(--kbq-background-bg-secondary);
    --kbq-code-block-filled-header-scroll-shadow: var(--kbq-shadow-overflow-normal-bottom);
    --kbq-code-block-filled-actionbar-fade-gradient: linear-gradient(
        90deg,
        transparent,
        var(--kbq-background-bg-secondary)
    );
    --kbq-code-block-filled-actionbar-background: var(--kbq-background-bg-secondary);
    --kbq-code-block-filled-collapse-expanded-background: transparent;
    --kbq-code-block-filled-collapse-collapsed-background: linear-gradient(
        180deg,
        hsla(229, 15%, 15%, 0%) 0%,
        hsla(229, 15%, 15%, 1%) 100%
    );
    --kbq-code-block-filled-collapse-button-expand-background: var(--kbq-background-bg-secondary);
    --kbq-code-block-outline-container-background: var(--kbq-background-card);
    --kbq-code-block-outline-container-border-color: transparent;
    --kbq-code-block-outline-header-background: var(--kbq-background-card);
    --kbq-code-block-outline-header-scroll-shadow: var(--kbq-shadow-overflow-normal-bottom);
    --kbq-code-block-outline-actionbar-fade-gradient: linear-gradient(90deg, transparent, var(--kbq-background-card));
    --kbq-code-block-outline-actionbar-background: var(--kbq-background-card);
    --kbq-code-block-outline-collapse-expanded-background: transparent;
    --kbq-code-block-outline-collapse-collapsed-background: linear-gradient(
        180deg,
        hsla(229, 15%, 12%, 0%) 0%,
        hsla(229, 15%, 12%, 1%) 100%
    );
    --kbq-code-block-outline-collapse-button-expand-background: var(--kbq-background-card);
    --kbq-code-block-hljs-addition-background: var(--kbq-palette-green-95);
    --kbq-code-block-hljs-addition-color: var(--kbq-palette-green-25);
    --kbq-code-block-hljs-attr-background: null;
    --kbq-code-block-hljs-attr-color: null;
    --kbq-code-block-hljs-attribute-background: null;
    --kbq-code-block-hljs-attribute-color: null;
    --kbq-code-block-hljs-built-in-background: null;
    --kbq-code-block-hljs-built-in-color: null;
    --kbq-code-block-hljs-bullet-background: null;
    --kbq-code-block-hljs-bullet-color: null;
    --kbq-code-block-hljs-char-escape-background: null;
    --kbq-code-block-hljs-char-escape-color: null;
    --kbq-code-block-hljs-class-background: null;
    --kbq-code-block-hljs-class-color: null;
    --kbq-code-block-hljs-code-background: null;
    --kbq-code-block-hljs-code-color: null;
    --kbq-code-block-hljs-comment-background: null;
    --kbq-code-block-hljs-comment-color: var(--kbq-palette-grey-60);
    --kbq-code-block-hljs-deletion-background: var(--kbq-palette-red-95);
    --kbq-code-block-hljs-deletion-color: var(--kbq-palette-red-35);
    --kbq-code-block-hljs-doctag-background: null;
    --kbq-code-block-hljs-doctag-color: null;
    --kbq-code-block-hljs-emphasis-background: null;
    --kbq-code-block-hljs-emphasis-color: null;
    --kbq-code-block-hljs-formula-background: null;
    --kbq-code-block-hljs-formula-color: null;
    --kbq-code-block-hljs-function-background: null;
    --kbq-code-block-hljs-function-color: null;
    --kbq-code-block-hljs-keyword-background: null;
    --kbq-code-block-hljs-keyword-color: null;
    --kbq-code-block-hljs-line-numbers-color: var(--kbq-foreground-contrast-secondary);
    --kbq-code-block-hljs-link-background: null;
    --kbq-code-block-hljs-link-color: null;
    --kbq-code-block-hljs-literal-background: null;
    --kbq-code-block-hljs-literal-color: var(--kbq-palette-purple-60);
    --kbq-code-block-hljs-meta-background: null;
    --kbq-code-block-hljs-meta-color: var(--kbq-palette-blue-65);
    --kbq-code-block-hljs-meta-keyword-background: null;
    --kbq-code-block-hljs-meta-keyword-color: null;
    --kbq-code-block-hljs-meta-string-background: null;
    --kbq-code-block-hljs-meta-string-color: var(--kbq-palette-blue-65);
    --kbq-code-block-hljs-meta-prompt-background: null;
    --kbq-code-block-hljs-meta-prompt-color: null;
    --kbq-code-block-hljs-name-background: null;
    --kbq-code-block-hljs-name-color: var(--kbq-palette-blue-65);
    --kbq-code-block-hljs-number-background: null;
    --kbq-code-block-hljs-number-color: var(--kbq-palette-purple-60);
    --kbq-code-block-hljs-operator-background: null;
    --kbq-code-block-hljs-operator-color: null;
    --kbq-code-block-hljs-params-background: null;
    --kbq-code-block-hljs-params-color: null;
    --kbq-code-block-hljs-property-background: null;
    --kbq-code-block-hljs-property-color: null;
    --kbq-code-block-hljs-punctuation-background: null;
    --kbq-code-block-hljs-punctuation-color: null;
    --kbq-code-block-hljs-quote-background: null;
    --kbq-code-block-hljs-quote-color: null;
    --kbq-code-block-hljs-regexp-background: null;
    --kbq-code-block-hljs-regexp-color: var(--kbq-palette-green-40);
    --kbq-code-block-hljs-section-background: null;
    --kbq-code-block-hljs-section-color: null;
    --kbq-code-block-hljs-selector-attr-background: null;
    --kbq-code-block-hljs-selector-attr-color: null;
    --kbq-code-block-hljs-selector-class-background: null;
    --kbq-code-block-hljs-selector-class-color: null;
    --kbq-code-block-hljs-selector-id-background: null;
    --kbq-code-block-hljs-selector-id-color: null;
    --kbq-code-block-hljs-selector-pseudo-background: null;
    --kbq-code-block-hljs-selector-pseudo-color: null;
    --kbq-code-block-hljs-selector-tag-background: null;
    --kbq-code-block-hljs-selector-tag-color: var(--kbq-palette-blue-65);
    --kbq-code-block-hljs-string-background: null;
    --kbq-code-block-hljs-string-color: var(--kbq-palette-green-40);
    --kbq-code-block-hljs-strong-background: null;
    --kbq-code-block-hljs-strong-color: null;
    --kbq-code-block-hljs-subst-background: null;
    --kbq-code-block-hljs-subst-color: null;
    --kbq-code-block-hljs-symbol-background: null;
    --kbq-code-block-hljs-symbol-color: var(--kbq-palette-blue-65);
    --kbq-code-block-hljs-tag-background: null;
    --kbq-code-block-hljs-tag-color: null;
    --kbq-code-block-hljs-template-tag-background: null;
    --kbq-code-block-hljs-template-tag-color: null;
    --kbq-code-block-hljs-template-variable-background: null;
    --kbq-code-block-hljs-template-variable-color: null;
    --kbq-code-block-hljs-title-background: null;
    --kbq-code-block-hljs-title-color: var(--kbq-palette-blue-65);
    --kbq-code-block-hljs-title-class-background: null;
    --kbq-code-block-hljs-title-class-color: null;
    --kbq-code-block-hljs-title-class-inherited-background: null;
    --kbq-code-block-hljs-title-class-inherited-color: null;
    --kbq-code-block-hljs-title-function-background: null;
    --kbq-code-block-hljs-title-function-color: null;
    --kbq-code-block-hljs-title-function-invoke-background: null;
    --kbq-code-block-hljs-title-function-invoke-color: null;
    --kbq-code-block-hljs-type-background: null;
    --kbq-code-block-hljs-type-color: null;
    --kbq-code-block-hljs-variable-background: null;
    --kbq-code-block-hljs-variable-color: null;
    --kbq-code-block-hljs-variable-constant-background: null;
    --kbq-code-block-hljs-variable-constant-color: null;
    --kbq-code-block-hljs-variable-language-background: null;
    --kbq-code-block-hljs-variable-language-color: null;
}
