@use 'sass:meta';
@use 'sass:map';
@use '../core/styles/tokens';

$tokens: meta.module-variables(tokens) !default;

$border-radius: var(
    --kbq-code-block-size-container-border-radius, map.get($tokens, code-block-size-container-border-radius)
);
$border-width: var(
        --kbq-code-block-size-container-border-width, map.get($tokens, code-block-size-container-border-width)
);

/* stylelint-disable no-descending-specificity */
.kbq-code-block {
    display: block;
    position: relative;
    overflow: hidden;

    box-sizing: border-box;

    hyphens: none;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;

    border-radius: $border-radius;
    border-width: 0;

    .kbq-tab-header {
        // 4 buttons + margin
        $buttons-margin: calc(32 * 4) + 24px;

        padding:
            var(
                --kbq-code-block-size-header-padding-vertical,
                map.get($tokens, code-block-size-header-padding-vertical)
            )
            calc(var(
                --kbq-code-block-size-header-padding-right,
                map.get($tokens, code-block-size-header-padding-right)
            ) + $buttons-margin)
            var(
                --kbq-code-block-size-header-padding-vertical,
                map.get($tokens, code-block-size-header-padding-vertical)
            ) var(
                --kbq-code-block-size-header-padding-left,
                map.get($tokens, code-block-size-header-padding-left)
            );

        border-width: $border-width;
        border-bottom-width: 0;
        border-style: solid;
        border-radius: $border-radius $border-radius 0 0;
    }

    .kbq-code-block__code {
        > code {
            padding:
                var(
                    --kbq-code-block-size-with-header-content-padding-top,
                    map.get($tokens, code-block-size-with-header-content-padding-top)
                )
                var(
                    --kbq-code-block-size-with-header-content-padding-horizontal,
                    map.get($tokens, code-block-size-with-header-content-padding-horizontal)
                )
                var(
                    --kbq-code-block-size-with-header-content-padding-bottom,
                    map.get($tokens, code-block-size-with-header-content-padding-bottom)
                ) var(
                    --kbq-code-block-size-with-header-content-padding-horizontal,
                    map.get($tokens, code-block-size-with-header-content-padding-horizontal)
                );

            border-radius: $border-radius;

            &:focus-visible {
                outline: none;
            }
        }

        .hljs-ln-numbers {
            padding-right: var(
                --kbq-code-block-size-with-header-content-content-gap-horizontal,
                map.get($tokens, code-block-size-with-header-content-content-gap-horizontal)
            );
        }
    }

    &.kbq-code-block_hide-line-numbers .hljs-ln-line.hljs-ln-numbers {
        display: none;
    }

    &.kbq-code-block_single-file {
        .kbq-tab-label {
            &:before {
                content: none;
            }

            &:hover {
                background: transparent !important;
            }
        }
    }

    &.kbq-code-block_no-header {
        .kbq-tab-header {
            display: none;
        }

        .kbq-tab-body__wrapper {
            border-width: $border-width;
            border-radius: $border-radius;
        }

        .kbq-code-block__code {
            position: relative;

            & > code {
                padding:
                    var(
                        --kbq-code-block-size-no-header-content-padding-vertical,
                        map.get($tokens, code-block-size-no-header-content-padding-vertical)
                    )
                    var(
                        --kbq-code-block-size-no-header-content-padding-horizontal,
                        map.get($tokens, code-block-size-no-header-content-padding-horizontal)
                    );
            }

            .hljs-ln-numbers {
                padding-right: var(
                    --kbq-code-block-size-no-header-content-content-gap-horizontal,
                    map.get($tokens, code-block-size-no-header-content-content-gap-horizontal)
                );
            }
        }
    }

    &:not(:has(.kbq-code-block__show-more)) {
        .kbq-code-block__code {
            overflow-y: auto;
        }
    }

    pre {
        margin: 0;
    }

    .kbq-tab-body__wrapper {
        flex-direction: column;
        position: unset;

        border-width: $border-width;
        border-style: solid;
        border-radius: 0 0 $border-radius $border-radius;
    }

    .kbq-tab-body.kbq-tab-body__active {
        position: unset;
    }
}

.kbq-code-block__code {
    overflow-y: hidden;

    &.kbq-code-block__code_view-all {
        max-height: unset;
        overflow-y: auto;
    }

    &.kbq-code-block__code_soft-wrap {
        white-space: pre-wrap
    }

    .hljs-ln {
        border-collapse: unset;

        .hljs {
            padding: 0;
        }
    }

    .hljs-ln-numbers {
        vertical-align: baseline;
        text-align: right;
    }

    .hljs-ln-n:before {
        white-space: nowrap;
    }
}

.kbq-code-block__show-more {
    display: flex;
    justify-content: center;
    overflow: hidden;

    width: calc(100% - $border-width * 2);

    position: absolute;
    bottom: $border-width;
    border-radius: $border-radius;

    &.kbq-code-block__show-more_collapsed {
        padding-top: var(
            --kbq-code-block-size-collapse-collapsed-padding-top,
            map.get($tokens, code-block-size-collapse-collapsed-padding-top)
        );

        padding-bottom: var(
            --kbq-code-block-size-collapse-collapsed-padding-bottom,
            map.get($tokens, code-block-size-collapse-collapsed-padding-bottom)
        );
    }

    &.kbq-code-block__show-more_expanded {
        padding-top: var(
            --kbq-code-block-size-collapse-expanded-padding-top,
            map.get($tokens, code-block-size-collapse-expanded-padding-top)
        );

        margin-bottom: var(
            --kbq-code-block-size-collapse-expanded-padding-bottom,
            map.get($tokens, code-block-size-collapse-expanded-padding-bottom)
        );
    }

    .bg-wrapper {
        border-radius: var(--kbq-button-size-border-radius, map.get($tokens, button-size-border-radius));
    }
}
/* stylelint-enable no-descending-specificity */
