.kbq-code-block {
    --kbq-code-block-size-container-border-width: var(--kbq-size-border-width);
    --kbq-code-block-size-container-border-width-focused: 2px;
    --kbq-code-block-size-container-border-radius: var(--kbq-size-border-radius);
    --kbq-code-block-size-with-header-content-padding-top: var(--kbq-size-xxs);
    --kbq-code-block-size-with-header-content-padding-bottom: var(--kbq-size-l);
    --kbq-code-block-size-with-header-content-padding-horizontal: var(--kbq-size-xl);
    --kbq-code-block-size-with-header-content-content-gap-horizontal: var(--kbq-size-m);
    --kbq-code-block-size-no-header-content-padding-vertical: 14px;
    --kbq-code-block-size-no-header-content-padding-horizontal: var(--kbq-size-xl);
    --kbq-code-block-size-no-header-content-content-gap-horizontal: var(--kbq-size-m);
    --kbq-code-block-size-header-content-gap-horizontal: var(--kbq-size-l);
    --kbq-code-block-size-actionbar-content-gap-horizontal: var(--kbq-size-3xs);
    --kbq-code-block-size-collapse-expanded-padding-top: 0;
    --kbq-code-block-size-collapse-expanded-padding-bottom: var(--kbq-size-l);
    --kbq-code-block-size-collapse-collapsed-padding-top: var(--kbq-size-3xl);
    --kbq-code-block-size-collapse-collapsed-padding-bottom: var(--kbq-size-l);
    /* THEME TOKENS */
    --kbq-code-block-filled-container-background: var(--kbq-background-contrast-less);
    --kbq-code-block-filled-container-border-color: transparent;
    --kbq-code-block-filled-header-background: transparent;
    --kbq-code-block-filled-actionbar-background: var(--kbq-background-card);
    --kbq-code-block-filled-actionbar-border-color: var(--kbq-line-contrast-less);
    --kbq-code-block-filled-collapse-expanded-background: transparent;
    --kbq-code-block-filled-collapse-collapsed-background: linear-gradient(
        180deg,
        transparent,
        var(--kbq-background-bg-secondary) 100%
    );
    --kbq-code-block-filled-collapse-button-expand-background: var(--kbq-background-bg-secondary);
    --kbq-code-block-outline-container-background: var(--kbq-background-card);
    --kbq-code-block-outline-container-border-color: var(--kbq-divider-color, var(--kbq-line-contrast-less));
    --kbq-code-block-outline-header-background: var(--kbq-background-card);
    --kbq-code-block-outline-actionbar-background: var(--kbq-background-card);
    --kbq-code-block-outline-actionbar-border-color: var(--kbq-line-contrast-less);
    --kbq-code-block-outline-collapse-expanded-background: transparent;
    --kbq-code-block-outline-collapse-collapsed-background: linear-gradient(
        180deg,
        transparent,
        var(--kbq-background-bg) 100%
    );
    --kbq-code-block-outline-collapse-button-expand-background: var(--kbq-background-card);
    --kbq-code-block-tab-size: 4;
}
