@use '@koobiq/icons/fonts/kbq-icons';
@use '@koobiq/design-tokens/web/css-tokens.css';
@use '@koobiq/design-tokens/web/css-tokens-dark.css';
@use '@koobiq/design-tokens/web/css-tokens-light.css';

@use '../components/core/styles/theming/prebuilt/theme';
@use '../components/core/styles/visual/layout';
@use '../components/core/styles/common/list';
@use '../components/core/styles/common/tokens';

@use '../../apps/docs/src/styles/koobiq';
@use '../../apps/docs/src/styles/fonts';

@include layout.layouts-for-breakpoint();

body {
    @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);

    background: var(--kbq-background-bg);
    color: var(--kbq-foreground-contrast);
    margin: 0;
}

hr {
    margin: var(--kbq-size-xxl) 0;
}
