@use '@koobiq/icons-lts/dist/fonts/mc-icons';

@use '../components/core/styles/theming/prebuilt/light-theme';
//@use '../components/core/styles/theming/prebuilt/dark-theme';

@use '../components/core/styles/visual/layout';

@include layout.layouts-for-breakpoint();
