@use '../main';

app {
    display: block;
    width: 50%;
}

.simple-tags-example-row {
    display: flex;
    gap: 8px;
}

.dev-container {
    border: 1px solid red;
    padding: 24px;
}

hr {
    margin: 30px 0;
}
