@use '../main';

.example-container {
    width: 50%;
}

.simple-tags-example-row {
    display: flex;
    gap: 8px;
}

.dev-container {
    width: 500px;

    border: 1px solid red;

    padding: 24px;
}
