@import '@koobiq/design-tokens/web/variables';
@use '../main';

.dev-container {
    display: flex;
    flex-wrap: wrap;

    width: 0;

    & .example-button {
        margin-bottom: $size-m;
    }
}

.kbq-app-background {
    margin: 0;
}
