@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-textarea-typography($config) {
    .kbq-textarea {
        @include kbq-typography-css-variables(textarea, default);
    }
}
