.kbq-textarea {
    --kbq-textarea-size-min-height: 64px;
    --kbq-textarea-size-max-height: 96px;
    --kbq-textarea-size-padding-vertical: 6px;
    --kbq-textarea-size-padding-horizontal: 12px;
    --kbq-textarea-font-default-font-size: 14px;
    --kbq-textarea-font-default-line-height: 20px;
    --kbq-textarea-font-default-letter-spacing: -0.006em;
    --kbq-textarea-font-default-font-weight: normal;
    --kbq-textarea-font-default-text-transform: null;
    --kbq-textarea-font-default-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-textarea-font-default-font-family: var(--kbq-typography-text-normal-font-family);
}

:root {
    --kbq-typography-text-normal-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
}
