.content__example-tags-group {
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    max-width: 504px;
}

.content__example-tags-group .example-tag {
    width: 96px;
}

.content__example-tags-group .content__example-tag-row {
    gap: 24px;
}
