@use '../dist/components/core/styles/theming';
@use '../dist/components/core/styles/common/tokens';

@mixin kbq-docs-sidenav-theme() {
    .docs-sidenav {
        background-color: var(--kbq-background-bg-secondary);

        .docs-sidenav__header-text path {
            fill: var(--kbq-foreground-contrast);
        }

        .kbq-tree-option:hover {
            background: var(--kbq-states-background-transparent-hover);
        }

        .kbq-tree-option.kbq-selected,
        .kbq-tree-option.kbq-selected:hover {
            background: var(--kbq-states-background-transparent-active);
        }
    }

    @media (width <= 768px) {
        .docs-sidenav {
            background-color: var(--kbq-background-bg);
        }
    }
}

@mixin kbq-docs-sidenav-typography() {
    .docs-sidenav {
        .docs-sidenav__category-text {
            @include tokens.kbq-typography-level-to-styles_css-variables(typography, subheading);
        }
    }

    .docs-navbar__anchor .kbq-button {
        @include tokens.kbq-typography-level-to-styles_css-variables(typography, text-big);
    }

    @media (width <= 768px) {
        .docs-sidenav__category {
            @include tokens.kbq-typography-level-to-styles_css-variables(typography, title);
        }
    }
}
