@use 'sass:map';

@use '../dist/components/core/styles/theming';
@use '../dist/components/core/styles/typography';

@mixin kbq-docs-sidenav-theme($theme) {
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
    $states-background: map.get(map.get($theme, states), background);

    .docs-sidenav {
        background-color: map.get($background, bg-secondary);

        .docs-sidenav__header-text path {
            fill: map.get($foreground, contrast);
        }

        .kbq-tree-option:hover {
            background: map.get($states-background, transparent-hover);
        }

        .kbq-tree-option.kbq-selected,
        .kbq-tree-option.kbq-selected:hover {
            background: map.get($states-background, transparent-active);
        }
    }

    @media (width <= 768px) {
        .docs-sidenav {
            background-color: map.get($background, bg);
        }
    }
}

@mixin kbq-docs-sidenav-typography($config) {
    .docs-sidenav {
        .docs-sidenav__item > .kbq-option-text {
            @include typography.kbq-typography-level-to-styles($config, text-big);
        }

        .docs-sidenav__category-text {
            @include typography.kbq-typography-level-to-styles($config, subheading);
        }
    }

    .docs-navbar__anchor .kbq-button {
        @include typography.kbq-typography-level-to-styles($config, text-big);
    }

    @media (width <= 768px) {
        .docs-sidenav__category {
            @include typography.kbq-typography-level-to-styles($config, title);
        }
    }
}
