@use '../dist/components/core/styles/common/select';

.docs-sidenav {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    max-height: 100%;
    min-width: 300px;

    .kbq-divider {
        margin: 0 !important;
        min-height: 1px;
    }
}

.docs-sidenav__header {
    display: flex;

    gap: var(--kbq-size-m);
    padding: var(--kbq-size-xl) var(--kbq-size-l) var(--kbq-size-xl) var(--kbq-size-xxl);
}

.docs-sidenav__menu {
    overflow-y: auto;
    flex: 1;

    .docs-sidenav__category {
        height: 40px;
    }

    .kbq-tree-selection {
        padding: 0 var(--kbq-size-m);
        padding-bottom: var(--kbq-size-xxl);

        .kbq-tree-option {
            padding-left: calc(var(--kbq-size-m) - var(--kbq-size-3xs));
            padding-right: calc(var(--kbq-size-m) - var(--kbq-size-3xs));

            @include select.item-active-area(var(--kbq-size-3xs));
        }
    }

    .docs-sidenav__category-text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > span {
            display: flex;
            align-items: center;
        }

        .docs-sidenav__category-icon {
            transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);

            &.docs-sidenav__category-icon_collapsed {
                transform: rotate(-90deg);
            }
        }
    }

    .docs-sidenav__item {
        .kbq-option-text,
        .kbq-option-text a {
            padding: inherit;
        }

        a {
            // We should cover the entire option area with the link for better UX
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--kbq-size-s);

            box-sizing: border-box;

            text-decoration: none;
            color: inherit;
        }
    }
}

@media (width <= 768px) {
    .docs-sidenav {
        margin-top: calc(var(--kbq-size-7xl) + 1px);

        overflow-y: auto;

        .kbq-tree-selection {
            padding: 0 0;

            .kbq-tree-option {
                border-radius: 0;
                font-size: 16px;
                line-height: 24px;
                min-height: 48px;
                padding: calc(var(--kbq-size-m) - var(--kbq-size-3xs)) calc(var(--kbq-size-l) - var(--kbq-size-3xs));

                &:before,
                &:after {
                    display: none;
                }
            }
        }

        .docs-sidenav__header {
            display: none;
        }

        .docs-sidenav__menu {
            overflow-y: unset;
            padding-top: var(--kbq-size-s);
            padding-bottom: var(--kbq-size-xxl);
        }

        .docs-sidenav__category-text {
            font-size: 16px !important;
            line-height: 24px !important;
        }
    }
}

@media (769px <= width <= 1200px) {
    .docs-sidenav {
        min-width: 240px !important;
        max-width: 240px !important;

        .docs-sidenav__header {
            padding-right: var(--kbq-size-xxl);
        }
    }
}
