@use '../../../styles/koobiq/default-theme/variables' as *;

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

.docs-sidenav {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    max-height: 100%;
    min-width: 300px;

    .kbq-divider {
        margin: 0 !important;
        min-height: 1px;
    }
}

.docs-sidenav__header {
    display: flex;

    gap: $size-m;
    padding: $size-xl $size-l $size-xl $size-xxl;
}

.docs-sidenav__menu {
    overflow-y: auto;
    flex: 1;

    .docs-sidenav__category {
        height: 36px;
    }

    .kbq-tree-selection {
        padding: 0 var(--kbq-size-xxs);
    }

    .docs-sidenav__category-text {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: $size-l !important;
        padding-right: $size-l !important;

        & > span {
            display: flex;
            align-items: center;
        }

        .docs-sidenav__category-icon {
            @include transition(transform 225ms cubic-bezier(0.4, 0, 0.2, 1));

            &.mc_collapsed {
                transform: rotate(-90deg);
            }
        }
    }

    .docs-sidenav__item {
        padding-left: $size-3xl;

        height: 32px;

        & > span {
            display: flex;
            justify-content: center;
        }
    }

    .kbq-tree-option .kbq-option-text {
        padding-top: $size-3xs;
        padding-bottom: $size-3xs;
    }
}

@media (width <= 768px) {
    .docs-sidenav {
        margin-top: $size-7xl + 1px;

        overflow-y: auto;

        .docs-sidenav__header {
            display: none;
        }

        .docs-sidenav__menu {
            overflow-y: unset;
            padding-top: $size-l;
            padding-bottom: $size-xxl;
        }

        .docs-sidenav__category {
            height: 48px;
        }

        .docs-sidenav__item {
            height: 44px;
            padding-left: $size-xxl !important;
        }

        .docs-sidenav__item + .docs-sidenav__category {
            margin-top: $size-s;
        }

        .docs-sidenav__category-text {
            padding-left: $size-s !important;
        }
    }
}

@media (769px <= width <= 1200px) {
    .docs-sidenav {
        min-width: 240px !important;
        max-width: 240px !important;

        .docs-sidenav__header {
            padding-right: $size-xxl;
        }
    }
}
