.content__example-button-group {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 32px;
}

.content__example-button-group .example-button {
    width: 128px;
}

.example-label {
    margin-bottom: 12px;
}
