@use 'styles/koobiq';
@use '@koobiq/icons/fonts/kbq-icons';
@use './styles/fonts';
@use './styles/theme-kbq';
@use './styles/markdown';
@use './styles/docsearch';
@use './styles/callout';
@use './styles/examples';
@use './styles/code-snippet';

// Import theme
// https://github.com/koobiq/data-grid/blob/main/packages/ag-grid-angular-theme/README.md
@use '@koobiq/ag-grid-angular-theme';

/* stylelint-disable-next-line selector-class-pattern */
.docs {
    @include theme-kbq.docs-typography();
    @include theme-kbq.kbq-docs-theme();
}
