.kbq-empty-state {
    --kbq-empty-state-size-big-max-width: 480px;
    --kbq-empty-state-size-big-padding-horizontal: 56px;
    --kbq-empty-state-size-big-padding-top: 48px;
    --kbq-empty-state-size-big-padding-bottom: 48px;
    --kbq-empty-state-size-big-actions-margin-top: 20px;
    --kbq-empty-state-size-big-image-margin-bottom: 32px;
    --kbq-empty-state-size-big-image-addon-height: 56px;
    --kbq-empty-state-size-big-title-margin-bottom: 16px;
    --kbq-empty-state-size-normal-max-width: 320px;
    --kbq-empty-state-size-normal-padding-horizontal: 32px;
    --kbq-empty-state-size-normal-padding-top: 32px;
    --kbq-empty-state-size-normal-padding-bottom: 32px;
    --kbq-empty-state-size-normal-actions-margin-top: 8px;
    --kbq-empty-state-size-normal-image-margin-bottom: 20px;
    --kbq-empty-state-size-normal-image-addon-height: 24px;
    --kbq-empty-state-size-normal-title-margin-bottom: 4px;
    --kbq-empty-state-font-big-title-font-size: 28px;
    --kbq-empty-state-font-big-title-line-height: 32px;
    --kbq-empty-state-font-big-title-letter-spacing: normal;
    --kbq-empty-state-font-big-title-font-weight: 700;
    --kbq-empty-state-font-big-title-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue', Arial, sans-serif;
    --kbq-empty-state-font-big-title-text-transform: null;
    --kbq-empty-state-font-big-title-font-feature-settings: 'calt', 'kern', 'liga';
    --kbq-empty-state-font-big-text-font-size: 14px;
    --kbq-empty-state-font-big-text-line-height: 20px;
    --kbq-empty-state-font-big-text-letter-spacing: -0.006em;
    --kbq-empty-state-font-big-text-font-weight: normal;
    --kbq-empty-state-font-big-text-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
    --kbq-empty-state-font-big-text-text-transform: null;
    --kbq-empty-state-font-big-text-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-empty-state-font-normal-title-font-size: 16px;
    --kbq-empty-state-font-normal-title-line-height: 24px;
    --kbq-empty-state-font-normal-title-letter-spacing: -0.011em;
    --kbq-empty-state-font-normal-title-font-weight: 600;
    --kbq-empty-state-font-normal-title-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue', Arial, sans-serif;
    --kbq-empty-state-font-normal-title-text-transform: null;
    --kbq-empty-state-font-normal-title-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-empty-state-font-normal-text-font-size: 14px;
    --kbq-empty-state-font-normal-text-line-height: 20px;
    --kbq-empty-state-font-normal-text-letter-spacing: -0.006em;
    --kbq-empty-state-font-normal-text-font-weight: normal;
    --kbq-empty-state-font-normal-text-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue', Arial, sans-serif;
    --kbq-empty-state-font-normal-text-text-transform: null;
    --kbq-empty-state-font-normal-text-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-empty-state-title: hsla(229, 15%, 15%, 100%);
    --kbq-empty-state-color: hsla(229, 15%, 15%, 100%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-empty-state-title: hsla(229, 15%, 80%, 100%);
    --kbq-empty-state-color: hsla(229, 15%, 80%, 100%);
}
