@use 'sass:meta';
@use 'sass:map';

@use '../styles/common/vendor-prefixes';
@use '../styles/typography/typography' as *;
@use '../styles/typography/typography-utils' as *;


@mixin kbq-form-geometry($tokens) {
    .kbq-form {
        display: flex;
        flex-direction: column;
    }

    .kbq-form__row {
        display: flex;
        flex-direction: row;
    }

    .kbq-form-horizontal {
        $config: kbq-typography-config($tokens);

        $line-height: kbq-line-height($config, map.get($tokens, forms-font-label));
        $form-field-size-height: map.get($tokens, form-field-size-height);
        $label-padding-top: calc(($form-field-size-height - $line-height) / 2);

        & .kbq-form-row_margin {
            margin-bottom: var(
                --kbq-forms-size-horizontal-row-margin-bottom,
                #{map.get($tokens, forms-size-horizontal-row-margin-bottom)}
            );
        }

        & .kbq-form__label {
            padding-top: var(--kbq-forms-size-horizontal-label-padding-top, #{$label-padding-top});

            text-align: start;
        }

        & .kbq-form__control {
            padding-left: var(
                --kbq-forms-size-horizontal-control-padding-left,
                #{map.get($tokens, forms-size-horizontal-control-padding-left)}
            );
        }

        & .kbq-form__legend {
            margin-top: var(
                --kbq-forms-size-horizontal-legend-margin-top,
                #{map.get($tokens, forms-size-horizontal-legend-margin-top)}
            );
            margin-bottom: var(
                --kbq-forms-size-horizontal-legend-margin-bottom,
                #{map.get($tokens, forms-size-horizontal-legend-margin-bottom)}
            );
        }
    }

    .kbq-form-vertical {
        & .kbq-form__row {
            flex-direction: column;
        }

        & .kbq-form-row_margin {
            margin-bottom: var(
                --kbq-forms-size-vertical-row-margin-bottom, #{map.get($tokens, forms-size-vertical-row-margin-bottom)}
            );
        }

        & .kbq-form__label {
            padding-top: var(
                --kbq-forms-size-vertical-label-padding-top, #{map.get($tokens, forms-size-vertical-label-padding-top)}
            );
            padding-bottom: var(
                --kbq-forms-size-vertical-label-padding-bottom,
                #{map.get($tokens, forms-size-vertical-label-padding-bottom)}
            );

            text-align: start;
        }

        & .kbq-form__control {
            padding-left: 0;
        }

        & .kbq-form__legend {
            margin-top: var(
                --kbq-forms-size-vertical-legend-margin-top, #{map.get($tokens, forms-size-vertical-legend-margin-top)}
            );
            margin-bottom: var(
                --kbq-forms-size-vertical-legend-margin-bottom,
                #{map.get($tokens, forms-size-vertical-legend-margin-bottom)}
            );
        }
    }

    .kbq-form__fieldset {
        display: flex;
        flex-direction: column;
    }

    .kbq-form__fieldset.kbq-horizontal {
        flex-direction: row;

        & .kbq-form__row:not(:first-child) {
            padding-left: var(
                --kbq-forms-size-vertical-control-padding-left,
                #{map.get($tokens, forms-size-vertical-control-padding-left)}
            );
        }
    }
}
