@use '../styles/common/tokens' as *;

@mixin kbq-form-geometry() {
    .kbq-form {
        display: flex;
        flex-direction: column;
    }

    .kbq-form__row {
        display: flex;
        flex-direction: row;
    }

    .kbq-form-horizontal {
        $line-height: kbq-css-variable(forms-font-label-line-height);
        $form-field-size-height: kbq-css-variable(form-field-size-height);

        & .kbq-form-row_margin {
            margin-bottom: kbq-css-variable(forms-size-horizontal-row-margin-bottom);
        }

        & .kbq-form__label {
            padding-top: calc(($form-field-size-height - $line-height) / 2);

            text-align: start;
        }

        & .kbq-form__control {
            padding-left: kbq-css-variable(forms-size-horizontal-control-padding-left);
        }

        & .kbq-form__legend {
            margin-top: kbq-css-variable(forms-size-horizontal-legend-margin-top);
            margin-bottom: kbq-css-variable(forms-size-horizontal-legend-margin-bottom);
        }
    }

    .kbq-form-vertical {
        & .kbq-form__row {
            flex-direction: column;
        }

        & .kbq-form-row_margin {
            margin-bottom: kbq-css-variable(forms-size-vertical-row-margin-bottom);
        }

        & .kbq-form__label {
            padding-top: kbq-css-variable(forms-size-vertical-label-padding-top);
            padding-bottom: kbq-css-variable(forms-size-vertical-label-padding-bottom);

            text-align: start;
        }

        & .kbq-form__control {
            padding-left: 0;
        }

        & .kbq-form__legend {
            margin-top: kbq-css-variable(forms-size-vertical-legend-margin-top);
            margin-bottom: kbq-css-variable(forms-size-vertical-legend-margin-bottom);
        }
    }

    .kbq-form__fieldset {
        display: flex;
        flex-direction: column;
    }

    .kbq-form__fieldset.kbq-horizontal {
        flex-direction: row;

        & .kbq-form__row:not(:first-child) {
            padding-left: kbq-css-variable(forms-size-vertical-control-padding-left);
        }
    }
}
