.kbq-form {
    --kbq-forms-size-horizontal-row-margin-bottom: var(--kbq-size-xl);
    --kbq-forms-size-horizontal-control-padding-left: var(--kbq-size-l);
    --kbq-forms-size-horizontal-legend-margin-top: var(--kbq-size-3xl);
    --kbq-forms-size-horizontal-legend-margin-bottom: var(--kbq-size-l);
    --kbq-forms-size-vertical-row-margin-bottom: var(--kbq-size-l);
    --kbq-forms-size-vertical-label-padding-top: 0;
    --kbq-forms-size-vertical-label-padding-bottom: var(--kbq-size-s);
    --kbq-forms-size-vertical-control-padding-left: var(--kbq-size-xxl);
    --kbq-forms-size-vertical-legend-margin-top: var(--kbq-size-3xl);
    --kbq-forms-size-vertical-legend-margin-bottom: var(--kbq-size-m);
    /* THEME TOKENS */
    --kbq-forms-label: var(--kbq-foreground-contrast);
    --kbq-forms-legend: var(--kbq-foreground-contrast);
}
