@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


/* stylelint-disable no-descending-specificity */
@mixin kbq-file-upload-theme($theme) {
    $file-upload: map.get($theme, components, file-upload);

    .kbq-file-upload {
        .kbq-focused, .kbq-link.kbq-focused {
            border: 2px solid kbq-css-variable(
                file-upload-single-states-focused, map.get($file-upload, single, states, focused)
            );
        }
    }

    .kbq-single-file-upload {
        .kbq-file-upload {
            background-color: kbq-css-variable(
                file-upload-single-default-background, map.get($file-upload, single, default, background)
            );
            border-color: kbq-css-variable(
                file-upload-single-default-border, map.get($file-upload, single, default, border)) !important;

            &.dragover {
                background-color: kbq-css-variable(
                    file-upload-single-states-on-drag-background,
                    map.get($file-upload, single, states, on-drag, background)
                );
                border-color: kbq-css-variable(
                    file-upload-single-states-on-drag-border,
                    map.get($file-upload, single, states, on-drag, border)) !important;
            }

            &.kbq-error:not(.kbq-disabled) {
                &:not(.dragover) {
                    background-color: kbq-css-variable(
                        file-upload-single-states-error-background,
                        map.get($file-upload, single, states, error, background)
                    );
                    border-color: kbq-css-variable(
                        file-upload-single-states-error-border,
                        map.get($file-upload, single, states, error, border)) !important;
                }

                *,
                .kbq-icon {
                    color: kbq-css-variable(
                        file-upload-single-states-error-text-block,
                        map.get($file-upload, single, states, error, text-block)
                    );
                }
            }

            &.kbq-disabled {
                background-color: kbq-css-variable(
                    file-upload-single-states-disabled-background,
                    map.get($file-upload, single, states, disabled, background)
                );
                border-color: kbq-css-variable(
                    file-upload-single-states-disabled-border,
                    map.get($file-upload, single, states, disabled, border)
                ) !important;

                &,
                .kbq-icon,
                .kbq-link {
                    color: kbq-css-variable(
                        file-upload-single-states-disabled-border,
                        map.get($file-upload, single, states, disabled, border)
                    );
                }
            }
        }
    }

    .kbq-multiple-file-upload {
        .kbq-file-upload {
            background-color: kbq-css-variable(
                file-upload-multiple-default-background, map.get($file-upload, multiple, default, background));
            border-color: kbq-css-variable(
                file-upload-multiple-default-border, map.get($file-upload, multiple, default, border)) !important;

            .btn-upload {
                border-top-color: kbq-css-variable(
                    file-upload-multiple-default-border, map.get($file-upload, multiple, default, border));
            }

            .kbq-file-multiple-uploaded__header {
                border-bottom-color: kbq-css-variable(
                    file-upload-multiple-default-grid-divider, map.get($file-upload, multiple, default, grid-divider)
                );

                .kbq-file-multiple-uploaded__header-inner {
                    //color: map.get(map.get($multiple, default), border);;
                }
            }

            &.dragover {
                background-color: kbq-css-variable(
                    file-upload-multiple-states-on-drag-background,
                    map.get($file-upload, multiple, states, on-drag, background)
                );
                border-color: kbq-css-variable(
                    file-upload-multiple-states-on-drag-border,
                    map.get($file-upload, multiple, states, on-drag, border)
                ) !important;

                .kbq-file-multiple-uploaded__header {
                    border-bottom-color: kbq-css-variable(
                        file-upload-multiple-states-on-drag-background,
                        map.get($file-upload, multiple, states, on-drag, background)
                    ) !important;
                }

                &.selected {
                    .dropzone {
                        border-top-color: kbq-css-variable(
                            file-upload-multiple-states-on-drag-border,
                            map.get($file-upload, multiple, states, on-drag, border)
                        );
                    }
                }
            }

            &.kbq-disabled {
                background-color: kbq-css-variable(
                    file-upload-multiple-states-disabled-background,
                    map.get($file-upload, multiple, states, disabled, background)
                );
                border-color: kbq-css-variable(
                    file-upload-multiple-states-disabled-border,
                    map.get($file-upload, multiple, states, disabled, border)
                ) !important;

                &,
                .kbq-icon,
                .kbq-link {
                    color: kbq-css-variable(
                        file-upload-multiple-states-disabled-border,
                        map.get($file-upload, multiple, states, disabled, border)
                    );
                }

                &.selected {
                    .dropzone {
                        border-top-color: kbq-css-variable(
                            file-upload-multiple-states-disabled-border,
                            map.get($file-upload, multiple, states, disabled, border)
                        );
                    }
                }
            }

            &:not(.kbq-disabled) {
                .kbq-file-upload__row.error {
                    *,
                    .kbq-icon {
                        color: kbq-css-variable(
                            file-upload-multiple-states-error-text-block,
                            map.get($file-upload, multiple, states, error, text-block)
                        );
                    }
                }
            }

            .multiple__uploaded-item {
                & .kbq-file-upload__file .kbq-icon {
                    color: kbq-css-variable(
                        file-upload-multiple-default-left-icon, map.get($file-upload, multiple, default, left-icon)
                    );
                }

                & .kbq-file-upload__action .kbq-icon {
                    color: kbq-css-variable(
                        file-upload-multiple-default-icon-button, map.get($file-upload, multiple, default, icon-button)
                    );
                }
            }
        }
    }

    .kbq-single-file-upload,
    .kbq-multiple-file-upload {
        .kbq-file-upload__hint:not(.kbq-error) {
            color: map.get($theme, components, form-field-hint, text);
        }
    }
}


@mixin kbq-file-upload-typography($config) {
    .kbq-single-file-upload {
        & .file-item__text-wrapper,
        & .dropzone__text {
            @include kbq-typography-css-variables(file-upload, single-text-block);
        }
    }

    .kbq-multiple-file-upload {
        .multiple__header {
            @include kbq-typography-css-variables(file-upload, multiple-title);
        }

        .multiple__caption {
            &,
            .kbq-link {
                @include kbq-typography-css-variables(file-upload, multiple-text-block);
            }
        }

        .kbq-file-multiple-uploaded__header {
            @include kbq-typography-css-variables(file-upload, multiple-grid);
        }

        .multiple__uploaded-item {
            @include kbq-typography-css-variables(file-upload, multiple-grid);
        }

        .kbq-file-upload {
            .kbq-list-item,
            .kbq-list-option {
                @include kbq-typography-css-variables(file-upload, multiple-grid);
            }
        }
    }

    .kbq-single-file-upload,
    .kbq-multiple-file-upload {
        .kbq-file-upload__hint.kbq-hint .kbq-hint__text {
            @include kbq-typography-css-variables(form-field-hint, text);
        }
    }
}
/* stylelint-enable no-descending-specificity */
