// @TODO should remove "selector-class-pattern" rule ignore (#DS-3753)
/* stylelint-disable selector-class-pattern */
@use '../core/styles/common/tokens';

@mixin kbq-file-upload-theme() {
    .kbq-file-upload {
        .kbq-focused,
        .kbq-link.kbq-focused {
            border: 2px solid var(--kbq-file-upload-single-states-focused-focus-outline-color);
        }
    }

    .kbq-single-file-upload {
        .kbq-file-upload {
            // FIXME: move to mixin kbq-file-upload-state
            background-color: var(--kbq-file-upload-single-default-container-background);
            border-color: var(--kbq-file-upload-single-default-container-border) !important;

            &.dragover {
                background-color: var(--kbq-file-upload-single-states-on-drag-container-background);
                border-color: var(--kbq-file-upload-single-states-on-drag-container-border) !important;
            }

            &.kbq-error:not(.kbq-disabled) {
                &:not(.dragover) {
                    background-color: var(--kbq-file-upload-single-states-error-container-background);
                    border-color: var(--kbq-file-upload-single-states-error-container-border) !important;
                }

                :not(.kbq-link),
                .kbq-icon {
                    color: var(--kbq-file-upload-single-states-error-text-block-color);
                }
            }

            &.kbq-disabled {
                background-color: var(--kbq-file-upload-single-states-disabled-container-background);
                border-color: var(--kbq-file-upload-single-states-disabled-container-border) !important;

                &,
                .kbq-icon,
                .kbq-link {
                    color: var(--kbq-file-upload-single-states-disabled-container-border);
                }
            }
        }
    }

    .kbq-multiple-file-upload {
        .kbq-file-upload {
            background-color: var(--kbq-file-upload-multiple-default-container-background);
            border-color: var(--kbq-file-upload-multiple-default-container-border) !important;

            .btn-upload {
                border-top-color: var(--kbq-file-upload-multiple-default-container-border);
            }

            .kbq-file-multiple-uploaded__header {
                border-bottom-color: var(--kbq-file-upload-multiple-default-grid-divider-color);
            }

            &.dragover {
                background-color: var(--kbq-file-upload-multiple-states-on-drag-container-background);
                border-color: var(--kbq-file-upload-multiple-states-on-drag-container-border) !important;

                .kbq-file-multiple-uploaded__header {
                    border-bottom-color: var(--kbq-file-upload-multiple-states-on-drag-container-background) !important;
                }

                &.selected {
                    .dropzone {
                        border-top-color: var(--kbq-file-upload-multiple-states-on-drag-container-border);
                    }
                }
            }

            &.kbq-disabled {
                background-color: var(--kbq-file-upload-multiple-states-disabled-container-background);
                border-color: var(--kbq-file-upload-multiple-states-disabled-container-border) !important;

                &,
                .kbq-icon,
                .kbq-link {
                    color: var(--kbq-file-upload-multiple-states-disabled-container-border);
                }

                &.selected {
                    .dropzone {
                        border-top-color: var(--kbq-file-upload-multiple-states-disabled-container-border);
                    }
                }
            }

            &:not(.kbq-disabled) {
                &.kbq-error {
                    background-color: var(--kbq-background-error-less);
                    border-color: var(--kbq-line-error) !important;

                    :not(.kbq-link),
                    .kbq-icon {
                        color: var(--kbq-foreground-error);
                    }
                }

                .multiple__uploaded-item {
                    &:has(.kbq-file-upload__row.error) {
                        background-color: var(--kbq-background-error-less);

                        :not(.kbq-link),
                        .kbq-icon {
                            color: var(--kbq-foreground-error);
                        }
                    }
                }
            }

            .multiple__uploaded-item {
                & .kbq-file-upload__file .kbq-icon {
                    color: var(--kbq-file-upload-multiple-default-left-icon-color);
                }

                & .kbq-file-upload__action .kbq-icon {
                    color: var(--kbq-file-upload-multiple-default-icon-button-color);
                }
            }
        }
    }

    .kbq-file-upload__hint {
        .kbq-hint {
            color: var(--kbq-foreground-contrast-secondary);
        }
    }
}

@mixin kbq-file-upload-typography() {
    .kbq-single-file-upload {
        & .file-item__text-wrapper,
        & .dropzone__text {
            @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);
        }
    }

    .kbq-multiple-file-upload {
        .multiple__header {
            @include tokens.kbq-typography-level-to-styles-css-variables(typography, subheading);
        }

        .multiple__caption {
            &,
            .kbq-link {
                @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);
            }
        }

        .kbq-file-multiple-uploaded__header {
            @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);
        }

        .multiple__uploaded-item {
            @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);
        }

        .kbq-file-upload {
            .kbq-list-item,
            .kbq-list-option {
                @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);
            }
        }
    }

    .kbq-file-upload__hint .kbq-hint .kbq-hint__text {
        @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-compact);
    }
}
