@use '../core/styles/common/tokens';

@mixin _kbq-list-item($state-name) {
    --kbq-option-background: var(--kbq-list-#{$state-name}-container-background);

    background: var(--kbq-list-#{$state-name}-container-background);
}

@mixin kbq-single-file-upload-theme() {
    background-color: var(--kbq-file-upload-single-default-container-background);
    border-color: var(--kbq-file-upload-single-default-container-border) !important;

    &:not(.kbq-disabled, .kbq-error) {
        .kbq-file-dropzone__icon {
            color: var(--kbq-file-upload-single-default-dropzone-icon-color);
        }

        .kbq-file-item__text-wrapper .kbq-icon.kbq-empty {
            color: var(--kbq-file-upload-single-default-left-icon-color);
        }

        .kbq-file-item__size {
            color: var(--kbq-file-upload-single-default-file-size-text-color);
        }
    }

    &.kbq-file-drop_dragover {
        background-color: var(--kbq-file-upload-single-states-on-drag-container-background);
        border-color: var(--kbq-file-upload-single-states-on-drag-container-border) !important;
    }

    &.kbq-error:not(.kbq-disabled) {
        &:not(.kbq-file-drop_dragover) {
            background-color: var(--kbq-file-upload-single-states-error-container-background);
            border-color: var(--kbq-file-upload-single-states-error-container-border) !important;
        }

        .kbq-file-dropzone__icon {
            color: var(--kbq-file-upload-single-states-error-dropzone-icon-color);
        }

        .kbq-file-item__text-wrapper .kbq-icon.kbq-empty {
            color: var(--kbq-file-upload-single-states-error-left-icon-color);
        }

        .kbq-file-item__text,
        .kbq-file-dropzone__text:not(.kbq-link) {
            color: var(--kbq-file-upload-single-states-error-text-block-color);
        }

        .kbq-file-item__size {
            color: var(--kbq-file-upload-single-states-error-file-size-text-color);
        }
    }

    &.kbq-disabled {
        background-color: var(--kbq-file-upload-single-states-disabled-container-background);
        border-color: var(--kbq-file-upload-single-states-disabled-container-border) !important;

        .kbq-file-dropzone__icon {
            color: var(--kbq-file-upload-single-states-disabled-dropzone-icon-color);
        }

        .kbq-file-item__text-wrapper .kbq-icon.kbq-empty {
            color: var(--kbq-file-upload-single-states-disabled-left-icon-color);
        }

        .kbq-file-dropzone__text,
        .kbq-file-item__text {
            color: var(--kbq-file-upload-single-states-disabled-text-block-color);
        }

        .kbq-file-item__size {
            color: var(--kbq-file-upload-single-states-disabled-file-size-text-color);
        }
    }
}

@mixin kbq-multiple-file-upload-theme() {
    background-color: var(--kbq-file-upload-multiple-default-container-background);
    border-color: var(--kbq-file-upload-multiple-default-container-border) !important;

    &:not(.kbq-disabled, .kbq-error) {
        .kbq-file-dropzone__icon {
            color: var(--kbq-file-upload-multiple-default-dropzone-icon-color);
        }

        .kbq-multiple-file-upload__empty-state-upload-icon {
            color: var(--kbq-file-upload-multiple-default-upload-icon-color);
        }

        .kbq-file-multiple__caption {
            color: var(--kbq-file-upload-multiple-default-text-block-color);
        }

        .kbq-file-dropzone__text,
        .kbq-file-dropzone__caption {
            --kbq-empty-state-title: var(--kbq-file-upload-multiple-default-text-block-color);
            --kbq-empty-state-color: var(--kbq-file-upload-multiple-default-text-block-color);
        }
    }

    &.kbq-file-drop_dragover {
        background-color: var(--kbq-file-upload-multiple-states-on-drag-container-background);
        border-color: var(--kbq-file-upload-multiple-states-on-drag-container-border) !important;

        .kbq-file-btn-upload {
            border-top-color: var(--kbq-file-upload-multiple-states-on-drag-container-border);
        }

        .kbq-file-dropzone__icon {
            color: var(--kbq-file-upload-multiple-states-on-drag-dropzone-icon-color);
        }

        .kbq-multiple-file-upload__empty-state-upload-icon {
            color: var(--kbq-file-upload-multiple-states-on-drag-upload-icon-color);
        }
    }

    &.kbq-disabled {
        background-color: var(--kbq-file-upload-multiple-states-disabled-container-background);
        border-color: var(--kbq-file-upload-multiple-states-disabled-container-border) !important;

        .kbq-file-dropzone__icon {
            color: var(--kbq-file-upload-multiple-states-disabled-dropzone-icon-color);
        }

        .kbq-multiple-file-upload__empty-state-upload-icon {
            color: var(--kbq-file-upload-multiple-states-disabled-upload-icon-color);
        }

        .kbq-file-dropzone__text,
        .kbq-file-dropzone__caption {
            --kbq-empty-state-title: var(--kbq-file-upload-multiple-states-disabled-text-block-color);
            --kbq-empty-state-color: var(--kbq-file-upload-multiple-states-disabled-text-block-color);
        }

        .kbq-file-multiple__caption {
            color: var(--kbq-file-upload-multiple-states-disabled-text-block-color);
        }

        .kbq-file-multiple__uploaded-item {
            .kbq-file-upload__file .kbq-icon.kbq-empty {
                color: var(--kbq-file-upload-multiple-states-disabled-left-icon-color);
            }

            .kbq-file-item__text,
            .kbq-file-upload__size {
                color: var(--kbq-file-upload-multiple-states-disabled-text-block-color);
            }
        }
    }

    &:not(.kbq-disabled) {
        &.kbq-error {
            background-color: var(--kbq-file-upload-multiple-states-error-container-background);
            border-color: var(--kbq-file-upload-multiple-states-error-container-border) !important;

            .kbq-file-dropzone__icon {
                color: var(--kbq-file-upload-multiple-states-error-dropzone-icon-color);
            }

            .kbq-multiple-file-upload__empty-state-upload-icon {
                color: var(--kbq-file-upload-multiple-states-error-upload-icon-color);
            }

            .kbq-file-multiple__caption {
                color: var(--kbq-file-upload-multiple-states-error-text-block-color);
            }

            .kbq-file-dropzone__text:not(.kbq-link),
            .kbq-file-dropzone__caption:not(.kbq-link) {
                --kbq-empty-state-title: var(--kbq-file-upload-multiple-states-error-text-block-color);
                --kbq-empty-state-color: var(--kbq-file-upload-multiple-states-error-text-block-color);
            }

            .kbq-file-btn-upload {
                border-top-color: var(--kbq-file-upload-multiple-states-error-container-border);
            }
        }

        .kbq-file-multiple__uploaded-item {
            &:has(.kbq-file-upload__row.kbq-error) {
                &:hover,
                &.kbq-hovered {
                    .kbq-file-upload__row {
                        background-color: var(--kbq-states-background-error-less-hover);
                    }
                }

                .kbq-file-item__text,
                .kbq-file-upload__size {
                    color: var(--kbq-file-upload-multiple-states-error-text-block-color);
                }

                .kbq-file-upload__file .kbq-icon.kbq-empty {
                    color: var(--kbq-file-upload-multiple-states-error-left-icon-color);
                }

                .kbq-file-upload__action.kbq-icon.kbq-empty {
                    color: var(--kbq-file-upload-multiple-states-error-icon-button-color);
                }
            }

            &:not(:has(.kbq-file-upload__row.kbq-error)) {
                &:hover,
                &.kbq-hovered {
                    .kbq-file-upload__row {
                        @include _kbq-list-item(states-hover);
                    }
                }

                &.kbq-disabled {
                    .kbq-file-upload__row {
                        @include _kbq-list-item(states-disabled);
                    }
                }
            }
        }
    }

    .kbq-file-btn-upload {
        border-top-color: var(--kbq-file-upload-multiple-default-container-border);
    }

    .kbq-file-multiple__uploaded-item {
        .kbq-file-upload__file .kbq-icon.kbq-empty {
            color: var(--kbq-file-upload-multiple-default-left-icon-color);
        }

        .kbq-file-upload__size {
            color: var(--kbq-file-upload-multiple-default-file-size-text-color);
        }
    }
}

@mixin kbq-file-upload-theme() {
    .kbq-file-upload__hint {
        :where(& .kbq-hint) {
            color: var(--kbq-foreground-contrast-secondary);
        }
    }
}

@mixin kbq-file-upload-typography() {
    .kbq-file-upload {
        @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);
    }

    .kbq-file-upload__hint .kbq-hint .kbq-hint__text {
        @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-compact);
    }
}
