@use '../core/styles/common/tokens';

@mixin kbq-file-upload-theme() {
    .kbq-file-upload__hint {
        :where(& .kbq-hint) {
            color: var(--kbq-foreground-contrast-secondary);
        }
    }
}

@mixin kbq-file-upload-typography() {
    .kbq-file-upload {
        @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);
    }

    .kbq-file-upload__hint .kbq-hint .kbq-hint__text {
        @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-compact);
    }
}
