/* stylelint-disable no-unknown-custom-properties */

.kbq-file-upload {
    --kbq-file-upload-size-single-container-border-radius: var(--kbq-size-s);
    --kbq-file-upload-size-single-container-border-width: 1px;
    --kbq-file-upload-size-single-container-content-gap-horizontal: var(--kbq-size-s);
    --kbq-file-upload-size-single-container-padding-vertical: var(--kbq-size-m);
    --kbq-file-upload-size-single-container-padding-horizontal: var(--kbq-size-m);
    --kbq-file-upload-size-single-text-block-padding-vertical: var(--kbq-size-3xs);
    --kbq-file-upload-size-single-text-block-content-gap-horizontal: var(--kbq-size-xxs);
    --kbq-file-upload-size-multiple-big-container-min-height: 160px;
    --kbq-file-upload-size-multiple-big-container-min-width: 320px;
    --kbq-file-upload-size-multiple-big-container-border-radius: var(--kbq-size-s);
    --kbq-file-upload-size-multiple-big-container-border-width: 1px;
    --kbq-file-upload-size-multiple-big-container-content-gap-horizontal: var(--kbq-size-m);
    --kbq-file-upload-size-multiple-big-container-padding-vertical: var(--kbq-size-xxl);
    --kbq-file-upload-size-multiple-big-container-padding-horizontal: var(--kbq-size-xxl);
    --kbq-file-upload-size-multiple-big-text-block-content-gap-vertical: 0px;
    --kbq-file-upload-size-multiple-big-text-block-content-gap-horizontal: var(--kbq-size-xxs);
    --kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal: var(--kbq-size-s);
    --kbq-file-upload-size-multiple-big-grid-cell-padding-vertical: var(--kbq-size-s);
    --kbq-file-upload-size-multiple-big-grid-cell-content-gap-horizontal: var(--kbq-size-xxs);
    --kbq-file-upload-font-single-text-block-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-file-upload-font-single-text-block-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-file-upload-font-single-text-block-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-file-upload-font-single-text-block-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-file-upload-font-single-text-block-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-file-upload-font-single-text-block-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-file-upload-font-single-text-block-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
    --kbq-file-upload-font-multiple-title-font-size: var(--kbq-typography-subheading-font-size);
    --kbq-file-upload-font-multiple-title-line-height: var(--kbq-typography-subheading-line-height);
    --kbq-file-upload-font-multiple-title-letter-spacing: var(--kbq-typography-subheading-letter-spacing);
    --kbq-file-upload-font-multiple-title-font-weight: var(--kbq-typography-subheading-font-weight);
    --kbq-file-upload-font-multiple-title-font-family: var(--kbq-typography-subheading-font-family);
    --kbq-file-upload-font-multiple-title-text-transform: var(--kbq-typography-subheading-text-transform);
    --kbq-file-upload-font-multiple-title-font-feature-settings: var(--kbq-typography-subheading-font-feature-settings);
    --kbq-file-upload-font-multiple-text-block-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-file-upload-font-multiple-text-block-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-file-upload-font-multiple-text-block-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-file-upload-font-multiple-text-block-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-file-upload-font-multiple-text-block-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-file-upload-font-multiple-text-block-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-file-upload-font-multiple-text-block-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
    --kbq-file-upload-font-multiple-grid-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-file-upload-font-multiple-grid-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-file-upload-font-multiple-grid-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-file-upload-font-multiple-grid-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-file-upload-font-multiple-grid-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-file-upload-font-multiple-grid-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-file-upload-font-multiple-grid-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
    --kbq-form-field-hint-font-text-font-size: var(--kbq-typography-text-compact-font-size);
    --kbq-form-field-hint-font-text-line-height: var(--kbq-typography-text-compact-line-height);
    --kbq-form-field-hint-font-text-letter-spacing: var(--kbq-typography-text-compact-letter-spacing);
    --kbq-form-field-hint-font-text-font-weight: var(--kbq-typography-text-compact-font-weight);
    --kbq-form-field-hint-font-text-font-family: var(--kbq-typography-text-compact-font-family);
    --kbq-form-field-hint-font-text-text-transform: var(--kbq-typography-text-compact-text-transform);
    --kbq-form-field-hint-font-text-font-feature-settings: var(--kbq-typography-text-compact-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-file-upload-single-default-container-border: var(--kbq-line-contrast-fade);
    --kbq-file-upload-single-default-container-background: var(--kbq-background-bg);
    --kbq-file-upload-single-default-upload-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-single-default-left-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-single-default-text-block-color: var(--kbq-foreground-contrast);
    --kbq-file-upload-single-default-icon-button-color: var(--kbq-icon-contrast);
    --kbq-file-upload-single-states-on-drag-container-border: var(--kbq-line-theme-fade);
    --kbq-file-upload-single-states-on-drag-container-background: var(--kbq-background-theme-fade);
    --kbq-file-upload-single-states-on-drag-upload-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-single-states-on-drag-left-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-single-states-on-drag-text-block-color: var(--kbq-foreground-contrast);
    --kbq-file-upload-single-states-error-container-border: var(--kbq-line-error);
    --kbq-file-upload-single-states-error-container-background: var(--kbq-states-background-error-less);
    --kbq-file-upload-single-states-error-left-icon-color: var(--kbq-icon-error);
    --kbq-file-upload-single-states-error-text-block-color: var(--kbq-foreground-error);
    --kbq-file-upload-single-states-disabled-container-border: var(--kbq-states-line-disabled);
    --kbq-file-upload-single-states-disabled-container-background: var(--kbq-states-background-disabled);
    --kbq-file-upload-single-states-disabled-upload-icon-color: var(--kbq-states-icon-disabled);
    --kbq-file-upload-single-states-disabled-left-icon-color: var(--kbq-states-icon-disabled);
    --kbq-file-upload-single-states-disabled-text-block-color: var(--kbq-states-foreground-disabled);
    --kbq-file-upload-single-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-file-upload-multiple-default-container-border: var(--kbq-line-contrast-fade);
    --kbq-file-upload-multiple-default-container-background: var(--kbq-background-bg);
    --kbq-file-upload-multiple-default-upload-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-multiple-default-left-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-multiple-default-text-block-color: var(--kbq-foreground-contrast);
    --kbq-file-upload-multiple-default-icon-button-color: var(--kbq-icon-contrast);
    --kbq-file-upload-multiple-default-grid-divider-color: var(--kbq-line-contrast-less);
    --kbq-file-upload-multiple-states-on-drag-container-border: var(--kbq-line-theme-fade);
    --kbq-file-upload-multiple-states-on-drag-container-background: var(--kbq-background-theme-fade);
    --kbq-file-upload-multiple-states-on-drag-upload-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-multiple-states-on-drag-left-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-multiple-states-on-drag-icon-button-color: var(--kbq-icon-contrast);
    --kbq-file-upload-multiple-states-on-drag-text-block-color: var(--kbq-foreground-contrast);
    --kbq-file-upload-multiple-states-on-drag-grid-divider-color: var(--kbq-line-contrast-less);
    --kbq-file-upload-multiple-states-error-grid-cell-background: var(--kbq-states-background-error-less);
    --kbq-file-upload-multiple-states-error-left-icon-color: var(--kbq-icon-error);
    --kbq-file-upload-multiple-states-error-text-block-color: var(--kbq-foreground-error);
    --kbq-file-upload-multiple-states-error-icon-button-color: var(--kbq-icon-error);
    --kbq-file-upload-multiple-states-disabled-container-border: var(--kbq-states-line-disabled);
    --kbq-file-upload-multiple-states-disabled-container-background: var(--kbq-states-background-disabled);
    --kbq-file-upload-multiple-states-disabled-upload-icon-color: var(--kbq-states-icon-disabled);
    --kbq-file-upload-multiple-states-disabled-left-icon-color: var(--kbq-states-icon-disabled);
    --kbq-file-upload-multiple-states-disabled-text-block-color: var(--kbq-states-foreground-disabled);
    --kbq-file-upload-multiple-states-disabled-grid-divider-color: var(--kbq-states-line-disabled);
    --kbq-form-field-hint-text: var(--kbq-foreground-contrast-secondary);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-file-upload-single-default-container-border: var(--kbq-line-contrast-fade);
    --kbq-file-upload-single-default-container-background: var(--kbq-background-bg);
    --kbq-file-upload-single-default-upload-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-single-default-left-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-single-default-text-block-color: var(--kbq-foreground-contrast);
    --kbq-file-upload-single-default-icon-button-color: var(--kbq-icon-contrast);
    --kbq-file-upload-single-states-on-drag-container-border: var(--kbq-line-theme-fade);
    --kbq-file-upload-single-states-on-drag-container-background: var(--kbq-background-theme-fade);
    --kbq-file-upload-single-states-on-drag-upload-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-single-states-on-drag-left-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-single-states-on-drag-text-block-color: var(--kbq-foreground-contrast);
    --kbq-file-upload-single-states-error-container-border: var(--kbq-line-error);
    --kbq-file-upload-single-states-error-container-background: var(--kbq-states-background-error-less);
    --kbq-file-upload-single-states-error-left-icon-color: var(--kbq-icon-error);
    --kbq-file-upload-single-states-error-text-block-color: var(--kbq-foreground-error);
    --kbq-file-upload-single-states-disabled-container-border: var(--kbq-states-line-disabled);
    --kbq-file-upload-single-states-disabled-container-background: var(--kbq-states-background-disabled);
    --kbq-file-upload-single-states-disabled-upload-icon-color: var(--kbq-states-icon-disabled);
    --kbq-file-upload-single-states-disabled-left-icon-color: var(--kbq-states-icon-disabled);
    --kbq-file-upload-single-states-disabled-text-block-color: var(--kbq-states-foreground-disabled);
    --kbq-file-upload-single-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-file-upload-multiple-default-container-border: var(--kbq-line-contrast-fade);
    --kbq-file-upload-multiple-default-container-background: var(--kbq-background-bg);
    --kbq-file-upload-multiple-default-upload-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-multiple-default-left-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-multiple-default-text-block-color: var(--kbq-foreground-contrast);
    --kbq-file-upload-multiple-default-icon-button-color: var(--kbq-icon-contrast);
    --kbq-file-upload-multiple-default-grid-divider-color: var(--kbq-line-contrast-less);
    --kbq-file-upload-multiple-states-on-drag-container-border: var(--kbq-line-theme-fade);
    --kbq-file-upload-multiple-states-on-drag-container-background: var(--kbq-background-theme-fade);
    --kbq-file-upload-multiple-states-on-drag-upload-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-multiple-states-on-drag-left-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-file-upload-multiple-states-on-drag-icon-button-color: var(--kbq-icon-contrast);
    --kbq-file-upload-multiple-states-on-drag-text-block-color: var(--kbq-foreground-contrast);
    --kbq-file-upload-multiple-states-on-drag-grid-divider-color: var(--kbq-line-theme-fade);
    --kbq-file-upload-multiple-states-error-grid-cell-background: var(--kbq-states-background-error-less);
    --kbq-file-upload-multiple-states-error-left-icon-color: var(--kbq-icon-error);
    --kbq-file-upload-multiple-states-error-text-block-color: var(--kbq-foreground-error);
    --kbq-file-upload-multiple-states-error-icon-button-color: var(--kbq-icon-error);
    --kbq-file-upload-multiple-states-disabled-container-border: var(--kbq-states-line-disabled);
    --kbq-file-upload-multiple-states-disabled-container-background: var(--kbq-states-background-disabled);
    --kbq-file-upload-multiple-states-disabled-upload-icon-color: var(--kbq-states-icon-disabled);
    --kbq-file-upload-multiple-states-disabled-left-icon-color: var(--kbq-states-icon-disabled);
    --kbq-file-upload-multiple-states-disabled-text-block-color: var(--kbq-states-foreground-disabled);
    --kbq-file-upload-multiple-states-disabled-grid-divider-color: var(--kbq-states-line-disabled);
    --kbq-form-field-hint-text: var(--kbq-foreground-contrast-secondary);
}
