@use 'sass:meta';
@use 'sass:map';

.kbq-file-upload {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;

    .dropzone,
    .file-item {
        display: flex;
        align-items: center;
    }

    .kbq-ellipsis-center {
        position: relative;
        display: flex;

        .data-text-start {
            flex: 0 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }

        .data-text-end {
            max-width: 100%;
            flex: 1 0 auto;
            direction: rtl;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: pre;
        }
    }
}
