// @TODO should remove "selector-class-pattern" rule ignore (#DS-3753)
/* stylelint-disable selector-class-pattern */
@use '../core/styles/common/tokens' as *;

// todo нужно рефакторить со стилями тут сложно
.kbq-multiple-file-upload .kbq-file-upload {
    border-radius: var(--kbq-file-upload-size-multiple-big-container-border-radius);
    border-width: var(--kbq-file-upload-size-multiple-big-container-border-width);
    border-style: dashed;

    &.default:not(.selected) {
        justify-content: center;

        padding: var(--kbq-file-upload-size-multiple-big-container-padding-vertical)
            var(--kbq-file-upload-size-multiple-big-container-padding-vertical);

        min-height: var(--kbq-file-upload-size-multiple-big-container-min-height);

        min-width: var(--kbq-file-upload-size-multiple-big-container-min-width);

        & .dropzone {
            gap: var(--kbq-file-upload-size-multiple-big-container-content-gap-horizontal);
        }

        & .dropzone__text {
            & .multiple__header {
                display: block;
            }

            & .multiple__caption {
                display: block;
                padding-top: var(--kbq-file-upload-size-multiple-big-text-block-content-gap-vertical);
                // гап не применяется тк не флекс. в целом гап не нужен, тк по логике дизайна ссылка от текста отделяется пробелом
                gap: var(--kbq-file-upload-size-multiple-big-text-block-content-gap-horizontal);
            }
        }
    }

    &.compact:not(.selected) {
        padding: var(--kbq-file-upload-size-single-container-padding-vertical)
            var(--kbq-file-upload-size-single-container-padding-horizontal);

        & .dropzone {
            gap: var(--kbq-file-upload-size-single-container-content-gap-horizontal);

            & .dropzone__text.multiple__caption {
                padding-top: var(--kbq-file-upload-size-single-text-block-padding-vertical);

                padding-bottom: var(--kbq-file-upload-size-single-text-block-padding-vertical);

                gap: var(--kbq-file-upload-size-single-text-block-content-gap-horizontal);
            }
        }
    }

    & .kbq-list-option.multiple__uploaded-item {
        padding: 0;

        & .kbq-list-text {
            padding: calc(
                    var(--kbq-file-upload-size-multiple-big-grid-cell-padding-vertical) - var(
                            --kbq-list-size-container-focus-outline-width,
                            var(--kbq-size-3xs)
                        )
                )
                calc(
                    var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal) - var(
                            --kbq-list-size-container-focus-outline-width,
                            var(--kbq-size-3xs)
                        )
                );
        }

        .kbq-icon {
            margin-right: 0;
        }
    }

    .kbq-file-upload__grid {
        min-height: 144px;
    }

    .kbq-file-multiple-uploaded__header-inner,
    .kbq-file-upload__row {
        display: flex;
        align-items: center;

        .kbq-file-upload__file {
            width: 65%;
            max-width: 65%;

            gap: var(--kbq-file-upload-size-multiple-big-grid-cell-content-gap-horizontal);
        }

        .kbq-file-upload__size {
            width: var(--kbq-size-7xl);
            min-width: var(--kbq-size-7xl);
            text-align: left;
            flex-grow: 1;
        }
    }

    .kbq-file-upload__row {
        .kbq-file-upload__file {
            display: flex;
            align-items: center;

            .file-item__text {
                margin-left: 0;
                width: 90%;
            }
        }
    }

    .kbq-file-multiple-uploaded__header {
        border-bottom-width: 1px;
        border-bottom-style: solid;

        .kbq-file-multiple-uploaded__header-inner {
            padding: kbq-sum-series-css-variables([file-upload-size-multiple-big-grid-cell-padding-vertical, 2px])
                kbq-sum-series-css-variables([file-upload-size-multiple-big-grid-cell-padding-horizontal 2px]);
        }
    }

    .btn-upload {
        padding: kbq-difference-series-css-variables(
                [ file-upload-size-single-container-padding-vertical,
                file-upload-size-single-container-border-width]
            )
            kbq-difference-series-css-variables(
                [ file-upload-size-single-container-padding-horizontal,
                file-upload-size-single-container-border-width]
            );
        border-top-left-radius: var(--kbq-file-upload-size-single-container-border-radius);

        border-top-right-radius: var(--kbq-file-upload-size-single-container-border-radius);
        border-top-width: var(--kbq-file-upload-size-single-container-border-width);
        border-top-style: dashed;

        & .dropzone {
            gap: var(--kbq-file-upload-size-single-container-content-gap-horizontal);

            & .dropzone__text.multiple__caption {
                padding-top: var(--kbq-file-upload-size-single-text-block-padding-vertical);

                padding-bottom: var(--kbq-file-upload-size-single-text-block-padding-vertical);

                gap: var(--kbq-file-upload-size-single-text-block-content-gap-horizontal);
            }
        }
    }

    .file-upload__dropzone {
        width: 100%;
        height: 100%;
    }
}
