@use '../core/styles/common/tokens' as *;
@use './file-upload-theme';

// todo нужно рефакторить со стилями тут сложно
.kbq-multiple-file-upload .kbq-file-upload {
    border-radius: var(--kbq-file-upload-size-multiple-big-container-border-radius);
    border-width: var(--kbq-file-upload-size-multiple-big-container-border-width);
    border-style: dashed;

    &.kbq-file-upload_default:not(.kbq-selected) {
        justify-content: center;
        min-height: var(--kbq-file-upload-size-multiple-big-container-min-height);

        min-width: var(--kbq-file-upload-size-multiple-big-container-min-width);

        .kbq-empty-state {
            --kbq-empty-state-size-normal-image-addon-height: 0;
            --kbq-empty-state-size-normal-padding-top: 49px;
            --kbq-empty-state-size-normal-padding-bottom: 49px;
            --kbq-empty-state-size-normal-padding-horizontal: 22px;
        }

        .kbq-file-dropzone__text {
            .kbq-file-multiple__caption {
                padding-top: var(--kbq-file-upload-size-multiple-big-text-block-content-gap-vertical);
            }
        }
    }

    &.kbq-file-upload_compact:not(.kbq-selected) {
        padding: var(--kbq-file-upload-multiple-compact-container-padding-vertical)
            var(--kbq-file-upload-multiple-compact-container-padding-horizontal);
    }

    .kbq-file-upload__grid {
        --kbq-list-size-container-padding-vertical: var(--kbq-size-xxl);
        // @todo
        --kbq-list-size-container-padding-top: calc(var(--kbq-size-xxs) - var(--kbq-size-border-width));

        min-height: var(--kbq-file-upload-size-multiple-min-height);
        max-height: var(--kbq-file-upload-size-multiple-max-height);

        overflow-y: auto;

        padding-top: var(--kbq-list-size-container-padding-top);
        padding-bottom: var(--kbq-list-size-container-padding-vertical);
    }

    .kbq-file-upload__row {
        display: flex;
        align-items: center;
        flex: 1;

        .kbq-file-upload__grid-cell {
            padding: 0 var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal);
        }

        .kbq-file-upload__file {
            display: flex;
            align-items: center;
            flex-grow: 1;
            gap: var(--kbq-file-upload-size-multiple-big-grid-cell-content-gap-horizontal);

            .kbq-file-item__text {
                width: 90%;
            }
        }

        .kbq-file-upload__size {
            width: var(--kbq-file-upload-size-multiple-big-grid-cell-file-size-width);
            min-width: var(--kbq-file-upload-size-multiple-big-grid-cell-file-size-width);
            max-width: var(--kbq-file-upload-size-multiple-big-grid-cell-file-size-width);
            flex-grow: 1;
            flex-shrink: 1;
            text-align: left;
        }

        .kbq-file-upload__action {
            padding: var(--kbq-size-m);
        }
    }

    .kbq-file-btn-upload {
        margin: -1px;
        padding: calc(var(--kbq-size-m) - var(--kbq-file-upload-size-multiple-big-container-border-width))
            var(--kbq-size-m) var(--kbq-size-m) var(--kbq-size-m);

        border-top-width: var(--kbq-file-upload-size-multiple-big-container-border-width);
        border-top-style: dashed;

        .kbq-file-dropzone {
            gap: var(--kbq-file-upload-size-multiple-big-dropzone-content-gap-horizontal);
        }
    }

    .kbq-file-upload__dropzone {
        width: 100%;
        height: 100%;
    }

    .kbq-file-multiple__uploaded-item {
        border-radius: 0;
        border: 0;
        padding: 0 calc(var(--kbq-size-xxs) - var(--kbq-size-border-width));

        .kbq-file-upload__row {
            border-radius: var(--kbq-size-xs);
        }
    }

    @include file-upload-theme.kbq-multiple-file-upload-theme();
}
