@use '../core/styles/common/tokens' as *;

// todo нужно рефакторить со стилями тут сложно
.kbq-multiple-file-upload .kbq-file-upload {
    border-radius: var(--kbq-file-upload-size-multiple-big-container-border-radius);
    border-width: var(--kbq-file-upload-size-multiple-big-container-border-width);
    border-style: dashed;

    &.kbq-file-upload_default:not(.kbq-selected) {
        justify-content: center;

        padding: var(--kbq-file-upload-size-multiple-big-container-padding-vertical)
            var(--kbq-file-upload-size-multiple-big-container-padding-vertical);

        min-height: var(--kbq-file-upload-size-multiple-big-container-min-height);

        min-width: var(--kbq-file-upload-size-multiple-big-container-min-width);

        .kbq-file-dropzone {
            gap: var(--kbq-file-upload-size-multiple-big-container-content-gap-horizontal);
        }

        .kbq-file-dropzone__text {
            .kbq-file-multiple__caption {
                padding-top: var(--kbq-file-upload-size-multiple-big-text-block-content-gap-vertical);
            }
        }
    }

    &.kbq-file-upload_compact:not(.kbq-selected) {
        padding: var(--kbq-file-upload-multiple-compact-container-padding-vertical)
            var(--kbq-file-upload-multiple-compact-container-padding-horizontal);

        .kbq-file-dropzone {
            gap: var(--kbq-file-upload-multiple-compact-container-content-gap-horizontal);

            .kbq-file-dropzone__text.kbq-file-multiple__caption {
                padding-top: var(--kbq-file-upload-multiple-compact-text-block-padding-vertical);

                padding-bottom: var(--kbq-file-upload-multiple-compact-text-block-padding-vertical);
            }
        }
    }

    .kbq-list-option.kbq-file-multiple__uploaded-item {
        border-radius: 0;
        padding: 0 calc(var(--kbq-size-3xs) - var(--kbq-file-upload-size-multiple-big-container-border-width));

        .kbq-icon {
            margin-right: 0;
        }
    }

    .kbq-file-upload__grid {
        min-height: 144px;
    }

    .kbq-file-multiple-uploaded__header-inner,
    .kbq-file-upload__row {
        display: flex;
        align-items: center;

        .kbq-file-upload__file {
            flex-grow: 1;
        }

        .kbq-file-upload__size {
            width: var(--kbq-file-upload-size-multiple-big-grid-cell-file-size-width);
            min-width: var(--kbq-file-upload-size-multiple-big-grid-cell-file-size-width);
            max-width: var(--kbq-file-upload-size-multiple-big-grid-cell-file-size-width);
            flex-grow: 1;
            flex-shrink: 1;
            text-align: left;
        }
    }

    .kbq-file-upload__row {
        .kbq-file-upload__grid-cell {
            padding: 0 var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal);
        }

        .kbq-file-upload__file {
            display: flex;
            align-items: center;
            gap: var(--kbq-file-upload-size-multiple-big-grid-cell-content-gap-horizontal);

            .kbq-file-item__text {
                width: 90%;
            }
        }

        .kbq-file-upload__action {
            $list-option-border-width: var(--kbq-size-3xs);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: calc(
                var(--kbq-file-upload-size-multiple-big-grid-cell-padding-vertical) - $list-option-border-width
            );
            padding-bottom: calc(
                var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal) - $list-option-border-width
            );
            min-height: var(--kbq-size-xxl);
            min-width: var(--kbq-size-xxl);
        }
    }

    .kbq-file-multiple-uploaded__header {
        margin: -1px;
        border-bottom-width: var(--kbq-file-upload-size-multiple-big-container-border-width);
        border-bottom-style: solid;

        padding: 0 var(--kbq-size-xxs);

        .kbq-file-upload__grid-cell {
            $header-cell-vertical-padding: 10px;
            padding: $header-cell-vertical-padding var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal)
                calc($header-cell-vertical-padding - var(--kbq-file-upload-size-multiple-big-container-border-width))
                var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal);
        }

        .kbq-file-upload__action {
            min-height: var(--kbq-size-xxl);
            min-width: var(--kbq-size-xxl);
            padding: var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal)
                var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal)
                calc(
                    var(--kbq-file-upload-size-multiple-big-grid-cell-padding-vertical) - var(
                            --kbq-file-upload-size-multiple-big-container-border-width
                        )
                );
        }
    }

    .kbq-file-btn-upload {
        margin: -1px;
        padding: calc(var(--kbq-size-m) - var(--kbq-file-upload-size-multiple-big-container-border-width))
            var(--kbq-size-m) var(--kbq-size-m) var(--kbq-size-m);

        border-top-width: var(--kbq-file-upload-size-multiple-big-container-border-width);
        border-top-style: dashed;

        .kbq-file-dropzone {
            gap: var(--kbq-file-upload-size-multiple-big-dropzone-content-gap-horizontal);
        }
    }

    .kbq-file-upload__dropzone {
        width: 100%;
        height: 100%;
    }
}
