// @TODO should remove "selector-class-pattern" rule ignore (#DS-3753)
/* stylelint-disable selector-class-pattern */
@use '../core/styles/common/tokens' as *;

// todo нужно рефакторить со стилями тут сложно
.kbq-multiple-file-upload .kbq-file-upload {
    border-radius: var(--kbq-file-upload-size-multiple-big-container-border-radius);
    border-width: var(--kbq-file-upload-size-multiple-big-container-border-width);
    border-style: dashed;

    &.default:not(.selected) {
        justify-content: center;

        padding: var(--kbq-file-upload-size-multiple-big-container-padding-vertical)
            var(--kbq-file-upload-size-multiple-big-container-padding-vertical);

        min-height: var(--kbq-file-upload-size-multiple-big-container-min-height);

        min-width: var(--kbq-file-upload-size-multiple-big-container-min-width);

        .dropzone {
            gap: var(--kbq-file-upload-size-multiple-big-container-content-gap-horizontal);
        }

        .dropzone__text {
            .multiple__caption {
                padding-top: var(--kbq-file-upload-size-multiple-big-text-block-content-gap-vertical);
            }
        }
    }

    &.compact:not(.selected) {
        padding: var(--kbq-file-upload-multiple-compact-container-padding-vertical)
            var(--kbq-file-upload-multiple-compact-container-padding-horizontal);

        .dropzone {
            gap: var(--kbq-file-upload-multiple-compact-container-content-gap-horizontal);

            .dropzone__text.multiple__caption {
                padding-top: var(--kbq-file-upload-multiple-compact-text-block-padding-vertical);

                padding-bottom: var(--kbq-file-upload-multiple-compact-text-block-padding-vertical);
            }
        }
    }

    .kbq-list-option.multiple__uploaded-item {
        border-radius: 0;
        // size-3xs subtract border-width
        padding: 0 1px;

        .kbq-icon {
            margin-right: 0;
        }
    }

    .kbq-file-upload__grid {
        min-height: 144px;
    }

    .kbq-file-multiple-uploaded__header-inner,
    .kbq-file-upload__row {
        display: flex;
        align-items: center;

        .kbq-file-upload__file {
            flex-grow: 1;
        }

        .kbq-file-upload__size {
            width: var(--kbq-file-upload-size-multiple-big-grid-cell-file-size-width);
            min-width: var(--kbq-file-upload-size-multiple-big-grid-cell-file-size-width);
            max-width: var(--kbq-file-upload-size-multiple-big-grid-cell-file-size-width);
            flex-grow: 1;
            flex-shrink: 1;
            text-align: left;
        }
    }

    .kbq-file-upload__row {
        .kbq-file-upload__grid-cell {
            padding: 0 var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal);
        }

        .kbq-file-upload__file {
            display: flex;
            align-items: center;
            gap: var(--kbq-file-upload-size-multiple-big-grid-cell-content-gap-horizontal);

            .file-item__text {
                width: 90%;
            }
        }

        .kbq-file-upload__action {
            display: flex;
            justify-content: center;
            align-items: center;
            // grid-cell-padding-vertical subtract list-option-border-width
            padding-top: 6px;
            padding-bottom: 6px;
            min-height: var(--kbq-size-xxl);
            min-width: var(--kbq-size-xxl);
        }
    }

    .kbq-file-multiple-uploaded__header {
        border-bottom-width: var(--kbq-file-upload-size-multiple-big-container-border-width);
        border-bottom-style: solid;

        padding: 0 3px;

        .kbq-file-upload__grid-cell {
            padding: 9px var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal);
        }

        .kbq-file-upload__action {
            min-height: var(--kbq-size-xxl);
            min-width: var(--kbq-size-xxl);
            // grid-cell-padding-vertical subtract border-width
            padding: 7px var(--kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal);
        }
    }

    .btn-upload {
        margin: -1px;
        // size-m subtract border-width
        padding: 11px var(--kbq-size-m) var(--kbq-size-m) var(--kbq-size-m);

        border-top-width: var(--kbq-file-upload-size-multiple-big-container-border-width);
        border-top-style: dashed;

        .dropzone {
            gap: var(--kbq-file-upload-size-multiple-big-dropzone-content-gap-horizontal);
        }
    }

    .file-upload__dropzone {
        width: 100%;
        height: 100%;
    }
}
