@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';

@use '../core/styles/common';
@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

.kbq-single-file-upload .kbq-file-upload {
    padding:
        kbq-difference-css-variables(file-upload-size-single-container-padding-vertical, file-upload-size-single-container-border-width)
        kbq-difference-css-variables(file-upload-size-single-container-padding-horizontal, file-upload-size-single-container-border-width);

    border-radius: kbq-css-variable(file-upload-size-single-container-border-radius);
    border-width: kbq-css-variable(file-upload-size-single-container-border-width);
    border-style: dashed;

    & .dropzone__text {
        padding-top: kbq-css-variable(file-upload-size-single-text-block-padding-vertical);

        padding-bottom: kbq-css-variable(file-upload-size-single-text-block-padding-vertical);

        gap: kbq-css-variable(file-upload-size-single-text-block-content-gap-horizontal);
    }

    & .dropzone {
        gap: kbq-css-variable(file-upload-size-single-container-content-gap-horizontal);
    }

    .file-item {
        width: 100%;

        .file-item__text-wrapper {
            display: flex;
            align-items: center;
            width: 100%;

            gap: kbq-css-variable(file-upload-size-single-container-content-gap-horizontal);

            .file-item__text {
                width: 120px;
                flex-grow: 1;
            }
        }
    }
}

.kbq-file-upload__hint {
    margin-top: kbq-css-variable(form-field-hint-size-margin-top);
}
