@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-sidepanel-theme($theme) {
    $sidepanel: map.get(map.get($theme, components), sidepanel);

    .kbq-sidepanel-title {
        color: map.get($sidepanel, header-text);
    }

    .kbq-sidepanel-content {
        background-color: map.get($sidepanel, background);
        color: map.get($sidepanel, content-text);
    }

    .kbq-sidepanel-container_shadowed {
        .kbq-sidepanel-content {
            box-shadow: map.get($sidepanel, box-shadow);
        }
    }
}

@mixin kbq-sidepanel-typography($config) {
    .kbq-sidepanel-title {
        @include kbq-typography-css-variables(sidepanel, header);
    }

    .kbq-sidepanel-container,
    .kbq-sidepanel-footer {
        @include kbq-typography-css-variables(sidepanel, content);
    }
}
