@use 'sass:map';

@use '../core/styles/theming/theming' as *;
@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-progress-spinner-theme($theme) {
    $progress-spinner: map.get(map.get($theme, components), progress-spinner);

    .kbq-progress-spinner {
        .kbq-progress-spinner__circle {
            stroke: map.get($progress-spinner, circle);
        }
    }

    .kbq-progress-spinner-text {
        color: map.get($progress-spinner, text);
    }

    .kbq-progress-spinner-caption {
        color: map.get($progress-spinner, caption);
    }
}

@mixin kbq-progress-spinner-typography($config) {
    .kbq-progress-spinner-text {
        @include kbq-typography-css-variables(progress-spinner, label);
    }

    .kbq-progress-spinner-caption {
        @include kbq-typography-css-variables(progress-spinner, caption);
    }
}
