.kbq-progress-spinner {
    --kbq-progress-spinner-size-compact-size: var(--kbq-size-l);
    --kbq-progress-spinner-size-compact-stroke-width: 2px;
    --kbq-progress-spinner-size-compact-content-gap-vertical: var(--kbq-size-3xs);
    --kbq-progress-spinner-size-compact-content-gap-horizontal: var(--kbq-size-s);
    --kbq-progress-spinner-size-big-size: var(--kbq-size-5xl);
    --kbq-progress-spinner-size-big-stroke-width: 3px;
    --kbq-progress-spinner-size-big-content-gap-vertical: var(--kbq-size-3xs);
    --kbq-progress-spinner-size-big-content-gap-horizontal: var(--kbq-size-s);
    /* THEME TOKENS */
    --kbq-progress-spinner-circle-background: var(--kbq-icon-theme);
    --kbq-progress-spinner-circle-contrast-background: var(--kbq-icon-contrast);
    --kbq-progress-spinner-circle-contrast-fade-background: var(--kbq-icon-contrast-fade);
    --kbq-progress-spinner-text-color: var(--kbq-foreground-contrast);
    --kbq-progress-spinner-caption-color: var(--kbq-foreground-contrast-secondary);
}
