@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;
@use '../core/styles/typography/typography-utils' as *;


@mixin kbq-alert($component, $style-name, $color-name) {
    $style: map.get($component, $style-name);

    background: cssVar('alert-light-#{$style-name}-#{$color-name}-container-background');

    .kbq-alert__title {
        color: cssVar('alert-light-#{$style-name}-#{$color-name}-container-title');
    }

    .kbq-alert__text {
        color: cssVar('alert-light-#{$style-name}-#{$color-name}-container-text');
    }
}

@mixin kbq-alert-theme($theme) {
    $alert: map.get(map.get($theme, components), alert);

    .kbq-alert__close:focus {
        outline: none;
    }

    .kbq-alert.kbq-alert_default {
        &.kbq-alert_contrast {
            @include kbq-alert($alert, default, contrast);
        }

        &.kbq-alert_error {
            @include kbq-alert($alert, default, error);
        }

        &.kbq-alert_warning {
            @include kbq-alert($alert, default, warning);
        }

        &.kbq-alert_success {
            @include kbq-alert($alert, default, success);
        }

        &.kbq-alert_theme {
            @include kbq-alert($alert, default, theme);
        }
    }

    .kbq-alert.kbq-alert_colored {
        &.kbq-alert_contrast {
            @include kbq-alert($alert, colored, contrast);
        }

        &.kbq-alert_error {
            @include kbq-alert($alert, colored, error);
        }

        &.kbq-alert_warning {
            @include kbq-alert($alert, colored, warning);
        }

        &.kbq-alert_success {
            @include kbq-alert($alert, colored, success);
        }

        &.kbq-alert_theme {
            @include kbq-alert($alert, colored, theme);
        }
    }
}

@mixin kbq-alert-typography($config) {
    $tokens: map.get($config, tokens);

    .kbq-alert {
        @include kbq-typography-level-to-styles($config, map.get($tokens, alert-font-text));

        .kbq-alert__title {
            @include kbq-typography-level-to-styles($config, map.get($tokens, alert-font-title));
        }

        &.kbq-alert_compact .kbq-alert__title {
            @include kbq-typography-level-to-styles($config, map.get($tokens, alert-font-title-compact));
        }
    }
}
