@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;


.kbq-alert {
    display: flex;

    box-sizing: border-box;

    & .kbq-alert__content_title {
        margin-bottom: kbq-css-variable(size-xxs);
    }
}

.kbq-alert__content {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: center;
}

.kbq-alert.kbq-alert_normal {
    border-radius: kbq-css-variable(alert-size-normal-container-border-radius);

    padding:
        kbq-css-variable(alert-size-normal-container-padding-top)
        kbq-css-variable(alert-size-normal-container-padding-right)
        kbq-css-variable(alert-size-normal-container-padding-bottom)
        kbq-css-variable(alert-size-normal-container-padding-left);

    & .kbq-alert__icon {
        margin:
            kbq-css-variable(alert-size-normal-icon-margin-top)
            kbq-css-variable(alert-size-normal-icon-margin-right)
            kbq-css-variable(alert-size-normal-icon-margin-bottom)
            kbq-css-variable(alert-size-normal-icon-margin-left);

        &.kbq-alert__icon_title .kbq-icon {
            margin-top: kbq-css-variable(alert-size-normal-icon-margin-addon-title);
        }

        display: inline-flex;
        align-items: flex-start;
    }

    & .kbq-alert__content {
        padding:
            kbq-css-variable(alert-size-normal-content-padding-top)
            kbq-css-variable(alert-size-normal-content-padding-right)
            kbq-css-variable(alert-size-normal-content-padding-bottom)
            kbq-css-variable(alert-size-normal-content-padding-left);
    }

    & .kbq-alert__title {
        margin-bottom: kbq-css-variable(alert-size-normal-title-margin-bottom);
    }

    & .kbq-alert__button-stack {
        padding-top: kbq-css-variable(alert-size-normal-button-stack-padding-top);

        padding-bottom: kbq-css-variable(alert-size-normal-button-stack-padding-bottom);
    }

    & .kbq-alert__close-button {
        margin-top: kbq-css-variable(alert-size-normal-close-button-margin-top);
        margin-left: kbq-css-variable(alert-size-normal-close-button-margin-left);
    }
}

.kbq-alert.kbq-alert_compact {
    border-radius: kbq-css-variable(alert-size-compact-container-border-radius);

    padding:
        kbq-css-variable(alert-size-compact-container-padding-top)
        kbq-css-variable(alert-size-compact-container-padding-right)
        kbq-css-variable(alert-size-compact-container-padding-bottom)
        kbq-css-variable(alert-size-compact-container-padding-left);

    & .kbq-alert__icon {
        margin-top: kbq-css-variable(alert-size-compact-icon-margin-top);

        margin-right: kbq-css-variable(alert-size-compact-icon-margin-right);

        &.kbq-alert__icon_title .kbq-icon {
            margin-top: kbq-css-variable(alert-size-compact-icon-margin-addon-title);
        }

        display: inline-flex;
        align-items: flex-start;
    }

    & .kbq-alert__content {
        padding:
            kbq-css-variable(alert-size-compact-content-padding-top)
            kbq-css-variable(alert-size-compact-content-padding-right)
            kbq-css-variable(alert-size-compact-content-padding-bottom)
            kbq-css-variable(alert-size-compact-content-padding-left);
    }

    & .kbq-alert__title {
        margin-bottom: kbq-css-variable(alert-size-compact-title-margin-bottom);
    }

    & .kbq-alert__button-stack {
        padding-top: kbq-css-variable(alert-size-compact-button-stack-padding-top);

        padding-bottom: kbq-css-variable(alert-size-compact-button-stack-padding-bottom);
    }

    & .kbq-alert__close-button {
        margin-top: kbq-css-variable(alert-size-compact-close-button-margin-top);

        margin-left: kbq-css-variable(alert-size-compact-close-button-margin-left);
    }
}
