:root {
    --kbq-alert-size-normal-container-border-radius: 12px;
    --kbq-alert-size-normal-container-padding-top: 0;
    --kbq-alert-size-normal-container-padding-right: 8px;
    --kbq-alert-size-normal-container-padding-bottom: 0;
    --kbq-alert-size-normal-container-padding-left: 8px;
    --kbq-alert-size-normal-content-padding-top: 16px;
    --kbq-alert-size-normal-content-padding-right: 8px;
    --kbq-alert-size-normal-content-padding-bottom: 16px;
    --kbq-alert-size-normal-content-padding-left: 12px;
    --kbq-alert-size-normal-icon-margin-top: 16px;
    --kbq-alert-size-normal-icon-margin-right: 0;
    --kbq-alert-size-normal-icon-margin-bottom: 16px;
    --kbq-alert-size-normal-icon-margin-left: 12px;
    --kbq-alert-size-normal-icon-padding-top: 4px;
    --kbq-alert-size-normal-title-margin-bottom: 4px;
    --kbq-alert-size-normal-close-button-margin-top: 8px;
    --kbq-alert-size-normal-close-button-margin-left: 2px;
    --kbq-alert-size-normal-button-stack-padding-top: 8px;
    --kbq-alert-size-normal-button-stack-padding-bottom: 2px;
    --kbq-alert-size-normal-no-title-icon-margin-top: 16px;
    --kbq-alert-size-normal-no-title-icon-padding-top: 2px;
    --kbq-alert-size-compact-container-border-radius: 12px;
    --kbq-alert-size-compact-container-padding-top: 0;
    --kbq-alert-size-compact-container-padding-right: 8px;
    --kbq-alert-size-compact-container-padding-bottom: 0;
    --kbq-alert-size-compact-container-padding-left: 16px;
    --kbq-alert-size-compact-content-padding-top: 12px;
    --kbq-alert-size-compact-content-padding-right: 8px;
    --kbq-alert-size-compact-content-padding-bottom: 12px;
    --kbq-alert-size-compact-content-padding-left: 0;
    --kbq-alert-size-compact-icon-margin-top: 12px;
    --kbq-alert-size-compact-icon-margin-right: 8px;
    --kbq-alert-size-compact-icon-padding-top: 4px;
    --kbq-alert-size-compact-title-margin-bottom: 2px;
    --kbq-alert-size-compact-close-button-margin-top: 8px;
    --kbq-alert-size-compact-close-button-margin-left: 2px;
    --kbq-alert-size-compact-button-stack-padding-top: 8px;
    --kbq-alert-size-compact-button-stack-padding-bottom: 2px;
    --kbq-alert-size-compact-no-title-icon-margin-top: 12px;
    --kbq-alert-size-compact-no-title-icon-padding-top: 2px;
    --kbq-alert-font-title-font-size: 18px;
    --kbq-alert-font-title-line-height: 26px;
    --kbq-alert-font-title-letter-spacing: normal;
    --kbq-alert-font-title-font-weight: 600;
    --kbq-alert-font-title-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue', Arial, sans-serif;
    --kbq-alert-font-title-text-transform: null;
    --kbq-alert-font-title-font-feature-settings: 'calt', 'kern', 'liga';
    --kbq-alert-font-title-compact-font-size: 16px;
    --kbq-alert-font-title-compact-line-height: 24px;
    --kbq-alert-font-title-compact-letter-spacing: -0.011em;
    --kbq-alert-font-title-compact-font-weight: 600;
    --kbq-alert-font-title-compact-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
    --kbq-alert-font-title-compact-text-transform: null;
    --kbq-alert-font-title-compact-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-alert-font-text-font-size: 14px;
    --kbq-alert-font-text-line-height: 20px;
    --kbq-alert-font-text-letter-spacing: -0.006em;
    --kbq-alert-font-text-font-weight: normal;
    --kbq-alert-font-text-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial,
        sans-serif;
    --kbq-alert-font-text-text-transform: null;
    --kbq-alert-font-text-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-alert-default-contrast-container-background: hsla(229, 15%, 92%, 100%);
    --kbq-alert-default-contrast-container-title: hsla(229, 15%, 15%, 100%);
    --kbq-alert-default-contrast-container-text: hsla(229, 15%, 15%, 100%);
    --kbq-alert-default-error-container-background: hsla(229, 15%, 92%, 100%);
    --kbq-alert-default-error-container-title: hsla(229, 15%, 15%, 100%);
    --kbq-alert-default-error-container-text: hsla(229, 15%, 15%, 100%);
    --kbq-alert-default-warning-container-background: hsla(229, 15%, 92%, 100%);
    --kbq-alert-default-warning-container-title: hsla(229, 15%, 15%, 100%);
    --kbq-alert-default-warning-container-text: hsla(229, 15%, 15%, 100%);
    --kbq-alert-default-success-container-background: hsla(229, 15%, 92%, 100%);
    --kbq-alert-default-success-container-title: hsla(229, 15%, 15%, 100%);
    --kbq-alert-default-success-container-text: hsla(229, 15%, 15%, 100%);
    --kbq-alert-default-theme-container-background: hsla(229, 15%, 92%, 100%);
    --kbq-alert-default-theme-container-title: hsla(229, 15%, 15%, 100%);
    --kbq-alert-default-theme-container-text: hsla(229, 15%, 15%, 100%);
    --kbq-alert-colored-contrast-container-background: hsla(229, 15%, 92%, 100%);
    --kbq-alert-colored-contrast-container-title: hsla(229, 15%, 15%, 100%);
    --kbq-alert-colored-contrast-container-text: hsla(229, 15%, 15%, 100%);
    --kbq-alert-colored-error-container-background: hsla(7, 97%, 90%, 100%);
    --kbq-alert-colored-error-container-title: hsla(229, 15%, 15%, 100%);
    --kbq-alert-colored-error-container-text: hsla(229, 15%, 15%, 100%);
    --kbq-alert-colored-warning-container-background: hsla(38, 100%, 85%, 100%);
    --kbq-alert-colored-warning-container-title: hsla(229, 15%, 15%, 100%);
    --kbq-alert-colored-warning-container-text: hsla(229, 15%, 15%, 100%);
    --kbq-alert-colored-success-container-background: hsla(104, 64%, 80%, 100%);
    --kbq-alert-colored-success-container-title: hsla(229, 15%, 15%, 100%);
    --kbq-alert-colored-success-container-text: hsla(229, 15%, 15%, 100%);
    --kbq-alert-colored-theme-container-background: hsla(216, 100%, 85%, 100%);
    --kbq-alert-colored-theme-container-title: hsla(229, 15%, 15%, 100%);
    --kbq-alert-colored-theme-container-text: hsla(229, 15%, 15%, 100%);
}

.kbq-dark {
    --kbq-alert-default-contrast-container-background: hsla(229, 15%, 25%, 100%);
    --kbq-alert-default-contrast-container-title: hsla(229, 15%, 80%, 100%);
    --kbq-alert-default-contrast-container-text: hsla(229, 15%, 80%, 100%);
    --kbq-alert-default-error-container-background: hsla(229, 15%, 25%, 100%);
    --kbq-alert-default-error-container-title: hsla(229, 15%, 80%, 100%);
    --kbq-alert-default-error-container-text: hsla(229, 15%, 80%, 100%);
    --kbq-alert-default-warning-container-background: hsla(229, 15%, 25%, 100%);
    --kbq-alert-default-warning-container-title: hsla(229, 15%, 80%, 100%);
    --kbq-alert-default-warning-container-text: hsla(229, 15%, 80%, 100%);
    --kbq-alert-default-success-container-background: hsla(229, 15%, 25%, 100%);
    --kbq-alert-default-success-container-title: hsla(229, 15%, 80%, 100%);
    --kbq-alert-default-success-container-text: hsla(229, 15%, 80%, 100%);
    --kbq-alert-default-theme-container-background: hsla(229, 15%, 25%, 100%);
    --kbq-alert-default-theme-container-title: hsla(229, 15%, 80%, 100%);
    --kbq-alert-default-theme-container-text: hsla(229, 15%, 80%, 100%);
    --kbq-alert-colored-contrast-container-background: hsla(229, 15%, 25%, 100%);
    --kbq-alert-colored-contrast-container-title: hsla(229, 15%, 80%, 100%);
    --kbq-alert-colored-contrast-container-text: hsla(229, 15%, 80%, 100%);
    --kbq-alert-colored-error-container-background: hsla(7, 97%, 15%, 100%);
    --kbq-alert-colored-error-container-title: hsla(229, 15%, 80%, 100%);
    --kbq-alert-colored-error-container-text: hsla(229, 15%, 80%, 100%);
    --kbq-alert-colored-warning-container-background: hsla(38, 100%, 14%, 100%);
    --kbq-alert-colored-warning-container-title: hsla(229, 15%, 80%, 100%);
    --kbq-alert-colored-warning-container-text: hsla(229, 15%, 80%, 100%);
    --kbq-alert-colored-success-container-background: hsla(104, 64%, 12%, 100%);
    --kbq-alert-colored-success-container-title: hsla(229, 15%, 80%, 100%);
    --kbq-alert-colored-success-container-text: hsla(229, 15%, 80%, 100%);
    --kbq-alert-colored-theme-container-background: hsla(216, 100%, 20%, 100%);
    --kbq-alert-colored-theme-container-title: hsla(229, 15%, 80%, 100%);
    --kbq-alert-colored-theme-container-text: hsla(229, 15%, 80%, 100%);
}
