@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;


$tokens: meta.module-variables(tokens) !default;

.kbq-alert {
    display: flex;

    box-sizing: border-box;

    & .kbq-alert__content_title {
        margin-bottom: cssVar(size-xxs);
    }
}

.kbq-alert__content {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: center;
}

.kbq-alert.kbq-alert_normal {
    border-radius: cssVar(alert-size-normal-container-border-radius);

    padding:
        cssVar(alert-size-normal-container-padding-top)
        cssVar(alert-size-normal-container-padding-right)
        cssVar(alert-size-normal-container-padding-bottom)
        cssVar(alert-size-normal-container-padding-left);

    & .kbq-alert__icon {
        margin:
            cssVar(alert-size-normal-icon-margin-top)
            cssVar(alert-size-normal-icon-margin-right)
            cssVar(alert-size-normal-icon-margin-bottom)
            cssVar(alert-size-normal-icon-margin-left);

        &.kbq-alert__icon_title .kbq-icon {
            margin-top: cssVar(alert-size-normal-icon-margin-addon-title);
        }
    }

    & .kbq-alert__content {
        padding:
            cssVar(alert-size-normal-content-padding-top)
            cssVar(alert-size-normal-content-padding-right)
            cssVar(alert-size-normal-content-padding-bottom)
            cssVar(alert-size-normal-content-padding-left);
    }

    & .kbq-alert__title {
        margin-bottom: cssVar(alert-size-normal-title-margin-bottom);
    }

    & .kbq-alert__button-stack {
        padding-top: cssVar(alert-size-normal-button-stack-padding-top);

        padding-bottom: cssVar(alert-size-normal-button-stack-padding-bottom);
    }

    & .kbq-alert__close-button {
        margin-top: cssVar(alert-size-normal-close-button-margin-top);
        margin-left: cssVar(alert-size-normal-close-button-margin-left);
    }
}

.kbq-alert.kbq-alert_compact {
    border-radius: cssVar(alert-size-compact-container-border-radius);

    padding:
        cssVar(alert-size-compact-container-padding-top)
        cssVar(alert-size-compact-container-padding-right)
        cssVar(alert-size-compact-container-padding-bottom)
        cssVar(alert-size-compact-container-padding-left);

    & .kbq-alert__icon {
        margin-top: cssVar(alert-size-compact-icon-margin-top);

        margin-right: cssVar(alert-size-compact-icon-margin-right);

        &.kbq-alert__icon_title .kbq-icon {
            margin-top: cssVar(alert-size-compact-icon-margin-addon-title);
        }
    }

    & .kbq-alert__content {
        padding:
            cssVar(alert-size-compact-content-padding-top)
            cssVar(alert-size-compact-content-padding-right)
            cssVar(alert-size-compact-content-padding-bottom)
            cssVar(alert-size-compact-content-padding-left);
    }

    & .kbq-alert__title {
        margin-bottom: cssVar(alert-size-compact-title-margin-bottom);
    }

    & .kbq-alert__button-stack {
        padding-top: cssVar(alert-size-compact-button-stack-padding-top);

        padding-bottom: cssVar(alert-size-compact-button-stack-padding-bottom);
    }

    & .kbq-alert__close-button {
        margin-top: cssVar(alert-size-compact-close-button-margin-top);

        margin-left: cssVar(alert-size-compact-close-button-margin-left);
    }
}
