.example-controls {
    display: flex;
    flex-direction: row;
}

.docs-layout-flex-offsets .kbq-form-field {
    max-width: 20%;

    margin-left: 32px;
}

.example-block {
    border: 1px solid black;
    padding: 8px;
}

.kbq-radio-group {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.kbq-radio-button {
    margin-bottom: 8px;
}
