@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;

.kbq-tree-node-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    height: 100%;
    // FIXME: default token doesn't exist
    padding-left: kbq-css-variable(tree-size-toggle-padding);
    padding-right: kbq-css-variable(tree-size-toggle-padding);

    cursor: pointer;

    & .kbq-icon {
        transform: rotate(-90deg);
    }

    &.kbq-expanded {
        & .kbq-icon {
            transform: rotate(0);
        }
    }

    &[disabled] {
        cursor: default;
    }
}
