/* stylelint-disable no-unknown-custom-properties */

.kbq-tree,
.kbq-tree-selection {
    --kbq-tree-size-indent-level: var(--kbq-size-xxl);
    --kbq-tree-size-container-padding-right: var(--kbq-size-s);
    --kbq-tree-size-container-padding-vertical: var(--kbq-size-xxs);
    --kbq-tree-size-container-content-gap-horizontal: var(--kbq-size-s);
    --kbq-tree-size-container-content-gap-vertical: 0px;
    --kbq-tree-size-container-focus-outline-width: var(--kbq-size-3xs);
    --kbq-tree-size-text-padding-vertical: var(--kbq-size-3xs);
    --kbq-tree-font-text-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-tree-font-text-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-tree-font-text-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-tree-font-text-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-tree-font-text-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-tree-font-text-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-tree-font-text-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
    --kbq-tree-font-caption-font-size: var(--kbq-typography-text-compact-font-size);
    --kbq-tree-font-caption-line-height: var(--kbq-typography-text-compact-line-height);
    --kbq-tree-font-caption-letter-spacing: var(--kbq-typography-text-compact-letter-spacing);
    --kbq-tree-font-caption-font-weight: var(--kbq-typography-text-compact-font-weight);
    --kbq-tree-font-caption-font-family: var(--kbq-typography-text-compact-font-family);
    --kbq-tree-font-caption-text-transform: var(--kbq-typography-text-compact-text-transform);
    --kbq-tree-font-caption-font-feature-settings: var(--kbq-typography-text-compact-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-tree-default-container-background: transparent;
    --kbq-tree-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-default-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-default-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-default-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-hover-container-background: var(--kbq-states-background-transparent-hover);
    --kbq-tree-states-hover-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-states-hover-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-states-hover-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-hover-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-hover-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tree-states-selected-container-background: var(--kbq-background-theme-less);
    --kbq-tree-states-selected-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-states-selected-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-states-selected-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-selected-hover-container-background: var(--kbq-states-background-theme-less-hover);
    --kbq-tree-states-selected-hover-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-states-selected-hover-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-states-selected-hover-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-hover-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-hover-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-disabled-container-background: transparent;
    --kbq-tree-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tree-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tree-states-disabled-tree-toggle-color: var(--kbq-states-icon-disabled);
    --kbq-tree-states-disabled-action-button-color: var(--kbq-states-icon-disabled);
    --kbq-tree-states-disabled-caption-color: var(--kbq-states-foreground-disabled);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-tree-default-container-background: transparent;
    --kbq-tree-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-default-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-default-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-default-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-hover-container-background: var(--kbq-states-background-transparent-hover);
    --kbq-tree-states-hover-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-states-hover-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-states-hover-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-hover-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-hover-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tree-states-selected-container-background: var(--kbq-background-theme-less);
    --kbq-tree-states-selected-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-states-selected-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-states-selected-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-selected-hover-container-background: var(--kbq-states-background-theme-less-hover);
    --kbq-tree-states-selected-hover-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-states-selected-hover-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-states-selected-hover-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-hover-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-hover-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-disabled-container-background: transparent;
    --kbq-tree-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tree-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tree-states-disabled-tree-toggle-color: var(--kbq-states-icon-disabled);
    --kbq-tree-states-disabled-action-button-color: var(--kbq-states-icon-disabled);
    --kbq-tree-states-disabled-caption-color: var(--kbq-states-foreground-disabled);
}
