@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common';
@use '../core/styles/common/tokens' as *;

.kbq-tree-option {
    @include common.kbq-no-select;

    box-sizing: border-box;

    display: flex;
    align-items: center;

    min-height: 32px;

    word-wrap: break-word;

    border-width: var(--kbq-tree-size-container-focus-outline-width);
    border-style: solid;
    border-color: transparent;

    padding-top: kbq-difference-series-css-variables(
        [ tree-size-container-padding-vertical,
        tree-size-container-focus-outline-width]
    );
    padding-right: kbq-difference-series-css-variables(
        [ tree-size-container-padding-right,
        tree-size-container-focus-outline-width]
    );
    padding-bottom: kbq-difference-series-css-variables(
        [ tree-size-container-padding-vertical,
        tree-size-container-focus-outline-width]
    );

    gap: var(--kbq-tree-size-container-content-gap-horizontal);

    & .kbq-option-text {
        @include common.kbq-line-wrapper-base();
        display: inline-block;

        @include common.kbq-truncate-line();

        padding-top: var(--kbq-list-size-text-padding-vertical, 0);
        padding-bottom: var(--kbq-list-size-text-padding-vertical, 0);
    }

    &:focus {
        outline: none;
    }

    &:not(.kbq-disabled) {
        cursor: pointer;
    }

    & .kbq-option-action {
        display: none;
    }

    &:not(.kbq-disabled):hover,
    &:not(.kbq-disabled).kbq-focused,
    &:not(.kbq-disabled).kbq-action-button-focused {
        & .kbq-option-action {
            display: flex;
        }
    }
}
