.kbq-tree,
.kbq-tree-selection {
    --kbq-tree-size-indent-level: var(--kbq-size-xxl);
    --kbq-tree-size-container-padding-right: var(--kbq-size-s);
    --kbq-tree-size-container-padding-vertical: var(--kbq-size-xxs);
    --kbq-tree-size-container-content-gap-horizontal: var(--kbq-size-s);
    --kbq-tree-size-container-content-gap-vertical: 0px;
    --kbq-tree-size-container-focus-outline-width: var(--kbq-size-3xs);
    --kbq-tree-size-text-padding-vertical: var(--kbq-size-3xs);
    --kbq-tree-option-border-radius: var(--kbq-size-border-radius);
    /* THEME TOKENS */
    --kbq-tree-default-container-background: transparent;
    --kbq-tree-default-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-default-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-default-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-default-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-default-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-hover-container-background: var(--kbq-states-background-transparent-hover);
    --kbq-tree-states-active-container-background: var(--kbq-states-background-transparent-active);
    --kbq-tree-states-hover-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-states-hover-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-states-hover-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-hover-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-hover-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-focused-focus-outline-color: var(--kbq-states-line-focus-theme);
    --kbq-tree-states-selected-container-background: var(--kbq-background-theme-less);
    --kbq-tree-multiple-states-selected-container-background: var(--kbq-background-contrast-less);
    --kbq-tree-states-selected-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-states-selected-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-states-selected-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-selected-hover-container-background: var(--kbq-states-background-theme-less-hover);
    --kbq-tree-states-selected-active-container-background: var(--kbq-states-background-theme-less-active);
    --kbq-tree-multiple-states-selected-hover-container-background: var(--kbq-states-background-contrast-less-hover);
    --kbq-tree-multiple-states-selected-active-container-background: var(--kbq-states-background-contrast-less-active);
    --kbq-tree-states-selected-hover-text-color: var(--kbq-foreground-contrast);
    --kbq-tree-states-selected-hover-icon-color: var(--kbq-icon-contrast);
    --kbq-tree-states-selected-hover-tree-toggle-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-hover-action-button-color: var(--kbq-icon-contrast-fade);
    --kbq-tree-states-selected-hover-caption-color: var(--kbq-foreground-contrast-secondary);
    --kbq-tree-states-disabled-container-background: transparent;
    --kbq-tree-states-disabled-text-color: var(--kbq-states-foreground-disabled);
    --kbq-tree-states-disabled-icon-color: var(--kbq-states-icon-disabled);
    --kbq-tree-states-disabled-tree-toggle-color: var(--kbq-states-icon-disabled);
    --kbq-tree-states-disabled-action-button-color: var(--kbq-states-icon-disabled);
    --kbq-tree-states-disabled-caption-color: var(--kbq-states-foreground-disabled);
}
