@use '../main';


.kbq-column-container {
    margin-left: 15px;
    margin-right: 15px;
}

.docs-border {
    border: 1px solid red;
}

.container {
    display: flex;
    flex-direction: row;
}

.container__left {
    margin: 0 16px;
}

.container__right {
    margin: 0 16px;
}
