td {
    padding: 16px;
}

/*Цвета ссылок должны браться как переменные из необходимой темы*/

.warning {
    color: #f0d49b !important;
    border-bottom: 1px solid #f0d49b !important;
}

.ok {
    color: #b79a45 !important;
    border-bottom: 1px solid #b79a45 !important;
}
