.popover-close-example__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.kbq-popover.close-example h1 {
    margin-top: 0;
}

.kbq-popover.close-example p:last-child {
    margin-bottom: 0;
}

.kbq-popover.share-content .kbq-form__label {
    display: block;
}

.popover-share-content__text {
    color: #6c7393;
    margin-top: 4px;
    margin-bottom: 12px;
}

.popover-share-content__image {
    display: block;
    width: 100%;
}

.popover-share-content__container {
    padding: 24px 32px 40px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popover-share-content__list {
    margin-top: 16px;
}

.popover-share-content__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.popover-share-content__list-item-left {
    display: flex;
    align-items: center;
}

.popover-share-content__list-item-image {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 12px;
}
