>>> .kbq-popover.popover-close-example .kbq-form__label {
    display: block;
}

>>> .kbq-popover.popover-close-example .kbq-form__fieldset {
    justify-content: space-between;
}

>>> .kbq-popover.popover-close-example .kbq-form__row:first-child {
    width: 100%;
}

>>> .kbq-popover.popover-close-example .kbq-form__fieldset.kbq-horizontal .kbq-form__row:not(:first-child) {
    padding-left: 8px;
}

.popover-close-example__text {
    color: #6c7393;
    margin-top: 4px;
    margin-bottom: 12px;
}

.popover-close-example__list {
    margin-top: 16px;
}

.popover-close-example__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.popover-close-example__list-item-left {
    display: flex;
    align-items: center;
}

.popover-close-example__list-item-image {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 12px;
}
