@use 'sass:map';

@use 'theming/theming' as *;
@use 'typography/typography' as *;

@use 'theming/scrollbar-theme' as *;

@use '../../link/link-theme' as *;
@use '../../markdown/markdown-theme' as *;
@use '../../scrollbar/scrollbar-component-theme' as *;
@use '../../splitter/splitter-theme' as *;
@use '../../tabs/tabs-theme' as *;
@use '../../tags/tag-theme' as *;
@use '../../textarea/textarea-theme' as *;
@use '../forms/forms-theme' as *;
@use '../option/option-theme' as *;
@use '../option/optgroup-theme' as *;
@use '../option/option-action-theme' as *;
@use '../highlight/highlight-theme' as *;

@mixin koobiq-theme($theme) {
    @include kbq-core-theme($theme);

    @include kbq-forms-theme();
    @include kbq-highlight-theme();
    // link is a directive, so styles for it should be applied globally
    @include kbq-link-theme();
    @include kbq-markdown-theme();
    @include kbq-option-theme($theme);
    @include kbq-optgroup-theme($theme);
    @include kbq-option-action-theme($theme);
    @include kbq-scrollbar-theme();
    @include kbq-splitter-theme($theme);
    @include kbq-tabs-theme($theme);
    @include kbq-tag-theme($theme);
}

@mixin koobiq-typography($tokens, $config: null, $md-config: null) {
    @if not $config {
        $config: kbq-typography-config($tokens);
    }

    @include kbq-base-typography();
    @include kbq-markdown-base-typography();
    @include kbq-markdown-typography();

    @include kbq-forms-typography();
    @include kbq-option-typography($config);
    @include kbq-optgroup-typography($config);
    @include kbq-tabs-typography($config);
    @include kbq-tag-typography($config);
    @include kbq-textarea-typography();
}
