.fill-and-style__example-button-group {
    display: inline-flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    max-width: 480px;
}

.example-label {
    margin-bottom: 12px;
}

.fill-and-style__example-button-group .example-button {
    width: 128px;
}
