@mixin kbq-highlight-theme() {
    .kbq-highlight {
        color: inherit;

        background-color: #ff9f1226;

        padding: 0 var(--kbq-size-xxs);
        margin: 0 calc(-1 * var(--kbq-size-xxs));
        border-radius: var(--kbq-size-s);
    }
}
