@mixin kbq-highlight-theme() {
    .kbq-highlight {
        color: inherit;

        font-weight: bold;
        background-color: transparent;
    }
}

@mixin kbq-highlight-background-theme() {
    .kbq-highlight-background {
        color: inherit;

        background-color: var(--kbq-background-highlight);

        border-radius: var(--kbq-size-xxs);
    }
}
