.dev-container {
    display: flex;
    align-items: center;

    .dev-percent {
        margin-right: 8px;
        width: 60px;
        text-align: center;
        flex-shrink: 0;
    }

    .dev-spinners {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 8px;
        list-style: none;
        padding: 0;
    }

    .dev-spinner-container {
        margin-top: 16px;
    }

    .dev-spinner-container__with-overflow {
        overflow-y: auto;
    }
}
