@use '../main';


.container {
    display: flex;
    align-items: center;

    .percent {
        margin-right: 8px;
        width: 60px;
        text-align: center;
        flex-shrink: 0;
    }

    .spinners {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 8px;
        list-style: none;
        padding: 0;
    }

    .spinner-container {
        margin-top: 16px;
    }

    .line-container:not(:first-child) {
        margin-top: 16px;
    }
}
