@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;

@mixin kbq-toggle-state($type, $state-name) {
    $base: toggle-#{$type}-#{$state-name};

    .kbq-toggle-bar {
        border-color: kbq-css-variable(#{$base}-border);
        background: kbq-css-variable(#{$base}-background);
    }

    .kbq-toggle__circle {
        background: kbq-css-variable(#{$base}-circle-background);
    }
}

@mixin kbq-toggle-color($type) {
    @include kbq-toggle-state($type, default);

    &:hover {
        @include kbq-toggle-state($type, states-hover);
    }

    &.kbq-active {
        @include kbq-toggle-state($type, states-checked);
    }

    &.kbq-active:hover {
        @include kbq-toggle-state($type, states-checked-hover);
    }

    &.cdk-keyboard-focused {
        @include kbq-toggle-state($type, states-focused);

        & .kbq-toggle-bar {
            border-color: kbq-css-variable(toggle-#{$type}-states-focused-focus-outline);
            box-shadow: 0 0 0.1px 1px kbq-css-variable(toggle-#{$type}-states-focused-focus-outline);
        }
    }

    &.kbq-active.cdk-keyboard-focused {
        @include kbq-toggle-state($type, states-checked-focused);

        & .kbq-toggle-bar {
            border-color: kbq-css-variable(toggle-#{$type}-states-checked-focused-focus-outline);
            box-shadow: 0 0 0.1px 1px kbq-css-variable(toggle-#{$type}-states-checked-focused-focus-outline);
        }
    }

    &.kbq-disabled,
    &.kbq-active.kbq-disabled {
        @include kbq-toggle-state($type, states-disabled);
    }
}

@mixin kbq-toggle-theme() {
    .kbq-toggle {
        @include kbq-toggle-color(theme);

        &.kbq-error {
            @include kbq-toggle-color(error);
        }

        &.kbq-disabled {
            color: kbq-css-variable(foreground-text-disabled);
        }
    }
}

@mixin kbq-toggle-typography() {
    .kbq-toggle:not(.kbq-toggle_big) {
        @include kbq-typography-css-variables(toggle, normal-label);

        & .kbq-hint {
            @include kbq-typography-css-variables(toggle, normal-caption);
        }

        & .kbq-toggle-bar-container {
            @include kbq-css-font-variable(toggle, normal-caption, line-height, font-);
        }
    }

    .kbq-toggle.kbq-toggle_big {
        @include kbq-typography-css-variables(toggle, big-label);

        & .kbq-hint {
            @include kbq-typography-css-variables(toggle, big-caption);
        }

        & .kbq-toggle-bar-container {
            @include kbq-css-font-variable(toggle, big-label, line-height, font-);
        }
    }
}
