@use '../core/styles/common/tokens' as *;

@mixin kbq-toggle-state($type, $state-name) {
    $base: toggle-#{$type}-#{$state-name};

    .kbq-toggle-bar {
        border-color: var(--kbq-#{$base}-border);
        background: var(--kbq-#{$base}-background);
    }

    .kbq-toggle__circle {
        background: var(--kbq-#{$base}-circle-background);
    }
}

@mixin kbq-toggle-color($type) {
    @include kbq-toggle-state($type, default);

    &:hover {
        @include kbq-toggle-state($type, states-hover);
    }

    &.kbq-active {
        @include kbq-toggle-state($type, states-checked);
    }

    &.kbq-active:hover {
        @include kbq-toggle-state($type, states-checked-hover);
    }

    &.cdk-keyboard-focused {
        @include kbq-toggle-state($type, states-focused);

        & .kbq-toggle-bar {
            border-color: var(--kbq-toggle-#{$type}-states-focused-focus-outline);
            box-shadow: 0 0 0.1px 1px var(--kbq-toggle-#{$type}-states-focused-focus-outline);
        }
    }

    &.kbq-active.cdk-keyboard-focused {
        @include kbq-toggle-state($type, states-checked-focused);

        & .kbq-toggle-bar {
            border-color: var(--kbq-toggle-#{$type}-states-checked-focused-focus-outline);
            box-shadow: 0 0 0.1px 1px var(--kbq-toggle-#{$type}-states-checked-focused-focus-outline);
        }
    }

    &.kbq-disabled,
    &.kbq-active.kbq-disabled {
        @include kbq-toggle-state($type, states-disabled);
    }
}

@mixin kbq-toggle-theme() {
    .kbq-toggle {
        @include kbq-toggle-color(theme);

        &.kbq-error {
            @include kbq-toggle-color(error);
        }

        &.kbq-disabled {
            color: var(--kbq-states-foreground-disabled);
        }
    }
}

@mixin kbq-toggle-typography() {
    .kbq-toggle:not(.kbq-toggle_big) {
        @include kbq-typography-level-to-styles-css-variables(typography, text-normal);

        & .kbq-hint {
            @include kbq-typography-level-to-styles-css-variables(typography, text-compact);
        }

        & .kbq-toggle-bar-container {
            @include kbq-css-font-variable(typography, text-compact, line-height, '');
        }
    }

    .kbq-toggle.kbq-toggle_big {
        @include kbq-typography-level-to-styles-css-variables(typography, text-big);

        & .kbq-hint {
            @include kbq-typography-level-to-styles-css-variables(typography, text-normal);
        }

        & .kbq-toggle-bar-container {
            @include kbq-css-font-variable(typography, text-big, line-height, '');
        }
    }
}
