@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/theming/theming' as *;
@use '../core/styles/typography/typography-utils' as *;


@mixin kbq-toggle-state($state) {
    .kbq-toggle-bar {
        border-color: map.get($state, border);
        background: map.get($state, background);
    }

    .kbq-toggle__circle {
        background: map.get($state, circle-background);
    }
}

@mixin kbq-toggle-focused-state($state) {
    & .kbq-toggle-bar {
        border-color: map.get($state, focus-outline);
        box-shadow: 0 0 0 1px map.get($state, focus-outline);
    }
}

@mixin kbq-toggle-color($toggle) {
    @include kbq-toggle-state(map.get($toggle, default));

    &:hover {
        @include kbq-toggle-state(map.get($toggle, hover));
    }

    &.kbq-active {
        @include kbq-toggle-state(map.get($toggle, checked));
    }

    &.kbq-active:hover {
        @include kbq-toggle-state(map.get($toggle, checked-hover));
    }

    &.cdk-keyboard-focused {
        $focused: map.get($toggle, focused);

        @include kbq-toggle-state($focused);
        @include kbq-toggle-focused-state($focused);
    }

    &.kbq-active.cdk-keyboard-focused {
        $checked-focused: map.get($toggle, checked-focused);

        @include kbq-toggle-state($checked-focused);
        @include kbq-toggle-focused-state($checked-focused);
    }

    &.kbq-disabled,
    &.kbq-active.kbq-disabled {
        @include kbq-toggle-state(map.get($toggle, disabled));
    }
}

@mixin kbq-toggle-theme($theme) {
    $foreground: map.get($theme, foreground);

    $toggle: map.get(map.get($theme, components), toggle);

    $toggle-theme: map.get($toggle, theme);
    $toggle-error: map.get($toggle, error);

    .kbq-toggle {
        color: map.get($foreground, contrast);

        @include kbq-toggle-color($toggle-theme);

        &.kbq-error {
            @include kbq-toggle-color($toggle-error);
        }
    }
}

@mixin kbq-toggle-typography($config) {
    $tokens: map.get($config, tokens);

    .kbq-toggle:not(.kbq-toggle_big) {
        @include kbq-typography-level-to-styles($config, map.get($tokens, toggle-font-normal-label));

        & .kbq-hint {
            @include kbq-typography-level-to-styles($config, map.get($tokens, toggle-font-normal-caption));
        }

        & .kbq-toggle-bar-container {
            height: kbq-line-height($config, map.get($tokens, toggle-font-normal-label));
        }
    }

    .kbq-toggle.kbq-toggle_big {
        @include kbq-typography-level-to-styles($config, map.get($tokens, toggle-font-big-label));

        & .kbq-hint {
            @include kbq-typography-level-to-styles($config, map.get($tokens, toggle-font-big-caption));
        }

        & .kbq-toggle-bar-container {
            height: kbq-line-height($config, map.get($tokens, toggle-font-big-label));
        }
    }
}
