@use '../core/styles/common/tokens' as *;

@use './toggle-theme' as *;

$toggle-thumb-offset: 8px;

.kbq-toggle {
    display: inline-block;

    .kbq-toggle__circle {
        position: absolute;

        border-radius: 50%;

        transform: translateX(-1px); // due to EDGE animation features

        height: 10px;
        width: 10px;
    }

    .kbq-toggle-layout {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        cursor: inherit;

        &.left {
            flex-direction: row-reverse;
        }

        .kbq-toggle-bar-container:has(+ .kbq-toggle__content) {
            padding-top: kbq-css-half-difference(typography-text-normal-line-height, toggle-size-normal-height);
        }
    }

    .kbq-toggle-bar-container {
        display: flex;
        align-items: center;
    }

    .kbq-toggle-bar {
        position: relative;
        box-sizing: border-box;

        display: flex;
        align-items: center;

        border: {
            width: 1px;
            style: solid;
            radius: 8px;
        }

        transition: background 100ms ease-in-out;
        height: var(--kbq-toggle-size-normal-height);
        width: var(--kbq-toggle-size-normal-width);

        .kbq-toggle__thumb {
            position: absolute;
            left: $toggle-thumb-offset;
            display: none;
            justify-content: center;
            align-items: center;
            width: 10px;
            height: 2px;
            border-radius: var(--kbq-size-border-width);
            transition: left 50ms ease-in-out;
        }
    }

    .kbq-hint {
        margin-top: var(--kbq-toggle-size-normal-vertical-content-padding);
    }

    &.kbq-indeterminate {
        &.cdk-keyboard-focused {
            .kbq-toggle-bar {
                .kbq-toggle__thumb {
                    left: $toggle-thumb-offset + 2px;
                }
            }
        }

        .kbq-toggle-bar {
            .kbq-toggle__thumb {
                display: block;
            }

            &:hover {
                .kbq-toggle__thumb {
                    left: $toggle-thumb-offset + 2px;
                }
            }
        }
    }
}

.kbq-toggle__content {
    display: flex;
    flex-direction: column;

    flex: 1;

    &.left {
        margin-right: var(--kbq-toggle-size-normal-horizontal-content-padding);
    }

    &.right {
        margin-left: var(--kbq-toggle-size-normal-horizontal-content-padding);
    }
}

.kbq-toggle.kbq-toggle_big {
    & .kbq-toggle-bar {
        height: var(--kbq-toggle-size-big-height);
        width: var(--kbq-toggle-size-big-width);
    }

    & .kbq-hint {
        margin-top: var(--kbq-toggle-size-big-vertical-content-padding);
    }

    .kbq-toggle-layout {
        .kbq-toggle-bar-container:has(+ .kbq-toggle__content) {
            padding-top: kbq-css-half-difference(toggle-font-big-label-line-height, toggle-size-big-height);
        }
    }
}

.kbq-toggle:not(.kbq-disabled) {
    cursor: pointer;
}

@include kbq-toggle-theme();
@include kbq-toggle-typography();
