.kbq-toggle {
    --kbq-toggle-size-normal-height: var(--kbq-size-l);
    --kbq-toggle-size-normal-width: 28px;
    --kbq-toggle-size-normal-horizontal-content-padding: var(--kbq-size-s);
    --kbq-toggle-size-normal-vertical-content-padding: var(--kbq-size-s);
    --kbq-toggle-size-big-height: var(--kbq-size-l);
    --kbq-toggle-size-big-width: 28px;
    --kbq-toggle-size-big-horizontal-content-padding: var(--kbq-size-s);
    --kbq-toggle-size-big-vertical-content-padding: var(--kbq-size-s);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-toggle-theme-default-border: var(--kbq-line-contrast-fade);
    --kbq-toggle-theme-default-background: var(--kbq-background-bg);
    --kbq-toggle-theme-default-circle-background: var(--kbq-icon-contrast);
    --kbq-toggle-theme-states-hover-border: var(--kbq-line-contrast-fade);
    --kbq-toggle-theme-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-toggle-theme-states-hover-circle-background: var(--kbq-icon-contrast);
    --kbq-toggle-theme-states-checked-border: transparent;
    --kbq-toggle-theme-states-checked-background: var(--kbq-background-theme);
    --kbq-toggle-theme-states-checked-circle-background: var(--kbq-icon-white);
    --kbq-toggle-theme-states-checked-hover-border: transparent;
    --kbq-toggle-theme-states-checked-hover-background: var(--kbq-states-background-theme-hover);
    --kbq-toggle-theme-states-checked-hover-circle-background: var(--kbq-icon-white);
    --kbq-toggle-theme-states-focused-border: var(--kbq-states-line-focus-theme);
    --kbq-toggle-theme-states-focused-background: var(--kbq-background-bg);
    --kbq-toggle-theme-states-focused-circle-background: var(--kbq-icon-contrast);
    --kbq-toggle-theme-states-focused-focus-outline: var(--kbq-states-line-focus-theme);
    --kbq-toggle-theme-states-checked-focused-border: var(--kbq-states-line-focus-theme);
    --kbq-toggle-theme-states-checked-focused-background: var(--kbq-background-theme);
    --kbq-toggle-theme-states-checked-focused-circle-background: var(--kbq-icon-white);
    --kbq-toggle-theme-states-checked-focused-focus-outline: var(--kbq-states-line-focus-theme);
    --kbq-toggle-theme-states-disabled-border: var(--kbq-states-line-disabled);
    --kbq-toggle-theme-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-toggle-theme-states-disabled-circle-background: var(--kbq-states-icon-disabled);
    --kbq-toggle-error-default-border: var(--kbq-line-error);
    --kbq-toggle-error-default-background: var(--kbq-background-error-less);
    --kbq-toggle-error-default-circle-background: var(--kbq-icon-error);
    --kbq-toggle-error-states-hover-border: var(--kbq-line-error);
    --kbq-toggle-error-states-hover-background: var(--kbq-states-background-error-fade-hover);
    --kbq-toggle-error-states-hover-circle-background: var(--kbq-icon-error);
    --kbq-toggle-error-states-checked-border: var(--kbq-line-error);
    --kbq-toggle-error-states-checked-background: var(--kbq-background-error);
    --kbq-toggle-error-states-checked-circle-background: var(--kbq-icon-white);
    --kbq-toggle-error-states-checked-hover-border: var(--kbq-line-error);
    --kbq-toggle-error-states-checked-hover-background: var(--kbq-states-background-error-hover);
    --kbq-toggle-error-states-checked-hover-circle-background: var(--kbq-icon-white);
    --kbq-toggle-error-states-focused-border: var(--kbq-states-line-focus-error);
    --kbq-toggle-error-states-focused-background: var(--kbq-states-background-error-less);
    --kbq-toggle-error-states-focused-circle-background: var(--kbq-icon-error);
    --kbq-toggle-error-states-focused-focus-outline: var(--kbq-states-line-focus-error);
    --kbq-toggle-error-states-checked-focused-border: var(--kbq-states-line-focus-error);
    --kbq-toggle-error-states-checked-focused-background: var(--kbq-background-error);
    --kbq-toggle-error-states-checked-focused-circle-background: var(--kbq-icon-white);
    --kbq-toggle-error-states-checked-focused-focus-outline: var(--kbq-states-line-focus-error);
    --kbq-toggle-error-states-disabled-border: var(--kbq-states-line-disabled);
    --kbq-toggle-error-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-toggle-error-states-disabled-circle-background: var(--kbq-states-icon-disabled);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-toggle-theme-default-border: var(--kbq-line-contrast-fade);
    --kbq-toggle-theme-default-background: var(--kbq-background-bg);
    --kbq-toggle-theme-default-circle-background: var(--kbq-icon-contrast);
    --kbq-toggle-theme-states-hover-border: var(--kbq-line-contrast-fade);
    --kbq-toggle-theme-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-toggle-theme-states-hover-circle-background: var(--kbq-icon-contrast);
    --kbq-toggle-theme-states-checked-border: transparent;
    --kbq-toggle-theme-states-checked-background: var(--kbq-background-theme);
    --kbq-toggle-theme-states-checked-circle-background: var(--kbq-icon-white);
    --kbq-toggle-theme-states-checked-hover-border: transparent;
    --kbq-toggle-theme-states-checked-hover-background: var(--kbq-states-background-theme-hover);
    --kbq-toggle-theme-states-checked-hover-circle-background: var(--kbq-icon-white);
    --kbq-toggle-theme-states-focused-border: var(--kbq-states-line-focus-theme);
    --kbq-toggle-theme-states-focused-background: var(--kbq-background-bg);
    --kbq-toggle-theme-states-focused-circle-background: var(--kbq-icon-contrast);
    --kbq-toggle-theme-states-focused-focus-outline: var(--kbq-states-line-focus-theme);
    --kbq-toggle-theme-states-checked-focused-border: var(--kbq-states-line-focus-theme);
    --kbq-toggle-theme-states-checked-focused-background: var(--kbq-background-theme);
    --kbq-toggle-theme-states-checked-focused-circle-background: var(--kbq-icon-white);
    --kbq-toggle-theme-states-checked-focused-focus-outline: var(--kbq-states-line-focus-theme);
    --kbq-toggle-theme-states-disabled-border: var(--kbq-states-line-disabled);
    --kbq-toggle-theme-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-toggle-theme-states-disabled-circle-background: var(--kbq-states-icon-disabled);
    --kbq-toggle-error-default-border: var(--kbq-line-error);
    --kbq-toggle-error-default-background: var(--kbq-background-error-less);
    --kbq-toggle-error-default-circle-background: var(--kbq-icon-error);
    --kbq-toggle-error-states-hover-border: var(--kbq-line-error);
    --kbq-toggle-error-states-hover-background: var(--kbq-states-background-error-fade-hover);
    --kbq-toggle-error-states-hover-circle-background: var(--kbq-icon-error);
    --kbq-toggle-error-states-checked-border: var(--kbq-line-error);
    --kbq-toggle-error-states-checked-background: var(--kbq-background-error);
    --kbq-toggle-error-states-checked-circle-background: var(--kbq-icon-white);
    --kbq-toggle-error-states-checked-hover-border: var(--kbq-line-error);
    --kbq-toggle-error-states-checked-hover-background: var(--kbq-states-background-error-hover);
    --kbq-toggle-error-states-checked-hover-circle-background: var(--kbq-icon-white);
    --kbq-toggle-error-states-focused-border: var(--kbq-states-line-focus-error);
    --kbq-toggle-error-states-focused-background: var(--kbq-states-background-error-less);
    --kbq-toggle-error-states-focused-circle-background: var(--kbq-icon-error);
    --kbq-toggle-error-states-focused-focus-outline: var(--kbq-states-line-focus-error);
    --kbq-toggle-error-states-checked-focused-border: var(--kbq-states-line-focus-error);
    --kbq-toggle-error-states-checked-focused-background: var(--kbq-background-error);
    --kbq-toggle-error-states-checked-focused-circle-background: var(--kbq-icon-white);
    --kbq-toggle-error-states-checked-focused-focus-outline: var(--kbq-states-line-focus-error);
    --kbq-toggle-error-states-disabled-border: var(--kbq-states-line-disabled);
    --kbq-toggle-error-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-toggle-error-states-disabled-circle-background: var(--kbq-states-icon-disabled);
}
