:host {
    display: flex;
    flex: 1;
    align-items: stretch;
    overflow: auto;
}

@mixin flex($direction, $content: flex-start, $items: stretch, $wrap: nowrap) {
    display: flex;
    flex-flow: $direction $wrap;
    align-items: $items;
    justify-content: $content;
}

@mixin flex-container {
    @include flex(column);

    min-width: 0;
    height: 100%;
    min-height: 0;
}

.ic-content-panel__body {
    @include flex-container();

    padding: 0 var(--kbq-size-xxl);
}
