@use '../core/styles/common/tokens';

.kbq-top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;

    position: var(--kbq-top-menu-position);
    background-color: var(--kbq-top-menu-background);
    padding: var(--kbq-top-menu-padding-vertical) var(--kbq-top-menu-padding-horizontal);
    border: var(--kbq-top-menu-border-radius);

    .kbq-top-menu__spacer {
        min-width: var(--kbq-top-menu-spacer-min-width);
        height: 100%;
    }

    .kbq-top-menu-container__left {
        gap: var(--kbq-top-menu-left-gap);
    }

    .kbq-top-menu-container__right {
        gap: var(--kbq-top-menu-right-gap);
    }

    &.kbq-top-menu-overflow,
    &.kbq-top-menu-shadow-on-hover:hover {
        box-shadow: var(--kbq-top-menu-shadow-bottom);
        transition: box-shadow var(--kbq-top-menu-overflow-transition);
    }

    @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);
}
