@use '../dist/components/core/styles/theming';
@use '../dist/components/core/styles/common/tokens';

/* stylelint-disable no-unknown-custom-properties */

@mixin kbq-docs-component-viewer-theme() {
    .docs-component-header {
        background: var(--kbq-background-bg);
    }

    .docs-api__section {
        border-color: var(--kbq-background-contrast-fade);
    }

    .docs-api__section_directive .docs-api_method-name {
        color: var(--kbq-line-warning) !important;
    }

    .docs-api__input-marker {
        color: var(--kbq-line-success) !important;
    }

    .kbq-docs-table {
        & .kbq-markdown__code {
            background: transparent !important;
        }

        &.kbq-table > tbody > tr:hover {
            background: none;
        }
    }
}

@mixin kbq-docs-component-viewer-typography() {
    // header
    .docs-component-name {
        font-family: Inter;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: normal;
        font-weight: 700;
        text-transform: none;
        font-feature-settings:
            'ss01' on,
            'ss04' on;
    }

    .docs-api__class-name {
        font-family: JetBrains Mono;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: normal;
        font-weight: 700;
        text-transform: none;
        font-feature-settings: initial;
    }

    .docs-icons-viewer,
    .component-overview {
        // first level
        & .docs-header-link.kbq-markdown__h3 {
            font-family: Inter;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: normal;
            font-weight: 700;
            text-transform: none;
            font-feature-settings:
                'ss01' on,
                'ss04' on;
        }

        // second level
        & .docs-icons-viewer__table-row-header,
        & .docs-api__section_method .docs-api_method-name,
        & .docs-header-link.kbq-markdown__h4 {
            font-family: Inter;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: normal;
            font-weight: 600;
            text-transform: none;
            font-feature-settings:
                'ss01' on,
                'ss04' on;
        }

        // third level
        & .docs-header-link.kbq-markdown__h5 {
            font-family: Inter;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: normal;
            font-weight: 600;
            text-transform: none;
            font-feature-settings:
                'ss01' on,
                'ss04' on;
        }
    }

    .docs-component-navbar .kbq-tab-link {
        @include tokens.kbq-typography-level-to-styles_css-variables(typography, text-big);
    }

    .docs-api__class-selector-name,
    .docs-api__input-marker,
    .docs-api_property-name {
        @include tokens.kbq-typography-level-to-styles_css-variables(typography, mono-big);
    }

    .docs-api_method-name {
        @include tokens.kbq-typography-level-to-styles_css-variables(typography, mono-big-strong);
    }

    .docs-api {
        .kbq-markdown__code {
            @include tokens.kbq-typography-level-to-styles_css-variables(typography, mono-big);
        }
    }
}
