@use '../../../styles/koobiq/default-theme/variables' as *;

.kbq-docs-pre {
    position: relative;
}

.docs-component-navbar {
    & .docs-component-navbar__links {
        display: flex;
        align-items: center;

        & .kbq-link {
            padding: $size-s $size-m;
        }
    }
}

.docs-api_method-name {
    margin-bottom: $size-xxs;
}

.docs-api__section {
    border-width: 1px;
    border-style: solid;
    border-radius: $size-m;

    padding: $size-xxs $size-xl $size-xl;
    margin-bottom: $size-l;

    & .docs-api__property-header,
    & .docs-api__method-header {
        margin: $size-m 0;
    }

    & .kbq-docs-table {
        padding-bottom: $size-m;

        & .kbq-docs-table__name,
        & .kbq-docs-table__description {
            padding: $size-s 0;
        }

        & > tbody > tr td {
            padding: $size-s 0;
        }

        & > tbody > tr:last-child td {
            border-bottom: none;
        }
    }

    & .kbq-docs-table + .docs-api_method-name {
        margin-top: $size-xl;
    }

    & .docs-api_method-name + .docs-api_method-name {
        margin-top: $size-xxl;
    }

    & .kbq-markdown__pre {
        margin-bottom: $size-m;
    }

    &.docs-api__section_method > .docs-api_method-name {
        padding-top: $size-m;
    }
}

.docs-api__class-selector-name,
.docs-api__class-export-name {
    padding: $size-xxs $size-s;
    border-radius: $size-s;
}

.docs-api__class-name {
    margin-top: $size-m;
    margin-bottom: $size-m;
}

.component-overview {
    display: flex;
    flex-direction: row;

    // paragraph
    & .kbq-markdown__p {
        margin-top: 0 !important;
        max-width: unset;
    }

    // first level
    .docs-header-link.kbq-markdown__h3 {
        margin-top: $size-m;
        margin-bottom: $size-m;
    }

    // second level
    .docs-header-link.kbq-markdown__h4 {
        margin-top: $size-m;
        margin-bottom: $size-m;
    }

    // third level
    .docs-header-link.kbq-markdown__h5 {
        margin-top: $size-m;
        margin-bottom: $size-m;
    }

    & div[koobiq-docs-example] + .docs-header-link {
        margin-top: $size-3xl;
    }

    & .docs-api__section + .docs-header-link,
    & .kbq-markdown__table + .docs-header-link,
    & .kbq-markdown__ul + .docs-header-link,
    & .kbq-markdown__p + .docs-header-link {
        margin-top: $size-xxl;
    }

    & .docs-header-link:first-child:not(div[class*='docs-api__']) {
        margin-top: 0;
    }

    & .docs-import {
        margin-top: 0;
    }

    & .docs-api__section_method .docs-api_method-name {
        padding: 0;
        margin-top: $size-m;
        margin-bottom: $size-m;
    }
}

.docs-component-viewer {
    display: flex;
    flex-direction: column;

    min-width: 0;
    height: 100%;

    overflow-y: auto;

    scroll-behavior: smooth;
}

.docs-live-example {
    min-width: 0;

    margin-bottom: $size-7xl;
}

.docs-component-header {
    // header
    .docs-component-name {
        margin-bottom: $size-m;
    }

    & .docs-component-navbar {
        margin-bottom: $size-3xl;
    }
}

@media (width <= 768px) {
    .docs-component-header {
        padding-top: $size-l;
    }

    .docs-component-viewer {
        padding: 0 $size-l $size-3xl;
    }

    .component-overview {
        flex-direction: column-reverse;

        .sticky-wrapper {
            display: none;
        }
    }
}

@media (769px <= width <= 1200px) {
    .docs-component-header {
        padding-left: $size-xxl;
        padding-right: $size-xxl;
    }

    .component-overview {
        flex-direction: column-reverse !important;

        padding-left: $size-xxl;
        padding-right: $size-xxl;

        & .sticky-wrapper {
            margin-bottom: $size-xxl;
        }
    }
}

@media (1201px <= width <= 1920px) {
    .docs-component-header {
        padding-left: $size-7xl;

        width: 650px;
        margin-right: $size-7xl;
    }

    .component-overview {
        padding-left: $size-7xl;

        & .docs-live-example {
            width: 650px;
            margin-right: $size-7xl;
        }
    }
}

@media (width >= 1920px) {
    .docs-component-header {
        padding-left: 160px;
    }

    .component-overview {
        padding-left: 160px;

        & .docs-live-example {
            width: 900px;
            margin-right: $size-7xl;
        }
    }
}
