@import '@koobiq/components/prebuilt-themes/light-theme.css';
@import '@koobiq/icons/fonts/kbq-icons';
@import '@koobiq/design-tokens/web/css-tokens.css';
@import '@koobiq/design-tokens/web/css-tokens-dark.css';
@import '@koobiq/design-tokens/web/css-tokens-light.css';

body {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    padding-right: 8px;
    float: right;
}
