@use '@koobiq/components/core/styles/common/tokens';
@use '@koobiq/components/core/styles/visual';

@include visual.layouts-for-breakpoint();

body {
    @include tokens.kbq-typography-level-to-styles-css-variables(typography, text-normal);

    background: var(--kbq-background-bg);
    color: var(--kbq-foreground-contrast);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--kbq-size-l);
}

body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--kbq-size-l) var(--kbq-size-3xl);
    border-bottom: var(--kbq-size-border-width) solid var(--kbq-line-contrast-less);
}

body > header a {
    display: flex;
    gap: var(--kbq-size-m);
}

body > header img {
    transform: scale(1.3);
}

body > main {
    padding: 0 var(--kbq-size-3xl);
}

body > footer {
    padding: var(--kbq-size-l) var(--kbq-size-3xl);
    font-size: var(--kbq-typography-text-compact-font-size);
    text-align: end;
}
