.popover-placement-edges-example {
    display: flex;
    column-gap: 16px;
}

.popover-placement-edges-example__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.popover-placement-edges-example__column button {
    width: 100%;
}

.popover-placement-edges-example__column button + button {
    margin-top: 52px;
}

.popover-placement-edges-example__column.middle button + button {
    margin-top: 136px;
}

.popover-placement-edges-example__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
