@use '../core/styles/common/tokens' as *;

@use './autocomplete-theme' as *;

.kbq-autocomplete-panel {
    visibility: hidden;

    position: relative;

    overflow: hidden auto;
    -webkit-overflow-scrolling: touch; // for momentum scroll on mobile

    margin-top: -1px;

    min-width: 100%;
    width: 100%;
    max-width: none;

    max-height: var(--kbq-autocomplete-size-panel-max-height);

    border-bottom-left-radius: var(--kbq-autocomplete-size-panel-border-radius);
    border-bottom-right-radius: var(--kbq-autocomplete-size-panel-border-radius);

    padding: var(--kbq-size-xxs);

    &.kbq-autocomplete_visible {
        visibility: visible;
    }

    &.kbq-autocomplete_hidden {
        visibility: hidden;
    }

    .kbq-option {
        position: relative;

        &:before,
        &:after {
            position: absolute;
            content: '';
            width: var(--kbq-size-xxs);
            height: calc(100% + var(--kbq-size-3xs) * 2); // outline size * 2
        }

        &:before {
            right: calc(100% + var(--kbq-size-3xs)); // outline size
        }

        &:after {
            left: calc(100% + var(--kbq-size-3xs)); // outline size
        }
    }

    .kbq-autocomplete-panel-above & {
        border-radius: var(--kbq-autocomplete-size-panel-border-radius) var(--kbq-autocomplete-size-panel-border-radius)
            0 0;
    }

    // We need to offset horizontal dividers by their height, because
    // they throw off the keyboard navigation inside the panel.
    .kbq-divider-horizontal {
        margin-top: -1px;
    }
}

@include kbq-autocomplete-theme();
