@use '../core/styles/common/tokens' as *;

@use './autocomplete-theme' as *;

.kbq-autocomplete-panel {
    visibility: hidden;

    position: relative;

    overflow: hidden auto;
    -webkit-overflow-scrolling: touch; // for momentum scroll on mobile

    box-sizing: border-box;
    min-width: 100%;
    width: 100%;
    max-width: none;

    border-radius: var(--kbq-select-panel-size-border-radius, var(--kbq-size-border-radius));
    max-height: var(--kbq-select-panel-size-max-height,);

    padding: var(--kbq-size-xxs);

    &.kbq-autocomplete_visible {
        visibility: visible;
    }

    &.kbq-autocomplete_hidden {
        visibility: hidden;
    }

    .kbq-option {
        position: relative;

        &:before,
        &:after {
            position: absolute;
            content: '';
            width: var(--kbq-size-xxs);
            height: calc(100% + var(--kbq-size-3xs) * 2); // outline size * 2
        }

        &:before {
            right: calc(100% + var(--kbq-size-3xs)); // outline size
        }

        &:after {
            left: calc(100% + var(--kbq-size-3xs)); // outline size
        }
    }

    // We need to offset horizontal dividers by their height, because
    // they throw off the keyboard navigation inside the panel.
    .kbq-divider-horizontal {
        margin-top: -1px;
    }
}

@include kbq-autocomplete-theme();
