{% import "macros.html" as macros %}

<div id="{$ item.name $}" class="docs-header-link kbq-markdown__h4 docs-api__function-name">
    <span header-link="{$ item.name $}"></span>
    <span>{$ item.name $}</span>
</div>

{%- if item.isDeprecated -%}
<div class="docs-api__function-deprecated-marker" {$ macros.deprecationTitle(function) $}>
    Deprecated
</div>
{%- endif -%}

{%- if item.description -%}
<p class="kbq-markdown__p">{$ item.description | safe $}</p>
{%- endif -%}

<div class="kbq-markdown">
    <pre class="kbq-markdown__pre docs-import">
        {%- highlight "typescript" -%}
          const {$ item.name | safe $}: {$ item.returnType | safe $};
            {%- end_highlight -%}
    </pre>
</div>

{%- if item.params.length -%}
<table class="kbq-docs-table kbq-table kbq-table_bordered layout-fill">
    <thead><tr>
        <th class="kbq-docs-table__name">Parameters</th>
        <th class="kbq-docs-table__description">Description</th>
    </tr></thead>

    <tbody>
    {% for parameter in item.params %}
    <tr>
        <td>
                <span class="kbq-markdown__code">
                    {$ parameter.name $}
                    {%- if parameter.isOptional -%}
                    <span>?</span>
                    {%- endif -%}
                    :
                </span>

            <span class="kbq-markdown__code">{$ parameter.type $}</span>
        </td>

        <td>
            <span>{$ parameter.description | safe $}</span>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{%- endif -%}
