{% import "macros.html" as macros %}

<tr>
    <td>
        {%- if property.isDirectiveInput -%}
        <div class="docs-api__input-marker">
            {%- if property.inputAlias and property.name != property.inputAlias -%}
            @Input('<span class="docs-api__input-alias">{$ property.inputAlias $}</span>')
            {% else %}
            @Input()
            {%- endif -%}
        </div>
        {%- endif -%}
        {%- if property.isDirectiveOutput -%}
        <div class="docs-api__output-marker">
            {%- if property.outputAlias -%}
            @Output('<span class="docs-api__output-alias">{$ property.outputAlias $}</span>')
            {% else %}
            @Output()
            {%- endif -%}
        </div>
        {%- endif -%}
        {%- if property.isDeprecated -%}
        <div class="docs-api__deprecated-marker" {$ macros.deprecationTitle(property) $}>Deprecated</div>
        {%- endif -%}

        <span class="docs-api_property-name">{$ property.name $}: {$ property.type $}</span>
    </td>
    <td>{$ property.description | safe $}</td>
</tr>
