$light-color-scheme-theme-palette: (
0: hsla(216, 100%, 0%, 100%),
1: hsla(216, 100%, 1%, 100%),
2: hsla(216, 100%, 2%, 100%),
3: hsla(216, 100%, 3%, 100%),
4: hsla(216, 100%, 4%, 100%),
5: hsla(216, 100%, 5%, 100%),
6: hsla(216, 100%, 6%, 100%),
7: hsla(216, 100%, 7%, 100%),
8: hsla(216, 100%, 8%, 100%),
9: hsla(216, 100%, 9%, 100%),
10: hsla(216, 100%, 10%, 100%),
11: hsla(216, 100%, 11%, 100%),
12: hsla(216, 100%, 12%, 100%),
13: hsla(216, 100%, 13%, 100%),
14: hsla(216, 100%, 14%, 100%),
15: hsla(216, 100%, 15%, 100%),
16: hsla(216, 100%, 16%, 100%),
17: hsla(216, 100%, 17%, 100%),
18: hsla(216, 100%, 18%, 100%),
19: hsla(216, 100%, 19%, 100%),
20: hsla(216, 100%, 20%, 100%),
21: hsla(216, 100%, 21%, 100%),
22: hsla(216, 100%, 22%, 100%),
23: hsla(216, 100%, 23%, 100%),
24: hsla(216, 100%, 24%, 100%),
25: hsla(216, 100%, 25%, 100%),
26: hsla(216, 100%, 26%, 100%),
27: hsla(216, 100%, 27%, 100%),
28: hsla(216, 100%, 28%, 100%),
29: hsla(216, 100%, 29%, 100%),
30: hsla(216, 100%, 30%, 100%),
31: hsla(216, 100%, 31%, 100%),
32: hsla(216, 100%, 32%, 100%),
33: hsla(216, 100%, 33%, 100%),
34: hsla(216, 100%, 34%, 100%),
35: hsla(216, 100%, 35%, 100%),
36: hsla(216, 100%, 36%, 100%),
37: hsla(216, 100%, 37%, 100%),
38: hsla(216, 100%, 38%, 100%),
39: hsla(216, 100%, 39%, 100%),
40: hsla(216, 100%, 40%, 100%),
41: hsla(216, 100%, 41%, 100%),
42: hsla(216, 100%, 42%, 100%),
43: hsla(216, 100%, 43%, 100%),
44: hsla(216, 100%, 44%, 100%),
45: hsla(216, 100%, 45%, 100%),
46: hsla(216, 100%, 46%, 100%),
47: hsla(216, 100%, 47%, 100%),
48: hsla(216, 100%, 48%, 100%),
49: hsla(216, 100%, 49%, 100%),
50: hsla(216, 100%, 50%, 100%),
51: hsla(216, 100%, 51%, 100%),
52: hsla(216, 100%, 52%, 100%),
53: hsla(216, 100%, 53%, 100%),
54: hsla(216, 100%, 54%, 100%),
55: hsla(216, 100%, 55%, 100%),
56: hsla(216, 100%, 56%, 100%),
57: hsla(216, 100%, 57%, 100%),
58: hsla(216, 100%, 58%, 100%),
59: hsla(216, 100%, 59%, 100%),
60: hsla(216, 100%, 60%, 100%),
61: hsla(216, 100%, 61%, 100%),
62: hsla(216, 100%, 62%, 100%),
63: hsla(216, 100%, 63%, 100%),
64: hsla(216, 100%, 64%, 100%),
65: hsla(216, 100%, 65%, 100%),
66: hsla(216, 100%, 66%, 100%),
67: hsla(216, 100%, 67%, 100%),
68: hsla(216, 100%, 68%, 100%),
69: hsla(216, 100%, 69%, 100%),
70: hsla(216, 100%, 70%, 100%),
71: hsla(216, 100%, 71%, 100%),
72: hsla(216, 100%, 72%, 100%),
73: hsla(216, 100%, 73%, 100%),
74: hsla(216, 100%, 74%, 100%),
75: hsla(216, 100%, 75%, 100%),
76: hsla(216, 100%, 76%, 100%),
77: hsla(216, 100%, 77%, 100%),
78: hsla(216, 100%, 78%, 100%),
79: hsla(216, 100%, 79%, 100%),
80: hsla(216, 100%, 80%, 100%),
81: hsla(216, 100%, 81%, 100%),
82: hsla(216, 100%, 82%, 100%),
83: hsla(216, 100%, 83%, 100%),
84: hsla(216, 100%, 84%, 100%),
85: hsla(216, 100%, 85%, 100%),
86: hsla(216, 100%, 86%, 100%),
87: hsla(216, 100%, 87%, 100%),
88: hsla(216, 100%, 88%, 100%),
89: hsla(216, 100%, 89%, 100%),
90: hsla(216, 100%, 90%, 100%),
91: hsla(216, 100%, 91%, 100%),
92: hsla(216, 100%, 92%, 100%),
93: hsla(216, 100%, 93%, 100%),
94: hsla(216, 100%, 94%, 100%),
95: hsla(216, 100%, 95%, 100%),
96: hsla(216, 100%, 96%, 100%),
97: hsla(216, 100%, 97%, 100%),
98: hsla(216, 100%, 98%, 100%),
99: hsla(216, 100%, 99%, 100%),
100: hsla(216, 100%, 100%, 100%),
A8: hsla(216, 100%, 50%, 8%),
A12: hsla(216, 100%, 5%, 12%),
A16: hsla(216, 100%, 50%, 16%),
A24: hsla(216, 100%, 5%, 24%),
A32: hsla(216, 100%, 5%, 32%),

);

$light-color-scheme-success-palette: (
0: hsla(104, 64%, 0%, 100%),
1: hsla(104, 64%, 1%, 100%),
2: hsla(104, 64%, 2%, 100%),
3: hsla(104, 64%, 3%, 100%),
4: hsla(104, 64%, 4%, 100%),
5: hsla(104, 64%, 5%, 100%),
6: hsla(104, 64%, 6%, 100%),
7: hsla(104, 64%, 7%, 100%),
8: hsla(104, 64%, 8%, 100%),
9: hsla(104, 64%, 9%, 100%),
10: hsla(104, 64%, 10%, 100%),
11: hsla(104, 64%, 11%, 100%),
12: hsla(104, 64%, 12%, 100%),
13: hsla(104, 64%, 13%, 100%),
14: hsla(104, 64%, 14%, 100%),
15: hsla(104, 64%, 15%, 100%),
16: hsla(104, 64%, 16%, 100%),
17: hsla(104, 64%, 17%, 100%),
18: hsla(104, 64%, 18%, 100%),
19: hsla(104, 64%, 19%, 100%),
20: hsla(104, 64%, 20%, 100%),
21: hsla(104, 64%, 21%, 100%),
22: hsla(104, 64%, 22%, 100%),
23: hsla(104, 64%, 23%, 100%),
24: hsla(104, 64%, 24%, 100%),
25: hsla(104, 64%, 25%, 100%),
26: hsla(104, 64%, 26%, 100%),
27: hsla(104, 64%, 27%, 100%),
28: hsla(104, 64%, 28%, 100%),
29: hsla(104, 64%, 29%, 100%),
30: hsla(104, 64%, 30%, 100%),
31: hsla(104, 64%, 31%, 100%),
32: hsla(104, 64%, 32%, 100%),
33: hsla(104, 64%, 33%, 100%),
34: hsla(104, 64%, 34%, 100%),
35: hsla(104, 64%, 35%, 100%),
36: hsla(104, 64%, 36%, 100%),
37: hsla(104, 64%, 37%, 100%),
38: hsla(104, 64%, 38%, 100%),
39: hsla(104, 64%, 39%, 100%),
40: hsla(104, 64%, 40%, 100%),
41: hsla(104, 64%, 41%, 100%),
42: hsla(104, 64%, 42%, 100%),
43: hsla(104, 64%, 43%, 100%),
44: hsla(104, 64%, 44%, 100%),
45: hsla(104, 64%, 45%, 100%),
46: hsla(104, 64%, 46%, 100%),
47: hsla(104, 64%, 47%, 100%),
48: hsla(104, 64%, 48%, 100%),
49: hsla(104, 64%, 49%, 100%),
50: hsla(104, 64%, 50%, 100%),
51: hsla(104, 64%, 51%, 100%),
52: hsla(104, 64%, 52%, 100%),
53: hsla(104, 64%, 53%, 100%),
54: hsla(104, 64%, 54%, 100%),
55: hsla(104, 64%, 55%, 100%),
56: hsla(104, 64%, 56%, 100%),
57: hsla(104, 64%, 57%, 100%),
58: hsla(104, 64%, 58%, 100%),
59: hsla(104, 64%, 59%, 100%),
60: hsla(104, 64%, 60%, 100%),
61: hsla(104, 64%, 61%, 100%),
62: hsla(104, 64%, 62%, 100%),
63: hsla(104, 64%, 63%, 100%),
64: hsla(104, 64%, 64%, 100%),
65: hsla(104, 64%, 65%, 100%),
66: hsla(104, 64%, 66%, 100%),
67: hsla(104, 64%, 67%, 100%),
68: hsla(104, 64%, 68%, 100%),
69: hsla(104, 64%, 69%, 100%),
70: hsla(104, 64%, 70%, 100%),
71: hsla(104, 64%, 71%, 100%),
72: hsla(104, 64%, 72%, 100%),
73: hsla(104, 64%, 73%, 100%),
74: hsla(104, 64%, 74%, 100%),
75: hsla(104, 64%, 75%, 100%),
76: hsla(104, 64%, 76%, 100%),
77: hsla(104, 64%, 77%, 100%),
78: hsla(104, 64%, 78%, 100%),
79: hsla(104, 64%, 79%, 100%),
80: hsla(104, 64%, 80%, 100%),
81: hsla(104, 64%, 81%, 100%),
82: hsla(104, 64%, 82%, 100%),
83: hsla(104, 64%, 83%, 100%),
84: hsla(104, 64%, 84%, 100%),
85: hsla(104, 64%, 85%, 100%),
86: hsla(104, 64%, 86%, 100%),
87: hsla(104, 64%, 87%, 100%),
88: hsla(104, 64%, 88%, 100%),
89: hsla(104, 64%, 89%, 100%),
90: hsla(104, 64%, 90%, 100%),
91: hsla(104, 64%, 91%, 100%),
92: hsla(104, 64%, 92%, 100%),
93: hsla(104, 64%, 93%, 100%),
94: hsla(104, 64%, 94%, 100%),
95: hsla(104, 64%, 95%, 100%),
96: hsla(104, 64%, 96%, 100%),
97: hsla(104, 64%, 97%, 100%),
98: hsla(104, 64%, 98%, 100%),
99: hsla(104, 64%, 99%, 100%),
100: hsla(104, 64%, 100%, 100%),
A16: rgba(7, 97, 50, 0.16),
A32: rgba(7, 97, 50, 0.32),

);

$light-color-scheme-warning-palette: (
0: hsla(38, 100%, 1%, 100%),
1: hsla(38, 100%, 2%, 100%),
2: hsla(38, 100%, 3%, 100%),
3: hsla(38, 100%, 4%, 100%),
4: hsla(38, 100%, 5%, 100%),
5: hsla(38, 100%, 6%, 100%),
6: hsla(38, 100%, 7%, 100%),
7: hsla(38, 100%, 8%, 100%),
8: hsla(38, 100%, 9%, 100%),
9: hsla(38, 100%, 10%, 100%),
10: hsla(38, 100%, 11%, 100%),
11: hsla(38, 100%, 12%, 100%),
12: hsla(38, 100%, 13%, 100%),
13: hsla(38, 100%, 14%, 100%),
14: hsla(38, 100%, 15%, 100%),
15: hsla(38, 100%, 16%, 100%),
16: hsla(38, 100%, 17%, 100%),
17: hsla(38, 100%, 18%, 100%),
18: hsla(38, 100%, 19%, 100%),
19: hsla(38, 100%, 20%, 100%),
20: hsla(38, 100%, 21%, 100%),
21: hsla(38, 100%, 22%, 100%),
22: hsla(38, 100%, 23%, 100%),
23: hsla(38, 100%, 24%, 100%),
24: hsla(38, 100%, 25%, 100%),
25: hsla(38, 100%, 26%, 100%),
26: hsla(38, 100%, 27%, 100%),
27: hsla(38, 100%, 28%, 100%),
28: hsla(38, 100%, 29%, 100%),
29: hsla(38, 100%, 30%, 100%),
30: hsla(38, 100%, 31%, 100%),
31: hsla(38, 100%, 32%, 100%),
32: hsla(38, 100%, 33%, 100%),
33: hsla(38, 100%, 34%, 100%),
34: hsla(38, 100%, 35%, 100%),
35: hsla(38, 100%, 36%, 100%),
36: hsla(38, 100%, 37%, 100%),
37: hsla(38, 100%, 38%, 100%),
38: hsla(38, 100%, 39%, 100%),
39: hsla(38, 100%, 40%, 100%),
40: hsla(38, 100%, 41%, 100%),
41: hsla(38, 100%, 42%, 100%),
42: hsla(38, 100%, 43%, 100%),
43: hsla(38, 100%, 44%, 100%),
44: hsla(38, 100%, 45%, 100%),
45: hsla(38, 100%, 46%, 100%),
46: hsla(38, 100%, 47%, 100%),
47: hsla(38, 100%, 48%, 100%),
48: hsla(38, 100%, 49%, 100%),
49: hsla(38, 100%, 50%, 100%),
50: hsla(38, 100%, 51%, 100%),
51: hsla(38, 100%, 52%, 100%),
52: hsla(38, 100%, 53%, 100%),
53: hsla(38, 100%, 54%, 100%),
54: hsla(38, 100%, 55%, 100%),
55: hsla(38, 100%, 56%, 100%),
56: hsla(38, 100%, 57%, 100%),
57: hsla(38, 100%, 58%, 100%),
58: hsla(38, 100%, 59%, 100%),
59: hsla(38, 100%, 60%, 100%),
60: hsla(38, 100%, 61%, 100%),
61: hsla(38, 100%, 62%, 100%),
62: hsla(38, 100%, 63%, 100%),
63: hsla(38, 100%, 64%, 100%),
64: hsla(38, 100%, 65%, 100%),
65: hsla(38, 100%, 66%, 100%),
66: hsla(38, 100%, 67%, 100%),
67: hsla(38, 100%, 68%, 100%),
68: hsla(38, 100%, 69%, 100%),
69: hsla(38, 100%, 70%, 100%),
70: hsla(38, 100%, 71%, 100%),
71: hsla(38, 100%, 72%, 100%),
72: hsla(38, 100%, 73%, 100%),
73: hsla(38, 100%, 74%, 100%),
74: hsla(38, 100%, 75%, 100%),
75: hsla(38, 100%, 76%, 100%),
76: hsla(38, 100%, 77%, 100%),
77: hsla(38, 100%, 78%, 100%),
78: hsla(38, 100%, 79%, 100%),
79: hsla(38, 100%, 80%, 100%),
80: hsla(38, 100%, 81%, 100%),
81: hsla(38, 100%, 82%, 100%),
82: hsla(38, 100%, 83%, 100%),
83: hsla(38, 100%, 84%, 100%),
84: hsla(38, 100%, 85%, 100%),
85: hsla(38, 100%, 86%, 100%),
86: hsla(38, 100%, 87%, 100%),
87: hsla(38, 100%, 88%, 100%),
88: hsla(38, 100%, 89%, 100%),
89: hsla(38, 100%, 90%, 100%),
90: hsla(38, 100%, 91%, 100%),
91: hsla(38, 100%, 92%, 100%),
92: hsla(38, 100%, 93%, 100%),
93: hsla(38, 100%, 94%, 100%),
94: hsla(38, 100%, 95%, 100%),
95: hsla(38, 100%, 96%, 100%),
96: hsla(38, 100%, 97%, 100%),
97: hsla(38, 100%, 98%, 100%),
98: hsla(38, 100%, 99%, 100%),
99: hsla(38, 100%, 100%, 100%),
100: hsla(38, 100%, 100%, 100%),
A16: rgba(245, 155, 0, 0.16),
A32: rgba(245, 155, 0, 0.32),

);

$light-color-scheme-error-palette: (
0: hsla(7, 97%, 0%, 100%),
1: hsla(7, 97%, 1%, 100%),
2: hsla(7, 97%, 2%, 100%),
3: hsla(7, 97%, 3%, 100%),
4: hsla(7, 97%, 4%, 100%),
5: hsla(7, 97%, 5%, 100%),
6: hsla(7, 97%, 6%, 100%),
7: hsla(7, 97%, 7%, 100%),
8: hsla(7, 97%, 8%, 100%),
9: hsla(7, 97%, 9%, 100%),
10: hsla(7, 97%, 10%, 100%),
11: hsla(7, 97%, 11%, 100%),
12: hsla(7, 97%, 12%, 100%),
13: hsla(7, 97%, 13%, 100%),
14: hsla(7, 97%, 14%, 100%),
15: hsla(7, 97%, 15%, 100%),
16: hsla(7, 97%, 16%, 100%),
17: hsla(7, 97%, 17%, 100%),
18: hsla(7, 97%, 18%, 100%),
19: hsla(7, 97%, 19%, 100%),
20: hsla(7, 97%, 20%, 100%),
21: hsla(7, 97%, 21%, 100%),
22: hsla(7, 97%, 22%, 100%),
23: hsla(7, 97%, 23%, 100%),
24: hsla(7, 97%, 24%, 100%),
25: hsla(7, 97%, 25%, 100%),
26: hsla(7, 97%, 26%, 100%),
27: hsla(7, 97%, 27%, 100%),
28: hsla(7, 97%, 28%, 100%),
29: hsla(7, 97%, 29%, 100%),
30: hsla(7, 97%, 30%, 100%),
31: hsla(7, 97%, 31%, 100%),
32: hsla(7, 97%, 32%, 100%),
33: hsla(7, 97%, 33%, 100%),
34: hsla(7, 97%, 34%, 100%),
35: hsla(7, 97%, 35%, 100%),
36: hsla(7, 97%, 36%, 100%),
37: hsla(7, 97%, 37%, 100%),
38: hsla(7, 97%, 38%, 100%),
39: hsla(7, 97%, 39%, 100%),
40: hsla(7, 97%, 40%, 100%),
41: hsla(7, 97%, 41%, 100%),
42: hsla(7, 97%, 42%, 100%),
43: hsla(7, 97%, 43%, 100%),
44: hsla(7, 97%, 44%, 100%),
45: hsla(7, 97%, 45%, 100%),
46: hsla(7, 97%, 46%, 100%),
47: hsla(7, 97%, 47%, 100%),
48: hsla(7, 97%, 48%, 100%),
49: hsla(7, 97%, 49%, 100%),
50: hsla(7, 97%, 50%, 100%),
51: hsla(7, 97%, 51%, 100%),
52: hsla(7, 97%, 52%, 100%),
53: hsla(7, 97%, 53%, 100%),
54: hsla(7, 97%, 54%, 100%),
55: hsla(7, 97%, 55%, 100%),
56: hsla(7, 97%, 56%, 100%),
57: hsla(7, 97%, 57%, 100%),
58: hsla(7, 97%, 58%, 100%),
59: hsla(7, 97%, 59%, 100%),
60: hsla(7, 97%, 60%, 100%),
61: hsla(7, 97%, 61%, 100%),
62: hsla(7, 97%, 62%, 100%),
63: hsla(7, 97%, 63%, 100%),
64: hsla(7, 97%, 64%, 100%),
65: hsla(7, 97%, 65%, 100%),
66: hsla(7, 97%, 66%, 100%),
67: hsla(7, 97%, 67%, 100%),
68: hsla(7, 97%, 68%, 100%),
69: hsla(7, 97%, 69%, 100%),
70: hsla(7, 97%, 70%, 100%),
71: hsla(7, 97%, 71%, 100%),
72: hsla(7, 97%, 72%, 100%),
73: hsla(7, 97%, 73%, 100%),
74: hsla(7, 97%, 74%, 100%),
75: hsla(7, 97%, 75%, 100%),
76: hsla(7, 97%, 76%, 100%),
77: hsla(7, 97%, 77%, 100%),
78: hsla(7, 97%, 78%, 100%),
79: hsla(7, 97%, 79%, 100%),
80: hsla(7, 97%, 80%, 100%),
81: hsla(7, 97%, 81%, 100%),
82: hsla(7, 97%, 82%, 100%),
83: hsla(7, 97%, 83%, 100%),
84: hsla(7, 97%, 84%, 100%),
85: hsla(7, 97%, 85%, 100%),
86: hsla(7, 97%, 86%, 100%),
87: hsla(7, 97%, 87%, 100%),
88: hsla(7, 97%, 88%, 100%),
89: hsla(7, 97%, 89%, 100%),
90: hsla(7, 97%, 90%, 100%),
91: hsla(7, 97%, 91%, 100%),
92: hsla(7, 97%, 92%, 100%),
93: hsla(7, 97%, 93%, 100%),
94: hsla(7, 97%, 94%, 100%),
95: hsla(7, 97%, 95%, 100%),
96: hsla(7, 97%, 96%, 100%),
97: hsla(7, 97%, 97%, 100%),
98: hsla(7, 97%, 98%, 100%),
99: hsla(7, 97%, 99%, 100%),
100: hsla(7, 97%, 100%, 100%),
A8: hsla(7, 97%, 5%, 8%),
A8L50: hsla(7, 97%, 50%, 8%),
A16: hsla(7, 97%, 5%, 16%),
A16L50: hsla(7, 97%, 50%, 16%),
A24: rgba(240, 10, 25, 0.24),
A32: rgba(240, 10, 25, 0.32),
A48: rgba(240, 10, 25, 0.48),

);

$light-color-scheme-contrast-palette: (
0: hsla(229, 15%, 0%, 100%),
1: hsla(229, 15%, 1%, 100%),
2: hsla(229, 15%, 2%, 100%),
3: hsla(229, 15%, 3%, 100%),
4: hsla(229, 15%, 4%, 100%),
5: hsla(229, 15%, 5%, 100%),
6: hsla(229, 15%, 6%, 100%),
7: hsla(229, 15%, 7%, 100%),
8: hsla(229, 15%, 8%, 100%),
9: hsla(229, 15%, 9%, 100%),
10: hsla(229, 15%, 10%, 100%),
11: hsla(229, 15%, 11%, 100%),
12: hsla(229, 15%, 12%, 100%),
13: hsla(229, 15%, 13%, 100%),
14: hsla(229, 15%, 14%, 100%),
15: hsla(229, 15%, 15%, 100%),
16: hsla(229, 15%, 16%, 100%),
17: hsla(229, 15%, 17%, 100%),
18: hsla(229, 15%, 18%, 100%),
19: hsla(229, 15%, 19%, 100%),
20: hsla(229, 15%, 20%, 100%),
21: hsla(229, 15%, 21%, 100%),
22: hsla(229, 15%, 22%, 100%),
23: hsla(229, 15%, 23%, 100%),
24: hsla(229, 15%, 24%, 100%),
25: hsla(229, 15%, 25%, 100%),
26: hsla(229, 15%, 26%, 100%),
27: hsla(229, 15%, 27%, 100%),
28: hsla(229, 15%, 28%, 100%),
29: hsla(229, 15%, 29%, 100%),
30: hsla(229, 15%, 30%, 100%),
31: hsla(229, 15%, 31%, 100%),
32: hsla(229, 15%, 32%, 100%),
33: hsla(229, 15%, 33%, 100%),
34: hsla(229, 15%, 34%, 100%),
35: hsla(229, 15%, 35%, 100%),
36: hsla(229, 15%, 36%, 100%),
37: hsla(229, 15%, 37%, 100%),
38: hsla(229, 15%, 38%, 100%),
39: hsla(229, 15%, 39%, 100%),
40: hsla(229, 15%, 40%, 100%),
41: hsla(229, 15%, 41%, 100%),
42: hsla(229, 15%, 42%, 100%),
43: hsla(229, 15%, 43%, 100%),
44: hsla(229, 15%, 44%, 100%),
45: hsla(229, 15%, 45%, 100%),
46: hsla(229, 15%, 46%, 100%),
47: hsla(229, 15%, 47%, 100%),
48: hsla(229, 15%, 48%, 100%),
49: hsla(229, 15%, 49%, 100%),
50: hsla(229, 15%, 50%, 100%),
51: hsla(229, 15%, 51%, 100%),
52: hsla(229, 15%, 52%, 100%),
53: hsla(229, 15%, 53%, 100%),
54: hsla(229, 15%, 54%, 100%),
55: hsla(229, 15%, 55%, 100%),
56: hsla(229, 15%, 56%, 100%),
57: hsla(229, 15%, 57%, 100%),
58: hsla(229, 15%, 58%, 100%),
59: hsla(229, 15%, 59%, 100%),
60: hsla(229, 15%, 60%, 100%),
61: hsla(229, 15%, 61%, 100%),
62: hsla(229, 15%, 62%, 100%),
63: hsla(229, 15%, 63%, 100%),
64: hsla(229, 15%, 64%, 100%),
65: hsla(229, 15%, 65%, 100%),
66: hsla(229, 15%, 66%, 100%),
67: hsla(229, 15%, 67%, 100%),
68: hsla(229, 15%, 68%, 100%),
69: hsla(229, 15%, 69%, 100%),
70: hsla(229, 15%, 70%, 100%),
71: hsla(229, 15%, 71%, 100%),
72: hsla(229, 15%, 72%, 100%),
73: hsla(229, 15%, 73%, 100%),
74: hsla(229, 15%, 74%, 100%),
75: hsla(229, 15%, 75%, 100%),
76: hsla(229, 15%, 76%, 100%),
77: hsla(229, 15%, 77%, 100%),
78: hsla(229, 15%, 78%, 100%),
79: hsla(229, 15%, 79%, 100%),
80: hsla(229, 15%, 80%, 100%),
81: hsla(229, 15%, 81%, 100%),
82: hsla(229, 15%, 82%, 100%),
83: hsla(229, 15%, 83%, 100%),
84: hsla(229, 15%, 84%, 100%),
85: hsla(229, 15%, 85%, 100%),
86: hsla(229, 15%, 86%, 100%),
87: hsla(229, 15%, 87%, 100%),
88: hsla(229, 15%, 88%, 100%),
89: hsla(229, 15%, 89%, 100%),
90: hsla(229, 15%, 90%, 100%),
91: hsla(229, 15%, 91%, 100%),
92: hsla(229, 15%, 92%, 100%),
93: hsla(229, 15%, 93%, 100%),
94: hsla(229, 15%, 94%, 100%),
95: hsla(229, 15%, 95%, 100%),
96: hsla(229, 15%, 96%, 100%),
97: hsla(229, 15%, 97%, 100%),
98: hsla(229, 15%, 98%, 100%),
99: hsla(229, 15%, 99%, 100%),
100: hsla(229, 15%, 100%, 100%),
A8: hsla(229, 15%, 50%, 8%),
A16: hsla(229, 15%, 50%, 16%),
A24: hsla(229, 15%, 6%, 24%),
A32: hsla(229, 15%, 20%, 32%),
A32L50: hsla(229, 15%, 50%, 32%),
A48: hsla(229, 15%, 50%, 48%),
A64L6: hsla(229, 15%, 6%, 64%),
A88: hsla(229, 15%, 99%, 88%),
A88L6: hsla(229, 15%, 6%, 88%),

);

$light-color-scheme-white-palette: (
default: hsla(0, 0%, 100%, 100%),
A72: hsla(0, 0%, 100%, 72%),

);

$light-color-scheme-black-palette: (
default: hsla(0, 0%, 0%, 100%),
A50: rgba(0, 0, 0, 0.50),

);

$light-color-scheme-brand-palette: (
0: hsla(7, 97%, 0%, 100%),
1: hsla(7, 97%, 1%, 100%),
2: hsla(7, 97%, 2%, 100%),
3: hsla(7, 97%, 3%, 100%),
4: hsla(7, 97%, 4%, 100%),
5: hsla(7, 97%, 5%, 100%),
6: hsla(7, 97%, 6%, 100%),
7: hsla(7, 97%, 7%, 100%),
8: hsla(7, 97%, 8%, 100%),
9: hsla(7, 97%, 9%, 100%),
10: hsla(7, 97%, 10%, 100%),
11: hsla(7, 97%, 11%, 100%),
12: hsla(7, 97%, 12%, 100%),
13: hsla(7, 97%, 13%, 100%),
14: hsla(7, 97%, 14%, 100%),
15: hsla(7, 97%, 15%, 100%),
16: hsla(7, 97%, 16%, 100%),
17: hsla(7, 97%, 17%, 100%),
18: hsla(7, 97%, 18%, 100%),
19: hsla(7, 97%, 19%, 100%),
20: hsla(7, 97%, 20%, 100%),
21: hsla(7, 97%, 21%, 100%),
22: hsla(7, 97%, 22%, 100%),
23: hsla(7, 97%, 23%, 100%),
24: hsla(7, 97%, 24%, 100%),
25: hsla(7, 97%, 25%, 100%),
26: hsla(7, 97%, 26%, 100%),
27: hsla(7, 97%, 27%, 100%),
28: hsla(7, 97%, 28%, 100%),
29: hsla(7, 97%, 29%, 100%),
30: hsla(7, 97%, 30%, 100%),
31: hsla(7, 97%, 31%, 100%),
32: hsla(7, 97%, 32%, 100%),
33: hsla(7, 97%, 33%, 100%),
34: hsla(7, 97%, 34%, 100%),
35: hsla(7, 97%, 35%, 100%),
36: hsla(7, 97%, 36%, 100%),
37: hsla(7, 97%, 37%, 100%),
38: hsla(7, 97%, 38%, 100%),
39: hsla(7, 97%, 39%, 100%),
40: hsla(7, 97%, 40%, 100%),
41: hsla(7, 97%, 41%, 100%),
42: hsla(7, 97%, 42%, 100%),
43: hsla(7, 97%, 43%, 100%),
44: hsla(7, 97%, 44%, 100%),
45: hsla(7, 97%, 45%, 100%),
46: hsla(7, 97%, 46%, 100%),
47: hsla(7, 97%, 47%, 100%),
48: hsla(7, 97%, 48%, 100%),
49: hsla(7, 97%, 49%, 100%),
50: hsla(7, 97%, 50%, 100%),
51: hsla(7, 97%, 51%, 100%),
52: hsla(7, 97%, 52%, 100%),
53: hsla(7, 97%, 53%, 100%),
54: hsla(7, 97%, 54%, 100%),
55: hsla(7, 97%, 55%, 100%),
56: hsla(7, 97%, 56%, 100%),
57: hsla(7, 97%, 57%, 100%),
58: hsla(7, 97%, 58%, 100%),
59: hsla(7, 97%, 59%, 100%),
60: hsla(7, 97%, 60%, 100%),
61: hsla(7, 97%, 61%, 100%),
62: hsla(7, 97%, 62%, 100%),
63: hsla(7, 97%, 63%, 100%),
64: hsla(7, 97%, 64%, 100%),
65: hsla(7, 97%, 65%, 100%),
66: hsla(7, 97%, 66%, 100%),
67: hsla(7, 97%, 67%, 100%),
68: hsla(7, 97%, 68%, 100%),
69: hsla(7, 97%, 69%, 100%),
70: hsla(7, 97%, 70%, 100%),
71: hsla(7, 97%, 71%, 100%),
72: hsla(7, 97%, 72%, 100%),
73: hsla(7, 97%, 73%, 100%),
74: hsla(7, 97%, 74%, 100%),
75: hsla(7, 97%, 75%, 100%),
76: hsla(7, 97%, 76%, 100%),
77: hsla(7, 97%, 77%, 100%),
78: hsla(7, 97%, 78%, 100%),
79: hsla(7, 97%, 79%, 100%),
80: hsla(7, 97%, 80%, 100%),
81: hsla(7, 97%, 81%, 100%),
82: hsla(7, 97%, 82%, 100%),
83: hsla(7, 97%, 83%, 100%),
84: hsla(7, 97%, 84%, 100%),
85: hsla(7, 97%, 85%, 100%),
86: hsla(7, 97%, 86%, 100%),
87: hsla(7, 97%, 87%, 100%),
88: hsla(7, 97%, 88%, 100%),
89: hsla(7, 97%, 89%, 100%),
90: hsla(7, 97%, 90%, 100%),
91: hsla(7, 97%, 91%, 100%),
92: hsla(7, 97%, 92%, 100%),
93: hsla(7, 97%, 93%, 100%),
94: hsla(7, 97%, 94%, 100%),
95: hsla(7, 97%, 95%, 100%),
96: hsla(7, 97%, 96%, 100%),
97: hsla(7, 97%, 97%, 100%),
98: hsla(7, 97%, 98%, 100%),
99: hsla(7, 97%, 99%, 100%),
100: hsla(7, 97%, 100%, 100%),
A8: hsla(7, 97%, 5%, 8%),
A8L50: hsla(7, 97%, 50%, 8%),
A16: hsla(7, 97%, 5%, 16%),
A16L50: hsla(7, 97%, 50%, 16%),
A24: rgba(240, 10, 25, 0.24),
A32: rgba(240, 10, 25, 0.32),
A48: rgba(240, 10, 25, 0.48),

);

$light-color-scheme-purple-palette: (
0: hsla(277, 72%, 0%, 100%),
1: hsla(277, 72%, 1%, 100%),
2: hsla(277, 72%, 2%, 100%),
3: hsla(277, 72%, 3%, 100%),
4: hsla(277, 72%, 4%, 100%),
5: hsla(277, 72%, 5%, 100%),
6: hsla(277, 72%, 6%, 100%),
7: hsla(277, 72%, 7%, 100%),
8: hsla(277, 72%, 8%, 100%),
9: hsla(277, 72%, 9%, 100%),
10: hsla(277, 72%, 10%, 100%),
11: hsla(277, 72%, 11%, 100%),
12: hsla(277, 72%, 12%, 100%),
13: hsla(277, 72%, 13%, 100%),
14: hsla(277, 72%, 14%, 100%),
15: hsla(277, 72%, 15%, 100%),
16: hsla(277, 72%, 16%, 100%),
17: hsla(277, 72%, 17%, 100%),
18: hsla(277, 72%, 18%, 100%),
19: hsla(277, 72%, 19%, 100%),
20: hsla(277, 72%, 20%, 100%),
21: hsla(277, 72%, 21%, 100%),
22: hsla(277, 72%, 22%, 100%),
23: hsla(277, 72%, 23%, 100%),
24: hsla(277, 72%, 24%, 100%),
25: hsla(277, 72%, 25%, 100%),
26: hsla(277, 72%, 26%, 100%),
27: hsla(277, 72%, 27%, 100%),
28: hsla(277, 72%, 28%, 100%),
29: hsla(277, 72%, 29%, 100%),
30: hsla(277, 72%, 30%, 100%),
31: hsla(277, 72%, 31%, 100%),
32: hsla(277, 72%, 32%, 100%),
33: hsla(277, 72%, 33%, 100%),
34: hsla(277, 72%, 34%, 100%),
35: hsla(277, 72%, 35%, 100%),
36: hsla(277, 72%, 36%, 100%),
37: hsla(277, 72%, 37%, 100%),
38: hsla(277, 72%, 38%, 100%),
39: hsla(277, 72%, 39%, 100%),
40: hsla(277, 72%, 40%, 100%),
41: hsla(277, 72%, 41%, 100%),
42: hsla(277, 72%, 42%, 100%),
43: hsla(277, 72%, 43%, 100%),
44: hsla(277, 72%, 44%, 100%),
45: hsla(277, 72%, 45%, 100%),
46: hsla(277, 72%, 46%, 100%),
47: hsla(277, 72%, 47%, 100%),
48: hsla(277, 72%, 48%, 100%),
49: hsla(277, 72%, 49%, 100%),
50: hsla(277, 72%, 50%, 100%),
51: hsla(277, 72%, 51%, 100%),
52: hsla(277, 72%, 52%, 100%),
53: hsla(277, 72%, 53%, 100%),
54: hsla(277, 72%, 54%, 100%),
55: hsla(277, 72%, 55%, 100%),
56: hsla(277, 72%, 56%, 100%),
57: hsla(277, 72%, 57%, 100%),
58: hsla(277, 72%, 58%, 100%),
59: hsla(277, 72%, 59%, 100%),
60: hsla(277, 72%, 60%, 100%),
61: hsla(277, 72%, 61%, 100%),
62: hsla(277, 72%, 62%, 100%),
63: hsla(277, 72%, 63%, 100%),
64: hsla(277, 72%, 64%, 100%),
65: hsla(277, 72%, 65%, 100%),
66: hsla(277, 72%, 66%, 100%),
67: hsla(277, 72%, 67%, 100%),
68: hsla(277, 72%, 68%, 100%),
69: hsla(277, 72%, 69%, 100%),
70: hsla(277, 72%, 70%, 100%),
71: hsla(277, 72%, 71%, 100%),
72: hsla(277, 72%, 72%, 100%),
73: hsla(277, 72%, 73%, 100%),
74: hsla(277, 72%, 74%, 100%),
75: hsla(277, 72%, 75%, 100%),
76: hsla(277, 72%, 76%, 100%),
77: hsla(277, 72%, 77%, 100%),
78: hsla(277, 72%, 78%, 100%),
79: hsla(277, 72%, 79%, 100%),
80: hsla(277, 72%, 80%, 100%),
81: hsla(277, 72%, 81%, 100%),
82: hsla(277, 72%, 82%, 100%),
83: hsla(277, 72%, 83%, 100%),
84: hsla(277, 72%, 84%, 100%),
85: hsla(277, 72%, 85%, 100%),
86: hsla(277, 72%, 86%, 100%),
87: hsla(277, 72%, 87%, 100%),
88: hsla(277, 72%, 88%, 100%),
89: hsla(277, 72%, 89%, 100%),
90: hsla(277, 72%, 90%, 100%),
91: hsla(277, 72%, 91%, 100%),
92: hsla(277, 72%, 92%, 100%),
93: hsla(277, 72%, 93%, 100%),
94: hsla(277, 72%, 94%, 100%),
95: hsla(277, 72%, 95%, 100%),
96: hsla(277, 72%, 96%, 100%),
97: hsla(277, 72%, 97%, 100%),
98: hsla(277, 72%, 98%, 100%),
99: hsla(277, 72%, 99%, 100%),
100: hsla(277, 72%, 100%, 100%),
A16: rgba(149, 36, 219, 0.16),
A32: rgba(149, 36, 219, 0.32),

);

$light-color-scheme-secondary-palette: (
0: hsla(229, 15%, 0%, 100%),
1: hsla(229, 15%, 1%, 100%),
2: hsla(229, 15%, 2%, 100%),
3: hsla(229, 15%, 3%, 100%),
4: hsla(229, 15%, 4%, 100%),
5: hsla(229, 15%, 5%, 100%),
6: hsla(229, 15%, 6%, 100%),
7: hsla(229, 15%, 7%, 100%),
8: hsla(229, 15%, 8%, 100%),
9: hsla(229, 15%, 9%, 100%),
10: hsla(229, 15%, 10%, 100%),
11: hsla(229, 15%, 11%, 100%),
12: hsla(229, 15%, 12%, 100%),
13: hsla(229, 15%, 13%, 100%),
14: hsla(229, 15%, 14%, 100%),
15: hsla(229, 15%, 15%, 100%),
16: hsla(229, 15%, 16%, 100%),
17: hsla(229, 15%, 17%, 100%),
18: hsla(229, 15%, 18%, 100%),
19: hsla(229, 15%, 19%, 100%),
20: hsla(229, 15%, 20%, 100%),
21: hsla(229, 15%, 21%, 100%),
22: hsla(229, 15%, 22%, 100%),
23: hsla(229, 15%, 23%, 100%),
24: hsla(229, 15%, 24%, 100%),
25: hsla(229, 15%, 25%, 100%),
26: hsla(229, 15%, 26%, 100%),
27: hsla(229, 15%, 27%, 100%),
28: hsla(229, 15%, 28%, 100%),
29: hsla(229, 15%, 29%, 100%),
30: hsla(229, 15%, 30%, 100%),
31: hsla(229, 15%, 31%, 100%),
32: hsla(229, 15%, 32%, 100%),
33: hsla(229, 15%, 33%, 100%),
34: hsla(229, 15%, 34%, 100%),
35: hsla(229, 15%, 35%, 100%),
36: hsla(229, 15%, 36%, 100%),
37: hsla(229, 15%, 37%, 100%),
38: hsla(229, 15%, 38%, 100%),
39: hsla(229, 15%, 39%, 100%),
40: hsla(229, 15%, 40%, 100%),
41: hsla(229, 15%, 41%, 100%),
42: hsla(229, 15%, 42%, 100%),
43: hsla(229, 15%, 43%, 100%),
44: hsla(229, 15%, 44%, 100%),
45: hsla(229, 15%, 45%, 100%),
46: hsla(229, 15%, 46%, 100%),
47: hsla(229, 15%, 47%, 100%),
48: hsla(229, 15%, 48%, 100%),
49: hsla(229, 15%, 49%, 100%),
50: hsla(229, 15%, 50%, 100%),
51: hsla(229, 15%, 51%, 100%),
52: hsla(229, 15%, 52%, 100%),
53: hsla(229, 15%, 53%, 100%),
54: hsla(229, 15%, 54%, 100%),
55: hsla(229, 15%, 55%, 100%),
56: hsla(229, 15%, 56%, 100%),
57: hsla(229, 15%, 57%, 100%),
58: hsla(229, 15%, 58%, 100%),
59: hsla(229, 15%, 59%, 100%),
60: hsla(229, 15%, 60%, 100%),
61: hsla(229, 15%, 61%, 100%),
62: hsla(229, 15%, 62%, 100%),
63: hsla(229, 15%, 63%, 100%),
64: hsla(229, 15%, 64%, 100%),
65: hsla(229, 15%, 65%, 100%),
66: hsla(229, 15%, 66%, 100%),
67: hsla(229, 15%, 67%, 100%),
68: hsla(229, 15%, 68%, 100%),
69: hsla(229, 15%, 69%, 100%),
70: hsla(229, 15%, 70%, 100%),
71: hsla(229, 15%, 71%, 100%),
72: hsla(229, 15%, 72%, 100%),
73: hsla(229, 15%, 73%, 100%),
74: hsla(229, 15%, 74%, 100%),
75: hsla(229, 15%, 75%, 100%),
76: hsla(229, 15%, 76%, 100%),
77: hsla(229, 15%, 77%, 100%),
78: hsla(229, 15%, 78%, 100%),
79: hsla(229, 15%, 79%, 100%),
80: hsla(229, 15%, 80%, 100%),
81: hsla(229, 15%, 81%, 100%),
82: hsla(229, 15%, 82%, 100%),
83: hsla(229, 15%, 83%, 100%),
84: hsla(229, 15%, 84%, 100%),
85: hsla(229, 15%, 85%, 100%),
86: hsla(229, 15%, 86%, 100%),
87: hsla(229, 15%, 87%, 100%),
88: hsla(229, 15%, 88%, 100%),
89: hsla(229, 15%, 89%, 100%),
90: hsla(229, 15%, 90%, 100%),
91: hsla(229, 15%, 91%, 100%),
92: hsla(229, 15%, 92%, 100%),
93: hsla(229, 15%, 93%, 100%),
94: hsla(229, 15%, 94%, 100%),
95: hsla(229, 15%, 95%, 100%),
96: hsla(229, 15%, 96%, 100%),
97: hsla(229, 15%, 97%, 100%),
98: hsla(229, 15%, 98%, 100%),
99: hsla(229, 15%, 99%, 100%),
100: hsla(229, 15%, 100%, 100%),
A8: hsla(229, 15%, 50%, 8%),
A16: hsla(229, 15%, 50%, 16%),
A24: hsla(229, 15%, 6%, 24%),
A32: hsla(229, 15%, 20%, 32%),
A32L50: hsla(229, 15%, 50%, 32%),
A48: hsla(229, 15%, 50%, 48%),
A64L6: hsla(229, 15%, 6%, 64%),
A88: hsla(229, 15%, 99%, 88%),
A88L6: hsla(229, 15%, 6%, 88%),

);

$light-color-scheme-info-palette: (
0: hsla(180, 55%, 0%, 100%),
1: hsla(180, 55%, 1%, 100%),
2: hsla(180, 55%, 2%, 100%),
3: hsla(180, 55%, 3%, 100%),
4: hsla(180, 55%, 4%, 100%),
5: hsla(180, 55%, 5%, 100%),
6: hsla(180, 55%, 6%, 100%),
7: hsla(180, 55%, 7%, 100%),
8: hsla(180, 55%, 8%, 100%),
9: hsla(180, 55%, 9%, 100%),
10: hsla(180, 55%, 10%, 100%),
11: hsla(180, 55%, 11%, 100%),
12: hsla(180, 55%, 12%, 100%),
13: hsla(180, 55%, 13%, 100%),
14: hsla(180, 55%, 14%, 100%),
15: hsla(180, 55%, 15%, 100%),
16: hsla(180, 55%, 16%, 100%),
17: hsla(180, 55%, 17%, 100%),
18: hsla(180, 55%, 18%, 100%),
19: hsla(180, 55%, 19%, 100%),
20: hsla(180, 55%, 20%, 100%),
21: hsla(180, 55%, 21%, 100%),
22: hsla(180, 55%, 22%, 100%),
23: hsla(180, 55%, 23%, 100%),
24: hsla(180, 55%, 24%, 100%),
25: hsla(180, 55%, 25%, 100%),
26: hsla(180, 55%, 26%, 100%),
27: hsla(180, 55%, 27%, 100%),
28: hsla(180, 55%, 28%, 100%),
29: hsla(180, 55%, 29%, 100%),
30: hsla(180, 55%, 30%, 100%),
31: hsla(180, 55%, 31%, 100%),
32: hsla(180, 55%, 32%, 100%),
33: hsla(180, 55%, 33%, 100%),
34: hsla(180, 55%, 34%, 100%),
35: hsla(180, 55%, 35%, 100%),
36: hsla(180, 55%, 36%, 100%),
37: hsla(180, 55%, 37%, 100%),
38: hsla(180, 55%, 38%, 100%),
39: hsla(180, 55%, 39%, 100%),
40: hsla(180, 55%, 40%, 100%),
41: hsla(180, 55%, 41%, 100%),
42: hsla(180, 55%, 42%, 100%),
43: hsla(180, 55%, 43%, 100%),
44: hsla(180, 55%, 44%, 100%),
45: hsla(180, 55%, 45%, 100%),
46: hsla(180, 55%, 46%, 100%),
47: hsla(180, 55%, 47%, 100%),
48: hsla(180, 55%, 48%, 100%),
49: hsla(180, 55%, 49%, 100%),
50: hsla(180, 55%, 50%, 100%),
51: hsla(180, 55%, 51%, 100%),
52: hsla(180, 55%, 52%, 100%),
53: hsla(180, 55%, 53%, 100%),
54: hsla(180, 55%, 54%, 100%),
55: hsla(180, 55%, 55%, 100%),
56: hsla(180, 55%, 56%, 100%),
57: hsla(180, 55%, 57%, 100%),
58: hsla(180, 55%, 58%, 100%),
59: hsla(180, 55%, 59%, 100%),
60: hsla(180, 55%, 60%, 100%),
61: hsla(180, 55%, 61%, 100%),
62: hsla(180, 55%, 62%, 100%),
63: hsla(180, 55%, 63%, 100%),
64: hsla(180, 55%, 64%, 100%),
65: hsla(180, 55%, 65%, 100%),
66: hsla(180, 55%, 66%, 100%),
67: hsla(180, 55%, 67%, 100%),
68: hsla(180, 55%, 68%, 100%),
69: hsla(180, 55%, 69%, 100%),
70: hsla(180, 55%, 70%, 100%),
71: hsla(180, 55%, 71%, 100%),
72: hsla(180, 55%, 72%, 100%),
73: hsla(180, 55%, 73%, 100%),
74: hsla(180, 55%, 74%, 100%),
75: hsla(180, 55%, 75%, 100%),
76: hsla(180, 55%, 76%, 100%),
77: hsla(180, 55%, 77%, 100%),
78: hsla(180, 55%, 78%, 100%),
79: hsla(180, 55%, 79%, 100%),
80: hsla(180, 55%, 80%, 100%),
81: hsla(180, 55%, 81%, 100%),
82: hsla(180, 55%, 82%, 100%),
83: hsla(180, 55%, 83%, 100%),
84: hsla(180, 55%, 84%, 100%),
85: hsla(180, 55%, 85%, 100%),
86: hsla(180, 55%, 86%, 100%),
87: hsla(180, 55%, 87%, 100%),
88: hsla(180, 55%, 88%, 100%),
89: hsla(180, 55%, 89%, 100%),
90: hsla(180, 55%, 90%, 100%),
91: hsla(180, 55%, 91%, 100%),
92: hsla(180, 55%, 92%, 100%),
93: hsla(180, 55%, 93%, 100%),
94: hsla(180, 55%, 94%, 100%),
95: hsla(180, 55%, 95%, 100%),
96: hsla(180, 55%, 96%, 100%),
97: hsla(180, 55%, 97%, 100%),
98: hsla(180, 55%, 98%, 100%),
99: hsla(180, 55%, 99%, 100%),
100: hsla(180, 55%, 100%, 100%),
A32: rgba(57, 198, 198, 0.32),
A16: rgba(57, 198, 198, 0.16),

);

$dark-color-scheme-theme-palette: (
0: hsla(216, 100%, 0%, 100%),
1: hsla(216, 100%, 1%, 100%),
2: hsla(216, 100%, 2%, 100%),
3: hsla(216, 100%, 3%, 100%),
4: hsla(216, 100%, 4%, 100%),
5: hsla(216, 100%, 5%, 100%),
6: hsla(216, 100%, 6%, 100%),
7: hsla(216, 100%, 7%, 100%),
8: hsla(216, 100%, 8%, 100%),
9: hsla(216, 100%, 9%, 100%),
10: hsla(216, 100%, 10%, 100%),
11: hsla(216, 100%, 11%, 100%),
12: hsla(216, 100%, 12%, 100%),
13: hsla(216, 100%, 13%, 100%),
14: hsla(216, 100%, 14%, 100%),
15: hsla(216, 100%, 15%, 100%),
16: hsla(216, 100%, 16%, 100%),
17: hsla(216, 100%, 17%, 100%),
18: hsla(216, 100%, 18%, 100%),
19: hsla(216, 100%, 19%, 100%),
20: hsla(216, 100%, 20%, 100%),
21: hsla(216, 100%, 21%, 100%),
22: hsla(216, 100%, 22%, 100%),
23: hsla(216, 100%, 23%, 100%),
24: hsla(216, 100%, 24%, 100%),
25: hsla(216, 100%, 25%, 100%),
26: hsla(216, 100%, 26%, 100%),
27: hsla(216, 100%, 27%, 100%),
28: hsla(216, 100%, 28%, 100%),
29: hsla(216, 100%, 29%, 100%),
30: hsla(216, 100%, 30%, 100%),
31: hsla(216, 100%, 31%, 100%),
32: hsla(216, 100%, 32%, 100%),
33: hsla(216, 100%, 33%, 100%),
34: hsla(216, 100%, 34%, 100%),
35: hsla(216, 100%, 35%, 100%),
36: hsla(216, 100%, 36%, 100%),
37: hsla(216, 100%, 37%, 100%),
38: hsla(216, 100%, 38%, 100%),
39: hsla(216, 100%, 39%, 100%),
40: hsla(216, 100%, 40%, 100%),
41: hsla(216, 100%, 41%, 100%),
42: hsla(216, 100%, 42%, 100%),
43: hsla(216, 100%, 43%, 100%),
44: hsla(216, 100%, 44%, 100%),
45: hsla(216, 100%, 45%, 100%),
46: hsla(216, 100%, 46%, 100%),
47: hsla(216, 100%, 47%, 100%),
48: hsla(216, 100%, 48%, 100%),
49: hsla(216, 100%, 49%, 100%),
50: hsla(216, 100%, 50%, 100%),
51: hsla(216, 100%, 51%, 100%),
52: hsla(216, 100%, 52%, 100%),
53: hsla(216, 100%, 53%, 100%),
54: hsla(216, 100%, 54%, 100%),
55: hsla(216, 100%, 55%, 100%),
56: hsla(216, 100%, 56%, 100%),
57: hsla(216, 100%, 57%, 100%),
58: hsla(216, 100%, 58%, 100%),
59: hsla(216, 100%, 59%, 100%),
60: hsla(216, 100%, 60%, 100%),
61: hsla(216, 100%, 61%, 100%),
62: hsla(216, 100%, 62%, 100%),
63: hsla(216, 100%, 63%, 100%),
64: hsla(216, 100%, 64%, 100%),
65: hsla(216, 100%, 65%, 100%),
66: hsla(216, 100%, 66%, 100%),
67: hsla(216, 100%, 67%, 100%),
68: hsla(216, 100%, 68%, 100%),
69: hsla(216, 100%, 69%, 100%),
70: hsla(216, 100%, 70%, 100%),
71: hsla(216, 100%, 71%, 100%),
72: hsla(216, 100%, 72%, 100%),
73: hsla(216, 100%, 73%, 100%),
74: hsla(216, 100%, 74%, 100%),
75: hsla(216, 100%, 75%, 100%),
76: hsla(216, 100%, 76%, 100%),
77: hsla(216, 100%, 77%, 100%),
78: hsla(216, 100%, 78%, 100%),
79: hsla(216, 100%, 79%, 100%),
80: hsla(216, 100%, 80%, 100%),
81: hsla(216, 100%, 81%, 100%),
82: hsla(216, 100%, 82%, 100%),
83: hsla(216, 100%, 83%, 100%),
84: hsla(216, 100%, 84%, 100%),
85: hsla(216, 100%, 85%, 100%),
86: hsla(216, 100%, 86%, 100%),
87: hsla(216, 100%, 87%, 100%),
88: hsla(216, 100%, 88%, 100%),
89: hsla(216, 100%, 89%, 100%),
90: hsla(216, 100%, 90%, 100%),
91: hsla(216, 100%, 91%, 100%),
92: hsla(216, 100%, 92%, 100%),
93: hsla(216, 100%, 93%, 100%),
94: hsla(216, 100%, 94%, 100%),
95: hsla(216, 100%, 95%, 100%),
96: hsla(216, 100%, 96%, 100%),
97: hsla(216, 100%, 97%, 100%),
98: hsla(216, 100%, 98%, 100%),
99: hsla(216, 100%, 99%, 100%),
100: hsla(216, 100%, 100%, 100%),
A8: hsla(216, 100%, 50%, 8%),
A12: hsla(216, 100%, 5%, 12%),
A16: hsla(216, 100%, 50%, 16%),
A24: hsla(216, 100%, 5%, 24%),
A32: hsla(216, 100%, 5%, 32%),

);

$dark-color-scheme-success-palette: (
0: hsla(104, 64%, 0%, 100%),
1: hsla(104, 64%, 1%, 100%),
2: hsla(104, 64%, 2%, 100%),
3: hsla(104, 64%, 3%, 100%),
4: hsla(104, 64%, 4%, 100%),
5: hsla(104, 64%, 5%, 100%),
6: hsla(104, 64%, 6%, 100%),
7: hsla(104, 64%, 7%, 100%),
8: hsla(104, 64%, 8%, 100%),
9: hsla(104, 64%, 9%, 100%),
10: hsla(104, 64%, 10%, 100%),
11: hsla(104, 64%, 11%, 100%),
12: hsla(104, 64%, 12%, 100%),
13: hsla(104, 64%, 13%, 100%),
14: hsla(104, 64%, 14%, 100%),
15: hsla(104, 64%, 15%, 100%),
16: hsla(104, 64%, 16%, 100%),
17: hsla(104, 64%, 17%, 100%),
18: hsla(104, 64%, 18%, 100%),
19: hsla(104, 64%, 19%, 100%),
20: hsla(104, 64%, 20%, 100%),
21: hsla(104, 64%, 21%, 100%),
22: hsla(104, 64%, 22%, 100%),
23: hsla(104, 64%, 23%, 100%),
24: hsla(104, 64%, 24%, 100%),
25: hsla(104, 64%, 25%, 100%),
26: hsla(104, 64%, 26%, 100%),
27: hsla(104, 64%, 27%, 100%),
28: hsla(104, 64%, 28%, 100%),
29: hsla(104, 64%, 29%, 100%),
30: hsla(104, 64%, 30%, 100%),
31: hsla(104, 64%, 31%, 100%),
32: hsla(104, 64%, 32%, 100%),
33: hsla(104, 64%, 33%, 100%),
34: hsla(104, 64%, 34%, 100%),
35: hsla(104, 64%, 35%, 100%),
36: hsla(104, 64%, 36%, 100%),
37: hsla(104, 64%, 37%, 100%),
38: hsla(104, 64%, 38%, 100%),
39: hsla(104, 64%, 39%, 100%),
40: hsla(104, 64%, 40%, 100%),
41: hsla(104, 64%, 41%, 100%),
42: hsla(104, 64%, 42%, 100%),
43: hsla(104, 64%, 43%, 100%),
44: hsla(104, 64%, 44%, 100%),
45: hsla(104, 64%, 45%, 100%),
46: hsla(104, 64%, 46%, 100%),
47: hsla(104, 64%, 47%, 100%),
48: hsla(104, 64%, 48%, 100%),
49: hsla(104, 64%, 49%, 100%),
50: hsla(104, 64%, 50%, 100%),
51: hsla(104, 64%, 51%, 100%),
52: hsla(104, 64%, 52%, 100%),
53: hsla(104, 64%, 53%, 100%),
54: hsla(104, 64%, 54%, 100%),
55: hsla(104, 64%, 55%, 100%),
56: hsla(104, 64%, 56%, 100%),
57: hsla(104, 64%, 57%, 100%),
58: hsla(104, 64%, 58%, 100%),
59: hsla(104, 64%, 59%, 100%),
60: hsla(104, 64%, 60%, 100%),
61: hsla(104, 64%, 61%, 100%),
62: hsla(104, 64%, 62%, 100%),
63: hsla(104, 64%, 63%, 100%),
64: hsla(104, 64%, 64%, 100%),
65: hsla(104, 64%, 65%, 100%),
66: hsla(104, 64%, 66%, 100%),
67: hsla(104, 64%, 67%, 100%),
68: hsla(104, 64%, 68%, 100%),
69: hsla(104, 64%, 69%, 100%),
70: hsla(104, 64%, 70%, 100%),
71: hsla(104, 64%, 71%, 100%),
72: hsla(104, 64%, 72%, 100%),
73: hsla(104, 64%, 73%, 100%),
74: hsla(104, 64%, 74%, 100%),
75: hsla(104, 64%, 75%, 100%),
76: hsla(104, 64%, 76%, 100%),
77: hsla(104, 64%, 77%, 100%),
78: hsla(104, 64%, 78%, 100%),
79: hsla(104, 64%, 79%, 100%),
80: hsla(104, 64%, 80%, 100%),
81: hsla(104, 64%, 81%, 100%),
82: hsla(104, 64%, 82%, 100%),
83: hsla(104, 64%, 83%, 100%),
84: hsla(104, 64%, 84%, 100%),
85: hsla(104, 64%, 85%, 100%),
86: hsla(104, 64%, 86%, 100%),
87: hsla(104, 64%, 87%, 100%),
88: hsla(104, 64%, 88%, 100%),
89: hsla(104, 64%, 89%, 100%),
90: hsla(104, 64%, 90%, 100%),
91: hsla(104, 64%, 91%, 100%),
92: hsla(104, 64%, 92%, 100%),
93: hsla(104, 64%, 93%, 100%),
94: hsla(104, 64%, 94%, 100%),
95: hsla(104, 64%, 95%, 100%),
96: hsla(104, 64%, 96%, 100%),
97: hsla(104, 64%, 97%, 100%),
98: hsla(104, 64%, 98%, 100%),
99: hsla(104, 64%, 99%, 100%),
100: hsla(104, 64%, 100%, 100%),
A16: rgba(7, 97, 50, 0.16),
A32: rgba(7, 97, 50, 0.32),

);

$dark-color-scheme-warning-palette: (
0: hsla(38, 100%, 1%, 100%),
1: hsla(38, 100%, 2%, 100%),
2: hsla(38, 100%, 3%, 100%),
3: hsla(38, 100%, 4%, 100%),
4: hsla(38, 100%, 5%, 100%),
5: hsla(38, 100%, 6%, 100%),
6: hsla(38, 100%, 7%, 100%),
7: hsla(38, 100%, 8%, 100%),
8: hsla(38, 100%, 9%, 100%),
9: hsla(38, 100%, 10%, 100%),
10: hsla(38, 100%, 11%, 100%),
11: hsla(38, 100%, 12%, 100%),
12: hsla(38, 100%, 13%, 100%),
13: hsla(38, 100%, 14%, 100%),
14: hsla(38, 100%, 15%, 100%),
15: hsla(38, 100%, 16%, 100%),
16: hsla(38, 100%, 17%, 100%),
17: hsla(38, 100%, 18%, 100%),
18: hsla(38, 100%, 19%, 100%),
19: hsla(38, 100%, 20%, 100%),
20: hsla(38, 100%, 21%, 100%),
21: hsla(38, 100%, 22%, 100%),
22: hsla(38, 100%, 23%, 100%),
23: hsla(38, 100%, 24%, 100%),
24: hsla(38, 100%, 25%, 100%),
25: hsla(38, 100%, 26%, 100%),
26: hsla(38, 100%, 27%, 100%),
27: hsla(38, 100%, 28%, 100%),
28: hsla(38, 100%, 29%, 100%),
29: hsla(38, 100%, 30%, 100%),
30: hsla(38, 100%, 31%, 100%),
31: hsla(38, 100%, 32%, 100%),
32: hsla(38, 100%, 33%, 100%),
33: hsla(38, 100%, 34%, 100%),
34: hsla(38, 100%, 35%, 100%),
35: hsla(38, 100%, 36%, 100%),
36: hsla(38, 100%, 37%, 100%),
37: hsla(38, 100%, 38%, 100%),
38: hsla(38, 100%, 39%, 100%),
39: hsla(38, 100%, 40%, 100%),
40: hsla(38, 100%, 41%, 100%),
41: hsla(38, 100%, 42%, 100%),
42: hsla(38, 100%, 43%, 100%),
43: hsla(38, 100%, 44%, 100%),
44: hsla(38, 100%, 45%, 100%),
45: hsla(38, 100%, 46%, 100%),
46: hsla(38, 100%, 47%, 100%),
47: hsla(38, 100%, 48%, 100%),
48: hsla(38, 100%, 49%, 100%),
49: hsla(38, 100%, 50%, 100%),
50: hsla(38, 100%, 51%, 100%),
51: hsla(38, 100%, 52%, 100%),
52: hsla(38, 100%, 53%, 100%),
53: hsla(38, 100%, 54%, 100%),
54: hsla(38, 100%, 55%, 100%),
55: hsla(38, 100%, 56%, 100%),
56: hsla(38, 100%, 57%, 100%),
57: hsla(38, 100%, 58%, 100%),
58: hsla(38, 100%, 59%, 100%),
59: hsla(38, 100%, 60%, 100%),
60: hsla(38, 100%, 61%, 100%),
61: hsla(38, 100%, 62%, 100%),
62: hsla(38, 100%, 63%, 100%),
63: hsla(38, 100%, 64%, 100%),
64: hsla(38, 100%, 65%, 100%),
65: hsla(38, 100%, 66%, 100%),
66: hsla(38, 100%, 67%, 100%),
67: hsla(38, 100%, 68%, 100%),
68: hsla(38, 100%, 69%, 100%),
69: hsla(38, 100%, 70%, 100%),
70: hsla(38, 100%, 71%, 100%),
71: hsla(38, 100%, 72%, 100%),
72: hsla(38, 100%, 73%, 100%),
73: hsla(38, 100%, 74%, 100%),
74: hsla(38, 100%, 75%, 100%),
75: hsla(38, 100%, 76%, 100%),
76: hsla(38, 100%, 77%, 100%),
77: hsla(38, 100%, 78%, 100%),
78: hsla(38, 100%, 79%, 100%),
79: hsla(38, 100%, 80%, 100%),
80: hsla(38, 100%, 81%, 100%),
81: hsla(38, 100%, 82%, 100%),
82: hsla(38, 100%, 83%, 100%),
83: hsla(38, 100%, 84%, 100%),
84: hsla(38, 100%, 85%, 100%),
85: hsla(38, 100%, 86%, 100%),
86: hsla(38, 100%, 87%, 100%),
87: hsla(38, 100%, 88%, 100%),
88: hsla(38, 100%, 89%, 100%),
89: hsla(38, 100%, 90%, 100%),
90: hsla(38, 100%, 91%, 100%),
91: hsla(38, 100%, 92%, 100%),
92: hsla(38, 100%, 93%, 100%),
93: hsla(38, 100%, 94%, 100%),
94: hsla(38, 100%, 95%, 100%),
95: hsla(38, 100%, 96%, 100%),
96: hsla(38, 100%, 97%, 100%),
97: hsla(38, 100%, 98%, 100%),
98: hsla(38, 100%, 99%, 100%),
99: hsla(38, 100%, 100%, 100%),
100: hsla(38, 100%, 100%, 100%),
A16: rgba(245, 155, 0, 0.16),
A32: rgba(245, 155, 0, 0.32),

);

$dark-color-scheme-error-palette: (
0: hsla(7, 97%, 0%, 100%),
1: hsla(7, 97%, 1%, 100%),
2: hsla(7, 97%, 2%, 100%),
3: hsla(7, 97%, 3%, 100%),
4: hsla(7, 97%, 4%, 100%),
5: hsla(7, 97%, 5%, 100%),
6: hsla(7, 97%, 6%, 100%),
7: hsla(7, 97%, 7%, 100%),
8: hsla(7, 97%, 8%, 100%),
9: hsla(7, 97%, 9%, 100%),
10: hsla(7, 97%, 10%, 100%),
11: hsla(7, 97%, 11%, 100%),
12: hsla(7, 97%, 12%, 100%),
13: hsla(7, 97%, 13%, 100%),
14: hsla(7, 97%, 14%, 100%),
15: hsla(7, 97%, 15%, 100%),
16: hsla(7, 97%, 16%, 100%),
17: hsla(7, 97%, 17%, 100%),
18: hsla(7, 97%, 18%, 100%),
19: hsla(7, 97%, 19%, 100%),
20: hsla(7, 97%, 20%, 100%),
21: hsla(7, 97%, 21%, 100%),
22: hsla(7, 97%, 22%, 100%),
23: hsla(7, 97%, 23%, 100%),
24: hsla(7, 97%, 24%, 100%),
25: hsla(7, 97%, 25%, 100%),
26: hsla(7, 97%, 26%, 100%),
27: hsla(7, 97%, 27%, 100%),
28: hsla(7, 97%, 28%, 100%),
29: hsla(7, 97%, 29%, 100%),
30: hsla(7, 97%, 30%, 100%),
31: hsla(7, 97%, 31%, 100%),
32: hsla(7, 97%, 32%, 100%),
33: hsla(7, 97%, 33%, 100%),
34: hsla(7, 97%, 34%, 100%),
35: hsla(7, 97%, 35%, 100%),
36: hsla(7, 97%, 36%, 100%),
37: hsla(7, 97%, 37%, 100%),
38: hsla(7, 97%, 38%, 100%),
39: hsla(7, 97%, 39%, 100%),
40: hsla(7, 97%, 40%, 100%),
41: hsla(7, 97%, 41%, 100%),
42: hsla(7, 97%, 42%, 100%),
43: hsla(7, 97%, 43%, 100%),
44: hsla(7, 97%, 44%, 100%),
45: hsla(7, 97%, 45%, 100%),
46: hsla(7, 97%, 46%, 100%),
47: hsla(7, 97%, 47%, 100%),
48: hsla(7, 97%, 48%, 100%),
49: hsla(7, 97%, 49%, 100%),
50: hsla(7, 97%, 50%, 100%),
51: hsla(7, 97%, 51%, 100%),
52: hsla(7, 97%, 52%, 100%),
53: hsla(7, 97%, 53%, 100%),
54: hsla(7, 97%, 54%, 100%),
55: hsla(7, 97%, 55%, 100%),
56: hsla(7, 97%, 56%, 100%),
57: hsla(7, 97%, 57%, 100%),
58: hsla(7, 97%, 58%, 100%),
59: hsla(7, 97%, 59%, 100%),
60: hsla(7, 97%, 60%, 100%),
61: hsla(7, 97%, 61%, 100%),
62: hsla(7, 97%, 62%, 100%),
63: hsla(7, 97%, 63%, 100%),
64: hsla(7, 97%, 64%, 100%),
65: hsla(7, 97%, 65%, 100%),
66: hsla(7, 97%, 66%, 100%),
67: hsla(7, 97%, 67%, 100%),
68: hsla(7, 97%, 68%, 100%),
69: hsla(7, 97%, 69%, 100%),
70: hsla(7, 97%, 70%, 100%),
71: hsla(7, 97%, 71%, 100%),
72: hsla(7, 97%, 72%, 100%),
73: hsla(7, 97%, 73%, 100%),
74: hsla(7, 97%, 74%, 100%),
75: hsla(7, 97%, 75%, 100%),
76: hsla(7, 97%, 76%, 100%),
77: hsla(7, 97%, 77%, 100%),
78: hsla(7, 97%, 78%, 100%),
79: hsla(7, 97%, 79%, 100%),
80: hsla(7, 97%, 80%, 100%),
81: hsla(7, 97%, 81%, 100%),
82: hsla(7, 97%, 82%, 100%),
83: hsla(7, 97%, 83%, 100%),
84: hsla(7, 97%, 84%, 100%),
85: hsla(7, 97%, 85%, 100%),
86: hsla(7, 97%, 86%, 100%),
87: hsla(7, 97%, 87%, 100%),
88: hsla(7, 97%, 88%, 100%),
89: hsla(7, 97%, 89%, 100%),
90: hsla(7, 97%, 90%, 100%),
91: hsla(7, 97%, 91%, 100%),
92: hsla(7, 97%, 92%, 100%),
93: hsla(7, 97%, 93%, 100%),
94: hsla(7, 97%, 94%, 100%),
95: hsla(7, 97%, 95%, 100%),
96: hsla(7, 97%, 96%, 100%),
97: hsla(7, 97%, 97%, 100%),
98: hsla(7, 97%, 98%, 100%),
99: hsla(7, 97%, 99%, 100%),
100: hsla(7, 97%, 100%, 100%),
A8: hsla(7, 97%, 5%, 8%),
A8L50: hsla(7, 97%, 50%, 8%),
A16: hsla(7, 97%, 5%, 16%),
A16L50: hsla(7, 97%, 50%, 16%),
A24: rgba(240, 10, 25, 0.24),
A32: rgba(240, 10, 25, 0.32),
A48: rgba(240, 10, 25, 0.48),

);

$dark-color-scheme-contrast-palette: (
0: hsla(229, 15%, 0%, 100%),
1: hsla(229, 15%, 1%, 100%),
2: hsla(229, 15%, 2%, 100%),
3: hsla(229, 15%, 3%, 100%),
4: hsla(229, 15%, 4%, 100%),
5: hsla(229, 15%, 5%, 100%),
6: hsla(229, 15%, 6%, 100%),
7: hsla(229, 15%, 7%, 100%),
8: hsla(229, 15%, 8%, 100%),
9: hsla(229, 15%, 9%, 100%),
10: hsla(229, 15%, 10%, 100%),
11: hsla(229, 15%, 11%, 100%),
12: hsla(229, 15%, 12%, 100%),
13: hsla(229, 15%, 13%, 100%),
14: hsla(229, 15%, 14%, 100%),
15: hsla(229, 15%, 15%, 100%),
16: hsla(229, 15%, 16%, 100%),
17: hsla(229, 15%, 17%, 100%),
18: hsla(229, 15%, 18%, 100%),
19: hsla(229, 15%, 19%, 100%),
20: hsla(229, 15%, 20%, 100%),
21: hsla(229, 15%, 21%, 100%),
22: hsla(229, 15%, 22%, 100%),
23: hsla(229, 15%, 23%, 100%),
24: hsla(229, 15%, 24%, 100%),
25: hsla(229, 15%, 25%, 100%),
26: hsla(229, 15%, 26%, 100%),
27: hsla(229, 15%, 27%, 100%),
28: hsla(229, 15%, 28%, 100%),
29: hsla(229, 15%, 29%, 100%),
30: hsla(229, 15%, 30%, 100%),
31: hsla(229, 15%, 31%, 100%),
32: hsla(229, 15%, 32%, 100%),
33: hsla(229, 15%, 33%, 100%),
34: hsla(229, 15%, 34%, 100%),
35: hsla(229, 15%, 35%, 100%),
36: hsla(229, 15%, 36%, 100%),
37: hsla(229, 15%, 37%, 100%),
38: hsla(229, 15%, 38%, 100%),
39: hsla(229, 15%, 39%, 100%),
40: hsla(229, 15%, 40%, 100%),
41: hsla(229, 15%, 41%, 100%),
42: hsla(229, 15%, 42%, 100%),
43: hsla(229, 15%, 43%, 100%),
44: hsla(229, 15%, 44%, 100%),
45: hsla(229, 15%, 45%, 100%),
46: hsla(229, 15%, 46%, 100%),
47: hsla(229, 15%, 47%, 100%),
48: hsla(229, 15%, 48%, 100%),
49: hsla(229, 15%, 49%, 100%),
50: hsla(229, 15%, 50%, 100%),
51: hsla(229, 15%, 51%, 100%),
52: hsla(229, 15%, 52%, 100%),
53: hsla(229, 15%, 53%, 100%),
54: hsla(229, 15%, 54%, 100%),
55: hsla(229, 15%, 55%, 100%),
56: hsla(229, 15%, 56%, 100%),
57: hsla(229, 15%, 57%, 100%),
58: hsla(229, 15%, 58%, 100%),
59: hsla(229, 15%, 59%, 100%),
60: hsla(229, 15%, 60%, 100%),
61: hsla(229, 15%, 61%, 100%),
62: hsla(229, 15%, 62%, 100%),
63: hsla(229, 15%, 63%, 100%),
64: hsla(229, 15%, 64%, 100%),
65: hsla(229, 15%, 65%, 100%),
66: hsla(229, 15%, 66%, 100%),
67: hsla(229, 15%, 67%, 100%),
68: hsla(229, 15%, 68%, 100%),
69: hsla(229, 15%, 69%, 100%),
70: hsla(229, 15%, 70%, 100%),
71: hsla(229, 15%, 71%, 100%),
72: hsla(229, 15%, 72%, 100%),
73: hsla(229, 15%, 73%, 100%),
74: hsla(229, 15%, 74%, 100%),
75: hsla(229, 15%, 75%, 100%),
76: hsla(229, 15%, 76%, 100%),
77: hsla(229, 15%, 77%, 100%),
78: hsla(229, 15%, 78%, 100%),
79: hsla(229, 15%, 79%, 100%),
80: hsla(229, 15%, 80%, 100%),
81: hsla(229, 15%, 81%, 100%),
82: hsla(229, 15%, 82%, 100%),
83: hsla(229, 15%, 83%, 100%),
84: hsla(229, 15%, 84%, 100%),
85: hsla(229, 15%, 85%, 100%),
86: hsla(229, 15%, 86%, 100%),
87: hsla(229, 15%, 87%, 100%),
88: hsla(229, 15%, 88%, 100%),
89: hsla(229, 15%, 89%, 100%),
90: hsla(229, 15%, 90%, 100%),
91: hsla(229, 15%, 91%, 100%),
92: hsla(229, 15%, 92%, 100%),
93: hsla(229, 15%, 93%, 100%),
94: hsla(229, 15%, 94%, 100%),
95: hsla(229, 15%, 95%, 100%),
96: hsla(229, 15%, 96%, 100%),
97: hsla(229, 15%, 97%, 100%),
98: hsla(229, 15%, 98%, 100%),
99: hsla(229, 15%, 99%, 100%),
100: hsla(229, 15%, 100%, 100%),
A8: hsla(229, 15%, 50%, 8%),
A16: hsla(229, 15%, 50%, 16%),
A24: hsla(229, 15%, 6%, 24%),
A32: hsla(229, 15%, 20%, 32%),
A32L50: hsla(229, 15%, 50%, 32%),
A48: hsla(229, 15%, 50%, 48%),
A64L6: hsla(229, 15%, 6%, 64%),
A88: hsla(229, 15%, 99%, 88%),
A88L6: hsla(229, 15%, 6%, 88%),

);

$dark-color-scheme-white-palette: (
default: hsla(0, 0%, 100%, 100%),
A72: hsla(0, 0%, 100%, 72%),

);

$dark-color-scheme-black-palette: (
default: hsla(0, 0%, 0%, 100%),
A50: rgba(0, 0, 0, 0.50),

);

$dark-color-scheme-brand-palette: (
0: hsla(7, 97%, 0%, 100%),
1: hsla(7, 97%, 1%, 100%),
2: hsla(7, 97%, 2%, 100%),
3: hsla(7, 97%, 3%, 100%),
4: hsla(7, 97%, 4%, 100%),
5: hsla(7, 97%, 5%, 100%),
6: hsla(7, 97%, 6%, 100%),
7: hsla(7, 97%, 7%, 100%),
8: hsla(7, 97%, 8%, 100%),
9: hsla(7, 97%, 9%, 100%),
10: hsla(7, 97%, 10%, 100%),
11: hsla(7, 97%, 11%, 100%),
12: hsla(7, 97%, 12%, 100%),
13: hsla(7, 97%, 13%, 100%),
14: hsla(7, 97%, 14%, 100%),
15: hsla(7, 97%, 15%, 100%),
16: hsla(7, 97%, 16%, 100%),
17: hsla(7, 97%, 17%, 100%),
18: hsla(7, 97%, 18%, 100%),
19: hsla(7, 97%, 19%, 100%),
20: hsla(7, 97%, 20%, 100%),
21: hsla(7, 97%, 21%, 100%),
22: hsla(7, 97%, 22%, 100%),
23: hsla(7, 97%, 23%, 100%),
24: hsla(7, 97%, 24%, 100%),
25: hsla(7, 97%, 25%, 100%),
26: hsla(7, 97%, 26%, 100%),
27: hsla(7, 97%, 27%, 100%),
28: hsla(7, 97%, 28%, 100%),
29: hsla(7, 97%, 29%, 100%),
30: hsla(7, 97%, 30%, 100%),
31: hsla(7, 97%, 31%, 100%),
32: hsla(7, 97%, 32%, 100%),
33: hsla(7, 97%, 33%, 100%),
34: hsla(7, 97%, 34%, 100%),
35: hsla(7, 97%, 35%, 100%),
36: hsla(7, 97%, 36%, 100%),
37: hsla(7, 97%, 37%, 100%),
38: hsla(7, 97%, 38%, 100%),
39: hsla(7, 97%, 39%, 100%),
40: hsla(7, 97%, 40%, 100%),
41: hsla(7, 97%, 41%, 100%),
42: hsla(7, 97%, 42%, 100%),
43: hsla(7, 97%, 43%, 100%),
44: hsla(7, 97%, 44%, 100%),
45: hsla(7, 97%, 45%, 100%),
46: hsla(7, 97%, 46%, 100%),
47: hsla(7, 97%, 47%, 100%),
48: hsla(7, 97%, 48%, 100%),
49: hsla(7, 97%, 49%, 100%),
50: hsla(7, 97%, 50%, 100%),
51: hsla(7, 97%, 51%, 100%),
52: hsla(7, 97%, 52%, 100%),
53: hsla(7, 97%, 53%, 100%),
54: hsla(7, 97%, 54%, 100%),
55: hsla(7, 97%, 55%, 100%),
56: hsla(7, 97%, 56%, 100%),
57: hsla(7, 97%, 57%, 100%),
58: hsla(7, 97%, 58%, 100%),
59: hsla(7, 97%, 59%, 100%),
60: hsla(7, 97%, 60%, 100%),
61: hsla(7, 97%, 61%, 100%),
62: hsla(7, 97%, 62%, 100%),
63: hsla(7, 97%, 63%, 100%),
64: hsla(7, 97%, 64%, 100%),
65: hsla(7, 97%, 65%, 100%),
66: hsla(7, 97%, 66%, 100%),
67: hsla(7, 97%, 67%, 100%),
68: hsla(7, 97%, 68%, 100%),
69: hsla(7, 97%, 69%, 100%),
70: hsla(7, 97%, 70%, 100%),
71: hsla(7, 97%, 71%, 100%),
72: hsla(7, 97%, 72%, 100%),
73: hsla(7, 97%, 73%, 100%),
74: hsla(7, 97%, 74%, 100%),
75: hsla(7, 97%, 75%, 100%),
76: hsla(7, 97%, 76%, 100%),
77: hsla(7, 97%, 77%, 100%),
78: hsla(7, 97%, 78%, 100%),
79: hsla(7, 97%, 79%, 100%),
80: hsla(7, 97%, 80%, 100%),
81: hsla(7, 97%, 81%, 100%),
82: hsla(7, 97%, 82%, 100%),
83: hsla(7, 97%, 83%, 100%),
84: hsla(7, 97%, 84%, 100%),
85: hsla(7, 97%, 85%, 100%),
86: hsla(7, 97%, 86%, 100%),
87: hsla(7, 97%, 87%, 100%),
88: hsla(7, 97%, 88%, 100%),
89: hsla(7, 97%, 89%, 100%),
90: hsla(7, 97%, 90%, 100%),
91: hsla(7, 97%, 91%, 100%),
92: hsla(7, 97%, 92%, 100%),
93: hsla(7, 97%, 93%, 100%),
94: hsla(7, 97%, 94%, 100%),
95: hsla(7, 97%, 95%, 100%),
96: hsla(7, 97%, 96%, 100%),
97: hsla(7, 97%, 97%, 100%),
98: hsla(7, 97%, 98%, 100%),
99: hsla(7, 97%, 99%, 100%),
100: hsla(7, 97%, 100%, 100%),
A8: hsla(7, 97%, 5%, 8%),
A8L50: hsla(7, 97%, 50%, 8%),
A16: hsla(7, 97%, 5%, 16%),
A16L50: hsla(7, 97%, 50%, 16%),
A24: rgba(240, 10, 25, 0.24),
A32: rgba(240, 10, 25, 0.32),
A48: rgba(240, 10, 25, 0.48),

);

$dark-color-scheme-purple-palette: (
0: hsla(277, 72%, 0%, 100%),
1: hsla(277, 72%, 1%, 100%),
2: hsla(277, 72%, 2%, 100%),
3: hsla(277, 72%, 3%, 100%),
4: hsla(277, 72%, 4%, 100%),
5: hsla(277, 72%, 5%, 100%),
6: hsla(277, 72%, 6%, 100%),
7: hsla(277, 72%, 7%, 100%),
8: hsla(277, 72%, 8%, 100%),
9: hsla(277, 72%, 9%, 100%),
10: hsla(277, 72%, 10%, 100%),
11: hsla(277, 72%, 11%, 100%),
12: hsla(277, 72%, 12%, 100%),
13: hsla(277, 72%, 13%, 100%),
14: hsla(277, 72%, 14%, 100%),
15: hsla(277, 72%, 15%, 100%),
16: hsla(277, 72%, 16%, 100%),
17: hsla(277, 72%, 17%, 100%),
18: hsla(277, 72%, 18%, 100%),
19: hsla(277, 72%, 19%, 100%),
20: hsla(277, 72%, 20%, 100%),
21: hsla(277, 72%, 21%, 100%),
22: hsla(277, 72%, 22%, 100%),
23: hsla(277, 72%, 23%, 100%),
24: hsla(277, 72%, 24%, 100%),
25: hsla(277, 72%, 25%, 100%),
26: hsla(277, 72%, 26%, 100%),
27: hsla(277, 72%, 27%, 100%),
28: hsla(277, 72%, 28%, 100%),
29: hsla(277, 72%, 29%, 100%),
30: hsla(277, 72%, 30%, 100%),
31: hsla(277, 72%, 31%, 100%),
32: hsla(277, 72%, 32%, 100%),
33: hsla(277, 72%, 33%, 100%),
34: hsla(277, 72%, 34%, 100%),
35: hsla(277, 72%, 35%, 100%),
36: hsla(277, 72%, 36%, 100%),
37: hsla(277, 72%, 37%, 100%),
38: hsla(277, 72%, 38%, 100%),
39: hsla(277, 72%, 39%, 100%),
40: hsla(277, 72%, 40%, 100%),
41: hsla(277, 72%, 41%, 100%),
42: hsla(277, 72%, 42%, 100%),
43: hsla(277, 72%, 43%, 100%),
44: hsla(277, 72%, 44%, 100%),
45: hsla(277, 72%, 45%, 100%),
46: hsla(277, 72%, 46%, 100%),
47: hsla(277, 72%, 47%, 100%),
48: hsla(277, 72%, 48%, 100%),
49: hsla(277, 72%, 49%, 100%),
50: hsla(277, 72%, 50%, 100%),
51: hsla(277, 72%, 51%, 100%),
52: hsla(277, 72%, 52%, 100%),
53: hsla(277, 72%, 53%, 100%),
54: hsla(277, 72%, 54%, 100%),
55: hsla(277, 72%, 55%, 100%),
56: hsla(277, 72%, 56%, 100%),
57: hsla(277, 72%, 57%, 100%),
58: hsla(277, 72%, 58%, 100%),
59: hsla(277, 72%, 59%, 100%),
60: hsla(277, 72%, 60%, 100%),
61: hsla(277, 72%, 61%, 100%),
62: hsla(277, 72%, 62%, 100%),
63: hsla(277, 72%, 63%, 100%),
64: hsla(277, 72%, 64%, 100%),
65: hsla(277, 72%, 65%, 100%),
66: hsla(277, 72%, 66%, 100%),
67: hsla(277, 72%, 67%, 100%),
68: hsla(277, 72%, 68%, 100%),
69: hsla(277, 72%, 69%, 100%),
70: hsla(277, 72%, 70%, 100%),
71: hsla(277, 72%, 71%, 100%),
72: hsla(277, 72%, 72%, 100%),
73: hsla(277, 72%, 73%, 100%),
74: hsla(277, 72%, 74%, 100%),
75: hsla(277, 72%, 75%, 100%),
76: hsla(277, 72%, 76%, 100%),
77: hsla(277, 72%, 77%, 100%),
78: hsla(277, 72%, 78%, 100%),
79: hsla(277, 72%, 79%, 100%),
80: hsla(277, 72%, 80%, 100%),
81: hsla(277, 72%, 81%, 100%),
82: hsla(277, 72%, 82%, 100%),
83: hsla(277, 72%, 83%, 100%),
84: hsla(277, 72%, 84%, 100%),
85: hsla(277, 72%, 85%, 100%),
86: hsla(277, 72%, 86%, 100%),
87: hsla(277, 72%, 87%, 100%),
88: hsla(277, 72%, 88%, 100%),
89: hsla(277, 72%, 89%, 100%),
90: hsla(277, 72%, 90%, 100%),
91: hsla(277, 72%, 91%, 100%),
92: hsla(277, 72%, 92%, 100%),
93: hsla(277, 72%, 93%, 100%),
94: hsla(277, 72%, 94%, 100%),
95: hsla(277, 72%, 95%, 100%),
96: hsla(277, 72%, 96%, 100%),
97: hsla(277, 72%, 97%, 100%),
98: hsla(277, 72%, 98%, 100%),
99: hsla(277, 72%, 99%, 100%),
100: hsla(277, 72%, 100%, 100%),
A16: rgba(149, 36, 219, 0.16),
A32: rgba(149, 36, 219, 0.32),

);

$dark-color-scheme-secondary-palette: (
0: hsla(229, 15%, 0%, 100%),
1: hsla(229, 15%, 1%, 100%),
2: hsla(229, 15%, 2%, 100%),
3: hsla(229, 15%, 3%, 100%),
4: hsla(229, 15%, 4%, 100%),
5: hsla(229, 15%, 5%, 100%),
6: hsla(229, 15%, 6%, 100%),
7: hsla(229, 15%, 7%, 100%),
8: hsla(229, 15%, 8%, 100%),
9: hsla(229, 15%, 9%, 100%),
10: hsla(229, 15%, 10%, 100%),
11: hsla(229, 15%, 11%, 100%),
12: hsla(229, 15%, 12%, 100%),
13: hsla(229, 15%, 13%, 100%),
14: hsla(229, 15%, 14%, 100%),
15: hsla(229, 15%, 15%, 100%),
16: hsla(229, 15%, 16%, 100%),
17: hsla(229, 15%, 17%, 100%),
18: hsla(229, 15%, 18%, 100%),
19: hsla(229, 15%, 19%, 100%),
20: hsla(229, 15%, 20%, 100%),
21: hsla(229, 15%, 21%, 100%),
22: hsla(229, 15%, 22%, 100%),
23: hsla(229, 15%, 23%, 100%),
24: hsla(229, 15%, 24%, 100%),
25: hsla(229, 15%, 25%, 100%),
26: hsla(229, 15%, 26%, 100%),
27: hsla(229, 15%, 27%, 100%),
28: hsla(229, 15%, 28%, 100%),
29: hsla(229, 15%, 29%, 100%),
30: hsla(229, 15%, 30%, 100%),
31: hsla(229, 15%, 31%, 100%),
32: hsla(229, 15%, 32%, 100%),
33: hsla(229, 15%, 33%, 100%),
34: hsla(229, 15%, 34%, 100%),
35: hsla(229, 15%, 35%, 100%),
36: hsla(229, 15%, 36%, 100%),
37: hsla(229, 15%, 37%, 100%),
38: hsla(229, 15%, 38%, 100%),
39: hsla(229, 15%, 39%, 100%),
40: hsla(229, 15%, 40%, 100%),
41: hsla(229, 15%, 41%, 100%),
42: hsla(229, 15%, 42%, 100%),
43: hsla(229, 15%, 43%, 100%),
44: hsla(229, 15%, 44%, 100%),
45: hsla(229, 15%, 45%, 100%),
46: hsla(229, 15%, 46%, 100%),
47: hsla(229, 15%, 47%, 100%),
48: hsla(229, 15%, 48%, 100%),
49: hsla(229, 15%, 49%, 100%),
50: hsla(229, 15%, 50%, 100%),
51: hsla(229, 15%, 51%, 100%),
52: hsla(229, 15%, 52%, 100%),
53: hsla(229, 15%, 53%, 100%),
54: hsla(229, 15%, 54%, 100%),
55: hsla(229, 15%, 55%, 100%),
56: hsla(229, 15%, 56%, 100%),
57: hsla(229, 15%, 57%, 100%),
58: hsla(229, 15%, 58%, 100%),
59: hsla(229, 15%, 59%, 100%),
60: hsla(229, 15%, 60%, 100%),
61: hsla(229, 15%, 61%, 100%),
62: hsla(229, 15%, 62%, 100%),
63: hsla(229, 15%, 63%, 100%),
64: hsla(229, 15%, 64%, 100%),
65: hsla(229, 15%, 65%, 100%),
66: hsla(229, 15%, 66%, 100%),
67: hsla(229, 15%, 67%, 100%),
68: hsla(229, 15%, 68%, 100%),
69: hsla(229, 15%, 69%, 100%),
70: hsla(229, 15%, 70%, 100%),
71: hsla(229, 15%, 71%, 100%),
72: hsla(229, 15%, 72%, 100%),
73: hsla(229, 15%, 73%, 100%),
74: hsla(229, 15%, 74%, 100%),
75: hsla(229, 15%, 75%, 100%),
76: hsla(229, 15%, 76%, 100%),
77: hsla(229, 15%, 77%, 100%),
78: hsla(229, 15%, 78%, 100%),
79: hsla(229, 15%, 79%, 100%),
80: hsla(229, 15%, 80%, 100%),
81: hsla(229, 15%, 81%, 100%),
82: hsla(229, 15%, 82%, 100%),
83: hsla(229, 15%, 83%, 100%),
84: hsla(229, 15%, 84%, 100%),
85: hsla(229, 15%, 85%, 100%),
86: hsla(229, 15%, 86%, 100%),
87: hsla(229, 15%, 87%, 100%),
88: hsla(229, 15%, 88%, 100%),
89: hsla(229, 15%, 89%, 100%),
90: hsla(229, 15%, 90%, 100%),
91: hsla(229, 15%, 91%, 100%),
92: hsla(229, 15%, 92%, 100%),
93: hsla(229, 15%, 93%, 100%),
94: hsla(229, 15%, 94%, 100%),
95: hsla(229, 15%, 95%, 100%),
96: hsla(229, 15%, 96%, 100%),
97: hsla(229, 15%, 97%, 100%),
98: hsla(229, 15%, 98%, 100%),
99: hsla(229, 15%, 99%, 100%),
100: hsla(229, 15%, 100%, 100%),
A8: hsla(229, 15%, 50%, 8%),
A16: hsla(229, 15%, 50%, 16%),
A24: hsla(229, 15%, 6%, 24%),
A32: hsla(229, 15%, 20%, 32%),
A32L50: hsla(229, 15%, 50%, 32%),
A48: hsla(229, 15%, 50%, 48%),
A64L6: hsla(229, 15%, 6%, 64%),
A88: hsla(229, 15%, 99%, 88%),
A88L6: hsla(229, 15%, 6%, 88%),

);

$dark-color-scheme-info-palette: (
0: hsla(180, 55%, 0%, 100%),
1: hsla(180, 55%, 1%, 100%),
2: hsla(180, 55%, 2%, 100%),
3: hsla(180, 55%, 3%, 100%),
4: hsla(180, 55%, 4%, 100%),
5: hsla(180, 55%, 5%, 100%),
6: hsla(180, 55%, 6%, 100%),
7: hsla(180, 55%, 7%, 100%),
8: hsla(180, 55%, 8%, 100%),
9: hsla(180, 55%, 9%, 100%),
10: hsla(180, 55%, 10%, 100%),
11: hsla(180, 55%, 11%, 100%),
12: hsla(180, 55%, 12%, 100%),
13: hsla(180, 55%, 13%, 100%),
14: hsla(180, 55%, 14%, 100%),
15: hsla(180, 55%, 15%, 100%),
16: hsla(180, 55%, 16%, 100%),
17: hsla(180, 55%, 17%, 100%),
18: hsla(180, 55%, 18%, 100%),
19: hsla(180, 55%, 19%, 100%),
20: hsla(180, 55%, 20%, 100%),
21: hsla(180, 55%, 21%, 100%),
22: hsla(180, 55%, 22%, 100%),
23: hsla(180, 55%, 23%, 100%),
24: hsla(180, 55%, 24%, 100%),
25: hsla(180, 55%, 25%, 100%),
26: hsla(180, 55%, 26%, 100%),
27: hsla(180, 55%, 27%, 100%),
28: hsla(180, 55%, 28%, 100%),
29: hsla(180, 55%, 29%, 100%),
30: hsla(180, 55%, 30%, 100%),
31: hsla(180, 55%, 31%, 100%),
32: hsla(180, 55%, 32%, 100%),
33: hsla(180, 55%, 33%, 100%),
34: hsla(180, 55%, 34%, 100%),
35: hsla(180, 55%, 35%, 100%),
36: hsla(180, 55%, 36%, 100%),
37: hsla(180, 55%, 37%, 100%),
38: hsla(180, 55%, 38%, 100%),
39: hsla(180, 55%, 39%, 100%),
40: hsla(180, 55%, 40%, 100%),
41: hsla(180, 55%, 41%, 100%),
42: hsla(180, 55%, 42%, 100%),
43: hsla(180, 55%, 43%, 100%),
44: hsla(180, 55%, 44%, 100%),
45: hsla(180, 55%, 45%, 100%),
46: hsla(180, 55%, 46%, 100%),
47: hsla(180, 55%, 47%, 100%),
48: hsla(180, 55%, 48%, 100%),
49: hsla(180, 55%, 49%, 100%),
50: hsla(180, 55%, 50%, 100%),
51: hsla(180, 55%, 51%, 100%),
52: hsla(180, 55%, 52%, 100%),
53: hsla(180, 55%, 53%, 100%),
54: hsla(180, 55%, 54%, 100%),
55: hsla(180, 55%, 55%, 100%),
56: hsla(180, 55%, 56%, 100%),
57: hsla(180, 55%, 57%, 100%),
58: hsla(180, 55%, 58%, 100%),
59: hsla(180, 55%, 59%, 100%),
60: hsla(180, 55%, 60%, 100%),
61: hsla(180, 55%, 61%, 100%),
62: hsla(180, 55%, 62%, 100%),
63: hsla(180, 55%, 63%, 100%),
64: hsla(180, 55%, 64%, 100%),
65: hsla(180, 55%, 65%, 100%),
66: hsla(180, 55%, 66%, 100%),
67: hsla(180, 55%, 67%, 100%),
68: hsla(180, 55%, 68%, 100%),
69: hsla(180, 55%, 69%, 100%),
70: hsla(180, 55%, 70%, 100%),
71: hsla(180, 55%, 71%, 100%),
72: hsla(180, 55%, 72%, 100%),
73: hsla(180, 55%, 73%, 100%),
74: hsla(180, 55%, 74%, 100%),
75: hsla(180, 55%, 75%, 100%),
76: hsla(180, 55%, 76%, 100%),
77: hsla(180, 55%, 77%, 100%),
78: hsla(180, 55%, 78%, 100%),
79: hsla(180, 55%, 79%, 100%),
80: hsla(180, 55%, 80%, 100%),
81: hsla(180, 55%, 81%, 100%),
82: hsla(180, 55%, 82%, 100%),
83: hsla(180, 55%, 83%, 100%),
84: hsla(180, 55%, 84%, 100%),
85: hsla(180, 55%, 85%, 100%),
86: hsla(180, 55%, 86%, 100%),
87: hsla(180, 55%, 87%, 100%),
88: hsla(180, 55%, 88%, 100%),
89: hsla(180, 55%, 89%, 100%),
90: hsla(180, 55%, 90%, 100%),
91: hsla(180, 55%, 91%, 100%),
92: hsla(180, 55%, 92%, 100%),
93: hsla(180, 55%, 93%, 100%),
94: hsla(180, 55%, 94%, 100%),
95: hsla(180, 55%, 95%, 100%),
96: hsla(180, 55%, 96%, 100%),
97: hsla(180, 55%, 97%, 100%),
98: hsla(180, 55%, 98%, 100%),
99: hsla(180, 55%, 99%, 100%),
100: hsla(180, 55%, 100%, 100%),
A32: rgba(57, 198, 198, 0.32),
A16: rgba(57, 198, 198, 0.16),

);
