@use '../main';

.dev-colorNested > div div {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    opacity: 0.9;
    color: white;
    text-align: center;
    height: 80px;
}

.dev-colorNested > div div:nth-child(1) {
    background-color: #009688;
}

.dev-colorNested > div div:nth-child(2) {
    background-color: #3949ab;
}

.dev-colorNested > div div:nth-child(3) {
    background-color: #9c27b0;
}

.dev-colorNested > div div:nth-child(4) {
    background-color: #8bc34a;
}

.dev-colorNested > div div:nth-child(5) {
    background-color: #deb867;
}

.dev-colorNested > div div:nth-child(6) {
    background-color: #ff5722;
}

.dev-colorNested > div div:nth-child(7) {
    background-color: #03a9f4;
}
