/* stylelint-disable no-unknown-custom-properties */

@mixin kbq-docs-app-theme() {
    .docs-overlay {
        background: var(--kbq-background-overlay);
    }

    .kbq-markdown__code,
    .kbq-markdown__pre {
        background: var(--kbq-background-bg-secondary) !important;
    }

    .docs-top-overflown {
        box-shadow: 0 9px 8px -12px #6c739480;
    }
}
