@use 'sass:meta';
@use 'sass:map';

@use '../functions/string' as *;


@mixin kbq-scrollbar($tokens) {
    $border-width: calc(
        (var(--kbq-scrollbar-size-track-dimension, map.get($tokens, scrollbar-size-track-dimension)) -
        var(--kbq-scrollbar-size-thumb-width, map.get($tokens, scrollbar-size-thumb-width))) / 2
    );

    //firefox
    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: thin;
    }

    // webkit
    &::-webkit-scrollbar,
    ::-webkit-scrollbar {
        cursor: default;

        &:vertical {
            width: var(--kbq-scrollbar-size-track-dimension, map.get($tokens, scrollbar-size-track-dimension));
        }

        &:horizontal {
            height: var(--kbq-scrollbar-size-track-dimension, map.get($tokens, scrollbar-size-track-dimension));
        }
    }

    /* stylelint-disable no-descending-specificity */
    &::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb {
        width: var(--kbq-scrollbar-size-thumb-width, map.get($tokens, scrollbar-size-thumb-width));
        border-style: solid;
        border-width: $border-width;

        border-radius: var(
            --kbq-scrollbar-size-thumb-inset-border-radius,
            map.get($tokens, scrollbar-size-thumb-border-radius)
        );

        // these props are used to set the user-friendly thumb for long content.
        &:vertical {
            min-height: var(--kbq-scrollbar-size-thumb-min-size, map.get($tokens, scrollbar-size-thumb-min-size));
        }

        &:horizontal {
            min-width: var(--kbq-scrollbar-size-thumb-min-size, map.get($tokens, scrollbar-size-thumb-min-size));
        }
    }

    &::-webkit-scrollbar-button,
    ::-webkit-scrollbar-button {
        display: none;
    }
}


@mixin kbq-scrollbar-theme($theme) {
    $scrollbar: map.get(map.get($theme, components), scrollbar);

    .kbq-scrollbar {
        @include kbq-scrollbar(map.get($theme, tokens));

        // firefox
        @supports not selector(::-webkit-scrollbar) {
            scrollbar-color: map.get($scrollbar, default) transparent;
        }

        // webkit
        &::-webkit-scrollbar,
        ::-webkit-scrollbar {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb,
        ::-webkit-scrollbar-thumb {
            border-color: transparent;

            background-clip: content-box;
            background-color: map.get($scrollbar, default);

            &:hover {
                background-color: map.get($scrollbar, hover);
            }

            &:disabled {
                background-color: map.get($scrollbar, disabled);
            }

            &:active {
                background-color: map.get($scrollbar, active);
            }
        }
    }
}
