/* stylelint-disable selector-pseudo-class-no-unknown */

@use 'sass:meta';
@use 'sass:map';

@use '../common/tokens' as *;
@use '../functions/string' as *;

@use './scrollbar-tokens';

@mixin kbq-scrollbar() {
    //firefox
    @supports not selector(::-webkit-scrollbar) {
        scrollbar-width: thin;
    }

    // webkit
    &::-webkit-scrollbar,
    ::-webkit-scrollbar {
        cursor: default;

        &:vertical {
            width: kbq-css-variable(scrollbar-size-track-dimension);
        }

        &:horizontal {
            height: kbq-css-variable(scrollbar-size-track-dimension);
        }
    }

    &::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb {
        width: kbq-css-variable(scrollbar-size-thumb-width);
        border-style: solid;
        border-width: kbq-css-half-difference(scrollbar-size-track-dimension, scrollbar-size-thumb-width);

        border-radius: kbq-css-variable(scrollbar-size-thumb-border-radius);

        // these props are used to set the user-friendly thumb for long content.
        &:vertical {
            min-height: kbq-css-variable(scrollbar-size-thumb-min-size);
        }

        &:horizontal {
            min-width: kbq-css-variable(scrollbar-size-thumb-min-size);
        }
    }

    &::-webkit-scrollbar-button,
    ::-webkit-scrollbar-button {
        display: none;
    }
}

@mixin kbq-scrollbar-theme() {
    .kbq-scrollbar {
        @include kbq-scrollbar();

        // firefox
        @supports not selector(::-webkit-scrollbar) {
            scrollbar-color: kbq-css-variable(scrollbar-thumb-default-background) transparent;
        }

        // webkit
        &::-webkit-scrollbar,
        ::-webkit-scrollbar {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb,
        ::-webkit-scrollbar-thumb {
            border-color: transparent;

            background-clip: content-box;
            background-color: kbq-css-variable(scrollbar-thumb-default-background);

            &:hover {
                background-color: kbq-css-variable(scrollbar-thumb-hover-background);
            }

            &:disabled {
                background-color: kbq-css-variable(scrollbar-thumb-disabled-background);
            }

            &:active {
                background-color: kbq-css-variable(scrollbar-thumb-active-background);
            }
        }
    }
}
