#font-classes-table {
    .kbq-markdown__tr {
        border-bottom: 1px solid var(--kbq-line-contrast-less);

        .kbq-markdown__td {
            > .kbq-markdown__code.docs-code-snippet {
                cursor: pointer;
            }

            &:first-child > div {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &:last-child {
                vertical-align: baseline;
            }
        }
    }
}

.kbq-markdown__table .kbq-markdown__tr .kbq-markdown__td {
    vertical-align: baseline;
}

// standard breakpoint
@media (max-width: 768px) {
    .kbq-markdown .kbq-markdown__table .kbq-markdown__thead {
        display: none;
    }

    .kbq-markdown .kbq-markdown__table .kbq-markdown__tr {
        display: flex;
        flex-direction: column;
    }

    .kbq-markdown .kbq-markdown__table .kbq-markdown__td {
        padding: 0 0 var(--kbq-size-s);

        &:last-child {
            padding-bottom: var(--kbq-size-l);
        }
    }
}

@media (max-width: 768px) {
    .kbq-markdown__table .kbq-markdown__thead {
        display: none;
    }

    #font-classes-table .kbq-markdown__tr .kbq-markdown__td:first-child {
        width: 90%;
    }
}

@media (769px <= width <= 1279px) {
    #font-classes-table {
        .kbq-markdown__tr {
            .kbq-markdown__td:first-child > div {
                max-width: 217px;
            }
        }
    }
}

@media (1280px <= width <= 1920px) {
    #font-classes-table {
        .kbq-markdown__tr {
            .kbq-markdown__td:first-child > div {
                max-width: 394px;
            }
        }
    }
}
