.kbq-design-token-example__dimensions {
    width: 96px;
    height: var(--kbq-size-5xl);
    border-radius: var(--kbq-size-xs);
    background-color: var(--kbq-background-bg-secondary);
    border: var(--kbq-size-border-width) solid var(--kbq-line-contrast-less);
}
