.kbq-design-token-example__dimensions {
    width: 96px;
    height: var(--kbq-size-5xl);
    border-radius: var(--kbq-size-xs);
    background-color: var(--kbq-background-bg-secondary);
    border: var(--kbq-size-border-width) solid var(--kbq-line-contrast-less);
}

.kbq-design-token-example__shadows {
    width: 44px;
    height: 44px;
    border-radius: var(--kbq-size-xxs);
    background-color: var(--kbq-background-card);
}

.kbq-design-token-example__sizes {
    height: 24px;
    background: var(--kbq-error-default);
    border-radius: var(--kbq-size-3xs);
}

.kbq-design-token-example__value {
    max-width: 280px;
}

.kbq-design-token-example__var {
    display: inline-flex;
    height: 100%;
    flex-direction: column;
}

.kbq-design-token-example__var > .kbq-design-token-example__value {
    display: none;
}

#font-classes-table {
    .kbq-markdown__tr {
        border-bottom: 1px solid var(--kbq-line-contrast-less);

        .kbq-markdown__td {
            > .kbq-markdown__code.docs-code-snippet {
                cursor: pointer;
            }

            &:first-child > div {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &:last-child {
                vertical-align: baseline;
            }
        }
    }
}

.kbq-markdown__table .kbq-markdown__tr .kbq-markdown__td {
    vertical-align: baseline;
}

// standard breakpoint
@media (max-width: 768px) {
    .kbq-markdown .kbq-markdown__table .kbq-markdown__thead {
        display: none;
    }

    .kbq-markdown .kbq-markdown__table .kbq-markdown__tr {
        display: flex;
        flex-direction: column;
    }

    .kbq-markdown .kbq-markdown__table .kbq-markdown__td {
        padding: 0 0 var(--kbq-size-s);

        &:last-child {
            padding-bottom: var(--kbq-size-l);
        }
    }

    .kbq-design-token-example__dimensions {
        width: 100%;
        height: 46px;
    }
}

@media (769px <= width <= 1919px) {
    .kbq-design-token-example__dimensions {
        width: 44px;
        height: 44px;
    }
}

@media (max-width: 768px) {
    .kbq-markdown__table .kbq-markdown__thead {
        display: none;
    }

    #font-classes-table .kbq-markdown__tr .kbq-markdown__td:first-child {
        width: 90%;
    }
}

@media (769px <= width <= 1279px) {
    #font-classes-table {
        .kbq-markdown__tr {
            .kbq-markdown__td:first-child > div {
                max-width: 217px;
            }
        }
    }
}

@media (1280px <= width <= 1920px) {
    #font-classes-table {
        .kbq-markdown__tr {
            .kbq-markdown__td:first-child > div {
                max-width: 394px;
            }
        }
    }
}

@media (769px <= width <= 1560px) {
    .kbq-design-token-example__value {
        display: none;
    }

    .kbq-design-token-example__var {
        display: block;

        & > .kbq-design-token-example__value {
            display: block;
        }
    }
}
