/* stylelint-disable scss/at-extend-no-missing-placeholder */
/* stylelint-disable no-unknown-custom-properties */

@use '@docsearch/css/dist/style';
@use 'koobiq/default-theme/variables' as *;
@use '@koobiq/icons/fonts/kbq-icons';

.DocSearch-Button {
    padding: 0 var(--kbq-size-m);
    margin: 0;
    border-radius: var(--kbq-size-s);
    border-width: var(--kbq-size-border-width);
    border-style: solid;
    border-color: var(--kbq-button-outline-contrast-fade-on-border);
    color: inherit;
    font-size: 15px;
    line-height: var(--kbq-typography-text-normal-medium-line-height);
    font-weight: var(--kbq-typography-text-normal-medium-font-weight);
    font-family: var(--kbq-typography-text-normal-medium-font-family);

    @media (width <= 768px) {
        border: none;
    }
}

.DocSearch-Button:hover {
    background-color: var(--kbq-states-background-transparent-hover);
}

.DocSearch-Button-Placeholder {
    font-size: inherit;
    padding: 0 var(--kbq-size-xs);
}

.DocSearch-Button-Container::before {
    @extend .kbq;
    @extend .kbq-magnifying-glass_16;

    @media (width <= 768px) {
        font-size: 20px;
    }
}

.DocSearch-Modal {
    border-radius: var(--kbq-size-s);

    @media (max-width: 768px) {
        height: calc(var(--docsearch-vh, 1vh) * 85);
    }
}

.DocSearch-Container {
    @media (max-width: 768px) {
        display: flex;
        align-items: flex-end;
    }
}

.DocSearch-SearchBar {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--kbq-line-contrast-fade);
}

.DocSearch-Form {
    border-radius: var(--kbq-size-s) var(--kbq-size-s) 0 0;
}

.DocSearch-MagnifierLabel::before {
    @extend .kbq;
    @extend .kbq-magnifying-glass_16;

    color: var(--kbq-icon-contrast-fade);
}

.DocSearch-Input {
    font-size: 15px;
    padding-left: var(--kbq-size-xs);

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.DocSearch-Input::placeholder {
    color: var(--kbq-foreground-contrast-tertiary);
}

.DocSearch-Reset::before {
    @extend .kbq;
    @extend .kbq-xmark-circle_16;
}

.DocSearch-Reset:hover {
    color: var(--kbq-states-icon-contrast-fade-hover);
}

.DocSearch-Logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DocSearch-Dropdown {
    min-height: 0;
    scrollbar-color: var(--docsearch-icon-color);
    padding: 0 var(--kbq-size-s) var(--kbq-size-xxl) var(--kbq-size-s);

    @media (max-width: 768px) {
        max-height: calc(
            var(--docsearch-vh, 1vh) * 85 - var(--docsearch-searchbox-height) - var(--docsearch-footer-height)
        );
    }
}

.DocSearch-Dropdown-Container {
    padding-top: var(--kbq-size-s);
}

.DocSearch-Hit {
    border-radius: var(--kbq-size-s);
    padding-bottom: 0;
}

.DocSearch-Hit a {
    padding-left: var(--kbq-size-l);
    border-radius: var(--kbq-size-s);
    outline-offset: -1px;
    outline-width: 1px;
}

.DocSearch-Hit[aria-selected='true'] a {
    background-color: var(--kbq-states-background-transparent-active);
}

.DocSearch-Hit mark,
.DocSearch-Hit[aria-selected='true'] mark {
    text-decoration: none;
    color: var(--kbq-foreground-warning) !important;
}

.DocSearch-Hit-action {
    width: auto;
    height: auto;
}

.DocSearch-Hit .DocSearch-Hit-title mark {
    background-color: var(--kbq-background-warning-fade);
}

.DocSearch-Hit-Container {
    padding-right: var(--kbq-size-l);
}

.DocSearch-Hit-content-wrapper {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: auto;
    margin: 0 0 0 var(--kbq-size-l);
}

.DocSearch-Hit-source {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.14px;
    margin: 0;
    padding: var(--kbq-size-xs) var(--kbq-size-m);

    // safari bug:
    // https://github.com/algolia/docsearch/issues/1477
    position: relative;
}

.DocSearch-Hit-title {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    overflow: inherit;
    text-overflow: inherit;
}

.DocSearch-Hit-path {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.005em;
}

.DocSearch-Footer {
    border-radius: 0 0 var(--kbq-size-s) var(--kbq-size-s);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--kbq-line-contrast-fade);
}

.DocSearch-Commands li {
    margin-right: var(--kbq-size-l);
}

.DocSearch-Commands-Key {
    border-radius: 6px;
    width: var(--kbq-size-xxl);
    height: var(--kbq-size-xxl);
    padding: var(--kbq-size-3xs) var(--kbq-size-xxs);
    margin-right: var(--kbq-size-xs);
}

.DocSearch-Label {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
}

.DocSearch-StartScreen .DocSearch-Help,
.DocSearch-NoResults .DocSearch-Title {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.DocSearch-NoResults .DocSearch-Title strong {
    font-weight: inherit;
}

.DocSearch-Hit-Select-Icon,
.DocSearch-Button-Keys,
.DocSearch-Cancel,
.DocSearch-Button-Container svg,
.DocSearch-MagnifierLabel svg,
.DocSearch-Reset svg,
.DocSearch-Screen-Icon,
.DocSearch-NoResults-Prefill-List {
    display: none !important;
}

body.kbq-light {
    --docsearch-primary-color: inherit;
    --docsearch-text-color: var(--kbq-foreground-contrast);
    --docsearch-spacing: var(--kbq-size-xxl);
    --docsearch-highlight-color: inherit;
    --docsearch-muted-color: var(--kbq-foreground-contrast-secondary);
    --docsearch-container-background: var(--kbq-background-overlay);
    --docsearch-icon-color: var(--kbq-icon-contrast-fade);
    --docsearch-modal-width: 640px;
    --docsearch-modal-height: 550px;
    --docsearch-modal-background: var(--kbq-background-bg);
    --docsearch-modal-shadow: none;
    --docsearch-searchbox-height: var(--kbq-size-5xl);
    --docsearch-searchbox-background: var(--kbq-background-card);
    --docsearch-searchbox-focus-background: var(--kbq-background-bg);
    --docsearch-searchbox-shadow: none;
    --docsearch-hit-height: var(--kbq-size-6xl);
    --docsearch-hit-color: var(--kbq-foreground-contrast);
    --docsearch-hit-active-color: var(--kbq-foreground-contrast);
    --docsearch-hit-background: var(--kbq-background-card);
    --docsearch-hit-shadow: none;
    --docsearch-key-gradient: var(--kbq-background-contrast-fade);
    --docsearch-key-shadow: none;
    --docsearch-key-pressed-shadow: none;
    --docsearch-footer-height: var(--kbq-size-5xl);
    --docsearch-footer-background: var(--kbq-background-bg);
    --docsearch-footer-shadow: none;
}

body.kbq-dark {
    --docsearch-highlight-color: inherit;
    --docsearch-icon-color: var(--kbq-icon-contrast-fade);
    --docsearch-text-color: var(--kbq-foreground-contrast);
    --docsearch-container-background: var(--kbq-background-overlay);
    --docsearch-modal-background: var(--kbq-background-card);
    --docsearch-modal-shadow: none;
    --docsearch-searchbox-background: var(--kbq-background-card);
    --docsearch-searchbox-focus-background: var(--kbq-background-bg);
    --docsearch-hit-color: var(--kbq-foreground-contrast);
    --docsearch-hit-shadow: none;
    --docsearch-hit-background: var(--kbq-background-card);
    --docsearch-key-gradient: var(--kbq-background-contrast-fade);
    --docsearch-key-shadow: none;
    --docsearch-key-pressed-shadow: none;
    --docsearch-footer-background: var(--kbq-background-card);
    --docsearch-footer-shadow: none;
    --docsearch-muted-color: var(--kbq-foreground-contrast-secondary);
    --docsearch-hit-active-color: var(--kbq-foreground-contrast);

    .DocSearch-Button {
        border-color: var(--kbq-line-contrast-fade);
    }

    .DocSearch-Button:hover {
        background-color: var(--kbq-states-background-transparent-hover);
    }

    .DocSearch-SearchBar {
        border-bottom-color: var(--kbq-line-contrast-fade);
    }

    .DocSearch-MagnifierLabel {
        color: var(--kbq-icon-contrast-fade);
    }

    .DocSearch-Input::placeholder {
        color: var(--kbq-foreground-contrast-tertiary);
    }

    .DocSearch-Reset:hover {
        color: var(--kbq-states-icon-contrast-fade-hover);
    }

    .DocSearch-Hit[aria-selected='true'] a {
        background-color: var(--kbq-states-background-transparent-active);
    }

    .DocSearch-Hit mark,
    .DocSearch-Hit[aria-selected='true'] mark {
        color: var(--kbq-foreground-warning) !important;
    }

    .DocSearch-Hit .DocSearch-Hit-title mark {
        background-color: var(--kbq-background-warning-fade);
    }

    .DocSearch-Footer {
        border-top-color: var(--kbq-line-contrast-fade);
    }
}
