@mixin hot-key-button-theme() {
    .hot-key-button {
        color: var(--kbq-foreground-contrast);
        border-color: var(--kbq-foreground-border);
        box-shadow: var(--kbq-shadow-card);
    }
}

.hot-key-button {
    display: inline-block;
    min-width: 32px;
    max-height: 32px;

    border-width: 1px;
    border-style: solid;
    border-radius: var(--kbq-size-border-radius);

    box-sizing: border-box;

    padding: 7px;

    font-family: Inter;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.14px;
    text-align: center;
}
