@use '../dist/components/markdown/markdown';
@use '../dist/components/table/table';

.kbq-docs-table {
    .kbq-docs-table__name {
        width: 50%;
    }

    .kbq-docs-table__description {
        width: 50%;
    }
}

.kbq-docs-element-last-child-margin-bottom-0 {
    & > *:last-child {
        margin-bottom: 0 !important;
    }
}
