@use 'components/markdown/markdown';
@use 'components/table/table';


.kbq-docs-table {
    .kbq-docs-table__name {
        width: 50%;
    }

    .kbq-docs-table__description {
        width: 50%;
    }
}
