/* stylelint-disable no-unknown-custom-properties */

@use 'sass:map';

@use '../core/styles/common/tokens' as *;

@mixin kbq-modal-theme() {
    .kbq-modal {
        background: kbq-css-variable(modal-container-background);
        box-shadow: kbq-css-variable(modal-container-box-shadow);

        .kbq-modal-header {
            & .kbq-modal-title {
                color: kbq-css-variable(modal-header-text-color);
            }

            & .kbq-modal-close {
                color: kbq-css-variable(modal-close-button-color);
            }
        }

        .kbq-modal-content {
            color: kbq-css-variable(modal-content-text-color);
        }

        .kbq-modal-header.kbq-modal-body_top-overflow {
            box-shadow: var(--kbq-shadow-overflow-normal-bottom);
        }

        .kbq-modal-footer.kbq-modal-body_bottom-overflow {
            box-shadow: var(--kbq-shadow-overflow-normal-top);
        }
    }

    .kbq-modal-mask {
        background-color: kbq-css-variable(modal-overlay-background);
    }
}

@mixin kbq-modal-typography() {
    .kbq-modal-title {
        @include kbq-typography-css-variables(modal, header);
    }

    .kbq-modal-body {
        @include kbq-typography-css-variables(modal, content);
    }
}
