@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;


.kbq-confirm {
    .kbq-modal-close {
        display: none;
    }

    .kbq-confirm-footer {
        display: flex;

        gap: kbq-css-variable(modal-size-footer-content-gap-horizontal);
    }
}
