@use '../core/styles/common/tokens' as *;

.kbq-confirm {
    .kbq-modal-close {
        display: none;
    }

    .kbq-confirm-footer {
        display: flex;

        gap: var(--kbq-modal-size-footer-content-gap-horizontal);
    }
}
