.kbq-modal {
    --kbq-modal-size-small-width: 400px;
    --kbq-modal-size-medium-width: 640px;
    --kbq-modal-size-large-width: 960px;
    --kbq-modal-size-border-radius: 8px;
    --kbq-modal-size-header-padding-vertical: 16px;
    --kbq-modal-size-header-padding-left: 24px;
    --kbq-modal-size-header-padding-right: 48px;
    --kbq-modal-size-close-button-margin-left: 8px;
    --kbq-modal-size-content-padding-horizontal: 24px;
    --kbq-modal-size-content-padding-top: 0;
    --kbq-modal-size-content-padding-bottom: 8px;
    --kbq-modal-size-content-padding-top-without-header: 24px;
    --kbq-modal-size-content-padding-bottom-without-footer: 40px;
    --kbq-modal-size-footer-padding-horizontal: 24px;
    --kbq-modal-size-footer-padding-vertical: 20px;
    --kbq-modal-size-footer-content-gap-horizontal: 16px;
    --kbq-modal-font-header-font-size: 20px;
    --kbq-modal-font-header-line-height: 28px;
    --kbq-modal-font-header-letter-spacing: normal;
    --kbq-modal-font-header-font-weight: 700;
    --kbq-modal-font-header-text-transform: null;
    --kbq-modal-font-header-font-feature-settings: 'calt', 'kern', 'liga';
    --kbq-modal-font-content-font-size: 14px;
    --kbq-modal-font-content-line-height: 20px;
    --kbq-modal-font-content-letter-spacing: -0.006em;
    --kbq-modal-font-content-font-weight: normal;
    --kbq-modal-font-content-text-transform: null;
    --kbq-modal-font-content-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-modal-font-header-font-family: var(--kbq-typography-title-font-family);
    --kbq-modal-font-content-font-family: var(--kbq-typography-text-normal-font-family);
}

:root {
    --kbq-typography-title-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue', Arial, sans-serif;
    --kbq-typography-text-normal-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-modal-overlay-background: hsla(229, 15%, 20%, 32%);
    --kbq-modal-container-background: hsla(229, 15%, 100%, 100%);
    --kbq-modal-container-box-shadow: 0 0 0 1px hsla(229, 15%, 6%, 3%), 0 3px 16px hsla(229, 15%, 6%, 6%),
        0 4px 32px hsla(229, 15%, 6%, 12%);
    --kbq-modal-close-button-color: hsla(229, 15%, 15%, 100%);
    --kbq-modal-header-text-color: hsla(229, 15%, 15%, 100%);
    --kbq-modal-content-text-color: hsla(229, 15%, 15%, 100%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-modal-overlay-background: hsla(229, 15%, 6%, 64%);
    --kbq-modal-container-background: hsla(229, 15%, 15%, 100%);
    --kbq-modal-container-box-shadow: 0 0 0 1px hsla(229, 100%, 85%, 15%);
    --kbq-modal-close-button-color: hsla(229, 15%, 80%, 100%);
    --kbq-modal-header-text-color: hsla(229, 15%, 80%, 100%);
    --kbq-modal-content-text-color: hsla(229, 15%, 80%, 100%);
}
