.kbq-modal {
    --kbq-modal-size-small-width: 400px;
    --kbq-modal-size-medium-width: 640px;
    --kbq-modal-size-large-width: 960px;
    --kbq-modal-size-border-radius: var(--kbq-size-s);
    --kbq-modal-size-header-padding-vertical: var(--kbq-size-l);
    --kbq-modal-size-header-padding-left: var(--kbq-size-xxl);
    --kbq-modal-size-header-padding-right: var(--kbq-size-5xl);
    --kbq-modal-size-close-button-margin-left: var(--kbq-size-s);
    --kbq-modal-size-content-padding-horizontal: var(--kbq-size-xxl);
    --kbq-modal-size-content-padding-top: 0;
    --kbq-modal-size-content-padding-bottom: var(--kbq-size-s);
    --kbq-modal-size-content-padding-top-without-header: var(--kbq-size-xxl);
    --kbq-modal-size-content-padding-bottom-without-footer: var(--kbq-size-4xl);
    --kbq-modal-size-footer-padding-horizontal: var(--kbq-size-xxl);
    --kbq-modal-size-footer-padding-vertical: var(--kbq-size-xl);
    --kbq-modal-size-footer-content-gap-horizontal: var(--kbq-size-l);
    /* THEME TOKENS */
    --kbq-modal-overlay-background: var(--kbq-background-overlay);
    --kbq-modal-container-background: var(--kbq-background-card);
    --kbq-modal-container-shadow: var(--kbq-shadow-overlay);
    --kbq-modal-close-button-color: var(--kbq-icon-contrast);
    --kbq-modal-header-text-color: var(--kbq-foreground-contrast);
    --kbq-modal-content-text-color: var(--kbq-foreground-contrast);
}
