@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;

@use './modal-confirm';

.kbq-modal {
    box-sizing: border-box;

    position: relative;

    top: 48px;

    border-radius: kbq-css-variable(modal-size-border-radius);

    width: auto;

    margin: 0 auto;

    list-style: none;

    &.zoom-enter,
    &.zoom-appear {
        animation-duration: 0.3s;
        // reset scale avoid mousePosition bug
        transform: none;
        opacity: 0;
    }

    &.kbq-modal_small {
        width: kbq-css-variable(modal-size-small-width);
    }

    &.kbq-modal_medium {
        width: kbq-css-variable(modal-size-medium-width);
    }

    &.kbq-modal_large {
        width: kbq-css-variable(modal-size-large-width);
    }

    // todo реализуем когда будем делать 2.0, пока нет возможности отслеживать наличие/отсутствие футера
    //&.kbq-modal_no-footer .kbq-modal-body {
    //    padding-bottom: var(
    //        --kbq-modal-size-content-padding-bottom-without-footer,
    //        map.get($tokens, modal-size-content-padding-bottom-without-footer)
    //    );
    //}

    & .kbq-modal-close {
        position: absolute;

        top: 16px;
        right: 8px;
    }
}

.kbq-modal-wrap {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    outline: 0;
}

.kbq-modal-content {
    position: relative;

    border-radius: kbq-css-variable(modal-size-border-radius);

    background-clip: padding-box;
}

.kbq-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: kbq-css-variable(modal-size-header-padding-vertical) kbq-css-variable(modal-size-header-padding-right)
        kbq-css-variable(modal-size-header-padding-vertical) kbq-css-variable(modal-size-header-padding-left);

    & + .kbq-modal-body {
        padding-top: kbq-css-variable(modal-size-content-padding-top);
    }
}

.kbq-modal-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.kbq-modal-body {
    display: block;
    overflow-y: auto;

    max-height: calc(100vh - 260px);

    padding: kbq-css-variable(modal-size-content-padding-top-without-header)
        kbq-css-variable(modal-size-content-padding-horizontal) kbq-css-variable(modal-size-content-padding-bottom)
        kbq-css-variable(modal-size-content-padding-horizontal);

    word-wrap: break-word;

    & > * {
        position: relative;
    }
}

.kbq-modal-footer,
.kbq-confirm-footer {
    display: flex;
    align-items: center;

    padding: kbq-css-variable(modal-size-footer-padding-vertical) kbq-css-variable(modal-size-footer-padding-horizontal);

    gap: kbq-css-variable(modal-size-footer-content-gap-horizontal);
}

.kbq-modal-mask {
    position: fixed;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 100%;

    &.kbq-modal-mask-hidden {
        display: none;
    }
}

.kbq-modal-open {
    overflow: hidden;
}
