name: Setup Yarn
description: Common setup steps used by our workflows
runs:
  using: composite
  steps:
    - uses: actions/setup-node@v4
      with:
        node-version-file: .nvmrc

    - uses: actions/setup-node@v4
      with:
        cache: 'yarn'
        cache-dependency-path: '**/yarn.lock'

    - name: Install
      shell: bash
      run: yarn install --immutable
