@use 'sass:map';

@use '../core/styles/theming/theming' as *;
@use '../core/styles/common/tokens' as *;

@mixin kbq-icon-button-theme($theme) {
    $icon-button: map.get($theme, components, icon-button);

    .kbq-icon-button {
        &:focus {
            outline: none;
        }

        &.kbq-theme {
            color: kbq-css-variable(icon-button-heme-default, map.get($icon-button, theme, default));

            &:active,
            &.kbq-active {
                color: kbq-css-variable(icon-button-heme-state-active, map.get($icon-button, theme, state-active));
            }

            &:not(.kbq-disabled):hover {
                color: kbq-css-variable(icon-button-heme-state-hover, map.get($icon-button, theme, state-hover));
            }

            &.kbq-disabled {
                color: kbq-css-variable(icon-button-heme-state-disabled, map.get($icon-button, theme, state-disabled));
            }
        }

        &.kbq-contrast {
            color: kbq-css-variable(icon-button-ontrast-default, map.get($icon-button, contrast, default));

            &:active,
            &.kbq-active {
                color: kbq-css-variable(icon-button-ontrast-state-active, map.get($icon-button, contrast, state-active));
            }

            &:not(.kbq-disabled):hover {
                color: kbq-css-variable(icon-button-ontrast-state-hover, map.get($icon-button, contrast, state-hover));
            }

            &.kbq-disabled {
                color: kbq-css-variable(icon-button-ontrast-state-disabled, map.get($icon-button, contrast, state-disabled));
            }
        }

        &.kbq-contrast-fade {
            color: kbq-css-variable(icon-button-ade-contrast-default, map.get($icon-button, fade-contrast, default));

            &:active,
            &.kbq-active {
                color: kbq-css-variable(icon-button-ade-contrast-state-active, map.get($icon-button, fade-contrast, state-active));
            }

            &:not(.kbq-disabled):hover {
                color: kbq-css-variable(icon-button-ade-contrast-state-hover, map.get($icon-button, fade-contrast, state-hover));
            }

            &.kbq-disabled {
                color: kbq-css-variable(icon-button-ade-contrast-state-disabled, map.get($icon-button, fade-contrast, state-disabled));
            }
        }

        &.kbq-error {
            color: kbq-css-variable(icon-button-rror-default, map.get($icon-button, error, default));

            &:active,
            &.kbq-active {
                color: kbq-css-variable(icon-button-rror-state-active, map.get($icon-button, error, state-active));
            }

            &:not(.kbq-disabled):hover {
                color: kbq-css-variable(icon-button-rror-state-hover, map.get($icon-button, error, state-hover));
            }

            &.kbq-disabled {
                color: kbq-css-variable(icon-button-rror-state-disabled, map.get($icon-button, error, state-disabled));
            }
        }

        &.kbq-success {
            color: kbq-css-variable(icon-button-uccess-default, map.get($icon-button, success, default));

            &:active,
            &.kbq-active {
                color: kbq-css-variable(icon-button-uccess-state-active, map.get($icon-button, success, state-active));
            }

            &:not(.kbq-disabled):hover {
                color: kbq-css-variable(icon-button-uccess-state-hover, map.get($icon-button, success, state-hover));
            }

            &.kbq-disabled {
                color: kbq-css-variable(icon-button-uccess-state-disabled, map.get($icon-button, success, state-disabled));
            }
        }

        &.kbq-warning {
            color: kbq-css-variable(icon-button-default, map.get($icon-button, default));

            &:active,
            &.kbq-active {
                color: kbq-css-variable(icon-button-state-active, map.get($icon-button, state-active));
            }

            &:not(.kbq-disabled):hover {
                color: kbq-css-variable(icon-button-state-hover, map.get($icon-button, state-hover));
            }

            &.kbq-disabled {
                color: kbq-css-variable(icon-button-state-disabled, map.get($icon-button, state-disabled));
            }
        }

        &.cdk-keyboard-focused {
            box-shadow:
                inset 0 0 0.1px 1px map.get($theme, states, focused-color),
                0 0 0.1px 1px map.get($theme, states, focused-color);
        }
    }
}
