@use 'sass:map';

@use '../core/styles/theming/theming' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-icon-item-theme($theme) {
    $icon-item: map.get($theme, components, icon-item);

    .kbq-icon-item {
        &.kbq-theme {
            color: kbq-css-variable(icon-item-theme-color, map.get($icon-item, theme, color));
            background: kbq-css-variable(icon-item-theme-background, map.get($icon-item, theme, background));
        }

        &.kbq-contrast {
            color: kbq-css-variable(icon-item-contrast-color, map.get($icon-item, contrast, color));
            background: kbq-css-variable(icon-item-contrast-background, map.get($icon-item, contrast, background));
        }

        &.kbq-contrast-fade {
            color: kbq-css-variable(icon-item-fade-contrast-color, map.get($icon-item, fade-contrast, color));
            background: kbq-css-variable(
                icon-item-fade-contrast-background, map.get($icon-item, fade-contrast, background));
        }

        &.kbq-error {
            color: kbq-css-variable(icon-item-error-color, map.get($icon-item, error, color));
            background: kbq-css-variable(icon-item-error-background, map.get($icon-item, error, background));
        }

        &.kbq-warning {
            color: kbq-css-variable(icon-item-warning-color, map.get($icon-item, warning, color));
            background: kbq-css-variable(icon-item-warning-background, map.get($icon-item, warning, background));
        }

        &.kbq-success {
            color: kbq-css-variable(icon-item-success-color, map.get($icon-item, success, color));
            background: kbq-css-variable(icon-item-success-background, map.get($icon-item, success, background));
        }
    }
}
