@use '../core/styles/common/tokens' as *;

@mixin kbq-icon-theme() {
    .kbq-icon:not(.kbq-icon-button, .kbq-icon-item) {
        &.kbq-theme {
            color: kbq-css-variable(icon-theme-color);
        }

        &.kbq-contrast {
            color: kbq-css-variable(icon-contrast-color);
        }

        &.kbq-contrast-fade {
            color: kbq-css-variable(icon-fade-contrast-color);
        }

        &.kbq-error {
            color: kbq-css-variable(icon-error-color);
        }

        &.kbq-warning {
            color: kbq-css-variable(icon-warning-color);
        }

        &.kbq-success {
            color: kbq-css-variable(icon-success-color);
        }
    }
}
