@use '../core/styles/common/tokens' as *;

@mixin kbq-icon-theme() {
    .kbq-icon {
        // set default color
        color: var(--kbq-icon-contrast-color);

        &.kbq-theme {
            color: var(--kbq-icon-theme-color);
        }

        &.kbq-contrast {
            color: var(--kbq-icon-contrast-color);
        }

        &.kbq-contrast-fade {
            color: var(--kbq-icon-fade-contrast-color);
        }

        &.kbq-error {
            color: var(--kbq-icon-error-color);
        }

        &.kbq-warning {
            color: var(--kbq-icon-warning-color);
        }

        &.kbq-success {
            color: var(--kbq-icon-success-color);
        }
    }
}
