/* stylelint-disable block-no-empty */
.kbq-icon {
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-icon-theme-color: hsla(216, 100%, 50%, 100%);
    --kbq-icon-contrast-color: hsla(229, 15%, 15%, 100%);
    --kbq-icon-fade-contrast-color: hsla(229, 15%, 60%, 100%);
    --kbq-icon-error-color: hsla(7, 97%, 45%, 100%);
    --kbq-icon-success-color: hsla(104, 64%, 40%, 100%);
    --kbq-icon-warning-color: hsla(38, 100%, 42%, 100%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-icon-theme-color: hsla(216, 100%, 65%, 100%);
    --kbq-icon-contrast-color: hsla(229, 15%, 80%, 100%);
    --kbq-icon-fade-contrast-color: hsla(229, 15%, 45%, 100%);
    --kbq-icon-error-color: hsla(7, 97%, 60%, 100%);
    --kbq-icon-success-color: hsla(104, 64%, 45%, 100%);
    --kbq-icon-warning-color: hsla(38, 100%, 60%, 100%);
}
