.kbq-icon-button {
    --kbq-icon-button-size-horizontal-padding: var(--kbq-size-s);
    --kbq-icon-button-size-left-icon-padding: var(--kbq-size-xs);
    --kbq-icon-button-size-normal-horizontal-padding: 0;
    --kbq-icon-button-size-normal-vertical-padding: 0;
    --kbq-icon-button-size-small-horizontal-padding: var(--kbq-size-xxs);
    --kbq-icon-button-size-small-vertical-padding: var(--kbq-size-xxs);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-icon-button-theme-default: var(--kbq-icon-theme);
    --kbq-icon-button-theme-states-hover: var(--kbq-states-icon-theme-hover);
    --kbq-icon-button-theme-states-active: var(--kbq-states-icon-theme-active);
    --kbq-icon-button-theme-states-disabled: var(--kbq-states-icon-disabled);
    --kbq-icon-button-contrast-default: var(--kbq-icon-contrast);
    --kbq-icon-button-contrast-states-hover: var(--kbq-states-icon-contrast-hover);
    --kbq-icon-button-contrast-states-active: var(--kbq-states-icon-contrast-active);
    --kbq-icon-button-contrast-states-disabled: var(--kbq-states-icon-disabled);
    --kbq-icon-button-fade-contrast-default: var(--kbq-icon-contrast-fade);
    --kbq-icon-button-fade-contrast-states-hover: var(--kbq-states-icon-contrast-fade-hover);
    --kbq-icon-button-fade-contrast-states-active: var(--kbq-states-icon-contrast-fade-active);
    --kbq-icon-button-fade-contrast-states-disabled: var(--kbq-states-icon-disabled);
    --kbq-icon-button-error-default: var(--kbq-icon-error);
    --kbq-icon-button-error-states-hover: var(--kbq-states-icon-error-hover);
    --kbq-icon-button-error-states-active: var(--kbq-states-icon-error-active);
    --kbq-icon-button-error-states-disabled: var(--kbq-states-icon-disabled);
    --kbq-icon-button-success-default: var(--kbq-icon-success);
    --kbq-icon-button-success-states-hover: var(--kbq-states-icon-success-hover);
    --kbq-icon-button-success-states-active: var(--kbq-states-icon-success-active);
    --kbq-icon-button-success-states-disabled: var(--kbq-states-icon-disabled);
    --kbq-icon-button-warning-default: var(--kbq-icon-warning);
    --kbq-icon-button-warning-states-hover: var(--kbq-states-icon-warning-hover);
    --kbq-icon-button-warning-states-active: var(--kbq-states-icon-warning-active);
    --kbq-icon-button-warning-states-disabled: var(--kbq-states-icon-disabled);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-icon-button-theme-default: var(--kbq-icon-theme);
    --kbq-icon-button-theme-states-hover: var(--kbq-states-icon-theme-hover);
    --kbq-icon-button-theme-states-active: var(--kbq-states-icon-theme-active);
    --kbq-icon-button-theme-states-disabled: var(--kbq-states-icon-disabled);
    --kbq-icon-button-contrast-default: var(--kbq-icon-contrast);
    --kbq-icon-button-contrast-states-hover: var(--kbq-states-icon-contrast-hover);
    --kbq-icon-button-contrast-states-active: var(--kbq-states-icon-contrast-active);
    --kbq-icon-button-contrast-states-disabled: var(--kbq-states-icon-disabled);
    --kbq-icon-button-fade-contrast-default: var(--kbq-icon-contrast-fade);
    --kbq-icon-button-fade-contrast-states-hover: var(--kbq-states-icon-contrast-fade-hover);
    --kbq-icon-button-fade-contrast-states-active: var(--kbq-states-icon-contrast-fade-active);
    --kbq-icon-button-fade-contrast-states-disabled: var(--kbq-states-icon-disabled);
    --kbq-icon-button-error-default: var(--kbq-icon-error);
    --kbq-icon-button-error-states-hover: var(--kbq-states-icon-error-hover);
    --kbq-icon-button-error-states-active: var(--kbq-states-icon-error-active);
    --kbq-icon-button-error-states-disabled: var(--kbq-states-icon-disabled);
    --kbq-icon-button-success-default: var(--kbq-icon-success);
    --kbq-icon-button-success-states-hover: var(--kbq-states-icon-success-hover);
    --kbq-icon-button-success-states-active: var(--kbq-states-icon-success-active);
    --kbq-icon-button-success-states-disabled: var(--kbq-states-icon-disabled);
    --kbq-icon-button-warning-default: var(--kbq-icon-warning);
    --kbq-icon-button-warning-states-hover: var(--kbq-states-icon-warning-hover);
    --kbq-icon-button-warning-states-active: var(--kbq-states-icon-warning-active);
    --kbq-icon-button-warning-states-disabled: var(--kbq-states-icon-disabled);
}
