/* stylelint-disable no-unknown-custom-properties */

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-icon-theme-color: var(--kbq-icon-theme);
    --kbq-icon-contrast-color: var(--kbq-icon-contrast);
    --kbq-icon-fade-contrast-color: var(--kbq-icon-contrast-fade);
    --kbq-icon-error-color: var(--kbq-icon-error);
    --kbq-icon-success-color: var(--kbq-icon-success);
    --kbq-icon-warning-color: var(--kbq-icon-warning);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-icon-theme-color: var(--kbq-icon-theme);
    --kbq-icon-contrast-color: var(--kbq-icon-contrast);
    --kbq-icon-fade-contrast-color: var(--kbq-icon-contrast-fade);
    --kbq-icon-error-color: var(--kbq-icon-error);
    --kbq-icon-success-color: var(--kbq-icon-success);
    --kbq-icon-warning-color: var(--kbq-icon-warning);
}
