@use '../core/styles/common/tokens' as *;

@use './icon-item-theme' as *;

.kbq-icon-item {
    box-sizing: border-box;

    border-radius: 50%;

    &.kbq-icon-item_normal {
        padding: var(--kbq-icon-item-size-normal-vertical-padding) var(--kbq-icon-item-size-normal-horizontal-padding);
    }

    &.kbq-icon-item_big {
        padding: var(--kbq-icon-item-size-big-vertical-padding) var(--kbq-icon-item-size-big-horizontal-padding);
    }
}

@include kbq-icon-item-theme();
