@use '../core/styles/common/tokens' as *;

@use './icon-button-theme' as *;

.kbq-icon-button {
    &:not(.kbq-disabled) {
        cursor: pointer;
    }

    padding: var(--kbq-icon-button-size-normal-vertical-padding) var(--kbq-icon-button-size-normal-horizontal-padding);

    &.kbq-icon-button_small {
        padding: var(--kbq-icon-button-size-small-vertical-padding) var(--kbq-icon-button-size-small-horizontal-padding);
    }
}

button.kbq-icon-button {
    border: none;
    background-color: unset;
}

@include kbq-icon-button-theme();
