.kbq-icon-item {
    --kbq-icon-item-size-normal-horizontal-padding: 8px;
    --kbq-icon-item-size-normal-vertical-padding: 8px;
    --kbq-icon-item-size-big-horizontal-padding: 16px;
    --kbq-icon-item-size-big-vertical-padding: 16px;
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-icon-item-filled-fade-off-theme-color: hsla(0, 0%, 100%, 100%);
    --kbq-icon-item-filled-fade-off-theme-background: hsla(216, 100%, 50%, 100%);
    --kbq-icon-item-filled-fade-off-contrast-color: hsla(229, 15%, 100%, 100%);
    --kbq-icon-item-filled-fade-off-contrast-background: hsla(229, 15%, 25%, 100%);
    --kbq-icon-item-filled-fade-off-error-color: hsla(0, 0%, 100%, 100%);
    --kbq-icon-item-filled-fade-off-error-background: hsla(7, 97%, 60%, 100%);
    --kbq-icon-item-filled-fade-off-warning-color: hsla(0, 0%, 100%, 100%);
    --kbq-icon-item-filled-fade-off-warning-background: hsla(38, 100%, 50%, 100%);
    --kbq-icon-item-filled-fade-off-success-color: hsla(0, 0%, 100%, 100%);
    --kbq-icon-item-filled-fade-off-success-background: hsla(104, 64%, 45%, 100%);
    --kbq-icon-item-filled-fade-on-theme-color: hsla(216, 100%, 50%, 100%);
    --kbq-icon-item-filled-fade-on-theme-background: hsla(216, 100%, 85%, 100%);
    --kbq-icon-item-filled-fade-on-contrast-color: hsla(229, 15%, 15%, 100%);
    --kbq-icon-item-filled-fade-on-contrast-background: hsla(229, 15%, 92%, 100%);
    --kbq-icon-item-filled-fade-on-error-color: hsla(7, 97%, 45%, 100%);
    --kbq-icon-item-filled-fade-on-error-background: hsla(7, 97%, 90%, 100%);
    --kbq-icon-item-filled-fade-on-warning-color: hsla(38, 100%, 42%, 100%);
    --kbq-icon-item-filled-fade-on-warning-background: hsla(38, 100%, 85%, 100%);
    --kbq-icon-item-filled-fade-on-success-color: hsla(104, 64%, 40%, 100%);
    --kbq-icon-item-filled-fade-on-success-background: hsla(104, 64%, 80%, 100%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-icon-item-filled-fade-off-theme-color: hsla(0, 0%, 100%, 100%);
    --kbq-icon-item-filled-fade-off-theme-background: hsla(216, 100%, 50%, 100%);
    --kbq-icon-item-filled-fade-off-contrast-color: hsla(229, 15%, 15%, 100%);
    --kbq-icon-item-filled-fade-off-contrast-background: hsla(229, 15%, 90%, 100%);
    --kbq-icon-item-filled-fade-off-error-color: hsla(0, 0%, 100%, 100%);
    --kbq-icon-item-filled-fade-off-error-background: hsla(7, 97%, 41%, 100%);
    --kbq-icon-item-filled-fade-off-warning-color: hsla(0, 0%, 100%, 100%);
    --kbq-icon-item-filled-fade-off-warning-background: hsla(38, 100%, 39%, 100%);
    --kbq-icon-item-filled-fade-off-success-color: hsla(0, 0%, 100%, 100%);
    --kbq-icon-item-filled-fade-off-success-background: hsla(104, 64%, 40%, 100%);
    --kbq-icon-item-filled-fade-on-theme-color: hsla(216, 100%, 65%, 100%);
    --kbq-icon-item-filled-fade-on-theme-background: hsla(216, 100%, 20%, 100%);
    --kbq-icon-item-filled-fade-on-contrast-color: hsla(229, 15%, 80%, 100%);
    --kbq-icon-item-filled-fade-on-contrast-background: hsla(229, 15%, 25%, 100%);
    --kbq-icon-item-filled-fade-on-error-color: hsla(7, 97%, 60%, 100%);
    --kbq-icon-item-filled-fade-on-error-background: hsla(7, 97%, 15%, 100%);
    --kbq-icon-item-filled-fade-on-warning-color: hsla(38, 100%, 60%, 100%);
    --kbq-icon-item-filled-fade-on-warning-background: hsla(38, 100%, 14%, 100%);
    --kbq-icon-item-filled-fade-on-success-color: hsla(104, 64%, 45%, 100%);
    --kbq-icon-item-filled-fade-on-success-background: hsla(104, 64%, 12%, 100%);
}
