.kbq-actions-panel-container {
    background: var(--kbq-actions-panel-background-color);
    color: var(--kbq-actions-panel-text-color);
    box-shadow: var(--kbq-actions-panel-box-shadow);
    height: var(--kbq-actions-panel-height);
    padding: var(--kbq-actions-panel-padding);
    border-radius: var(--kbq-actions-panel-border-radius);
    display: flex;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;

    .kbq-actions-panel-container__content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
    }

    .kbq-actions-panel-container__vertical-divider {
        background-color: var(--kbq-actions-panel-vertical-divider-background-color);
        height: var(--kbq-actions-panel-vertical-divider-height) !important;
        margin: var(--kbq-actions-panel-vertical-divider-margin);
    }
}

.kbq-actions-panel-overlay {
    margin: var(--kbq-actions-panel-margin);
}
