.kbq-actions-panel-container {
    --kbq-actions-panel-background-color: var(--kbq-background-contrast);
    --kbq-actions-panel-text-color: var(--kbq-foreground-on-contrast);
    --kbq-actions-panel-padding: var(--kbq-size-s);
    --kbq-actions-panel-margin: var(--kbq-size-s);
    --kbq-actions-panel-border-radius: var(--kbq-size-l);
    --kbq-actions-panel-box-shadow: var(--kbq-shadow-card);
    --kbq-actions-panel-height: var(--kbq-size-5xl);
    /** Divider */
    --kbq-actions-panel-vertical-divider-background-color: var(--kbq-line-contrast-fade);
    --kbq-actions-panel-vertical-divider-height: var(--kbq-size-m);
    --kbq-actions-panel-vertical-divider-margin: 0 var(--kbq-size-s);
}
