@use '../core/styles/common/animation';
@use '../core/styles/common/squircle' as *;

$easing: cubic-bezier(0.4, 0, 0.2, 1);

.kbq-actions-panel-container {
    background: var(--kbq-actions-panel-background-color);
    color: var(--kbq-actions-panel-text-color);
    box-shadow: var(--kbq-actions-panel-box-shadow);
    height: var(--kbq-actions-panel-height);
    padding: var(--kbq-actions-panel-padding);
    @include kbq-squircle(var(--kbq-actions-panel-border-radius));
    display: flex;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;

    transform: translateY(100%);
    transition: transform 150ms $easing;

    @include animation.kbq-animations-off();

    &.kbq-actions-panel-container_visible {
        transform: none;
        animation: kbq-actions-panel-enter 125ms $easing;

        @include animation.kbq-animations-off();
    }

    .kbq-actions-panel-container__content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
    }

    .kbq-actions-panel-container__vertical-divider {
        background-color: var(--kbq-actions-panel-vertical-divider-background-color);
        height: var(--kbq-actions-panel-vertical-divider-height) !important;
        margin: var(--kbq-actions-panel-vertical-divider-margin);
    }

    .kbq-button,
    .kbq-button-icon {
        --kbq-button-filled-contrast-fade-off-background: transparent;
        --kbq-button-filled-contrast-fade-on-background: transparent;
    }
}

.kbq-actions-panel-overlay {
    margin: var(--kbq-actions-panel-margin);
}

@keyframes kbq-actions-panel-enter {
    from {
        transform: translateY(100%);
    }
}
