@use '../main';

body {
    margin: 0;
}

.kbq-vertical-navbar {
    height: 700px;
}

.vertical-navbar-container {
    display: flex;
    flex-direction: row;

    height: 700px;
}

.vertical-navbar-content {
    flex: 1;
    border: 1px solid red;
}
