:host {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 250px;
    --tab-nav-selected: var(--kbq-tabs-tab-item-filled-on-background-states-selected-background);
}

.example-tab-nav-bar {
    width: 240px;
}

.example-tab-link {
    display: inline-block;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.example-tab-close {
    position: absolute;
    right: calc(var(--kbq-tabs-size-tab-item-padding-horizontal) - var(--kbq-tabs-size-tab-item-focus-outline-width));
    top: 0;
    bottom: 0;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(var(--tab-nav-selected), var(--tab-nav-selected)), var(--kbq-background-bg);
    mask-image: linear-gradient(to right, transparent 0%, black 50%);
}

.example-tabs-add-tab-vertical__content {
    flex: 1;
    padding: var(--kbq-size-m);
    overflow: auto;
}
