:host {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 300px;
    --tab-nav-selected: var(--kbq-tabs-tab-item-filled-on-background-states-selected-background);
}

.example-tab-nav-bar {
    width: 240px;
}

.example-tab-close {
    position: absolute;
    right: calc(var(--kbq-tabs-size-tab-item-padding-horizontal) - var(--kbq-tabs-size-tab-item-focus-outline-width));
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.example-tab-close .kbq-icon-button {
    display: flex;
    background: linear-gradient(var(--tab-nav-selected), var(--tab-nav-selected)), var(--kbq-background-bg);
}

.example-tab-close__gradient {
    width: var(--kbq-size-3xl);
    height: 100%;
    margin-right: calc(var(--kbq-size-xs) * -1);
    background: var(--kbq-background-bg);
    mask-image: linear-gradient(to right, transparent, black);
}

.kbq-tab-nav-bar .example-tab-close__gradient {
    background: linear-gradient(var(--tab-nav-selected), var(--tab-nav-selected)), var(--kbq-background-bg);
}

.example-tabs-add-tab-vertical__content {
    flex: 1;
    padding: var(--kbq-size-m);
    overflow: auto;
}
