.example-badge-fill-and-style {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: calc(100px * 5 + 16px * 4);
}

.example-badge-fill-and-style__badge-label {
    color: var(--kbq-foreground-contrast-secondary);
    margin-bottom: 8px;
}

.example-badge-fill-and-style__badge {
    width: 100px;
}
