.dev-row {
    display: flex;

    flex-direction: row;

    flex-wrap: wrap;
}

.dev-box {
    min-width: 30%;
    width: 30%;

    margin: 20px;
}

.kbq-badge {
    margin-right: 15px;
}

.kbq-alert {
    margin-bottom: 15px;
}

.dev-lines {
    flex-grow: 1;
    margin-top: 8px;
}

.dev-line-container:not(:first-child) {
    margin-top: 16px;
}

.dev-container {
    display: flex;
    align-items: center;

    .dev-spinners {
        display: flex;
        flex-grow: 1;
        margin-top: 8px;
        list-style: none;
        padding: 0;
    }

    .dev-spinner-container {
        margin-left: 16px;
    }

    .dev-line-container:not(:first-child) {
        margin-top: 16px;
    }
}

.dev-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.dev-radio-button {
    margin-bottom: 10px;
}

.dev-selected-value {
    margin: 15px 0;
}

.kbq-tag {
    margin-right: 4px;
}

.dev-container .kbq-form-field {
    width: 200px;
}

.dev-toggle-demo-container {
    margin-bottom: 8px;
}

.dev-toggles-container {
    max-width: 500px;
}

.kbq-tree-selection {
    overflow-y: auto;
}
