.dev-horizontal-block {
    height: 100px;
    border: 1px solid black;
}

.dev-vertical-block {
    height: 300px;
    border: 1px solid black;
}

.dev-min-width-enabled {
    min-width: 200px;
}

.dev-min-height-enabled {
    min-height: 30px;
}

div[kbq-splitter-area] {
    background: #c5c0c0;
}

// custom color
kbq-splitter.dev-custom-color > kbq-gutter {
    background-color: #03a9f4;
    color: white;
}

// custom gutter image
kbq-splitter.dev-custom-gutter > kbq-gutter {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

kbq-splitter.dev-custom-color > kbq-gutter:hover {
    background-color: #8bc34a;
    color: black;
}

kbq-splitter.dev-custom-gutter > kbq-gutter > i {
    display: none;
}
