@use '../dist/components/core/styles/typography';


@mixin kbq-docs-welcome-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .docs-footer__label {
        color: map-get($foreground, contrast-secondary);
    }

    .docs-welcome__category-item-title {
        color: map-get($foreground, contrast-secondary);

        //&:hover {
        //    color: map-get($background, contrast-tertiary);
        //}
    }
}

@mixin kbq-docs-welcome-typography($config) {
    .docs-welcome__header {
        @include typography.kbq-typography-level-to-styles($config, headline);
    }

    .docs-welcome__description {
        @include typography.kbq-typography-level-to-styles($config, text-big);
    }

    .docs-welcome__category-title {
        @include typography.kbq-typography-level-to-styles($config, title);
    }

    .docs-welcome__category-item-title {
        @include typography.kbq-typography-level-to-styles($config, text-big);
    }
}
