@use '../dist/components/core/styles/common/tokens';

@mixin kbq-docs-welcome-theme() {
    .docs-footer__label {
        color: var(--kbq-foreground-contrast-secondary);
    }

    .docs-welcome__category-item-title {
        color: var(--kbq-foreground-contrast-secondary);
    }

    .docs-welcome__category-item:hover {
        .docs-welcome__category-item-title {
            color: var(--kbq-states-foreground-theme-hover);
        }
    }

    .docs-welcome__category-item:focus {
        border-color: var(--kbq-states-focused-color);
    }
}

@mixin kbq-docs-welcome-typography() {
    .docs-welcome__header {
        font-family: Inter;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: normal;
        font-weight: 700;
        text-transform: none;
        font-feature-settings:
            'ss01' on,
            'ss04' on;
    }

    .docs-welcome__description {
        @include tokens.kbq-typography-level-to-styles_css-variables(typography, text-big);
    }

    .docs-welcome__category-title {
        @include tokens.kbq-typography-level-to-styles_css-variables(typography, title);
    }

    .docs-welcome__category-item-title {
        @include tokens.kbq-typography-level-to-styles_css-variables(typography, text-big);
    }
}
