@use 'components/core/styles/typography';


@mixin kbq-docs-welcome-theme($theme) {
    $foreground: map-get($theme, foreground);

    .docs-footer__label {
        color: map-get($foreground, contrast-secondary);
    }
}

@mixin kbq-docs-welcome-typography($config) {
    .docs-welcome__header {
        @include typography.kbq-typography-level-to-styles($config, headline);
    }

    .docs-welcome__article-header {
        @include typography.kbq-typography-level-to-styles($config, title);
    }

    .docs-welcome__article-text {
        @include typography.kbq-typography-level-to-styles($config, text-big);
    }
}
