@use 'sass:map';

@use '../dist/components/core/styles/typography';

@mixin kbq-docs-welcome-theme($theme) {
    $foreground: map.get($theme, foreground);

    .docs-footer__label {
        color: map.get($foreground, contrast-secondary);
    }

    .docs-welcome__category-item-title {
        color: map.get($foreground, contrast-secondary);
    }

    .docs-welcome__category-item:hover {
        .docs-welcome__category-item-title {
            color: map.get($theme, states, foreground, theme-hover);
        }
    }

    .docs-welcome__category-item:focus {
        border-color: map.get(map.get($theme, states), focused-color);
    }
}

@mixin kbq-docs-welcome-typography($config) {
    .docs-welcome__header {
        font-family: Inter;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: normal;
        font-weight: 700;
        text-transform: none;
        font-feature-settings:
            'ss01' on,
            'ss04' on;
    }

    .docs-welcome__description {
        @include typography.kbq-typography-level-to-styles($config, text-big);
    }

    .docs-welcome__category-title {
        @include typography.kbq-typography-level-to-styles($config, title);
    }

    .docs-welcome__category-item-title {
        @include typography.kbq-typography-level-to-styles($config, text-big);
    }
}
