.docs-welcome {
    display: flex;
    flex-direction: column;

    flex: 1;

    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

    min-width: 0;

    padding-bottom: 160px;
    padding-left: 160px;
}

.docs-welcome__header {
    max-width: 900px;
}

.docs-welcome__description {
    max-width: 900px;
    margin-top: var(--kbq-size-xxl);
}

.docs-welcome__category {
    margin-top: var(--kbq-size-5xl);
    max-width: 1300px;
}

.docs-welcome__category-items {
    flex-wrap: wrap;

    gap: var(--kbq-size-4xl);
}

.docs-welcome__category-item {
    width: 200px;
    text-decoration: none;
}

.docs-welcome__category-item-preview {
    width: 100%;
    height: auto;
}

.docs-welcome__category-item-title {
    margin-top: var(--kbq-size-m);
}

@media (width < 768px) {
    .docs-welcome {
        padding: var(--kbq-size-l) var(--kbq-size-l) 160px;
    }

    .docs-welcome__category-items {
        gap: var(--kbq-size-l);
    }

    .docs-welcome__category-item {
        width: calc(50% - var(--kbq-size-l) / 2);
    }
}

@media (768px <= width < 1200px) {
    .docs-welcome {
        padding: 0 var(--kbq-size-xxl) 160px var(--kbq-size-xxl);
    }
}

@media (1200px <= width < 1920px) {
    .docs-welcome {
        padding: 0 var(--kbq-size-7xl) 160px var(--kbq-size-7xl);
    }
}
