@use 'sass:meta';
@use 'sass:map';

@use '../../../styles/koobiq/default-theme/theme' as *;
@use '../../../styles/koobiq/default-theme/variables' as *;

.docs-welcome {
    display: flex;
    flex-direction: column;

    flex: 1;

    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

    min-width: 0;

    padding-bottom: 160px;
    padding-left: 160px;
}

.docs-welcome__image {
    min-width: 0;
    width: 100%;
    max-width: 1024px;
}

.docs-welcome__header {
    padding-bottom: $size-xxl;
}

.docs-welcome__description {
    max-width: 900px;
}

.docs-welcome__category {
    margin-top: $size-5xl;

    &-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: $size-4xl;
    }

    &-items {
        margin-top: $size-m;
    }

    &-item {
        width: 200px;
    }

    &-item-preview {
        width: 100%;
        height: 140px;
    }

    &-item-title {
        color: map.get(map.get($dark, foreground), contrast-secondary);
        margin-top: $size-m;
    }
}

.docs-welcome__articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: $size-4xl;
}

.docs-welcome__article {
    .docs-welcome__article-header {
        margin-bottom: $size-s;
    }
}

@media (width <= 768px) {
    .docs-welcome {
        padding: $size-l $size-l $size-3xl;
    }

    .docs-welcome__header {
        padding-top: $size-3xl;
        padding-bottom: $size-4xl;
    }

    .docs-welcome__articles {
        gap: $size-xxl;
        flex-direction: column;
    }

    .docs-welcome__image,
    .docs-welcome__header,
    .docs-welcome__articles {
        min-width: 343px;
        max-width: 700px;
    }
}

@media (769px <= width <= 1200px) {
    .docs-welcome {
        padding: $size-l $size-xxl $size-7xl;
    }

    .docs-welcome__articles {
        flex-direction: column;
    }

    .docs-welcome__image,
    .docs-welcome__header,
    .docs-welcome__articles {
        min-width: 480px;
        max-width: 772px;
    }
}

@media (1200px <= width <= 1919px) {
    .docs-welcome {
        padding: 0 $size-7xl 160px $size-7xl;
    }

    .docs-welcome__article {
        min-width: 370px;
        width: 370px;
    }

    .docs-welcome__image,
    .docs-welcome__header,
    .docs-welcome__articles {
        min-width: 772px;
        max-width: 1024px
    }
}

@media (width >= 1920px) {
    .docs-welcome__image,
    .docs-welcome__header,
    .docs-welcome__articles {
        max-width: 1024px;
    }

    .docs-welcome__article {
        min-width: 496px;
        width: 496px;
    }
}
