@use 'sass:meta';
@use 'sass:map';

@use '../../../styles/koobiq/default-theme/theme' as *;
@use '../../../styles/koobiq/default-theme/variables' as *;

.docs-welcome {
    display: flex;
    flex-direction: column;

    flex: 1;

    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

    min-width: 0;

    padding-bottom: 160px;
    padding-left: 160px;
    max-width: 1300px;
}

.docs-welcome__header {
    max-width: 900px;
}

.docs-welcome__description {
    max-width: 900px;
    margin-top: $size-xxl;
}

.docs-welcome__category {
    margin-top: $size-5xl;

    &-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: $size-l;

        gap: $size-4xl;
    }

    &-item {
        width: 200px;
        cursor: pointer;
    }

    &-item-preview {
        width: 100%;
        height: auto;
    }

    &-item-title {
        margin-top: $size-m;
    }
}

@media (width < 768px) {
    .docs-welcome {
        padding: $size-l $size-l 160px;
    }

    .docs-welcome__category-items {
        gap: $size-l;
    }

    .docs-welcome__category-item {
        width: calc(50% - #{$size-l} / 2);
    }
}

@media (768px <= width < 1200px) {
    .docs-welcome {
        padding: 0 $size-xxl 160px $size-xxl;
    }
}

@media (1200px <= width < 1920px) {
    .docs-welcome {
        padding: 0 $size-7xl 160px $size-7xl;
    }
}

