body {
    margin: 0;
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
}

.dev-shell {
    display: flex;
    flex-direction: row;
    height: 100vh;
    min-width: 0;
    overflow-y: auto;
    scroll-behavior: smooth;

    .dev-sidebar {
        position: sticky;
        top: 0;
        max-height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        max-width: 300px;
        background-color: var(--kbq-background-bg-secondary);
        padding: var(--kbq-size-s);
    }

    .dev-container {
        padding-bottom: 160px;
    }
}
