@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/theming/theming';
@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;

@mixin kbq-datepicker-theme() {
    .kbq-datepicker__content {
        background: kbq-css-variable(datepicker-container-background);
        box-shadow: kbq-css-variable(datepicker-container-box-shadow);
    }

    .kbq-calendar__table-header {
        color: kbq-css-variable(datepicker-header-text);
    }

    .kbq-calendar__table-header-divider::after {
        background: kbq-css-variable(datepicker-header-divider);
    }

    .kbq-calendar__body-cell-content {
        background: kbq-css-variable(datepicker-grid-cell-default-background);
        color: kbq-css-variable(datepicker-grid-cell-default-text);

        &.kbq-calendar__body-today {
            background: kbq-css-variable(datepicker-grid-cell-today-background);
            color: kbq-css-variable(datepicker-grid-cell-today-text);
        }

        &:hover:not(.kbq-disabled) {
            background: kbq-css-variable(datepicker-grid-cell-states-hover-background);
        }

        &:active:not(.kbq-disabled) {
            background: kbq-css-variable(datepicker-grid-cell-states-active-background);
        }

        &.kbq-selected:not(.kbq-disabled) {
            background: kbq-css-variable(datepicker-grid-cell-states-selected-background);
            color: kbq-css-variable(datepicker-grid-cell-states-selected-text);

            &:hover {
                background: kbq-css-variable(datepicker-grid-cell-states-selected-hover-background);
            }
        }

        &.kbq-disabled {
            color: kbq-css-variable(states-foreground-disabled);
            background: kbq-css-variable(datepicker-grid-cell-states-disabled-background);
        }
    }
}

@mixin kbq-datepicker-typography() {
    .kbq-calendar {
        @include kbq-typography-css-variables(datepicker, text);
    }

    .kbq-calendar__table-header th {
        @include kbq-typography-css-variables(datepicker, text);
    }
}
