@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/theming/theming';
@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;

@mixin kbq-datepicker-theme($theme) {
    $datepicker: map.get(map.get($theme, components), datepicker);

    .kbq-datepicker__content {
        background: kbq-css-variable(datepicker-container-background, map.get($datepicker, container, background));
        box-shadow: kbq-css-variable(datepicker-container-bo-shadow, map.get($datepicker, container, box-shadow));
    }

    .kbq-calendar__table-header {
        color: kbq-css-variable(datepicker-header-text, map.get($datepicker, header, text));
    }

    .kbq-calendar__table-header-divider::after {
        background: kbq-css-variable(datepicker-header-divider, map.get($datepicker, header, divider));
    }

    .kbq-calendar__body-cell-content {
        background: kbq-css-variable(
            datepicker-cell-default-background,
            map.get($datepicker, cell, default, background)
        );
        color: kbq-css-variable(datepicker-cell-default-text, map.get($datepicker, cell, default, text));

        &.kbq-calendar__body-today {
            background: kbq-css-variable(
                datepicker-cell-today-background,
                map.get($datepicker, cell, today, background)
            );
            color: kbq-css-variable(datepicker-cell-today-text, map.get($datepicker, cell, today, text));
        }

        &:hover:not(.kbq-disabled) {
            background: kbq-css-variable(
                datepicker-cell-hover-background,
                map.get($datepicker, cell, hover, background)
            );
        }

        &:active:not(.kbq-disabled) {
            background: kbq-css-variable(
                datepicker-cell-active-background,
                map.get($datepicker, cell, active, background)
            );
        }

        &.kbq-selected:not(.kbq-disabled) {
            background: kbq-css-variable(
                datepicker-cell-selected-background,
                map.get($datepicker, cell, selected, background)
            );
            color: kbq-css-variable(datepicker-cell-selected-text, map.get($datepicker, cell, selected, text));

            &:hover {
                background: kbq-css-variable(
                    datepicker-cell-selected-hover-background,
                    map.get($datepicker, cell, selected-hover, background)
                );
            }
        }

        &.kbq-disabled {
            color: kbq-css-variable(states-foreground-disabled, map.get($theme, states, foreground, disabled));
            background: kbq-css-variable(
                datepicker-cell-disabled-background,
                map.get($datepicker, cell, disabled, background)
            );
        }
    }
}

@mixin kbq-datepicker-typography($config) {
    .kbq-calendar {
        @include kbq-typography-css-variables(datepicker, text);
    }

    .kbq-calendar__table-header th {
        @include kbq-typography-css-variables(datepicker, text);
    }
}
