@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

.kbq-calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-right: kbq-css-variable(datepicker-size-header-padding-horizontal);

    padding-left: kbq-css-variable(datepicker-size-header-padding-horizontal);

    margin-bottom: kbq-css-variable(datepicker-size-header-margin-bottom);
}

.kbq-calendar-header__select {
    width: auto !important;
}

.kbq-calendar-header__select-value {
    &:first-letter {
        text-transform: uppercase;
    }
}

.kbq-calendar-header__button-group,
.kbq-calendar-header__select-group {
    display: flex;
    flex-direction: row;
}

.kbq-calendar-select-panel {
    margin-top: 2px;

    min-width: 98% !important;

    & .kbq-select__content {
        max-height: 12 * 32px;
        overflow-x: hidden;
        scrollbar-gutter: auto;

        .kbq-option {
            min-width: 65px;
        }
    }
}
