@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

.kbq-datepicker-toggle:focus {
    outline: 0;
}

.kbq-datepicker-toggle__button.kbq-button-icon {
    // TODO: no such tokens in design-tokens, component needs to be reviewed
    width: kbq-css-variable(datepicker-toggle-size-width);
    height: kbq-css-variable(datepicker-toggle-size-height);
    margin-left: 2px;
}

.kbq-form-field-appearance-legacy {
    .kbq-form-field-prefix,
    .kbq-form-field-suffix {
        .kbq-datepicker-toggle__default-icon {
            width: 1em;
        }
    }
}

.kbq-form-field:not(.kbq-form-field-appearance-legacy) {
    .kbq-form-field-prefix,
    .kbq-form-field-suffix {
        .kbq-datepicker-toggle__default-icon {
            display: block;
            width: 1.5em;
            height: 1.5em;
        }

        .kbq-button-icon .kbq-datepicker-toggle__default-icon {
            margin: auto;
        }
    }
}
