.kbq-datepicker__content {
    --kbq-datepicker-size-container-padding-vertical: var(--kbq-size-m);
    --kbq-datepicker-size-container-border-radius: var(--kbq-size-s);
    --kbq-datepicker-size-header-padding-horizontal: var(--kbq-size-xxs);
    --kbq-datepicker-size-header-margin-bottom: var(--kbq-size-3xs);
    --kbq-datepicker-size-grid-padding-horizontal: var(--kbq-size-m);
    --kbq-datepicker-size-grid-content-gap-vertical: var(--kbq-size-3xs);
    --kbq-datepicker-size-grid-divider-height: 1px;
    --kbq-datepicker-size-grid-cell-padding-horizontal: var(--kbq-size-s);
    --kbq-datepicker-size-grid-cell-padding-vertical: var(--kbq-size-s);
    --kbq-datepicker-size-grid-cell-border-radius: var(--kbq-size-s);
    --kbq-datepicker-font-text-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-datepicker-font-text-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-datepicker-font-text-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-datepicker-font-text-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-datepicker-font-text-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-datepicker-font-text-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-datepicker-font-text-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-datepicker-container-background: var(--kbq-background-card);
    --kbq-datepicker-container-shadow: var(--kbq-shadow-popup);
    --kbq-datepicker-header-text: var(--kbq-foreground-contrast-tertiary);
    --kbq-datepicker-header-divider: var(--kbq-line-contrast-less);
    --kbq-datepicker-grid-cell-default-background: transparent;
    --kbq-datepicker-grid-cell-default-text: var(--kbq-foreground-contrast);
    --kbq-datepicker-grid-cell-today-background: transparent;
    --kbq-datepicker-grid-cell-today-text: var(--kbq-foreground-theme);
    --kbq-datepicker-grid-cell-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-datepicker-grid-cell-states-active-background: var(--kbq-states-background-transparent-active);
    --kbq-datepicker-grid-cell-states-selected-background: var(--kbq-background-contrast);
    --kbq-datepicker-grid-cell-states-selected-text: var(--kbq-foreground-white);
    --kbq-datepicker-grid-cell-states-selected-hover-background: var(--kbq-states-background-contrast-active);
    --kbq-datepicker-grid-cell-states-disabled-background: transparent;
    --kbq-datepicker-grid-cell-states-disabled-text: var(--kbq-states-foreground-disabled);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-datepicker-container-background: var(--kbq-background-card);
    --kbq-datepicker-container-shadow: var(--kbq-shadow-popup);
    --kbq-datepicker-header-text: var(--kbq-foreground-contrast-tertiary);
    --kbq-datepicker-header-divider: var(--kbq-line-contrast-less);
    --kbq-datepicker-grid-cell-default-background: transparent;
    --kbq-datepicker-grid-cell-default-text: var(--kbq-foreground-contrast);
    --kbq-datepicker-grid-cell-today-background: transparent;
    --kbq-datepicker-grid-cell-today-text: var(--kbq-foreground-theme);
    --kbq-datepicker-grid-cell-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-datepicker-grid-cell-states-active-background: var(--kbq-states-background-transparent-active);
    --kbq-datepicker-grid-cell-states-selected-background: var(--kbq-background-contrast);
    --kbq-datepicker-grid-cell-states-selected-text: var(--kbq-foreground-on-contrast);
    --kbq-datepicker-grid-cell-states-selected-hover-background: var(--kbq-states-background-contrast-active);
    --kbq-datepicker-grid-cell-states-disabled-background: transparent;
    --kbq-datepicker-grid-cell-states-disabled-text: var(--kbq-states-foreground-disabled);
}
