@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

$kbq-datepicker-non-touch-calendar-cell-size: 40px;
$kbq-datepicker-size-grid-padding-horizontal: kbq-css-variable(
    datepicker-size-grid-padding-horizontal,
    map.get($tokens, datepicker-size-grid-padding-horizontal)
);

$kbq-datepicker-non-touch-calendar-width: calc(
    $kbq-datepicker-non-touch-calendar-cell-size * 7 + $kbq-datepicker-size-grid-padding-horizontal * 2
);
// Based on the natural height of the calendar in a month with 6 rows of dates
// (largest the calendar will get).
$kbq-datepicker-non-touch-calendar-height: 270px;

.kbq-datepicker__content {
    display: block;

    border-radius: kbq-css-variable(datepicker-size-container-border-radius);

    .kbq-calendar {
        width: $kbq-datepicker-non-touch-calendar-width;
        height: $kbq-datepicker-non-touch-calendar-height;

        padding-top: kbq-css-variable(datepicker-size-container-padding-vertical);

        padding-bottom: kbq-css-variable(datepicker-size-container-padding-vertical);
    }
}
