.kbq-radio-group {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.kbq-radio-button {
    margin-bottom: 8px;
}

.example-block {
    border: 1px solid black;
    padding: 8px;
}
