.dev-container {
    margin-top: 32px;
    margin-left: 16px;
}

.dev-toggle-container {
    margin-bottom: 8px;
}

.dev-toggle-fixed {
    width: 200px;

    margin-bottom: 8px;
}

.dev-buttons-container {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
}

.dev-toggles-container {
    max-width: 50%;
}

.dev-toggle-bordered-demo-container {
    border: 1px solid red;

    overflow: hidden;
}
