@use '../core/styles/common/squircle' as *;

.kbq-content-panel {
    display: flex;
    @include kbq-squircle(var(--kbq-content-panel-border-radius));
    background-color: var(--kbq-content-panel-background-color);
    border: var(--kbq-content-panel-border);
    height: 100%;
    box-sizing: border-box;
    position: relative;

    .kbq-content-panel__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        @include kbq-squircle-inherit(border-top-right-radius border-bottom-right-radius);
    }
}
