.kbq-content-panel-container {
    display: flex;
    gap: var(--kbq-size-l);

    overflow: hidden;

    .kbq-content-panel-container__content {
        overflow: auto;
        flex-grow: 1;
    }

    .kbq-content-panel-container__panel {
        padding: 0 var(--kbq-size-s) var(--kbq-size-s) 0;
    }
}
