@use './form-field-theme' as theme;

.kbq-form-field___EXPERIMENTAL {
    display: inline-block;
    width: 100%;

    .kbq-form-field__container {
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-width: var(--kbq-form-field-size-border-width);
        border-style: solid;
        border-color: transparent;
        border-radius: var(--kbq-form-field-size-border-radius);
    }

    .kbq-form-field:not(.kbq-form-field-type-textarea) {
        height: var(--kbq-form-field-size-height);
    }

    &,
    .kbq-input,
    .kbq-textarea {
        border-radius: var(--kbq-form-field-size-border-radius);
    }

    &.kbq-form-field_no-borders .kbq-form-field__container {
        border-color: transparent !important;
        box-shadow: none !important;
    }

    .kbq-form-field__control {
        width: 100%;
        flex-grow: 1;
    }

    .kbq-form-field__label {
        display: flex;
        margin-bottom: var(--kbq-size-s);
    }

    .kbq-form-field__prefix,
    .kbq-form-field__suffix {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--kbq-size-xxs);
    }

    .kbq-form-field__prefix {
        margin-left: var(--kbq-size-s);
    }

    .kbq-form-field__suffix {
        margin-right: var(--kbq-size-s);
    }

    .kbq-form-field__hint {
        display: flex;
        flex-direction: column;
        margin-top: var(--kbq-form-field-hint-size-margin-top);
        gap: var(--kbq-size-xxs);
    }
}

@include theme.kbq-form-field-theme();
@include theme.kbq-form-field-typography();
