.kbq-hint___EXPERIMENTAL {
    --kbq-hint-size-normal-margin-top: var(--kbq-size-3xs);
    --kbq-hint-size-normal-content-padding: var(--kbq-size-xxs);
    --kbq-hint-size-compact-margin-top: 0;
    --kbq-hint-size-compact-content-padding: var(--kbq-size-xxs);
    /* THEME TOKENS */
    --kbq-hint-fill-text-off-fade-contrast-text: var(--kbq-foreground-contrast);
    --kbq-hint-fill-text-off-fade-contrast-icon: var(--kbq-icon-contrast-fade);
    --kbq-hint-fill-text-off-success-text: var(--kbq-foreground-contrast);
    --kbq-hint-fill-text-off-success-icon: var(--kbq-icon-success);
    --kbq-hint-fill-text-off-warning-text: var(--kbq-foreground-contrast);
    --kbq-hint-fill-text-off-warning-icon: var(--kbq-icon-warning);
    --kbq-hint-fill-text-off-error-text: var(--kbq-foreground-contrast);
    --kbq-hint-fill-text-off-error-icon: var(--kbq-icon-error);
    --kbq-hint-fill-text-on-fade-contrast-text: var(--kbq-foreground-contrast);
    --kbq-hint-fill-text-on-fade-contrast-icon: var(--kbq-icon-contrast-fade);
    --kbq-hint-fill-text-on-success-text: var(--kbq-foreground-success);
    --kbq-hint-fill-text-on-success-icon: var(--kbq-icon-success);
    --kbq-hint-fill-text-on-warning-text: var(--kbq-foreground-warning);
    --kbq-hint-fill-text-on-warning-icon: var(--kbq-icon-warning);
    --kbq-hint-fill-text-on-error-text: var(--kbq-foreground-error);
    --kbq-hint-fill-text-on-error-icon: var(--kbq-icon-error);
}
