@use '../../components/core/styles/common/tokens' as *;
@use './hint-theme' as *;

.kbq-hint {
    display: flex;
    align-items: center;
    justify-content: start;

    .kbq-icon {
        margin-right: var(--kbq-hint-size-normal-content-padding);
    }

    &.kbq-hint_compact .kbq-icon {
        margin-right: var(--kbq-hint-size-compact-content-padding);
    }
}

@include kbq-hint-theme();
@include kbq-hint-typography();
