.kbq-password-toggle___EXPERIMENTAL {
    display: flex;
    align-items: center;
    justify-content: center;

    &::-moz-focus-inner {
        border: 0;
    }

    &:focus {
        outline: none;
    }
}
