.kbq-stepper___EXPERIMENTAL {
    // margin used by design to reduce gap between step arrows
    $step-margin: -2px;
    --kbq-form-field-size-icon-button-size: var(--kbq-size-3xl);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .kbq-stepper__step-up {
        margin-bottom: $step-margin;
    }

    .kbq-stepper__step-down {
        margin-top: $step-margin;
    }

    .kbq-stepper__step-up,
    .kbq-stepper__step-down {
        width: var(--kbq-form-field-size-icon-button-size);
        text-align: center;

        &.kbq-disabled {
            pointer-events: none;
        }
    }
}
