.kbq-stepper___EXPERIMENTAL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .kbq-stepper__step-up {
        margin-bottom: -2px;
    }

    .kbq-stepper__step-down {
        margin-top: -2px;
    }

    .kbq-stepper__step-up,
    .kbq-stepper__step-down {
        --kbq-form-field-size-icon-button-size: var(--kbq-size-3xl);

        width: var(--kbq-form-field-size-icon-button-size);
        text-align: center;
    }
}
