.kbq-stepper___EXPERIMENTAL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .kbq-stepper__step-up,
    .kbq-stepper__step-down {
        cursor: pointer;
        width: var(--kbq-form-field-size-icon-button-size);
        text-align: center;
    }

    .kbq-stepper__step-up {
        transform: scaleY(-1);
    }

    .kbq-icon-button.kbq-icon-button_small {
        padding: 0;
    }
}
