.kbq-checkbox {
    --kbq-checkbox-size-normal-width: var(--kbq-size-l);
    --kbq-checkbox-size-normal-border-width: var(--kbq-size-border-width);
    --kbq-checkbox-size-normal-border-radius: var(--kbq-size-xxs);
    --kbq-checkbox-size-normal-horizontal-content-padding: var(--kbq-size-s);
    --kbq-checkbox-size-normal-vertical-content-padding: var(--kbq-size-3xs);
    --kbq-checkbox-size-normal-top: var(--kbq-size-3xs);
    --kbq-checkbox-size-big-width: var(--kbq-size-l);
    --kbq-checkbox-size-big-border-width: var(--kbq-size-border-width);
    --kbq-checkbox-size-big-border-radius: var(--kbq-size-xxs);
    --kbq-checkbox-size-big-horizontal-content-padding: var(--kbq-size-s);
    --kbq-checkbox-size-big-vertical-content-padding: var(--kbq-size-3xs);
    --kbq-checkbox-size-big-top: var(--kbq-size-xxs);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-checkbox-theme-default-border: var(--kbq-line-contrast-fade);
    --kbq-checkbox-theme-default-color: var(--kbq-neutral-white);
    --kbq-checkbox-theme-default-text: var(--kbq-foreground-contrast);
    --kbq-checkbox-theme-default-background: var(--kbq-background-bg);
    --kbq-checkbox-theme-default-caption: var(--kbq-foreground-contrast-secondary);
    --kbq-checkbox-theme-states-hover-border: var(--kbq-line-contrast-fade);
    --kbq-checkbox-theme-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-checkbox-theme-states-checked-border: transparent;
    --kbq-checkbox-theme-states-checked-background: var(--kbq-background-theme);
    --kbq-checkbox-theme-states-checked-hover-border: transparent;
    --kbq-checkbox-theme-states-checked-hover-background: var(--kbq-states-background-theme-hover);
    --kbq-checkbox-theme-states-focused-border: var(--kbq-states-line-focus-theme);
    --kbq-checkbox-theme-states-focused-background: var(--kbq-background-bg);
    --kbq-checkbox-theme-states-focused-outline: 1px solid var(--kbq-states-line-focus-theme);
    --kbq-checkbox-theme-states-checked-focused-border: var(--kbq-states-line-focus-theme);
    --kbq-checkbox-theme-states-checked-focused-background: var(--kbq-background-theme);
    --kbq-checkbox-theme-states-checked-focused-outline: 1px solid var(--kbq-states-line-focus-theme);
    --kbq-checkbox-theme-states-disabled-border: var(--kbq-states-line-disabled);
    --kbq-checkbox-theme-states-disabled-color: var(--kbq-states-icon-disabled);
    --kbq-checkbox-theme-states-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-checkbox-theme-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-checkbox-theme-states-disabled-caption: var(--kbq-states-icon-disabled);
    --kbq-checkbox-error-default-border: var(--kbq-line-error);
    --kbq-checkbox-error-default-color: var(--kbq-neutral-white);
    --kbq-checkbox-error-default-text: var(--kbq-foreground-contrast);
    --kbq-checkbox-error-default-background: var(--kbq-states-background-error-less);
    --kbq-checkbox-error-default-caption: var(--kbq-foreground-contrast-secondary);
    --kbq-checkbox-error-states-hover-border: var(--kbq-line-error);
    --kbq-checkbox-error-states-hover-background: var(--kbq-states-background-error-fade-hover);
    --kbq-checkbox-error-states-checked-border: transparent;
    --kbq-checkbox-error-states-checked-background: var(--kbq-background-error);
    --kbq-checkbox-error-states-checked-hover-border: transparent;
    --kbq-checkbox-error-states-checked-hover-background: var(--kbq-states-background-error-hover);
    --kbq-checkbox-error-states-focused-border: var(--kbq-line-error);
    --kbq-checkbox-error-states-focused-background: var(--kbq-states-background-error-less);
    --kbq-checkbox-error-states-focused-outline: 1px solid var(--kbq-states-line-focus-error);
    --kbq-checkbox-error-states-checked-focused-border: var(--kbq-states-line-focus-error);
    --kbq-checkbox-error-states-checked-focused-background: var(--kbq-background-error);
    --kbq-checkbox-error-states-checked-focused-outline: 1px solid var(--kbq-states-line-focus-error);
    --kbq-checkbox-error-states-disabled-border: var(--kbq-states-line-disabled);
    --kbq-checkbox-error-states-disabled-color: var(--kbq-states-icon-disabled);
    --kbq-checkbox-error-states-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-checkbox-error-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-checkbox-error-states-disabled-caption: var(--kbq-states-icon-disabled);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-checkbox-theme-default-border: var(--kbq-line-contrast-fade);
    --kbq-checkbox-theme-default-color: var(--kbq-neutral-white);
    --kbq-checkbox-theme-default-text: var(--kbq-foreground-contrast);
    --kbq-checkbox-theme-default-background: var(--kbq-background-bg);
    --kbq-checkbox-theme-default-caption: var(--kbq-foreground-contrast-secondary);
    --kbq-checkbox-theme-states-hover-border: var(--kbq-line-contrast-fade);
    --kbq-checkbox-theme-states-hover-background: var(--kbq-states-background-transparent-hover);
    --kbq-checkbox-theme-states-checked-border: transparent;
    --kbq-checkbox-theme-states-checked-background: var(--kbq-background-theme);
    --kbq-checkbox-theme-states-checked-hover-border: transparent;
    --kbq-checkbox-theme-states-checked-hover-background: var(--kbq-states-background-theme-hover);
    --kbq-checkbox-theme-states-focused-border: var(--kbq-states-line-focus-theme);
    --kbq-checkbox-theme-states-focused-background: var(--kbq-background-bg);
    --kbq-checkbox-theme-states-focused-outline: 1px solid var(--kbq-states-line-focus-theme);
    --kbq-checkbox-theme-states-checked-focused-border: var(--kbq-states-line-focus-theme);
    --kbq-checkbox-theme-states-checked-focused-background: var(--kbq-background-theme);
    --kbq-checkbox-theme-states-checked-focused-outline: 1px solid var(--kbq-states-line-focus-theme);
    --kbq-checkbox-theme-states-disabled-border: var(--kbq-line-contrast-fade);
    --kbq-checkbox-theme-states-disabled-color: var(--kbq-states-icon-disabled);
    --kbq-checkbox-theme-states-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-checkbox-theme-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-checkbox-theme-states-disabled-caption: var(--kbq-states-icon-disabled);
    --kbq-checkbox-error-default-border: var(--kbq-line-error);
    --kbq-checkbox-error-default-color: var(--kbq-neutral-white);
    --kbq-checkbox-error-default-text: var(--kbq-foreground-contrast);
    --kbq-checkbox-error-default-background: var(--kbq-states-background-error-less);
    --kbq-checkbox-error-default-caption: var(--kbq-foreground-contrast-secondary);
    --kbq-checkbox-error-states-hover-border: var(--kbq-line-error);
    --kbq-checkbox-error-states-hover-background: var(--kbq-states-background-error-fade-hover);
    --kbq-checkbox-error-states-checked-border: transparent;
    --kbq-checkbox-error-states-checked-background: var(--kbq-background-error);
    --kbq-checkbox-error-states-checked-hover-border: transparent;
    --kbq-checkbox-error-states-checked-hover-background: var(--kbq-states-background-error-hover);
    --kbq-checkbox-error-states-focused-border: var(--kbq-line-error);
    --kbq-checkbox-error-states-focused-background: var(--kbq-states-background-error-less);
    --kbq-checkbox-error-states-focused-outline: 1px solid var(--kbq-states-line-focus-error);
    --kbq-checkbox-error-states-checked-focused-border: var(--kbq-states-line-focus-error);
    --kbq-checkbox-error-states-checked-focused-background: var(--kbq-background-error);
    --kbq-checkbox-error-states-checked-focused-outline: 1px solid var(--kbq-states-line-focus-error);
    --kbq-checkbox-error-states-disabled-border: var(--kbq-line-contrast-fade);
    --kbq-checkbox-error-states-disabled-color: var(--kbq-states-icon-disabled);
    --kbq-checkbox-error-states-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-checkbox-error-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-checkbox-error-states-disabled-caption: var(--kbq-states-icon-disabled);
}
