.example-column {
    width: 50%;
}

@media (1200px < width <= 1440px) {
    .example-row {
        flex-wrap: wrap;
    }

    .example-column {
        width: 100%;
    }
}

@media (width <= 1024px) {
    .example-row {
        flex-wrap: wrap;
    }

    .example-column {
        width: 100%;
    }
}
