.layout-row,
.layout-column {
    gap: 16px;
}

.layout-column {
    width: 50%;
}

@media (1200px < width <= 1440px) {
    .layout-row {
        flex-wrap: wrap;
    }

    .layout-column {
        width: 100%;
    }
}

@media (width <= 1024px) {
    .layout-row {
        flex-wrap: wrap;
    }

    .layout-column {
        width: 100%;
    }
}
