@use './divider-theme' as *;

.kbq-divider {
    display: block;
    margin: 0;

    &.kbq-divider_horizontal {
        min-height: var(--kbq-divider-size-horizontal-width);
        height: var(--kbq-divider-size-horizontal-width);

        &.kbq-divider_paddings {
            margin-top: var(--kbq-divider-size-horizontal-margin-vertical);

            margin-bottom: var(--kbq-divider-size-horizontal-margin-vertical);
        }
    }

    &.kbq-divider_vertical {
        width: var(--kbq-divider-size-vertical-width);
        height: 100%;

        &.kbq-divider_paddings {
            margin-left: var(--kbq-divider-size-vertical-margin-horizontal);

            margin-right: var(--kbq-divider-size-vertical-margin-horizontal);
        }
    }
}

@include kbq-divider-theme();
