@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;


.kbq-divider {
    display: block;
    margin: 0;

    &.kbq-divider_horizontal {
        height: kbq-css-variable(divider-size-horizontal-width);

        &.kbq-divider_paddings {
            margin-top: kbq-css-variable(divider-size-horizontal-margin-vertical);

            margin-bottom: kbq-css-variable(divider-size-horizontal-margin-vertical);
        }
    }

    &.kbq-divider_vertical {
        width: kbq-css-variable(divider-size-vertical-width);
        height: 100%;

        &.kbq-divider_paddings {
            margin-left: kbq-css-variable(divider-size-vertical-margin-horizontal);

            margin-right: kbq-css-variable(divider-size-vertical-margin-horizontal);
        }
    }
}
