.docs-page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: var(--kbq-size-5xl);
    padding-top: 164px;

    & .kbq-icon {
        margin-bottom: var(--kbq-size-4xl);
    }
}
