.popover-width-example__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.kbq-popover.width-example p:first-child {
    margin-top: 0;
}

.kbq-popover.width-example p:last-child {
    margin-bottom: 0;
}

.kbq-popover.kbq-popover_medium.custom-width {
    max-width: 320px;
}
