@use '../core/styles/common/select' as *;

@use './tree-select-theme' as *;

.kbq-tree-select {
    @extend %kbq-select-base;
}

.kbq-tree-select__panel {
    @extend %kbq-select-panel;

    & .kbq-select__footer {
        @extend %kbq-select-footer;
    }
}

.kbq-tree-select__content {
    @extend %kbq-select-content;

    & .kbq-tree-selection {
        height: 100%;

        .kbq-tree-option {
            @include item-active-area(var(--kbq-size-3xs));
        }
    }
}

.kbq-form-field-type-select {
    &:not(.kbq-disabled) .kbq-form-field-flex {
        cursor: pointer;
    }
}

@include kbq-tree-select-theme();
@include kbq-tree-select-typography();
