.kbq-tree-select {
    --kbq-select-panel-size-border-radius: 8px;
    --kbq-select-panel-size-max-height: 256px;
    --kbq-select-panel-font-default-font-size: 14px;
    --kbq-select-panel-font-default-line-height: 20px;
    --kbq-select-panel-font-default-letter-spacing: -0.006em;
    --kbq-select-panel-font-default-font-weight: normal;
    --kbq-select-panel-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-select-panel-font-default-text-transform: null;
    --kbq-select-panel-font-default-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-error-default: hsla(7, 97%, 50%, 100%);
    --kbq-foreground-contrast: hsla(229, 15%, 15%, 100%);
    --kbq-foreground-contrast-secondary: hsla(229, 15%, 50%, 100%);
    --kbq-foreground-contrast-tertiary: hsla(229, 15%, 60%, 100%);
    --kbq-foreground-text-disabled: hsla(229, 15%, 70%, 100%);
    --kbq-icon-button-error-default: hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-default-border: hsla(7, 97%, 45%, 100%);
    --kbq-checkbox-error-default-color: hsla(0, 0%, 100%, 100%);
    --kbq-checkbox-error-default-text: hsla(229, 15%, 15%, 100%);
    --kbq-checkbox-error-default-background: hsla(7, 97%, 99%, 100%);
    --kbq-checkbox-error-default-caption: hsla(229, 15%, 50%, 100%);
    --kbq-divider-color: hsla(229, 15%, 6%, 12%);
    --kbq-radio-error-default-outer-circle-border: hsla(7, 97%, 45%, 100%);
    --kbq-radio-error-default-outer-circle-background: hsla(7, 97%, 99%, 100%);
    --kbq-radio-error-default-inner-circle-background: transparent;
    --kbq-select-panel-dropdown-background: hsla(229, 15%, 100%, 100%);
    --kbq-select-panel-dropdown-shadow: 0 0 0 1px hsla(229, 15%, 6%, 3%), 0 2px 8px hsla(229, 15%, 6%, 6%), 0 3px 8px hsla(229, 15%, 6%, 12%);
    --kbq-toggle-error-default-border: hsla(7, 97%, 45%, 100%);
    --kbq-toggle-error-default-background: hsla(7, 97%, 99%, 100%);
    --kbq-toggle-error-default-circle-background: hsla(7, 97%, 45%, 100%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-error-default: hsla(7, 97%, 50%, 100%);
    --kbq-foreground-contrast: hsla(229, 15%, 80%, 100%);
    --kbq-foreground-contrast-secondary: hsla(229, 15%, 60%, 100%);
    --kbq-foreground-contrast-tertiary: hsla(229, 15%, 45%, 100%);
    --kbq-foreground-text-disabled: hsla(229, 15%, 70%, 100%);
    --kbq-icon-button-error-default: hsla(7, 97%, 60%, 100%);
    --kbq-checkbox-error-default-border: hsla(7, 97%, 35%, 100%);
    --kbq-checkbox-error-default-color: hsla(0, 0%, 100%, 100%);
    --kbq-checkbox-error-default-text: hsla(229, 15%, 80%, 100%);
    --kbq-checkbox-error-default-background: hsla(7, 97%, 6%, 100%);
    --kbq-checkbox-error-default-caption: hsla(229, 15%, 60%, 100%);
    --kbq-divider-color: hsla(229, 15%, 22%, 100%);
    --kbq-radio-error-default-outer-circle-border: hsla(7, 97%, 35%, 100%);
    --kbq-radio-error-default-outer-circle-background: hsla(7, 97%, 6%, 100%);
    --kbq-radio-error-default-inner-circle-background: transparent;
    --kbq-select-panel-dropdown-background: hsla(229, 15%, 15%, 100%);
    --kbq-select-panel-dropdown-shadow: 0 0 0 1px hsla(229, 100%, 85%, 15%);
    --kbq-toggle-error-default-border: hsla(7, 97%, 35%, 100%);
    --kbq-toggle-error-default-background: hsla(7, 97%, 6%, 100%);
    --kbq-toggle-error-default-circle-background: hsla(7, 97%, 60%, 100%);
}
