@use '../main';

.dev-container {
    max-width: 400px;

    border: 1px solid red;

    padding: 24px;

    margin-bottom: 24px;

    &.dev-container-responsive {
        max-width: 300px;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}
