@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;

@use './accordion-theme' as *;

.kbq-accordion {
    display: block;
}

.kbq-accordion-item {
    display: block;

    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

.kbq-accordion-header {
    display: flex;

    height: kbq-css-variable(accordion-size-item-header-height);
}

.kbq-accordion-content {
    padding: kbq-css-variable(accordion-size-item-content-padding);

    &[data-state='open'] {
        display: flex;
    }

    &[data-state='closed'] {
        display: none;
    }
}

@include kbq-accordion-theme();
@include kbq-accordion-typography();
