@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;

@use './accordion-theme' as *;

.kbq-accordion {
    display: block;
}

.kbq-accordion-item {
    display: block;

    border-width: 2px;
    border-style: solid;
    border-color: transparent;

    background: kbq-css-variable(accordion-item-default-background);
    color: kbq-css-variable(accordion-item-default-text);

    &:hover {
        & .kbq-accordion-trigger__icon {
            color: kbq-css-variable(accordion-item-states-hover-icon) !important;
        }
    }

    &:focus-within {
        border-color: kbq-css-variable(accordion-item-states-focus-border-color);
    }
}

.kbq-accordion-header {
    display: block;

    height: kbq-css-variable(accordion-size-item-header-height);

    & .kbq-accordion-trigger__icon {
        color: kbq-css-variable(accordion-item-default-icon);
    }
}

.kbq-accordion-content {
    padding: kbq-css-variable(accordion-size-item-content-padding);

    &[data-state="open"] {
        display: flex;
    }

    &[data-state="closed"] {
        display: none;
    }
}

@include kbq-accordion-theme();
@include kbq-accordion-typography();
