@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

.kbq-navbar-item.kbq-vertical {
    & .kbq-navbar-item__container {
        gap: var(--kbq-size-m);
    }

    &.kbq-expanded {
        height: var(--kbq-size-5xl);

        align-items: center;

        padding-right: var(--kbq-size-xl);
        padding-left: var(--kbq-size-xl);

        gap: var(--kbq-size-m);

        &:after {
            top: var(--kbq-size-xxs);
            right: var(--kbq-size-s);
            bottom: var(--kbq-size-xxs);
            left: var(--kbq-size-s);
        }

        &.kbq-navbar-bento {
            position: absolute;

            display: flex;

            justify-content: center;
            align-items: center;

            top: var(--kbq-size-xxs);
            right: var(--kbq-size-xxs);

            z-index: 1;

            padding: var(--kbq-size-s);

            height: var(--kbq-size-5xl);
            width: var(--kbq-size-5xl);

            &:after {
                top: var(--kbq-size-s);
                right: var(--kbq-size-s);
                bottom: var(--kbq-size-s);
                left: var(--kbq-size-s);
            }
        }

        &.kbq-navbar-item_has-nested {
            align-items: center;

            padding: 0 var(--kbq-size-m);
        }
    }

    &.kbq-collapsed {
        height: var(--kbq-size-5xl);
        width: var(--kbq-size-5xl);

        padding: var(--kbq-size-l);

        justify-content: center;

        &:after {
            top: var(--kbq-size-s);
            right: var(--kbq-size-s);
            bottom: var(--kbq-size-s);
            left: var(--kbq-size-s);
        }

        & .kbq-badge {
            position: absolute;

            z-index: 1;

            top: var(--kbq-size-xs);
            right: var(--kbq-size-xs);
        }

        & .kbq-navbar-item__container {
            display: none;
        }
    }

    & > .kbq-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
