@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/list';

@use '../core/styles/common/tokens' as *;


.kbq-navbar-item.kbq-horizontal {
    position: relative;

    flex-direction: row;

    box-sizing: border-box;

    outline: none;
    -webkit-tap-highlight-color: transparent;

    min-height: kbq-css-variable(size-5xl);
    min-width: kbq-css-variable(size-5xl);

    padding: kbq-css-variable(size-s);

    justify-content: center;

    &:after {
        top: kbq-css-variable(size-s);
        right: kbq-css-variable(size-s);
        bottom: kbq-css-variable(size-s);
        left: kbq-css-variable(size-s);
    }

    & .kbq-navbar-item__title {
        padding-left: kbq-css-variable(size-xxs);
        padding-right: kbq-css-variable(size-xxs);
    }

    & .kbq-navbar-item__arrow-icon {
        padding-left: kbq-css-variable(size-xxs);
    }

    &.kbq-navbar-item_with-title:not(.kbq-navbar-item_collapsed) {
        padding-right: kbq-css-variable(size-m);
        padding-left: kbq-css-variable(size-m);
        // (total height 48 - grey hover 32) / 2
        &:after {
            top: kbq-css-variable(size-s);
            right: 0;
            bottom: kbq-css-variable(size-s);
            left: 0;
        }

        & > .kbq-icon {
            align-self: center;

            padding-right: kbq-css-variable(size-xxs);
        }
    }

    &.kbq-navbar-bento {
        min-width: 44px;

        justify-content: center;

        padding-right: kbq-css-variable(size-xxs);

        &:after {
            top: kbq-css-variable(size-s);
            right: kbq-css-variable(size-xxs);
            bottom: kbq-css-variable(size-s);
            left: kbq-css-variable(size-s);
        }
    }

    &.kbq-navbar-item_collapsed {
        justify-content: center;

        padding: kbq-css-variable(size-s);

        & .kbq-navbar-item__container {
            display: none;
        }
    }

    .kbq-badge {
        position: absolute;

        z-index: 1;

        top: kbq-css-variable(size-xs);
        right: kbq-css-variable(size-xs);
    }

    &.kbq-navbar-item_has-nested {
        padding: 0 kbq-css-variable(size-m);
    }
}
