@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;


.kbq-navbar-item.kbq-vertical {

    & .kbq-navbar-item__container {
        gap: kbq-css-variable(size-m);
    }

    &.kbq-expanded {
        height: kbq-css-variable(size-5xl);

        align-items: center;

        padding-right: kbq-css-variable(size-xl);
        padding-left: kbq-css-variable(size-xl);

        gap: kbq-css-variable(size-m);

        &:after {
            top: kbq-css-variable(size-xxs);
            right: kbq-css-variable(size-s);
            bottom: kbq-css-variable(size-xxs);
            left: kbq-css-variable(size-s);
        }

        &.kbq-navbar-bento {
            position: absolute;

            display: flex;

            justify-content: center;
            align-items: center;

            top: kbq-css-variable(size-xxs);
            right: kbq-css-variable(size-xxs);

            z-index: 1;

            padding: kbq-css-variable(size-s);

            height: kbq-css-variable(size-5xl);
            width: kbq-css-variable(size-5xl);

            &:after {
                top: kbq-css-variable(size-s);
                right: kbq-css-variable(size-s);
                bottom: kbq-css-variable(size-s);
                left: kbq-css-variable(size-s);
            }
        }

        &.kbq-navbar-item_has-nested {
            align-items: center;

            padding: 0 kbq-css-variable(size-m);
        }
    }

    &.kbq-collapsed {
        height: kbq-css-variable(size-5xl);
        width: kbq-css-variable(size-5xl);

        padding: kbq-css-variable(size-l);

        justify-content: center;

        &:after {
            top: kbq-css-variable(size-s);
            right: kbq-css-variable(size-s);
            bottom: kbq-css-variable(size-s);
            left: kbq-css-variable(size-s);
        }

        &.kbq-navbar-margined {
            width: kbq-css-variable(size-5xl);
            height: kbq-css-variable(size-3xl);

            padding-top: 0;
            padding-bottom: 0;
            margin-top: kbq-css-variable(size-s);
            margin-bottom: kbq-css-variable(size-s);

            &:after {
                top: 0;
                bottom: 0;
            }
        }

        & .kbq-badge {
            position: absolute;

            z-index: 1;

            top: kbq-css-variable(size-xs);
            right: kbq-css-variable(size-xs);
        }

        & .kbq-navbar-item__container {
            display: none;
        }
    }

    & > .kbq-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
