@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/list';

@use '../core/styles/common/tokens' as *;


.kbq-navbar-item.kbq-horizontal {
    position: relative;

    flex-direction: row;

    box-sizing: border-box;

    outline: none;
    -webkit-tap-highlight-color: transparent;

    min-height: kbq-css-variable(size-3xl);
    min-width: kbq-css-variable(size-3xl);

    margin: kbq-css-variable(size-s);

    justify-content: center;

    &:after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    & .kbq-navbar-item__title {
        padding-left: kbq-css-variable(size-xxs);
        padding-right: kbq-css-variable(size-xxs);
    }

    & .kbq-navbar-item__arrow-icon {
        padding-left: kbq-css-variable(size-xxs);
    }

    &.kbq-navbar-item_with-title:not(.kbq-navbar-item_collapsed) {
        margin-left: 0;
        margin-right: 0;
        padding-right: kbq-css-variable(size-m);
        padding-left: kbq-css-variable(size-m);

        & > .kbq-icon {
            align-self: center;

            padding-right: kbq-css-variable(size-xxs);
        }
    }

    &.kbq-navbar-bento {
        justify-content: center;

        margin-right: kbq-css-variable(size-xxs);
    }

    &.kbq-navbar-item_collapsed {
        justify-content: center;

        padding: kbq-css-variable(size-s);

        & .kbq-navbar-item__container {
            display: none;
        }
    }

    .kbq-badge {
        position: absolute;

        z-index: 1;

        top: -2px;
        right: -2px;
    }

    &.kbq-navbar-item_has-nested {
        margin-left: kbq-css-variable(size-m);
        margin-right: kbq-css-variable(size-m);
    }
}
