@use '../core/styles/common/tokens' as *;

@mixin kbq-navbar-item($state-name) {
    &:not(.kbq-navbar-item_has-nested) {
        &:after {
            display: block;
            background: var(--kbq-navbar-item-#{$state-name}-content-background);
        }
    }

    .kbq-navbar-title {
        color: var(--kbq-navbar-item-#{$state-name}-content-text);
    }

    & > .kbq-icon.kbq-empty {
        color: var(--kbq-navbar-item-#{$state-name}-content-icon-left) !important;
    }

    .kbq-navbar-item__arrow-icon {
        color: var(--kbq-navbar-item-#{$state-name}-content-icon-right) !important;
    }
}

@mixin kbq-navbar-theme() {
    .kbq-navbar,
    .kbq-vertical-navbar .kbq-vertical-navbar__container {
        background-color: var(--kbq-navbar-background);
    }

    .kbq-vertical-navbar .kbq-vertical-navbar__container {
        border-right: 1px solid var(--kbq-navbar-border);
    }

    .kbq-navbar-item,
    .kbq-navbar-brand {
        cursor: pointer;

        @include kbq-navbar-item(default);

        &:hover:not(.kbq-disabled) {
            @include kbq-navbar-item(states-hover);
        }

        &.cdk-focused.cdk-keyboard-focused {
            outline: none;

            &:after {
                display: block;
                box-shadow: inset 0 0 0 2px var(--kbq-states-line-focus-theme);
            }
        }

        &:active:not(.kbq-disabled, .kbq-vertical.kbq-navbar-brand),
        &.kbq-active:not(.kbq-disabled, .kbq-vertical.kbq-navbar-brand) {
            @include kbq-navbar-item(states-selected);
        }

        &.kbq-navbar-focusable-item {
            outline: none;
        }

        &.kbq-disabled {
            @include kbq-navbar-item(states-disabled);

            pointer-events: none;
            cursor: default;
        }
    }

    .kbq-navbar-brand.kbq-vertical:hover {
        .kbq-navbar-logo {
            transform: scale(1.06);
        }
    }

    .kbq-navbar-brand.kbq-horizontal:hover {
        .kbq-navbar-logo {
            z-index: 1;
        }
    }

    .kbq-navbar-divider {
        background: var(--kbq-line-contrast-less);
    }
}

button {
    &.kbq-navbar-item,
    &.kbq-navbar-brand {
        background: transparent;
        border: none;
    }
}

@mixin kbq-navbar-typography() {
    .kbq-navbar-title {
        @include kbq-typography-level-to-styles-css-variables(typography, text-normal-medium);
    }

    .kbq-navbar-brand {
        .kbq-navbar-title {
            @include kbq-typography-level-to-styles-css-variables(typography, navbar-title);
        }
    }
}
