@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

.kbq-navbar-logo {
    display: flex;
}

.kbq-navbar-brand {
    position: relative;

    display: flex;

    border-radius: var(--kbq-size-s);

    &:after {
        position: absolute;
        content: '';

        display: none;

        border-radius: var(--kbq-navbar-item-size-content-border-radius);
    }

    & .kbq-navbar-title {
        cursor: pointer;
    }
}

a.kbq-navbar-brand {
    text-decoration: none;
}

.kbq-navbar-brand.kbq-horizontal {
    padding: var(--kbq-size-s) var(--kbq-size-xs) var(--kbq-size-s) var(--kbq-size-xxs);

    align-items: center;

    gap: var(--kbq-size-s);

    &:after {
        top: var(--kbq-size-xxs);
        right: var(--kbq-size-xxs);
        bottom: var(--kbq-size-xxs);
        left: 0;
    }

    & .kbq-navbar-title {
        padding-right: var(--kbq-size-m);
    }
}

.kbq-navbar-brand.kbq-vertical {
    flex-direction: row;
    align-items: center;

    padding: var(--kbq-size-xxs) var(--kbq-size-m) var(--kbq-size-m);

    &:after {
        top: 0;
        right: var(--kbq-size-s);
        bottom: var(--kbq-size-s);
        left: var(--kbq-size-s);
    }

    & .kbq-navbar-logo {
        align-items: center;
    }

    & .kbq-navbar-title {
        display: block;
        align-items: center;

        padding-left: var(--kbq-size-s);
    }

    &.kbq-expanded {
        & .kbq-navbar-title {
            max-width: 200px;
        }
    }

    &.kbq-collapsed {
        & .kbq-navbar-title {
            display: none;
        }
    }
}
