@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;
@use './navbar-theme';

.kbq-navbar-logo {
    display: flex;
}

.kbq-navbar-brand {
    position: relative;

    display: flex;

    border-radius: var(--kbq-size-s);

    &:after {
        position: absolute;
        content: '';

        display: none;

        border-radius: var(--kbq-navbar-item-size-content-border-radius);
    }

    & .kbq-navbar-title {
        cursor: pointer;
    }
}

a.kbq-navbar-brand {
    text-decoration: none;
}

.kbq-navbar-brand.kbq-horizontal {
    padding: var(--kbq-size-s) var(--kbq-size-xs) var(--kbq-size-s) var(--kbq-size-xxs);

    align-items: center;

    gap: var(--kbq-size-s);

    &:after {
        top: var(--kbq-size-xxs);
        right: var(--kbq-size-xxs);
        bottom: var(--kbq-size-xxs);
        left: 0;
    }

    & .kbq-navbar-title {
        padding-right: var(--kbq-size-m);
    }
}

.kbq-navbar-brand.kbq-vertical {
    flex-direction: row;
    align-items: center;

    padding: var(--kbq-size-xxs) var(--kbq-size-m) var(--kbq-size-m);

    &:after {
        top: 0;
        right: var(--kbq-size-s);
        bottom: var(--kbq-size-s);
        left: var(--kbq-size-s);
    }

    & .kbq-navbar-logo {
        align-items: center;
    }

    & .kbq-navbar-title {
        display: block;
        align-items: center;

        padding-left: var(--kbq-size-s);
    }

    &.kbq-expanded {
        & .kbq-navbar-title {
            max-width: 200px;
        }
    }

    &.kbq-collapsed {
        & .kbq-navbar-title {
            display: none !important;
        }
    }

    &.kbq-navbar-brand_long-title .kbq-navbar-title {
        display: -webkit-box;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: normal;
    }
}

@mixin kbq-navbar-brand-theme() {
    .kbq-navbar-brand {
        cursor: pointer;

        @include navbar-theme.kbq-navbar-item(default);

        &:hover:not(.kbq-disabled) {
            @include navbar-theme.kbq-navbar-item(states-hover);
        }

        &.cdk-focused.cdk-keyboard-focused {
            outline: none;

            &:after {
                display: block;
                box-shadow: inset 0 0 0 2px var(--kbq-states-line-focus-theme);
            }
        }

        &:active:not(.kbq-disabled, .kbq-vertical.kbq-navbar-brand),
        &.kbq-active:not(.kbq-disabled, .kbq-vertical.kbq-navbar-brand) {
            @include navbar-theme.kbq-navbar-item(states-selected);
        }

        &.kbq-navbar-focusable-item {
            outline: none;
        }
    }

    .kbq-navbar-brand.kbq-vertical:hover {
        .kbq-navbar-logo {
            transform: scale(1.06);
        }
    }

    .kbq-navbar-brand.kbq-horizontal:hover {
        .kbq-navbar-logo {
            z-index: 1;
        }
    }
}

@mixin kbq-navbar-brand-typography() {
    .kbq-navbar-brand {
        & .kbq-navbar-title {
            @include kbq-typography-level-to-styles-css-variables(typography, navbar-title);
        }

        &.kbq-navbar-brand_long-title .kbq-navbar-title {
            @include kbq-typography-level-to-styles-css-variables(typography, text-normal-strong);
        }
    }
}

@include kbq-navbar-brand-theme();
@include kbq-navbar-brand-typography();
