@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

.kbq-navbar-logo {
    display: flex;
}

.kbq-navbar-brand {
    position: relative;

    display: flex;

    border-radius: var(--kbq-size-s);

    &:after {
        position: absolute;
        content: '';

        display: none;

        border-radius: var(--kbq-navbar-item-size-content-border-radius);
    }

    & .kbq-navbar-title {
        cursor: pointer;
    }
}

a.kbq-navbar-brand {
    text-decoration: none;
}

.kbq-navbar-brand.kbq-horizontal {
    padding: var(--kbq-size-s) var(--kbq-size-xs) var(--kbq-size-s) var(--kbq-size-xxs);

    align-items: center;

    gap: var(--kbq-size-s);

    &:after {
        top: var(--kbq-size-xxs);
        right: var(--kbq-size-xxs);
        bottom: var(--kbq-size-xxs);
        left: 0;
    }

    & .kbq-navbar-title {
        padding-right: var(--kbq-size-m);
    }
}

.kbq-navbar-brand.kbq-vertical {
    & .kbq-navbar-logo {
        align-items: center;
    }

    & .kbq-navbar-title {
        display: block;
        align-items: center;

        padding-top: var(--kbq-size-xxs);
        padding-bottom: var(--kbq-size-xxs);

        height: var(--kbq-size-3xl);

        padding-left: 0;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &.kbq-expanded {
        position: relative;

        height: var(--kbq-size-4xl);
        width: var(--kbq-size-4xl);

        margin-top: var(--kbq-size-s);
        margin-right: var(--kbq-size-l);
        margin-left: var(--kbq-size-l);
        margin-bottom: var(--kbq-size-4xl);

        flex-direction: column;

        &:after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        & .kbq-navbar-logo {
            min-height: var(--kbq-size-4xl);

            justify-content: center;
        }

        & .kbq-navbar-title {
            position: absolute;

            left: var(--kbq-size-xxs);
            top: var(--kbq-size-4xl);
            max-width: 200px;
        }
    }

    &.kbq-collapsed {
        height: var(--kbq-size-5xl);
        width: var(--kbq-size-5xl);

        &:after {
            top: var(--kbq-size-xxs);
            right: var(--kbq-size-xxs);
            bottom: var(--kbq-size-xxs);
            left: var(--kbq-size-xxs);
        }

        & .kbq-navbar-title {
            display: none;
        }

        justify-content: center;
    }
}
