/* stylelint-disable no-unknown-custom-properties */

.kbq-navbar {
    --kbq-navbar-font-title-font-size: var(--kbq-typography-navbar-title-font-size);
    --kbq-navbar-font-title-line-height: var(--kbq-typography-navbar-title-line-height);
    --kbq-navbar-font-title-letter-spacing: var(--kbq-typography-navbar-title-letter-spacing);
    --kbq-navbar-font-title-font-weight: var(--kbq-typography-navbar-title-font-weight);
    --kbq-navbar-font-title-font-family: var(--kbq-typography-navbar-title-font-family);
    --kbq-navbar-font-title-text-transform: var(--kbq-typography-navbar-title-text-transform);
    --kbq-navbar-font-title-font-feature-settings: var(--kbq-typography-navbar-title-font-feature-settings);
    --kbq-navbar-item-size-content-border-radius: var(--kbq-size-s);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-navbar-background: var(--kbq-background-bg);
    --kbq-navbar-border: var(--kbq-line-contrast-less);
    --kbq-navbar-item-default-content-text: var(--kbq-foreground-contrast);
    --kbq-navbar-item-default-content-background: transparent;
    --kbq-navbar-item-default-content-icon-left: var(--kbq-icon-contrast);
    --kbq-navbar-item-default-content-icon-right: var(--kbq-icon-contrast);
    --kbq-navbar-item-states-hover-content-text: var(--kbq-foreground-contrast);
    --kbq-navbar-item-states-hover-content-background: var(--kbq-states-background-transparent-hover);
    --kbq-navbar-item-states-hover-content-icon-left: var(--kbq-states-icon-contrast-hover);
    --kbq-navbar-item-states-hover-content-icon-right: var(--kbq-states-icon-contrast-hover);
    --kbq-navbar-item-states-selected-content-text: var(--kbq-foreground-contrast);
    --kbq-navbar-item-states-selected-content-background: var(--kbq-states-background-transparent-active);
    --kbq-navbar-item-states-selected-content-icon-left: var(--kbq-states-icon-contrast-active);
    --kbq-navbar-item-states-selected-content-icon-right: var(--kbq-states-icon-contrast-active);
    --kbq-navbar-item-states-selected-hover-content-text: var(--kbq-foreground-contrast);
    --kbq-navbar-item-states-selected-hover-content-background: var(--kbq-states-background-transparent-hover);
    --kbq-navbar-item-states-selected-hover-content-icon-left: var(--kbq-states-icon-contrast-hover);
    --kbq-navbar-item-states-selected-hover-content-icon-right: var(--kbq-states-icon-contrast-hover);
    --kbq-navbar-item-states-disabled-content-text: var(--kbq-states-foreground-disabled);
    --kbq-navbar-item-states-disabled-content-background: transparent;
    --kbq-navbar-item-states-disabled-content-icon-left: var(--kbq-states-icon-disabled);
    --kbq-navbar-item-states-disabled-content-icon-right: var(--kbq-states-icon-disabled);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-navbar-background: var(--kbq-background-bg);
    --kbq-navbar-border: var(--kbq-line-contrast-less);
    --kbq-navbar-item-default-content-text: var(--kbq-foreground-contrast);
    --kbq-navbar-item-default-content-background: transparent;
    --kbq-navbar-item-default-content-icon-left: var(--kbq-icon-contrast);
    --kbq-navbar-item-default-content-icon-right: var(--kbq-icon-contrast);
    --kbq-navbar-item-states-hover-content-text: var(--kbq-foreground-contrast);
    --kbq-navbar-item-states-hover-content-background: var(--kbq-states-background-transparent-hover);
    --kbq-navbar-item-states-hover-content-icon-left: var(--kbq-states-icon-contrast-hover);
    --kbq-navbar-item-states-hover-content-icon-right: var(--kbq-states-icon-contrast-hover);
    --kbq-navbar-item-states-selected-content-text: var(--kbq-foreground-contrast);
    --kbq-navbar-item-states-selected-content-background: var(--kbq-states-background-transparent-active);
    --kbq-navbar-item-states-selected-content-icon-left: var(--kbq-states-icon-contrast-active);
    --kbq-navbar-item-states-selected-content-icon-right: var(--kbq-states-icon-contrast-active);
    --kbq-navbar-item-states-selected-hover-content-text: var(--kbq-foreground-contrast);
    --kbq-navbar-item-states-selected-hover-content-background: var(--kbq-states-background-transparent-hover);
    --kbq-navbar-item-states-selected-hover-content-icon-left: var(--kbq-states-icon-contrast-hover);
    --kbq-navbar-item-states-selected-hover-content-icon-right: var(--kbq-states-icon-contrast-hover);
    --kbq-navbar-item-states-disabled-content-text: var(--kbq-states-foreground-disabled);
    --kbq-navbar-item-states-disabled-content-background: transparent;
    --kbq-navbar-item-states-disabled-content-icon-left: var(--kbq-states-icon-disabled);
    --kbq-navbar-item-states-disabled-content-icon-right: var(--kbq-states-icon-disabled);
}
