@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;


$tokens: meta.module-variables(tokens) !default;

.kbq-navbar-logo {
    display: flex;
}

.kbq-navbar-brand {
    position: relative;

    display: flex;

    border-radius: kbq-css-variable(size-s);

    &:after {
        position: absolute;
        content: '';

        display: none;

        border-radius: kbq-css-variable(navbar-item-size-content-border-radius);
    }

    & .kbq-navbar-title {
        cursor: pointer;
    }
}

a.kbq-navbar-brand {
    text-decoration: none;
}

.kbq-navbar-brand.kbq-horizontal {
    padding: kbq-css-variable(size-s) kbq-css-variable(size-xs) kbq-css-variable(size-s) kbq-css-variable(size-xxs);

    align-items: center;

    gap: kbq-css-variable(size-s);

    &:after {
        top: kbq-css-variable(size-xxs);
        right: kbq-css-variable(size-xxs);
        bottom: kbq-css-variable(size-xxs);
        left: 0;
    }

    & .kbq-navbar-title {
        padding-right: kbq-css-variable(size-m);
    }
}

.kbq-navbar-brand.kbq-vertical {
    & .kbq-navbar-logo {
        align-items: center;
    }

    & .kbq-navbar-title {
        display: block;
        align-items: center;

        padding-top: kbq-css-variable(size-xxs);
        padding-bottom: kbq-css-variable(size-xxs);

        height: kbq-css-variable(size-3xl);

        padding-left: 0;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &.kbq-expanded {
        position: relative;

        height: kbq-css-variable(size-4xl);
        width: kbq-css-variable(size-4xl);

        margin: kbq-css-variable(size-l) kbq-css-variable(size-l) kbq-css-variable(size-4xl);

        flex-direction: column;

        &:after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        & .kbq-navbar-logo {
            min-height: kbq-css-variable(size-4xl);

            justify-content: center;
        }

        & .kbq-navbar-title {
            position: absolute;

            left: kbq-css-variable(size-xxs);
            bottom: - kbq-css-variable(size-4xl);
            max-width: 200px;
        }
    }

    &.kbq-collapsed {
        height: kbq-css-variable(size-5xl);
        width: kbq-css-variable(size-5xl);

        &:after {
            top: kbq-css-variable(size-xxs);
            right: kbq-css-variable(size-xxs);
            bottom: kbq-css-variable(size-xxs);
            left: kbq-css-variable(size-xxs);
        }

        & .kbq-navbar-title {
            display: none;
        }

        justify-content: center;
    }
}
