@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;


.kbq-navbar-divider {
    display: block;
}

.kbq-navbar-divider.kbq-vertical {
    height: 1px;

    margin: kbq-css-variable(size-s) kbq-css-variable(size-l);
}

.kbq-navbar-divider.kbq-horizontal {
    width: 1px;

    height: 12px;

    margin-left: kbq-css-variable(size-m);
    margin-right: kbq-css-variable(size-m);
}
