@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/list';

@use '../core/styles/common/tokens' as *;

@use 'navbar-item_vertical';
@use 'navbar-item_horizontal';


.kbq-navbar-item {
    box-sizing: border-box;

    position: relative;

    display: flex;
    align-items: center;

    border-radius: kbq-css-variable(navbar-item-size-content-border-radius);

    & .kbq-icon {
        min-width: kbq-css-variable(size-l);
        min-height: kbq-css-variable(size-l);
    }

    & .kbq-button-icon {
        position: absolute;
        padding-left: kbq-css-variable(size-xs);
        padding-right: kbq-css-variable(size-xs);
        top: 50%;
        transform: translateY(-50%);
    }

    &:before {
        position: absolute;
        content: '';
    }

    &:after {
        position: absolute;
        content: '';

        display: none;

        border-radius: kbq-css-variable(navbar-item-size-content-border-radius);
    }

    &.kbq-horizontal {
        @extend navbar-item_horizontal !optional;
    }

    &.kbq-vertical {
        @extend navbar-item_vertical !optional;
    }
}

.kbq-navbar-title {
    display: inline-block;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.kbq-navbar-item__title {
    display: flex;

    flex-direction: column;

    align-self: center;

    min-width: 0;
}

.kbq-navbar-item__container {
    display: flex;
    flex-direction: row;

    flex: 1 1 auto;
    justify-content: space-between;

    min-width: 0;

    & .kbq-icon {
        align-self: center;
    }
}

.kbq-navbar-item.kbq-navbar-item_has-nested .kbq-button {
    flex: 1;

    & .kbq-button-wrapper {
        justify-content: center;

        & .kbq-icon.kbq-icon_left {
            margin-left: unset;
        }

        & .kbq-icon.kbq-icon_right {
            margin-right: unset;
        }
    }
}

a.kbq-navbar-item,
a.kbq-navbar-title {
    text-decoration: none;
}

.kbq-navbar-item,
.kbq-navbar-brand,
.kbq-navbar-toggle {
    & [kbq-button] {
        z-index: 1;
    }
}

