.kbq-navbar {
    --kbq-size-xxs: 4px;
    --kbq-size-xs: 6px;
    --kbq-size-s: 8px;
    --kbq-size-m: 12px;
    --kbq-size-l: 16px;
    --kbq-size-xl: 20px;
    --kbq-size-xxl: 24px;
    --kbq-size-3xl: 32px;
    --kbq-size-4xl: 40px;
    --kbq-size-5xl: 48px;
    --kbq-typography-text-normal-medium-font-size: 14px;
    --kbq-typography-text-normal-medium-line-height: 20px;
    --kbq-typography-text-normal-medium-letter-spacing: -0.006em;
    --kbq-typography-text-normal-medium-font-weight: 500;
    --kbq-typography-text-normal-medium-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue', Arial, sans-serif;
    --kbq-typography-text-normal-medium-text-transform: null;
    --kbq-typography-text-normal-medium-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-icon-button-size-left-icon-padding: 6px;
    --kbq-icon-button-size-small-horizontal-padding: 4px;
    --kbq-icon-button-size-small-vertical-padding: 4px;
    --kbq-file-upload-size-single-container-border-radius: 8px;
    --kbq-file-upload-size-single-container-border-width: 1px;
    --kbq-file-upload-size-single-container-content-gap-horizontal: 8px;
    --kbq-file-upload-size-single-container-padding-vertical: 12px;
    --kbq-file-upload-size-single-container-padding-horizontal: 12px;
    --kbq-file-upload-size-single-text-block-padding-vertical: 2px;
    --kbq-file-upload-size-single-text-block-content-gap-horizontal: 4px;
    --kbq-file-upload-size-multiple-big-container-min-height: 160px;
    --kbq-file-upload-size-multiple-big-container-min-width: 320px;
    --kbq-file-upload-size-multiple-big-container-border-radius: 8px;
    --kbq-file-upload-size-multiple-big-container-border-width: 1px;
    --kbq-file-upload-size-multiple-big-container-content-gap-horizontal: 12px;
    --kbq-file-upload-size-multiple-big-container-padding-vertical: 24px;
    --kbq-file-upload-size-multiple-big-container-padding-horizontal: 24px;
    --kbq-file-upload-size-multiple-big-text-block-content-gap-vertical: 0px;
    --kbq-file-upload-size-multiple-big-text-block-content-gap-horizontal: 4px;
    --kbq-file-upload-size-multiple-big-grid-cell-padding-horizontal: 8px;
    --kbq-file-upload-size-multiple-big-grid-cell-padding-vertical: 8px;
    --kbq-file-upload-size-multiple-big-grid-cell-content-gap-horizontal: 4px;
    --kbq-form-field-hint-size-margin-top: 4px;
    --kbq-link-size-state-focused-outline-offset: 0px;
    --kbq-link-size-state-focused-outline-width: 2px;
    --kbq-list-size-subheading-padding-top: 12px;
    --kbq-list-size-subheading-padding-bottom: 4px;
    --kbq-list-size-subheading-padding-horizontal: 12px;
    --kbq-markdown-h1-size-max-width: 650px;
    --kbq-markdown-h1-size-margin-top: 0;
    --kbq-markdown-h1-size-margin-bottom: 16px;
    --kbq-markdown-h2-size-max-width: 650px;
    --kbq-markdown-h2-size-margin-top: 24px;
    --kbq-markdown-h2-size-margin-bottom: 12px;
    --kbq-markdown-h3-size-max-width: 650px;
    --kbq-markdown-h3-size-margin-top: 24px;
    --kbq-markdown-h3-size-margin-bottom: 12px;
    --kbq-markdown-h4-size-max-width: 650px;
    --kbq-markdown-h4-size-margin-top: 24px;
    --kbq-markdown-h4-size-margin-bottom: 12px;
    --kbq-markdown-h5-size-max-width: 650px;
    --kbq-markdown-h5-size-margin-top: 24px;
    --kbq-markdown-h5-size-margin-bottom: 8px;
    --kbq-markdown-h6-size-max-width: 650px;
    --kbq-markdown-h6-size-margin-top: 24px;
    --kbq-markdown-h6-size-margin-bottom: 8px;
    --kbq-markdown-p-size-max-width: 650px;
    --kbq-markdown-p-size-margin-top: 12px;
    --kbq-markdown-p-size-margin-bottom: 12px;
    --kbq-markdown-list-size-max-width: 650px;
    --kbq-markdown-list-size-margin-top: 12px;
    --kbq-markdown-list-size-margin-bottom: 12px;
    --kbq-markdown-list-size-margin-top-after-paragraph: -8px;
    --kbq-markdown-blockquote-size-max-width: 650px;
    --kbq-markdown-blockquote-size-margin-top: 12px;
    --kbq-markdown-blockquote-size-margin-bottom: 12px;
    --kbq-markdown-blockquote-size-line-width: 4px;
    --kbq-markdown-code-size-max-width: 650px;
    --kbq-markdown-code-size-multiline-margin-top: 12px;
    --kbq-markdown-code-size-multiline-margin-bottom: 24px;
    --kbq-markdown-code-size-multiline-padding: 12px 16px;
    --kbq-markdown-link-size-state-focused-outline-offset: 0px;
    --kbq-markdown-link-size-state-focused-outline-width: 2px;
    --kbq-markdown-image-size-max-width: 650px;
    --kbq-markdown-image-size-margin-top: 12px;
    --kbq-markdown-image-size-margin-bottom: 12px;
    --kbq-markdown-hr-size-margin-vertical: 24px;
    --kbq-markdown-table-size-margin-bottom: 12px;
    --kbq-markdown-size-max-width: 650px;
    --kbq-modal-size-small-width: 400px;
    --kbq-modal-size-medium-width: 640px;
    --kbq-modal-size-large-width: 960px;
    --kbq-navbar-font-title-font-size: 18px;
    --kbq-navbar-font-title-line-height: 28px;
    --kbq-navbar-font-title-letter-spacing: normal;
    --kbq-navbar-font-title-font-weight: 700;
    --kbq-navbar-font-title-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue', Arial, sans-serif;
    --kbq-navbar-font-title-text-transform: null;
    --kbq-navbar-font-title-font-feature-settings: 'calt', 'kern', 'liga';
    --kbq-navbar-item-size-content-border-radius: 8px;
    --kbq-select-size-single-padding-left: 12px;
    --kbq-select-size-single-padding-right: 4px;
    --kbq-select-size-single-padding-vertical: 6px;
    --kbq-select-size-single-content-gap: 4px;
    --kbq-select-size-multiple-padding-left: 4px;
    --kbq-select-size-multiple-padding-right: 4px;
    --kbq-select-size-multiple-padding-vertical: 4px;
    --kbq-select-size-multiple-content-gap: 4px;
    --kbq-select-panel-size-max-height: 256px;
    --kbq-sidepanel-size-small-width: 400px;
    --kbq-sidepanel-size-medium-width: 640px;
    --kbq-sidepanel-size-large-width: 960px;
    --kbq-textarea-size-min-height: 64px;
    --kbq-textarea-size-max-height: 96px;
    --kbq-timezone-option-size-max-height: 5em;
    --kbq-toast-stack-size-margin-top: 12px;
    --kbq-toast-stack-size-margin-right: 12px;
    --kbq-tooltip-size-max-width: 300px;
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-line-contrast-less: hsla(229, 15%, 6%, 12%);
    --kbq-states-line-focus-theme: hsla(216, 100%, 60%, 100%);
    --kbq-navbar-background: hsla(0, 0%, 100%, 100%);
    --kbq-navbar-border: hsla(229, 15%, 6%, 12%);
    --kbq-navbar-item-default-content-text: hsla(229, 15%, 15%, 100%);
    --kbq-navbar-item-default-content-background: transparent;
    --kbq-navbar-item-default-content-icon-left: hsla(229, 15%, 15%, 100%);
    --kbq-navbar-item-default-content-icon-right: hsla(229, 15%, 15%, 100%);
    --kbq-navbar-item-states-hover-content-text: hsla(229, 15%, 15%, 100%);
    --kbq-navbar-item-states-hover-content-background: hsla(229, 15%, 50%, 8%);
    --kbq-navbar-item-states-hover-content-icon-left: hsla(229, 15%, 10%, 100%);
    --kbq-navbar-item-states-hover-content-icon-right: hsla(229, 15%, 10%, 100%);
    --kbq-navbar-item-states-selected-content-text: hsla(229, 15%, 15%, 100%);
    --kbq-navbar-item-states-selected-content-background: hsla(229, 15%, 50%, 16%);
    --kbq-navbar-item-states-selected-content-icon-left: hsla(229, 15%, 10%, 100%);
    --kbq-navbar-item-states-selected-content-icon-right: hsla(229, 15%, 10%, 100%);
    --kbq-navbar-item-states-selected-hover-content-text: hsla(229, 15%, 15%, 100%);
    --kbq-navbar-item-states-selected-hover-content-background: hsla(229, 15%, 50%, 8%);
    --kbq-navbar-item-states-selected-hover-content-icon-left: hsla(229, 15%, 10%, 100%);
    --kbq-navbar-item-states-selected-hover-content-icon-right: hsla(229, 15%, 10%, 100%);
    --kbq-navbar-item-states-disabled-content-text: hsla(229, 15%, 15%, 32%);
    --kbq-navbar-item-states-disabled-content-background: transparent;
    --kbq-navbar-item-states-disabled-content-icon-left: hsla(229, 15%, 15%, 32%);
    --kbq-navbar-item-states-disabled-content-icon-right: hsla(229, 15%, 15%, 32%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-line-contrast-less: hsla(229, 15%, 22%, 100%);
    --kbq-states-line-focus-theme: hsla(216, 100%, 60%, 100%);
    --kbq-navbar-background: hsla(229, 15%, 12%, 100%);
    --kbq-navbar-border: hsla(229, 15%, 22%, 100%);
    --kbq-navbar-item-default-content-text: hsla(229, 15%, 80%, 100%);
    --kbq-navbar-item-default-content-background: transparent;
    --kbq-navbar-item-default-content-icon-left: hsla(229, 15%, 80%, 100%);
    --kbq-navbar-item-default-content-icon-right: hsla(229, 15%, 80%, 100%);
    --kbq-navbar-item-states-hover-content-text: hsla(229, 15%, 80%, 100%);
    --kbq-navbar-item-states-hover-content-background: hsla(229, 15%, 50%, 16%);
    --kbq-navbar-item-states-hover-content-icon-left: hsla(229, 15%, 90%, 100%);
    --kbq-navbar-item-states-hover-content-icon-right: hsla(229, 15%, 90%, 100%);
    --kbq-navbar-item-states-selected-content-text: hsla(229, 15%, 80%, 100%);
    --kbq-navbar-item-states-selected-content-background: hsla(229, 100%, 85%, 15%);
    --kbq-navbar-item-states-selected-content-icon-left: hsla(229, 15%, 80%, 100%);
    --kbq-navbar-item-states-selected-content-icon-right: hsla(229, 15%, 80%, 100%);
    --kbq-navbar-item-states-selected-hover-content-text: hsla(229, 15%, 80%, 100%);
    --kbq-navbar-item-states-selected-hover-content-background: hsla(229, 15%, 50%, 16%);
    --kbq-navbar-item-states-selected-hover-content-icon-left: hsla(229, 15%, 90%, 100%);
    --kbq-navbar-item-states-selected-hover-content-icon-right: hsla(229, 15%, 90%, 100%);
    --kbq-navbar-item-states-disabled-content-text: hsla(229, 15%, 40%, 100%);
    --kbq-navbar-item-states-disabled-content-background: transparent;
    --kbq-navbar-item-states-disabled-content-icon-left: hsla(229, 15%, 30%, 100%);
    --kbq-navbar-item-states-disabled-content-icon-right: hsla(229, 15%, 30%, 100%);
}
