@use '../core/styles/common/tokens' as *;

.kbq-navbar-divider {
    display: block;
}

.kbq-navbar-divider.kbq-vertical {
    height: 1px;

    margin: var(--kbq-size-xs) var(--kbq-size-l);
}

.kbq-navbar-divider.kbq-horizontal {
    width: 1px;

    height: 12px;

    margin-left: var(--kbq-size-m);
    margin-right: var(--kbq-size-m);
}
