@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';


$tokens: meta.module-variables(tokens) !default;


.kbq-navbar-divider {
    display: block;
}

.kbq-navbar-divider.kbq-vertical {
    height: 1px;

    margin: map.get($tokens, size-s) map.get($tokens, size-l);
}

.kbq-navbar-divider.kbq-horizontal {
    width: 1px;

    height: 12px;

    margin-left: map.get($tokens, size-m);
    margin-right: map.get($tokens, size-m);
}
