@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;

.kbq-vertical-navbar {
    position: relative;

    min-width: 48px;
    height: 100%;

    & .kbq-navbar-container {
        flex-direction: column;
        align-items: unset;
    }

    & .kbq-navbar-container + .kbq-navbar-container {
        padding-top: kbq-css-variable(size-xxl);
    }

    & .kbq-vertical-navbar__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        z-index: 998;
        height: 100%;

        &.kbq-collapsed {
            width: kbq-css-variable(size-5xl);
        }

        &.kbq-expanded {
            width: 240px;
        }
    }
}
