@use '../core/styles/common/tokens' as *;

@use './navbar-theme' as *;

.kbq-vertical-navbar {
    position: relative;

    min-width: 48px;
    height: 100%;

    &:not(:hover, .cdk-keyboard-focused) .kbq-navbar-toggle {
        display: none;
    }

    & .kbq-navbar-container {
        flex-direction: column;
        align-items: unset;
    }

    & .kbq-navbar-container + .kbq-navbar-container {
        padding-top: var(--kbq-size-xxl);
        padding-bottom: var(--kbq-size-xxs);
    }

    & .kbq-vertical-navbar__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &.kbq-collapsed {
            width: var(--kbq-size-6xl);
        }

        &.kbq-expanded {
            width: 240px;
        }
    }

    &.kbq-vertical-navbar_open-over {
        position: relative;

        & .kbq-vertical-navbar__container {
            position: absolute;
            z-index: 998;
        }
    }
}

@include kbq-navbar-theme();
@include kbq-navbar-typography();
