@use './breadcrumbs-theme';

.kbq-breadcrumbs {
    display: flex;
    align-items: center;
    gap: var(--kbq-breadcrumbs-gap);

    .kbq-breadcrumb-item__container {
        display: inline-flex;
        align-items: center;
    }

    @include breadcrumbs-theme.kbq-breadcrumbs-geometry();
    @include breadcrumbs-theme.kbq-breadcrumbs-theme();
    @include breadcrumbs-theme.kbq-breadcrumbs-typography();
}

.kbq-breadcrumb-item__link-behavior {
    text-decoration: none;
}
