:where(.kbq-breadcrumbs) {
    --kbq-breadcrumb-item-horizontal-padding: var(--kbq-size-xs);
    --kbq-breadcrumb-item-height: var(--kbq-size-3xl);
    --kbq-breadcrumb-item-expand-horizontal-padding: var(--kbq-size-s);
    --kbq-breadcrumb-expand-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-breadcrumb-item-border-radius: var(--kbq-size-xs);
    --kbq-breadcrumb-item-icon-color: var(--kbq-icon-contrast-fade);
    --kbq-breadcrumb-item-negative-margin: calc(-1 * var(--kbq-size-xs));
    --kbq-breadcrumbs-gap: 0;
}
