dev-app {
    display: block;
    width: 600px;
}

.dev-container {
    max-width: 400px;
    border: 1px solid cyan;
    padding: var(--kbq-size-xxl);
    margin-bottom: var(--kbq-size-xl);
}

.kbq-select__footer_icon {
    padding-left: var(--kbq-size-xxs);
}
