kbq-splitter {
    display: flex;
    border: 1px solid black;
    height: 400px;
    margin: 2px;
}

.kbq-splitter-area_fixed-height {
    min-height: 100px;
}

div[kbq-splitter-area] {
    background: #c5c0c0
}
