@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;

.kbq-badge {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: var(--kbq-badge-size-normal-height, map.get($tokens, badge-size-normal-height));
    text-align: center;
    white-space: nowrap;

    border-style: solid;

    box-sizing: border-box;

    padding-right: kbq-css-variable(badge-size-normal-horizontal-padding);
    padding-left: kbq-css-variable(badge-size-normal-horizontal-padding);

    border: {
        width: kbq-css-variable(badge-size-normal-border-width);
        radius: kbq-css-variable(badge-size-normal-border-radius);
    }

    & .kbq-badge-caption {
        padding-left: kbq-css-variable(badge-size-normal-content-padding);
    }

    & .kbq-icon_left {
        margin-right: kbq-css-variable(badge-size-normal-icon-left-margin-right);
    }

    & .kbq-icon_right {
        margin-left: kbq-css-variable(badge-size-normal-icon-right-margin-left);
    }

    &.kbq-badge_compact {
        height: var(--kbq-badge-size-compact-height, map.get($tokens, badge-size-compact-height));

        padding-right: kbq-css-variable(badge-size-compact-horizontal-padding);
        padding-left: kbq-css-variable(badge-size-compact-horizontal-padding);

        border: {
            width: kbq-css-variable(badge-size-compact-border-width);
            radius: kbq-css-variable(badge-size-compact-border-radius);
        }

        & .kbq-badge-caption {
            padding-left: kbq-css-variable(badge-size-compact-content-padding);
        }

        & .kbq-icon_left {
            margin-right: kbq-css-variable(badge-size-compact-icon-left-margin-right);
        }

        & .kbq-icon_right {
            margin-left: kbq-css-variable(badge-size-compact-icon-right-margin-left);
        }
    }
}
