.kbq-badge {
    --kbq-badge-size-normal-height: 24px;
    --kbq-badge-size-normal-icon-left-width: 16px;
    --kbq-badge-size-normal-icon-left-height: 16px;
    --kbq-badge-size-normal-icon-left-margin-right: 4px;
    --kbq-badge-size-normal-icon-right-width: 16px;
    --kbq-badge-size-normal-icon-right-height: 16px;
    --kbq-badge-size-normal-icon-right-margin-left: 4px;
    --kbq-badge-size-normal-horizontal-padding: 8px;
    --kbq-badge-size-normal-content-padding: 4px;
    --kbq-badge-size-normal-border-width: 1px;
    --kbq-badge-size-normal-border-radius: 4px;
    --kbq-badge-size-compact-height: 16px;
    --kbq-badge-size-compact-icon-left-width: 16px;
    --kbq-badge-size-compact-icon-left-height: 16px;
    --kbq-badge-size-compact-icon-left-margin-right: 2px;
    --kbq-badge-size-compact-icon-right-width: 16px;
    --kbq-badge-size-compact-icon-right-height: 16px;
    --kbq-badge-size-compact-icon-right-margin-left: 2px;
    --kbq-badge-size-compact-vertical-padding: 0;
    --kbq-badge-size-compact-horizontal-padding: 4px;
    --kbq-badge-size-compact-content-padding: 2px;
    --kbq-badge-size-compact-border-width: 1px;
    --kbq-badge-size-compact-border-radius: 4px;
    --kbq-badge-font-normal-default-font-size: 14px;
    --kbq-badge-font-normal-default-line-height: 20px;
    --kbq-badge-font-normal-default-letter-spacing: -0.006em;
    --kbq-badge-font-normal-default-font-weight: 500;
    --kbq-badge-font-normal-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
    --kbq-badge-font-normal-default-text-transform: null;
    --kbq-badge-font-normal-default-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-badge-font-normal-caption-font-size: 14px;
    --kbq-badge-font-normal-caption-line-height: 20px;
    --kbq-badge-font-normal-caption-letter-spacing: -0.006em;
    --kbq-badge-font-normal-caption-font-weight: normal;
    --kbq-badge-font-normal-caption-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
    --kbq-badge-font-normal-caption-text-transform: null;
    --kbq-badge-font-normal-caption-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-badge-font-compact-default-font-size: 12px;
    --kbq-badge-font-compact-default-line-height: 16px;
    --kbq-badge-font-compact-default-letter-spacing: normal;
    --kbq-badge-font-compact-default-font-weight: 500;
    --kbq-badge-font-compact-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
    --kbq-badge-font-compact-default-text-transform: null;
    --kbq-badge-font-compact-default-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-badge-font-compact-caption-font-size: 12px;
    --kbq-badge-font-compact-caption-line-height: 16px;
    --kbq-badge-font-compact-caption-letter-spacing: normal;
    --kbq-badge-font-compact-caption-font-weight: normal;
    --kbq-badge-font-compact-caption-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
    --kbq-badge-font-compact-caption-text-transform: null;
    --kbq-badge-font-compact-caption-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-badge-filled-fade-off-theme-background: hsla(216, 100%, 50%, 100%);
    --kbq-badge-filled-fade-off-theme-color: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-theme-caption: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-theme-icon: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-success-background: hsla(104, 64%, 45%, 100%);
    --kbq-badge-filled-fade-off-success-color: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-success-caption: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-success-icon: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-warning-background: hsla(38, 100%, 50%, 100%);
    --kbq-badge-filled-fade-off-warning-color: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-warning-caption: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-warning-icon: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-error-background: hsla(7, 97%, 60%, 100%);
    --kbq-badge-filled-fade-off-error-color: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-error-caption: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-error-icon: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-on-theme-background: hsla(216, 100%, 85%, 100%);
    --kbq-badge-filled-fade-on-theme-color: hsla(216, 100%, 50%, 100%);
    --kbq-badge-filled-fade-on-theme-caption: hsla(216, 100%, 50%, 100%);
    --kbq-badge-filled-fade-on-theme-icon: hsla(216, 100%, 50%, 100%);
    --kbq-badge-filled-fade-on-contrast-background: hsla(229, 15%, 92%, 100%);
    --kbq-badge-filled-fade-on-contrast-color: hsla(229, 15%, 15%, 100%);
    --kbq-badge-filled-fade-on-contrast-caption: hsla(229, 15%, 15%, 100%);
    --kbq-badge-filled-fade-on-contrast-icon: hsla(229, 15%, 60%, 100%);
    --kbq-badge-filled-fade-on-success-background: hsla(104, 64%, 80%, 100%);
    --kbq-badge-filled-fade-on-success-color: hsla(104, 64%, 30%, 100%);
    --kbq-badge-filled-fade-on-success-caption: hsla(104, 64%, 30%, 100%);
    --kbq-badge-filled-fade-on-success-icon: hsla(104, 64%, 40%, 100%);
    --kbq-badge-filled-fade-on-warning-background: hsla(38, 100%, 85%, 100%);
    --kbq-badge-filled-fade-on-warning-color: hsla(38, 100%, 33%, 100%);
    --kbq-badge-filled-fade-on-warning-caption: hsla(38, 100%, 33%, 100%);
    --kbq-badge-filled-fade-on-warning-icon: hsla(38, 100%, 42%, 100%);
    --kbq-badge-filled-fade-on-error-background: hsla(7, 97%, 90%, 100%);
    --kbq-badge-filled-fade-on-error-color: hsla(7, 97%, 40%, 100%);
    --kbq-badge-filled-fade-on-error-caption: hsla(7, 97%, 40%, 100%);
    --kbq-badge-filled-fade-on-error-icon: hsla(7, 97%, 45%, 100%);
    --kbq-badge-outline-fade-on-theme-background: transparent;
    --kbq-badge-outline-fade-on-theme-color: hsla(216, 100%, 50%, 100%);
    --kbq-badge-outline-fade-on-theme-border: hsla(216, 100%, 65%, 100%);
    --kbq-badge-outline-fade-on-theme-caption: hsla(216, 100%, 50%, 100%);
    --kbq-badge-outline-fade-on-theme-icon: hsla(216, 100%, 50%, 100%);
    --kbq-badge-outline-fade-on-contrast-background: transparent;
    --kbq-badge-outline-fade-on-contrast-color: hsla(229, 15%, 15%, 100%);
    --kbq-badge-outline-fade-on-contrast-border: hsla(229, 15%, 70%, 100%);
    --kbq-badge-outline-fade-on-contrast-caption: hsla(229, 15%, 15%, 100%);
    --kbq-badge-outline-fade-on-contrast-icon: hsla(229, 15%, 60%, 100%);
    --kbq-badge-outline-fade-on-success-background: transparent;
    --kbq-badge-outline-fade-on-success-color: hsla(104, 64%, 30%, 100%);
    --kbq-badge-outline-fade-on-success-border: hsla(104, 64%, 45%, 100%);
    --kbq-badge-outline-fade-on-success-caption: hsla(104, 64%, 30%, 100%);
    --kbq-badge-outline-fade-on-success-icon: hsla(104, 64%, 40%, 100%);
    --kbq-badge-outline-fade-on-warning-background: transparent;
    --kbq-badge-outline-fade-on-warning-color: hsla(38, 100%, 33%, 100%);
    --kbq-badge-outline-fade-on-warning-border: hsla(38, 100%, 55%, 100%);
    --kbq-badge-outline-fade-on-warning-caption: hsla(38, 100%, 33%, 100%);
    --kbq-badge-outline-fade-on-warning-icon: hsla(38, 100%, 42%, 100%);
    --kbq-badge-outline-fade-on-error-background: transparent;
    --kbq-badge-outline-fade-on-error-color: hsla(7, 97%, 40%, 100%);
    --kbq-badge-outline-fade-on-error-border: hsla(7, 97%, 65%, 100%);
    --kbq-badge-outline-fade-on-error-caption: hsla(7, 97%, 40%, 100%);
    --kbq-badge-outline-fade-on-error-icon: hsla(7, 97%, 45%, 100%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-badge-filled-fade-off-theme-background: hsla(216, 100%, 50%, 100%);
    --kbq-badge-filled-fade-off-theme-color: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-theme-caption: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-theme-icon: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-success-background: hsla(104, 64%, 40%, 100%);
    --kbq-badge-filled-fade-off-success-color: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-success-caption: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-success-icon: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-warning-background: hsla(38, 100%, 39%, 100%);
    --kbq-badge-filled-fade-off-warning-color: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-warning-caption: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-warning-icon: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-error-background: hsla(7, 97%, 41%, 100%);
    --kbq-badge-filled-fade-off-error-color: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-error-caption: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-off-error-icon: hsla(0, 0%, 100%, 100%);
    --kbq-badge-filled-fade-on-theme-background: hsla(216, 100%, 20%, 100%);
    --kbq-badge-filled-fade-on-theme-color: hsla(216, 100%, 65%, 100%);
    --kbq-badge-filled-fade-on-theme-caption: hsla(216, 100%, 65%, 100%);
    --kbq-badge-filled-fade-on-theme-icon: hsla(216, 100%, 65%, 100%);
    --kbq-badge-filled-fade-on-contrast-background: hsla(229, 15%, 25%, 100%);
    --kbq-badge-filled-fade-on-contrast-color: hsla(229, 15%, 80%, 100%);
    --kbq-badge-filled-fade-on-contrast-caption: hsla(229, 15%, 80%, 100%);
    --kbq-badge-filled-fade-on-contrast-icon: hsla(229, 15%, 45%, 100%);
    --kbq-badge-filled-fade-on-success-background: hsla(104, 64%, 12%, 100%);
    --kbq-badge-filled-fade-on-success-color: hsla(104, 64%, 45%, 100%);
    --kbq-badge-filled-fade-on-success-caption: hsla(104, 64%, 45%, 100%);
    --kbq-badge-filled-fade-on-success-icon: hsla(104, 64%, 45%, 100%);
    --kbq-badge-filled-fade-on-warning-background: hsla(38, 100%, 14%, 100%);
    --kbq-badge-filled-fade-on-warning-color: hsla(38, 100%, 60%, 100%);
    --kbq-badge-filled-fade-on-warning-caption: hsla(38, 100%, 60%, 100%);
    --kbq-badge-filled-fade-on-warning-icon: hsla(38, 100%, 60%, 100%);
    --kbq-badge-filled-fade-on-error-background: hsla(7, 97%, 15%, 100%);
    --kbq-badge-filled-fade-on-error-color: hsla(7, 97%, 60%, 100%);
    --kbq-badge-filled-fade-on-error-caption: hsla(7, 97%, 60%, 100%);
    --kbq-badge-filled-fade-on-error-icon: hsla(7, 97%, 60%, 100%);
    --kbq-badge-outline-fade-on-theme-background: transparent;
    --kbq-badge-outline-fade-on-theme-color: hsla(216, 100%, 65%, 100%);
    --kbq-badge-outline-fade-on-theme-border: hsla(216, 100%, 30%, 100%);
    --kbq-badge-outline-fade-on-theme-caption: hsla(216, 100%, 65%, 100%);
    --kbq-badge-outline-fade-on-theme-icon: hsla(216, 100%, 65%, 100%);
    --kbq-badge-outline-fade-on-contrast-background: transparent;
    --kbq-badge-outline-fade-on-contrast-color: hsla(229, 15%, 80%, 100%);
    --kbq-badge-outline-fade-on-contrast-border: hsla(229, 15%, 30%, 100%);
    --kbq-badge-outline-fade-on-contrast-caption: hsla(229, 15%, 80%, 100%);
    --kbq-badge-outline-fade-on-contrast-icon: hsla(229, 15%, 45%, 100%);
    --kbq-badge-outline-fade-on-success-background: transparent;
    --kbq-badge-outline-fade-on-success-color: hsla(104, 64%, 45%, 100%);
    --kbq-badge-outline-fade-on-success-border: hsla(104, 64%, 20%, 100%);
    --kbq-badge-outline-fade-on-success-caption: hsla(104, 64%, 45%, 100%);
    --kbq-badge-outline-fade-on-success-icon: hsla(104, 64%, 45%, 100%);
    --kbq-badge-outline-fade-on-warning-background: transparent;
    --kbq-badge-outline-fade-on-warning-color: hsla(38, 100%, 60%, 100%);
    --kbq-badge-outline-fade-on-warning-border: hsla(38, 100%, 20%, 100%);
    --kbq-badge-outline-fade-on-warning-caption: hsla(38, 100%, 60%, 100%);
    --kbq-badge-outline-fade-on-warning-icon: hsla(38, 100%, 60%, 100%);
    --kbq-badge-outline-fade-on-error-background: transparent;
    --kbq-badge-outline-fade-on-error-color: hsla(7, 97%, 60%, 100%);
    --kbq-badge-outline-fade-on-error-border: hsla(7, 97%, 35%, 100%);
    --kbq-badge-outline-fade-on-error-caption: hsla(7, 97%, 60%, 100%);
    --kbq-badge-outline-fade-on-error-icon: hsla(7, 97%, 60%, 100%);
}
