/* stylelint-disable no-unknown-custom-properties */

.kbq-badge {
    --kbq-badge-size-normal-height: var(--kbq-size-xxl);
    --kbq-badge-size-normal-icon-left-width: var(--kbq-size-l);
    --kbq-badge-size-normal-icon-left-height: var(--kbq-size-l);
    --kbq-badge-size-normal-icon-left-margin-right: var(--kbq-size-xxs);
    --kbq-badge-size-normal-icon-right-width: var(--kbq-size-l);
    --kbq-badge-size-normal-icon-right-height: var(--kbq-size-l);
    --kbq-badge-size-normal-icon-right-margin-left: var(--kbq-size-xxs);
    --kbq-badge-size-normal-horizontal-padding: var(--kbq-size-s);
    --kbq-badge-size-normal-content-padding: var(--kbq-size-xxs);
    --kbq-badge-size-normal-border-width: var(--kbq-size-border-width);
    --kbq-badge-size-normal-border-radius: var(--kbq-size-xxs);
    --kbq-badge-size-compact-height: var(--kbq-size-l);
    --kbq-badge-size-compact-icon-left-width: var(--kbq-size-l);
    --kbq-badge-size-compact-icon-left-height: var(--kbq-size-l);
    --kbq-badge-size-compact-icon-left-margin-right: var(--kbq-size-3xs);
    --kbq-badge-size-compact-icon-right-width: var(--kbq-size-l);
    --kbq-badge-size-compact-icon-right-height: var(--kbq-size-l);
    --kbq-badge-size-compact-icon-right-margin-left: var(--kbq-size-3xs);
    --kbq-badge-size-compact-vertical-padding: 0;
    --kbq-badge-size-compact-horizontal-padding: var(--kbq-size-xxs);
    --kbq-badge-size-compact-content-padding: var(--kbq-size-3xs);
    --kbq-badge-size-compact-border-width: var(--kbq-size-border-width);
    --kbq-badge-size-compact-border-radius: var(--kbq-size-xxs);
    --kbq-badge-font-normal-default-font-size: var(--kbq-typography-text-normal-medium-font-size);
    --kbq-badge-font-normal-default-line-height: var(--kbq-typography-text-normal-medium-line-height);
    --kbq-badge-font-normal-default-letter-spacing: var(--kbq-typography-text-normal-medium-letter-spacing);
    --kbq-badge-font-normal-default-font-weight: var(--kbq-typography-text-normal-medium-font-weight);
    --kbq-badge-font-normal-default-font-family: var(--kbq-typography-text-normal-medium-font-family);
    --kbq-badge-font-normal-default-text-transform: var(--kbq-typography-text-normal-medium-text-transform);
    --kbq-badge-font-normal-default-font-feature-settings: var(--kbq-typography-text-normal-medium-font-feature-settings);
    --kbq-badge-font-normal-caption-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-badge-font-normal-caption-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-badge-font-normal-caption-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-badge-font-normal-caption-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-badge-font-normal-caption-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-badge-font-normal-caption-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-badge-font-normal-caption-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
    --kbq-badge-font-compact-default-font-size: var(--kbq-typography-text-compact-medium-font-size);
    --kbq-badge-font-compact-default-line-height: var(--kbq-typography-text-compact-medium-line-height);
    --kbq-badge-font-compact-default-letter-spacing: var(--kbq-typography-text-compact-medium-letter-spacing);
    --kbq-badge-font-compact-default-font-weight: var(--kbq-typography-text-compact-medium-font-weight);
    --kbq-badge-font-compact-default-font-family: var(--kbq-typography-text-compact-medium-font-family);
    --kbq-badge-font-compact-default-text-transform: var(--kbq-typography-text-compact-medium-text-transform);
    --kbq-badge-font-compact-default-font-feature-settings: var(--kbq-typography-text-compact-medium-font-feature-settings);
    --kbq-badge-font-compact-caption-font-size: var(--kbq-typography-text-compact-font-size);
    --kbq-badge-font-compact-caption-line-height: var(--kbq-typography-text-compact-line-height);
    --kbq-badge-font-compact-caption-letter-spacing: var(--kbq-typography-text-compact-letter-spacing);
    --kbq-badge-font-compact-caption-font-weight: var(--kbq-typography-text-compact-font-weight);
    --kbq-badge-font-compact-caption-font-family: var(--kbq-typography-text-compact-font-family);
    --kbq-badge-font-compact-caption-text-transform: var(--kbq-typography-text-compact-text-transform);
    --kbq-badge-font-compact-caption-font-feature-settings: var(--kbq-typography-text-compact-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-badge-filled-fade-off-theme-background: var(--kbq-background-theme);
    --kbq-badge-filled-fade-off-theme-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-theme-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-theme-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-off-success-background: var(--kbq-background-success);
    --kbq-badge-filled-fade-off-success-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-success-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-success-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-off-warning-background: var(--kbq-background-warning);
    --kbq-badge-filled-fade-off-warning-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-warning-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-warning-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-off-error-background: var(--kbq-background-error);
    --kbq-badge-filled-fade-off-error-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-error-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-error-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-on-theme-background: var(--kbq-background-theme-fade);
    --kbq-badge-filled-fade-on-theme-color: var(--kbq-foreground-theme);
    --kbq-badge-filled-fade-on-theme-caption: var(--kbq-foreground-theme);
    --kbq-badge-filled-fade-on-theme-icon: var(--kbq-icon-theme);
    --kbq-badge-filled-fade-on-contrast-background: var(--kbq-background-contrast-fade);
    --kbq-badge-filled-fade-on-contrast-color: var(--kbq-foreground-contrast);
    --kbq-badge-filled-fade-on-contrast-caption: var(--kbq-foreground-contrast);
    --kbq-badge-filled-fade-on-contrast-icon: var(--kbq-icon-contrast-fade);
    --kbq-badge-filled-fade-on-success-background: var(--kbq-background-success-fade);
    --kbq-badge-filled-fade-on-success-color: var(--kbq-foreground-success);
    --kbq-badge-filled-fade-on-success-caption: var(--kbq-foreground-success);
    --kbq-badge-filled-fade-on-success-icon: var(--kbq-icon-success);
    --kbq-badge-filled-fade-on-warning-background: var(--kbq-background-warning-fade);
    --kbq-badge-filled-fade-on-warning-color: var(--kbq-foreground-warning);
    --kbq-badge-filled-fade-on-warning-caption: var(--kbq-foreground-warning);
    --kbq-badge-filled-fade-on-warning-icon: var(--kbq-icon-warning);
    --kbq-badge-filled-fade-on-error-background: var(--kbq-background-error-fade);
    --kbq-badge-filled-fade-on-error-color: var(--kbq-foreground-error);
    --kbq-badge-filled-fade-on-error-caption: var(--kbq-foreground-error);
    --kbq-badge-filled-fade-on-error-icon: var(--kbq-icon-error);
    --kbq-badge-outline-fade-on-theme-background: transparent;
    --kbq-badge-outline-fade-on-theme-color: var(--kbq-foreground-theme);
    --kbq-badge-outline-fade-on-theme-border: var(--kbq-line-theme-fade);
    --kbq-badge-outline-fade-on-theme-caption: var(--kbq-foreground-theme);
    --kbq-badge-outline-fade-on-theme-icon: var(--kbq-icon-theme);
    --kbq-badge-outline-fade-on-contrast-background: transparent;
    --kbq-badge-outline-fade-on-contrast-color: var(--kbq-foreground-contrast);
    --kbq-badge-outline-fade-on-contrast-border: var(--kbq-line-contrast-fade);
    --kbq-badge-outline-fade-on-contrast-caption: var(--kbq-foreground-contrast);
    --kbq-badge-outline-fade-on-contrast-icon: var(--kbq-icon-contrast-fade);
    --kbq-badge-outline-fade-on-success-background: transparent;
    --kbq-badge-outline-fade-on-success-color: var(--kbq-foreground-success);
    --kbq-badge-outline-fade-on-success-border: var(--kbq-line-success-fade);
    --kbq-badge-outline-fade-on-success-caption: var(--kbq-foreground-success);
    --kbq-badge-outline-fade-on-success-icon: var(--kbq-icon-success);
    --kbq-badge-outline-fade-on-warning-background: transparent;
    --kbq-badge-outline-fade-on-warning-color: var(--kbq-foreground-warning);
    --kbq-badge-outline-fade-on-warning-border: var(--kbq-line-warning-fade);
    --kbq-badge-outline-fade-on-warning-caption: var(--kbq-foreground-warning);
    --kbq-badge-outline-fade-on-warning-icon: var(--kbq-icon-warning);
    --kbq-badge-outline-fade-on-error-background: transparent;
    --kbq-badge-outline-fade-on-error-color: var(--kbq-foreground-error);
    --kbq-badge-outline-fade-on-error-border: var(--kbq-line-error-fade);
    --kbq-badge-outline-fade-on-error-caption: var(--kbq-foreground-error);
    --kbq-badge-outline-fade-on-error-icon: var(--kbq-icon-error);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-badge-filled-fade-off-theme-background: var(--kbq-background-theme);
    --kbq-badge-filled-fade-off-theme-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-theme-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-theme-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-off-success-background: var(--kbq-background-success);
    --kbq-badge-filled-fade-off-success-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-success-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-success-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-off-warning-background: var(--kbq-background-warning);
    --kbq-badge-filled-fade-off-warning-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-warning-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-warning-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-off-error-background: var(--kbq-background-error);
    --kbq-badge-filled-fade-off-error-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-error-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-error-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-on-theme-background: var(--kbq-background-theme-fade);
    --kbq-badge-filled-fade-on-theme-color: var(--kbq-foreground-theme);
    --kbq-badge-filled-fade-on-theme-caption: var(--kbq-foreground-theme);
    --kbq-badge-filled-fade-on-theme-icon: var(--kbq-icon-theme);
    --kbq-badge-filled-fade-on-contrast-background: var(--kbq-background-contrast-fade);
    --kbq-badge-filled-fade-on-contrast-color: var(--kbq-foreground-contrast);
    --kbq-badge-filled-fade-on-contrast-caption: var(--kbq-foreground-contrast);
    --kbq-badge-filled-fade-on-contrast-icon: var(--kbq-icon-contrast-fade);
    --kbq-badge-filled-fade-on-success-background: var(--kbq-background-success-fade);
    --kbq-badge-filled-fade-on-success-color: var(--kbq-foreground-success);
    --kbq-badge-filled-fade-on-success-caption: var(--kbq-foreground-success);
    --kbq-badge-filled-fade-on-success-icon: var(--kbq-icon-success);
    --kbq-badge-filled-fade-on-warning-background: var(--kbq-background-warning-fade);
    --kbq-badge-filled-fade-on-warning-color: var(--kbq-foreground-warning);
    --kbq-badge-filled-fade-on-warning-caption: var(--kbq-foreground-warning);
    --kbq-badge-filled-fade-on-warning-icon: var(--kbq-icon-warning);
    --kbq-badge-filled-fade-on-error-background: var(--kbq-background-error-fade);
    --kbq-badge-filled-fade-on-error-color: var(--kbq-foreground-error);
    --kbq-badge-filled-fade-on-error-caption: var(--kbq-foreground-error);
    --kbq-badge-filled-fade-on-error-icon: var(--kbq-icon-error);
    --kbq-badge-outline-fade-on-theme-background: transparent;
    --kbq-badge-outline-fade-on-theme-color: var(--kbq-foreground-theme);
    --kbq-badge-outline-fade-on-theme-border: var(--kbq-line-theme-fade);
    --kbq-badge-outline-fade-on-theme-caption: var(--kbq-foreground-theme);
    --kbq-badge-outline-fade-on-theme-icon: var(--kbq-icon-theme);
    --kbq-badge-outline-fade-on-contrast-background: transparent;
    --kbq-badge-outline-fade-on-contrast-color: var(--kbq-foreground-contrast);
    --kbq-badge-outline-fade-on-contrast-border: var(--kbq-line-contrast-fade);
    --kbq-badge-outline-fade-on-contrast-caption: var(--kbq-foreground-contrast);
    --kbq-badge-outline-fade-on-contrast-icon: var(--kbq-icon-contrast-fade);
    --kbq-badge-outline-fade-on-success-background: transparent;
    --kbq-badge-outline-fade-on-success-color: var(--kbq-foreground-success);
    --kbq-badge-outline-fade-on-success-border: var(--kbq-line-success-fade);
    --kbq-badge-outline-fade-on-success-caption: var(--kbq-foreground-success);
    --kbq-badge-outline-fade-on-success-icon: var(--kbq-icon-success);
    --kbq-badge-outline-fade-on-warning-background: transparent;
    --kbq-badge-outline-fade-on-warning-color: var(--kbq-foreground-warning);
    --kbq-badge-outline-fade-on-warning-border: var(--kbq-line-warning-fade);
    --kbq-badge-outline-fade-on-warning-caption: var(--kbq-foreground-warning);
    --kbq-badge-outline-fade-on-warning-icon: var(--kbq-icon-warning);
    --kbq-badge-outline-fade-on-error-background: transparent;
    --kbq-badge-outline-fade-on-error-color: var(--kbq-foreground-error);
    --kbq-badge-outline-fade-on-error-border: var(--kbq-line-error-fade);
    --kbq-badge-outline-fade-on-error-caption: var(--kbq-foreground-error);
    --kbq-badge-outline-fade-on-error-icon: var(--kbq-icon-error);
}
