.kbq-badge {
    --kbq-badge-size-normal-height: var(--kbq-size-xxl);
    --kbq-badge-size-normal-icon-left-width: var(--kbq-size-l);
    --kbq-badge-size-normal-icon-left-height: var(--kbq-size-l);
    --kbq-badge-size-normal-icon-left-margin-right: var(--kbq-size-xxs);
    --kbq-badge-size-normal-icon-right-width: var(--kbq-size-l);
    --kbq-badge-size-normal-icon-right-height: var(--kbq-size-l);
    --kbq-badge-size-normal-icon-right-margin-left: var(--kbq-size-xxs);
    --kbq-badge-size-normal-horizontal-padding: var(--kbq-size-s);
    --kbq-badge-size-normal-content-padding: var(--kbq-size-xxs);
    --kbq-badge-size-normal-border-width: var(--kbq-size-border-width);
    --kbq-badge-size-normal-border-radius: var(--kbq-size-xxs);
    --kbq-badge-size-compact-height: var(--kbq-size-l);
    --kbq-badge-size-compact-icon-left-width: var(--kbq-size-l);
    --kbq-badge-size-compact-icon-left-height: var(--kbq-size-l);
    --kbq-badge-size-compact-icon-left-margin-right: var(--kbq-size-3xs);
    --kbq-badge-size-compact-icon-right-width: var(--kbq-size-l);
    --kbq-badge-size-compact-icon-right-height: var(--kbq-size-l);
    --kbq-badge-size-compact-icon-right-margin-left: var(--kbq-size-3xs);
    --kbq-badge-size-compact-vertical-padding: 0;
    --kbq-badge-size-compact-horizontal-padding: var(--kbq-size-xxs);
    --kbq-badge-size-compact-content-padding: var(--kbq-size-3xs);
    --kbq-badge-size-compact-border-width: var(--kbq-size-border-width);
    --kbq-badge-size-compact-border-radius: var(--kbq-size-xxs);
    /* THEME TOKENS */
    --kbq-badge-filled-fade-off-contrast-background: var(--kbq-background-contrast);
    --kbq-badge-filled-fade-off-contrast-color: var(--kbq-foreground-on-contrast);
    --kbq-badge-filled-fade-off-contrast-caption: var(--kbq-foreground-on-contrast);
    --kbq-badge-filled-fade-off-contrast-icon: var(--kbq-icon-on-contrast);
    --kbq-badge-filled-fade-off-theme-background: var(--kbq-background-theme);
    --kbq-badge-filled-fade-off-theme-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-theme-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-theme-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-off-success-background: var(--kbq-background-success);
    --kbq-badge-filled-fade-off-success-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-success-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-success-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-off-warning-background: var(--kbq-background-warning);
    --kbq-badge-filled-fade-off-warning-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-warning-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-warning-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-off-error-background: var(--kbq-background-error);
    --kbq-badge-filled-fade-off-error-color: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-error-caption: var(--kbq-foreground-white);
    --kbq-badge-filled-fade-off-error-icon: var(--kbq-icon-white);
    --kbq-badge-filled-fade-off-disabled-background: var(--kbq-states-background-disabled);
    --kbq-badge-filled-fade-off-disabled-color: var(--kbq-states-foreground-disabled);
    --kbq-badge-filled-fade-off-disabled-caption: var(--kbq-states-foreground-disabled);
    --kbq-badge-filled-fade-off-disabled-icon: var(--kbq-states-icon-disabled);
    --kbq-badge-filled-fade-on-theme-background: var(--kbq-background-theme-fade);
    --kbq-badge-filled-fade-on-theme-color: var(--kbq-foreground-theme);
    --kbq-badge-filled-fade-on-theme-caption: var(--kbq-foreground-theme);
    --kbq-badge-filled-fade-on-theme-icon: var(--kbq-icon-theme);
    --kbq-badge-filled-fade-on-contrast-background: var(--kbq-background-contrast-fade);
    --kbq-badge-filled-fade-on-contrast-color: var(--kbq-foreground-contrast);
    --kbq-badge-filled-fade-on-contrast-caption: var(--kbq-foreground-contrast);
    --kbq-badge-filled-fade-on-contrast-icon: var(--kbq-icon-contrast);
    --kbq-badge-filled-fade-on-success-background: var(--kbq-background-success-fade);
    --kbq-badge-filled-fade-on-success-color: var(--kbq-foreground-success);
    --kbq-badge-filled-fade-on-success-caption: var(--kbq-foreground-success);
    --kbq-badge-filled-fade-on-success-icon: var(--kbq-icon-success);
    --kbq-badge-filled-fade-on-warning-background: var(--kbq-background-warning-fade);
    --kbq-badge-filled-fade-on-warning-color: var(--kbq-foreground-warning);
    --kbq-badge-filled-fade-on-warning-caption: var(--kbq-foreground-warning);
    --kbq-badge-filled-fade-on-warning-icon: var(--kbq-icon-warning);
    --kbq-badge-filled-fade-on-error-background: var(--kbq-background-error-fade);
    --kbq-badge-filled-fade-on-error-color: var(--kbq-foreground-error);
    --kbq-badge-filled-fade-on-error-caption: var(--kbq-foreground-error);
    --kbq-badge-filled-fade-on-error-icon: var(--kbq-icon-error);
    --kbq-badge-filled-fade-on-disabled-background: var(--kbq-states-background-disabled);
    --kbq-badge-filled-fade-on-disabled-color: var(--kbq-states-foreground-disabled);
    --kbq-badge-filled-fade-on-disabled-caption: var(--kbq-states-foreground-disabled);
    --kbq-badge-filled-fade-on-disabled-icon: var(--kbq-states-icon-disabled);
    --kbq-badge-outline-fade-on-theme-background: transparent;
    --kbq-badge-outline-fade-on-theme-color: var(--kbq-foreground-theme);
    --kbq-badge-outline-fade-on-theme-border: var(--kbq-line-theme-fade);
    --kbq-badge-outline-fade-on-theme-caption: var(--kbq-foreground-theme);
    --kbq-badge-outline-fade-on-theme-icon: var(--kbq-icon-theme);
    --kbq-badge-outline-fade-on-contrast-background: transparent;
    --kbq-badge-outline-fade-on-contrast-color: var(--kbq-foreground-contrast);
    --kbq-badge-outline-fade-on-contrast-border: var(--kbq-line-contrast-fade);
    --kbq-badge-outline-fade-on-contrast-caption: var(--kbq-foreground-contrast);
    --kbq-badge-outline-fade-on-contrast-icon: var(--kbq-icon-contrast);
    --kbq-badge-outline-fade-on-success-background: transparent;
    --kbq-badge-outline-fade-on-success-color: var(--kbq-foreground-success);
    --kbq-badge-outline-fade-on-success-border: var(--kbq-line-success-fade);
    --kbq-badge-outline-fade-on-success-caption: var(--kbq-foreground-success);
    --kbq-badge-outline-fade-on-success-icon: var(--kbq-icon-success);
    --kbq-badge-outline-fade-on-warning-background: transparent;
    --kbq-badge-outline-fade-on-warning-color: var(--kbq-foreground-warning);
    --kbq-badge-outline-fade-on-warning-border: var(--kbq-line-warning-fade);
    --kbq-badge-outline-fade-on-warning-caption: var(--kbq-foreground-warning);
    --kbq-badge-outline-fade-on-warning-icon: var(--kbq-icon-warning);
    --kbq-badge-outline-fade-on-error-background: transparent;
    --kbq-badge-outline-fade-on-error-color: var(--kbq-foreground-error);
    --kbq-badge-outline-fade-on-error-border: var(--kbq-line-error-fade);
    --kbq-badge-outline-fade-on-error-caption: var(--kbq-foreground-error);
    --kbq-badge-outline-fade-on-error-icon: var(--kbq-icon-error);
    --kbq-badge-outline-fade-on-disabled-background: transparent;
    --kbq-badge-outline-fade-on-disabled-color: var(--kbq-states-foreground-disabled);
    --kbq-badge-outline-fade-on-disabled-border: var(--kbq-states-line-disabled);
    --kbq-badge-outline-fade-on-disabled-caption: var(--kbq-states-foreground-disabled);
    --kbq-badge-outline-fade-on-disabled-icon: var(--kbq-states-icon-disabled);
}
