@use '../core/styles/common/tokens' as *;

@mixin kbq-popover-theme() {
    .kbq-popover {
        box-shadow: kbq-css-variable(popover-container-box-shadow);
    }

    .kbq-popover__container {
        background: kbq-css-variable(popover-container-background);
    }

    .kbq-popover__arrow {
        box-shadow: kbq-css-variable(popover-container-box-shadow);
        background: kbq-css-variable(popover-container-background);
    }

    .kbq-popover__close {
        background-color: kbq-css-variable(background-overlay-inverse);
    }

    .kbq-popover__header {
        color: kbq-css-variable(popover-header-text-color);
    }

    .kbq-popover__content {
        color: kbq-css-variable(popover-content-text-color);
    }
}

@mixin kbq-popover-typography() {
    .kbq-popover__header {
        @include kbq-typography-css-variables(popover, header);
    }

    .kbq-popover__content {
        @include kbq-typography-css-variables(popover, content);
    }
}
