.kbq-popover {
    --kbq-button-size-border-radius: var(--kbq-size-s);
    --kbq-popover-size-container-width-small: 200px;
    --kbq-popover-size-container-width-medium: 400px;
    --kbq-popover-size-container-width-large: 640px;
    --kbq-popover-size-container-border-radius: var(--kbq-size-m);
    --kbq-popover-size-container-max-height: 480px;
    --kbq-popover-size-close-button-width: 32px;
    --kbq-popover-size-close-button-margin-right: -16px;
    --kbq-popover-size-close-button-margin-top: -10px;
    --kbq-popover-size-header-padding-horizontal: var(--kbq-size-xxl);
    --kbq-popover-size-header-padding-top: var(--kbq-size-l);
    --kbq-popover-size-header-padding-bottom: var(--kbq-size-xs);
    --kbq-popover-size-content-padding-top: var(--kbq-size-xxl);
    --kbq-popover-size-content-padding-bottom: var(--kbq-size-3xl);
    --kbq-popover-size-content-padding-horizontal: var(--kbq-size-xxl);
    --kbq-popover-size-content-padding-with-header-top: var(--kbq-size-s);
    --kbq-popover-size-content-padding-with-footer-bottom: var(--kbq-size-s);
    --kbq-popover-size-footer-padding-vertical: var(--kbq-size-l);
    --kbq-popover-size-footer-padding-horizontal: var(--kbq-size-xxl);
    --kbq-popover-font-header-font-size: var(--kbq-typography-subheading-font-size);
    --kbq-popover-font-header-line-height: var(--kbq-typography-subheading-line-height);
    --kbq-popover-font-header-letter-spacing: var(--kbq-typography-subheading-letter-spacing);
    --kbq-popover-font-header-font-weight: var(--kbq-typography-subheading-font-weight);
    --kbq-popover-font-header-font-family: var(--kbq-typography-subheading-font-family);
    --kbq-popover-font-header-text-transform: var(--kbq-typography-subheading-text-transform);
    --kbq-popover-font-header-font-feature-settings: var(--kbq-typography-subheading-font-feature-settings);
    --kbq-popover-font-content-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-popover-font-content-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-popover-font-content-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-popover-font-content-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-popover-font-content-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-popover-font-content-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-popover-font-content-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-popover-container-background: var(--kbq-background-card);
    --kbq-popover-container-shadow: var(--kbq-shadow-popup);
    --kbq-popover-header-text-color: var(--kbq-foreground-contrast);
    --kbq-popover-header-scroll-shadow: var(--kbq-shadow-overflow-normal-bottom);
    --kbq-popover-content-text-color: var(--kbq-foreground-contrast);
    --kbq-popover-footer-scroll-shadow: var(--kbq-shadow-overflow-normal-top);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-popover-container-background: var(--kbq-background-card);
    --kbq-popover-container-shadow: var(--kbq-shadow-popup);
    --kbq-popover-header-text-color: var(--kbq-foreground-contrast);
    --kbq-popover-header-scroll-shadow: var(--kbq-shadow-overflow-normal-bottom);
    --kbq-popover-content-text-color: var(--kbq-foreground-contrast);
    --kbq-popover-footer-scroll-shadow: var(--kbq-shadow-overflow-normal-top);
}
