@use 'sass:meta';
@use 'sass:map';

@use '../core/pop-up/pop-up';
@use '../core/styles/common';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

$arrow-size: 12px;
$trigger-margin: 9px;

.kbq-popover {
    position: relative;

    border-radius: kbq-css-variable(popover-size-container-border-radius);

    box-sizing: border-box;

    list-style: none;
    white-space: pre-line;

    z-index: 1;

    &.kbq-popover_small {
        max-width: kbq-css-variable(popover-size-container-width-small);
    }

    &.kbq-popover_medium {
        max-width: kbq-css-variable(popover-size-container-width-medium);
    }

    &.kbq-popover_large {
        max-width: kbq-css-variable(popover-size-container-width-large);
    }

    @include pop-up.popup-margins(kbq-popover, 8px);
}

.kbq-popover__content {
    overflow-y: auto;

    padding: kbq-css-variable(popover-size-content-padding-top)
        kbq-css-variable(popover-size-content-padding-horizontal) kbq-css-variable(popover-size-content-padding-bottom);
}

.kbq-popover__container {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    max-height: kbq-css-variable(popover-size-container-max-height);

    border-radius: kbq-css-variable(popover-size-container-border-radius);

    &.kbq-popover__container_with-header {
        .kbq-popover__content {
            padding-top: kbq-css-variable(size-s);
        }
    }

    &.kbq-popover__container_with-footer {
        .kbq-popover__content {
            padding-bottom: kbq-css-variable(size-s);
        }
    }
}

.kbq-popover__header {
    display: flex;
    align-items: center;

    overflow: hidden;

    padding: kbq-css-variable(popover-size-header-padding-top) kbq-css-variable(popover-size-header-padding-horizontal)
        kbq-css-variable(popover-size-header-padding-bottom) kbq-css-variable(popover-size-header-padding-horizontal);

    & .kbq-popover__header-text {
        @include common.kbq-truncate-line();
    }
}

.kbq-popover__footer {
    padding: kbq-css-variable(popover-size-footer-padding-vertical)
        kbq-css-variable(popover-size-footer-padding-horizontal);
}

.kbq-popover__arrow {
    position: absolute;

    z-index: -1;

    width: $arrow-size;
    height: $arrow-size;

    transform: rotate(45deg);
}

$arrow-offset: calc(($arrow-size - 1px) / -2);
$arrow-padding: calc(18px - $trigger-margin);

@include pop-up.popup-arrow-positions(kbq-popover, $arrow-offset, $arrow-padding);

.kbq-popover__close {
    position: absolute;
    top: 8px;
    right: 8px;
}
