@use '../core/pop-up/pop-up';
@use '../core/styles/common';

@use '../core/styles/common/tokens' as *;

@use './popover-theme' as *;

$arrow-size: 12px;
$trigger-margin: 9px;

.kbq-popover {
    position: relative;

    border-radius: var(--kbq-popover-size-container-border-radius);

    box-sizing: border-box;

    list-style: none;
    white-space: pre-line;

    z-index: 1;

    &.kbq-popover_small {
        max-width: var(--kbq-popover-size-container-width-small);
    }

    &.kbq-popover_medium {
        max-width: var(--kbq-popover-size-container-width-medium);
    }

    &.kbq-popover_large {
        max-width: var(--kbq-popover-size-container-width-large);
    }

    @include pop-up.popup-margins(kbq-popover, 8px);
}

.kbq-popover__content {
    overflow-y: auto;

    padding: var(--kbq-popover-size-content-padding-top) var(--kbq-popover-size-content-padding-horizontal)
        var(--kbq-popover-size-content-padding-bottom);
}

.kbq-popover__container {
    overflow: hidden;

    display: flex;
    flex-direction: column;

    max-height: var(--kbq-popover-size-container-max-height);

    border-radius: var(--kbq-popover-size-container-border-radius);

    &.kbq-popover__container_with-header {
        .kbq-popover__content {
            padding-top: var(--kbq-size-s);
        }
    }

    &.kbq-popover__container_with-footer {
        .kbq-popover__content {
            padding-bottom: var(--kbq-size-s);
        }
    }
}

.kbq-popover__content .kbq-popover__close-container {
    display: flex;
    justify-content: flex-end;
    height: 0;

    .kbq-popover__close {
        top: auto;
        right: auto;
        transform: translateY(-50%) translateX(50%);
    }
}

.kbq-popover__header {
    display: flex;
    align-items: center;

    overflow: hidden;

    padding: var(--kbq-popover-size-header-padding-top) var(--kbq-popover-size-header-padding-horizontal)
        var(--kbq-popover-size-header-padding-bottom) var(--kbq-popover-size-header-padding-horizontal);

    & .kbq-popover__header-text {
        @include common.kbq-truncate-line();
    }
}

.kbq-popover__header_top-overflow {
    box-shadow: var(--kbq-shadow-overflow-normal-bottom);
}

.kbq-popover__header_with-close-button {
    padding-right: var(--kbq-size-4xl);
}

.kbq-popover__footer {
    padding: var(--kbq-popover-size-footer-padding-vertical) var(--kbq-popover-size-footer-padding-horizontal);
}

.kbq-popover__footer_bottom-overflow {
    box-shadow: var(--kbq-shadow-overflow-normal-top);
}

.kbq-popover__arrow {
    position: absolute;

    z-index: -1;

    width: $arrow-size;
    height: $arrow-size;

    transform: rotate(45deg);
}

$arrow-offset: calc(($arrow-size - 1px) / -2);
$arrow-padding: calc(18px - $trigger-margin);

@include pop-up.popup-arrow-positions(kbq-popover, $arrow-offset, $arrow-padding);

.kbq-popover__close {
    position: absolute;
    z-index: 2;
    top: var(--kbq-size-s);
    right: var(--kbq-size-s);
    border-radius: var(--kbq-size-s);
}

@include kbq-popover-theme();
@include kbq-popover-typography();
