.kbq-popover {
    --kbq-popover-size-container-width-small: 200px;
    --kbq-popover-size-container-width-medium: 400px;
    --kbq-popover-size-container-width-large: 640px;
    --kbq-popover-size-container-border-radius: var(--kbq-size-m);
    --kbq-popover-size-container-max-height: 480px;
    --kbq-popover-size-close-button-width: 32px;
    --kbq-popover-size-close-button-margin-right: -16px;
    --kbq-popover-size-close-button-margin-top: -10px;
    --kbq-popover-size-header-padding-horizontal: var(--kbq-size-xxl);
    --kbq-popover-size-header-padding-top: var(--kbq-size-l);
    --kbq-popover-size-header-padding-bottom: var(--kbq-size-xs);
    --kbq-popover-size-content-padding-top: var(--kbq-size-xxl);
    --kbq-popover-size-content-padding-bottom: var(--kbq-size-3xl);
    --kbq-popover-size-content-padding-horizontal: var(--kbq-size-xxl);
    --kbq-popover-size-content-padding-with-header-top: var(--kbq-size-s);
    --kbq-popover-size-content-padding-with-footer-bottom: var(--kbq-size-s);
    --kbq-popover-size-footer-padding-vertical: var(--kbq-size-l);
    --kbq-popover-size-footer-padding-horizontal: var(--kbq-size-xxl);
    /* THEME TOKENS */
    --kbq-popover-container-background: var(--kbq-background-card);
    --kbq-popover-container-shadow: var(--kbq-shadow-popup);
    --kbq-popover-header-text-color: var(--kbq-foreground-contrast);
    --kbq-popover-header-scroll-shadow: var(--kbq-shadow-overflow-normal-bottom);
    --kbq-popover-content-text-color: var(--kbq-foreground-contrast);
    --kbq-popover-footer-scroll-shadow: var(--kbq-shadow-overflow-normal-top);

    --kbq-popover-borderless-shadow: 0 2px 8px var(--kbq-shadow-key), 0 3px 8px var(--kbq-shadow-ambient);
}
