@use '../core/styles/common/tokens' as *;

@mixin kbq-loader-overlay-theme() {
    // FIXME: move to unified mixin if necessary
    .kbq-loader-overlay_filled {
        &.kbq-loader-overlay {
            background: var(--kbq-loader-overlay-filled-overlay-background);
        }

        & .kbq-loader-overlay-text {
            color: var(--kbq-loader-overlay-filled-text-color);
        }

        & .kbq-loader-overlay-caption {
            color: var(--kbq-loader-overlay-filled-caption-color);
        }
    }

    .kbq-loader-overlay_transparent {
        &.kbq-loader-overlay {
            background: var(--kbq-loader-overlay-transparent-overlay-background);
        }

        & .kbq-loader-overlay-text {
            color: var(--kbq-loader-overlay-transparent-text-color);
        }

        & .kbq-loader-overlay-caption {
            color: var(--kbq-loader-overlay-transparent-caption-color);
        }
    }
}

@mixin kbq-loader-overlay-typography() {
    .kbq-loader-overlay_big {
        & .kbq-loader-overlay-text {
            @include kbq-typography-css-variables(loader-overlay, big-text);
        }

        & .kbq-loader-overlay-caption {
            @include kbq-typography-css-variables(loader-overlay, big-caption);
        }
    }

    .kbq-loader-overlay_compact {
        & .kbq-loader-overlay-text {
            @include kbq-typography-css-variables(loader-overlay, compact-text);
        }

        & .kbq-loader-overlay-caption {
            @include kbq-typography-css-variables(loader-overlay, compact-caption);
        }
    }
}
