.docs-live-example__example:not(.docs-live-example__example_notification-center-popover) {
    padding: var(--kbq-size-xl);

    overflow: auto;

    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: var(--docs-live-example-example-background);
}

.docs-live-example-viewer {
    margin: var(--kbq-size-xl) 0;

    & > .kbq-code-block {
        margin-top: var(--kbq-size-l);
    }
}

.docs-live-example__container {
    border-radius: var(--kbq-size-m);
}

.docs-live-example__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: var(--kbq-size-m) var(--kbq-size-xl);

    .docs-live-example-footer__reload-button {
        --kbq-button-size-height: var(--kbq-size-xxl);
        width: var(--kbq-size-xxl);
    }

    .docs-live-example-footer__divider.kbq-divider {
        height: var(--kbq-size-s);
        --kbq-divider-size-vertical-margin-horizontal: var(--kbq-size-s);
        margin-left: var(--kbq-size-xxs);
    }
}

.docs-example-vertical-margin {
    margin-top: var(--kbq-size-l);
    margin-bottom: var(--kbq-size-l);
}
