.docs-live-example__example {
    padding: var(--kbq-size-xl);

    overflow: auto;

    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.docs-live-example-viewer {
    margin: var(--kbq-size-xl) 0;

    & > .kbq-code-block {
        margin-top: var(--kbq-size-l);
    }
}

.docs-live-example__container {
    border-radius: var(--kbq-size-m);
}

.docs-live-example__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: var(--kbq-size-m) var(--kbq-size-xl);
}

.docs-example-vertical-margin {
    margin-top: var(--kbq-size-l);
    margin-bottom: var(--kbq-size-l);
}
