@use '../dist/components/core/styles/theming';


@mixin kbq-docs-stackblitz-theme($theme) {
    $primary: map-get($theme, primary);

    .stackblitz__icon-g {
        fill: theming.kbq-color($primary);
        fill-rule: nonzero;
    }
}

@mixin kbq-docs-stackblitz-theme($theme) {
    $theme: map-get($theme, theme);

    .stackblitz__icon-g {
        fill: theming.kbq-color($theme);
        fill-rule: nonzero;
    }
}
