@use '../core/styles/common/tokens' as *;

@mixin kbq-navbar-ic-item($state-name) {
    &:not(.kbq-navbar-ic-item_has-nested) {
        &:after {
            display: block;
            background: var(--kbq-navbar-ic-item-#{$state-name}-content-background);
        }
    }

    .kbq-navbar-ic-title {
        color: var(--kbq-navbar-ic-item-#{$state-name}-content-text);
    }

    & > .kbq-icon.kbq-empty {
        color: var(--kbq-navbar-ic-item-#{$state-name}-content-icon-left) !important;
    }

    .kbq-navbar-ic-item__arrow-icon {
        color: var(--kbq-navbar-ic-item-#{$state-name}-content-icon-right) !important;
    }
}

@mixin kbq-navbar-ic-theme() {
    .kbq-navbar-ic .kbq-navbar-ic__container {
        background-color: var(--kbq-navbar-ic-background);
        border-right: 1px solid var(--kbq-navbar-ic-border);
    }

    .kbq-navbar-ic-item,
    .kbq-navbar-ic-header,
    .kbq-navbar-ic-toggle {
        cursor: pointer;

        @include kbq-navbar-ic-item(default);

        &:hover:not(.kbq-disabled, kbq-navbar-ic-header) {
            @include kbq-navbar-ic-item(states-hover);
        }

        &.cdk-focused.cdk-keyboard-focused {
            outline: none;

            &:after {
                display: block;
                box-shadow: inset 0 0 0 2px var(--kbq-states-line-focus-theme);
            }
        }

        &:active:not(.kbq-disabled, .kbq-navbar-ic-header),
        &.kbq-active:not(.kbq-disabled, .kbq-navbar-ic-header) {
            @include kbq-navbar-ic-item(states-selected);
        }

        &.kbq-navbar-ic-focusable-item {
            outline: none;
        }

        &.kbq-disabled {
            @include kbq-navbar-ic-item(states-disabled);

            pointer-events: none;
            cursor: default;
        }
    }

    .kbq-navbar-ic-header:hover {
        .kbq-navbar-logo {
            transform: scale(1.06);
        }
    }

    .kbq-navbar-ic-divider {
        background: var(--kbq-line-contrast-less);
    }
}

button {
    &.kbq-navbar-ic-item,
    &.kbq-navbar-ic-header,
    &.kbq-navbar-ic-toggle {
        background: transparent;
        border: none;
    }
}

@mixin kbq-navbar-ic-typography() {
    .kbq-navbar-ic-title {
        @include kbq-typography-level-to-styles-css-variables(typography, text-normal-medium);
    }

    .kbq-navbar-ic-header {
        .kbq-navbar-ic-title {
            @include kbq-typography-level-to-styles-css-variables(typography, navbar-title);
        }
    }
}
