@use './navbar-ic-theme';

.kbq-navbar-ic-container {
    display: flex;

    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}

.kbq-navbar-ic {
    display: flex;
    position: relative;

    & .kbq-navbar-ic-container + .kbq-navbar-ic-container {
        padding-top: var(--kbq-size-xxl);
        padding-bottom: var(--kbq-size-m);
    }

    & .kbq-navbar-ic__top-layer {
        position: absolute;
        z-index: 998;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}

@include navbar-ic-theme.kbq-navbar-ic-theme();
@include navbar-ic-theme.kbq-navbar-ic-typography();
