@use './filter-bar-theme' as *;

.kbq-filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .kbq-divider {
        align-self: center;

        height: 12px !important;

        margin-left: 6px !important;
        margin-right: 6px !important;
    }

    .kbq-filter-bar__left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .kbq-filter-add {
        margin-right: 8px;
    }
}

@include kbq-filter-bar-theme();
@include kbq-button_changed-filter();
@include kbq-filter-bar-typography();
