@use './filter-bar-theme' as *;

.kbq-filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    .kbq-filter-bar__left {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        gap: 8px;

        .kbq-button > .kbq-icon {
            margin-right: 4px;
        }

        & > .kbq-icon {
            align-self: center;
        }
    }

    .kbq-filter-bar__right {
        display: flex;
        flex-direction: row;

        margin-left: 32px;
    }
}

.kbq-pipe__popover {
    .kbq-popover__container {
        min-width: 320px;
    }

    .kbq-popover__content {
        padding: 12px 12px 1px !important;
    }

    .kbq-popover__footer {
        padding: 4px;

        & .kbq-button:not(.kbq-disabled) {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;

            & .kbq-button_hot-key {
                color: var(--kbq-foreground-contrast-secondary);
            }
        }
    }
}

@include kbq-button-changed-filter();
@include kbq-filter-bar-typography();
