@use '../core/styles/common';
@use './filter-bar-theme' as *;

.kbq-filters {
    display: flex;

    > .kbq-button {
        max-width: 320px;

        & .kbq-button-wrapper {
            width: 100%;
        }
    }

    > .kbq-button .kbq-icon {
        margin-right: 4px;
    }

    & .kbq-filters__filter-name {
        @include common.kbq-truncate-line();
    }

    & .kbq-filter-bar__separator {
        align-self: center;

        height: 12px !important;

        margin-left: calc(8px + 6px) !important;
        margin-right: 6px !important;
    }

    & .kbq-filter-bar__arrow {
        align-self: center;

        margin-left: 8px;
    }

    .kbq-button.kbq-button_changed-filter {
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
    }

    .kbq-button-icon {
        margin-left: -1px;

        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
    }

    .kbq-button_changed-saved-filter {
        &::before {
            content: '';
            position: absolute;
            right: -4px;
            top: -4px;

            width: 8px;
            height: 8px;

            border: 2px solid var(--kbq-background-bg);
            border-radius: 6px;

            background: var(--kbq-icon-warning);
        }
    }

    .kbq-button:not(:hover, .kbq-active) + .kbq-button_action:not(:hover, .kbq-active)::after {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;

        width: 1px;
        height: 12px;

        background: var(--kbq-line-contrast-less);
    }
}

@include kbq-filter-bar-typography();
