@use './filter-bar-theme' as *;

.kbq-filters {
    display: flex;

    margin-right: 8px;

    > .kbq-button .kbq-icon {
        margin-right: 4px;
    }

    .kbq-button.kbq-button_changed-filter {
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
    }

    .kbq-button-icon {
        margin-left: -1px;

        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
    }

    .kbq-button_changed-saved-filter {
        &::after {
            content: '';
            position: absolute;
            right: -2px;
            top: -2px;

            width: 8px;
            height: 8px;

            border: 2px solid white;
            border-radius: 6px;

            background: var(--kbq-icon-warning);
        }
    }
}

@include kbq-filter-bar-theme();
@include kbq-filter-bar-typography();
