@use './filter-bar-theme' as *;

.kbq-pipe {
    display: flex;
    flex-direction: row;

    max-height: 32px;

    .kbq-pipe__name {
        color: var(--kbq-foreground-contrast-secondary);
    }

    .kbq-pipe__value {
        margin-left: 4px;
    }

    .kbq-pipe__separator {
        z-index: 1;

        margin-left: -1px;
        margin-right: 0;

        height: 12px;

        align-self: center;;

        color: var(--kbq-line-contrast-less);
    }

    .kbq-button.cdk-keyboard-focused {
        z-index: 1;
    }

    &.kbq-pipe_disabled {
        .kbq-pipe__name,
        .kbq-pipe__value {
            color: var(--kbq-states-foreground-disabled);
        }
    }
}

.kbq-pipe:not(.kbq-pipe_readonly, .kbq-pipe_empty) {
    .kbq-button {
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
    }

    .kbq-button-icon {
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
    }
}

.kbq-pipe__select {
}

.kbq-pipe__multiselect {
    .kbq-pipe__value {
        margin-left: 4px;
    }

    .kbq-badge {
        margin-left: 6px;
    }
}

.kbq-pipe-date__popover {
    & .kbq-popover__container {
        max-height: unset;
    }

    & .kbq-popover__content {
        padding: 0;
    }

    & .kbq-date-list {
        margin: 4px 0;

        & .kbq-list-option {
            & .kbq-list-text {
                display: flex;
                flex-direction: row;
            }

            & .kbq-icon {
                margin-left: 8px;
                align-self: center;

                color: var(--kbq-icon-fade-contrast-color);
            }
        }
    }

    & .kbq-date-period {
        width: 320px;

        & .kbq-date-period__header {
            padding-top: 6px;
            padding-left: 4px;
            padding-right: 4px;

            & .kbq-button {
                width: 100%;
                justify-content: flex-start;
            }
        }

        & .kbq-divider {
            margin: 4px 16px;
        }

        & .kbq-date-period__content {
            display: flex;
            flex-direction: column;

            padding: 0;

            gap: 8px;

            & .kbq-date-period__content-header {
                padding-top: 8px;
                padding-left: 16px;
                padding-right: 16px;

                color: var(--kbq-foreground-contrast-secondary);
            }

            & .kbq-form__row {
                padding-left: 16px;
                padding-right: 16px;

                & .kbq-date-period__date,
                & .kbq-date-period__time {
                    flex: 1;
                }

                &.kbq-form__row_with-time {
                    & .kbq-date-period__date {
                        max-width: 45%;

                        & .kbq-form-field__container {
                            border-top-right-radius: unset;
                            border-bottom-right-radius: unset;
                        }
                    }

                    & .kbq-date-period__time {
                        margin-left: -1px;
                        max-width: 45%;

                        & .kbq-form-field__container {
                            border-top-left-radius: unset;
                            border-bottom-left-radius: unset;
                        }
                    }
                }
            }

            & .kbq-calendar {
                position: relative;

                padding: 8px 8px 12px;

                background-color: var(--kbq-background-bg-tertiary);

                &:after {
                    content: '';
                    position: absolute;

                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                &.kbq-calendar_hidden {
                    display: none;
                }
            }

            & .kbq-hint {
                padding-left: 12px;
                padding-right: 12px;
            }
        }

        & .kbq-date-period__footer {
            padding: 4px;

            & .kbq-button {
                width: 100%;
                justify-content: flex-start;
            }
        }
    }
}

@include kbq-filter-bar-theme();
@include kbq-filter-bar-typography();
