@use './filter-bar-theme' as *;

.kbq-pipes {
    display: flex;
    flex-direction: row;

    margin-left: 8px;

    .kbq-button > .kbq-icon {
        margin-right: 4px;
    }

    gap: 8px;
}

@include kbq-filter-bar-theme();
@include kbq-filter-bar-typography();
