@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-risk-level-filled-color($risk-level) {
    border: transparent;

    color: map.get($risk-level, color);
    background: map.get($risk-level, background);
}

@mixin kbq-risk-level-outline-color($risk-level) {
    border-color: map.get($risk-level, border);

    color: map.get($risk-level, color);
    background: map.get($risk-level, background);
}

@mixin kbq-risk-level-theme($theme) {
    $risk-level: map.get(map.get($theme, components), risk-level);

    $filled: map.get($risk-level, filled);
    $outline: map.get($risk-level, outline);

    .kbq-risk-level_filled {
        $fade-on: map.get($filled, fade-on);

        &.kbq-risk-level_fade-contrast {
            @include kbq-risk-level-filled-color(map.get($fade-on, contrast));
        }

        &.kbq-risk-level_fade-success {
            @include kbq-risk-level-filled-color(map.get($fade-on, success));
        }

        &.kbq-risk-level_fade-warning {
            @include kbq-risk-level-filled-color(map.get($fade-on, warning));
        }

        &.kbq-risk-level_fade-error {
            @include kbq-risk-level-filled-color(map.get($fade-on, error));
        }

        $fade-off: map.get($filled, fade-off);

        &.kbq-risk-level_success {
            @include kbq-risk-level-filled-color(map.get($fade-off, success));
        }

        &.kbq-risk-level_warning {
            @include kbq-risk-level-filled-color(map.get($fade-off, warning));
        }

        &.kbq-risk-level_error {
            @include kbq-risk-level-filled-color(map.get($fade-off, error));
        }
    }

    .kbq-risk-level_outline {
        $fade-on: map.get($outline, fade-on);

        &.kbq-risk-level_fade-contrast {
            @include kbq-risk-level-outline-color(map.get($fade-on, contrast));
        }

        &.kbq-risk-level_fade-success {
            @include kbq-risk-level-outline-color(map.get($fade-on, success));
        }

        &.kbq-risk-level_fade-warning {
            @include kbq-risk-level-outline-color(map.get($fade-on, warning));
        }

        &.kbq-risk-level_fade-error {
            @include kbq-risk-level-outline-color(map.get($fade-on, error));
        }
    }
}

@mixin kbq-risk-level-typography($config) {
    .kbq-risk-level {
        @include kbq-typography-css-variables(risk-level, text);
    }
}
