@use '../core/styles/common/tokens' as *;

@use './risk-level-theme' as *;

.kbq-risk-level {
    box-sizing: border-box;

    display: inline-flex;
    text-align: center;

    border-style: solid;

    padding: kbq-css-variable(risk-level-size-padding-vertical) kbq-css-variable(risk-level-size-padding-horizontal);

    border: {
        width: kbq-css-variable(risk-level-size-border-width);
        radius: kbq-css-variable(risk-level-size-border-radius);
    }
}

@include kbq-risk-level-theme();
@include kbq-risk-level-typography();
