.kbq-risk-level {
    --kbq-risk-level-size-padding-vertical: var(--kbq-size-3xs);
    --kbq-risk-level-size-padding-horizontal: var(--kbq-size-s);
    --kbq-risk-level-size-border-width: var(--kbq-size-border-width);
    --kbq-risk-level-size-border-radius: var(--kbq-size-xxs);
    --kbq-risk-level-font-text-font-size: var(--kbq-typography-subheading-font-size);
    --kbq-risk-level-font-text-line-height: var(--kbq-typography-subheading-line-height);
    --kbq-risk-level-font-text-letter-spacing: var(--kbq-typography-subheading-letter-spacing);
    --kbq-risk-level-font-text-font-weight: var(--kbq-typography-subheading-font-weight);
    --kbq-risk-level-font-text-font-family: var(--kbq-typography-subheading-font-family);
    --kbq-risk-level-font-text-text-transform: var(--kbq-typography-subheading-text-transform);
    --kbq-risk-level-font-text-font-feature-settings: var(--kbq-typography-subheading-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-risk-level-filled-fade-off-success-background: var(--kbq-background-success);
    --kbq-risk-level-filled-fade-off-success-text: var(--kbq-foreground-white);
    --kbq-risk-level-filled-fade-off-warning-background: var(--kbq-background-warning);
    --kbq-risk-level-filled-fade-off-warning-text: var(--kbq-foreground-white);
    --kbq-risk-level-filled-fade-off-error-background: var(--kbq-background-error);
    --kbq-risk-level-filled-fade-off-error-text: var(--kbq-foreground-white);
    --kbq-risk-level-filled-fade-on-contrast-background: var(--kbq-background-contrast-fade);
    --kbq-risk-level-filled-fade-on-contrast-text: var(--kbq-foreground-contrast);
    --kbq-risk-level-filled-fade-on-success-background: var(--kbq-background-success-fade);
    --kbq-risk-level-filled-fade-on-success-text: var(--kbq-foreground-success);
    --kbq-risk-level-filled-fade-on-warning-background: var(--kbq-background-warning-fade);
    --kbq-risk-level-filled-fade-on-warning-text: var(--kbq-foreground-warning);
    --kbq-risk-level-filled-fade-on-error-background: var(--kbq-background-error-fade);
    --kbq-risk-level-filled-fade-on-error-text: var(--kbq-foreground-error);
    --kbq-risk-level-outline-fade-on-contrast-background: transparent;
    --kbq-risk-level-outline-fade-on-contrast-text: var(--kbq-foreground-contrast);
    --kbq-risk-level-outline-fade-on-contrast-border: var(--kbq-line-contrast-fade);
    --kbq-risk-level-outline-fade-on-success-background: transparent;
    --kbq-risk-level-outline-fade-on-success-text: var(--kbq-foreground-success);
    --kbq-risk-level-outline-fade-on-success-border: var(--kbq-line-success-fade);
    --kbq-risk-level-outline-fade-on-warning-background: transparent;
    --kbq-risk-level-outline-fade-on-warning-text: var(--kbq-foreground-warning);
    --kbq-risk-level-outline-fade-on-warning-border: var(--kbq-line-warning-fade);
    --kbq-risk-level-outline-fade-on-error-background: transparent;
    --kbq-risk-level-outline-fade-on-error-text: var(--kbq-foreground-error);
    --kbq-risk-level-outline-fade-on-error-border: var(--kbq-line-error-fade);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-risk-level-filled-fade-off-success-background: var(--kbq-background-success);
    --kbq-risk-level-filled-fade-off-success-text: var(--kbq-foreground-white);
    --kbq-risk-level-filled-fade-off-warning-background: var(--kbq-background-warning);
    --kbq-risk-level-filled-fade-off-warning-text: var(--kbq-foreground-white);
    --kbq-risk-level-filled-fade-off-error-background: var(--kbq-background-error);
    --kbq-risk-level-filled-fade-off-error-text: var(--kbq-foreground-white);
    --kbq-risk-level-filled-fade-on-contrast-background: var(--kbq-background-contrast-fade);
    --kbq-risk-level-filled-fade-on-contrast-text: var(--kbq-foreground-contrast);
    --kbq-risk-level-filled-fade-on-success-background: var(--kbq-background-success-fade);
    --kbq-risk-level-filled-fade-on-success-text: var(--kbq-foreground-success);
    --kbq-risk-level-filled-fade-on-warning-background: var(--kbq-background-warning-fade);
    --kbq-risk-level-filled-fade-on-warning-text: var(--kbq-foreground-warning);
    --kbq-risk-level-filled-fade-on-error-background: var(--kbq-background-error-fade);
    --kbq-risk-level-filled-fade-on-error-text: var(--kbq-foreground-error);
    --kbq-risk-level-outline-fade-on-contrast-background: transparent;
    --kbq-risk-level-outline-fade-on-contrast-text: var(--kbq-foreground-contrast);
    --kbq-risk-level-outline-fade-on-contrast-border: var(--kbq-line-contrast-fade);
    --kbq-risk-level-outline-fade-on-success-background: transparent;
    --kbq-risk-level-outline-fade-on-success-text: var(--kbq-foreground-success);
    --kbq-risk-level-outline-fade-on-success-border: var(--kbq-line-success-fade);
    --kbq-risk-level-outline-fade-on-warning-background: transparent;
    --kbq-risk-level-outline-fade-on-warning-text: var(--kbq-foreground-warning);
    --kbq-risk-level-outline-fade-on-warning-border: var(--kbq-line-warning-fade);
    --kbq-risk-level-outline-fade-on-error-background: transparent;
    --kbq-risk-level-outline-fade-on-error-text: var(--kbq-foreground-error);
    --kbq-risk-level-outline-fade-on-error-border: var(--kbq-line-error-fade);
}
