@use 'sass:map';

@use '../dist/components/core/styles/theming';
@use '../dist/components/core/styles/typography';

@mixin kbq-docs-icons-viewer-theme($theme) {
    $foreground: map.get($theme, foreground);
    $background: map.get($theme, background);
    $states-background: map.get(map.get($theme, states), background);
    $line: map.get($theme, line);

    $theme: map.get($theme, theme);

    .docs-icons-viewer__header {
        background: map.get($background, bg);
    }

    .docs-icons-viewer__header-text {
        color: theming.kbq-color($foreground, contrast);
    }

    .docs-icons-viewer__table-cell {
        background: map.get($background, bg);
        border-color: map.get($line, contrast-fade);

        > .docs-icons-viewer__table-cell-name {
            color: map.get($foreground, text-less-contrast);
        }

        &:focus {
            outline: 2px solid theming.kbq-color($theme, default);
        }

        &:hover {
            background: map.get($states-background, transparent-hover);
        }

        &:active {
            background: map.get($states-background, transparent-active);
        }
    }

    .icon-preview-modal__preview-area {
        background: map.get($background, background-under);
    }
}

@mixin kbq-docs-icons-viewer-typography($config) {
    .icon-preview-modal .kbq-modal-header.kbq-modal-title {
        @include typography.kbq-typography-level-to-styles($config, title);
    }

    .docs-icons-viewer__header .kbq-input,
    .docs-icons-viewer__table-cell-name,
    .icon-preview-modal__content .kbq-select,
    .icon-preview-modal__buttons .kbq-button,
    .kbq-select-overlay .icon-preview-modal__select-option,
    .icon-preview-modal__description .kbq-dd,
    .icon-preview-modal__description .kbq-badge {
        @include typography.kbq-typography-level-to-styles($config, text-big);
    }

    .docs-icons-viewer__table-empty-results {
        @include typography.kbq-typography-level-to-styles($config, display-3);
    }
}
