@mixin _inline-edit-theme {
    background: var(--kbq-inline-edit-background);

    &.kbq-inline-edit_view {
        &:not(.kbq-inline-edit_disabled) {
            &:hover {
                --kbq-inline-edit-background: var(--kbq-states-background-transparent-hover);
                cursor: pointer;
            }

            &:active,
            &:has(.kbq-inline-edit__menu.kbq-active) {
                --kbq-inline-edit-background: var(--kbq-states-background-transparent-active);
            }

            .kbq-inline-edit__menu-mask {
                background: linear-gradient(90deg, transparent, var(--kbq-inline-edit-background) 100%);
            }
        }

        &.cdk-keyboard-focused {
            $focused-color: var(--kbq-states-line-focus-theme);
            outline: 1px solid $focused-color;
            border-color: $focused-color;
        }
    }
}

.kbq-inline-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: var(--kbq-size-border-width) solid transparent;
    border-radius: var(--kbq-size-border-radius);
    padding: 0 var(--kbq-inline-edit-padding-horizontal);
    box-sizing: border-box;
    @include _inline-edit-theme();

    &:focus-visible {
        outline: none;
    }

    &:not(.kbq-inline-edit_with-label) {
        --kbq-inline-edit-padding-horizontal: calc(var(--kbq-size-m) - var(--kbq-size-border-width));

        .kbq-inline-edit__overlay-anchor {
            --kbq-inline-edit-pop-up-height: calc(var(--kbq-size-3xl) - var(--kbq-size-border-width) * 2);

            top: calc(-1 * var(--kbq-size-border-width));
            left: calc(-1 * (var(--kbq-inline-edit-padding-horizontal) + 1px));
        }
    }

    &.kbq-inline-edit_with-label {
        padding-top: var(--kbq-inline-edit-padding-vertical);
        padding-bottom: var(--kbq-inline-edit-padding-vertical);

        .kbq-inline-edit__label {
            margin-bottom: var(--kbq-size-3xs);
        }

        .kbq-inline-edit__menu-mask {
            height: 100%;
        }
    }

    &.kbq-inline-edit_with-menu:not(&.kbq-inline-edit_edit) {
        padding-right: var(--kbq-size-3xl);
    }

    &.kbq-inline-edit_view {
        min-height: var(--kbq-inline-edit-height);

        .kbq-inline-edit__view-container {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .kbq-inline-edit__placeholder {
        color: var(--kbq-foreground-contrast-secondary);
    }

    .kbq-inline-edit__menu-mask {
        display: flex;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 72px;
        justify-content: flex-end;
        border-top-right-radius: var(--kbq-size-border-radius);
        border-bottom-right-radius: var(--kbq-size-border-radius);

        &:has(.kbq-inline-edit__menu.kbq-pressed, .kbq-inline-edit__menu.cdk-keyboard-focused) {
            opacity: 1;
        }

        .kbq-inline-edit__menu {
            display: inline-flex;
            padding: var(--kbq-size-s);
        }

        .kbq-inline-edit__menu-mask-fade {
            width: 32px;
        }

        .kbq-inline-edit__menu-container {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
        }
    }

    &:hover,
    &.cdk-keyboard-focused {
        .kbq-inline-edit__menu-mask {
            opacity: 1;
        }
    }
}

.kbq-inline-edit__overlay-anchor {
    display: flex;
    box-sizing: border-box;
    position: relative;
    height: var(--kbq-inline-edit-pop-up-height);
    width: 100%;

    .kbq-inline-edit__overlay-origin {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 100%;
    }
}

.kbq-inline-edit__panel {
    width: 100%;

    .kbq-inline-edit__action-buttons {
        position: relative;
        left: calc(-1 * var(--kbq-inline-edit-padding-horizontal));
        display: inline-flex;
        flex-direction: row;
        gap: var(--kbq-size-xxs);
        padding: var(--kbq-size-xxs) var(--kbq-size-s) var(--kbq-size-s);
    }
}
