:where(.kbq-inline-edit, .kbq-inline-edit__panel) {
    --kbq-inline-edit-background: transparent;
    --kbq-inline-edit-height: var(--kbq-size-3xl);
    --kbq-inline-edit-pop-up-height: var(--kbq-size-xl);
    --kbq-inline-edit-padding-horizontal: var(--kbq-size-s);
    --kbq-inline-edit-padding-vertical: 5px;
}
