:where(.kbq-inline-edit, .kbq-inline-edit__panel) {
    --kbq-inline-edit-background: transparent;
    --kbq-inline-edit-height: var(--kbq-size-3xl);
    --kbq-inline-edit-padding-horizontal: var(--kbq-size-s);
    --kbq-inline-edit-padding-vertical: var(--kbq-size-xs);
    --kbq-inline-edit-panel-shadow: var(--kbq-shadow-popup);
    --kbq-inline-edit-label-color: var(--kbq-foreground-contrast-secondary);
}
