:where(.kbq-inline-edit, .kbq-inline-edit__panel) {
    --kbq-inline-edit-background: transparent;
    --kbq-inline-edit-height: calc(var(--kbq-size-3xl) - 2 * var(--kbq-size-border-width));
    --kbq-inline-edit-padding-horizontal: calc(var(--kbq-size-s) - var(--kbq-size-border-width));
    --kbq-inline-edit-padding-vertical: calc(var(--kbq-size-xs) - var(--kbq-size-border-width));
    --kbq-inline-edit-panel-shadow: var(--kbq-shadow-popup);
    --kbq-inline-edit-label-color: var(--kbq-foreground-contrast-secondary);
}
