@mixin _inline-edit-theme {
    &:hover {
        cursor: pointer;
        background: var(--kbq-states-background-transparent-hover);
    }

    &:active {
        background: var(--kbq-states-background-transparent-active);
    }

    &.cdk-keyboard-focused {
        $focused-color: var(--kbq-states-line-focus-theme);
        outline: 1px solid $focused-color;
        border-color: $focused-color;
    }
}

.kbq-inline-edit {
    display: flex;
    flex-direction: column;
    border: var(--kbq-size-border-width) solid transparent;
    border-radius: var(--kbq-size-border-radius);
    padding: 6px 12px;
    box-sizing: border-box;

    &:focus-visible {
        outline: none;
    }
}

.kbq-inline-edit_view {
    min-height: 32px;
    @include _inline-edit-theme();
}
