@use '../core/styles/common/tokens' as *;

@mixin kbq-scrollbar-component-theme() {
    .kbq-scrollbar-component {
        .os-scrollbar {
            .os-scrollbar-handle {
                &::before {
                    border-color: kbq-css-variable(scrollbar-thumb-default-background);
                    background-color: kbq-css-variable(scrollbar-thumb-default-background);
                }

                &:hover {
                    &::before {
                        border-color: kbq-css-variable(scrollbar-thumb-hover-background);
                        background-color: kbq-css-variable(scrollbar-thumb-hover-background);
                    }
                }

                &:active {
                    &::before {
                        border-color: kbq-css-variable(scrollbar-thumb-active-background);
                        background-color: kbq-css-variable(scrollbar-thumb-active-background);
                    }
                }
            }

            .os-scrollbar-track,
            .os-scrollbar-handle {
                border-style: solid;
                border-color: kbq-css-variable(scrollbar-track-default-border) !important;
                background-color: kbq-css-variable(scrollbar-track-default-background);

                &:hover {
                    border-color: kbq-css-variable(scrollbar-track-hover-border);
                    background: kbq-css-variable(scrollbar-track-hover-background);
                }

                &:active {
                    border-color: kbq-css-variable(scrollbar-track-active-border);
                    background: kbq-css-variable(scrollbar-track-active-background);
                }
            }
        }
    }
}
