@use 'sass:map';
@use '../core/styles/common/tokens' as *;


@mixin kbq-scrollbar-component-theme($theme) {
    $scrollbar: map.get(map.get($theme, components), scrollbar);

    .kbq-scrollbar-component {
        .os-scrollbar {
            .os-scrollbar-handle {
                &::before {
                    border-color: kbq-css-variable(scrollbar-default, map.get($scrollbar, default));
                    background-color: kbq-css-variable(scrollbar-default, map.get($scrollbar, default));
                }

                &:hover {
                    &::before {
                        border-color: kbq-css-variable(scrollbar-hover, map.get($scrollbar, hover));
                        background-color: kbq-css-variable(scrollbar-hover, map.get($scrollbar, hover));
                    }
                }

                &:active {
                    &::before {
                        border-color: kbq-css-variable(scrollbar-active, map.get($scrollbar, active));
                        background-color: kbq-css-variable(scrollbar-active, map.get($scrollbar, active));
                    }
                }
            }

            /* stylelint-disable no-descending-specificity */
            .os-scrollbar-track, .os-scrollbar-handle {
                border-style: solid;
                border-color: kbq-css-variable(scrollbar-track-default, map.get($scrollbar, track, default)) !important;
                background-color: kbq-css-variable(scrollbar-track-default, map.get($scrollbar, track, default));

                &:hover {
                    border-color: kbq-css-variable(scrollbar-track-hover, map.get($scrollbar, track, hover));
                    background: kbq-css-variable(scrollbar-track-hover, map.get($scrollbar, track, hover));
                }

                &:active {
                    border-color: kbq-css-variable(scrollbar-track-active, map.get($scrollbar, track, active));
                    background: kbq-css-variable(scrollbar-track-active, map.get($scrollbar, track, active));
                }
            }
        }
    }
}
