/* stylelint-disable no-unknown-custom-properties */

.kbq-scrollbar-component {
    --kbq-scrollbar-size-track-dimension: var(--kbq-size-l);
    --kbq-scrollbar-size-track-padding-vertical: var(--kbq-size-3xs);
    --kbq-scrollbar-size-track-padding-horizontal: var(--kbq-size-3xs);
    --kbq-scrollbar-size-thumb-width: var(--kbq-size-s);
    --kbq-scrollbar-size-thumb-min-size: var(--kbq-size-xl);
    --kbq-scrollbar-size-thumb-border-radius: var(--kbq-size-s);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-scrollbar-thumb-default-background: var(--kbq-icon-contrast-fade);
    --kbq-scrollbar-thumb-hover-background: var(--kbq-states-icon-contrast-fade-hover);
    --kbq-scrollbar-thumb-active-background: var(--kbq-states-icon-contrast-fade-active);
    --kbq-scrollbar-thumb-disabled-background: var(--kbq-states-icon-disabled);
    --kbq-scrollbar-track-default-border: transparent;
    --kbq-scrollbar-track-default-background: transparent;
    --kbq-scrollbar-track-hover-border: transparent;
    --kbq-scrollbar-track-hover-background: transparent;
    --kbq-scrollbar-track-active-border: transparent;
    --kbq-scrollbar-track-active-background: transparent;
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-scrollbar-thumb-default-background: var(--kbq-icon-contrast-fade);
    --kbq-scrollbar-thumb-hover-background: var(--kbq-states-icon-contrast-fade-hover);
    --kbq-scrollbar-thumb-active-background: var(--kbq-states-icon-contrast-fade-active);
    --kbq-scrollbar-thumb-disabled-background: var(--kbq-states-icon-disabled);
    --kbq-scrollbar-track-default-border: transparent;
    --kbq-scrollbar-track-default-background: transparent;
    --kbq-scrollbar-track-hover-border: transparent;
    --kbq-scrollbar-track-hover-background: transparent;
    --kbq-scrollbar-track-active-border: transparent;
    --kbq-scrollbar-track-active-background: transparent;
}
