.example-tabs-vertical .kbq-tab-group_vertical {
    height: 220px;
}

.example-tabs-vertical .kbq-tab-header {
    max-width: 160px;
}

.example-tabs-vertical .kbq-tab-body__wrapper {
    padding-left: var(--kbq-size-xl);
}
