.example-tabs-vertical .kbq-tab-group_vertical {
    height: 220px;
}

.example-tabs-vertical .kbq-tab-header {
    max-width: 140px;
}

.example-tabs-vertical .kbq-tab-body__wrapper {
    padding-left: var(--kbq-size-xl);
}

.example-tabs-vertical .example-tab-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
