.tabs-vertical-example {
    .kbq-tab-group_vertical {
        height: 220px;
    }

    .kbq-tab-body__wrapper {
        padding-left: 20px;
    }

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
