.kbq-flag {
    --kbq-flag-border-radius: var(--kbq-size-3xs);

    --kbq-flag-size-24x16-width: 24px;
    --kbq-flag-size-24x16-height: 16px;
    --kbq-flag-size-21x14-width: 21px;
    --kbq-flag-size-21x14-height: 14px;
    --kbq-flag-size-18x12-width: 18px;
    --kbq-flag-size-18x12-height: 12px;
    --kbq-flag-size-15x10-width: 15px;
    --kbq-flag-size-15x10-height: 10px;
    --kbq-flag-size-12x8-width: 12px;
    --kbq-flag-size-12x8-height: 8px;
}
