@use '@koobiq/design-tokens/web/deprecated/css/components/skeleton/skeleton-dark.css';
@use '@koobiq/design-tokens/web/deprecated/css/components/skeleton/skeleton-light.css';

dev-app {
    max-width: 608px;
    display: block;
}

.dev-example-page-title {
    margin: 0 0 var(--kbq-size-xxl);
}

.dev-example-title {
    margin: 0 0 var(--kbq-size-l);
}
