@use '../dist/components/core/styles/theming';
@use '../dist/components/core/styles/common/tokens';

@mixin kbq-docs-navbar-theme() {
    .docs-navbar {
        background: var(--kbq-background-bg);

        .docs-navbar__github-icon svg {
            fill: var(--kbq-foreground-contrast);
        }
    }
}

@mixin kbq-docs-navbar-typography() {
    .docs-sidenav {
        @include tokens.kbq-typography-level-to-styles_css-variables(typography, subheading);
    }
}
