@use '../dist/components/core/styles/common/overlay';

.docs-navbar {
    z-index: overlay.$overlay-z-index;
    position: sticky;
}

.docs-navbar__logo {
    display: flex;
    align-items: center;
}

.docs-navbar__anchor {
    align-self: center;
}

.docs-navbar__links {
    gap: var(--kbq-size-l);

    .docs-navbar__github-icon {
        display: flex;

        & .kbq-button-wrapper {
            justify-content: center;
        }

        & .kbq-icon {
            width: var(--kbq-size-l);
            height: var(--kbq-size-l);
        }
    }
}

.docs-navbar__mobile-logo,
.docs-navbar__mobile-menu {
    display: none !important;
}

@media (width <= 768px) {
    .docs-navbar__mobile-logo,
    .docs-navbar__mobile-menu {
        display: block !important;
    }

    .docs-navbar__links {
        gap: var(--kbq-size-xxs);
    }

    .kbq-top-bar {
        --kbq-top-bar-padding-vertical: var(--kbq-size-s);
        --kbq-top-bar-padding-horizontal: var(--kbq-size-l);
    }

    .DocSearch-Button,
    .kbq-button-icon {
        width: var(--kbq-size-5xl);
        height: var(--kbq-size-5xl);
    }

    .docs-navbar__anchor {
        display: none;
    }
}

// Remove extra outline-offset within Google Chrome on MacOS
a {
    &.kbq-button,
    &.kbq-button-icon {
        outline-offset: 0;
    }
}
