.docs-navbar {
    position: sticky;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: var(--kbq-size-l) var(--kbq-size-xxl);
}

.docs-navbar-show-small {
    display: none !important;
}

.docs-navbar__left {
    display: flex;
    align-items: center;
}

.docs-navbar__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .docs-navbar__github-icon {
        display: flex;

        & .kbq-button-wrapper {
            justify-content: center;
        }

        & .kbq-icon {
            width: var(--kbq-size-l);
            height: var(--kbq-size-l);
        }
    }

    .docs-navbar__links {
        margin-left: var(--kbq-size-l);
        gap: var(--kbq-size-l);
    }
}

.docs-navbar__mobile-logo,
.docs-navbar__mobile-menu {
    display: none !important;
}

@media (width <= 768px) {
    .docs-navbar__mobile-logo,
    .docs-navbar__mobile-menu {
        display: block !important;
    }

    .docs-navbar {
        padding: var(--kbq-size-s) var(--kbq-size-xxs) var(--kbq-size-s) var(--kbq-size-l);

        .docs-navbar__links {
            margin-left: var(--kbq-size-xxs);
            gap: var(--kbq-size-xxs);
        }

        .DocSearch-Button,
        .kbq-button-icon {
            width: var(--kbq-size-5xl);
            height: var(--kbq-size-5xl);
        }

        .docs-navbar__right {
            justify-content: end;

            .docs-navbar__anchor {
                display: none;
            }
        }
    }
}

// Remove extra outline-offset within Google Chrome on MacOS
a {
    &.kbq-button,
    &.kbq-button-icon {
        outline-offset: 0;
    }
}
