kbq-splitter {
    display: flex;
    border: 1px solid black;
    height: 100px;
    margin: 2px;
}

.kbq-splitter-area_fixed-width {
    min-width: 200px;
}

div[kbq-splitter-area] {
    background: #c5c0c0
}
