.dev-container {
    padding: 24px;
}

textarea {
    margin: 10px;
    display: block;
}

.dev-with-horizontal {
    white-space: nowrap;
    overflow-x: visible;
}

.dev-with-buttons {
    white-space: nowrap;
    overflow: visible;
}
