.docs-footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    will-change: transform;
    padding: var(--kbq-size-l) var(--kbq-size-xxl);
    gap: var(--kbq-size-l);
    min-height: 112px;

    .docs-footer__item {
        display: flex;
        flex-direction: column;

        .docs-footer__control {
            display: inline-flex;
            align-items: baseline;

            gap: var(--kbq-size-3xs);

            cursor: pointer;
        }
    }

    @media (width <= 768px) {
        padding: var(--kbq-size-xxl) var(--kbq-size-l);
        min-height: 140px;

        .docs-footer__label {
            margin-bottom: var(--kbq-size-3xs);
        }
    }
}
