dev-app {
    display: block;
    width: 500px;
    border: 1px solid cyan;
}

.dev-vertical-tabs .kbq-tab-header {
    max-width: 30%;
}

.dev-custom-underlined-tabs {
    .kbq-icon {
        margin-bottom: 4px;
    }

    .kbq-tab-label__content.kbq-tab-label__template {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
}

.dev-custom-underlined-tabs__subtitle {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(108, 115, 147, 1);
}

.dev-custom-underlined-tabs_with-icons .kbq-tab-label__content.kbq-tab-label__template {
    align-items: center;
}

.dev-tabs-actionbar {
    display: flex;

    .dev-tabs-actionbar_nav {
        overflow: hidden;
    }

    .dev-tabs-actionbar_controls {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: end;
        border-bottom: 1px solid var(--kbq-line-contrast-less);

        button + button {
            margin-left: 8px;
        }
    }
}
