@use '../core/styles/common/popup' as *;
@use '../core/styles/theming/theming' as *;
@use '../core/styles/common/tokens' as *;

@mixin kbq-select-theme() {
    .kbq-select {
        color: var(--kbq-foreground-contrast);

        &.ng-invalid {
            color: var(--kbq-error-default);
        }

        &.kbq-disabled {
            color: var(--kbq-foreground-text-disabled);
        }
    }

    .kbq-select__placeholder {
        text-overflow: ellipsis;

        color: var(--kbq-foreground-text-disabled);
    }

    .kbq-select__panel {
        box-shadow: var(--kbq-select-panel-dropdown-shadow);
        background: var(--kbq-select-panel-dropdown-background);

        & .kbq-select__footer {
            border-color: var(--kbq-line-contrast-less);
        }
    }

    .kbq-select__search-container {
        border-bottom-color: var(--kbq-line-contrast-less);
    }

    .kbq-select__no-options-message {
        color: var(--kbq-foreground-text-less-contrast);
    }
}

@mixin kbq-select-typography() {
    .kbq-select {
        @include kbq-typography-css-variables(select, default);
    }

    .kbq-select__panel {
        @include kbq-typography-css-variables(select-panel, default);
    }
}
