/* stylelint-disable no-unknown-custom-properties */

.kbq-select,
.kbq-select__panel {
    --kbq-select-size-single-padding-left: var(--kbq-size-m);
    --kbq-select-size-single-padding-right: var(--kbq-size-xxs);
    --kbq-select-size-single-padding-vertical: var(--kbq-size-xs);
    --kbq-select-size-single-content-gap: var(--kbq-size-xxs);
    --kbq-select-size-multiple-padding-left: var(--kbq-size-xxs);
    --kbq-select-size-multiple-padding-right: var(--kbq-size-xxs);
    --kbq-select-size-multiple-padding-vertical: var(--kbq-size-xxs);
    --kbq-select-size-multiple-content-gap: var(--kbq-size-xxs);
    --kbq-select-panel-size-border-radius: var(--kbq-size-s);
    --kbq-select-panel-size-max-height: 256px;
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-select-panel-dropdown-background: var(--kbq-background-card);
    --kbq-select-panel-dropdown-shadow: var(--kbq-shadow-popup);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-select-panel-dropdown-background: var(--kbq-background-card);
    --kbq-select-panel-dropdown-shadow: var(--kbq-shadow-popup);
}
