.kbq-select,
.kbq-tree-select,
.kbq-select__panel {
    --kbq-select-size-single-padding-left: var(--kbq-form-field-size-infix-padding);
    --kbq-select-size-single-padding-right: var(--kbq-form-field-size-suffix-padding);
    --kbq-select-size-single-padding-vertical: var(--kbq-size-xs);
    --kbq-select-size-single-content-gap: var(--kbq-size-xxs);
    --kbq-select-size-multiple-padding-left: 0;
    --kbq-select-size-multiple-padding-right: 0;
    --kbq-select-size-multiple-padding-vertical: var(--kbq-size-xxs);
    --kbq-select-size-multiple-content-gap: var(--kbq-size-xxs);
    --kbq-select-panel-size-border-radius: var(--kbq-size-border-radius);
    --kbq-select-panel-size-max-height: 256px;
    /* THEME TOKENS */
    --kbq-select-panel-dropdown-background: var(--kbq-background-card);
    --kbq-select-panel-dropdown-shadow: var(--kbq-shadow-popup);
}
