@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/select' as *;

@use '../core/styles/common/tokens' as *;


.kbq-select {
    @extend %kbq-select-base;
}

.kbq-select__panel {
    @extend %kbq-select-panel;

    & .kbq-select__footer {
        @extend %kbq-select-footer;
    }
}

.kbq-select__content {
    @extend %kbq-select-content;

    &:not(:has(> .kbq-select__no-options-message)) .cdk-virtual-scroll-viewport {
        min-height: kbq-css-variable(select-panel-size-max-height);
        max-height: kbq-css-variable(select-panel-size-max-height);

        &.cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
            max-width: 100%;
        }
    }
}

.kbq-form-field-type-select {
    &:not(.kbq-disabled) .kbq-form-field-flex {
        cursor: pointer;
    }
}
