.docs-anchors {
    position: sticky;

    top: var(--kbq-size-7xl);

    display: flex;
    flex-direction: column;

    min-width: 300px;
    width: 340px;

    @media (1200px < width <= 1280px) {
        width: 300px;
    }

    @media (768px < width <= 1200px) {
        width: unset;
    }
}

.docs-anchors__element {
    list-style-type: none;
    padding: 6px 16px;
}

.docs-anchors__element_1 {
    padding-left: 32px;
}

.docs-anchors__element_2 {
    padding-left: 48px;
}
