@use '../core/styles/common/tokens' as *;

@mixin kbq-tooltip-color($style-name) {
    box-shadow: var(--kbq-tooltip-#{$style-name}-shadow);

    & .kbq-tooltip__inner {
        color: var(--kbq-tooltip-#{$style-name}-text);

        background-color: var(--kbq-tooltip-#{$style-name}-background);
    }

    & .kbq-tooltip__arrow {
        background-color: var(--kbq-tooltip-#{$style-name}-background);
        box-shadow: var(--kbq-tooltip-#{$style-name}-shadow);
    }
}

@mixin kbq-tooltip-theme() {
    .kbq-tooltip.kbq-theme {
        @include kbq-tooltip-color(theme-fade-off);
    }

    .kbq-tooltip.kbq-contrast {
        @include kbq-tooltip-color(contrast-fade-off);
    }

    .kbq-tooltip.kbq-contrast-fade {
        @include kbq-tooltip-color(contrast-fade-on);
    }

    .kbq-tooltip.kbq-warning {
        @include kbq-tooltip-color(warning-fade-off);
    }

    .kbq-tooltip.kbq-error {
        @include kbq-tooltip-color(error-fade-off);
    }
}

@mixin kbq-tooltip-typography() {
    .kbq-tooltip {
        @include kbq-typography-css-variables(tooltip, default);

        .kbq-tooltip__header {
            @include kbq-typography-css-variables(tooltip, title);
        }
    }
}
