@use 'sass:meta';
@use 'sass:map';

@use '../core/pop-up/pop-up' as *;
@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;

@mixin kbq-tooltip-color($component, $style-name) {
    $style: map.get($component, $style-name);

    box-shadow: kbq-css-variable(tooltip-#{$style-name}-shadow, map.get($style, shadow));

    & .kbq-tooltip__inner {
        color: kbq-css-variable(tooltip-#{$style-name}-text, map.get($style, text));

        background-color: kbq-css-variable(tooltip-#{$style-name}-background, map.get($style, background));
    }

    & .kbq-tooltip__arrow {
        background-color: kbq-css-variable(tooltip-#{$style-name}-background, map.get($style, background));
        box-shadow: kbq-css-variable(tooltip-#{$style-name}-shadow, map.get($style, shadow));
    }
}

@mixin kbq-tooltip-theme($theme) {
    $tooltip: map.get(map.get($theme, components), tooltip);

    .kbq-tooltip.kbq-theme {
        @include kbq-tooltip-color($tooltip, theme-fade-off);
    }

    .kbq-tooltip.kbq-contrast {
        @include kbq-tooltip-color($tooltip, contrast-fade-off);
    }

    .kbq-tooltip.kbq-contrast-fade {
        @include kbq-tooltip-color($tooltip, contrast-fade-on);
    }

    .kbq-tooltip.kbq-warning {
        @include kbq-tooltip-color($tooltip, warning-fade-off);
    }

    .kbq-tooltip.kbq-error {
        @include kbq-tooltip-color($tooltip, error-fade-off);
    }
}

@mixin kbq-tooltip-typography($config) {
    .kbq-tooltip {
        @include kbq-typography-css-variables(tooltip, default);

        .kbq-tooltip__header {
            @include kbq-typography-css-variables(tooltip, title);
        }
    }
}
