@use 'sass:meta';
@use 'sass:map';

@use '../core/pop-up/pop-up';

@use '../core/styles/common/tokens' as *;


$trigger-margin: 8px;


.kbq-tooltip__inner {
    border-radius: kbq-css-variable(tooltip-size-border-radius);
    word-break: break-word;
}

.kbq-tooltip {
    box-sizing: border-box;

    border-radius: kbq-css-variable(tooltip-size-border-radius);

    white-space: pre-line;

    @include pop-up.popup-margins(kbq-tooltip, $trigger-margin);

    max-width: kbq-css-variable(tooltip-size-max-width);

    .kbq-tooltip__inner {
        padding:
            kbq-css-variable(tooltip-size-padding-vertical)
            kbq-css-variable(tooltip-size-padding-horizontal);
    }
}

.kbq-tooltip__arrow {
    position: absolute;

    width: kbq-css-variable(tooltip-size-arrow-size);
    height: kbq-css-variable(tooltip-size-arrow-size);

    transform: rotate(45deg);

    z-index: -1;
}

$arrow-offset: calc((kbq-css-variable(var(--kbq-tooltip-size-arrow-size, tooltip-size-arrow-size)) - 1px) / -2);
$arrow-padding: calc((18px + $trigger-margin) / 2);

@include pop-up.popup-arrow-positions(kbq-tooltip, $arrow-offset, $arrow-padding);
