/* stylelint-disable no-unknown-custom-properties */

.kbq-tooltip {
    --kbq-tooltip-size-max-width: 300px;
    --kbq-tooltip-size-border-radius: var(--kbq-size-s);
    --kbq-tooltip-size-padding-horizontal: var(--kbq-size-m);
    --kbq-tooltip-size-padding-vertical: var(--kbq-size-s);
    --kbq-tooltip-size-arrow-size: var(--kbq-size-m);
    --kbq-tooltip-font-default-font-size: var(--kbq-typography-text-compact-font-size);
    --kbq-tooltip-font-default-line-height: var(--kbq-typography-text-compact-line-height);
    --kbq-tooltip-font-default-letter-spacing: var(--kbq-typography-text-compact-letter-spacing);
    --kbq-tooltip-font-default-font-weight: var(--kbq-typography-text-compact-font-weight);
    --kbq-tooltip-font-default-font-family: var(--kbq-typography-text-compact-font-family);
    --kbq-tooltip-font-default-text-transform: var(--kbq-typography-text-compact-text-transform);
    --kbq-tooltip-font-default-font-feature-settings: var(--kbq-typography-text-compact-font-feature-settings);
    --kbq-tooltip-font-title-font-size: var(--kbq-typography-text-compact-font-size);
    --kbq-tooltip-font-title-line-height: var(--kbq-typography-text-compact-line-height);
    --kbq-tooltip-font-title-letter-spacing: var(--kbq-typography-text-compact-letter-spacing);
    --kbq-tooltip-font-title-font-weight: var(--kbq-typography-text-compact-font-weight);
    --kbq-tooltip-font-title-font-family: var(--kbq-typography-text-compact-font-family);
    --kbq-tooltip-font-title-text-transform: var(--kbq-typography-text-compact-text-transform);
    --kbq-tooltip-font-title-font-feature-settings: var(--kbq-typography-text-compact-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-tooltip-contrast-fade-on-background: var(--kbq-background-card);
    --kbq-tooltip-contrast-fade-on-text: var(--kbq-foreground-contrast);
    --kbq-tooltip-contrast-fade-on-shadow: var(--kbq-shadow-popup);
    --kbq-tooltip-contrast-fade-off-background: var(--kbq-background-night);
    --kbq-tooltip-contrast-fade-off-text: var(--kbq-foreground-white);
    --kbq-tooltip-contrast-fade-off-shadow: var(--kbq-shadow-popup);
    --kbq-tooltip-theme-fade-off-background: var(--kbq-background-theme);
    --kbq-tooltip-theme-fade-off-text: var(--kbq-foreground-white);
    --kbq-tooltip-theme-fade-off-shadow: var(--kbq-shadow-popup);
    --kbq-tooltip-warning-fade-off-background: var(--kbq-background-warning);
    --kbq-tooltip-warning-fade-off-text: var(--kbq-foreground-white);
    --kbq-tooltip-warning-fade-off-shadow: var(--kbq-shadow-popup);
    --kbq-tooltip-error-fade-off-background: var(--kbq-background-error);
    --kbq-tooltip-error-fade-off-text: var(--kbq-foreground-white);
    --kbq-tooltip-error-fade-off-shadow: var(--kbq-shadow-popup);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-tooltip-contrast-fade-on-background: var(--kbq-background-card);
    --kbq-tooltip-contrast-fade-on-text: var(--kbq-foreground-contrast);
    --kbq-tooltip-contrast-fade-on-shadow: var(--kbq-shadow-popup);
    --kbq-tooltip-contrast-fade-off-background: var(--kbq-background-night);
    --kbq-tooltip-contrast-fade-off-text: var(--kbq-foreground-white);
    --kbq-tooltip-contrast-fade-off-shadow: var(--kbq-shadow-popup);
    --kbq-tooltip-theme-fade-off-background: var(--kbq-background-theme);
    --kbq-tooltip-theme-fade-off-text: var(--kbq-foreground-white);
    --kbq-tooltip-theme-fade-off-shadow: var(--kbq-shadow-popup);
    --kbq-tooltip-warning-fade-off-background: var(--kbq-background-warning);
    --kbq-tooltip-warning-fade-off-text: var(--kbq-foreground-white);
    --kbq-tooltip-warning-fade-off-shadow: var(--kbq-shadow-popup);
    --kbq-tooltip-error-fade-off-background: var(--kbq-background-error);
    --kbq-tooltip-error-fade-off-text: var(--kbq-foreground-white);
    --kbq-tooltip-error-fade-off-shadow: var(--kbq-shadow-popup);
}
