@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;

.kbq-cleaner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: kbq-css-variable(form-field-size-icon-button-size);
    margin-right: kbq-css-variable(form-field-size-icon-button-margin-right);
    height: 100%;

    cursor: pointer;
}
