.kbq-cleaner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--kbq-form-field-size-icon-button-size);
    margin-right: var(--kbq-form-field-size-icon-button-margin-right);
    height: 100%;
}
