.kbq-cleaner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 26px;
    height: var(--kbq-size-xxl);

    outline: none;

    border-radius: var(--kbq-size-xxs);
}
