.kbq-fieldset {
    --kbq-fieldset-legend-margin: var(--kbq-size-s);
    --kbq-form-field-hint-size-margin-top: var(--kbq-size-xs);
    --kbq-form-field-hint-text: var(--kbq-foreground-contrast-secondary);
}
