/* stylelint-disable scss/operator-no-newline-after */

@use 'sass:meta';
@use 'sass:map';

@use '../core/forms/forms';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

.kbq-form-field {
    position: relative;
    display: inline-block;
    width: 100%;

    .kbq-form-field__container {
        box-sizing: border-box;
    }

    .kbq-form-field:not(.kbq-form-field-type-textarea) {
        height: kbq-css-variable(form-field-size-height);
    }

    &,
    .kbq-input,
    .kbq-textarea {
        border-radius: kbq-css-variable(form-field-size-border-radius);
    }

    &:hover {
        z-index: 1;
    }

    &.kbq-focused {
        z-index: 2;
    }

    &.kbq-form-field_without-borders .kbq-form-field__container {
        border-color: transparent !important;
        box-shadow: none !important;
    }

    &.kbq-form-field_has-prefix {
        .kbq-input {
            padding-left: kbq-sum-series-css-variables([form-field-size-icon-size, form-field-size-icon-margin-left, form-field-size-icon-margin-right]);
        }
    }

    &.kbq-form-field_has-password-toggle,
    &.kbq-form-field_has-cleaner,
    &.kbq-form-field_has-stepper,
    &.kbq-form-field_has-suffix {
        .kbq-input {
            padding-right: kbq-sum-series-css-variables([form-field-size-icon-button-size, form-field-size-icon-button-margin-left, form-field-size-icon-button-margin-right]);
        }
    }

    & + .kbq-password-hint {
        margin-top: kbq-css-variable(size-m);
    }
}

.kbq-form-field__container {
    position: relative;

    border-width: kbq-css-variable(form-field-size-border-width);
    border-style: solid;
    border-color: transparent;
    border-radius: kbq-css-variable(form-field-size-border-radius);
}

.kbq-form-field__prefix,
.kbq-form-field__suffix {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kbq-form-field__prefix {
    left: 0;
}

.kbq-form-field__suffix {
    right: 0;
}

.kbq-form-field__cleaner,
.kbq-password-toggle,
.kbq-stepper {
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
}

.kbq-stepper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: kbq-css-variable(form-field-size-button-width);

    .kbq-stepper-step-up,
    .kbq-stepper-step-down {
        cursor: pointer;
        width: kbq-css-variable(form-field-size-button-width);
        text-align: center;
    }

    .kbq-stepper-step-up {
        transform: scaleY(-1);
    }
}

.kbq-form-field__hint {
    display: flex;
    flex-direction: column;
    margin-top: kbq-css-variable(form-field-hint-size-margin-top);

    & .kbq-password-hint:first-child {
        margin-top: kbq-css-variable(size-s);
    }
}

.kbq-password-hint {
    margin-top: kbq-css-variable(form-field-hint-size-gap);
}
