@use '../core/forms/forms';
@use '../core/styles/common/tokens';
@use './form-field-theme' as theme;

.kbq-form-field {
    position: relative;
    display: inline-block;
    width: 100%;

    .kbq-form-field__container {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-width: var(--kbq-form-field-size-border-width);
        border-style: solid;
        border-color: transparent;
        border-radius: var(--kbq-form-field-size-border-radius);
    }

    .kbq-form-field:not(.kbq-form-field-type-textarea) {
        height: var(--kbq-form-field-size-height);
    }

    .kbq-form-field__infix {
        width: 100%;
        flex-grow: 1;
    }

    &,
    .kbq-input,
    .kbq-textarea {
        border-radius: var(--kbq-form-field-size-border-radius);
    }

    &:hover {
        z-index: 1;
    }

    &.cdk-focused,
    &.kbq-focused {
        z-index: 2;
    }

    &.kbq-form-field_without-borders .kbq-form-field__container,
    &.kbq-form-field_no-borders .kbq-form-field__container {
        border-color: transparent !important;
        box-shadow: none !important;
    }

    & + .kbq-password-hint {
        margin-top: var(--kbq-size-m);
    }

    .kbq-form-field__prefix,
    .kbq-form-field__suffix {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .kbq-form-field__prefix {
        margin-left: var(--kbq-size-s);
    }

    .kbq-form-field__suffix {
        margin-right: var(--kbq-size-s);
    }

    .kbq-form-field__hint {
        display: flex;
        flex-direction: column;
        gap: var(--kbq-size-xxs);
        margin-top: var(--kbq-form-field-hint-size-margin-top);

        & .kbq-password-hint:first-child {
            margin-top: var(--kbq-size-s);
        }
    }

    .kbq-password-hint {
        margin-top: var(--kbq-form-field-hint-size-gap);
    }
}

@include theme.kbq-form-field-theme();
@include theme.kbq-form-field-typography();
