@use '../core/forms/forms';
@use './form-field-theme' as theme;

@mixin kbq-form-field-hint-geometry {
    display: flex;
    flex-direction: column;
    gap: var(--kbq-size-xxs);
    margin-top: var(--kbq-form-field-hint-size-margin-top);

    .kbq-password-hint:first-child {
        margin-top: var(--kbq-size-s);
    }
}

.kbq-form-field {
    position: relative;
    display: inline-block;
    width: 100%;

    .kbq-form-field__label {
        display: flex;
        margin-bottom: var(--kbq-size-s);
    }

    // We should override suffix spacing for select type, because it has custom suffix
    &.kbq-form-field-type-select .kbq-form-field__suffix {
        margin-right: 0;
    }

    .kbq-form-field__container {
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-width: var(--kbq-form-field-size-border-width);
        border-style: solid;
        border-color: transparent;
        border-radius: var(--kbq-form-field-size-border-radius);

        padding-left: var(--kbq-form-field-size-container-left-padding);
        padding-right: var(--kbq-form-field-size-container-right-padding);
    }

    .kbq-form-field:not(.kbq-form-field-type-textarea) {
        height: var(--kbq-form-field-size-height);
    }

    .kbq-form-field__infix {
        width: 100%;
        max-width: calc(100% - var(--kbq-size-xs));
        flex-grow: 1;

        padding-left: var(--kbq-form-field-size-infix-left-padding);

        &:has(.kbq-select_multiple),
        &:has(.kbq-tag-list) {
            padding-left: 0;

            max-width: 100%;
        }

        & .kbq-input,
        & .kbq-tag-input {
            padding-right: var(--kbq-form-field-size-infix-right-padding);
        }
    }

    &,
    .kbq-input,
    .kbq-textarea {
        border-radius: var(--kbq-form-field-size-border-radius);
    }

    &:hover {
        z-index: 1;
    }

    &.cdk-focused,
    &.kbq-focused {
        z-index: 3;
    }

    &.kbq-form-field_without-borders .kbq-form-field__container,
    &.kbq-form-field_no-borders .kbq-form-field__container {
        border-color: transparent !important;
        box-shadow: none !important;
    }

    & + .kbq-password-hint {
        margin-top: var(--kbq-size-m);
    }

    .kbq-form-field__prefix,
    .kbq-form-field__suffix {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: var(--kbq-form-field-size-addon-width);
    }

    .kbq-form-field__prefix {
        & + .kbq-form-field__infix {
            padding-left: 0;
        }
    }

    .kbq-form-field__hint {
        @include kbq-form-field-hint-geometry();
    }

    .kbq-password-hint {
        margin-top: var(--kbq-form-field-hint-size-gap);
    }
}

@include theme.kbq-form-field-theme();
@include theme.kbq-form-field-typography();
