@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;


.kbq-hint {
    display: flex;

    & .kbq-icon {
        margin-right: kbq-css-variable(hint-size-normal-content-padding);
    }

    &.kbq-hint_compact {
        & .kbq-icon {
            margin-right: kbq-css-variable(hint-size-compact-content-padding);
        }
    }
}
