@use './hint-theme' as theme;

.kbq-hint {
    display: flex;

    & .kbq-icon {
        margin-top: var(--kbq-hint-size-normal-margin-top);
        margin-right: var(--kbq-hint-size-normal-content-padding);
    }

    &.kbq-hint_compact {
        & .kbq-icon {
            margin-top: var(--kbq-hint-size-compact-margin-top);
            margin-right: var(--kbq-hint-size-compact-content-padding);
        }
    }
}

@include theme.kbq-hint-theme();
@include theme.kbq-hint-typography();
