@use '../core/styles/common/squircle' as *;

.kbq-password-toggle > .kbq-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 26px;
    height: var(--kbq-size-xxl);

    @include kbq-squircle(var(--kbq-size-xxs));

    outline: none;
}
