.kbq-password-toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 26px;
    height: var(--kbq-size-xxl);

    border-radius: var(--kbq-size-xxs);

    outline: none;
}
