@use '../core/styles/common/tokens' as *;

@mixin kbq-input-typography() {
    .kbq-input,
    .kbq-input.kbq-input-password::placeholder {
        @include kbq-typography-level-to-styles-css-variables(typography, text-normal);
    }

    .kbq-input.kbq-input-password,
    .kbq-input.kbq-input_monospace {
        @include kbq-typography-level-to-styles-css-variables(typography, mono-normal);
        // disable font-specific symbols replacements
        font-variant-ligatures: none;
        font-feature-settings:
            'liga' 0,
            'clig' 0,
            'calt' 0;
    }
}
