/* stylelint-disable no-unknown-custom-properties */

.kbq-input {
    --kbq-input-size-padding-horizontal: var(--kbq-size-m);
    --kbq-input-size-padding-vertical: var(--kbq-size-xs);
    --kbq-input-font-text-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-input-font-text-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-input-font-text-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-input-font-text-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-input-font-text-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-input-font-text-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-input-font-text-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
}
