{% import "macros.html" as macros %}

<div id="{$ class.name $}" class="docs-header-link kbq-markdown__h4 docs-api__class-name">
    <span header-link="{$ class.name $}"></span>
    <span>{$ class.name $}</span>
    {% if class.extendedDoc %}
    <span class="docs-api__class-extends-clauses">
        <span class="docs-api__class-extends-label">extends</span> {$ class.extendedDoc.name $}
    </span>
    {% endif %}
</div>

{%- if class.description -%}
<p class="kbq-markdown__p docs-api__class-description">{$ class.description | safe $}</p>
{%- endif -%}

{%- if class.directiveSelectors -%}
<p class="docs-api__directive-selectors">
    <span class="docs-api__class-selector-label">Selector:</span>
    {% for selector in class.directiveSelectors %}
    <span class="docs-api__class-selector-name kbq-markdown__code">{$ selector $}</span>
    {% endfor %}
</p>
{%- endif -%}

{%- if class.directiveExportAs -%}
<span class="docs-api__class-export-label">Exported as:</span>
<span class="docs-api__class-export-name kbq-markdown__code">{$ class.directiveExportAs $}</span>
{%- endif -%}

{%- if class.isDeprecated -%}
<div class="docs-api__class-deprecated-marker" {$ macros.deprecationTitle(class) $}>
    Deprecated
</div>
{%- endif -%}

{$ propertyList(class.properties) $}

{$ methodList(class.methods) $}
