ru-locale,
en-locale {
    display: block;
}

.dev-number-input {
    margin-top: 32px;
    margin-bottom: 32px;

    max-width: 200px;
}

.dev-container {
    padding-left: 16px;
    padding-right: 16px;
}

.dev-light-text-secondary {
    color: #ccc;
}

.dev-row-border {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}
