.code-block {
    position: relative;
}

.code-block__header {
    padding-top: 8px;
    padding-bottom: 8px;
}

.docs-stackblitz-button {
    position: absolute;
    right: 0;
    z-index: 2;

    padding: 10px;
}
