@use 'sass:map';

@use '../dist/components/core/styles/theming';
@use '../dist/components/core/styles/common/tokens';

@mixin kbq-docs-example-source-theme() {
    .docs-example-source__code {
        background: var(--kbq-background-background-less-contrast);
    }

    .docs-example-source__numbers {
        background: var(--kbq-background-background-less-contrast);
        color: var(--kbq-foreground-text-disabled);
    }
}

@mixin kbq-docs-example-source-typography() {
    .docs-example-source__code,
    .docs-example-source__numbers {
        @include tokens.kbq-typography-level-to-styles_css-variables(typography, body-mono);

        font-size: 14px;
    }
}
