@use '../core/styles/common/tokens' as *;

.kbq-timepicker {
    // FIXME: default token doesn't exist
    padding-right: var(--kbq-timepicker-size-padding-right);
}

.kbq-form-field-type-timepicker {
    width: 136px;
}
