@use '../core/styles/common/tokens' as *;

@use './tag-tokens';

@mixin kbq-tag-state($type, $style-name) {
    $base: tag-#{$type}-#{$style-name};

    background: var(--kbq-#{$base}-background);

    & .kbq-icon.kbq-empty {
        color: var(--kbq-#{$base}-icon);
    }

    & .kbq-tag__text {
        color: var(--kbq-#{$base}-text);
    }
}

@mixin kbq-tag-color($type) {
    @include kbq-tag-state($type, default);

    &:hover,
    &.kbq-hovered {
        @include kbq-tag-state($type, states-hover);
    }

    &.kbq-focused {
        @include kbq-tag-state($type, states-focus);

        box-shadow:
            inset 0 0 0.1px 1px var(--kbq-tag-#{$type}-states-focus-outline),
            0 0 0.1px 1px var(--kbq-tag-#{$type}-states-focus-outline);
    }

    // TODO: Combine disabled states for all colors
    &.kbq-disabled {
        @include kbq-tag-state($type, states-disabled);
    }
}

@mixin kbq-tag-theme() {
    .kbq-tag {
        &.kbq-theme {
            @include kbq-tag-color(theme-fade-on);
        }

        &.kbq-contrast-fade {
            @include kbq-tag-color(contrast-fade-on);
        }

        &.kbq-error {
            @include kbq-tag-color(error-fade-on);
        }

        &.kbq-warning {
            @include kbq-tag-color(warning-fade);
        }
    }
}

@mixin kbq-tag-typography() {
    .kbq-tag {
        @include kbq-typography-level-to-styles-css-variables(typography, text-normal-medium);
    }

    .kbq-tag-input {
        @include kbq-typography-level-to-styles-css-variables(typography, text-normal);
    }
}
