@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

.kbq-tag-list {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;

    &:focus-visible {
        outline: none;
    }
}

.kbq-tag-input {
    border: none;
    outline: none;
    background: transparent;

    text-overflow: ellipsis;

    min-height: unset;

    padding-top: kbq-css-variable(tag-size-padding-vertical);
    padding-bottom: kbq-css-variable(tag-size-padding-vertical);
    padding-left: 4px;
    padding-right: unset;
}

.kbq-tags-list__list-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;

    box-sizing: border-box;

    min-width: 0;

    gap: kbq-css-variable(tag-list-size-content-gap);

    & .kbq-tag-input {
        max-width: 100%;

        flex: 1 1 auto;
    }
}

.kbq-tags-list__cleaner {
    & .kbq-cleaner {
        max-height: 24px;
    }
}

.kbq-form-field-type-tag-list {
    & .kbq-form-field__container {
        padding:
            kbq-difference-css-variables(tag-input-size-padding-vertical, form-field-size-border-width)
            kbq-css-variable(tag-input-size-padding-right)
            kbq-difference-css-variables(tag-input-size-padding-vertical, form-field-size-border-width)
            kbq-css-variable(tag-input-size-padding-left);
    }
}
