.kbq-form-field-type-tag-list {
    --kbq-tag-input-size-padding-left: 4px;
    --kbq-tag-input-size-padding-right: 12px;
    --kbq-tag-input-size-padding-vertical: 4px;
    --kbq-tag-input-size-content-gap: 8px;
    --kbq-tag-input-font-default-font-size: 14px;
    --kbq-tag-input-font-default-line-height: 20px;
    --kbq-tag-input-font-default-letter-spacing: -0.006em;
    --kbq-tag-input-font-default-font-weight: normal;
    --kbq-tag-input-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --kbq-tag-input-font-default-text-transform: null;
    --kbq-tag-input-font-default-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
}
