.kbq-tag,
.kbq-tag-list,
.kbq-tag-input {
    --kbq-tag-input-font-default-font-size: 14px;
    --kbq-tag-input-font-default-line-height: 20px;
    --kbq-tag-input-font-default-letter-spacing: -0.006em;
    --kbq-tag-input-font-default-font-weight: normal;
    --kbq-tag-input-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
        Arial, sans-serif;
    --kbq-tag-input-font-default-text-transform: null;
    --kbq-tag-input-font-default-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-tag-list-size-content-gap: 4px;
    --kbq-tag-size-padding-horizontal: 4px;
    --kbq-tag-size-padding-vertical: 2px;
    --kbq-tag-size-content-gap-horizontal: 2px;
    --kbq-tag-size-icon-margin-left: 2px;
    --kbq-tag-size-close-button-margin-right: 2px;
    --kbq-tag-font-default-font-size: 14px;
    --kbq-tag-font-default-line-height: 20px;
    --kbq-tag-font-default-letter-spacing: -0.006em;
    --kbq-tag-font-default-font-weight: 500;
    --kbq-tag-font-default-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial,
        sans-serif;
    --kbq-tag-font-default-text-transform: null;
    --kbq-tag-font-default-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-tag-theme-fade-on-default-background: hsla(216, 100%, 85%, 100%);
    --kbq-tag-theme-fade-on-default-text: hsla(216, 100%, 50%, 100%);
    --kbq-tag-theme-fade-on-default-icon: hsla(216, 100%, 50%, 100%);
    --kbq-tag-theme-fade-on-default-close-button: hsla(216, 100%, 50%, 100%);
    --kbq-tag-theme-fade-on-states-hover-background: hsla(216, 100%, 91%, 100%);
    --kbq-tag-theme-fade-on-states-hover-text: hsla(216, 100%, 50%, 100%);
    --kbq-tag-theme-fade-on-states-hover-icon: hsla(216, 100%, 50%, 100%);
    --kbq-tag-theme-fade-on-states-hover-close-button: hsla(216, 100%, 50%, 100%);
    --kbq-tag-theme-fade-on-states-focus-background: hsla(216, 100%, 85%, 100%);
    --kbq-tag-theme-fade-on-states-focus-text: hsla(216, 100%, 50%, 100%);
    --kbq-tag-theme-fade-on-states-focus-icon: hsla(216, 100%, 50%, 100%);
    --kbq-tag-theme-fade-on-states-focus-close-button: hsla(216, 100%, 50%, 100%);
    --kbq-tag-theme-fade-on-states-focus-outline: hsla(216, 100%, 60%, 100%);
    --kbq-tag-theme-fade-on-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tag-theme-fade-on-states-disabled-text: hsla(229, 15%, 15%, 32%);
    --kbq-tag-theme-fade-on-states-disabled-icon: hsla(229, 15%, 15%, 32%);
    --kbq-tag-theme-fade-on-states-disabled-close-button: hsla(229, 15%, 15%, 32%);
    --kbq-tag-contrast-fade-on-default-background: hsla(229, 15%, 92%, 100%);
    --kbq-tag-contrast-fade-on-default-text: hsla(229, 15%, 15%, 100%);
    --kbq-tag-contrast-fade-on-default-icon: hsla(229, 15%, 60%, 100%);
    --kbq-tag-contrast-fade-on-default-close-button: hsla(229, 15%, 60%, 100%);
    --kbq-tag-contrast-fade-on-states-hover-background: hsla(229, 15%, 88%, 100%);
    --kbq-tag-contrast-fade-on-states-hover-text: hsla(229, 15%, 15%, 100%);
    --kbq-tag-contrast-fade-on-states-hover-icon: hsla(229, 15%, 60%, 100%);
    --kbq-tag-contrast-fade-on-states-hover-close-button: hsla(229, 15%, 60%, 100%);
    --kbq-tag-contrast-fade-on-states-focus-background: hsla(229, 15%, 92%, 100%);
    --kbq-tag-contrast-fade-on-states-focus-text: hsla(229, 15%, 15%, 100%);
    --kbq-tag-contrast-fade-on-states-focus-icon: hsla(229, 15%, 60%, 100%);
    --kbq-tag-contrast-fade-on-states-focus-close-button: hsla(229, 15%, 60%, 100%);
    --kbq-tag-contrast-fade-on-states-focus-outline: hsla(216, 100%, 60%, 100%);
    --kbq-tag-contrast-fade-on-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tag-contrast-fade-on-states-disabled-text: hsla(229, 15%, 15%, 32%);
    --kbq-tag-contrast-fade-on-states-disabled-icon: hsla(229, 15%, 15%, 32%);
    --kbq-tag-contrast-fade-on-states-disabled-close-button: hsla(229, 15%, 15%, 32%);
    --kbq-tag-error-fade-on-default-background: hsla(7, 97%, 90%, 100%);
    --kbq-tag-error-fade-on-default-text: hsla(7, 97%, 40%, 100%);
    --kbq-tag-error-fade-on-default-icon: hsla(7, 97%, 45%, 100%);
    --kbq-tag-error-fade-on-default-close-button: hsla(7, 97%, 45%, 100%);
    --kbq-tag-error-fade-on-states-hover-background: hsla(7, 97%, 92%, 100%);
    --kbq-tag-error-fade-on-states-hover-text: hsla(7, 97%, 40%, 100%);
    --kbq-tag-error-fade-on-states-hover-icon: hsla(7, 97%, 45%, 100%);
    --kbq-tag-error-fade-on-states-hover-close-button: hsla(7, 97%, 45%, 100%);
    --kbq-tag-error-fade-on-states-focus-background: hsla(7, 97%, 90%, 100%);
    --kbq-tag-error-fade-on-states-focus-text: hsla(7, 97%, 40%, 100%);
    --kbq-tag-error-fade-on-states-focus-icon: hsla(7, 97%, 45%, 100%);
    --kbq-tag-error-fade-on-states-focus-close-button: hsla(7, 97%, 45%, 100%);
    --kbq-tag-error-fade-on-states-focus-outline: hsla(7, 97%, 45%, 100%);
    --kbq-tag-error-fade-on-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tag-error-fade-on-states-disabled-text: hsla(229, 15%, 15%, 32%);
    --kbq-tag-error-fade-on-states-disabled-icon: hsla(229, 15%, 15%, 32%);
    --kbq-tag-error-fade-on-states-disabled-close-button: hsla(229, 15%, 15%, 32%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-tag-theme-fade-on-default-background: hsla(216, 100%, 20%, 100%);
    --kbq-tag-theme-fade-on-default-text: hsla(216, 100%, 65%, 100%);
    --kbq-tag-theme-fade-on-default-icon: hsla(216, 100%, 65%, 100%);
    --kbq-tag-theme-fade-on-default-close-button: hsla(216, 100%, 65%, 100%);
    --kbq-tag-theme-fade-on-states-hover-background: hsla(216, 100%, 18%, 100%);
    --kbq-tag-theme-fade-on-states-hover-text: hsla(216, 100%, 65%, 100%);
    --kbq-tag-theme-fade-on-states-hover-icon: hsla(216, 100%, 65%, 100%);
    --kbq-tag-theme-fade-on-states-hover-close-button: hsla(216, 100%, 65%, 100%);
    --kbq-tag-theme-fade-on-states-focus-background: hsla(216, 100%, 20%, 100%);
    --kbq-tag-theme-fade-on-states-focus-text: hsla(216, 100%, 65%, 100%);
    --kbq-tag-theme-fade-on-states-focus-icon: hsla(216, 100%, 65%, 100%);
    --kbq-tag-theme-fade-on-states-focus-close-button: hsla(216, 100%, 65%, 100%);
    --kbq-tag-theme-fade-on-states-focus-outline: hsla(216, 100%, 60%, 100%);
    --kbq-tag-theme-fade-on-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tag-theme-fade-on-states-disabled-text: hsla(229, 15%, 40%, 100%);
    --kbq-tag-theme-fade-on-states-disabled-icon: hsla(229, 15%, 30%, 100%);
    --kbq-tag-theme-fade-on-states-disabled-close-button: hsla(229, 15%, 30%, 100%);
    --kbq-tag-contrast-fade-on-default-background: hsla(229, 15%, 25%, 100%);
    --kbq-tag-contrast-fade-on-default-text: hsla(229, 15%, 80%, 100%);
    --kbq-tag-contrast-fade-on-default-icon: hsla(229, 15%, 45%, 100%);
    --kbq-tag-contrast-fade-on-default-close-button: hsla(229, 15%, 45%, 100%);
    --kbq-tag-contrast-fade-on-states-hover-background: hsla(229, 15%, 25%, 100%);
    --kbq-tag-contrast-fade-on-states-hover-text: hsla(229, 15%, 80%, 100%);
    --kbq-tag-contrast-fade-on-states-hover-icon: hsla(229, 15%, 45%, 100%);
    --kbq-tag-contrast-fade-on-states-hover-close-button: hsla(229, 15%, 45%, 100%);
    --kbq-tag-contrast-fade-on-states-focus-background: hsla(229, 15%, 25%, 100%);
    --kbq-tag-contrast-fade-on-states-focus-text: hsla(229, 15%, 80%, 100%);
    --kbq-tag-contrast-fade-on-states-focus-icon: hsla(229, 15%, 45%, 100%);
    --kbq-tag-contrast-fade-on-states-focus-close-button: hsla(229, 15%, 45%, 100%);
    --kbq-tag-contrast-fade-on-states-focus-outline: hsla(216, 100%, 60%, 100%);
    --kbq-tag-contrast-fade-on-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tag-contrast-fade-on-states-disabled-text: hsla(229, 15%, 40%, 100%);
    --kbq-tag-contrast-fade-on-states-disabled-icon: hsla(229, 15%, 30%, 100%);
    --kbq-tag-contrast-fade-on-states-disabled-close-button: hsla(229, 15%, 30%, 100%);
    --kbq-tag-error-fade-on-default-background: hsla(7, 97%, 15%, 100%);
    --kbq-tag-error-fade-on-default-text: hsla(7, 97%, 60%, 100%);
    --kbq-tag-error-fade-on-default-icon: hsla(7, 97%, 60%, 100%);
    --kbq-tag-error-fade-on-default-close-button: hsla(7, 97%, 60%, 100%);
    --kbq-tag-error-fade-on-states-hover-background: hsla(7, 97%, 13%, 100%);
    --kbq-tag-error-fade-on-states-hover-text: hsla(7, 97%, 60%, 100%);
    --kbq-tag-error-fade-on-states-hover-icon: hsla(7, 97%, 60%, 100%);
    --kbq-tag-error-fade-on-states-hover-close-button: hsla(7, 97%, 60%, 100%);
    --kbq-tag-error-fade-on-states-focus-background: hsla(7, 97%, 15%, 100%);
    --kbq-tag-error-fade-on-states-focus-text: hsla(7, 97%, 60%, 100%);
    --kbq-tag-error-fade-on-states-focus-icon: hsla(7, 97%, 60%, 100%);
    --kbq-tag-error-fade-on-states-focus-close-button: hsla(7, 97%, 60%, 100%);
    --kbq-tag-error-fade-on-states-focus-outline: hsla(7, 97%, 45%, 100%);
    --kbq-tag-error-fade-on-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tag-error-fade-on-states-disabled-text: hsla(229, 15%, 40%, 100%);
    --kbq-tag-error-fade-on-states-disabled-icon: hsla(229, 15%, 30%, 100%);
    --kbq-tag-error-fade-on-states-disabled-close-button: hsla(229, 15%, 30%, 100%);
    --kbq-tag-warning-fade-on-default-background: hsla(38, 100%, 14%, 100%);
    --kbq-tag-warning-fade-on-default-text: hsla(38, 100%, 60%, 100%);
    --kbq-tag-warning-fade-on-default-icon: hsla(38, 100%, 60%, 100%);
    --kbq-tag-warning-fade-on-default-close-button: hsla(38, 100%, 60%, 100%);
    --kbq-tag-warning-fade-on-states-hover-background: hsla(38, 100%, 13%, 100%);
    --kbq-tag-warning-fade-on-states-hover-text: hsla(38, 100%, 60%, 100%);
    --kbq-tag-warning-fade-on-states-hover-icon: hsla(38, 100%, 60%, 100%);
    --kbq-tag-warning-fade-on-states-hover-close-button: hsla(38, 100%, 60%, 100%);
    --kbq-tag-warning-fade-on-states-focus-background: hsla(38, 100%, 14%, 100%);
    --kbq-tag-warning-fade-on-states-focus-text: hsla(38, 100%, 60%, 100%);
    --kbq-tag-warning-fade-on-states-focus-icon: hsla(38, 100%, 60%, 100%);
    --kbq-tag-warning-fade-on-states-focus-close-button: hsla(38, 100%, 60%, 100%);
    --kbq-tag-warning-fade-on-states-focus-outline: hsla(216, 100%, 60%, 100%);
    --kbq-tag-warning-fade-on-states-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-tag-warning-fade-on-states-disabled-text: hsla(229, 15%, 40%, 100%);
    --kbq-tag-warning-fade-on-states-disabled-icon: hsla(229, 15%, 30%, 100%);
    --kbq-tag-warning-fade-on-states-disabled-close-button: hsla(229, 15%, 30%, 100%);
}
