@use '../core/styles/common/tokens' as *;
@use '../core/styles/common/input';

.kbq-tag-list {
    display: flex;
    flex-direction: row;
    min-height: var(--kbq-size-xxl);

    box-sizing: border-box;

    &:focus-visible {
        outline: none;
    }

    &.cdk-drop-list-dragging .cdk-drag {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}

.kbq-tag-input {
    @include input.kbq-reset-input();

    padding-top: var(--kbq-tag-size-padding-vertical);
    padding-bottom: var(--kbq-tag-size-padding-vertical);
    padding-left: var(--kbq-size-xxs);
    padding-right: unset;

    min-width: var(--kbq-size-3xl);
    max-width: 100%;
    flex-grow: 1;

    &.kbq-input {
        --kbq-input-size-padding-vertical: 0;
        --kbq-form-field-size-border-radius: 0;

        padding-left: var(--kbq-size-xxs);
        min-height: unset !important;
        width: auto;
    }
}

.kbq-tags-list__list-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;

    box-sizing: border-box;

    min-width: 0;

    gap: var(--kbq-tag-list-size-content-gap);

    .kbq-tag-input {
        // indicating tag list is empty
        &:first-child {
            padding-left: var(--kbq-size-s);
        }
    }
}

.kbq-tags-list__cleaner {
    & .kbq-cleaner {
        max-height: 24px;
    }
}

.kbq-form-field-type-tag-list {
    & .kbq-form-field__container {
        padding-top: kbq-difference-series-css-variables(
            [tag-input-size-padding-vertical,
            form-field-size-border-width]
        );
        padding-bottom: kbq-difference-series-css-variables(
            [tag-input-size-padding-vertical,
            form-field-size-border-width]
        );
    }
}

// We should apply `cursor: grabbing` to the body, not to the dragged element itself.
// Reason: https://github.com/angular/components/blob/18.2.14/src/cdk/drag-drop/resets.scss#L14-L15
body:has(.kbq-tag-list.cdk-drop-list-dragging) {
    cursor: grabbing;
}
