.kbq-tag,
.kbq-tag-list,
.kbq-tag-input {
    --kbq-tag-list-size-content-gap: var(--kbq-size-xxs);
    --kbq-tag-size-padding-horizontal: var(--kbq-size-xxs);
    --kbq-tag-size-padding-vertical: var(--kbq-size-3xs);
    --kbq-tag-size-content-gap-horizontal: var(--kbq-size-3xs);
    --kbq-tag-size-icon-margin-left: var(--kbq-size-3xs);
    --kbq-tag-size-close-button-margin-right: var(--kbq-size-3xs);
    /* THEME TOKENS */
    --kbq-tag-theme-fade-on-default-background: var(--kbq-background-theme-fade);
    --kbq-tag-theme-fade-on-default-text: var(--kbq-foreground-theme);
    --kbq-tag-theme-fade-on-default-icon: var(--kbq-icon-theme);
    --kbq-tag-theme-fade-on-default-close-button: var(--kbq-icon-theme);
    --kbq-tag-theme-fade-on-states-hover-background: var(--kbq-states-background-theme-fade-hover);
    --kbq-tag-theme-fade-on-states-hover-text: var(--kbq-foreground-theme);
    --kbq-tag-theme-fade-on-states-hover-icon: var(--kbq-icon-theme);
    --kbq-tag-theme-fade-on-states-hover-close-button: var(--kbq-icon-theme);
    --kbq-tag-theme-fade-on-states-focus-background: var(--kbq-background-theme-fade);
    --kbq-tag-theme-fade-on-states-focus-text: var(--kbq-foreground-theme);
    --kbq-tag-theme-fade-on-states-focus-icon: var(--kbq-icon-theme);
    --kbq-tag-theme-fade-on-states-focus-close-button: var(--kbq-icon-theme);
    --kbq-tag-theme-fade-on-states-focus-outline: var(--kbq-states-line-focus-theme);
    --kbq-tag-theme-fade-on-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-tag-theme-fade-on-states-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-tag-theme-fade-on-states-disabled-icon: var(--kbq-states-icon-disabled);
    --kbq-tag-theme-fade-on-states-disabled-close-button: var(--kbq-states-icon-disabled);
    --kbq-tag-contrast-fade-on-default-background: var(--kbq-background-contrast-fade);
    --kbq-tag-contrast-fade-on-default-text: var(--kbq-foreground-contrast);
    --kbq-tag-contrast-fade-on-default-icon: var(--kbq-icon-contrast-fade);
    --kbq-tag-contrast-fade-on-default-close-button: var(--kbq-icon-contrast-fade);
    --kbq-tag-contrast-fade-on-states-hover-background: var(--kbq-states-background-contrast-fade-hover);
    --kbq-tag-contrast-fade-on-states-hover-text: var(--kbq-foreground-contrast);
    --kbq-tag-contrast-fade-on-states-hover-icon: var(--kbq-icon-contrast-fade);
    --kbq-tag-contrast-fade-on-states-hover-close-button: var(--kbq-icon-contrast-fade);
    --kbq-tag-contrast-fade-on-states-focus-background: var(--kbq-background-contrast-fade);
    --kbq-tag-contrast-fade-on-states-focus-text: var(--kbq-foreground-contrast);
    --kbq-tag-contrast-fade-on-states-focus-icon: var(--kbq-icon-contrast-fade);
    --kbq-tag-contrast-fade-on-states-focus-close-button: var(--kbq-icon-contrast-fade);
    --kbq-tag-contrast-fade-on-states-focus-outline: var(--kbq-states-line-focus-theme);
    --kbq-tag-contrast-fade-on-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-tag-contrast-fade-on-states-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-tag-contrast-fade-on-states-disabled-icon: var(--kbq-states-icon-disabled);
    --kbq-tag-contrast-fade-on-states-disabled-close-button: var(--kbq-states-icon-disabled);
    --kbq-tag-error-fade-on-default-background: var(--kbq-background-error-fade);
    --kbq-tag-error-fade-on-default-text: var(--kbq-foreground-error);
    --kbq-tag-error-fade-on-default-icon: var(--kbq-icon-error);
    --kbq-tag-error-fade-on-default-close-button: var(--kbq-icon-error);
    --kbq-tag-error-fade-on-states-hover-background: var(--kbq-states-background-error-fade-hover);
    --kbq-tag-error-fade-on-states-hover-text: var(--kbq-foreground-error);
    --kbq-tag-error-fade-on-states-hover-icon: var(--kbq-icon-error);
    --kbq-tag-error-fade-on-states-hover-close-button: var(--kbq-icon-error);
    --kbq-tag-error-fade-on-states-focus-background: var(--kbq-background-error-fade);
    --kbq-tag-error-fade-on-states-focus-text: var(--kbq-foreground-error);
    --kbq-tag-error-fade-on-states-focus-icon: var(--kbq-icon-error);
    --kbq-tag-error-fade-on-states-focus-close-button: var(--kbq-icon-error);
    --kbq-tag-error-fade-on-states-focus-outline: var(--kbq-states-line-focus-error);
    --kbq-tag-error-fade-on-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-tag-error-fade-on-states-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-tag-error-fade-on-states-disabled-icon: var(--kbq-states-icon-disabled);
    --kbq-tag-error-fade-on-states-disabled-close-button: var(--kbq-states-icon-disabled);
    --kbq-tag-warning-fade-default-background: var(--kbq-background-warning-fade);
    --kbq-tag-warning-fade-default-text: var(--kbq-foreground-warning);
    --kbq-tag-warning-fade-default-icon: var(--kbq-icon-warning);
    --kbq-tag-warning-fade-default-close-button: var(--kbq-icon-warning);
    --kbq-tag-warning-fade-states-hover-background: var(--kbq-states-background-warning-fade-hover);
    --kbq-tag-warning-fade-states-hover-text: var(--kbq-foreground-warning);
    --kbq-tag-warning-fade-states-hover-icon: var(--kbq-icon-warning);
    --kbq-tag-warning-fade-states-hover-close-button: var(--kbq-icon-warning);
    --kbq-tag-warning-fade-states-focus-background: var(--kbq-background-warning-fade);
    --kbq-tag-warning-fade-states-focus-text: var(--kbq-foreground-warning);
    --kbq-tag-warning-fade-states-focus-icon: var(--kbq-icon-warning);
    --kbq-tag-warning-fade-states-focus-close-button: var(--kbq-icon-warning);
    --kbq-tag-warning-fade-states-focus-outline: var(--kbq-states-line-focus-theme);
    --kbq-tag-warning-fade-states-disabled-background: var(--kbq-states-background-disabled);
    --kbq-tag-warning-fade-states-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-tag-warning-fade-states-disabled-icon: var(--kbq-states-icon-disabled);
    --kbq-tag-warning-fade-states-disabled-close-button: var(--kbq-states-icon-disabled);
}
