.kbq-form-field-type-tag-list {
    --kbq-tag-input-size-padding-left: var(--kbq-size-xxs);
    --kbq-tag-input-size-padding-right: var(--kbq-size-m);
    --kbq-tag-input-size-padding-vertical: var(--kbq-size-xxs);
    --kbq-tag-input-size-content-gap: var(--kbq-size-s);
    --kbq-tag-input-font-default-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-tag-input-font-default-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-tag-input-font-default-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-tag-input-font-default-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-tag-input-font-default-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-tag-input-font-default-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-tag-input-font-default-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
}
