/* stylelint-disable no-unknown-custom-properties */

.kbq-form-field-type-tag-list {
    --kbq-tag-input-size-padding-left: var(--kbq-size-xxs);
    --kbq-tag-input-size-padding-right: var(--kbq-size-m);
    --kbq-tag-input-size-padding-vertical: var(--kbq-size-xxs);
    --kbq-tag-input-size-content-gap: var(--kbq-size-s);
}
