@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;


.kbq-tag {
    position: relative;

    display: inline-block;

    max-width: 100%;

    padding:
        kbq-css-variable(tag-size-padding-vertical)
        kbq-css-variable(tag-size-padding-horizontal);

    border-radius: 4px;

    cursor: default;

    outline: none;

    box-sizing: border-box;

    & .kbq-icon.kbq-tag-remove {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-shrink: 0;

        margin-right: kbq-css-variable(tag-size-close-button-margin-right);

        &:hover {
            cursor: pointer;
        }
    }

    &.kbq-disabled .kbq-icon.kbq-tag-remove:hover {
        cursor: default;
    }

    & .kbq-tag__text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        margin: 0 kbq-css-variable(tag-size-content-gap-horizontal);
    }

    & .kbq-icon_left {
        margin-left: kbq-css-variable(tag-size-icon-margin-left);
    }
}

.kbq-tag__wrapper {
    display: flex;
    align-items: center;

    height: 100%;

    flex: 1 1 100%;
}
