dev-app {
    display: block;
    max-width: 608px;
}

.dev-container {
    display: flex;
    align-items: center;

    .dev-percent {
        margin-right: 8px;
        width: 60px;
        text-align: center;
        flex-shrink: 0;
    }

    .dev-lines {
        flex-grow: 1;
        margin-top: 8px;
    }

    .dev-line-container:not(:first-child) {
        margin-top: 16px;
    }
}
