.kbq-alert__text p {
    margin: 0 0;
}

.kbq-alert__text p + p {
    margin-top: 8px;
}

alert-content-example {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

alert-content-example .layout-row,
alert-content-example .layout-column {
    gap: 16px;
}

alert-content-example .layout-column {
    width: 50%;
}

alert-content-example .kbq-alert__button-stack {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
}

@media (1200px < width <= 1440px) {
    alert-content-example .layout-row {
        flex-wrap: wrap;
    }

    alert-content-example .layout-column {
        width: 100%;
    }
}

@media (width <= 1024px) {
    alert-content-example .layout-row {
        flex-wrap: wrap;
    }

    alert-content-example .layout-column {
        width: 100%;
    }
}
