p {
    margin: 0 0;
}

p + p {
    margin-top: 8px;
}

:host {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.layout-row,
.layout-column {
    gap: 16px;
}

.layout-column {
    width: 50%;
}

:host ::ng-deep .kbq-alert__button-stack {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
}

@media (1200px < width <= 1440px) {
    .layout-row {
        flex-wrap: wrap;
    }

    .layout-column {
        width: 100%;
    }
}

@media (width <= 1024px) {
    .layout-row {
        flex-wrap: wrap;
    }

    .layout-column {
        width: 100%;
    }
}
