.tabs-custom-label-example {
    padding-bottom: 24px;
}

.tabs-custom-label-example .kbq-icon {
    margin-bottom: 4px;
}

.tabs-custom-label-example .kbq-tab-label .kbq-tab-label__content {
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.tabs-custom-label-example .tabs-custom-example__subtitle {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(108, 115, 147, 1);
}
