.kbq-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.overflow-content {
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}
