.dev-container {
    margin-top: 50px;

    height: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.dev-scroll-container {
    height: 100%;
    width: 100%;
}

.dev-block {
    display: flex;
    flex-wrap: wrap;

    width: 0;

    & .dev-button {
        margin-bottom: var(--kbq-size-m);
    }
}
