$typography-display-1-font-size: 57px;
$typography-display-1-line-height: 64px;
$typography-display-1-letter-spacing: normal;
$typography-display-1-font-weight: 400;
$typography-display-1-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-1-text-transform: null;
$typography-display-1-font-feature-settings: "calt", "kern", "liga";
$typography-display-2-font-size: 45px;
$typography-display-2-line-height: 52px;
$typography-display-2-letter-spacing: normal;
$typography-display-2-font-weight: 400;
$typography-display-2-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-2-text-transform: null;
$typography-display-2-font-feature-settings: "calt", "kern", "liga";
$typography-display-3-font-size: 36px;
$typography-display-3-line-height: 44px;
$typography-display-3-letter-spacing: normal;
$typography-display-3-font-weight: 400;
$typography-display-3-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-3-text-transform: null;
$typography-display-3-font-feature-settings: "calt", "kern", "liga";
$typography-display-1-strong-font-size: 57px;
$typography-display-1-strong-line-height: 64px;
$typography-display-1-strong-letter-spacing: normal;
$typography-display-1-strong-font-weight: 700;
$typography-display-1-strong-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-1-strong-text-transform: null;
$typography-display-1-strong-font-feature-settings: "calt", "kern", "liga";
$typography-display-2-strong-font-size: 45px;
$typography-display-2-strong-line-height: 52px;
$typography-display-2-strong-letter-spacing: normal;
$typography-display-2-strong-font-weight: 700;
$typography-display-2-strong-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-2-strong-text-transform: null;
$typography-display-2-strong-font-feature-settings: "calt", "kern", "liga";
$typography-display-3-strong-font-size: 36px;
$typography-display-3-strong-line-height: 44px;
$typography-display-3-strong-letter-spacing: normal;
$typography-display-3-strong-font-weight: 700;
$typography-display-3-strong-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-3-strong-text-transform: null;
$typography-display-3-strong-font-feature-settings: "calt", "kern", "liga";
$typography-headline-font-size: 28px;
$typography-headline-line-height: 32px;
$typography-headline-letter-spacing: normal;
$typography-headline-font-weight: 700;
$typography-headline-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-headline-text-transform: null;
$typography-headline-font-feature-settings: "calt", "kern", "liga";
$typography-title-font-size: 20px;
$typography-title-line-height: 28px;
$typography-title-letter-spacing: normal;
$typography-title-font-weight: 700;
$typography-title-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-title-text-transform: null;
$typography-title-font-feature-settings: "calt", "kern", "liga";
$typography-subheading-font-size: 18px;
$typography-subheading-line-height: 26px;
$typography-subheading-letter-spacing: normal;
$typography-subheading-font-weight: 600;
$typography-subheading-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-subheading-text-transform: null;
$typography-subheading-font-feature-settings: "calt", "kern", "liga";
$typography-body-font-size: 16px;
$typography-body-line-height: 24px;
$typography-body-letter-spacing: normal;
$typography-body-font-weight: normal;
$typography-body-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-body-text-transform: null;
$typography-body-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-body-tabular-font-size: 16px;
$typography-body-tabular-line-height: 24px;
$typography-body-tabular-letter-spacing: normal;
$typography-body-tabular-font-weight: normal;
$typography-body-tabular-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-body-tabular-text-transform: null;
$typography-body-tabular-font-feature-settings: "calt", "ss01", "ss04", "tnum";
$typography-body-strong-font-size: 16px;
$typography-body-strong-line-height: 24px;
$typography-body-strong-letter-spacing: normal;
$typography-body-strong-font-weight: 500;
$typography-body-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-body-strong-text-transform: null;
$typography-body-strong-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-body-caps-font-size: 16px;
$typography-body-caps-line-height: 24px;
$typography-body-caps-letter-spacing: 0.08em;
$typography-body-caps-font-weight: 600;
$typography-body-caps-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-body-caps-text-transform: uppercase;
$typography-body-caps-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-body-mono-font-size: 16px;
$typography-body-mono-line-height: 24px;
$typography-body-mono-letter-spacing: normal;
$typography-body-mono-font-weight: normal;
$typography-body-mono-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-body-mono-text-transform: null;
$typography-body-mono-font-feature-settings: initial;
$typography-body-mono-strong-font-size: 16px;
$typography-body-mono-strong-line-height: 24px;
$typography-body-mono-strong-letter-spacing: normal;
$typography-body-mono-strong-font-weight: 500;
$typography-body-mono-strong-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-body-mono-strong-text-transform: null;
$typography-body-mono-strong-font-feature-settings: initial;
$typography-caption-font-size: 14px;
$typography-caption-line-height: 20px;
$typography-caption-letter-spacing: -0.006em;
$typography-caption-font-weight: normal;
$typography-caption-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-caption-text-transform: null;
$typography-caption-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-caption-tabular-font-size: 14px;
$typography-caption-tabular-line-height: 20px;
$typography-caption-tabular-letter-spacing: -0.006em;
$typography-caption-tabular-font-weight: normal;
$typography-caption-tabular-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-caption-tabular-text-transform: null;
$typography-caption-tabular-font-feature-settings: "calt", "ss01", "ss04", "tnum";
$typography-caption-strong-font-size: 14px;
$typography-caption-strong-line-height: 20px;
$typography-caption-strong-letter-spacing: -0.006em;
$typography-caption-strong-font-weight: 500;
$typography-caption-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-caption-strong-text-transform: null;
$typography-caption-strong-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-caption-caps-font-size: 14px;
$typography-caption-caps-line-height: 20px;
$typography-caption-caps-letter-spacing: 0.08em;
$typography-caption-caps-font-weight: normal;
$typography-caption-caps-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-caption-caps-text-transform: uppercase;
$typography-caption-caps-font-feature-settings: "calt", "case", "kern", "liga", "ss01", "ss04";
$typography-caption-mono-font-size: 14px;
$typography-caption-mono-line-height: 20px;
$typography-caption-mono-letter-spacing: normal;
$typography-caption-mono-font-weight: normal;
$typography-caption-mono-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-caption-mono-text-transform: null;
$typography-caption-mono-font-feature-settings: initial;
$typography-caption-mono-strong-font-size: 14px;
$typography-caption-mono-strong-line-height: 20px;
$typography-caption-mono-strong-letter-spacing: normal;
$typography-caption-mono-strong-font-weight: 500;
$typography-caption-mono-strong-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-caption-mono-strong-text-transform: null;
$typography-caption-mono-strong-font-feature-settings: initial;
$typography-extra-small-text-font-size: 12px;
$typography-extra-small-text-line-height: 16px;
$typography-extra-small-text-letter-spacing: normal;
$typography-extra-small-text-font-weight: normal;
$typography-extra-small-text-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-extra-small-text-text-transform: null;
$typography-extra-small-text-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-extra-small-text-strong-font-size: 12px;
$typography-extra-small-text-strong-line-height: 16px;
$typography-extra-small-text-strong-letter-spacing: normal;
$typography-extra-small-text-strong-font-weight: 500;
$typography-extra-small-text-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-extra-small-text-strong-text-transform: null;
$typography-extra-small-text-strong-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-extra-small-text-caps-font-size: 12px;
$typography-extra-small-text-caps-line-height: 16px;
$typography-extra-small-text-caps-letter-spacing: 1px;
$typography-extra-small-text-caps-font-weight: normal;
$typography-extra-small-text-caps-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-extra-small-text-caps-text-transform: uppercase;
$typography-extra-small-text-caps-font-feature-settings: "calt", "case", "kern", "liga", "ss01", "ss04";
$typography-extra-small-text-mono-font-size: 12px;
$typography-extra-small-text-mono-line-height: 16px;
$typography-extra-small-text-mono-letter-spacing: 0px;
$typography-extra-small-text-mono-font-weight: normal;
$typography-extra-small-text-mono-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-extra-small-text-mono-text-transform: null;
$typography-extra-small-text-mono-font-feature-settings: initial;
$typography-display-big-font-size: 57px;
$typography-display-big-line-height: 64px;
$typography-display-big-letter-spacing: normal;
$typography-display-big-font-weight: 400;
$typography-display-big-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-big-text-transform: null;
$typography-display-big-font-feature-settings: "calt", "kern", "liga";
$typography-display-normal-font-size: 45px;
$typography-display-normal-line-height: 52px;
$typography-display-normal-letter-spacing: normal;
$typography-display-normal-font-weight: 400;
$typography-display-normal-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-normal-text-transform: null;
$typography-display-normal-font-feature-settings: "calt", "kern", "liga";
$typography-display-compact-font-size: 36px;
$typography-display-compact-line-height: 44px;
$typography-display-compact-letter-spacing: normal;
$typography-display-compact-font-weight: 400;
$typography-display-compact-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-compact-text-transform: null;
$typography-display-compact-font-feature-settings: "calt", "kern", "liga";
$typography-display-big-strong-font-size: 57px;
$typography-display-big-strong-line-height: 64px;
$typography-display-big-strong-letter-spacing: normal;
$typography-display-big-strong-font-weight: 700;
$typography-display-big-strong-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-big-strong-text-transform: null;
$typography-display-big-strong-font-feature-settings: "calt", "kern", "liga";
$typography-display-normal-strong-font-size: 45px;
$typography-display-normal-strong-line-height: 52px;
$typography-display-normal-strong-letter-spacing: normal;
$typography-display-normal-strong-font-weight: 700;
$typography-display-normal-strong-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-normal-strong-text-transform: null;
$typography-display-normal-strong-font-feature-settings: "calt", "kern", "liga";
$typography-display-compact-strong-font-size: 36px;
$typography-display-compact-strong-line-height: 44px;
$typography-display-compact-strong-letter-spacing: normal;
$typography-display-compact-strong-font-weight: 700;
$typography-display-compact-strong-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-display-compact-strong-text-transform: null;
$typography-display-compact-strong-font-feature-settings: "calt", "kern", "liga";
$typography-text-big-font-size: 16px;
$typography-text-big-line-height: 24px;
$typography-text-big-letter-spacing: -0.011em;
$typography-text-big-font-weight: normal;
$typography-text-big-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-text-big-text-transform: null;
$typography-text-big-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-text-big-strong-font-size: 16px;
$typography-text-big-strong-line-height: 24px;
$typography-text-big-strong-letter-spacing: -0.011em;
$typography-text-big-strong-font-weight: 500;
$typography-text-big-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-text-big-strong-text-transform: null;
$typography-text-big-strong-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-text-normal-font-size: 14px;
$typography-text-normal-line-height: 20px;
$typography-text-normal-letter-spacing: -0.006em;
$typography-text-normal-font-weight: normal;
$typography-text-normal-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-text-normal-text-transform: null;
$typography-text-normal-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-text-normal-strong-font-size: 14px;
$typography-text-normal-strong-line-height: 20px;
$typography-text-normal-strong-letter-spacing: -0.006em;
$typography-text-normal-strong-font-weight: 500;
$typography-text-normal-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-text-normal-strong-text-transform: null;
$typography-text-normal-strong-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-text-compact-font-size: 12px;
$typography-text-compact-line-height: 16px;
$typography-text-compact-letter-spacing: normal;
$typography-text-compact-font-weight: normal;
$typography-text-compact-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-text-compact-text-transform: null;
$typography-text-compact-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-text-compact-strong-font-size: 12px;
$typography-text-compact-strong-line-height: 16px;
$typography-text-compact-strong-letter-spacing: normal;
$typography-text-compact-strong-font-weight: 500;
$typography-text-compact-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-text-compact-strong-text-transform: null;
$typography-text-compact-strong-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-caps-big-font-size: 16px;
$typography-caps-big-line-height: 24px;
$typography-caps-big-letter-spacing: 0.08em;
$typography-caps-big-font-weight: 400;
$typography-caps-big-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-caps-big-text-transform: uppercase;
$typography-caps-big-font-feature-settings: "calt", "case", "kern", "liga", "ss01", "ss04";
$typography-caps-big-strong-font-size: 16px;
$typography-caps-big-strong-line-height: 24px;
$typography-caps-big-strong-letter-spacing: 0.08em;
$typography-caps-big-strong-font-weight: 600;
$typography-caps-big-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-caps-big-strong-text-transform: uppercase;
$typography-caps-big-strong-font-feature-settings: "calt", "case", "kern", "liga", "ss01", "ss04";
$typography-caps-normal-font-size: 14px;
$typography-caps-normal-line-height: 20px;
$typography-caps-normal-letter-spacing: 0.08em;
$typography-caps-normal-font-weight: normal;
$typography-caps-normal-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-caps-normal-text-transform: uppercase;
$typography-caps-normal-font-feature-settings: "calt", "case", "kern", "liga", "ss01", "ss04";
$typography-caps-normal-strong-font-size: 14px;
$typography-caps-normal-strong-line-height: 20px;
$typography-caps-normal-strong-letter-spacing: 0.08em;
$typography-caps-normal-strong-font-weight: 600;
$typography-caps-normal-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-caps-normal-strong-text-transform: uppercase;
$typography-caps-normal-strong-font-feature-settings: "calt", "case", "kern", "liga", "ss01", "ss04";
$typography-caps-compact-font-size: 12px;
$typography-caps-compact-line-height: 16px;
$typography-caps-compact-letter-spacing: 1px;
$typography-caps-compact-font-weight: normal;
$typography-caps-compact-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-caps-compact-text-transform: uppercase;
$typography-caps-compact-font-feature-settings: "calt", "case", "kern", "liga", "ss01", "ss04";
$typography-caps-compact-strong-font-size: 12px;
$typography-caps-compact-strong-line-height: 16px;
$typography-caps-compact-strong-letter-spacing: 1px;
$typography-caps-compact-strong-font-weight: 600;
$typography-caps-compact-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-caps-compact-strong-text-transform: uppercase;
$typography-caps-compact-strong-font-feature-settings: "calt", "case", "kern", "liga", "ss01", "ss04";
$typography-mono-big-font-size: 16px;
$typography-mono-big-line-height: 24px;
$typography-mono-big-letter-spacing: normal;
$typography-mono-big-font-weight: normal;
$typography-mono-big-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-mono-big-text-transform: null;
$typography-mono-big-font-feature-settings: initial;
$typography-mono-big-strong-font-size: 16px;
$typography-mono-big-strong-line-height: 24px;
$typography-mono-big-strong-letter-spacing: normal;
$typography-mono-big-strong-font-weight: 700;
$typography-mono-big-strong-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-mono-big-strong-text-transform: null;
$typography-mono-big-strong-font-feature-settings: initial;
$typography-mono-normal-font-size: 14px;
$typography-mono-normal-line-height: 20px;
$typography-mono-normal-letter-spacing: normal;
$typography-mono-normal-font-weight: normal;
$typography-mono-normal-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-mono-normal-text-transform: null;
$typography-mono-normal-font-feature-settings: initial;
$typography-mono-normal-strong-font-size: 14px;
$typography-mono-normal-strong-line-height: 20px;
$typography-mono-normal-strong-letter-spacing: normal;
$typography-mono-normal-strong-font-weight: 700;
$typography-mono-normal-strong-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-mono-normal-strong-text-transform: null;
$typography-mono-normal-strong-font-feature-settings: initial;
$typography-mono-compact-font-size: 12px;
$typography-mono-compact-line-height: 16px;
$typography-mono-compact-letter-spacing: 0px;
$typography-mono-compact-font-weight: normal;
$typography-mono-compact-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-mono-compact-text-transform: null;
$typography-mono-compact-font-feature-settings: initial;
$typography-mono-compact-strong-font-size: 12px;
$typography-mono-compact-strong-line-height: 16px;
$typography-mono-compact-strong-letter-spacing: 0px;
$typography-mono-compact-strong-font-weight: 700;
$typography-mono-compact-strong-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-mono-compact-strong-text-transform: null;
$typography-mono-compact-strong-font-feature-settings: initial;
$typography-mono-codeblock-font-size: 14px;
$typography-mono-codeblock-line-height: 20px;
$typography-mono-codeblock-letter-spacing: normal;
$typography-mono-codeblock-font-weight: normal;
$typography-mono-codeblock-font-family: 'JetBrains Mono', 'Roboto Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
$typography-mono-codeblock-text-transform: null;
$typography-mono-codeblock-font-feature-settings: initial;
$typography-tabular-big-font-size: 16px;
$typography-tabular-big-line-height: 24px;
$typography-tabular-big-letter-spacing: normal;
$typography-tabular-big-font-weight: normal;
$typography-tabular-big-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-tabular-big-text-transform: null;
$typography-tabular-big-font-feature-settings: "calt", "ss01", "ss04", "tnum";
$typography-tabular-big-strong-font-size: 16px;
$typography-tabular-big-strong-line-height: 24px;
$typography-tabular-big-strong-letter-spacing: normal;
$typography-tabular-big-strong-font-weight: 500;
$typography-tabular-big-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-tabular-big-strong-text-transform: null;
$typography-tabular-big-strong-font-feature-settings: "calt", "ss01", "ss04", "tnum";
$typography-tabular-normal-font-size: 14px;
$typography-tabular-normal-line-height: 20px;
$typography-tabular-normal-letter-spacing: -0.006em;
$typography-tabular-normal-font-weight: normal;
$typography-tabular-normal-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-tabular-normal-text-transform: null;
$typography-tabular-normal-font-feature-settings: "calt", "ss01", "ss04", "tnum";
$typography-tabular-normal-strong-font-size: 14px;
$typography-tabular-normal-strong-line-height: 20px;
$typography-tabular-normal-strong-letter-spacing: -0.006em;
$typography-tabular-normal-strong-font-weight: 500;
$typography-tabular-normal-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-tabular-normal-strong-text-transform: null;
$typography-tabular-normal-strong-font-feature-settings: "calt", "ss01", "ss04", "tnum";
$typography-tabular-compact-font-size: 12px;
$typography-tabular-compact-line-height: 16px;
$typography-tabular-compact-letter-spacing: normal;
$typography-tabular-compact-font-weight: normal;
$typography-tabular-compact-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-tabular-compact-text-transform: null;
$typography-tabular-compact-font-feature-settings: "calt", "ss01", "ss04", "tnum";
$typography-tabular-compact-strong-font-size: 12px;
$typography-tabular-compact-strong-line-height: 16px;
$typography-tabular-compact-strong-letter-spacing: normal;
$typography-tabular-compact-strong-font-weight: 500;
$typography-tabular-compact-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-tabular-compact-strong-text-transform: null;
$typography-tabular-compact-strong-font-feature-settings: "calt", "ss01", "ss04", "tnum";
$typography-italic-big-font-style: italic;
$typography-italic-big-font-size: 16px;
$typography-italic-big-line-height: 24px;
$typography-italic-big-letter-spacing: -0.011em;
$typography-italic-big-font-weight: normal;
$typography-italic-big-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-italic-big-text-transform: null;
$typography-italic-big-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-italic-big-strong-font-style: italic;
$typography-italic-big-strong-font-size: 16px;
$typography-italic-big-strong-line-height: 24px;
$typography-italic-big-strong-letter-spacing: -0.011em;
$typography-italic-big-strong-font-weight: 500;
$typography-italic-big-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-italic-big-strong-text-transform: null;
$typography-italic-big-strong-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-italic-normal-font-style: italic;
$typography-italic-normal-font-size: 14px;
$typography-italic-normal-line-height: 20px;
$typography-italic-normal-letter-spacing: -0.006em;
$typography-italic-normal-font-weight: normal;
$typography-italic-normal-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-italic-normal-text-transform: null;
$typography-italic-normal-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-italic-normal-strong-font-style: italic;
$typography-italic-normal-strong-font-size: 14px;
$typography-italic-normal-strong-line-height: 20px;
$typography-italic-normal-strong-letter-spacing: -0.006em;
$typography-italic-normal-strong-font-weight: 500;
$typography-italic-normal-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-italic-normal-strong-text-transform: null;
$typography-italic-normal-strong-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-italic-compact-font-style: italic;
$typography-italic-compact-font-size: 12px;
$typography-italic-compact-line-height: 16px;
$typography-italic-compact-letter-spacing: normal;
$typography-italic-compact-font-weight: normal;
$typography-italic-compact-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-italic-compact-text-transform: null;
$typography-italic-compact-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-italic-compact-strong-font-style: italic;
$typography-italic-compact-strong-font-size: 12px;
$typography-italic-compact-strong-line-height: 16px;
$typography-italic-compact-strong-letter-spacing: normal;
$typography-italic-compact-strong-font-weight: 500;
$typography-italic-compact-strong-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-italic-compact-strong-text-transform: null;
$typography-italic-compact-strong-font-feature-settings: "calt", "kern", "liga", "ss01", "ss04";
$typography-navbar-title-font-size: 18px;
$typography-navbar-title-line-height: 28px;
$typography-navbar-title-letter-spacing: normal;
$typography-navbar-title-font-weight: 700;
$typography-navbar-title-font-family: 'TT-Positive', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$typography-navbar-title-text-transform: null;
$typography-navbar-title-font-feature-settings: "calt", "kern", "liga";

$koobiq: (
  'typography': (
    'display-1': (
      'font-size': $typography-display-1-font-size,
      'line-height': $typography-display-1-line-height,
      'letter-spacing': $typography-display-1-letter-spacing,
      'font-weight': $typography-display-1-font-weight,
      'font-family': $typography-display-1-font-family,
      'text-transform': $typography-display-1-text-transform,
      'font-feature-settings': $typography-display-1-font-feature-settings
    ),
    'display-2': (
      'font-size': $typography-display-2-font-size,
      'line-height': $typography-display-2-line-height,
      'letter-spacing': $typography-display-2-letter-spacing,
      'font-weight': $typography-display-2-font-weight,
      'font-family': $typography-display-2-font-family,
      'text-transform': $typography-display-2-text-transform,
      'font-feature-settings': $typography-display-2-font-feature-settings
    ),
    'display-3': (
      'font-size': $typography-display-3-font-size,
      'line-height': $typography-display-3-line-height,
      'letter-spacing': $typography-display-3-letter-spacing,
      'font-weight': $typography-display-3-font-weight,
      'font-family': $typography-display-3-font-family,
      'text-transform': $typography-display-3-text-transform,
      'font-feature-settings': $typography-display-3-font-feature-settings
    ),
    'display-1-strong': (
      'font-size': $typography-display-1-strong-font-size,
      'line-height': $typography-display-1-strong-line-height,
      'letter-spacing': $typography-display-1-strong-letter-spacing,
      'font-weight': $typography-display-1-strong-font-weight,
      'font-family': $typography-display-1-strong-font-family,
      'text-transform': $typography-display-1-strong-text-transform,
      'font-feature-settings': $typography-display-1-strong-font-feature-settings
    ),
    'display-2-strong': (
      'font-size': $typography-display-2-strong-font-size,
      'line-height': $typography-display-2-strong-line-height,
      'letter-spacing': $typography-display-2-strong-letter-spacing,
      'font-weight': $typography-display-2-strong-font-weight,
      'font-family': $typography-display-2-strong-font-family,
      'text-transform': $typography-display-2-strong-text-transform,
      'font-feature-settings': $typography-display-2-strong-font-feature-settings
    ),
    'display-3-strong': (
      'font-size': $typography-display-3-strong-font-size,
      'line-height': $typography-display-3-strong-line-height,
      'letter-spacing': $typography-display-3-strong-letter-spacing,
      'font-weight': $typography-display-3-strong-font-weight,
      'font-family': $typography-display-3-strong-font-family,
      'text-transform': $typography-display-3-strong-text-transform,
      'font-feature-settings': $typography-display-3-strong-font-feature-settings
    ),
    'headline': (
      'font-size': $typography-headline-font-size,
      'line-height': $typography-headline-line-height,
      'letter-spacing': $typography-headline-letter-spacing,
      'font-weight': $typography-headline-font-weight,
      'font-family': $typography-headline-font-family,
      'text-transform': $typography-headline-text-transform,
      'font-feature-settings': $typography-headline-font-feature-settings
    ),
    'title': (
      'font-size': $typography-title-font-size,
      'line-height': $typography-title-line-height,
      'letter-spacing': $typography-title-letter-spacing,
      'font-weight': $typography-title-font-weight,
      'font-family': $typography-title-font-family,
      'text-transform': $typography-title-text-transform,
      'font-feature-settings': $typography-title-font-feature-settings
    ),
    'subheading': (
      'font-size': $typography-subheading-font-size,
      'line-height': $typography-subheading-line-height,
      'letter-spacing': $typography-subheading-letter-spacing,
      'font-weight': $typography-subheading-font-weight,
      'font-family': $typography-subheading-font-family,
      'text-transform': $typography-subheading-text-transform,
      'font-feature-settings': $typography-subheading-font-feature-settings
    ),
    'body': (
      'font-size': $typography-body-font-size,
      'line-height': $typography-body-line-height,
      'letter-spacing': $typography-body-letter-spacing,
      'font-weight': $typography-body-font-weight,
      'font-family': $typography-body-font-family,
      'text-transform': $typography-body-text-transform,
      'font-feature-settings': $typography-body-font-feature-settings
    ),
    'body-tabular': (
      'font-size': $typography-body-tabular-font-size,
      'line-height': $typography-body-tabular-line-height,
      'letter-spacing': $typography-body-tabular-letter-spacing,
      'font-weight': $typography-body-tabular-font-weight,
      'font-family': $typography-body-tabular-font-family,
      'text-transform': $typography-body-tabular-text-transform,
      'font-feature-settings': $typography-body-tabular-font-feature-settings
    ),
    'body-strong': (
      'font-size': $typography-body-strong-font-size,
      'line-height': $typography-body-strong-line-height,
      'letter-spacing': $typography-body-strong-letter-spacing,
      'font-weight': $typography-body-strong-font-weight,
      'font-family': $typography-body-strong-font-family,
      'text-transform': $typography-body-strong-text-transform,
      'font-feature-settings': $typography-body-strong-font-feature-settings
    ),
    'body-caps': (
      'font-size': $typography-body-caps-font-size,
      'line-height': $typography-body-caps-line-height,
      'letter-spacing': $typography-body-caps-letter-spacing,
      'font-weight': $typography-body-caps-font-weight,
      'font-family': $typography-body-caps-font-family,
      'text-transform': $typography-body-caps-text-transform,
      'font-feature-settings': $typography-body-caps-font-feature-settings
    ),
    'body-mono': (
      'font-size': $typography-body-mono-font-size,
      'line-height': $typography-body-mono-line-height,
      'letter-spacing': $typography-body-mono-letter-spacing,
      'font-weight': $typography-body-mono-font-weight,
      'font-family': $typography-body-mono-font-family,
      'text-transform': $typography-body-mono-text-transform,
      'font-feature-settings': $typography-body-mono-font-feature-settings
    ),
    'body-mono-strong': (
      'font-size': $typography-body-mono-strong-font-size,
      'line-height': $typography-body-mono-strong-line-height,
      'letter-spacing': $typography-body-mono-strong-letter-spacing,
      'font-weight': $typography-body-mono-strong-font-weight,
      'font-family': $typography-body-mono-strong-font-family,
      'text-transform': $typography-body-mono-strong-text-transform,
      'font-feature-settings': $typography-body-mono-strong-font-feature-settings
    ),
    'caption': (
      'font-size': $typography-caption-font-size,
      'line-height': $typography-caption-line-height,
      'letter-spacing': $typography-caption-letter-spacing,
      'font-weight': $typography-caption-font-weight,
      'font-family': $typography-caption-font-family,
      'text-transform': $typography-caption-text-transform,
      'font-feature-settings': $typography-caption-font-feature-settings
    ),
    'caption-tabular': (
      'font-size': $typography-caption-tabular-font-size,
      'line-height': $typography-caption-tabular-line-height,
      'letter-spacing': $typography-caption-tabular-letter-spacing,
      'font-weight': $typography-caption-tabular-font-weight,
      'font-family': $typography-caption-tabular-font-family,
      'text-transform': $typography-caption-tabular-text-transform,
      'font-feature-settings': $typography-caption-tabular-font-feature-settings
    ),
    'caption-strong': (
      'font-size': $typography-caption-strong-font-size,
      'line-height': $typography-caption-strong-line-height,
      'letter-spacing': $typography-caption-strong-letter-spacing,
      'font-weight': $typography-caption-strong-font-weight,
      'font-family': $typography-caption-strong-font-family,
      'text-transform': $typography-caption-strong-text-transform,
      'font-feature-settings': $typography-caption-strong-font-feature-settings
    ),
    'caption-caps': (
      'font-size': $typography-caption-caps-font-size,
      'line-height': $typography-caption-caps-line-height,
      'letter-spacing': $typography-caption-caps-letter-spacing,
      'font-weight': $typography-caption-caps-font-weight,
      'font-family': $typography-caption-caps-font-family,
      'text-transform': $typography-caption-caps-text-transform,
      'font-feature-settings': $typography-caption-caps-font-feature-settings
    ),
    'caption-mono': (
      'font-size': $typography-caption-mono-font-size,
      'line-height': $typography-caption-mono-line-height,
      'letter-spacing': $typography-caption-mono-letter-spacing,
      'font-weight': $typography-caption-mono-font-weight,
      'font-family': $typography-caption-mono-font-family,
      'text-transform': $typography-caption-mono-text-transform,
      'font-feature-settings': $typography-caption-mono-font-feature-settings
    ),
    'caption-mono-strong': (
      'font-size': $typography-caption-mono-strong-font-size,
      'line-height': $typography-caption-mono-strong-line-height,
      'letter-spacing': $typography-caption-mono-strong-letter-spacing,
      'font-weight': $typography-caption-mono-strong-font-weight,
      'font-family': $typography-caption-mono-strong-font-family,
      'text-transform': $typography-caption-mono-strong-text-transform,
      'font-feature-settings': $typography-caption-mono-strong-font-feature-settings
    ),
    'extra-small-text': (
      'font-size': $typography-extra-small-text-font-size,
      'line-height': $typography-extra-small-text-line-height,
      'letter-spacing': $typography-extra-small-text-letter-spacing,
      'font-weight': $typography-extra-small-text-font-weight,
      'font-family': $typography-extra-small-text-font-family,
      'text-transform': $typography-extra-small-text-text-transform,
      'font-feature-settings': $typography-extra-small-text-font-feature-settings
    ),
    'extra-small-text-strong': (
      'font-size': $typography-extra-small-text-strong-font-size,
      'line-height': $typography-extra-small-text-strong-line-height,
      'letter-spacing': $typography-extra-small-text-strong-letter-spacing,
      'font-weight': $typography-extra-small-text-strong-font-weight,
      'font-family': $typography-extra-small-text-strong-font-family,
      'text-transform': $typography-extra-small-text-strong-text-transform,
      'font-feature-settings': $typography-extra-small-text-strong-font-feature-settings
    ),
    'extra-small-text-caps': (
      'font-size': $typography-extra-small-text-caps-font-size,
      'line-height': $typography-extra-small-text-caps-line-height,
      'letter-spacing': $typography-extra-small-text-caps-letter-spacing,
      'font-weight': $typography-extra-small-text-caps-font-weight,
      'font-family': $typography-extra-small-text-caps-font-family,
      'text-transform': $typography-extra-small-text-caps-text-transform,
      'font-feature-settings': $typography-extra-small-text-caps-font-feature-settings
    ),
    'extra-small-text-mono': (
      'font-size': $typography-extra-small-text-mono-font-size,
      'line-height': $typography-extra-small-text-mono-line-height,
      'letter-spacing': $typography-extra-small-text-mono-letter-spacing,
      'font-weight': $typography-extra-small-text-mono-font-weight,
      'font-family': $typography-extra-small-text-mono-font-family,
      'text-transform': $typography-extra-small-text-mono-text-transform,
      'font-feature-settings': $typography-extra-small-text-mono-font-feature-settings
    ),
    'display-big': (
      'font-size': $typography-display-big-font-size,
      'line-height': $typography-display-big-line-height,
      'letter-spacing': $typography-display-big-letter-spacing,
      'font-weight': $typography-display-big-font-weight,
      'font-family': $typography-display-big-font-family,
      'text-transform': $typography-display-big-text-transform,
      'font-feature-settings': $typography-display-big-font-feature-settings
    ),
    'display-normal': (
      'font-size': $typography-display-normal-font-size,
      'line-height': $typography-display-normal-line-height,
      'letter-spacing': $typography-display-normal-letter-spacing,
      'font-weight': $typography-display-normal-font-weight,
      'font-family': $typography-display-normal-font-family,
      'text-transform': $typography-display-normal-text-transform,
      'font-feature-settings': $typography-display-normal-font-feature-settings
    ),
    'display-compact': (
      'font-size': $typography-display-compact-font-size,
      'line-height': $typography-display-compact-line-height,
      'letter-spacing': $typography-display-compact-letter-spacing,
      'font-weight': $typography-display-compact-font-weight,
      'font-family': $typography-display-compact-font-family,
      'text-transform': $typography-display-compact-text-transform,
      'font-feature-settings': $typography-display-compact-font-feature-settings
    ),
    'display-big-strong': (
      'font-size': $typography-display-big-strong-font-size,
      'line-height': $typography-display-big-strong-line-height,
      'letter-spacing': $typography-display-big-strong-letter-spacing,
      'font-weight': $typography-display-big-strong-font-weight,
      'font-family': $typography-display-big-strong-font-family,
      'text-transform': $typography-display-big-strong-text-transform,
      'font-feature-settings': $typography-display-big-strong-font-feature-settings
    ),
    'display-normal-strong': (
      'font-size': $typography-display-normal-strong-font-size,
      'line-height': $typography-display-normal-strong-line-height,
      'letter-spacing': $typography-display-normal-strong-letter-spacing,
      'font-weight': $typography-display-normal-strong-font-weight,
      'font-family': $typography-display-normal-strong-font-family,
      'text-transform': $typography-display-normal-strong-text-transform,
      'font-feature-settings': $typography-display-normal-strong-font-feature-settings
    ),
    'display-compact-strong': (
      'font-size': $typography-display-compact-strong-font-size,
      'line-height': $typography-display-compact-strong-line-height,
      'letter-spacing': $typography-display-compact-strong-letter-spacing,
      'font-weight': $typography-display-compact-strong-font-weight,
      'font-family': $typography-display-compact-strong-font-family,
      'text-transform': $typography-display-compact-strong-text-transform,
      'font-feature-settings': $typography-display-compact-strong-font-feature-settings
    ),
    'text-big': (
      'font-size': $typography-text-big-font-size,
      'line-height': $typography-text-big-line-height,
      'letter-spacing': $typography-text-big-letter-spacing,
      'font-weight': $typography-text-big-font-weight,
      'font-family': $typography-text-big-font-family,
      'text-transform': $typography-text-big-text-transform,
      'font-feature-settings': $typography-text-big-font-feature-settings
    ),
    'text-big-strong': (
      'font-size': $typography-text-big-strong-font-size,
      'line-height': $typography-text-big-strong-line-height,
      'letter-spacing': $typography-text-big-strong-letter-spacing,
      'font-weight': $typography-text-big-strong-font-weight,
      'font-family': $typography-text-big-strong-font-family,
      'text-transform': $typography-text-big-strong-text-transform,
      'font-feature-settings': $typography-text-big-strong-font-feature-settings
    ),
    'text-normal': (
      'font-size': $typography-text-normal-font-size,
      'line-height': $typography-text-normal-line-height,
      'letter-spacing': $typography-text-normal-letter-spacing,
      'font-weight': $typography-text-normal-font-weight,
      'font-family': $typography-text-normal-font-family,
      'text-transform': $typography-text-normal-text-transform,
      'font-feature-settings': $typography-text-normal-font-feature-settings
    ),
    'text-normal-strong': (
      'font-size': $typography-text-normal-strong-font-size,
      'line-height': $typography-text-normal-strong-line-height,
      'letter-spacing': $typography-text-normal-strong-letter-spacing,
      'font-weight': $typography-text-normal-strong-font-weight,
      'font-family': $typography-text-normal-strong-font-family,
      'text-transform': $typography-text-normal-strong-text-transform,
      'font-feature-settings': $typography-text-normal-strong-font-feature-settings
    ),
    'text-compact': (
      'font-size': $typography-text-compact-font-size,
      'line-height': $typography-text-compact-line-height,
      'letter-spacing': $typography-text-compact-letter-spacing,
      'font-weight': $typography-text-compact-font-weight,
      'font-family': $typography-text-compact-font-family,
      'text-transform': $typography-text-compact-text-transform,
      'font-feature-settings': $typography-text-compact-font-feature-settings
    ),
    'text-compact-strong': (
      'font-size': $typography-text-compact-strong-font-size,
      'line-height': $typography-text-compact-strong-line-height,
      'letter-spacing': $typography-text-compact-strong-letter-spacing,
      'font-weight': $typography-text-compact-strong-font-weight,
      'font-family': $typography-text-compact-strong-font-family,
      'text-transform': $typography-text-compact-strong-text-transform,
      'font-feature-settings': $typography-text-compact-strong-font-feature-settings
    ),
    'caps-big': (
      'font-size': $typography-caps-big-font-size,
      'line-height': $typography-caps-big-line-height,
      'letter-spacing': $typography-caps-big-letter-spacing,
      'font-weight': $typography-caps-big-font-weight,
      'font-family': $typography-caps-big-font-family,
      'text-transform': $typography-caps-big-text-transform,
      'font-feature-settings': $typography-caps-big-font-feature-settings
    ),
    'caps-big-strong': (
      'font-size': $typography-caps-big-strong-font-size,
      'line-height': $typography-caps-big-strong-line-height,
      'letter-spacing': $typography-caps-big-strong-letter-spacing,
      'font-weight': $typography-caps-big-strong-font-weight,
      'font-family': $typography-caps-big-strong-font-family,
      'text-transform': $typography-caps-big-strong-text-transform,
      'font-feature-settings': $typography-caps-big-strong-font-feature-settings
    ),
    'caps-normal': (
      'font-size': $typography-caps-normal-font-size,
      'line-height': $typography-caps-normal-line-height,
      'letter-spacing': $typography-caps-normal-letter-spacing,
      'font-weight': $typography-caps-normal-font-weight,
      'font-family': $typography-caps-normal-font-family,
      'text-transform': $typography-caps-normal-text-transform,
      'font-feature-settings': $typography-caps-normal-font-feature-settings
    ),
    'caps-normal-strong': (
      'font-size': $typography-caps-normal-strong-font-size,
      'line-height': $typography-caps-normal-strong-line-height,
      'letter-spacing': $typography-caps-normal-strong-letter-spacing,
      'font-weight': $typography-caps-normal-strong-font-weight,
      'font-family': $typography-caps-normal-strong-font-family,
      'text-transform': $typography-caps-normal-strong-text-transform,
      'font-feature-settings': $typography-caps-normal-strong-font-feature-settings
    ),
    'caps-compact': (
      'font-size': $typography-caps-compact-font-size,
      'line-height': $typography-caps-compact-line-height,
      'letter-spacing': $typography-caps-compact-letter-spacing,
      'font-weight': $typography-caps-compact-font-weight,
      'font-family': $typography-caps-compact-font-family,
      'text-transform': $typography-caps-compact-text-transform,
      'font-feature-settings': $typography-caps-compact-font-feature-settings
    ),
    'caps-compact-strong': (
      'font-size': $typography-caps-compact-strong-font-size,
      'line-height': $typography-caps-compact-strong-line-height,
      'letter-spacing': $typography-caps-compact-strong-letter-spacing,
      'font-weight': $typography-caps-compact-strong-font-weight,
      'font-family': $typography-caps-compact-strong-font-family,
      'text-transform': $typography-caps-compact-strong-text-transform,
      'font-feature-settings': $typography-caps-compact-strong-font-feature-settings
    ),
    'mono-big': (
      'font-size': $typography-mono-big-font-size,
      'line-height': $typography-mono-big-line-height,
      'letter-spacing': $typography-mono-big-letter-spacing,
      'font-weight': $typography-mono-big-font-weight,
      'font-family': $typography-mono-big-font-family,
      'text-transform': $typography-mono-big-text-transform,
      'font-feature-settings': $typography-mono-big-font-feature-settings
    ),
    'mono-big-strong': (
      'font-size': $typography-mono-big-strong-font-size,
      'line-height': $typography-mono-big-strong-line-height,
      'letter-spacing': $typography-mono-big-strong-letter-spacing,
      'font-weight': $typography-mono-big-strong-font-weight,
      'font-family': $typography-mono-big-strong-font-family,
      'text-transform': $typography-mono-big-strong-text-transform,
      'font-feature-settings': $typography-mono-big-strong-font-feature-settings
    ),
    'mono-normal': (
      'font-size': $typography-mono-normal-font-size,
      'line-height': $typography-mono-normal-line-height,
      'letter-spacing': $typography-mono-normal-letter-spacing,
      'font-weight': $typography-mono-normal-font-weight,
      'font-family': $typography-mono-normal-font-family,
      'text-transform': $typography-mono-normal-text-transform,
      'font-feature-settings': $typography-mono-normal-font-feature-settings
    ),
    'mono-normal-strong': (
      'font-size': $typography-mono-normal-strong-font-size,
      'line-height': $typography-mono-normal-strong-line-height,
      'letter-spacing': $typography-mono-normal-strong-letter-spacing,
      'font-weight': $typography-mono-normal-strong-font-weight,
      'font-family': $typography-mono-normal-strong-font-family,
      'text-transform': $typography-mono-normal-strong-text-transform,
      'font-feature-settings': $typography-mono-normal-strong-font-feature-settings
    ),
    'mono-compact': (
      'font-size': $typography-mono-compact-font-size,
      'line-height': $typography-mono-compact-line-height,
      'letter-spacing': $typography-mono-compact-letter-spacing,
      'font-weight': $typography-mono-compact-font-weight,
      'font-family': $typography-mono-compact-font-family,
      'text-transform': $typography-mono-compact-text-transform,
      'font-feature-settings': $typography-mono-compact-font-feature-settings
    ),
    'mono-compact-strong': (
      'font-size': $typography-mono-compact-strong-font-size,
      'line-height': $typography-mono-compact-strong-line-height,
      'letter-spacing': $typography-mono-compact-strong-letter-spacing,
      'font-weight': $typography-mono-compact-strong-font-weight,
      'font-family': $typography-mono-compact-strong-font-family,
      'text-transform': $typography-mono-compact-strong-text-transform,
      'font-feature-settings': $typography-mono-compact-strong-font-feature-settings
    ),
    'mono-codeblock': (
      'font-size': $typography-mono-codeblock-font-size,
      'line-height': $typography-mono-codeblock-line-height,
      'letter-spacing': $typography-mono-codeblock-letter-spacing,
      'font-weight': $typography-mono-codeblock-font-weight,
      'font-family': $typography-mono-codeblock-font-family,
      'text-transform': $typography-mono-codeblock-text-transform,
      'font-feature-settings': $typography-mono-codeblock-font-feature-settings
    ),
    'tabular-big': (
      'font-size': $typography-tabular-big-font-size,
      'line-height': $typography-tabular-big-line-height,
      'letter-spacing': $typography-tabular-big-letter-spacing,
      'font-weight': $typography-tabular-big-font-weight,
      'font-family': $typography-tabular-big-font-family,
      'text-transform': $typography-tabular-big-text-transform,
      'font-feature-settings': $typography-tabular-big-font-feature-settings
    ),
    'tabular-big-strong': (
      'font-size': $typography-tabular-big-strong-font-size,
      'line-height': $typography-tabular-big-strong-line-height,
      'letter-spacing': $typography-tabular-big-strong-letter-spacing,
      'font-weight': $typography-tabular-big-strong-font-weight,
      'font-family': $typography-tabular-big-strong-font-family,
      'text-transform': $typography-tabular-big-strong-text-transform,
      'font-feature-settings': $typography-tabular-big-strong-font-feature-settings
    ),
    'tabular-normal': (
      'font-size': $typography-tabular-normal-font-size,
      'line-height': $typography-tabular-normal-line-height,
      'letter-spacing': $typography-tabular-normal-letter-spacing,
      'font-weight': $typography-tabular-normal-font-weight,
      'font-family': $typography-tabular-normal-font-family,
      'text-transform': $typography-tabular-normal-text-transform,
      'font-feature-settings': $typography-tabular-normal-font-feature-settings
    ),
    'tabular-normal-strong': (
      'font-size': $typography-tabular-normal-strong-font-size,
      'line-height': $typography-tabular-normal-strong-line-height,
      'letter-spacing': $typography-tabular-normal-strong-letter-spacing,
      'font-weight': $typography-tabular-normal-strong-font-weight,
      'font-family': $typography-tabular-normal-strong-font-family,
      'text-transform': $typography-tabular-normal-strong-text-transform,
      'font-feature-settings': $typography-tabular-normal-strong-font-feature-settings
    ),
    'tabular-compact': (
      'font-size': $typography-tabular-compact-font-size,
      'line-height': $typography-tabular-compact-line-height,
      'letter-spacing': $typography-tabular-compact-letter-spacing,
      'font-weight': $typography-tabular-compact-font-weight,
      'font-family': $typography-tabular-compact-font-family,
      'text-transform': $typography-tabular-compact-text-transform,
      'font-feature-settings': $typography-tabular-compact-font-feature-settings
    ),
    'tabular-compact-strong': (
      'font-size': $typography-tabular-compact-strong-font-size,
      'line-height': $typography-tabular-compact-strong-line-height,
      'letter-spacing': $typography-tabular-compact-strong-letter-spacing,
      'font-weight': $typography-tabular-compact-strong-font-weight,
      'font-family': $typography-tabular-compact-strong-font-family,
      'text-transform': $typography-tabular-compact-strong-text-transform,
      'font-feature-settings': $typography-tabular-compact-strong-font-feature-settings
    ),
    'italic-big': (
      'font-style': $typography-italic-big-font-style,
      'font-size': $typography-italic-big-font-size,
      'line-height': $typography-italic-big-line-height,
      'letter-spacing': $typography-italic-big-letter-spacing,
      'font-weight': $typography-italic-big-font-weight,
      'font-family': $typography-italic-big-font-family,
      'text-transform': $typography-italic-big-text-transform,
      'font-feature-settings': $typography-italic-big-font-feature-settings
    ),
    'italic-big-strong': (
      'font-style': $typography-italic-big-strong-font-style,
      'font-size': $typography-italic-big-strong-font-size,
      'line-height': $typography-italic-big-strong-line-height,
      'letter-spacing': $typography-italic-big-strong-letter-spacing,
      'font-weight': $typography-italic-big-strong-font-weight,
      'font-family': $typography-italic-big-strong-font-family,
      'text-transform': $typography-italic-big-strong-text-transform,
      'font-feature-settings': $typography-italic-big-strong-font-feature-settings
    ),
    'italic-normal': (
      'font-style': $typography-italic-normal-font-style,
      'font-size': $typography-italic-normal-font-size,
      'line-height': $typography-italic-normal-line-height,
      'letter-spacing': $typography-italic-normal-letter-spacing,
      'font-weight': $typography-italic-normal-font-weight,
      'font-family': $typography-italic-normal-font-family,
      'text-transform': $typography-italic-normal-text-transform,
      'font-feature-settings': $typography-italic-normal-font-feature-settings
    ),
    'italic-normal-strong': (
      'font-style': $typography-italic-normal-strong-font-style,
      'font-size': $typography-italic-normal-strong-font-size,
      'line-height': $typography-italic-normal-strong-line-height,
      'letter-spacing': $typography-italic-normal-strong-letter-spacing,
      'font-weight': $typography-italic-normal-strong-font-weight,
      'font-family': $typography-italic-normal-strong-font-family,
      'text-transform': $typography-italic-normal-strong-text-transform,
      'font-feature-settings': $typography-italic-normal-strong-font-feature-settings
    ),
    'italic-compact': (
      'font-style': $typography-italic-compact-font-style,
      'font-size': $typography-italic-compact-font-size,
      'line-height': $typography-italic-compact-line-height,
      'letter-spacing': $typography-italic-compact-letter-spacing,
      'font-weight': $typography-italic-compact-font-weight,
      'font-family': $typography-italic-compact-font-family,
      'text-transform': $typography-italic-compact-text-transform,
      'font-feature-settings': $typography-italic-compact-font-feature-settings
    ),
    'italic-compact-strong': (
      'font-style': $typography-italic-compact-strong-font-style,
      'font-size': $typography-italic-compact-strong-font-size,
      'line-height': $typography-italic-compact-strong-line-height,
      'letter-spacing': $typography-italic-compact-strong-letter-spacing,
      'font-weight': $typography-italic-compact-strong-font-weight,
      'font-family': $typography-italic-compact-strong-font-family,
      'text-transform': $typography-italic-compact-strong-text-transform,
      'font-feature-settings': $typography-italic-compact-strong-font-feature-settings
    ),
    'navbar-title': (
      'font-size': $typography-navbar-title-font-size,
      'line-height': $typography-navbar-title-line-height,
      'letter-spacing': $typography-navbar-title-letter-spacing,
      'font-weight': $typography-navbar-title-font-weight,
      'font-family': $typography-navbar-title-font-family,
      'text-transform': $typography-navbar-title-text-transform,
      'font-feature-settings': $typography-navbar-title-font-feature-settings
    )
  )
);
