@use '../core/styles/theming/theming' as *;
@use '../core/styles/common/tokens' as *;

@mixin kbq-dropdown-item-state($style-name) {
    background: var(--kbq-list-#{$style-name}-container-background);
    color: var(--kbq-list-#{$style-name}-text-color);

    .kbq-dropdown-item__caption {
        color: var(--kbq-list-#{$style-name}-caption-color);
    }
}

@mixin kbq-dropdown-theme() {
    .kbq-dropdown__panel {
        box-shadow: var(--kbq-dropdown-container-shadow);
        background: var(--kbq-dropdown-container-background);
    }

    .kbq-dropdown-item {
        @include kbq-dropdown-item-state(default);

        &.kbq-dropdown-item_highlighted,
        &:hover:not(.kbq-disabled) {
            @include kbq-dropdown-item-state(states-hover);
        }

        &.cdk-keyboard-focused {
            border-color: var(--kbq-list-states-focused-focus-outline-color);
        }

        &.kbq-selected {
            @include kbq-dropdown-item-state(states-selected);

            &:hover:not(.kbq-disabled) {
                @include kbq-dropdown-item-state(states-selected-hover);
            }
        }

        &.kbq-disabled {
            @include kbq-dropdown-item-state(states-disabled);
        }
    }

    .kbq-dropdown__group-header {
        &.kbq-dropdown__group-header_small {
            color: var(--kbq-foreground-contrast-secondary);
        }
    }

    .kbq-dropdown-item-overlay {
        background: transparent;
    }
}

@mixin kbq-dropdown-typography() {
    .kbq-dropdown-item,
    .kbq-dropdown__content {
        @include kbq-typography-level-to-styles_css-variables(typography, text-normal);

        .kbq-dropdown-item__caption {
            @include kbq-typography-level-to-styles_css-variables(typography, text-compact);
        }
    }

    .kbq-dropdown__group-header {
        @include kbq-typography-level-to-styles_css-variables(typography, big-strong);

        &.kbq-dropdown__group-header_small {
            @include kbq-typography-level-to-styles_css-variables(typography, caps-compact-strong);
        }
    }
}
