@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common';

@use '../core/styles/common/tokens' as *;


.kbq-dropdown-item {
    width: 100%;

    @include common.user-select(none);
    @include common.kbq-list-item-base();

    &:not(.kbq-disabled) {
        cursor: pointer;
    }

    text-align: left;
    align-items: flex-start;

    & > .kbq-icon:first-child:before {
        align-self: center;
        display: flex;
        height: 20px; // Потому что высота строки справа = 20px
        width: 16px;
        align-items: center;
    }

    & .kbq-dropdown-item__caption {
        padding-top: kbq-css-variable(size-3xs);
    }
}

.kbq-dropdown-item__text {
    @include common.kbq-list-text();
}

.kbq-dropdown-item-overlay {
    position: absolute;

    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;

    border-radius: inherit;
}

.kbq-dropdown__group-header {
    @include common.user-select(none);
    @include common.kbq-list-header-base();

    &.kbq-dropdown__group-header_small {
        @include common.kbq-list-subheading-base();
    }
}
