@use '../core/styles/common';

.kbq-dropdown-item {
    width: 100%;
    border-radius: var(--kbq-dropdown-item-border-radius);

    @include common.user-select(none);
    @include common.kbq-list-item-base();

    padding: 0 4px;
    border-width: 0;

    &:not(.kbq-disabled) {
        cursor: pointer;
    }

    text-align: left;
    align-items: flex-start;
    text-decoration: none;

    & > .kbq-icon:first-child:before {
        align-self: center;
        display: flex;
        height: var(--kbq-size-xl);
        width: 16px;
        align-items: center;
    }

    & .kbq-dropdown-item__caption {
        padding-top: var(--kbq-size-3xs);
    }

    .kbq-dropdown-item__wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        border-radius: inherit;

        width: 100%;
        box-sizing: border-box;
        align-items: baseline;
        outline: none;
        -webkit-tap-highlight-color: transparent;

        border: var(--kbq-size-3xs) solid transparent;
        gap: var(--kbq-size-s);

        padding: 4px 10px;
    }
}

.kbq-dropdown-item__text {
    @include common.kbq-list-text();
}

.kbq-dropdown-item-overlay {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: inherit;
}

.kbq-dropdown__group-header {
    @include common.user-select(none);
    @include common.kbq-list-header-base();

    // @deprecated, use <kbq-optgroup label="Label" /> instead. Will be removed in the next major release
    &.kbq-dropdown__group-header_small {
        @include common.kbq-list-subheading-base();
    }
}
