.kbq-app-switcher__search-result {
    max-width: 320px;

    display: flex;
    flex-direction: column;
    min-height: 0;

    padding: var(--kbq-size-xxs) var(--kbq-size-xxs) var(--kbq-size-s) var(--kbq-size-xxs);
}
