@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-toast($toast) {
    box-shadow: map.get($toast, box-shadow);

    background: map.get($toast, background);

    .kbq-toast__title {
        color: map.get($toast, title);
    }

    .kbq-toast__text {
        color: map.get($toast, text);
    }
}


@mixin kbq-toast-theme($theme) {
    $toast: map.get(map.get($theme, components), toast);

    .kbq-toast {
        &.kbq-toast_contrast {
            @include kbq-toast(map.get($toast, contrast));
        }

        &.kbq-toast_success {
            @include kbq-toast(map.get($toast, success));
        }

        &.kbq-toast_warning {
            @include kbq-toast(map.get($toast, success));
        }

        &.kbq-toast_error {
            @include kbq-toast(map.get($toast, error));
        }
    }
}

@mixin kbq-toast-typography($config) {
    .kbq-toast {
        @include kbq-typography-css-variables(toast, text);
    }

    .kbq-toast__title {
        @include kbq-typography-css-variables(toast, title);
    }
}
