@use '../core/styles/common/tokens' as *;

@mixin kbq-toast($style-name) {
    box-shadow: var(--kbq-toast-#{$style-name}-container-shadow);

    background: var(--kbq-toast-#{$style-name}-container-background);

    .kbq-toast__title {
        color: var(--kbq-toast-#{$style-name}-container-title);
    }

    .kbq-toast__text {
        color: var(--kbq-toast-#{$style-name}-container-text);
    }
}

@mixin kbq-toast-theme() {
    .kbq-toast {
        &.kbq-toast_contrast {
            @include kbq-toast(contrast);
        }

        &.kbq-toast_success {
            @include kbq-toast(success);
        }

        &.kbq-toast_warning {
            @include kbq-toast(warning);
        }

        &.kbq-toast_error {
            @include kbq-toast(error);
        }
    }
}

@mixin kbq-toast-typography() {
    .kbq-toast {
        @include kbq-typography-level-to-styles_css-variables(typography, text-normal);
    }

    .kbq-toast__title {
        @include kbq-typography-level-to-styles_css-variables(typography, text-normal);
    }
}
