@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/typography/typography-utils' as *;
@use '../core/styles/common/tokens' as *;


@mixin kbq-toast($component, $style-name) {
    $style: map.get($component, $style-name);

    box-shadow: kbq-css-variable(toast-#{$style-name}-container-box-shadow, map.get($style, box-shadow));

    background: kbq-css-variable(toast-#{$style-name}-container-background, map.get($style, background));

    .kbq-toast__title {
        color: kbq-css-variable(toast-#{$style-name}-container-title, map.get($style, title));
    }

    .kbq-toast__text {
        color: kbq-css-variable(toast-#{$style-name}-container-text, map.get($style, text));
    }
}


@mixin kbq-toast-theme($theme) {
    $toast: map.get($theme, components, toast);

    .kbq-toast {
        &.kbq-toast_contrast {
            @include kbq-toast($toast, contrast);
        }

        &.kbq-toast_success {
            @include kbq-toast($toast, success);
        }

        &.kbq-toast_warning {
            @include kbq-toast($toast, success);
        }

        &.kbq-toast_error {
            @include kbq-toast($toast, error);
        }
    }
}

@mixin kbq-toast-typography($config) {
    .kbq-toast {
        @include kbq-typography-css-variables(toast, text);
    }

    .kbq-toast__title {
        @include kbq-typography-css-variables(toast, title);
    }
}
