/* stylelint-disable no-unknown-custom-properties */

.kbq-toast {
    --kbq-toast-size-container-width: 360px;
    --kbq-toast-size-container-border-radius: var(--kbq-size-s);
    --kbq-toast-size-container-padding-left: var(--kbq-size-m);
    --kbq-toast-size-container-padding-right: var(--kbq-size-s);
    --kbq-toast-size-content-padding-top: var(--kbq-size-l);
    --kbq-toast-size-content-padding-bottom: var(--kbq-size-l);
    --kbq-toast-size-caption-padding-bottom: var(--kbq-size-xxs);
    --kbq-toast-size-icon-width: var(--kbq-size-l);
    --kbq-toast-size-icon-height: var(--kbq-size-l);
    --kbq-toast-size-icon-margin-right: var(--kbq-size-s);
    --kbq-toast-size-icon-border-radius: 50%;
    --kbq-toast-size-close-button-margin-top: var(--kbq-size-m);
    --kbq-toast-size-close-button-margin-right: var(--kbq-size-xxs);
    --kbq-toast-size-button-stack-padding-top: var(--kbq-size-s);
    --kbq-toast-size-button-stack-content-gap-horizontal: var(--kbq-size-m);
    --kbq-toast-font-title-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-toast-font-title-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-toast-font-title-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-toast-font-title-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-toast-font-title-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-toast-font-title-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-toast-font-title-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
    --kbq-toast-font-text-font-size: var(--kbq-typography-text-normal-font-size);
    --kbq-toast-font-text-line-height: var(--kbq-typography-text-normal-line-height);
    --kbq-toast-font-text-letter-spacing: var(--kbq-typography-text-normal-letter-spacing);
    --kbq-toast-font-text-font-weight: var(--kbq-typography-text-normal-font-weight);
    --kbq-toast-font-text-font-family: var(--kbq-typography-text-normal-font-family);
    --kbq-toast-font-text-text-transform: var(--kbq-typography-text-normal-text-transform);
    --kbq-toast-font-text-font-feature-settings: var(--kbq-typography-text-normal-font-feature-settings);
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-toast-contrast-container-background: var(--kbq-background-card);
    --kbq-toast-contrast-container-title: var(--kbq-foreground-contrast);
    --kbq-toast-contrast-container-text: var(--kbq-foreground-contrast-secondary);
    --kbq-toast-contrast-container-shadow: var(--kbq-shadow-popup);
    --kbq-toast-error-container-background: var(--kbq-background-card);
    --kbq-toast-error-container-title: var(--kbq-foreground-contrast);
    --kbq-toast-error-container-text: var(--kbq-foreground-contrast-secondary);
    --kbq-toast-error-container-shadow: var(--kbq-shadow-popup);
    --kbq-toast-warning-container-background: var(--kbq-background-card);
    --kbq-toast-warning-container-title: var(--kbq-foreground-contrast);
    --kbq-toast-warning-container-text: var(--kbq-foreground-contrast-secondary);
    --kbq-toast-warning-container-shadow: var(--kbq-shadow-popup);
    --kbq-toast-success-container-background: var(--kbq-background-card);
    --kbq-toast-success-container-title: var(--kbq-foreground-contrast);
    --kbq-toast-success-container-text: var(--kbq-foreground-contrast-secondary);
    --kbq-toast-success-container-shadow: var(--kbq-shadow-popup);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-toast-contrast-container-background: var(--kbq-background-card);
    --kbq-toast-contrast-container-title: var(--kbq-foreground-contrast);
    --kbq-toast-contrast-container-text: var(--kbq-foreground-contrast-secondary);
    --kbq-toast-contrast-container-shadow: var(--kbq-shadow-popup);
    --kbq-toast-error-container-background: var(--kbq-background-card);
    --kbq-toast-error-container-title: var(--kbq-foreground-contrast);
    --kbq-toast-error-container-text: var(--kbq-foreground-contrast-secondary);
    --kbq-toast-error-container-shadow: var(--kbq-shadow-popup);
    --kbq-toast-warning-container-background: var(--kbq-background-card);
    --kbq-toast-warning-container-title: var(--kbq-foreground-contrast);
    --kbq-toast-warning-container-text: var(--kbq-foreground-contrast-secondary);
    --kbq-toast-warning-container-shadow: var(--kbq-shadow-popup);
    --kbq-toast-success-container-background: var(--kbq-background-card);
    --kbq-toast-success-container-title: var(--kbq-foreground-contrast);
    --kbq-toast-success-container-text: var(--kbq-foreground-contrast-secondary);
    --kbq-toast-success-container-shadow: var(--kbq-shadow-popup);
}
