@use '../core/styles/common/tokens' as *;

.kbq-toast-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: var(--kbq-toast-stack-size-margin-top);
    margin-right: var(--kbq-toast-stack-size-margin-right);

    gap: var(--kbq-toast-stack-size-gap);
}
