@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;

@use './toast-theme' as *;

.kbq-toast {
    display: flex;
    box-sizing: border-box;

    width: kbq-css-variable(toast-size-container-width);

    height: auto;

    border-radius: kbq-css-variable(toast-size-container-border-radius);

    padding-left: kbq-css-variable(toast-size-container-padding-left);
    padding-right: kbq-css-variable(toast-size-container-padding-right);
}

.kbq-toast__icon-container {
    flex-shrink: 0;
    width: kbq-css-variable(toast-size-icon-width);
    max-width: kbq-css-variable(toast-size-icon-width);
    height: kbq-css-variable(toast-size-icon-height);
    max-height: kbq-css-variable(toast-size-icon-height);

    border-radius: kbq-css-variable(toast-size-container-border-radius);

    margin-right: kbq-css-variable(toast-size-icon-margin-right);

    $padding-top: kbq-css-variable(toast-size-content-padding-top);
    $toast-font-title-line-height: kbq-css-variable(toast-font-title-line-height);
    $toast-size-icon-height: kbq-css-variable(toast-size-icon-height);
    padding-top: calc($padding-top + (($toast-font-title-line-height - $toast-size-icon-height) / 2));
}

.kbq-toast__container {
    display: flex;
    flex-direction: column;

    flex: 1;

    padding-top: kbq-css-variable(toast-size-content-padding-top);
    padding-right: kbq-css-variable(size-s);
    padding-bottom: kbq-css-variable(toast-size-content-padding-bottom);

    overflow: hidden;
}

.kbq-toast__title {
    overflow: hidden;
    text-overflow: ellipsis;

    & > p {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.kbq-toast__title_with-content {
    padding-bottom: kbq-css-variable(toast-size-caption-padding-bottom);
}

.kbq-toast__text {
    display: flex;
    flex: 1;
    align-items: center;
}

.kbq-toast__content {
    display: flex;
    flex-direction: column;
}

.kbq-toast__actions {
    display: flex;

    padding-top: kbq-css-variable(toast-size-button-stack-padding-top);

    gap: kbq-css-variable(toast-size-button-stack-content-gap-horizontal);
}

.kbq-toast__close-button {
    margin-top: kbq-difference-series-css-variables(
        [toast-size-content-padding-top,
        calc(
                kbq-difference-series-css-variables(
                        [kbq-sum-series-css-variables(
                            [calc(kbq-css-variable(icon-button-size-small-vertical-padding) * 2),
                            16px]
                        ),
                        toast-font-title-line-height]
                    ) / 2
            )]
    );
    margin-right: kbq-css-variable(toast-size-close-button-margin-right);
}

@include kbq-toast-theme();
@include kbq-toast-typography();
