@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

.kbq-toast {
    display: flex;
    box-sizing: border-box;

    width: kbq-css-variable(toast-size-container-width);

    height: auto;

    border-radius: kbq-css-variable(toast-size-container-border-radius);

    padding-left: kbq-css-variable(toast-size-container-padding-left);
    padding-right: kbq-css-variable(toast-size-container-padding-right);
}

.kbq-toast__icon-container {
    width: kbq-css-variable(toast-size-icon-width);
    max-width: kbq-css-variable(toast-size-icon-width);
    height: kbq-css-variable(toast-size-icon-height);
    max-height: kbq-css-variable(toast-size-icon-height);

    border-radius: kbq-css-variable(toast-size-border-radius);

    margin-right: kbq-css-variable(toast-size-icon-margin-right);

    padding-top: 18px;
}

.kbq-toast__container {
    display: flex;
    flex-direction: column;

    flex: 1;

    padding-top: kbq-css-variable(toast-size-content-padding-top);
    padding-right: kbq-css-variable(size-s);
    padding-bottom: kbq-css-variable(toast-size-content-padding-bottom);
}

.kbq-toast__title {
    & > p {
        margin: 0;
    }
}

.kbq-toast__title_with-content {
    padding-bottom: kbq-css-variable(toast-size-caption-padding-bottom);
}

.kbq-toast__text {
    display: flex;
    flex: 1;
    align-items: center;
}

.kbq-toast__content {
    display: flex;
    flex-direction: column;
}

.kbq-toast__actions {
    display: flex;

    padding-top: kbq-css-variable(toast-size-button-stack-padding-top);

    gap: kbq-css-variable(toast-size-button-stack-content-gap-horizontal);
}

.kbq-toast__close-button {
    margin-top: kbq-css-variable(toast-size-close-button-margin-top);
    margin-right: kbq-css-variable(toast-size-close-button-margin-right);
}
