.alert-example-group {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 100%;
}

.kbq-column-container {
    margin-left: 15px;
    margin-right: 15px;
}
