@use 'sass:meta';
@use 'sass:map';

@use '../core/styles/common';

@use '../core/styles/tokens';
@use '../core/styles/common/tokens' as *;

$tokens: meta.module-variables(tokens) !default;

.kbq-button-toggle-group {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    gap: kbq-css-variable(button-toggle-size-container-content-gap-horizontal);

    border-radius: kbq-css-variable(button-toggle-size-container-border-radius);

    padding: kbq-css-variable(button-toggle-size-container-padding-vertical)
        kbq-css-variable(button-toggle-size-container-padding-horizontal);

    .kbq-button-toggle {
        display: flex;
        overflow: hidden;
        justify-content: flex-start;
        align-items: center;

        height: kbq-css-variable(button-toggle-size-item-height);

        border-radius: kbq-css-variable(button-toggle-size-item-border-radius);

        > .kbq-button,
        > .kbq-button-icon {
            border-radius: kbq-css-variable(button-toggle-size-item-border-radius);

            padding: kbq-difference-css-variables(
                    button-toggle-size-item-padding-vertical,
                    button-toggle-size-item-focus-outline-width
                )
                kbq-difference-css-variables(
                    --kbq-button-toggle-size-item-padding-horizontal,
                    button-toggle-size-item-focus-outline-width
                );

            & .kbq-button-wrapper {
                width: 100%;
            }

            .kbq-button-toggle-wrapper {
                display: inline-flex;

                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                align-items: center;

                width: 100%;

                gap: kbq-css-variable(button-toggle-size-item-content-gap-horizontal);
            }
        }
    }

    &:not(.kbq-button-toggle_vertical) {
        .kbq-button-toggle {
            > .kbq-button,
            > .kbq-button-icon {
                max-width: 100%;

                height: kbq-css-variable(button-toggle-size-item-height);
            }
        }
    }
}

.kbq-button-toggle_vertical {
    flex-direction: column;

    .kbq-button-toggle {
        width: 100%;

        > .kbq-button,
        > .kbq-button-icon {
            width: 100%;

            border-radius: kbq-css-variable(button-toggle-size-item-border-radius);
        }
    }
}
