.kbq-button-toggle-group {
    --kbq-button-toggle-size-container-border-radius: 8px;
    --kbq-button-toggle-size-container-padding-horizontal: 4px;
    --kbq-button-toggle-size-container-padding-vertical: 4px;
    --kbq-button-toggle-size-container-content-gap-horizontal: 4px;
    --kbq-button-toggle-size-item-height: 24px;
    --kbq-button-toggle-size-item-border-radius: 4px;
    --kbq-button-toggle-size-item-padding-horizontal: 8px;
    --kbq-button-toggle-size-item-padding-vertical: 2px;
    --kbq-button-toggle-size-item-content-gap-horizontal: 4px;
    --kbq-button-toggle-size-item-focus-outline-width: 2px;
    --kbq-button-toggle-font-item-font-size: 14px;
    --kbq-button-toggle-font-item-line-height: 20px;
    --kbq-button-toggle-font-item-letter-spacing: -0.006em;
    --kbq-button-toggle-font-item-font-weight: 500;
    --kbq-button-toggle-font-item-text-transform: null;
    --kbq-button-toggle-font-item-font-feature-settings: 'calt', 'kern', 'liga', 'ss01', 'ss04';
    --kbq-button-toggle-font-item-font-family: var(--kbq-typography-text-normal-medium-font-family);
}

:root {
    --kbq-typography-text-normal-medium-font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Helvetica Neue', Arial, sans-serif;
}

:where(.kbq-light, .theme-light, .kbq-theme-light) {
    --kbq-button-toggle-container-background: hsla(229, 15%, 92%, 100%);
    --kbq-button-toggle-item-default-background: hsla(229, 15%, 92%, 100%);
    --kbq-button-toggle-item-default-text: hsla(229, 15%, 15%, 100%);
    --kbq-button-toggle-item-default-icon: hsla(229, 15%, 60%, 100%);
    --kbq-button-toggle-item-states-hover-background: hsla(229, 15%, 88%, 100%);
    --kbq-button-toggle-item-states-hover-text: hsla(229, 15%, 15%, 100%);
    --kbq-button-toggle-item-states-hover-icon: hsla(229, 15%, 60%, 100%);
    --kbq-button-toggle-item-states-active-background: hsla(229, 15%, 85%, 100%);
    --kbq-button-toggle-item-states-active-text: hsla(229, 15%, 15%, 100%);
    --kbq-button-toggle-item-states-active-icon: hsla(229, 15%, 60%, 100%);
    --kbq-button-toggle-item-states-selected-background: hsla(229, 15%, 100%, 100%);
    --kbq-button-toggle-item-states-selected-text: hsla(229, 15%, 15%, 100%);
    --kbq-button-toggle-item-states-selected-icon: hsla(229, 15%, 60%, 100%);
    --kbq-button-toggle-item-states-selected-hover-background: hsla(229, 15%, 50%, 8%);
    --kbq-button-toggle-item-states-selected-hover-text: hsla(229, 15%, 15%, 100%);
    --kbq-button-toggle-item-states-selected-hover-icon: hsla(229, 15%, 60%, 100%);
    --kbq-button-toggle-item-states-selected-active-background: hsla(229, 15%, 50%, 16%);
    --kbq-button-toggle-item-states-selected-active-text: hsla(229, 15%, 15%, 100%);
    --kbq-button-toggle-item-states-selected-active-icon: hsla(229, 15%, 60%, 100%);
    --kbq-button-toggle-item-states-selected-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-button-toggle-item-states-selected-disabled-text: hsla(229, 15%, 15%, 32%);
    --kbq-button-toggle-item-states-selected-disabled-icon: hsla(229, 15%, 15%, 32%);
    --kbq-button-toggle-item-states-disabled-background: none;
    --kbq-button-toggle-item-states-disabled-text: hsla(229, 15%, 15%, 32%);
    --kbq-button-toggle-item-states-disabled-icon: hsla(229, 15%, 15%, 32%);
    --kbq-button-toggle-item-states-focused-outline: hsla(216, 100%, 60%, 100%);
}

:where(.kbq-dark, .theme-dark, .kbq-theme-dark) {
    --kbq-button-toggle-container-background: hsla(229, 15%, 25%, 100%);
    --kbq-button-toggle-item-default-background: hsla(229, 15%, 25%, 100%);
    --kbq-button-toggle-item-default-text: hsla(229, 15%, 80%, 100%);
    --kbq-button-toggle-item-default-icon: hsla(229, 15%, 45%, 100%);
    --kbq-button-toggle-item-states-hover-background: hsla(229, 15%, 25%, 100%);
    --kbq-button-toggle-item-states-hover-text: hsla(229, 15%, 80%, 100%);
    --kbq-button-toggle-item-states-hover-icon: hsla(229, 15%, 45%, 100%);
    --kbq-button-toggle-item-states-active-background: hsla(229, 15%, 27%, 100%);
    --kbq-button-toggle-item-states-active-text: hsla(229, 15%, 80%, 100%);
    --kbq-button-toggle-item-states-active-icon: hsla(229, 15%, 45%, 100%);
    --kbq-button-toggle-item-states-selected-background: hsla(229, 15%, 15%, 100%);
    --kbq-button-toggle-item-states-selected-text: hsla(229, 15%, 80%, 100%);
    --kbq-button-toggle-item-states-selected-icon: hsla(229, 15%, 45%, 100%);
    --kbq-button-toggle-item-states-selected-hover-background: hsla(229, 15%, 50%, 16%);
    --kbq-button-toggle-item-states-selected-hover-text: hsla(229, 15%, 80%, 100%);
    --kbq-button-toggle-item-states-selected-hover-icon: hsla(229, 15%, 45%, 100%);
    --kbq-button-toggle-item-states-selected-active-background: hsla(229, 100%, 85%, 15%);
    --kbq-button-toggle-item-states-selected-active-text: hsla(229, 15%, 80%, 100%);
    --kbq-button-toggle-item-states-selected-active-icon: hsla(229, 15%, 45%, 100%);
    --kbq-button-toggle-item-states-selected-disabled-background: hsla(229, 15%, 50%, 16%);
    --kbq-button-toggle-item-states-selected-disabled-text: hsla(229, 15%, 40%, 100%);
    --kbq-button-toggle-item-states-selected-disabled-icon: hsla(229, 15%, 30%, 100%);
    --kbq-button-toggle-item-states-disabled-background: none;
    --kbq-button-toggle-item-states-disabled-text: hsla(229, 15%, 40%, 100%);
    --kbq-button-toggle-item-states-disabled-icon: hsla(229, 15%, 30%, 100%);
    --kbq-button-toggle-item-states-focused-outline: hsla(216, 100%, 60%, 100%);
}
