.kbq-button-toggle-group {
    --kbq-button-toggle-size-container-border-radius: var(--kbq-size-border-radius);
    --kbq-button-toggle-size-container-padding-horizontal: var(--kbq-size-xxs);
    --kbq-button-toggle-size-container-padding-vertical: var(--kbq-size-xxs);
    --kbq-button-toggle-size-container-content-gap-horizontal: var(--kbq-size-xxs);
    --kbq-button-toggle-size-item-height: 22px;
    --kbq-button-toggle-size-item-border-radius: var(--kbq-size-xxs);
    --kbq-button-toggle-size-item-padding-horizontal: var(--kbq-size-s);
    --kbq-button-toggle-size-item-padding-vertical: var(--kbq-size-3xs);
    --kbq-button-toggle-size-item-content-gap-horizontal: var(--kbq-size-xxs);
    --kbq-button-toggle-size-item-focus-outline-width: var(--kbq-size-3xs);
    /* THEME TOKENS */
    --kbq-button-toggle-container-background: var(--kbq-background-contrast-fade);
    --kbq-button-toggle-item-default-background: var(--kbq-background-contrast-fade);
    --kbq-button-toggle-item-default-text: var(--kbq-foreground-contrast);
    --kbq-button-toggle-item-default-icon: var(--kbq-icon-contrast-fade);
    --kbq-button-toggle-item-states-hover-background: var(--kbq-states-background-contrast-fade-hover);
    --kbq-button-toggle-item-states-hover-text: var(--kbq-foreground-contrast);
    --kbq-button-toggle-item-states-hover-icon: var(--kbq-icon-contrast-fade);
    --kbq-button-toggle-item-states-active-background: var(--kbq-states-background-contrast-fade-active);
    --kbq-button-toggle-item-states-active-text: var(--kbq-foreground-contrast);
    --kbq-button-toggle-item-states-active-icon: var(--kbq-icon-contrast-fade);
    --kbq-button-toggle-item-states-selected-background: var(--kbq-background-card);
    --kbq-button-toggle-item-states-selected-text: var(--kbq-foreground-contrast);
    --kbq-button-toggle-item-states-selected-icon: var(--kbq-icon-contrast-fade);
    --kbq-button-toggle-item-states-selected-active-background: var(--kbq-states-background-transparent-active);
    --kbq-button-toggle-item-states-selected-active-text: var(--kbq-foreground-contrast);
    --kbq-button-toggle-item-states-selected-active-icon: var(--kbq-icon-contrast-fade);
    --kbq-button-toggle-item-states-selected-disabled-background: var(--kbq-states-background-disabled);
    --kbq-button-toggle-item-states-selected-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-button-toggle-item-states-selected-disabled-icon: var(--kbq-states-icon-disabled);
    --kbq-button-toggle-item-states-disabled-background: none;
    --kbq-button-toggle-item-states-disabled-text: var(--kbq-states-foreground-disabled);
    --kbq-button-toggle-item-states-disabled-icon: var(--kbq-states-icon-disabled);
    --kbq-button-toggle-item-states-focused-outline: var(--kbq-states-line-focus-theme);
}
