.dev-container {
    max-width: 400px;

    border: 1px solid red;

    padding: 24px;

    display: flex;
    flex-direction: column;

    margin-bottom: 24px;

    &.dev-container-responsive {
        max-width: 50%;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.dev-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
}

.dev-child {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dev-vertical-overflown {
    width: 200px;

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
}

.dev-text-with-tooltip {
    max-width: 150px;

    & .kbq-button-wrapper {
        max-width: 100%;

        display: block !important;
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
