@use '../main';

.common-container {
    padding-left: 16px;
    padding-right: 16px;
}

.light-text-secondary {
    color: #ccc;
}

.row-border {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}
