.dev-container {
    padding-left: 16px;
    padding-right: 16px;
}

.dev-light-text-secondary {
    color: #ccc;
}

.dev-row-border {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.dev-p-fixed {
    position: fixed;
    background: #b3b3b3;
    border-radius: 4px;
}
