name: API

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/workflows/actions/setup-node
      - uses: ./.github/workflows/actions/build-packages
      - run: yarn run check-api
