name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions: read-all

jobs:
  general_checks:
    name: General Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Yarn
        uses: ./.github/workflows/actions/setup-yarn

      - name: Build packages
        uses: ./.github/workflows/actions/build-packages

      - name: Commitlint
        if: ${{ github.event_name == 'pull_request' }}
        id: commitlint
        continue-on-error: true
        run: echo "${{ github.event.pull_request.title }}" | yarn commitlint

      - name: API Golden Checks
        id: golden_checks
        run: yarn run check-api

      - name: Linters
        id: linters
        if: ${{ !cancelled() }}
        run: |
          yarn run cspell --no-progress
          yarn run prettier
          yarn run stylelint --max-warnings=0
          yarn run eslint --max-warnings=0

      - name: Unit
        id: units
        if: ${{ !cancelled() }}
        run: |
          yarn run unit:cdk
          yarn run unit:components
          yarn run unit:angular-moment-adapter
          yarn run unit:angular-luxon-adapter
          yarn run unit:schematics
          yarn run unit:koobiq-docs
          yarn run unit:api-gen
          yarn run unit:components-experimental

      - name: License validation
        run: yarn run validate:license
        if: ${{ !cancelled() }}
