name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions: read-all

jobs:
  general_checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Yarn
        uses: ./.github/workflows/actions/setup-yarn

      - name: Build packages
        uses: ./.github/workflows/actions/build-packages

      - name: API Golden Checks
        run: yarn run check-api

      - name: Linters
        run: |
          yarn run cspell --no-progress
          yarn run prettier
          yarn run stylelint
          yarn run eslint --max-warnings=0

      - name: Unit
        run: |
          yarn run unit:cdk
          yarn run unit:components
          yarn run unit:angular-moment-adapter
          yarn run unit:angular-luxon-adapter
          yarn run unit:schematics

      - name: License validation
        run: yarn run validate:license
