name: Commitlint

on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: ./.github/workflows/actions/setup-node
      - run: echo "${{ github.event.pull_request.title }}" | yarn commitlint --verbose
