name: Deploy Stable Docs

on:
  push:
    tags:
      - 19.*.*
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'koobiq' }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: ./.github/workflows/actions/setup-node

      - name: Build packages
        uses: ./.github/workflows/actions/build-packages

      - uses: ./.github/workflows/actions/build-docs

      - name: Deploy
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_KOOBIQ }}'
          firebaseToolsVersion: '15.3.1'
          projectId: koobiq
          target: stable
          channelId: live

      - name: Run Algolia DocSearch Crawler
        uses: algolia/algoliasearch-crawler-github-actions@v1.1.13
        id: algolia_docsearch_crawler
        with:
          crawler-user-id: ${{ secrets.ALGOLIA_DOCSEARCH_CRAWLER_USER_ID }}
          crawler-api-key: ${{ secrets.ALGOLIA_DOCSEARCH_CRAWLER_API_KEY }}
          algolia-app-id: 7N2W9AKEM6
          algolia-api-key: ${{ secrets.ALGOLIA_DOCSEARCH_API_KEY }}
          site-url: 'https://koobiq.io'
          crawler-name: 'koobiq'
