name: Deploy Stable Docs to v17

on:
  push:
    tags:
      - 17.*.*
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'koobiq' }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Yarn
        uses: ./.github/workflows/actions/setup-yarn

      - name: Build packages
        uses: ./.github/workflows/actions/build-packages

      - uses: ./.github/workflows/actions/build-docs

      - name: Deploy
        run: npx firebase deploy --only hosting:v17 --token=${{ secrets.FIREBASE_DEPLOY_TOKEN }}
