.badge-list-example__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 10px;
}

.badge-list-example__list_vertical {
    flex-direction: column;
    align-items: flex-start;
}

.badge-list-example__label {
    color: var(--kbq-foreground-contrast-secondary);
}

.badge-list-example__label_vertical {
    margin-top: 16px;
}
