.tabs-actionbar-example {
    display: flex;
}

.tabs-actionbar-example .tabs-actionbar-example_nav {
    overflow: hidden;
}

.tabs-actionbar-example .tabs-actionbar-example_controls {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid var(--kbq-line-contrast-less);
}

.tabs-actionbar-example .tabs-actionbar-example_controls button + button {
    margin-left: 8px;
}
